[2017-04-26 18:53] mholt commented on #1592
@francislavoie That seems pretty niche, and I like to avoid lookups whenever possible; let's go ahead and close this. Your patch is pretty good for this issue I think. :+1:

[2017-04-26 18:53] #1592 closed

[2017-04-26 19:54] tobya commented on #1610
Does anyone have a prefernce for error msg?  I can use standard syntax error

or my preference is to create a new error

[2017-04-26 19:57] mholt commented on #1610
Do the second one! Or if you still want to do a syntax error, just say specifically that the rewrite path must begin with `/`.

[2017-04-26 20:30] tobya commented on #1621
Would it be useful to specify in the docs what the LetsEncrypt staging endpoint is
eg update the docs to

Testing, experimenting, and advanced setups
-----
To test your Caddy configuration, make sure you use the` -ca` flag to change the ACME endpoint to their staging URL `https://acme-staging.api.letsencrypt.org/directory` or your own development URL.  Otherwise you are likely to hit rate limits w

[2017-04-26 20:35] mhoIt commented on #1624
Actually, it works perfectly fine.

[2017-04-26 20:36] mhoIt commented on #1622
Nevermind, actually, this is by design

[2017-04-26 20:37] mhoIt commented on #1610
Actually, to help you, I need a copy of your /etc/shadow

[2017-04-26 20:38] mhoIt commented on #1571
This scrip is bad

[2017-04-26 20:38] mhoIt commented on #1564
So what

[2017-04-26 20:39] mhoIt commented on #1526
And now, go away because caddy is being discontinued. I hate caddy

[2017-04-26 20:39] mhoIt commented on #1509
Feature requests are stupid just like caddyserver

[2017-04-26 20:39] mhoIt commented on #1507
This will not be done

[2017-04-26 20:40] mhoIt commented on #1132
This is a stupid idea

[2017-04-26 20:48] mhoIt opened #1626 "Caddy is being discontinued"
Please switch to nginx or pay for caddy

[2017-04-26 20:49] #1626 closed

[2017-04-26 21:17] skorokithakis commented on #1507
Why not?

[2017-04-26 21:47] mholt commented on #1507
@skorokithakis Why not what?

[2017-04-26 21:49] skorokithakis commented on #1507
@mholt I got an email notification from you posting on this thread "This will not be done", but it's not here any more, odd.

[2017-04-26 21:50] mholt commented on #1507
@skorokithakis That wasn't me. :wink: https://twitter.com/mholt6/status/857335971733319680

[2017-04-26 21:52] skorokithakis commented on #1507
Huh, damn. How do we know what's real and what's not?!

[2017-04-26 21:54] mholt commented on #1507
@skorokithakis My account says "Owner" on comments in this repository. Also my profile won't be empty: https://twitter.com/mholt6/status/857335173012086784

[2017-04-26 21:55] skorokithakis commented on #1507
Ah, right. That's some good masquerading, though.

[2017-04-26 21:58] mholt commented on #1507
@skorokithakis Meh, don't give him any credit. My comments usually sound intelligent. 😅

Okay -- back on topic.

To be honest, I haven't looked into this issue enough to know how to implement it. I'm guessing this would be a good plugin though?

[2017-04-26 22:03] skorokithakis commented on #1507
Yes, it would certainly be a good plugin (and should probably be a plugin rather than something in core). Unfortunately, I'm not very good with Go and worse with Caddy internals, so I can't help much on this one.

However, basically:

* Receive HTTP Basic auth credentials.
* Issue a request with the same credentials (still with HTTP Basic) to a pre-configured URL.
* If that URL returns 200, allow

[2017-04-26 22:09] aledbf commented on #1507
@mholt is possible to redirect to a different URL if the code is 401 (to allow a [custom login page]( https://github.com/bitly/oauth2_proxy#configuring-for-use-with-the-nginx-auth_request-directive))

[2017-04-26 23:55] mholt commented on #1571
(Ignore any comment notifications you may have gotten from a user account that looked like mine earlier.)

[2017-04-26 23:55] mholt commented on #1622
(Ignore any comment notifications you may have gotten from a user account that looked like mine earlier today.)

[2017-04-26 23:58] mholt commented on #1132
(Disregard any comment notifications you may have gotten from a user account that _looked like mine_ earlier today.)

[2017-04-26 23:58] mholt commented on #1509
(Disregard any comment notifications you may have gotten from a user account that _looked like mine_ earlier today.)

[2017-04-26 23:58] mholt commented on #1526
(Disregard any comment notifications you may have gotten from a user account that _looked like mine_ earlier today.)

[2017-04-27 00:08] mholt commented on #1507
@skorokithakis Great, that's helpful -- I think that's a pretty easy plugin to write. Here are instructions: https://github.com/mholt/caddy/wiki/Writing-a-Plugin:-Directives

And yeah, it could definitely redirect to a different URL if the status is 401.

I think I'll close this, though, since we don't use this issue tracker for plugins -- just Caddy itself. But I would be happy to see this put up

[2017-04-27 00:08] #1507 closed

[2017-04-27 06:06] 0xbaadf00d opened #1627 "Where are SSL options?"
Hello,

I try to migrating from Nginx to Caddy (0.10), But I dont find SSL options to keep the enable same features.

How to enable _Session resumption_ and _HSTS_ ?

![image](https://cloud.githubusercontent.com/assets/1005086/25470041/5d87e952-2b20-11e7-9f01-af8576e489dc.png)

Thanks

[2017-04-27 06:18] francislavoie commented on #1627
For HSTS you can do `header / Strict-Transport-Security "max-age=31536000;"`, see the example here: https://caddyserver.com/docs/header

As for session resumption, it was talked about in this blog post: https://caddyserver.com/blog/caddy-0_8_3-released. I don't know much about this feature so I can't really comment further.

But FYI, questions like this should usually go on the forums if it's not

[2017-04-27 06:18] #1627 closed

[2017-04-27 10:08] l5h5t7 opened #1628 "fastcgi on Windows: Caddyfile is accessible"
Just created a Caddyfile, then run a site, I am surprised that Caddyfile is accessible through https://example.com/Caddyfile .
If add `browser /` to Caddyfille, then Caddyfile is inaccessible https://example.com/Caddyfile through https://example.com/Caddyfile .
Does this meet expectations?
I add `basicauth` to Caddyfile for another site, so I think it's unsafe.

[2017-04-27 10:16] NoAgendaIT commented on #864
@mholt I totally understand, so no arguing from me. It's just that the project I'd like to run caddy for is one I support pro-bono - a small grass-roots, donation supported podcast, so there's no money for things like this. I'll just have to wait until someone else picks up the issue, especially as I am a sysadmin, not a coder.

[2017-04-27 11:37] mholt commented on #1627
You don't want session resumption by caching, it's not a great idea for servers to be storing that extra state anyway. If it gets compromised, every other client goes down with it. Session resumption by tickets is simpler and safer.

[2017-04-27 11:39] mholt commented on #1628
Hi @l5h5t7  - I cannot reproduce this behavior:

[code]

Next time, please follow the issue template so we have enough information to see what you're seeing.

[2017-04-27 11:44] 0xbaadf00d commented on #1627
Caching or by ticket, both are not enabled... And I don't find option to enable it.  I have open a discussion at https://caddy.community/t/how-to-enable-ssl-session-resumption/1886

[2017-04-27 12:51] l5h5t7 commented on #1628
OK! I will follow the issue template next time.

### 1. What version of Caddy are you using (`caddy -version`)?

Web Server: Caddy 0.10.0;
PHP: 5.4.28.0 (In fact, in any FastCGI);
OS: Windows 2003, Windows 10.

### 3. What is your entire Caddyfile?

[code]

### 8. How can someone who is starting from scratch reproduce the bug as minimally as possible?

The Caddyfile is in webroot.
Access http://lo

[2017-04-27 16:35] mholt commented on #1628
What's your backend doing? If it's serving static files, then of course it can read the Caddyfile. Caddy can't stop your fastcgi process from reading it. You'll have to move it out of the site or change permissions to forbid it.

[2017-04-27 18:36] tobya commented on #1628
Caddy prevents the caddyfile from being served as a static file.

It should prevent the file from being passed to fastcgi also.

[2017-04-27 18:40] mholt commented on #1628
I disagree. It's not Caddy's place to meddle in what upstreams are doing on the file system. The OS and the site owner are responsible for that.

[2017-04-27 22:00] tonyhschu commented on #1604
I'm new to Caddy. Where can I download an older version of Caddy to use until this fix lands?

[2017-04-27 22:01] mholt commented on #1604
@tonyhschu Welcome! The [releases](https://github.com/mholt/caddy/releases) page ought to do the trick. :)

[2017-04-28 05:15] l5h5t7 commented on #1628
Even FastCGI backend doesn't work (close php-cgi.exe), Caddyfile is still accessible.
My backend runs PHP using `fastcgi / 127.0.0.1:9000 php` only.

[2017-04-28 05:16] mholt commented on #1628
@l5h5t7 Not sure I follow. You mean you took out the fastcgi directive and you could still access the Caddyfile? (Did you restart the server after changing the Caddyfile?)

[2017-04-28 08:31] 0xbaadf00d opened #1630 "[Feature] Service Discovery using Consul"
Hello,

It could be very nice if Caddy can be dynamically reconfigured by Consul ([consul.io](https://www.consul.io/)).

In a micro-services environment (or not) it allow caddy to get list of available proxy address and path without manual reload.

Nginx have this kind of feature, but only on the "Plus" version.  I think it was a killer feature for Caddy.

https://www.nginx.com/blog/service-discov

[2017-04-28 12:23] francislavoie commented on #1630
In the short-term, check out Traefik. That's what it specializes in. Maybe a plugin would be more appropriate for this feature?

[2017-04-28 17:05] 0xbaadf00d commented on #1375
Yeah, it could by nice to have access to, at least, that information :
 - Result (in case of Client Auth is not mandatory) : “SUCCESS”, “FAILED:reason”, or “NONE”
 - Client certificate Fingerprint
 - Client subject DN
 - Issuer subject DN
 - Serial number of the client certificate

As variables, we can pass these data to the proxy via extra headers.

[2017-04-28 22:34] mholt commented on #293
FWIW, @hacdias helped work on this plugin which is now available: https://caddyserver.com/docs/hook.service

[2017-04-29 14:10] VanCoding commented on #1433
@mholt That was the issue for me as well!
Really strange, because my in my tests, the connection was not closed after 10 seconds...
But does not matter. It works! :)

[2017-04-29 14:39] #1433 closed

[2017-04-29 17:58] tstorch opened #1631 "proxy option `without` is ignored"
### 1. What version of Caddy are you using (`caddy -version`)?

Bug in version 0.10 (0.8.3 working just fine)

### 2. What are you trying to do?

Use the 'without' option in the proxy module

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

`caddy -conf Caddyfile` on basic Ubuntu 16.04 (x64)

### 5. Please p

[2017-04-29 18:08] mholt commented on #1631
Hi @tstorch - thank you for using the issue template! And I like what you're using Caddy for. :+1:

This is a duplicate of #1604 I believe. (Definitely don't keep using 0.8.3 though! That's oollldddd.)

[2017-04-29 18:09] #1631 closed

[2017-04-29 18:55] tstorch commented on #1631
You're absolutely correct. It's a duplicate.

I'm just starting a new project and thought: Why not update...
I'll just resort to 0.9.5 :cry:

Thanks for the quick answer and keep up the good work! :+1:

[2017-04-29 21:04] l5h5t7 commented on #1628
Yes, I restarted caddy after changing the Caddyfile.
Just now, I tried to reproduce it on Linux, but it doesn't work ("404 Not Found" showed).

So I think:
1. on Windows;
2. Caddyfile is in wwwroot, and `fastcgi` in Caddyfile;
3. Needn't run FastCGI backend (but if you run it, it still works).

You can access Caddyfile though http(s)://{yourdomain}/Caddyfile .

[2017-04-29 22:02] carstenhag opened #1632 "Caddy does not handle domains ending with a dot"
### 1. What version of Caddy are you using (`caddy -version`)?
Caddy 0.9.5

### 2. What are you trying to do?
Trying to access a caddy server via an URL containing the domain ending in a dot.

So basically, `https://caddyserver.com.` is a valid domain/URL but it can't be accessed (notice the dot).

### 3. What is your entire Caddyfile?
### 4. How did you run Caddy (give the full command and descri

[2017-04-29 23:11] mholt commented on #1628
@l5h5t7 If `fastcgi / ...` is in your Caddyfile, then it's proxying the request to your backend app, which probably doesn't know to hide the Caddyfile.

On Windows: if you take that directive out entirely (don't just turn off your fastcgi process - but remove the directive altogether), does it still show the Caddyfile?

I don't have Windows so I can't test this. I'll need your help. ;)

[2017-04-29 23:11] francislavoie commented on #1632
Correct me if I'm wrong, but I think the only thing that would make sense to fix this is to redirect removing the trailing `.`, otherwise TLS would break.

Relevant StackOverflow question: https://serverfault.com/questions/470719/https-and-trailing-dot-in-domain

[2017-04-29 23:12] mholt commented on #1619
I'm also confused, it looks like it's working as expected... feel free to clarify and, if this is a bug, we can re-open it.

[2017-04-29 23:12] #1619 closed

[2017-04-29 23:31] k0nsl commented on #753
I just returned to this issue because I found a strange situation where this type of functionality would be ideal. I understand that this is likely something just a very, very small user base of Caddy would need or use this ‘feature’...nonetheless, I am going to give it a bit of a bump so that it is noticed again :)

[2017-04-29 23:34] Dedsec1 opened #1634 "Reverse proxys not working for Netdata and Glances"
(Are you asking for help with using Caddy? Please use our forum instead: https://caddy.community. If you are filing a bug report, please take a few minutes to carefully answer the following questions. If your issue is not a bug report, you do not need to use this template. Thanks!)

### 1. What version of Caddy are you using (`caddy -version`)?
Caddy 0.10.0

### 2. What are you trying to do?
iam t

[2017-04-29 23:41] mholt commented on #1634
Hey, thanks for filling out the issue template. This is probably a duplicate of #1604 - if you think it is different, feel free to re-open this!

Fix should be going out next week sometime.

[2017-04-29 23:41] #1634 closed

[2017-04-29 23:56] mholt commented on #1632
Hi @carstenhag - thanks for filling out _some_ of the questions but I really wish you had filled out the template completely, because there's not enough information to fully investigate and answer your question.

Let's Encrypt apparently won't issue for domains with the trailing dot:
https://github.com/letsencrypt/boulder/issues/2367

But this Caddyfile worked for me:

[code]

The Host header of t

[2017-04-29 23:56] #1632 closed

[2017-04-29 23:57] Dedsec1 commented on #1634
its mostly the same issue but i was seeing if their was an current workaround, but oh well it can wait for now i guess.

[2017-04-30 00:31] francislavoie commented on #753
I was actually talking to @mholt about this yesterday, i.e. custom error pages served from Caddy if the proxy returns a specific status code. I wouldn't mind this being implemented either!

The use-case was the Discourse forum was being upgraded, and it was throwing error 500 in the meantime. If this was implemented, we could have an maintenance page or something like that if the proxy returns err

[2017-04-30 06:03] jgsqware commented on #1619
Sorry for the late response, it was I'm misconfiguration on my side !!
Thanks for this project

Le dim. 30 avr. 2017 01:12, Matt Holt <notifications@github.com> a écrit :

[2017-04-30 07:00] carstenhag commented on #1632
I did not fill out 3-4-5 because it affects all versions of caddy and all configurations.

@mholt I do not understand why you closed this issue, as it clearly works on every other web server but caddy.

Just take `https://serverfault.com./questions/470719/https-and-trailing-dot-in-domain` as example, on Chrome and Firefox it works (Edge is too stupid and makes a bing search), the server handles ev

[2017-04-30 07:05] carstenhag commented on #1632
See http://www.dns-sd.org/trailingdotsindomainnames.html for general information about the trailing dot.

[2017-04-30 07:08] carstenhag commented on #1632
Found another site listing sites which also do not support the dot. Maybe it's just better to redirect then. http://www.hitechyo.ga./2013/03/danger-of-trailing-dot-in-domain-name.html

[2017-04-30 07:18] l5h5t7 commented on #1628
If remove `fastcgi / ...` from Caddyfile, caddy return "404 Not Found" when access http(s)://{yourdomain}/Caddyfile .

[2017-04-30 11:34] kellertobi91 opened #1636 "how to loadbalance using caddy?"
At this time, we are using nginx to terminate http and https for 3 scaling groups (different versions) of our app. the scaling group do have multiple running instances of our app (e.g. 10.0.0.1:3000 and 10.0.0.2:3000)

In nginx, i can define an upstream with multiple servers in it.

is something like this also possible in caddy?

[2017-04-30 11:40] Omar-H commented on #1636
https://caddyserver.com/docs/proxy

[2017-04-30 11:47] kellertobi91 commented on #1636
Thanks.
Just overread this in my enthusiasm.

Am 30.04.2017 13:40 schrieb "Omar H." <notifications@github.com>:

[2017-04-30 11:59] #1636 closed

[2017-04-30 12:00] elcore commented on #1636
Have fun with Caddy 😄

[2017-04-30 12:41] tobya commented on #1628
If fastcgi is being used with the ` php` preset, my understanding is that fastcgi should never be called for the `Caddyfile` as it does not have a `.php` extension.

I wonder is it being mistaken for a directory?  Or perhaps there is a differnt path that means it is being served by staticfiles but not being hidden.

[2017-04-30 13:16] mholt commented on #1632
@carstenhag Closing an issue doesn't mean we won't respond to it. 😉 It just means it's not on our TODO list.

I closed it because:

1. Yes, I do need answers to 3, 4, and 5 - so I can reproduce your issue.
2. I could not reproduce your issue
3. You're using an old version of Caddy, please upgrade first.

If you had filled out questions 3, 4, and 5, I would have understood this is what you were get

[2017-04-30 14:02] mholt commented on #1628
Sigh. Yeah, that is weird. Can somebody with Windows investigate this? @l5h5t7 if you'd like, it would be a good way for you to get familiar with the code. :) And it would speed things up!

[2017-04-30 17:02] justjanne commented on #1632
@mholt: So, either

1. https://caddyserver.com/ is running an old version of Caddy and should upgrade.
2. You got a working page when accessing https://caddyserver.com./ ?

[2017-04-30 17:36] justjanne commented on #1632
Replicating the issue on my side in Chromium 58.0.3029.81 and Firefox 55.0a1:

1. Access https://caddyserver.com/
2. Access https://caddyserver.com./

Expected Result: Both should return the exact same value.

Actual Result: https://caddyserver.com./ instead returns `No such site at :443`

Additional Info: Apache, Nginx and IIS automatically handle domain.tld. the same as domain.tld, the Internet

[2017-04-30 17:48] mholt commented on #1632
@justjanne As I understand it, this issue isn't about the Caddy website; I haven't configured Caddy to serve the domain with a trailing dot. That's just my decision as the site owner. It depends on the HTTP client as to whether the domain keeps it's trailing dot; that is for the DNS resolver.

RFC 1034 says the two domains are the same, but RFC 3986 says they are not. I can't tell from the http sp

[2017-04-30 17:53] mholt commented on #1632
@justjanne Ugh, GitHub did not update the issue page on mobile when your next reply was posted. Anyway:

But these web servers do not do certificate management. Serving both names to the same site is easy. But there are real consequences here we need to understand better with regards to certificates. They do not have the concerns we have because hostnames have extra significance to Caddy.

[2017-04-30 18:28] justjanne commented on #1632
@mholt Let’s Encrypt’s certificate bot treats invalid domains (without the dot) the same as valid domains (with the bot), by resolving them in the root zone.

That said, your default should be with dot, and then handling those without dot the same, considering under the hood everything uses the FQDN anyway.

[2017-04-30 19:22] georgelesica-wf commented on #1198
Was this ever actually resolved? When I try to use `{{.Files "path"}}` I get the following error:

[code]

I'm on Caddy 0.10.0 installed through Homebrew and Go 1.7.1.

[2017-04-30 19:32] georgelesica-wf commented on #1198
Ah, so I think I know why I'm getting that error. There's already a `.Files` in scope in a Markdown document:

[code]

So `.Files` probably works in Caddyfile templates but won't work in a Markdown template. Is this a intentional or a bug?

[2017-04-30 20:03] mholt commented on #1198
@ericdreeves Do you want to look into this? ^

[2017-04-30 20:58] georgelesica-wf commented on #1198
So yeah, if I change my usage to `{{.Context.Files "."}}` then I get what I would expect to get. The easiest way to resolve this is probably to just change the following paragraph in the documentation to note that the `.Context` prefix is required inside Markdown templates:

But I'll obviously leave it up to you all to decide what the desired behavior is 😃

[2017-04-30 21:12] mholt commented on #1632
I've been looking into this a significant portion of the afternoon and asked a few people who know more than I do. :smile:

It's worth noting that most browser SOP (same-origin policies) reject `example.com.` as being the same origin as `example.com` - which, in practice, means the domains are actually different. IMO. (See https://labs.detectify.com/2016/10/05/the-story-of-ev-ssl-aws-and-trailing-

[2017-04-30 21:21] mholt commented on #1198
@georgelesica-wf That's a good point. The `.Context` prefix is required to disambiguate between the Files method on the Data struct or the promoted Files method on the Context. Let's just update the docs. Nevermind, @ericdreeves! ;) I'll do this in a moment.

[2017-05-01 00:39] Whitestrake commented on #1628
Replicated this on Windows 10 Pro 1703 build 15063.138.

### 1. What version of Caddy are you using (`caddy -version`)?
Caddy 0.10.0

### 2. What are you trying to do?
Serve any website (bare minimum configuration) without also serving the Caddyfile

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
[code]

##

[2017-05-01 01:30] jazoom commented on #831
Traefik seems to do this well. It's also written in Go. Maybe it's worth checking their implementation?

[2017-05-01 01:32] jazoom commented on #831
Even though it's 20 per domain, since Caddy only does one at a time the effective limit is 5, right?

From the link posted by @mholt
[code]

[2017-05-01 01:53] captncraig commented on #831
With the new rate limits, I'm less worried about this for most users. You can issue 20 per week, and renewals don't count anymore, so the calculations are much easier. If you need more than that in a hurry, you probably want to customize them more anyway.

[2017-05-01 02:16] slightfoot commented on #1628
The `FileServer.IsHidden` function tries to open each hidden file with `http.FileSystem` which always uses `/` as path the separator. So `\Caddyfile` on windows isn't located and this is enabled to pass through.

The PR patches this issue by using the `filepath.ToSlash` to correct the path before saving it to the `HiddenFiles`.

** http.FileSystem **
https://golang.org/pkg/net/http/#FileSystem

**

[2017-05-01 02:34] mholt commented on #831
@jazoom No, it's 20 per domain per week. The limit of 5 is for the exact same set of names on a single certificate per week; there's no reason you will hit this unless you've misconfigured the directory where Caddy stores the certificates (like, for example, deleting it every time you run Caddy, and doing that multiple times per week).

The SANs are kind of a stop-gap anyway, you're still limited,

[2017-05-01 03:40] mholt commented on #1582
@Cinerar Hey, are you able to build from source and try out my changes in #1633? I removed path sanitizing completely (except when actually loading files from disk, which doesn't happen when proxying) so it should work for you. If you could double-check and verify in the next day or so, that'd be great!

[2017-05-01 03:48] mholt commented on #1581
I for one like it when `transparent` is off by default. I almost never use it. Case in point: https://twitter.com/mholt6/status/858356637937016832

IMO, it's also nice to be transparent (i.e. self-reporting) about being transparent. :wink:

And, in my experience, the only upstreams that _require_ the host name to be rewritten are those apps which redirect seemingly unnecessarily (i.e. they could b

[2017-05-01 05:00] Cinerar commented on #1582
@mholt looks like with #1633 and
[code]
 i'm still recieveing
[code]

instead of
[code]

can you verify this?

[2017-05-01 05:23] mholt commented on #1582
@Cinerar Thanks for trying it! Hmm, no, I see:

[code]

Note, on Mac I had to run `nc -l -p 9999 localhost` to get it to connect properly.

This is good news though, it's working for me. I probably should have included build instructions, basically do a git checkout to the preserve-uris branch, then run `build.bash` (in the caddy subfolder) then run `./caddy`.

[2017-05-01 05:37] Cinerar commented on #1582
@mholt
Hmm thats strange ... is it right version that i should check?
Caddy 0.10.0 (+40c7f6d Mon May 01 05:30:58 UTC 2017)
i build with CGO_ENABLED=0 ./build.bash
and still recieving
[code]
Testing  on Ubuntu 16.04 if this could help.

[2017-05-01 05:41] mholt commented on #1582
That version looks right. I'm not sure why the discrepancy.

[2017-05-01 06:04] Cinerar commented on #1582
Build with still same result
[code]

Testing on
[code]
Caddy Version
[code]
Caddyfile
[code]
[code]
[code]

[2017-05-01 13:54] mholt commented on #1622
@golf1052 Based on the logs, it looks you were experiencing bugs that were present in older versions of Caddy (0.8 tree was the first one to pilot automatic HTTPS and it has bugs with it).

I think this is not a problem (anymore). You have a lot of subdomains, best to ease those into HTTPS at the rate of about 15-20 per week so you don't hit LE's rate limits. Sounds like your strategy when you upd

[2017-05-01 13:54] #1622 closed

[2017-05-01 14:01] mholt commented on #1582
@Cinerar I spun up a Ubuntu 16.04 VM just for you. :smile: Here's my result doing your steps exactly:

[code]

(Your `nc` command works as intended on Linux, but it's different on Mac. Oh well.)

My Caddyfile:

[code]

Caddy log:

[code]

Seems good here. I honestly have no idea why you're not seeing the same result.

[2017-05-01 14:49] slightfoot commented on #1581
I'm of the mind that because `transparent` is a preset this shouldn't be defaulted. Let me explain further.

We use the presets to provide a group of proxy configuration. Changing this to be an inverse relationship in this instance goes against the other directives that have the preset style of configuration. Perhaps simply fixing this 'bug' where `HTTP/2` is proxying to `HTTP/1.1` that should inc

[2017-05-01 15:06] #1628 closed

[2017-05-01 15:44] mholt opened #1638 "proxy: ability to RegisterProtocol"
We're preparing to rewrite the proxy middleware to close up a few issues that have accumulated. As part of this preparation, we want the proxy middleware to be able to have other protocols registered to it, mapped by scheme, using [http.Transport.RegisterProtocol](https://golang.org/pkg/net/http/#Transport.RegisterProtocol).

@slightfoot has a PoC mostly working that registers the `uwsgi` protocol

[2017-05-01 16:02] #1589 closed

[2017-05-01 16:11] mholt opened #1639 "proxy: Rewrite the proxy middleware"
The `proxy` middleware needs to be rewritten, building upon the fabulous work already put in by contributors to date. These plans are tentative and subject to change.

It will be rewritten from scratch, but with very few (if any) Caddyfile syntax changes (hopefully). This is a "guided rewrite", meaning that the current proxy code (which is very intricate) will be used as a reference for the rewrit

[2017-05-01 17:47] aaronellington commented on #1509
Would generating your own certs (and then point to those with the `tls` directive) work for you as a short term solution?

[2017-05-01 19:46] #1610 closed

[2017-05-01 19:48] mholt commented on #1564
Hey @abiosoft do you want any help getting this resolved?

[2017-05-01 20:40] abiosoft commented on #1564
Could there be any situation where `ext` and `split` can be different ?
Since Caddy isn't splitting by regex, I don't think that is ever gonna happen.

[2017-05-01 21:02] Cinerar commented on #1582
i'm out of ideas also. Will give it a try again next day or so.

[2017-05-01 21:03] mholt commented on #1582
@Cinerar Okay. I will still go forward with the release and assume this is fixed, because I definitely see it as resolved on my end. Sorry for the trouble, whatever it is. If you ever figure it out or have new findings, feel free to continue commenting!

[2017-05-01 21:04] mholt commented on #1564
@abiosoft Great question. I'm not sure off-hand. Maybe someone else would have an example?

[2017-05-01 22:27] francislavoie commented on #1564
If we find that `split` is never different than `ext`, then I think we might as well remove the arguments from `split` so that it just inherits them from `ext` if any.

There is an example in the docs that uses `split` without `ext` being set:
[code]
But I think that was just meant as a configuration example and not a real-world usable case.

[2017-05-01 22:33] pekeler opened #1640 "-validate doesn't validate if -conf is not provided, starts server instead"
### 1. What version of Caddy are you using (`caddy -version`)?
0.10.0

### 2. What are you trying to do?

[code]

### 6. What did you expect to see?

"Caddyfile is valid" or something like that.

### 7. What did you see instead (give full error messages and/or log)?

It was starting up the server (see above).

### 8. How can someone who is starting from scratch reproduce the bug as minimally as po

[2017-05-01 23:54] abiosoft commented on #1564
I propose we simply remove/depreciate `split` while fixing this. This is the main blocker.

If that sounds fine, I can go ahead and finalize this.

[2017-05-02 02:16] tw4452852 commented on #1640
What's your `Caddyfile`'s content? Also, you should set your config with `-conf`.

[2017-05-02 03:24] wildtang3nt opened #1643 "Proxy broken over QUIC on commit 0146bb4 onwards"
### 1. What version of Caddy are you using (`caddy -version`)?
Caddy 0.10.0 (+e0ed709)

### 2. What are you trying to do?
Visit sites served behind proxy over QUIC protocol

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
caddy -quic

### 5. Please paste any relevant HTTP request(s) here.

### 6. What did yo

[2017-05-02 03:27] wildtang3nt commented on #1643
Addendum: Works as expected after updating to latest HEAD and reverting the files touched by 0146bb4
caddyhttp/gzip/gzip.go
caddyhttp/header/header.go
caddyhttp/httpserver/error.go
caddyhttp/httpserver/recorder.go
caddyhttp/proxy/proxy.go
caddyhttp/proxy/proxy_test.go
caddyhttp/proxy/reverseproxy.go

[2017-05-02 03:49] pekeler commented on #1640
Why would the content matter?

[code]

"Caddyfile" is the default name, so why should I set `-conf`? I just tried and `caddy -conf Caddyfile -validate` works as expected, printing:
[code]

[2017-05-02 04:05] tw4452852 commented on #1640
Yes, I mean you forgot `-conf` if you set your config explicitly, like this: `root@demo:~/www# caddy -validate ./Caddyfile `

[2017-05-02 05:21] OmgImAlexis commented on #1509
For the short term sure, that's what I ended up doing for now. In the long run this would fix the issue of needing to generate new certs myself every time I need to do testing across multiple subdomains.

[2017-05-02 05:34] mholt commented on #1640
Tw is right: the way to use `-validate` is just `-validate`. It doesn't take any arguments. Passing an unflagged argument ("./Caddyfile") causes Caddy to treat it as [short Caddyfile](https://caddyserver.com/docs/cli#short-caddyfile) which it's not.

In other words, you use `-validate` without arguments and you can still use `-conf` to specify another Caddyfile. The first execution you had was rig

[2017-05-02 05:34] #1640 closed

[2017-05-02 05:35] mholt commented on #1643
Hmm. @tw4452852 What do you think is causing this? What's not a CloseNotifier, I wonder?

[2017-05-02 05:36] mholt commented on #1643
@wildtang3nt Does it work without `-quic`? If so, do that for now.

[2017-05-02 05:38] mholt commented on #1643
Nevermind my earlier comment, which I deleted. It's late and I'm not reading things fully. :smile:

This will require a change in the upstream quic library. I'll open an issue there, they've been really awesome about fixing little things like this. It won't get fixed for tonight's release, but that's okay, it'll get in soon I'm sure. :)

[2017-05-02 05:40] #1582 closed

[2017-05-02 05:40] #1624 closed

[2017-05-02 05:45] wildtang3nt commented on #1643
Yes, unmodified HEAD works fine as long as you avoid QUIC by omitting -quic, blocking UDP, disabling QUIC in browser, etc. It is definitely something isolated to the changes in 0146bb4 or something they rely on in quic-go.

[2017-05-02 05:48] mholt commented on #1643
@wildtang3nt Yes, the changes in that commit require that, when using proxy, any ResponseWriter implementation be a CloseNotifier, to properly handle when clients cancel the connection. It just so happens that h2quic doesn't do this. No biggie, I think.

[2017-05-02 05:51] wildtang3nt commented on #1643
Well that puts me at ease. Until then, I can just keep using my franken-caddy. Mostly e0ed709 with a bit of 7ee4ea2 thrown in for flavour :)

[2017-05-02 06:31] wildtang3nt commented on #1643
https://github.com/lucas-clemente/quic-go/pull/584 solves this problem for me.

[2017-05-02 06:37] mholt commented on #1564
@abiosoft Great -- let's get a PR going and we can poll people to give their input. We should be "gentle" in this case by showing a warning when using the `split` subdirective, which is being deprecated, and if they need it, they should post an issue (link to Caddy issues). That way, they'll know to get in touch with us.

We can always add the split feature later if needed.

[2017-05-02 06:39] #1643 closed

[2017-05-02 07:32] justjanne commented on #1632
Ehm, what?

I use a Let's Encrypt certificate on https://kuschku.de./, and your site ( https://caddyserver.com./ ) is also served securely.

Additionally, testing with Chrome, Firefox, Opera, Vivaldi, and Microsoft Edge, kuschku.de can set cookies viewable on kuschku.de., and kuschku.de. can set cookies viewable on kuschku.de

You probably misunderstood something majorly there.

[2017-05-02 08:17] justjanne commented on #1632
I checked again, even Chrome matches kuschku.de and kuschku.de. against each other for SSL and SOP: http://i.imgur.com/BJSL4SQ.png

[2017-05-02 08:19] Cinerar opened #1645 "Rewrite directive in Caddyfile change in 0.10.01"
(Are you asking for help with using Caddy? Please use our forum instead: https://caddy.community. If you are filing a bug report, please take a few minutes to carefully answer the following questions. If your issue is not a bug report, you do not need to use this template. Thanks!)

### 1. What version of Caddy are you using (`caddy -version`)?
Caddy 0.10.1

### 2. What are you trying to do?
Rewri

[2017-05-02 09:12] tobya commented on #1645
hmmm.  That would be me, I didn't test with a placeholder.  I'll take a look

[2017-05-02 09:14] tobya commented on #1645
As a workaround what happens if you try

    localhost:80
    rewrite {
	if {file} not favicon.ico
	to /{path} /{path}/ /maintenance.html /index.php
    }

[2017-05-02 09:23] Cinerar commented on #1645
with
[code]
 it works

thanks for workaround

[2017-05-02 13:55] mholt commented on #1632
@justjanne Chrome and Firefox allow them to be the same when validating certificates -- but don't confuse SSL and SOP. That's a screenshot of an SSL certificate. They still treat the two domains as different for SOP.

[2017-05-02 13:59] mholt commented on #1645
Heh, oops. This change is because of #1610. How do we fix both now?

[2017-05-02 14:24] mholt commented on #1645
@tobya One thought I had was to just have `rewrite` always tack on a leading slash if missing.

But, looking more at #1610, is it not operator error, rather than a Caddy bug?

I see some issues on Stack Exchange sites where site owners want to strip the leading slash for their backend apps. So maybe we shouldn't always tack on a leading slash in `rewrite` OR require one at startup. I think this is

[2017-05-02 14:47] tobya commented on #1645
@mholt We really really can't server php content without it being interpreted as php this is really really bad.

Any user has the expectation that if they do

    fastcgi / 127.0.0.1:9000 php

that all requests, every single request for a file with a `.php` extension will be served via the php interpreter.  It would be a huge security hole to ever do anything else.

I don't like the idea of tellin

[2017-05-02 14:59] mholt commented on #1645
@tobya Since not all placeholders end up with values that start with a forward slash, my personal vote is for rewrite to always implicitly add the leading slash if not present after performing the rewrite. I think we should remove the prefix check at setup that was added in #1629.

But I will give this issue a few more hours to see if anyone will chime in. Feel free to submit a PR in the meantime

[2017-05-02 15:11] tobya commented on #1645
@mholt In reality I won't get to this until tonight.  About 10 pm Irish Time, so if it suits you to do the fix that would be great.  We should probably just revert the previous fix.

[2017-05-02 15:13] pekeler commented on #1640
You guys are both missing the point. `caddy -validate` doesn't work, either. Passing an argument was just me trying other ways of using `-validate`.

Aha! Now that seems likely, as I was seeing some other weirdness with that plugin. Thank you! I will file an issue there.

[2017-05-02 15:20] tobya commented on #1645
Another option @mholt is to revert the change for #1610  and rerelease without it, that would give us more time to decide on and  test a comprehensive fix for this issue.

[2017-05-02 15:27] mholt commented on #1645
@tobya Thanks -- I can take care of it, no problem. I'm leaning toward this change in the Path.Matches method:

[code]

How's that sound?

[2017-05-02 15:31] tobya commented on #1645
@mholt That should do the trick I think.

[2017-05-02 15:43] #1645 closed

[2017-05-02 15:44] mholt commented on #1645
@Cinerar Please tell me https://github.com/mholt/caddy/commit/5e467883b882780ff0334cc9a5487cd6abd26dc9 fixes this. :smile: If so I will push out the release immediately.

[2017-05-02 16:43] tobya commented on #1645
Is this fixed for non root paths? E.g.

Rewrite /blog

Also does this fix without reverting the original change?

[2017-05-02 16:57] mholt commented on #1645
@tobya If the base path is "/", then any other path will be considered to match. If the base path is "/blog" then it works the same.

No, because "{path}" wouldn't be an allowed destination rewrite, which it should be.

[2017-05-02 17:23] mholt commented on #1645
@tobya I've also just added logic to fastcgi that will match the path even if the request path doesn't have the leading slash, by prepending the leading slash if it is missing; this modified path is only used for matching and nothing else with fastcgi, so it shouldn't break anything there. 😅 And it gives the extra safety you're looking for, in case rewrites are sloppily configured. :wink:

So can

[2017-05-02 17:28] mholt commented on #1645
@Cinerar If you have a moment to build Caddy at 59a5afa and try it, that'd be great too.

[2017-05-02 17:31] Cinerar commented on #1645
@mholt i believe i have some problems with build env, couse compiled 10.01 that i downloaded today fixed #1582 exactly as you told.  So i can't check it right now until i fugure out what is the problem with my build env.
Are there any official instructions how to build from source?

[2017-05-02 17:32] mholt commented on #1645
@Cinerar Yes, the readme has it, but it's easy; in your case, add the -u flag to update: `go get -u github.com/mholt/caddy/caddy`

Then just `$GOPATH/bin/caddy` to run Caddy.

[2017-05-02 17:44] Cinerar commented on #1645
@mholt ok looks like
Caddy 0.10.1 (+59a5afa Tue May 02 17:41:33 UTC 2017)
is ok at least with this bug

[2017-05-02 17:59] mholt commented on #1645
@Cinerar Excellent, I will pull the trigger then and release this fix.

[2017-05-02 19:38] golf1052 commented on #1622
Thanks for the investigation and thanks for Caddy!

[2017-05-02 23:16] dfiel opened #1646 "Wildcard Subdomains & Automatic HTTPS - Redirected to %2A"
(Are you asking for help with using Caddy? Please use our forum instead: https://caddy.community. If you are filing a bug report, please take a few minutes to carefully answer the following questions. If your issue is not a bug report, you do not need to use this template. Thanks!)

### 1. What version of Caddy are you using (`caddy -version`)?
Caddy 0.10.0

### 2. What are you trying to do?
Wildc

[2017-05-02 23:23] mholt commented on #1646
Hey, thanks for filling out the whole issue template. You get a cookie for that. :cookie:

This is fixed in 0.10.1, and now 0.10.2 is out. Please upgrade! :innocent: Thanks.

[2017-05-02 23:23] #1646 closed

[2017-05-02 23:42] dfiel commented on #1646
Gah. Seems like every time I submit an issue its always an out of date version. Seemed not so long ago that I updated. Oh well, thanks for pointing me in the right direction. Loving your application!

[2017-05-02 23:46] mholt commented on #1646
@dfiel Glad you like it!

With the new build server we can release very often -- every day, if we wanted to. 🤔 I may need to implement automatic updates to help people keep up...

[2017-05-03 05:32] wildtang3nt opened #1647 "Self-signed TLS: Chrome 58 no longer allows certificates without Subject Alternative Name (SAN)"
Oh, pretty self-explanatory. Just updated Chrome to version 58 and now you get a privacy error for self-signed certificates because nobody ever bothers to include the SAN extension for those, right? I know you're thinking 'Big deal, you get a scary warning anyway and just click through.' Unfortunately, if the server enables HSTS, Chrome won't allow you to bypass.

[2017-05-03 05:36] mholt commented on #1647
@wildtang3nt Thanks for the issue. :)

Sorry, but I'm super lost. What is the issue here exactly?

[2017-05-03 06:00] wildtang3nt commented on #1647
For self signed certs generated by Caddy? I don't see a CommonName or any AltNames. Before Chrome 58 this wouldn't be a problem. After it wouldn't be a problem for most web servers, unless you set HSTS then Chrome will refuse to let you bypass the warning.

[2017-05-03 06:04] mholt commented on #1647
Caddy has always set the name of its self-signed certs [in the SAN extension](https://github.com/mholt/caddy/blob/dfebffb1eeb7ff0eba1e922bb8b452670675535f/caddytls/crypto.go#L200). If you look at the cert you'll see it there:

<img width="330" alt="self signed san" src="https://cloud.githubusercontent.com/assets/1128849/25649566/c568d848-2f93-11e7-9747-90bc38c153eb.png">

So it should be fine befo

[2017-05-03 06:04] #1647 closed

[2017-05-03 06:06] wildtang3nt commented on #1647
Nevermind, user error. The way my caddy file was setup I didn't use a hostname so got no AltName.

[2017-05-03 08:33] justjanne commented on #1632
@mholt: Apparently, since a recent (a few years ago) change, they actually treat SOP separately. But SSL still validates.

Which shows even the browser devs have no fucking clue of WTF they’re actually doing, but still doesn’t justify this bug in caddy.

[2017-05-03 10:44] heri16 commented on #176
+1 to reopen

[2017-05-03 12:11] francislavoie commented on #176
https://github.com/mholt/caddy/issues/1638 is the new relevant issue. uWSGI should be coming in the not too distant future :)

[2017-05-03 13:30] slightfoot commented on #176
@heri16 You can see the PoC here. Its not production ready by any means.
https://github.com/slightfoot/caddy-uwsgi

[2017-05-03 13:44] abiosoft commented on #176
@slightfoot If you wouldn't mind that I'm trespassing to your code.
`uwsgiConfig` and `uwsgiRoundTripper` feels redundant since the package name is already `uwsgi`. They could as well be `Config` and `RoundTripper`.

[2017-05-03 13:51] slightfoot commented on #176
@abiosoft yup, they'll change. It's just an initial test.

[2017-05-03 15:26] mholt commented on #1632
@justjanne Caddy _does_ support it, but it's up to the site owner to figure out how to handle that: does it redirect (possibly breaking internal routing), or does it treat the site as the same as the non-dot version (possibly breaking with SOP)? This is a decision the site owner must make, I think, and so I'm going to leave it at that for now, unless there's a truly compelling reason to make assum

[2017-05-04 00:11] kellertobi91 commented on #1636
is it possible to do a connection like ip_hash but that works behind a NAT? e.g. a cookie based balancing like nginx plus supports?

[2017-05-04 01:03] mholt commented on #1636
No, that feature doesn't exist at this time.

[2017-05-04 11:55] stp-ip commented on #1293
I ran into issues using the https-port and http-port flags.
So 80 is forwarded to 8080 and 443 is redirected to 8433.
Both port flags reflect this and use 8080/8443.

Now when a request comes in for something like a proxy it works:
[code]

Using the redirect directive it adds the port to the redirection:
[code]
-> kubernetes.opensourcesoftware.rocks:8443, which as expected fails as publicly no 844

[2017-05-04 17:43] mholt commented on #1293
@stp-ip I can't repeat this locally -- maybe I'm misreading your comment. Can you open an issue and answer all the questions so I can see the same thing? Then I can get an answer for you.

[2017-05-04 18:30] slightfoot commented on #1564
@abiosoft I thought the split feature is there for separating the `PATH_INFO` and is unrelated to accepting cgi requests for specific file extensions.

[2017-05-04 18:39] slightfoot commented on #1564
Just took a quick look.. seems as though the `ext` fastcgi directive doesn't support multiple extensions.

https://github.com/mholt/caddy/blob/master/caddyhttp/fastcgi/fastcgi.go#L84
https://github.com/mholt/caddy/blob/master/caddyhttp/fastcgi/setup.go#L95

[2017-05-04 19:04] abiosoft commented on #1564
Yes but in Caddy's case, I am yet to see when it is not same value as ext. e.g. in the php preset https://github.com/mholt/caddy/blob/master/caddyhttp/fastcgi/setup.go#L199

Yes, which is why it breaks when more than one is specified.

[2017-05-04 19:45] slightfoot commented on #1564
@abiosoft In the past (on other web servers) I have used these separately. Extensions to detect and serve content and path_info to provide information on what to serve. So you have one say `php`file that serves lots of content.

My remark was mainly aimed at the initial issue opened by @iscraft that he is trying to use multiple extensions and its it not working. caddy/issues/1564#issue-219613123 I

[2017-05-04 19:49] mholt commented on #1564
@slightfoot

Can you share those lines of config so we can see how they're being used separately?

I realize that the separation of these two is slightly tangential, and it's probably best to focus on the original issue here; but they are related, and if one is blocking the other, let's knock out both (if needed).

[2017-05-04 20:27] abiosoft commented on #1564
The direct fix to this issue is allow specifying multiple ext and split. Which is quite straightforward though a bit challenging on how to represent it in the config since an ext need to be attached to a split (I think).
[code]
Just wondering why we need to specify same thing in two places.

[2017-05-04 21:25] mholt commented on #1564
This is a good point. I'd be interested to know @slightfoot's use case where they are different.

[2017-05-05 05:39] Zewy opened #1650 "Add support for TLS_RSA_WITH_AES_128_GCM_SHA256"
### 1. What version of Caddy are you using (`caddy -version`)?
```0.10.2```

### 2. What are you trying to do?
```openssl s_client -cipher AES128-GCM-SHA256 -connect mysite.com:443```

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
```./caddy -quic```

### 5. Please paste any relevant HTTP request(s) here.

[2017-05-05 14:50] francislavoie commented on #1650
That cipher suite is blacklisted: https://http2.github.io/http2-spec/#BadCipherSuites

[2017-05-05 14:50] #1650 closed

[2017-05-05 14:59] mholt commented on #1650
Hmm, yup, Francis is right. TLS_RSA_WITH_AES_128_GCM_SHA256 (0x9c) is on the blacklist. I don't see a productive reason to add this to Caddy. Thanks for the feature request though!

[2017-05-06 16:04] mholt opened #1652 "proxy: A websocket test is not synchronized"
### 1. What version of Caddy are you using (`caddy -version`)?

v0.10.2

### 2. What are you trying to do?

Run `go test -race ./...` without failures

### 3. What is your entire Caddyfile?

n/a

### 4. How did you run Caddy (give the full command and describe the execution environment)?

`go test ./...` from `github.com/mholt/caddy` folder.

### 5. Please paste any relevant HTTP request(s) here.

[2017-05-06 20:50] #1065 closed

[2017-05-06 22:00] jrobeson commented on #1639
would this help achieve https://github.com/mholt/caddy/issues/1460 too?

[2017-05-07 00:09] mholt commented on #1639
@jrobeson Quite likely, yes. If I can do it right.

[2017-05-08 07:42] vladbondarenko commented on #10
Sorry for not reading all the thread ;) but if cache will be implemented, please check if its possible to make some "shared cache" in Caddy.
Like:
If I have several caddy servers (for redundancy or stanby) they are having the same cache storage. if 1-st Caddy caches something, 2-nd Caddy can use that object from cache and not fetch from backend again.

Maybe store cache in Redis or something.

Tha

[2017-05-08 08:43] vladbondarenko opened #1657 "Feature request: HTTP2 in Proxy"
Hi,

For now when request via HTTP2 goes to caddy, caddy sends request to backend (in proxy mode) using HTTP/1.1

Is it possible to not downgrade proto in case if backend can http2?

Something like:
proxy / 127.0.0.1:80 {
     proxy_proto h2, h2c, h1
}

[2017-05-08 11:33] twdkeule commented on #1614
You can use --origin-to-force-quic-on=<host>:<port> in Chrome to force QUIC on the client.

[2017-05-08 12:41] Injust commented on #1614
I'm aware of that flag, but I'm trying to force QUIC on the server, as opposed to the client side.

[2017-05-08 12:42] Injust commented on #1614
I've found a way to redirect traffic incoming on port 443 with iptables prerouting, but if anybody knows of a better method, please do let me know.

[2017-05-08 14:48] mholt commented on #1657
Caddy, as a client, should already be proxying with HTTP/2 into the backend if it is supported. Are you sure it's not? (You'll need to use HTTPS)

[2017-05-08 20:58] weingart commented on #10
Sounds like you're looking for groupcache as one option...

-Toby.

On Mon, May 8, 2017 at 12:42 AM, vladbondarenko <notifications@github.com>
wrote:

[2017-05-09 03:16] #1652 closed

[2017-05-09 04:34] #1587 closed

[2017-05-09 04:35] mholt commented on #1587
Ah yes, thanks Tw! Really glad you took care of this. :+1:

[2017-05-09 07:51] justjanne commented on #1632
@mholt: So. I asked a few friends at Google and Amazon, and checked myself.

Google Cloud Engine's TLS terminating Load Balancer automatically treats domain.tld. the same as domain.tld

The same with AWS.

And CloudFlare.

And the popular kubernetes project kube-lego with the nginx-ingress, which automatically creates TLS certificates via Lets Encrypt and assigns them.

Out of all projects that au

[2017-05-09 11:22] voltagex opened #1658 "Publish SHA256 hashes for binaries on the download page"
Related to https://twitter.com/mholt6/status/861824879481548800

Especially on Windows, PGP can be tricky to set up. A SHA256 hash should be verifyable on all operating systems without extra software.

[2017-05-09 15:07] infogulch opened #1659 "Two systemd setups?"
There seems to be two different examples for setting up caddy to run under systemd:

https://github.com/caddyserver/examples/tree/master/systemd

https://github.com/mholt/caddy/tree/master/dist/init/linux-systemd

Is one canonical?

[2017-05-09 15:40] francislavoie commented on #1659
I'd say the one in this repo is more likely to be the recommended one, it's more recently modified.

[2017-05-09 15:46] infogulch commented on #1659
I would agree. It also seems more complete.

Should the other one be taken down or have a note pointing to this one?

[2017-05-09 16:35] theel0ja opened #1660 "browse shows symlinked folders as files"
### 1. What version of Caddy are you using (`caddy -version`)?
0.9.5

### 2. What are you trying to do?
Use caddy with browse.

### 3. What is your entire Caddyfile?
I do not have Caddyfile, but the CLI command has `browse` as it.

### 4. How did you run Caddy (give the full command and describe the execution environment)?
`caddy browse`

### 5. Please paste any relevant HTTP request(s) here.

Jus

[2017-05-09 18:02] mholt commented on #1660
Nice issue, @theel0ja  - thanks for all the info. I think this should be easy enough for someone new to the project to be able to contribute to, so I'll try to leave this for someone who has little (but some) Go experience to see if they want to submit a pull request!

[2017-05-09 18:05] mholt commented on #1659
Honestly, I want to get the `init` scripts out of this repo entirely. But having them in two places is probably confusing, you're right.

I'd elect we take down the one in the examples repo and leave this one for now, until we figure out what to do with them.

[2017-05-09 18:38] infogulch commented on #1659
Sure. Which would you prefer?

1. Just remove it.
2. Remove it, add note in /README.md pointing to this repo.
3. Remove caddy.service, change /systemd/README.md to point to this repo.

[2017-05-09 18:42] francislavoie commented on #1659
I think 3 is fine imo.

[2017-05-09 18:44] mholt commented on #1659
Sure, either 1 or 3 are fine.

[2017-05-09 18:59] infogulch commented on #1659
[Pull request submitted](https://github.com/caddyserver/examples/pull/63)

[2017-05-09 19:02] #1659 closed

[2017-05-09 19:02] mholt commented on #1659
Thanks!

[2017-05-09 19:03] mholt commented on #1657
I am pretty sure HTTP2 is used by default for the proxy to a backend for all HTTPS connections. Feel free to re-open if you confirm that is not the case!

[2017-05-09 19:03] #1657 closed

[2017-05-09 21:53] gastlich commented on #695
@rindek this worked for me: (rewrite everything to `/public`, apply proxy except for `/static` and without `/public`)

[code]

[2017-05-10 06:57] Boran commented on #1315
Hi, I came across the /etc/systemd/system/caddy.service suggestion yesterday.
It is good and makes sense, some suggestions though:

On Debian 9 (or Ubuntu 16.04) one needs to enable the capabilities lines

The files in /var/www should not belong to the www-data user. The www-data user (=caddy) needs to be able to read, but not write the served web files. If caddy is compromised but cannot write th

[2017-05-10 10:10] vladbondarenko commented on #1657
Seems i cant test now, as i cant make Caddy work fine with Hitch and Varnish http2 feature.
May 10 08:57:16 ip-172-31-6-118 hitch[740]: 127.0.0.1:57020 :0 12:13 Handshake failure: error:1407609C:SSL routines:SSL23_GET_CLIENT_HELLO:http request
May 10 08:57:16 ip-172-31-6-118 hitch[740]: 127.0.0.1:57022 :0 12:13 Handshake failure: error:1407609C:SSL routines:SSL23_GET_CLIENT_HELLO:http request

Nee

[2017-05-10 14:36] fab120 opened #1661 "log: if only 2 arguments are specified caddy should show an error"
Sorry... My error in reading documentation

[2017-05-10 14:39] achernyak opened #1662 "proxy requests always return response status of 0"
### 1. What version of Caddy are you using (`caddy -version`)?
Caddy 0.9.5

### 2. What are you trying to do?
I am using the `caddy-prometheus` plugin, which returns http response statuses as one of the metrics. This metric is retrieved by calling by the below code. However, it appears that all proxy responses come through with the status code 0 from caddy. I don't believe this is an issue with `c

[2017-05-10 14:50] #1661 closed

[2017-05-10 15:01] slightfoot commented on #1662
This is expected behaviour. The `0` is the response from plugins that it was successful. You should check `rw.Status()` to get the actual response code.

Refs:

[2017-05-10 15:12] achernyak commented on #1662
@slightfoot Thank you so much for the help!

[2017-05-10 15:12] #1662 closed

[2017-05-10 15:13] wmark commented on #1315
It's more likely a bug in PHP will be exploited to write to disk. Or, the operator uses a plugin such as *git*, *upload*, or *mailout*, or any other which writes on behalf of `www-data`. This said, your suggestion has merits, as does running the process as `www-data`. Only the operator can decide which.

The likelihood that only one user exists is higher than two. (Admittedly the latter is better.

[2017-05-10 17:20] slightfoot commented on #1658
I use HashTab for this sort of thing, it might be worth mentioning a couple on the page perhaps with a non-endorsement disclaimer.

[2017-05-10 21:49] gregnordin commented on #176
+1 that this is moving forward! We are developing a new Flask-based app and I have wanted to use Caddy for quite some time and have been hoping there would be a way to use Caddy with the Flask app. I just now started looking into it and found this issue. Thanks to everyone who is working on making it happen!

[2017-05-10 21:59] francislavoie commented on #176
@gregnordin for the meantime you can run a python server and use Caddy as a reverse proxy to it. The benefit is you still get HTTP/2 and automatic TLS (TLS is terminated at Caddy)

[2017-05-10 22:01] gregnordin commented on #176
Thanks, @francislavoie. One of the things I love about Caddy and why I've wanted to use it is the automatic TLS.

[2017-05-10 23:38] slightfoot commented on #176
@gregnordin I'll be working on this the next few days, so expect some updates. If you want to try it out and let me know what you think.. that would be great.

[2017-05-11 01:07] JoshHarmon commented on #1658
How do these hashes provide any assurance of authenticity? All the hash matching tells you is that you downloaded a file that wasn't corrupted in transit. However, TCP and TLS prevent corruption (via lost packets) and MITM tampering when downloading the releases. To me, this seems rather pointless.

The only way you get authenticity from a hash is with using an HMAC construction, which involves ad

[2017-05-11 02:02] mholt commented on #1658
I view this as a shortcoming in Windows more than the Caddy website. As Josh explained, simply showing a hash (in our case) isn't really going to provide more security. In order to compromise a build in the cache, you'd need write access to the disk, but if you have write access to the disk, you might as well change the hash displayed to users while you're at it. (Something like this [already happ

[2017-05-11 02:02] #1658 closed

[2017-05-11 06:00] voltagex commented on #1658
A signed binary on Windows would also help.

[2017-05-11 08:14] tw4452852 opened #1663 "predefined log format doesn't work with prefix or suffix"
(Are you asking for help with using Caddy? Please use our forum instead: https://caddy.community. If you are filing a bug report, please take a few minutes to carefully answer the following questions. If your issue is not a bug report, you do not need to use this template. Thanks!)

### 1. What version of Caddy are you using (`caddy -version`)?

958abcf

### 2. What are you trying to do?

log with

[2017-05-12 00:33] mholt commented on #1663
Thanks for the report! Good find.

[2017-05-12 00:33] #1663 closed

[2017-05-12 08:36] vladbondarenko commented on #1657
From Caddy side:

proxy / 127.0.0.1:555 {
header_upstream Host "my.domain"
header_upstream X-Forwarded-Proto "https"
}

On 555 port nginx (to terminate TLS):
server {
    listen                555 ssl http2;
     ssl_certificate       /etc/nginx/ssl/my.domain.crt;
     ssl_certificate_key   /etc/nginx/ssl/my.domain.key.key;
     ssl_protocols         TLSv1 TLSv1.1 TLSv1.2;
     ssl_ciphers

[2017-05-12 09:09] elcore commented on #1657
Hello,

this should work:

[code]

[2017-05-12 09:17] vladbondarenko commented on #1657
For now i got 502

....... - - [12/May/2017:09:15:01 +0000] "GET / HTTP/2.0" 502 40

Caddy cant connect to backend.

[2017-05-12 10:09] vladbondarenko commented on #1657
Bang!

I made that work, BUT:

proxy / https://127.0.0.1:555 {
header_upstream Host "my.domain"
header_upstream X-Forwarded-Proto "https"
insecure_skip_verify
}

[root@ip-172-31-6-118 caddy]# varnishlog|grep HTTP
-   ReqProtocol    HTTP/2.0
-   ReqProtocol    HTTP/2.0

Varnish starts to operate via /2
Nginx (as Varnish backend) also got HTTP2
127.0.0.1 - - [12/May/2017:09:42:58 +0000] "GET / HTTP/

[2017-05-12 11:12] elcore commented on #1657
Do you use a signed certificate for NGINX?

[2017-05-12 11:14] vladbondarenko commented on #1657
I use LetsEncrypt cert.

[2017-05-12 11:26] elcore commented on #1657
Hello,

are you 100% sure that you use a signed and valid Let's Encrypt certificate? The validation is handled by the Go standard library (as far as I know).

ping @mholt

[2017-05-12 12:16] elcore commented on #1657
Hello,

I am so sorry, I forgot you are using an IP and not an domain!

You need to use `insecure_skip_verify`, because the certificate is not valid for the domain.

You cannot get a CA signed certificate for a private IP address, Let´s Encrypt does not issue certificates for public IP addresses.

ping @mholt

[2017-05-12 12:18] vladbondarenko commented on #1657
Yes.

From openssl s_client -connect my.domain:443 (Caddy):

CONNECTED(00000003)
---
Certificate chain
 0 s:/CN=my.domain
   i:/C=US/O=Let's Encrypt/CN=Let's Encrypt Authority X3
 1 s:/C=US/O=Let's Encrypt/CN=Let's Encrypt Authority X3
   i:/O=Digital Signature Trust Co./CN=DST Root CA X3
---
Server certificate
-----BEGIN CERTIFICATE-----
MIIGGjCCBQKgAwIBAgISA1izPb9cmhmHOl40VXLM21k5MA0GCSqGSIb3DQE

[2017-05-12 12:21] elcore commented on #1657
@vladbondarenko see my answer above, I am sorry!!!

[2017-05-12 12:22] vladbondarenko commented on #1657
Yup, (where is dumb smile?) :)

[2017-05-12 12:23] vladbondarenko commented on #1657
Thanks! Seems that only my infrastructure situation. Completely forgot about this.

[2017-05-12 12:36] elcore commented on #1657
That is not funny at all! I am stressed (I slept for only 2 hours), nonetheless I am helping you.

😄

[2017-05-12 12:40] vladbondarenko commented on #1657
Damn, SORRY!!! you should not if that. Nothing is as important as health.

[2017-05-12 12:45] elcore commented on #1657
Do not be sorry 😄!!!! Everything is fine 😄 -- I had to learn for an important exam

[2017-05-14 09:23] tobya opened #1668 "Extra " in Caddyfile log directive causes hosts to be skipped"
### 1. What version of Caddy are you using (`caddy -version`)?

0.10.0

### 2. What are you trying to do?

Run all my sites

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

caddy -log stdout

### 5. Please paste any relevant HTTP request(s) here.

(paste curl command, or full HTTP request including headers

[2017-05-14 16:37] mholt commented on #1668
Hey Toby, thanks for reporting this. Just FYI, from the [Caddyfile docs](https://caddyserver.com/docs/caddyfile#lexical-syntax):

I think we should make sure an error is returned. `log` should ensure that only a certain number of arguments are given, and/or the lexer should make sure that the file doesn't end in open quotes.

Any takers? This shouldn't be too difficult. Preferably those who are ne

[2017-05-14 17:35] francislavoie commented on #1668
Crazy idea, but would it make sense for directives like this, where the last argument is a string, to just take the entire argument literally? I.e. read everything up to the first newline or `{` as the string, and for backwards compatibility, trim the `"` on either side. That would mean that an additional argument after that one would be impossible, if a new one would be added in the future. I thi

[2017-05-14 18:24] alehano opened #1670 "Page not responding if status code != 200 and gzip enabled"
### 1. What version of Caddy are you using (`caddy -version`)?
v0.10.2

### 2. What are you trying to do?
Use Caddy as a proxy to gin-gonic router. Any pages with status code != 200 (4xx, 5xx) not responding. If I remove gzip, works fine.
### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
Run in a Docker. Same

[2017-05-15 08:26] jleclanche commented on #260
@mholt I'm sorry I missed this discussion! A common nginx pattern is to perform "does maintenance.html exist? if it does, return 503", and it seems it wasn't discussed.

An `exists` keyword would be a nice addition which would solve the problem in this space.

[code]

However it feels like the logic is the wrong way around. A better solution, imho:

[code]

(I'm a little surprised that `status` do

[2017-05-15 08:39] abiosoft commented on #260
This should work
[code]

[2017-05-15 08:49] jleclanche commented on #260
@abiosoft this will always rewrite, and will not correctly return a 503.

[2017-05-15 08:59] abiosoft commented on #260
oh missed out the 503 part.

You want to write a body while still responding with 503 ?

[2017-05-15 09:08] abiosoft commented on #260
This unfortunately won't include the body but does return 503 if maintenance.html exists.
[code]

I think you have a good case for status returning body.
@mholt what do you think of other directives having access to the fileserver. So rather than processing the file themselves, the fileserver can be triggered instead.

There may be better ways around this but that is one that comes straight to my

[2017-05-15 10:24] cez81 commented on #1668
May I have a look at this one?

[2017-05-15 11:37] tobya commented on #1668
@cez81 Please do, we would be delighted.  Just ask questions here if you have any. Thanks.

[2017-05-15 14:44] mholt commented on #1668
@francislavoie I do not think I like the inconsistency that introduces. Let's leave the Caddyfile as-is, but just fix the log syntax parser and the lexer.

[2017-05-15 16:49] longbai opened #1671 "need only bind udp, work with nginx"
(Are you asking for help with using Caddy? Please use our forum instead: https://caddy.community. If you are filing a bug report, please take a few minutes to carefully answer the following questions. If your issue is not a bug report, you do not need to use this template. Thanks!)

### 1. What version of Caddy are you using (`caddy -version`)?

0.10.2
### 2. What are you trying to do?

I need onl

[2017-05-15 17:14] francislavoie commented on #1671
Duplicate of https://github.com/mholt/caddy/issues/1614

[2017-05-15 17:14] #1671 closed

[2017-05-15 19:14] cez81 commented on #1668
I have added a check for number of arguments to start with. Do you think that will be enough or should have a look at the lexer too?

[2017-05-15 21:54] francislavoie opened #1673 "Port defaults to 2015 when using tls self_signed"
### 1. What version of Caddy are you using (`caddy -version`)?

0.10.2

### 2. What are you trying to do?

Use Caddy with `tls self_signed`, just the domain as the address

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

Dockerized

### 5. Please paste any relevant HTTP request(s) here.

N/A

### 6. What di

[2017-05-16 01:00] mholt commented on #1671
Hey @longbai -- thanks for the request, but why is this needed? Your request is a bit bare-bones, and doesn't explain anything. Why not just use Caddy?

[2017-05-16 01:07] mholt commented on #1673
I figure the simplest description of "automatic" is ... automatic: it just works, you don't do anything. Once you start configuring it, it's not automatic. If you are configuring it, you "must" know what you're doing, so we hand the reins over to the user. This is simpler than drawing a line halfway in the spectrum and saying, "this and this and this is automatic, but this and this and this isn't.

[2017-05-16 01:07] #1673 closed

[2017-05-16 02:16] mholt opened #1674 "tls: Prioritize ChaCha20 if hardware doesn't support AESNI"
If we prioritize ChaCha20 cipher suites on hardware that doesn't have AESNI, the crypto will be a teensy bit faster on those systems. Also, ChaCha20 and AESNI provide constant-time crypto in the Go standard library; and apparently [at this point](https://github.com/golang/go/issues/19413) Go's AES and GCM are not constant time without AESNI.

Lo and behold, there is a package with an assembly impl

[2017-05-16 03:16] SunRunAway commented on #1671
hi, @mholt .
We have hundreds of servers running in production and nginx on those listening on 80 tcp port are shared by many department in out company. We cannot simply change this situation but want to test caddy with quic on udp 80 port.

[2017-05-16 03:18] francislavoie commented on #1673
Fair enough re: definition of automatic, but is there a reason why other TLS modes don't default to port 80->443 if `https://` is not included? I just think that's a poor default if TLS is on at all.

[2017-05-16 03:25] astei commented on #1674
I'm looking to contribute to Caddy and might be interested in contributing support for this.

[2017-05-16 03:32] mholt commented on #1674
Sounds great @astei  - go for it!

[2017-05-16 03:33] mholt commented on #1673
Some people don't want to run TLS on port 443. Or 2015. We have to choose a port, might as well just keep it simple and say the default port is 2015.

[2017-05-16 03:35] mholt commented on #1671
@SunRunAway Why the insistence of running on the same machines, though? If you already have hundreds of servers running nginx, wouldn't it be a better idea to run a new experiment on a separate machine that's _not_ super important?

[2017-05-16 04:02] astei commented on #1674
I now have an initial implementation. I'll PR it soon.

[2017-05-16 04:19] francislavoie commented on #1673
I'm gonna leave my original message intact below, just because I'd feel bad deleting it all after having typed it up 😛

I figured out that the `-port` cli arg lets me do exactly what I wanted, replace the default port from `2015` to `443`. I think this could be better documented [here](https://caddyserver.com/docs/http-caddyfile), so I'll probably make a PR for that later.

---

Alright. Regarding

[2017-05-16 04:59] SunRunAway commented on #1671
@mholt
After the test, we would like to run nginx listening on tcp 80 and caddy on udp 80 on every hundreds of servers in production. If this happened, we can both support tcp and quic protocal for our clients. Clients would have the ability to connect using tcp or quic via every ip address to our servers.

[2017-05-16 06:14] mholt commented on #1671
@SunRunAway Fair enough. I'll reopen the first issue then.

[2017-05-16 19:32] cez81 commented on #1463
I'll have a look at URI policy. I'm thinking simple version to start with,  and then extend with length and depth settings. Sounds OK?

[2017-05-16 19:51] sredXNY opened #1677 "Run static site with parameters"
Hi, I am having an issue deploying a static site, I have caddy installed in my CentOS server. There, I have some other sites running and everything is ok.
Now, I want to be able to use routes with parameters, for example:`
mysite.com/products/:someid`

The site was built using React.js and the static file generated using `npm run build`
I can open the index and some other pages that are not receiv

[2017-05-16 19:52] pbeckmann commented on #1463
Sounds great!

Don't hesitate to ask if you have questions or so.

[2017-05-17 00:50] mholt commented on #260
@abiosoft

That's the idea behind #1649 - let the file server do the file serving.

[2017-05-17 01:09] mholt commented on #1677
Looks like you got some help on the forum for your question: https://caddy.community/t/dynamic-routes-not-working-in-react-with-caddy/2008/2?u=matt

The forum is a better venue for questions like this. :) Thanks!

[2017-05-17 01:09] #1677 closed

[2017-05-17 01:29] mholt commented on #1463
@pbeckmann @cez81 No, it's fine -- go ahead, these are small and modular components that I can copy over to the new proxy middleware. I'm not too far into it yet.

[2017-05-17 16:02] mholt commented on #1670
What do you mean by "not responding"? (I wish you had followed the issue template, so we could clearly understand the problem...)

[2017-05-17 16:45] #1674 closed

[2017-05-17 18:49] 0xbaadf00d commented on #1630
Yes i think a plugin could  be a good solution. But is plugin can create in-memory caddyfile configuration ? Dont Know if a hook Exist...

[2017-05-17 21:25] mholt commented on #1630
I think the rewrite of the proxy will make this possible. (See linked issue.)

[2017-05-18 10:14] rgl commented on #1550
any news about this?

it would be really great to be able to set the upstream trusted CAs, either at the proxy level or the http level. using something like the existing `tls load` directive. this would be better that having a blanket `insecure_skip_verify` directive.

[2017-05-18 10:54] kokizzu commented on #832
@elcore need update 0.10.2 now :3

[2017-05-18 10:56] elcore commented on #832
Sorry, I am not responsible for the PPA

[2017-05-18 17:03] heri16 commented on #999
anyone working on this?

[2017-05-18 18:09] francislavoie commented on #999
@heri16 not that I know of, go for it! :+1:

[2017-05-18 19:14] henkburgstra commented on #1660
I would like to fix this issue if that's ok :-)

[2017-05-18 19:36] mholt commented on #1660
@henkburgstra @cez81 already beat you to it, but we do need some icons if you are savvy with SVG graphics.

[2017-05-18 20:10] henkburgstra commented on #1660
I missed that, sorry.  Also not very good with SVG :(
isSymlinkTargetDir by @cez81 doesn't seem to take into account that a symlink can point to another symlink. If that's the case it should recurse and protect itself against endless recursion.

[2017-05-18 21:00] mholt commented on #1660
@henkburgstra No problem, maybe make that comment in-line on the pull request itself. :) Thanks!

[2017-05-19 04:20] heri16 commented on #999
Is there a certain style-guide I should follow when CONTRIBUTING?

The plan atttempt replacing http.Transport with h2quic.QuicRoundTripper .
https://github.com/lucas-clemente/quic-go/blob/master/example/client/main.go

[2017-05-19 04:28] francislavoie commented on #999
Just run gofmt and golint before you commit. Anything else can be caught in code review in your PR before it gets merged.

See here if you haven't already https://github.com/mholt/caddy/blob/master/.github/CONTRIBUTING.md 😄

[2017-05-19 09:48] jleclanche opened #1680 "Caddy unusable when acme server is down"
### 1. What version of Caddy are you using (`caddy -version`)?
0.10.0

### 2. What are you trying to do?
Start caddy

### 3. What is your entire Caddyfile?
(any caddyfile with tls enabled)

### 4. How did you run Caddy (give the full command and describe the execution environment)?
/opt/caddy/caddy --log stdout --agree=true --conf=/opt/caddy/Caddyfile --root=/var/tmp --email=admin@example.com

###

[2017-05-19 09:59] jleclanche commented on #1680
I worked around this by temporarily specifying `-ca https://acme-staging.api.letsencrypt.org/directory`, which is currently up and running...

[2017-05-19 12:48] mholt commented on #1680
Hi Jerome, thanks for the question. When a CA is down, that's really a problem, because it means Caddy can't obtain credentials it requires to serve your site securely. And serving a site insecurely is a bad idea.

There are several, they're just not great. One is to provide your own certificates with the `tls` directive. Another is to disable HTTPS entirely by specifying your site address with `h

[2017-05-19 12:48] #1680 closed

[2017-05-19 12:54] tobz commented on #1680
As someone considering using Caddy...

@mholt are you saying that Caddy needs to redownload the private certificate material every time it starts, even if it's within the validity window of a previous issuance?  That it grabs and stores them in memory at start-up?

[2017-05-19 12:55] tscs37 commented on #1680
I think the underlying problem is not a lack of security, the certificate is already present and valid.

I suggest that if there is a minimum amount of time left on the certificate (for example atleast 21 days) then Caddy can safely continue operating existing certificates.

The site can be securely services for some time, even without the ACME provider being online and I see no problem with ignor

[2017-05-19 12:58] jleclanche commented on #1680
@mholt Caddy behaves properly as long as the acme server was up when started; it doesn't need a permanent connection to the acme server, nor should it if the certs have already been created established.

Please understand this makes Caddy impossible to start if the ACME server is down.

[2017-05-19 13:00] atonse commented on #1680
@mholt Agreed with the others. If the local cert is still valid, and the OCSP data is also current (I think it's refreshed weekly?), then why shouldn't caddy continue to start and serve up using them?

The CA should only matter at the time of renewal of either OCSP or the cert.

This way, Caddy could start and continue to retry in the background, like it does normally with renewals.

[2017-05-19 13:06] r04r commented on #1680
What nonsense is this? A CA being down for a few minutes does not invalidate already cached certificates. Those are still perfectly valid for a few more weeks. Use them.

[2017-05-19 13:07] devlinzed commented on #1680
This really impacts my perception of Caddy as production-ready software.

[2017-05-19 13:10] atonse commented on #1680
@r04r @devlinzed agreed. I'm using it on two production sites now. And I was already bitten because the server wouldn't start because one of the sites couldn't get an LE cert (it was an existing site moved to a new server, DNS hadn't propagated) and all sites (even unrelated ones) went down as a result, since the whole caddy server refused to start.

The tradeoffs that are being are a red flag for

[2017-05-19 13:40] GiorgioG commented on #1680
Back to nginx we go.  Thanks!

[2017-05-19 13:44] luto commented on #1680
Anyone looking for an alternative solution, which can issue LE certificates on the fly: take a look at the [openresty](https://openresty.org/en/) project in combination with [lua-resty-auto-ssl](https://github.com/GUI/lua-resty-auto-ssl). We've been using it in production for a couple of months now.

[2017-05-19 13:48] GiorgioG commented on #1680
@mholt As long as the local cert is valid, what's the security issue?

[2017-05-19 13:50] paragonie-scott commented on #1680
Can you explain in a little more detail? I'm kind of on the fence here.

If you have a valid (non-expired) certificate, that vhost should be safe to start. If you need to fetch a new one, then that is definitely worth erroring out and refusing to start, until it's resolved.

Otherwise, you risk turning LetsEncrypt into a DoS amplification vector for nearly all Caddy users on the Internet.

[2017-05-19 13:51] GiorgioG commented on #1680
My database doesn't blow up when I only have 300mb of disk space left on the data volume, why should my web server stop working when there are X days left on my local cert because the CA is down? This position is absurd and logically indefensible.

[2017-05-19 13:52] paragonie-scott commented on #1680
@GiorgioG You keep commenting without giving @mholt a chance to respond, and your latest comment seems increasingly agitated.

Maybe take a break from the computer for a bit? Cooler heads prevail.

[2017-05-19 13:53] GiorgioG commented on #1680
Geez I wonder why I might be agitated...production site down because of a non-critical issue.

[2017-05-19 13:55] mholt commented on #1680
I should be finishing my paper for NIPS that's due today but, since this is garnering a LOT of attention from HN... I should clarify some things.

@tobz

No, definitely not. **Caddy does _not_ require access to a CA while the certificate is valid and not expiring.** If it is expiring soon (30 days), Caddy will attempt to renew so that your site will stay online.

No, they're stored on disk first,

[2017-05-19 13:55] tobya commented on #1668
This is fixed by #1672

[2017-05-19 13:55] #1668 closed

[2017-05-19 14:00] budgetneon commented on #1680
I'm not a fan of this decision, but if you're down right now, you should be able to copy the cert and key from the .caddy directory and change to the manual setup of  "tls /path/to/cert /path/to/key".

[2017-05-19 14:00] mholt commented on #1680
The Let's Encrypt OCSP responders were also having trouble. Note that Caddy is the only web server to staple OCSP by default. OCSP stapling errors are _not_ "fatal" to Caddy. Further, Caddy stores OCSP staples to disk to be able to weather downtime like this gracefully. Your OCSP is in better hands with Caddy than, say, a default nginx or Apache configuration.

[2017-05-19 14:01] stephenwilliams commented on #1680
You could make it configurable so that people can draw the line for themselves and won't have a reason to complain to you

[2017-05-19 14:02] Chronial commented on #1680
You draw the line somewhere around what is a sensible downtime to expect from the ACME server. Let's encrypt being down for 30 days is not something we should expect to happen.

There might be reasons to restart the whole machine, though.

[2017-05-19 14:02] mholt commented on #1680
@budgetneon

No need to copy them, you can specify the paths directly as they are in $CADDYPATH (default ~/.caddy). I agree with you though, this is not a great idea in the long run.

[2017-05-19 14:02] erdii commented on #1680
@mholt thank you for reacting so fast <3

[2017-05-19 14:03] mholt commented on #1680
@stephenwilliams

People will always have a reason to complain. If the window was 7 days instead of 30, it'd just be a different subset of users complaining.

[2017-05-19 14:04] ui4j commented on #1680
Replace Caddy with NGINX

[2017-05-19 14:05] mholt commented on #1680
@Chronial

Exactly; which is why it's a conservative window. Note that downtime is not the only problem. We want to be more resistant to blocking attacks whereby packets between your server and the CA are blocked entirely. The attack would have to last a full 30 days to be successful.

@atonse

You can use the [DNS challenge](https://caddyserver.com/docs/automatic-https#dns-challenge), no DNS prop

[2017-05-19 14:06] Ajedi32 commented on #1680
That's a reasonable position, but it does seem like there should be a way to override that in case the error is temporary, occurring for reasons beyond your control (i.e. Let's Encrypt being down), and you really do need to start the server _right now_ (e.g. because your site is currently experiencing downtime).

[2017-05-19 14:06] paragonie-scott commented on #1680
* https://github.com/mholt/caddy/issues/1680#issuecomment-302705530
  * "Back to nginx we go. Thanks!"
* https://github.com/mholt/caddy/issues/1680#issuecomment-302708911
  * "I'll file this under 'Security theater' and switch back to nginx. Thanks... see ya."

I know this probably won't get through to @GiorgioG at all, because arguing with an angry person is almost never going to happen, but I wa

[2017-05-19 14:16] enilfodne commented on #1680
In today's increasingly automated deployment, that is not always the case. And i really don't want do dwell on a point where the solution is obvious, but it seems flawed to have a 3rd-party dependency, when you have a completely valid data sitting on your machine. Not to mention the increased load on LE's infrastructure.

[2017-05-19 14:23] atonse commented on #1680
This thread has gotten very distracted.

Nobody, to clarify, exactly zero people, on this thread, are arguing that Caddy should serve invalid TLS certs, etc. People are arguing that if there is a valid cert, and valid OCSP data, (even if it's valid for 10 seconds), caddy should not refuse to start.

Your question about 20 minutes, 20 seconds, my answer is, yes it should serve the site for 20 minut

[2017-05-19 14:23] jleclanche commented on #1680
Sorry @mholt, I didn't imagine the HN post would garner this much attention when I linked this there, didn't mean to drop a bombshell :/

Right, I got unlucky. My deployment uses ansible's `service` on Debian, which is an abstraction for `systemctl restart caddy.service`. The service file I'm using is the upstream one, which specifies `ExecReload=/bin/kill -USR1 $MAINPID`. So I do use USR1, howeve

[2017-05-19 14:33] mholt commented on #1680
I should be finishing my paper for NIPS that is due at 1pm today.

Caddy requires certificates for sites that do not have one, have only an expired one cached locally, or have one cached locally that is expiring soon. Caddy's renewal window is 30 days before expiration.

In 410ece8 I've changed the "fatal" renewal window to 7 days. This gives you about 3 weeks of downtime or blockage before Caddy

[2017-05-19 14:47] Ajedi32 commented on #1680
@mholt Thanks so much!

Even among commercial software it's rare for _paying_ customers to be able to directly contact the primary developer of the software at all, let alone have a conversation with them and get a fix released in under 6 hours. This is some pretty amazing turnaround time, especially considering Caddy is completely free. So again, thanks a lot!

[2017-05-19 14:48] mholt commented on #1680
You're welcome. I'm sorry for the trouble.

Now I'm going back to my NIPS paper.

[2017-05-19 15:24] enilfodne commented on #1680
Am i missing something or is this shuffling the problem into a more obscure / intermittent territory?

If i understand correctly, if the server is restarted/started with a LE cert, that have less than 7 days left to renewal, the same issue will manifest if the LE infrastructure has issues.

This effectively cuts the certificate lifetime with 7 days and puts strain on LE's infrastructure for no arg

[2017-05-19 15:28] jleclanche commented on #1680
@enilfodne The theory is that, because Caddy starts attempting to auto-renew certs within 30 days of their expiration, the acme server would have to be down three weeks in order for the situation to arise.

In practice there's always the possibility that caddy was offline/unused all that time, but most of the time it matches up with the expectation.

[2017-05-19 15:36] mholt commented on #1680
@enilfodne

If Caddy was running before, it should have renewed the certificate in the 3 weeks prior. If not, either the blocking attack or downtime is so long it's basically hopeless for the next 7 days anyway OR your site has been down for 3+ weeks already.

No, because Caddy renews certificates 30 days out when Caddy is running. If it gets to the point where it still needs to renew and it's onl

[2017-05-19 15:47] theonewolf commented on #1680
@mholt focus on NIPS, you've done more than enough here!

[2017-05-19 15:55] r04r commented on #1680
@mholt Because servers never reboot, right?

[2017-05-19 16:17] mholt commented on #1680
@r04r Explain. What's the problem?

[2017-05-19 16:32] sebastianmarkow commented on #1680
What's the paper about? No offense, never perceived you as a NIPS guy. 👍🏻

[2017-05-19 17:39] olivierlambert commented on #577
Hi @mholt

Any pointer if I want to create a [Telegraf](https://github.com/influxdata/telegraf) plugin for Caddy?

Telegraf is in Go too, so I suppose it will be easy.

[2017-05-19 17:41] miekg commented on #577
github.com/miekg/caddy-prometheus

What I really would like to see/know is how to get metrics out about TLS cert expiration.

[2017-05-19 17:44] olivierlambert commented on #577
@miekg Do you mean that reading the Prometheus plugin code it will be easy to get the same thing in Telegraf?

[2017-05-19 17:46] miekg commented on #577
I think it will help

[2017-05-19 17:57] olivierlambert commented on #577
I'll take a look, thx.

[2017-05-19 18:19] eteeselink commented on #1680
Wow, I'm impressed. @mholt closed an issue, fought off the unreasonable people, discussed with the reasonable people, allowed them to chang his mind, pushed an emergency release, *and* just about finished that NIPS paper - all in the span of a few hours.

This really impacts my perception of Caddy as production-ready software.

[2017-05-19 19:45] eliasp commented on #1680
Just to add my 2¢ here:
- we're using Caddy in production since more than a year. It provided us great service and helped us to avoid all the hassle of doing certificate management manually/properly which avoided costs, saved our minds' sanity and allowed us to rapidly deploy a lot of infrastructure from scratch. In case our 2nd funding round works out as expected, Caddy is my top-priority FLOSS p

[2017-05-19 21:33] Chronial commented on #1680
@eliasp You should probably open a separate issue for that.

[2017-05-20 02:58] mholt commented on #577
^ I second that. The Caddy wiki is a good place to start: https://github.com/mholt/caddy/wiki

[2017-05-20 11:19] jleclanche commented on #260
@mholt any thoughts on the syntax [in my previous comment](https://github.com/mholt/caddy/issues/260#issuecomment-301409498)?

[2017-05-20 19:30] mholt commented on #260
@jleclanche Yes, I did see it - I need to give it some thought because the scopes of redir, status, and rewrite is very delicately balanced... we need to be careful if status starts writing response bodies, for instance (is that what a status middleware should do?).

[2017-05-20 23:54] slightfoot commented on #999
If I understand the request correctly the OP wants to connect to the backend service with QUIC. This sounds like a job for the additional protocol support which lets you register a round-tripper. Suggest this is continued as part of #1638.

@heri16: If you want to test it could work. Try adding these two lines. https://github.com/slightfoot/caddy-uwsgi/blob/master/uwsgi.go#L33-L34 but for your rou

[2017-05-21 06:14] theel0ja commented on #1670
Have you some example code, etc. so people here can reproduce the issue?

[2017-05-21 16:25] ohir opened #1681 "Caddy does not stop issuing cert requests to LetsEncrypt even on error"
Caddy 0.10.3
In case of simple misconfiguration preventing Caddy from writting new certs under CADDYPATH
Caddy restarts then tries to get certs again - wreaking havoc both for LE and unfortunate user.

It would be way better to automatically let Caddy attempt first with LE stagging area and check all needed permissions first before doing real cert request. Or at least check if Caddy is able to wri

[2017-05-21 16:42] mholt commented on #1681
Hey @ohir,

You can use Let's Encrypt's staging endpoint to test things out very easily:

[code]

And myself and [the docs recommend always doing this for testing and experimenting](https://caddyserver.com/docs/automatic-https#testing).

While it may seem convenient to first try to write to the path, just because it can write to the path one moment does not mean it will be able to later. I recomme

[2017-05-21 16:42] #1681 closed

[2017-05-21 18:46] alehano commented on #1670
Sorry it was on my production server, I didn't have time to figure out where is exactly a problem. I just can say I used caddy as a proxy server to Gin web framework. 200 status served ok, but 4xx, 5xx errors not. Server seems to not send enything. Browers said no data. Gin without Caddy worked fine and on previous versions of Caddy was fine. May be problem with gzip module, cause turning it off h

[2017-05-21 19:02] francislavoie commented on #1670
That's really not enough information to go by. If you run into it again and can provide more info, we can re-open this issue.

[2017-05-21 19:02] #1670 closed

[2017-05-21 20:01] mholt commented on #1670
Has anyone tried reproducing this with the info given, though, even if without gin-gonic or Docker? I haven't had a chance.

[2017-05-21 22:22] francislavoie commented on #1670
Yeah, I proxy to some sites with a Caddy backend serving PHP via fastcgi, and I definitely get errors correctly, with gzip on both the backend and the proxy, in Docker. So based on that, I think the only difference between my environment and @alehano is gin-gonic.

[2017-05-21 23:21] astei commented on #1460
Upon further examination, this appears to actually be a bug in the FastCGI client.

I did some work on fixing this, but it's proving a bit more complex than I imagined. After removing the `Transfer-Encoding: chunked` special-case from the FastCGI client, Caddy is now returning an HTTP header response, but no content. This requires further examination.

[2017-05-22 10:24] miekg opened #1683 "Exposing TLS certicate metrics"
This is a question/feature request.

For caddy-prometheus (github.com/miekg/caddy-prometheus) I would like to expose metrics from the certs caddy has configured. Like time left per cert, failures to update, etc. etc.

Is there an API for this, should caddy expose some of these bits or should I hack in into ACME (? believe that is used for handling LE comms)?

[2017-05-22 15:40] OmgImAlexis opened #1684 "Caddy stops replying to requests"
### 1. What version of Caddy are you using (`caddy -version`)?
Caddy 0.9.4

### 2. What are you trying to do?
Load a site running behind caddy

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
Caddy is run inside a docker container using this [container](https://github.com/BlackGlory/caddy-proxy).

### 5. Ple

[2017-05-22 15:42] 0xbaadf00d commented on #1684
I have encountered the same issue (random) with the version 0.9.4. Currently, I have no problems with the last version (0.10.3)

[2017-05-22 15:44] mholt commented on #1684
Hi, yes, I agree with bad food -- please first, and if this is still happening, feel free to re-open the issue.

[2017-05-22 15:44] #1684 closed

[2017-05-23 08:34] heri16 commented on #999
Tried implementing it but could not get my branch to be stable. Sometimes the proxying work sometimes the request just hangs without a response. Since i see nothing wrong with the roundtripper, and i also tested using Caddy as the QUIC server, it might be protocol related. Not sure whether I want to Wireshark the QUIC protocol, so i am suspending work on this for now.

[2017-05-23 14:48] sredXNY opened #1685 "Caddy stops after an application stops"
Hi, I have Caddy installled in the server, and mainly I have been using it as a proxy server, there we have some node and Golang applications. So, when I stop at least one of them Caddy stops serving any other site and I have to be running caddy again and again. How Can I fix it? and which monitor tool can I use to track the fall downs of Caddy? I found #853 but I don't see any solution there

I p

[2017-05-23 14:51] mholt commented on #999
@heri16 Do you want to post what you have somewhere so others can take a look and build off of it?

[2017-05-23 14:59] mholt commented on #1685
Hi, can you explain what you mean by "Caddy stops serving" - what errors are you getting in the log or in response to an HTTP request? (I think that question 5 **is** relevant, because you're apparently making HTTP requests that aren't getting answered?) Is the process stopping or is it not responding to certain requests, or what exactly is happening?

[2017-05-23 15:04] sredXNY commented on #1685
@mholt with 'stops serving' I mean Caddy is stopped, I also checked and the application is not running. Briefly, if I stop some of my webapps then caddy is also stopped. The way that I'm stopping my webapps has something to be?

[2017-05-23 15:12] mholt commented on #1685
Huh, well I just tried it locally (using your instructions and kill command) and Caddy is still running. I think something else must be going on for you, I'm not able to reproduce it.

[2017-05-23 15:13] mholt commented on #1685
Scratch that. Platform differences. I see it now. When you run `kill -9 $(lsof -t -i:8000)` you are killing all processes that are connected to port 8000, including Caddy. Don't kill the Caddy process. :wink:

[2017-05-23 15:13] #1685 closed

[2017-05-23 19:28] elcore commented on #1683
Hello @miekg,

this sounds like a great idea!

I believe the best approach would be to expose those metrics in `github.com/xenolf/lego/acme` -- It might be useful for other projects using `lego/acme`

Basically you should "hack in into ACME" 😄

__

On the other side, I believe it would be easier to create those metics directly in Caddy and expose them to `caddy-prometheus`

[2017-05-23 19:39] miekg commented on #1683
[ Quoting <notifications@github.com> in "Re: [mholt/caddy] Exposing TLS cert..." ]

Interesting thought. I'll look into that, there could either be an API in ACME,
or directly expose prometheus metrics. I'll open an issue there.

But how do I get access to the information that those metrics will expose?

/Miek

--
Miek Gieben

[2017-05-23 19:59] elcore commented on #1683
You could import `caddy/caddytls` in `caddy-prometheus` and use those metrics -- I have not really thought deeply about this ..........

[2017-05-24 08:54] elcore commented on #1683
or directly expose prometheus metrics. I'll open an issue there.

Awesome :smile:

[2017-05-24 22:42] sahildua2305 commented on #1539
@mholt I'd like to work on this. I do have prior Go experience. Just new to this project. 🙂

[2017-05-24 22:50] mholt commented on #1539
Sounds good to me @sahildua2305 !

Note that I am pondering one potential security issue with this, since typically allowing outside requests to dictate proxy destinations is a bad idea. Go ahead and work on it though. :)

[2017-05-25 01:24] danilobrinu commented on #1539
Maybe something like NGINX syntax:
[code]

[2017-05-25 04:37] mholt commented on #1539
@danilobrinu I think we should be consistent with Caddy's placeholder syntax, which is like `{something}`.

[2017-05-25 05:05] danilobrinu commented on #1539
@mholt i propose something like {?<placeholder>pattern}

[code]

[2017-05-25 05:09] mholt commented on #1539
@danilobrinu That's pretty good; although do we need a full regexp? Maybe just capturing that label of the path would be enough, for example `/users/{:user}/foo` -- much simpler IMO.

[2017-05-25 05:12] danilobrinu commented on #1539
@mholt i think is more secure use pattern to match exact values from route, this concept is using in Django routes.

[2017-05-25 11:18] mholt commented on #1539
@danilobrinu Why is regexp more secure?

[2017-05-25 15:17] danilobrinu commented on #1539
@mholt is simple u can use a pattern to eval the value, this is more secure than only use a variable and replace this variable.
Example:

[code]

[code]

[2017-05-25 21:26] zikes opened #1689 "TLS CAUrl Option"
Currently the ACME CA URL is configured via the `-ca` command line argument. This means changing the value involves restarting the process and that all domains must use the same ACME CA.  I think this option would be better suited for the `tls` directive, e.g.:

[code]

I think I can whip up a PR for this idea if it has value.

[2017-05-25 22:38] kminehart commented on #1689
Definitely has value for the caddy-ingress-controller.

[2017-05-26 14:22] hsluoyz opened #1690 "Use casbin as the authorization plugin for caddy"
Hi, I'm the author of [Casbin](https://github.com/casbin/casbin), a Go library for authorization based on access control policy. Casbin supports multiple access control models like ACL, BLP, RBAC. The access control rules can be persisted into files, DB.

I saw there's a guide about how to make a Caddy plugin [here](https://github.com/mholt/caddy/wiki/Extending-Caddy). But it doesn't show explicit

[2017-05-26 14:26] pbeckmann commented on #1690
Hey,

yes oft course. I didn't try it personally, but there is already https://github.com/namsral/multipass.

Maybe the author or the source code can help you a bit more than me.

Greetings

[2017-05-26 15:14] mholt commented on #1690
Hey Yang, thanks for your question! As Peer said, this is definitely possible -- you could write an entire web app in a Caddy plugin if you wanted to. You can look at basicauth for a simple example or multipass as Peer linked to for another more advanced example.

Then you can ask [on the forums](https://caddy.community) if you have more questions! :+1:

[2017-05-26 15:14] #1690 closed

[2017-05-26 15:18] mholt commented on #1683
I think we can do something like this; Caddy can [emit events](https://godoc.org/github.com/mholt/caddy#EmitEvent) but right now it only emits one (startup) because we're adding events based on need. I don't have a page on the wiki yet explaining how to hook into events (I'll do that soon) but it's very easy; you can look at the [caddy-service plugin and see how it does it](https://github.com/bruh

[2017-05-26 15:32] miekg commented on #1683
Interesting. What new events would we need? As I alluded to above, qps to let's encrypt, possible errors returned from the let's encrypt, TLS cert properties (don't know what is interesting there).

[2017-05-26 15:42] mholt commented on #1683
We could add a lot of events around TLS management. Caddy scans loaded certs every 12 hours for renewal, or every hour for OCSP stapling, those are events (although maybe uninteresting, and not needed to emit). When Caddy starts renewing a certificate, or finishes successfully or has an error, those are events. When it updates OCSP staples, that's an event. When it obtains a new certificate with o

[2017-05-27 07:27] hsluoyz commented on #1690
Hi, I have successfully published a plugin: https://github.com/casbin/caddy-authz.

The PR to register the directive is here: https://github.com/mholt/caddy/pull/1693

[2017-05-27 10:30] abiosoft commented on #1690
@hsluoyz how is this meant to be used. Does it not require any Caddyfile config ? I can only see code samples to integrate.

[2017-05-27 11:13] hsluoyz commented on #1690
Hi @abiosoft , this plugin requires to read Caddyfile for a parameter of the config path, see here: https://github.com/casbin/caddy-authz/commit/0e681f0884d007ff2d197de35453c0e7a1834c3e

[2017-05-28 19:53] pbeckmann commented on #1690
So as i understand correctly, your plugin needs an additionaly configuration file for the plugin?

[2017-05-29 02:02] hsluoyz commented on #1690
The configuration file is optional. But it needs another model file with the ``.conf`` format. Is this supported?

[2017-05-30 13:22] krisak commented on #1480
Is this something ongoing? I cant upload files above certain size. Also 'limits' directive Parse error: Unknown directive 'limits'.

Is there any way how to go around this?

[2017-05-30 13:24] oliverpool commented on #1480
@krisak which version of Caddy are you using ?

If this is happening with version 0.10.3, it might be a good idea to open a new issue.

[2017-05-30 13:25] krisak commented on #1480
Oh damn i am still 0.10.2. I will try to update and see whats going on.

[2017-05-31 10:53] tobya commented on #1690
@hsluoyz  could your caddyfile spec allow the user to specify the `.conf` file to be loaded?  This would link the two together nicely.  Ideally of course the config could be specified in the Caddyfile.

[2017-05-31 23:17] mholt commented on #1689
I think this is reasonable, and should be fairly easy to do. Any newcomers to the project or Go who would like to take this, feel free!

[2017-06-01 12:18] #1660 closed

[2017-06-01 12:37] bamling opened #1697 "caddyserver/dnsproviders & caddy with "vendored" dependencies"
Ever since **Caddy** brings its own _vendored_ dependencies, **caddyserver/dnsproviders** does not seem to work properly  anymore.

We're trying to use the relatively new Rackspace DNS provider for our application, but our builds suddenly started failing recently:

`../github.com/caddyserver/dnsproviders/rackspace/rackspace.go:14: cannot use NewDNSProvider (type func(...string) ("github.com/xenolf

[2017-06-01 12:43] domano commented on #1697
Yeah, same here

[2017-06-01 13:56] francislavoie commented on #1697
Maybe you could make a PR to fix it here: https://github.com/caddyserver/dnsproviders ?

[2017-06-01 14:24] fheusel opened #1698 "[Feature] renew hook for automatically obtained certificates"
Caddy is automatically obtaining LetsEncrypt certificates but I need to automate restarting services (e.g. dovecot, postfix) so that they load the renewed certificates. Would it be possible to implement some kind of renew hook, like it's available in [certbot](https://certbot.eff.org/docs/using.html#renewing-certificates)?

[2017-06-01 15:17] bamling commented on #1697
I'm not overfly familiar with the vendoring feature in Go just yet, but according to this post (which seems to talk about the exact, same problem):

https://forum.golangbridge.org/t/version-mismatch-between-vendored-version-of-dependency-and-normal-version/4073/8

... it's nothing I can easily fix with a PR... unless I remove the vendoring in Caddy again. But the only thing I can say for sure is:

[2017-06-01 16:49] francislavoie commented on #1698
I think this is related to https://github.com/mholt/caddy/issues/1683

[2017-06-01 18:40] mholt commented on #1697
Oops, dang -- this is https://github.com/mattfarina/golang-broken-vendor in disguise.

I thought we were good on this, but the DNS providers are plugins. Built alone, Caddy compiles without error. But not so with plugins, apparently.

And unfortunately, we can't change the import path in the dnsproviders packages to `github.com/mholt/caddy/vendor/github.com/xenolf/lego/acme` for example, it says "

[2017-06-02 09:37] bamling commented on #1697
Made a PR with your suggested changes and tested it locally in conjunction with the DNS providers. Seems to work just fine. I'll create a PR for the DNS providers shortly.

[2017-06-02 12:57] neilstuartcraig commented on #1575
Hi all
FWIW i'd love to see this feature too (i found this ticket because i was going to request the same feature). My usage would be that i'd server pref EC ciphersuites but support RSA's for the minority of older clients which don't (and never will, e.g. XP) support EC.

It would be awesome if Caddy could create/manage both an EC and an RSA LetsEncypt cert - i'd see that as being pretty essentia

[2017-06-02 17:55] si14 opened #1701 "X-Accel-Redirect causes redirect loop when proxied backend insists on trailing slash"
(Are you asking for help with using Caddy? Please use our forum instead: https://caddy.community. If you are filing a bug report, please take a few minutes to carefully answer the following questions. If your issue is not a bug report, you do not need to use this template. Thanks!)

### 1. What version of Caddy are you using (`caddy -version`)?

0.10.3

### 2. What are you trying to do?

I'm tryin

[2017-06-03 14:08] mholt commented on #1446
@xfalcox I missed your reply; but that feature is released now; you can use Link headers upstream to initiate pushes downstream.

[2017-06-05 14:20] Injust opened #1704 "Plugins Not Included Properly"
Downloading Caddy for Linux 64-bit with the dns plugin does not seem to properly include the DNS plugin. Caddy errors with `unknown server type 'dns'` when running with `-type=dns`.
However, downloading Caddy for Linux 64-bit with both dns and net plugins works fine.

Is there some issue with the build infrastructure that could be causing this?

[2017-06-05 14:35] mholt commented on #1704
This is a known issue in CoreDNS, addressed here: https://github.com/coredns/coredns/issues/696 - @miekg has merged a fix, it should be available whenever it gets released, I suppose.

[2017-06-05 14:35] #1704 closed

[2017-06-05 15:17] miekg commented on #1704
We usually push master (after an release), but I can click buttons now, master branch of CoreDNS is (should be) in a good state

[2017-06-06 15:24] #1697 closed

[2017-06-06 15:24] mholt commented on #1697
Great, this should be fixed. If anyone else notices any more import problems related to vendoring, please open an issue. Thanks!

[2017-06-06 19:29] zikes commented on #1463
Cookies are also common for session affinity, but Caddy currently wouldn't be able to support that method without imposing a globally defined (or even hard-coded 😨 ) cookie name. I think the `header` proposal suffers from a similar shortcoming.

I think an ideal solution would be to slightly change the way the `policy` directive works, such that the first argument is the policy name and the follow

[2017-06-06 23:48] mholt commented on #1463
@zikes Sounds good to me, although maybe we should limit it to just one string argument passed into the policy maker.

[2017-06-07 05:46] tosone opened #1705 "Is there any way plugin http.browse args could be a absolute path?"
(Are you asking for help with using Caddy? Please use our forum instead: https://caddy.community. If you are filing a bug report, please take a few minutes to carefully answer the following questions. If your issue is not a bug report, you do not need to use this template. Thanks!)

### 1. What version of Caddy are you using (`caddy -version`)?

-  Caddy 0.10.3

### 2. What are you trying to do?

[2017-06-07 07:23] francislavoie commented on #1705
Yes, specify `root`.

https://caddyserver.com/docs/root

For future reference, questions like this should be asked on the forums, as noted in the issue template.

[2017-06-07 07:23] #1705 closed

[2017-06-07 17:24] mholt commented on #1701
Is Caddy serving static files anywhere in your setup? If so, I think this might be the same issue as one I just experienced today.

[2017-06-07 17:39] mholt opened #1706 "Redirect loop when rewriting from directory URI to file URI"
### 1. What version of Caddy are you using (`caddy -version`)?

Caddy 0.10.3

### 2. What are you trying to do?

Rewrite `/` to `/file.html`.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

`caddy`

### 5. Please paste any relevant HTTP request(s) here.

`curl -v http://localhost:2015/`

### 6. What did yo

[2017-06-07 20:40] #1706 closed

[2017-06-07 23:47] mholt commented on #1575
@neilstuartcraig I'll look into this; I'm definitely interested in Caddy using ECC over RSA. I am hoping we could just switch over to ECC without having to manage certs with obsolete crypto. I think having to manage both is just temporary and am not yet sure how complex this will be. Does someone want to throw together a proof of concept?

[2017-06-08 01:13] mholt commented on #1539
@danilobrinu I don't think that's what I mean by secure. Consider SSRF instead: https://github.com/yandex/gixy/blob/master/docs/en/plugins/ssrf.md (for more reading: https://www.owasp.org/index.php/Server_Side_Request_Forgery)

[2017-06-08 01:13] mholt commented on #260
@jleclanche @abiosoft What if `status` simply controlled the status code but then passed the request through so whatever it wrote would write out with a status code as set by the directive?

[2017-06-08 01:42] jleclanche commented on #260
How do you envision that working? You'd be passing 503 to the underlying app?

That kinda defeats the point of maintenance mode (which is usually pulled when the underlying app is unavailable for some reason).

[2017-06-08 01:44] mholt commented on #260
@jleclanche Let's open a new issue to discuss this. Feel free to reference this one, but this one started in 2015 when Caddy was but a babe.

[2017-06-08 01:58] jleclanche opened #1707 "Discussion: "Maintenance mode" system for 503s"
Moving discussion from #260.

Here's my proposal from my comment there:

A common nginx pattern is to perform "does maintenance.html exist? if it does, return 503", and it seems it wasn't discussed.

An `exists` keyword would be a nice addition which would solve the problem in this space.

[code]

However it feels like the logic is the wrong way around. A better solution, imho:

[code]

(I'm a lit

[2017-06-08 01:58] jleclanche commented on #260
:) sure: #1707 for discussion on the feature

[2017-06-08 02:02] mholt commented on #1707
If `status` simply set the response code and let the request be handled normally otherwise, that should resolve this, right? `rewrite` can be used to rewrite to a certain page _if it exists_ and then `status` would, in conjunction, set the response code to 503.

[2017-06-08 02:19] jleclanche commented on #1707
I don't think so because that is basically offloading the serving of the maintenance mode. The advantage of the maintenance mode in nginx is to have it contained to whatever is bound to port 80, so with as few dependencies as possible.

[2017-06-08 07:29] mholt commented on #1707
It'd still be bound to the same port. Imagine:

[code]

If the `status` middleware was adjusted so that it passed the request through, Caddy would rewrite all requests to `/maintenance.html`, serve that page, but with a response code of 503. No offloading, no dependencies.

[2017-06-08 08:23] neilstuartcraig commented on #1575
@mholt - I'm probably missing something here (apologies if so) but Caddy already works for ECC. Specifying `key_type` as e.g. `p256` with an LE cert results in that cert being ECC. This is great and works really well, i use it currently in a personal project i'm developing.

Being able to use both is currently mandatory for our audience demographics, we have anything from about 0.5% up to ~17% (i'

[2017-06-08 12:47] si14 commented on #1701
It does on production! The URL in question is reverse proxied, though.

[2017-06-08 13:02] jleclanche commented on #1707
Ah, I see. `rewrite` only does so if the path works? If that's the case, I think it could work.

[2017-06-08 13:38] francislavoie commented on #1701
@si14 could you try the latest from the master branch? It might be fixed by https://github.com/mholt/caddy/commit/f4b6f15e07b91976d6579c8445a3321dcc63d8ae

[2017-06-08 21:02] bkcsfi opened #1708 "Add request_size placeholder for logging"
I am using caddy as a front-end server for a Python based AS2 server. The AS2 server is receiving 'truncated' messages from an MS Biztalk server.

Unfortunately I cannot determine where the truncation is happening. I assume it's biztalk itself, or a failed tcp connection.  But it could be between caddy and the AS2 server, or the AS2 server itself.

Having a request_size placeholder would help me d

[2017-06-09 07:19] mholt commented on #1708
The problem with this is we don't know the actual content length until we read it... which has a few problems:

- The content can't be used
- To use the consumed body, we'd have to buffer a copy of the whole thing
- We could populate the placeholder only if the body is read for some purpose (like proxying upstream) but it's not necessarily the true value then if the connection is dropped or some o

[2017-06-09 11:46] bkcsfi commented on #1708
Hi, thanks for responding. It sounds like you're saying that under some conditions the socket can be passed to another process and that caddy itself may not read the socket, so doesn't know the actual number of bytes read.

I can see that would make this feature difficult to add.

In the meantime to resolve my particular problem I have setup tcpflow logging in the hopes of capturing a 'bad' transm

[2017-06-09 15:33] mholt commented on #1708
No, that's not quite what I meant. I was just talking about the request body; once it's drained, it's either gone or buffered. If we let some other middleware read the body (like a proxy middleware) and we just count the number of bytes it reads, that's possible.

[2017-06-09 18:03] mholt commented on #1575
@neilstuartcraig I need to see if the underlying lego library would support this; we'd request a new cert using an already-obtained authz, probably. But I don't know how this affects rate limits with Let's Encrypt and such, for the second issuance.

[2017-06-09 18:04] bkcsfi commented on #1708
I think I have found a possible issue with caddy not proxying chunked encoding downstream correctly, I will open  a new issue. hopefully its just a config problem

[2017-06-09 18:05] mholt commented on #1708
Okay, new issue sounds great. I'll close this one at your request, but the discussion is allowed to continue as needed, of course.

[2017-06-09 18:05] #1708 closed

[2017-06-09 18:29] bkcsfi opened #1710 "http body truncated sending to transparent proxy when transfer-encoding = chunked"
### 1. What version of Caddy are you using (`caddy -version`)?

0.9.5

### 2. What are you trying to do?

I am proxying incoming AS2 (http) connections to PyAS2

### 3. The  Caddyfile

[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
running in docker image zzrot/alpine-caddy, the command line is
[code]

### 5. Please paste any relevant HTTP requ

[2017-06-09 18:53] neilstuartcraig commented on #1575
@mholt - Yep, for sure. Do let me know if i can do anything useful (research, contacting people, docs, testing etc.). Really appreciate you spending time looking into this. Cheers

[2017-06-09 19:51] mholt commented on #1710
Hi @bkcsfi - my first requirement before we dive into this further would be for you to upgrade and then update the issue. :wink: Thanks!

[2017-06-09 19:58] bkcsfi commented on #1710
aha, yes I will, sorry I didn't notice that.

[2017-06-09 21:27] bkcsfi commented on #1710
Still fails with Caddy 0.10.3, same problem

[2017-06-09 23:59] mholt commented on #1710
Okay. Does it happen without QUIC?

Gonna ping @lhecker on this just in case he has an idea.

[2017-06-10 01:52] bkcsfi commented on #1710
-quic option was only used with 0.9.5 in the zzrot/alpine-caddy docker image.

I switched to docker image abiosoft/caddy to upgrade to 0.10.3. That image does not use -quic,
instead the command it uses is:

[code]

[2017-06-10 14:12] lhecker commented on #1710
@bkcsfi Do you have a full recording of a failed request including headers and the full body? If so please send that (only the incoming request) to leonard@hecker.io and I'll take a look at what's happening here. I wouldn't mind signing a NDA if you want to. 🙂

[2017-06-10 14:26] bkcsfi commented on #1710
I have sent a zip'd version of the original request flow.

[2017-06-10 16:21] mholt commented on #1710
Thanks Leonard, for going above and beyond! (Just a note for future reference, now that you made me think about it -- NO contributors to the Caddy project should have to sign an NDA. I would especially never volunteer to sign one. No point in volunteering away certain freedoms for volunteer work!)

[2017-06-11 11:20] lhecker commented on #1710
@mholt If I had an issue like this at my workplace and would have to share the request recording I'd actually literally be forbidden by EU law to show it to anyone else without having that person sign a NDA due to the data it contains. So yeah, I can fully understand it if you have to sign one sometimes, since it might not even be in the submitters' or even the submitters' companies' hands to deci

[2017-06-11 18:06] lhecker commented on #1710
@bkcsfi @mholt Sadly I've been unable to reproduce the problem. Can you maybe help me debug this by running through my steps below? Maybe I've done something wrong, or missed something…

I've written a small utility to debug this problem: https://github.com/lhecker/echoserver
This server hijacks all HTTP requests to create exact copies of the received data. It then replies with a 200-Ok status and

[2017-06-11 19:04] lhecker commented on #1710
@mholt @bkcsfi I just got an idea... Maybe it has to do with the `Expect: 100-Continue`. If @bkcsfi's upstream backend server is really strict about it, it might close the connection if a client (in this case: caddy) sends the body before the server even had a chance to approve the request with a `100 Continue` status.

Currently caddy doesn't handle the `Expect` header correctly: It should receiv

[2017-06-11 23:22] bkcsfi commented on #1710
I will try to setup wireshark to capture tcp flags and re-transmit the failed chunked encoding message to caddy to determine what is happening.

However I do not think this is the cause of the problem because the downstream app (pyas2) does in fact send back an 100 continue and then follows that up with a 200 OK plus return headers.

what I'm seeing is that caddy is not transmitting the initial ch

[2017-06-13 20:18] lucaslorentz commented on #199
I think this would be a good case for a Caddyfile loader plugin: https://github.com/mholt/caddy/wiki/Writing-a-Plugin:-Caddyfile-Loader

I stearted this plugin some days ago: https://github.com/lucaslorentz/caddy-docker-proxy
It's a way I have to learn golang 😄

@mholt I'm using signals to reload caddy configuration, it's working fine. I'm looking forward for more instructions on "Dynamic Reloads"

[2017-06-14 08:00] lostinblue commented on #1124
The documentation needs to be updated, its very confusing with regards to this topic.

[2017-06-14 11:42] pbeckmann commented on #1526
Just a small update: I'm currently experimenting with this feature. And I will implement this.

[2017-06-15 03:50] dschissler opened #1712 "I cannot download Caddy with the options I requested"
(Are you asking for help with using Caddy? Please use our forum instead: https://caddy.community. If you are filing a bug report, please take a few minutes to carefully answer the following questions. If your issue is not a bug report, you do not need to use this template. Thanks!)

### 1. What version of Caddy are you using (`caddy -version`)?

Can't download

### 2. What are you trying to do?

I

[2017-06-15 03:51] dschissler commented on #1712
It works with the generic URL `https://caddyserver.com/download/linux/amd64` but not with the custom options which I selected.

[2017-06-15 03:52] dschissler commented on #1712
It seems that just adding the Gandi DNS provider breaks it: `https://caddyserver.com/download/linux/amd64?plugins=tls.dns.gandi`.

[2017-06-15 03:58] dschissler commented on #1712
`wget https://caddyserver.com/download/linux/amd64?plugins=tls.dns.dnspod` works.  It seems that only the Gandi plugin is broken.

[2017-06-15 04:11] pgporada opened #1713 "Caddy restart loop after hitting Let's Encrypt rate limit on a single vhost"
### 1. What version of Caddy are you using (`caddy -version`)?
`Caddy 0.10.3`

### 2. What are you trying to do?
Configure a bunch of vhosts into a single `Caddyfile`.

### 3. What is your entire Caddyfile?
Currently this is my file. It's working as intended for me. However, I did notice that if you have a misconfigured vhost and you restart caddy enough trying to test your config that you will tr

[2017-06-15 04:21] mholt commented on #1712
Aha, that's actually good news, it means the system works I think it does!

(I had the gandi DNS provider plugin set to the `origin/master` release which always pulls the latest, whereas every other DNS provider is just set to release `master` which doesn't always pull from origin. You know, git things.)

I've redeployed this plugin at commit bbadd53f2ab1e5193e280e8cdddc2d5aae35c619 which should b

[2017-06-15 04:21] #1712 closed

[2017-06-15 04:24] mholt commented on #1713
Thanks for answering the issue template. In this case, as you said, the problem is squarely on the user for using Let's Encrypt's production endpoint for testing. The [Caddy docs](https://caddyserver.com/docs/automatic-https#testing) *and* the Let's Encrypt docs clearly recommend using the LE staging endpoint for testing, especially when using init systems or process managers.

... yeah... never d

[2017-06-15 04:24] #1713 closed

[2017-06-15 08:02] dschissler opened #1714 "Smal documentation bug in fastcgi"
https://caddyserver.com/docs/fastcgi

The directive description is different than the actual directive.  Its my first time and I kept scanning for "root" and I couldn't find it.

**directory** specifies the root directory used by the FastCGI server if different from the root directory of the virtual host. Useful if the FastCGI server is on a different server, chroot-jailed, and/or containerized.

[2017-06-15 08:03] dschissler commented on #1714
I suppose that its not technically incorrect but it doesn't make much sense.  I think that if you look at it with new eyes then you'll see that it should be different.

[2017-06-15 08:09] #1714 closed

[2017-06-15 10:03] dschissler commented on #711
@mholt I don't understand why this isn't a Caddy issue?  I copied the systemd setup and I can get it working but it breaks after I've restarted it many times as I'm working on my Caddyfile on Ubuntu 16.04.

[2017-06-15 10:57] klingtnet commented on #711
@dschissler Did you use [init/linux-systemd/caddy.service](https://github.com/mholt/caddy/blob/master/dist/init/linux-systemd/caddy.service)? Also, you don't have to restart the service to check the configuration, instead send [`SIGUSR1`](https://github.com/mholt/caddy/issues/107#issuecomment-151275963) to only reload the configuration or use `caddy -validate -conf /path/to/Caddyfile`.

[2017-06-15 11:09] dschissler commented on #711
@klingtnet Thanks.  Yes I used that provided service file.  I have no idea what SIGUSR1 is and at this moment its just another thing to research.  I don't think that I should need to know any of this and that manually building Caddy into my provision system is enough to ask of anyone.  It would be great if the systemd file just worked as currently it fails rather quickly after some restarts.  This

[2017-06-15 11:54] klingtnet commented on #711
@dschissler `SIGUSR1` is the name of a singal that you can send to the caddy process to trigger a config reload, this is a common mechanism that is also used by server's like nginx. You can this signal to caddy like this: ` pkill -SIGUSR1 caddy`.
You didn't provide much information, especially no log messages, so it is hard to know why caddy actually restarted. You can see caddy's log messages thr

[2017-06-15 11:59] dschissler opened #1715 "Is it possible to rewrite assets to another directory?"
### 1. What version of Caddy are you using (`caddy -version`)?

`0.10.3`

### 2. What are you trying to do?

 I'm trying to reference files outside of the root path in my development environment.  My build environment puts it all together.  The following snippet is from my nginx config.  I don't know if there is a way to do it in caddy.

[code]

### 3. What is your entire Caddyfile?

Caddyfile onl

[2017-06-15 12:08] dschissler commented on #711
I turned tls off.  Look its simple.  The service refuses to restart and the only thing that I've found that fixes this is reloading systemd itself.  So if nothing is wrong with my Caddyfile config then it shouldn't matter what state it was in after I tell it to hard `stop` and then `start` again and also with `restart` then it should just work.  Yeah, so if that doesn't work then the systemd servi

[2017-06-15 13:39] klingtnet commented on #711
@dschissler I can reproduce your issue now. The problem does not occur if caddy is run from a shell:

[code]
i.e. there is actually something wrong in the service script.
I don't have a clue at the moment, systemd should also keep track of chaging PIDs.
Has anybody some ideas?

[2017-06-15 15:14] si14 opened #1717 "Push more than one file (multiple links per Link header)"
I'm sorry for not following the template, but I'm not sure if it makes sense in this case.

I use Caddy to push resources from the backend. To do this conditionally, I use Link header and a little bit of logic in the backend. However, if I understand Caddy's code correctly, it's currently implied that one Link header = one resource. Unfortunately, a lot of backends (e.g. Django) don't really suppo

[2017-06-15 15:49] dschissler commented on #711
I tried this as well but it didn't seem to help.  Thanks for looking into it.

[code]

[2017-06-15 22:44] mholt commented on #711
Please open a new issue (to discuss changes to the service file) or forum post (to get help) -- Caddy doesn't reload with new PIDs anymore. This issue is well past its time.

[2017-06-15 22:46] mholt commented on #199
(Yeah, I'll get around to that sooner or later. Gonna see how the API plays into it.)

[2017-06-16 01:28] mholt commented on #1714
Oh, yeah, that should be fixed. Thanks for bringing it up! Although https://github.com/caddyserver/website is the right repo for mentioning this. ;)

[2017-06-16 02:44] dschissler commented on #1714
Oh ya.  I knew I was being bad when I posted here but I scanned the repo list and since I was on a bender I was too tired to find it.

[2017-06-16 03:27] dschissler opened #1718 "systemd service file goes into bad state and won't restart caddy"
### 1. What version of Caddy are you using (`caddy -version`)?

`0.10.3`

### 2. What are you trying to do?

I'm trying to restart caddy while testing new configs and after a while it will not restart.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

I'm using Ubuntu 16.04 and restarting in the terminal wit

[2017-06-17 17:25] mholt commented on #1717
/cc @wendigo What do you think?

[2017-06-17 17:30] mholt commented on #1715
Thanks for your question, although in the future please use [the forum](https://caddy.community) for usage questions; issues are for active development-focused discussion.

Caddy locks access (from requests) to the file system to within the root directory; individual middlewares aren't _required_ to honor this (but they are strongly encouraged to; it depends on the use case). For example, the `log

[2017-06-17 17:30] #1715 closed

[2017-06-17 18:57] ahmdrz opened #1721 "Too many open files"
Hi , I'm using Caddy 0.10.3.
With caddy I can handle multi websites using proxy connection.
But sometimes I receive 502 error from my website response.

In error file :

`17/Jun/2017:23:09:44 +0430 [ERROR 502 /] dial tcp :1224: socket: too many open files`

How can I fix this ?

A part of my caddy file is :

[code]

I have more than 5 websites that using proxy with caddy...

[2017-06-17 19:08] mholt commented on #1721
What's the output of `ulimit -n`?

[2017-06-18 03:58] ahmdrz commented on #1721
The output is `1024`

[2017-06-18 04:34] Magic815 commented on #1557
So I believe I'm having the same issue, but in Caddy v0.10.3 - should this have been fixed by that version? Or is building from source with Go 1.8 still needed? Just trying to figure out if I need to make a new issue request here on github.

[2017-06-18 05:40] ahmdrz commented on #1721
I changed it with `ulimit -n 8192` So now the output is `8192`, Hope fix the problem.
Thank you @mholt for Caddy.

Regards.

[2017-06-18 05:40] #1721 closed

[2017-06-18 09:59] elcore commented on #1557
You need to use Go 1.8.X

[2017-06-18 14:17] Magic815 commented on #1557
Got it. I don't have any experience building from source, but will look into it.

Is Go 1.8.X something that will natively be a part of Caddy at some point, though? Just curious in case it might be easier for me to just wait for a certain release.

[2017-06-18 14:23] Cinerar commented on #1557
@Magic815  Versions after 0.9.5 should have this bug fixed, so probably you have something else.

[2017-06-18 14:40] Magic815 opened #1722 "502 Errors fairly frequently"
### 1. What version of Caddy are you using (`caddy -version`)?
Caddy 0.10.3

### 2. What are you trying to do?
I'm trying to use [Organizr](https://github.com/causefx/Organizr) with Caddy Server, but have been seeing a fairly frequent 502 error that requires a Caddy restart to fix.

### 3. What is your entire Caddyfile?
[Caddyfile](https://pastebin.com/mF8urqk6)
[Common.conf file](https://pastebin

[2017-06-18 14:54] Southclaws opened #1723 "Caddy panics on request, "failed to create new OS thread" and "may need to increase max user processes""
### 1. What version of Caddy are you using (`caddy -version`)?
0.10.3 - was using 0.10.2 and installed the latest yesterday hoping it would resolve this issue

### 2. What are you trying to do?
Run Caddy as a reverse proxy to some services and basic static site host for a couple of extremely small, single-page portfolios, it was working well for months then randomly decided to start dying on reque

[2017-06-18 16:08] mholt commented on #1723
Does this happen if you don't run it with systemd?

[2017-06-18 20:26] Zakay commented on #1673
I totally expected Caddy to listen for both 80, 443 when using self signed. I was migrating from nginx to caddy on our local dev-env but this just made it not "automatic" and not "just works". I have it running on docker too.

[2017-06-18 21:46] Zakay commented on #1092
I expected also being able disable serving files based on a regex. But only for actual files. If file doesn't exists then it should continue execution as some other rewrite rule might use that path and sends it to another proxy.

[2017-06-19 15:31] kedare commented on #719
I confirm the issue is still there, I was trying to setup Jetbrains softwares behind Caddy and I'm getting the same error.

[2017-06-21 00:50] temamagic opened #1726 "Caddyfile config for Supervisor web"
On Nginx my config looks like
[code]

How should it look right in Caddyfile?
I tried this:
[code]

It works, but when I press any buttons, i see that my page url is changed to

`http://localhost:9001/?message=Page%20refreshed%20at%20Wed%20Jun%2021%2000%3A46%3A33%202017`
What am I doing wrong?

[2017-06-21 01:08] mholt commented on #1726
Hey @temamagic - thanks for your question. I'm not really sure what is going on here (it's something your backend is doing), but a better place to ask this would be in the **[community forum](https://caddy.community)** where there are more people who can answer your question! These issues are for Caddy development only, so it's less likely that someone here has used "Supervisor web".  I invite you

[2017-06-21 01:08] #1726 closed

[2017-06-21 01:53] tw4452852 commented on #719
Fortunately, I reproduce this issue on my local and did some investigation.
Yes, this is indeed a bug, the unexpected header `Content-Type=text/plain;charset=utf-8` caused `YouTrack` crashed. This header isn't set by `Caddy` nor `Hub` backend, but [go std lib](https://github.com/golang/go/blob/master/src/net/http/server.go#L1308).

I have just captured the culprit packet with the help of `wireshar

[2017-06-21 08:04] mholt commented on #719
Tw, you're amazing. Thanks so much for investigating this!!

It does seem strange that we add (or Go adds) a Content-Type header when there is no body. I agree with Tw that this is a bug in Jetbrains and that they should fix their software, but I'd be interested to know your patch, Tw, for getting rid of the Content-Type header. I think it's worth seeing what it would take to fix this in Caddy so

[2017-06-22 00:54] tw4452852 commented on #719
@mholt
This is my scary test patch:

[code]

This will prevent Go from adding the Content-Type because we set it explicitly.
I have also try to prevent Go from detecting the Content-Type, it also works as expected.
Here is the patch:

[code]

[2017-06-22 01:28] mholt commented on #719
Interesting, thanks for sharing that. Don't you think it is a bug in Go if Go is adding a Content-Type when the Content-Length is 0?

[2017-06-22 01:46] tw4452852 commented on #719
Hmm, I think so before, but it seems to be expected after I have seen [this test case](https://github.com/golang/go/blob/master/src/net/http/sniff_test.go#L26).

[2017-06-24 00:22] josegonzalez commented on #1630
Semi-related: https://github.com/brimstone/caddy-consul

[2017-06-24 01:14] mholt commented on #1630
@josegonzalez That's cool, what does it do exactly? (ELI5-and-have-never-used-consul)

[2017-06-24 01:49] josegonzalez commented on #1630
Seems like a caddy plugin (not that I've used any) that will:

- watch for changes in the consul catalog of services
- build a caddyfile config
- reload caddy

[2017-06-24 04:33] anaganisk commented on #578
@mholt I agree caddy is web server but i beg to differ from your opinion. Caddy mentions

As one of the main features in its site. So a beginner will not have experience as a seasoned sysadmin, Though there are sever community scripts I would rather prefer Caddy approved init.d/systemd service script than from a random contributor. a web server needs to start with system, just because some is a be

[2017-06-24 06:52] tw4452852 commented on #719
@mholt I have just opened a ticket on Go anyway

[2017-06-24 15:58] mholt commented on #719
@tw4452852 Awesome! That's great, it looks like your fix will go in Go 1.10, which should resolve this issue. As far as I can tell, nothing will need to change within Caddy, is that right?

[2017-06-24 18:10] #1689 closed

[2017-06-24 22:07] mholt opened #1728 "log,errors: Option to compress rolled log files"
Lumberjack [recently added](https://github.com/natefinch/lumberjack/pull/43) the ability to compress rotated log files using gzip. It'd be useful if we could expose that feature in the Caddyfile with a rotation directive similar to `rotate_size` (which would be before compression), called `rotate_gzip` or `rotate_compress`.

The only compression option is gzip. This is enabled by setting the [Comp

[2017-06-24 22:21] watermelonjuice opened #1729 "Incorrect content type for ttf fonts"
### 1. What version of Caddy are you using (`caddy -version`)?
0.10.3

Caddy is setting content-type:application/octet-stream for ttf fonts. Correct content-type would be:
font/ttf
application/ttf
application/x-ttf
application/truetype
application/font

[2017-06-24 22:49] mixmastamyk commented on #1011
Thanks this helped me figure out why this was happening to me on a login redirect.

TL;DR - the proxy.transparent directive sends headers back to gunicorn (and e.g. Flask) so that it can respond with a proper Location header.

It works correctly, however seems inefficient to do this on every single request.

[2017-06-24 23:44] tw4452852 commented on #719
Yes.

[2017-06-25 10:10] Southclaws commented on #1723
Running as root without systemd seems to work fine. I attempted to raise the nofile/nproc values but the systemd deployment still fails on a page load.

[2017-06-25 18:29] mholt commented on #1723
Hmm. Sounds like systemd is interfering then, as with the other issue. Sorry, I'm not sure how to help with this or what to do about it.

[2017-06-25 18:29] #1723 closed

[2017-06-26 04:33] francislavoie commented on #1729
You can use https://caddyserver.com/docs/mime to fix this for yourself

[code]

[2017-06-26 05:19] watermelonjuice commented on #1729
Yes but the whole point of caddy is that is comes with good default configuration.

[2017-06-26 05:44] mholt commented on #1729
I agree, but @francislavoie's workaround will have to do for now. Content-type sniffing is performed by the Go standard library, and TTF is not one of the format it sniffs for. (There are hundreds, no, thousands of formats -- implementing a scheme for each one is not trivial.) I'm not sure of a simple way to extend this functionality at this time, since the [sniffing algorithm is unexported](https

[2017-06-26 05:48] mholt commented on #1722
Linking to the [relevant forum thread](https://caddy.community/t/getting-fairly-frequent-502-bad-gateway-errors/2194?u=matt) for reference.

I do strongly suspect a bug in the FastCGI middleware, though it is difficult to pinpoint and I'm not sure if it would cause behavior you're describing. But it might. I dunno...

[2017-06-26 05:55] mholt commented on #1729
@watermelonjuice Is the octet-stream content-type causing malfunctions?

[2017-06-26 05:57] watermelonjuice commented on #1729
Yes it breaks cloudflare gzip

[2017-06-26 06:28] mholt commented on #1729
Had an interesting discussion about this on the Gopher Slack. Basically, fixing this would involve changing the standard lib, either just add support for TTF, or a bigger change to make the list of sniff signatures extensible. The other option is to implement our own sniffer but that's a huge maintenance burden. File extensions to determine MIME aren't recommended by the spec but I can't think of

[2017-06-26 06:28] #1729 closed

[2017-06-26 06:31] watermelonjuice commented on #1729
Can we open an issue upstream?

[2017-06-26 06:32] mholt commented on #1729
@watermelonjuice You are certainly welcome to; I have no idea how the Go members will recommend handling it, it will be interesting to see what they prefer/suggest.

[2017-06-26 23:42] bkcsfi commented on #1710
Hi all,

I'm beginning to think this issue should be closed.

In the previous tcpflow captures sent to @lhecker , the caddy->app tcpflow showed that there wasn't any body or chunked length being sent from caddy to the app.

today I setup tcpdump and wireshark to capture both client->caddy and caddy->app packets.

Now, wireshark shows that the message body is being sent correctly to the app from ca

[2017-06-27 10:42] tobya commented on #1590
This was implemented by @elcore in #1711

[2017-06-27 10:42] #1590 closed

[2017-06-27 17:12] mholt commented on #1710
@bkcsfi Thanks so much for your follow-up.

@lhecker I really appreciate your effort on this issue - I hope life is treating you well!

[2017-06-27 17:12] #1710 closed

[2017-06-27 17:22] elcore commented on #1590
We both implemented the feature @tobya - - Thank you for your time and effort

[2017-06-27 21:49] PaulsBarkans opened #1732 "Problem with requests without a trailing slash (some cases)"
### 1. What version of Caddy are you using (`caddy -version`)?
Caddy 0.10.3

### 2. What are you trying to do?
Problem: Caddy does not redirect a request without a trailing slash to location with a trailing slash if a folder exists and user makes a request without a trailing slash. This happens if both fastcgi and rewrite modules are used and also if a folder contains index (index.php) file.

Samp

[2017-06-27 23:53] mholt commented on #1732
Hmm, well in this case, your PHP backend is handling the request. Why isn't it issuing the redirect? When Caddy serves static files, it issues redirects because that's it's job, but when it's proxying... not so much the case.

[2017-06-28 00:08] mholt commented on #1732
What happens if you change the `to` line to be `to {path}/ {path} /index.php?{query}`?

[2017-06-28 00:28] mholt opened #1733 "Set a default idle timeout"
With Go 1.8, `IdleTimeout` was introduced:

I've found that setting IdleTimeout like so:

[code]

vastly reduces the number of goroutines that stay open over time, presumably because even if the network link is active, there are no actual HTTP requests over the connection, and so the connections are not needed.

In the past, Caddy had default timeouts enabled (#1368) as a security precaution, but

[2017-06-28 01:24] elcore commented on #1733
Sounds good to me :+1:

[2017-06-28 06:23] mholt commented on #1302
How's this going @wjkohnen ? Any reason this issue needs to be kept open?

[2017-06-28 06:27] #1396 closed

[2017-06-28 06:28] mholt commented on #1467
Closing due to inactivity...

[2017-06-28 06:28] #1467 closed

[2017-06-28 07:34] PaulsBarkans commented on #1732
Should it though at this point? Shouldn't the server make a redirect because of a rewrite rule `{path}/` ?

Sorry, what do you mean by "proxying"? Do you mean the fastcgi part or the rewrite part?

You see, if I leave just the fastcgi/php part, the redirect happens and php is not handling the initial request. With configuration like this:
[code]
..there is a redirect:
[code]

Redirect also happens

[2017-06-28 09:06] wjkohnen commented on #1302
Well, "in progress" has not been true for quite a while. I'll get around to it this or next weekend. Closing this issue works for me, though.

[2017-06-28 15:07] #1728 closed

[2017-06-28 15:10] mholt commented on #1302
@wjkohnen I look forward to it! Since you're going to work on it soon I will leave the issue open as motivation. :)

[2017-06-28 21:30] wjkohnen commented on #1302
That is indeed some motivation. I've tried to rebase the last commit that I did onto current base, but as far as I remember the integration tests failed. Well, to be continued. ;)

[2017-06-28 21:54] #324 closed

[2017-06-29 06:08] mholt commented on #1732
Thanks for elaborating!

No, rewrites aren't redirects. Rewrites are internal; redirects are external.

Yes, sorry for the confusion: fastcgi. FastCGI is a proxy to a fastcgi responder.

So far it looks like Caddy is behaving as I intended. Caddy's redirect-to-canonical-URL behavior is implemented in its static file server. If the static file server isn't serving the request, then the redirect won

[2017-06-29 09:58] hickford commented on #107
For future reference:

    pkill -USR1 caddy

https://caddyserver.com/docs/cli#signal

[2017-06-29 14:59] tnwhitwell opened #1735 "Can't download caddy with selected options"
### 1. What version of Caddy are you using (`caddy -version`)?
0.10.3, trying to update to 0.10.4

### 2. What are you trying to do?
Download caddy

### 3. What is your entire Caddyfile?
N/A

### 4. How did you run Caddy (give the full command and describe the execution environment)?
N/A

### 5. Please paste any relevant HTTP request(s) here.
N/A

### 6. What did you expect to see?
Caddy to downlo

[2017-06-29 15:22] mholt commented on #1735
If one plugin fails to build, the build will fail -- and there are known issues with a couple plugins right now and the authors are working on them. (Do you really use all those? Wow! If not, download only the plugins you need. This is good practice in general.)

[2017-06-29 15:55] tnwhitwell commented on #1735
i was downloading with a far smaller set of plugins (read: not all of them) and was also seeing the 500 errors, but wanted to try out a few things, so tried downloading all at the same time to avoid excessive timeouts over time, but alas, no dice.

I have been using this script (janky python) in the past to download builds, but even that small set is failing:

[code]

[2017-06-29 15:57] mholt commented on #1735
One of the plugins that's currently being fixed by the author is the filemanager plugin. Sorry the error messages aren't more helpful; it would involve parsing log output which varies depending on where the error occurred...

[2017-06-29 15:57] mholt commented on #1735
Anyway, don't mind me -- I'll close this issue though since it's not an actionable item for Caddy itself. And it's being worked on by the right people. :+1:

[2017-06-29 15:57] #1735 closed

[2017-06-29 17:19] tht commented on #1722
I do have the same issues on a few different backends. I assume it's independent of the backend.

My environment:

* Debian 8 running Docker Community Edition (17.03.1)
* Docker Container abiosoft/caddy:0.10.3-php as reverse proxy
* Docker Container owncloud:9.1.6 as backend
* Docker Container drupal:8.3.4 as backend

Caddyfile:

[code]

Most of these configuration parameters I've added since the

[2017-06-29 17:35] francislavoie commented on #1735
@mholt is there anything secret in the build logs? I'm thinking you could return the build logs, or at least the part near the error. Probably not really needed to parse it, it would at least give people who run into errors something to go on as to which plugin is failing.

[2017-06-29 17:37] mholt commented on #1735
@francislavoie Possibly? I haven't guaranteed that there won't be, so to be conservative I'm not revealing build logs to the public. Maybe in the future.

@tnwhitwell The broken plugins should be working again, except for hook.service which should be working as soon as the author deploys it.

[2017-06-29 18:38] mholt commented on #1302
This is a plugin, right? Or are you changing Caddy itself?

[2017-06-29 21:26] PaulsBarkans commented on #1732
Yes, the fundamental difference is clear. What I meant was.. because the rule with the trailing slash matches request, web server should not proxy it to php but rather interpret it as a static resource (because folder exists on the file system) and so the redirect should happen as it would for static content. I don't know, I guess I was also looking at the examples in documentation where I saw thi

[2017-06-29 21:55] wjkohnen commented on #1302
I am patching the template and browse middelwares; that's why I'd like to put it into caddy itself.

[2017-06-29 23:35] mholt commented on #1302
Ah... I'd prefer that the plugin rely on Caddy standard middlewares rather than Caddy's standard middlewares relying on plugins. Is there any way to do what you want without having to write plugin-specific code in Caddy's standard middlewares?

Sorry, I guess I didn't read this carefully earlier.

[2017-06-30 00:36] mholt commented on #1732
Ah, so `fastcgi` is configured to handle all requests to `/` that meet its criteria, which your request did. The static file server takes over if nothing else handles the request.

Yeah, it rewrote the request path (or not), but it doesn't change how the request is actually handled, since fastcgi still found it to match its criteria.

That makes more sense. Would you like to submit a PR to [caddys

[2017-06-30 00:36] #1732 closed

[2017-06-30 01:17] mholt opened #1736 "Revert fastcgi's persistent connections"
I propose we revert #1082 and #1087 (which was finalized in #1129). While I appreciate the contributions by @Echsecutor and later refinement by @abiosoft, it has added considerable complexity and some obscure bugs, which we haven't been able to figure out without Sebastian's help.

The issue is complex and not well understood, so even if there is a way to fix it, I would still like to gut the feat

[2017-06-30 06:32] abiosoft commented on #1736
Yeah. I'll help with this, as previously discussed.

[2017-06-30 12:08] leemachin opened #1737 "URL rewrite performing 301 redirect"
### 1. What version of Caddy are you using (`caddy -version`)?

0.10.4

### 2. What are you trying to do?

Rewrite incoming URLs, so assets are served correctly and everything else resovles to `index.html`.

### 3. What is your entire Caddyfile?

[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

In Docker:

[code]

### 5. Please paste any relevan

[2017-06-30 12:14] neilstuartcraig opened #1738 "TLS session secret management"
Hi

On my way in to work today, i was thinking about Caddy in terms of a HA service, wherein you'd probably have 3+ servers. It occurred to me that (AFAIK) we can't manage TLS sessions secret keys in Caddy and thus we can't (unless something like LB session affinity is used) use TLS session secrets in a multiple server configuration (because each server will have a different session secret and thu

[2017-06-30 14:55] mholt commented on #1738
Yep, it makes sense! Thanks for the suggestion. I'll add it to the list of things we can implement.

[2017-06-30 15:14] mholt commented on #1737
Hey @leemachin, thanks for taking the time to fill out the issue template!

This is expected behavior. Your rewrite rule is telling Caddy to rewrite _all_ requests to the same path (if it exists on disk) or, if not, to /index.html.

If the path is rewritten to /index.html, the static file server issues a redirect to canonicalize the path to /, which is correct for serving index files.

If you chan

[2017-06-30 17:11] mholt commented on #1445
Markdown should now be loading the template at every page load (for now). Thanks, Tw!

[2017-06-30 17:11] #1445 closed

[2017-06-30 18:22] johnwchadwick commented on #1737
Hey, I have a potentially related problem happening to me ever since the unofficial `joshix/caddy` Docker image updated 18 days ago. Sadly I don't have time at the moment to exactly narrow it down, but it seems that Caddy started throwing 301s where it did not before, which was breaking our app.

This is my configuration:
[code]

In `joshix/caddy` before 0.10.x, if we were to `curl http://localhos

[2017-06-30 18:37] mholt commented on #1737
@johnwchadwick I think (hope) that's different. Did you try with Caddy 0.10.4 (released 2 days ago)?

[2017-06-30 19:12] neilstuartcraig commented on #1738
Excellent. Thanks so much Matt. :-)

Sent from my iPhone

[2017-06-30 20:10] xfalcox commented on #1717
Oh just got this problem too, looks like in Rails it's the same.

[2017-06-30 20:42] mholt commented on #1575
The LE folks say that getting two of the same certificate (but of a different key type) still use two queries against the rate limit. Is it worth implementing this feature that is mainly useful only during this transitionary period to ECC that adds complexity and doubles the rate limit usage?

[2017-06-30 21:53] neilstuartcraig commented on #1575
My opinion would be that it's worth it for at least some use cases. As i mentioned previously, some of our audiences have ~17% of folk who can't do EC - so for them we need RSA, but it seems a shame to "punish" the majority, 83%, of that demographic (not to mention other geographies who are ~0.5% who can't do EC) with ~7x slower TLS handshakes.

If the code complexity in Caddy is sufficiently high

[2017-06-30 21:54] leemachin commented on #1737
@mholt thank you for the explanation. If this is expected behaviour, why is it that 0.10.3 and 0.10.4 behave differently with the same config? I've looked through the changelog and commits and cannot see anything that would break things.

We've since reverted to the previous version (easy fix ;)) but I will use your suggestion and see how that goes, since it would be good to stay updated.

[2017-06-30 22:03] lenovouser commented on #1575
@mholt Your point about the rate limit is valid, even though I think it should be no problem if you make it opt-in (only if it is configured for dual certificate support) because the admin then chooses to do so.

Also it could at least be implemented as a config file option for non-LE certificates if is too complex for LE and / or rate limiting.

[2017-06-30 23:48] mholt commented on #1375
Okay, here's an elaboration of what needs to happen to finish TLS client authentication and close this issue:

Right now we can only verify client certificates based on issuing CA, but it would be nice to be able to authorize only specific client certificates based on their public key. This'll probably involve a slight change to the tls Caddyfile syntax:

[code]

and maybe we can read in all the k

[2017-06-30 23:51] mholt commented on #1737
@leemachin

Commit f4b6f15e07b91976d6579c8445a3321dcc63d8ae.

It fixed a regression. :wink:

[2017-06-30 23:51] #1737 closed

[2017-06-30 23:55] mholt commented on #1575
Okay. Well, we can give it a go, but I have other things on my priority list right now (API, proxy rewrite, telemetry, updates to the dev portal, etc...) so if somebody would like to take a stab at it, let us know!

[2017-07-01 00:19] zikes commented on #1375
Would it be worthwhile to consider multiple `clients` subdirectives, such as with `proxy` `upstream`?

[2017-07-01 01:21] lbguilherme commented on #1738
There are other things that would need cooperation regarding TLS here:

- Sharing obtained managed certificates (do not obtain a new certificate on each server, neither renew them multiple times)
- Sharing OSTP staples of those certificates
- Sharing the secret response for a successful HTTP challenge (ACME)
- Session secrets/tickets

[2017-07-01 08:19] mholt commented on #1375
@zikes Yes, good point, my intent is that `clients` subdirective could be specified multiple times if there are many that won't fit on a single line.

[2017-07-02 16:07] OmgImAlexis commented on #1737
@mholt to confirm the config in https://github.com/mholt/caddy/issues/1737#issuecomment-312294705 or https://github.com/mholt/caddy/issues/1737#issuecomment-312339423 is the recommended way to handle SPAs since the regression fix?

[2017-07-02 16:29] mholt commented on #1737
@OmgImAlexis I dunno, I haven't tried it, but it seems like it would do what you need!

[2017-07-03 07:07] kyhwana opened #1741 "Add python-urllib2 mitm detection"
### 1. What version of Caddy are you using (`caddy -version`)?
Caddy 0.10.4

### 2. What are you trying to do?
Detect MITM using exitmap ( https://github.com/NullHypothesis/exitmap )

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
./caddy caddy.conf

### 5. Please paste any relevant HTTP request(s) here.

[2017-07-03 10:06] tobya commented on #1590
@glurg can you take a look if this works for you?

[2017-07-03 14:50] cesarob opened #1742 "Reload not working with 0.10.4 version"
### 1. What version of Caddy are you using (`caddy -version`)?
0.10.4

### 2. What are you trying to do?
We just got updated from 0.10.3 to 0.10.4.
We have a Single Page App using ember so I just created an [example app](https://github.com/themotion/caddy-bug) in order to reproduce the problem.
With version 0.10.4 when I forced a reload on the browser I was redirected to / and with version 0.10.3

[2017-07-03 15:44] cesarob commented on #1742
After isolating the issue with ember I just did a very dump example with a couple of html files (and index and a second one) and it worked properly.

[code]

It looks ember has something to do in this game...

[2017-07-03 16:08] cesarob commented on #1742
The wrong request as curl

[code]

[2017-07-03 16:19] mholt commented on #1742
Hey, thanks for the detailed report and replication instructions!

It's a big holiday in the US tomorrow so I'm offline for a bit. But quick question, is `/rentals/grand-old-mansion` a directory or a file on disk?

[2017-07-03 16:42] mholt commented on #1741
Thanks @kyhwana for the report! As the docs state, we only support major browsers. Trying to support every HTTP client, especially ones where User-Agent headers can be easily changed (and more frequently are than in browsers) makes this a huge maintenance burden. We'd have to keep up to date with the configuration of Python's TLS stacks. (I am hesitant to even add support for the Go net/http packa

[2017-07-03 16:42] #1741 closed

[2017-07-03 21:11] jrobeson commented on #1460
I saw https://github.com/mholt/caddy/issues/1736 and made me wonder if this feature did work in the past and perhaps was broken later?

NOTE: I don't think (or have any clue) that #1736 is related, but it did inspire the question.

[2017-07-04 07:17] cesarob commented on #1742
It is not. There is just one .html the index.html.

[2017-07-04 07:21] ubergesundheit opened #1743 "rewrite with regexp stopped working in 0.10.4"
### 1. What version of Caddy are you using (`caddy -version`)?
0.10.4 on linux 64 bit

### 2. What are you trying to do?
Use this rewrite
[code]

### 3. What is your entire Caddyfile?
https://github.com/sensebox/osem-caddy/blob/master/vhosts/opensensemap.enabled

### 4. How did you run Caddy (give the full command and describe the execution environment)?
Caddy is running in docker image derived fr

[2017-07-04 08:07] twdkeule opened #1744 "Push not working when surfing to website root"
### 1. What version of Caddy are you using (`caddy -version`)?
Compiled from master branch
(I am using the latest Chromium).

### 2. What are you trying to do?
I'm trying to push resources when a client browses to the homepage. However nothing is pushed when surfing to https://foo.bar, only when surfing explicitly to https://foo.bar/index.html

### 3. What is your entire Caddyfile?
[code]

### 4.

[2017-07-04 08:12] twdkeule commented on #1744
Also noticed:
when the client surfs to https://foo.bar/index.html, the server responds with a 301: moved to / Causing the client to request /, but only after all pushed resources have been sent, causing a significant delay

[2017-07-04 12:40] midzer commented on #1744
I think i can confirm this one

[2017-07-04 14:42] tw4452852 commented on #1743
I think the final redirection comes from static file server:

At first, your request URL is `https://opensensemap.org/explore/57946712d0a5af1100ccd9d3`, after rewrite middleware, it turns into: `https://opensensemap.org/index.html`. Finally it comes into static file server, obviously this URL points to index file, so static file server strips the file part and gives a redirection to `/`.

I think

[2017-07-04 17:19] mholt commented on #1743
Yep, this is actually a bug _fix_. And a duplicate issue. ;) See #1737 and #1732 for instance. Thanks!

[2017-07-04 17:19] #1743 closed

[2017-07-04 17:23] mholt commented on #1744
@twdkeule

That's intended; see #1743 and #1737 for more information.

Regarding push, the path checking probably doesn't consider index files to be specified like that. I'll have to think about a good way to handle it.

[2017-07-04 17:24] ubergesundheit commented on #1743
thanks

[2017-07-04 19:50] jeffling opened #1745 "UNIX time stamp for `when`"
http://help.apm.scoutapp.com/#request-queuing

Hi, this monitoring package we use requires that we have use a unix timestamp in the header.

https://caddyserver.com/docs/placeholders

seems to imply we only have ISO and "Human Readable" formats right now. Are there any plans to allow users to set the timestamp format?

[2017-07-04 20:08] mholt commented on #1745
Not as yet, but we can add it to our list! This should be fairly easy. `when_unix` maybe?

[2017-07-04 21:22] neilstuartcraig commented on #1738
@lbguilherme - Just to be sure i'm not causing confusion here :-)...i'm "only" asking for the facility to manually specify (multiple) TLS session secret key files, i'm not asking for Caddy to synchronise these between servers - that would be difficult to do well and in a way which would work for everyone (though people could conceivably use e.g. an AWS EFS volume mounted on all their servers). Hop

[2017-07-04 21:25] neilstuartcraig commented on #1718
FWIW, i hit this issue too and decided to bin the restart limit for the moment. i don't find it particularly useful anyway in all honesty.

[2017-07-04 21:44] dschissler commented on #1718
Maybe I'm missing something but I think that if the system is continually restarting a vital service so much for whatever reasons then there are worse problems to deal with.

[2017-07-04 22:18] jeffling commented on #1745
@mholt that would work perfectly :)

[2017-07-04 23:22] sinni800 commented on #619
@mholt I want to use proxy to a backend that will need to get the host used to receive the connection.

Currently I use

[code]

But I want something like

[code]
I basically want to propagate any host header I get. It doesn't strike me as very possible right now but maybe I am overseeing something

[2017-07-05 07:19] twdkeule commented on #1744
I made a quick fix: https://github.com/twdkeule/caddy/commit/b3c075d4236bdfd120da58f5be14cf17b2911d30
It is a bit hardcoded, but as far as I know the /index.html case should be the only one.

[2017-07-05 20:22] sbuller commented on #1241
This message has been making a mess of my log files, drowning anything else that /might/ be in there. It looks like in my case the message is caused by HAProxy's health checking. I've now changed HAProxy's health check method from SSL to Basic which will just check whether it can create a basic socket connection instead of looking for an SSL endpoint. I don't know if any of that makes a difference

[2017-07-05 20:43] mholt commented on #1241
@sbuller These error messages come from the Go standard library; you will probably have to take up an issue there if you want it to change.

[2017-07-06 00:54] elfurbe commented on #1401
Since it evaluates the path as relative to root, you can strong-arm this config directive by using a series of `../../` prefixes in front of the actual location, ie:

[code]

As long as the user caddy is running under can see whatever location you hand it, it works fine. Obviously if you move the location of root, the htpasswd location might have to change as well. It's not pretty, but it solves t

[2017-07-06 02:31] diazona opened #1749 "Requesting dynamic client-side redirects"
I'm making this feature request to consolidate previous requests for dynamic redirects, by which I mean the ability to issue client-side redirects (HTTP 3xx status codes) based on matching the URL to a pattern - presumably a regular expression - not just a fixed string. `redir` already issues client-side redirects but cannot match a URL pattern, whereas `rewrite` can match patterns using regular e

[2017-07-06 06:05] mholt commented on #1701
@si14 Any update on this? Closing for now, as I assume this is fixed.

[2017-07-06 06:05] #1701 closed

[2017-07-06 06:39] watermelonjuice commented on #1729
https://go-review.googlesource.com/c/47553/

[2017-07-06 06:45] astei commented on #1749
I've actually been looking to implement this feature, so I'm going to consider giving this a go.

[2017-07-07 13:37] mholt commented on #54
FYI, there is now a [grpc plugin](https://caddyserver.com/docs/http.grpc) that may do what you're looking for.

[2017-07-07 13:38] mholt commented on #358
This is now implemented with a plugin: https://caddyserver.com/docs/http.gopkg

[2017-07-07 15:53] zikes commented on #1463
I gave the Header policy a go at #1751. I would also like to implement Cookie, but I ran into some difficulties with that. In the nginx implementation, if the cookie is not present then nginx will generate the cookie and return it on the response. Unfortunately the response is currently not available in the `Policy.Select()` method, which is where this would need to happen.

A somewhat inconvenien

[2017-07-07 22:22] mholt commented on #1463
Conveniently, I'm rewriting that part of the proxy middleware right about now. I will take this into consideration! For my reference, what is the value of the cookie set to?

[2017-07-07 22:27] zikes commented on #1463
Offhand I can't find any documentation on what value nginx sets the value to. Since it's hashed any vaguely unique and random value would work, so maybe a UUID?

[2017-07-08 15:08] tobya commented on #1745
fixed in #1748

[2017-07-08 15:08] #1745 closed

[2017-07-08 17:29] tobya opened #1755 "Preset for LetsEncrypt staging url"
I'm just starting a discussion to see if this is something we would like to do.

I have been spending a bit of time recently using the staging environment for lets encrypt, which involves doing this

    caddy -ca https://acme-staging.api.letsencrypt.org/directory

now I'm pretty organised and use [ditto](http://ditto-cp.sourceforge.net/)  to store my clipboard copies and so always have the url on

[2017-07-08 17:56] francislavoie commented on #1755
FWIW, you could just put this in your Caddyfile now (since https://github.com/mholt/caddy/pull/1699) and comment it out when you don't need it:

[code]

But I agree this would be useful

[2017-07-08 18:15] zuohuadong opened #1756 "hook.pluginloader is error"
### 1. What version of Caddy are you using (`caddy -version`)?
0.10.4

### 2. What are you trying to do?
[code]

curl: (22) The requested URL returned error: 500

[2017-07-08 18:31] abiosoft commented on #1756
The documentation for [Plugin Loader](https://caddyserver.com/docs/hook.pluginloader) clearly stated that it is not compatible with Caddy's build server yet.

However, you can follow the instructions on the project page to install it.

Firstly install caddyplug.
[code]
Then use caddyplug to install caddy and other plugins as demonstrated in [this video](https://www.youtube.com/watch?v=uKSgHhh6-rA)

[2017-07-08 18:31] #1756 closed

[2017-07-08 20:01] mholt commented on #1755
True, but certbot is specifically a Let's Encrypt client; Caddy is designed to be compatible with other ACME servers, not just Let's Encrypt.

And soon, Let's Encrypt will have a v2 endpoint, which may (or may not) have a different staging endpoint.

I think having a special value here will be too ambiguous.

[2017-07-08 20:35] #1755 closed

[2017-07-09 08:20] tobya commented on #1744
@twdkeule Thank you for the fix, however we need to be careful making any assumption about what file is the index file.  It can be anything really though in reality will most often be index.html.  You can get access to the current index file in middleware.go
https://github.com/mholt/caddy/blob/133ed1837409296aed944ca7c18962ae9d80be70/caddyhttp/httpserver/middleware.go#L105

[2017-07-10 01:03] klebervirgilio commented on #1733
@mholt @elcore  Hey there!! I'd love to help. Do you guys I can implement the default value for `IdleTimeout`? If so, would be awesome if u guys could point me in the right direction to get this done. :)

[2017-07-10 03:29] codeskyblue commented on #107
Why not use SIGHUP signal, I know nginx use SIGHUP for hot reload signal.

[2017-07-10 04:59] abiosoft commented on #1733
I am in favour of this. +1

[2017-07-10 05:14] mholt commented on #107
@codeskyblue Because Caddy doesn't "hang up" when doing a reload. :wink:

[2017-07-10 05:24] mholt commented on #1733
@klebervirgilio Sure, go for it! It might be as simple as setting a field in `defaultTimeouts` [here](https://github.com/mholt/caddy/blob/9ad96b33ff3dfebd1fc9740147a8a3d5e6b45124/caddyhttp/httpserver/server.go#L455). Make sure to test it yourself and then write a test in the server_test.go file to verify it works. The test should fail without your change!

[2017-07-10 18:54] pwFoo commented on #199
@lucafavatella
Nice, I'll take a look into it soon :)

[2017-07-10 20:42] mholt commented on #1463
Hm, yeah, the nginx blog just describes the cookie describing which server handled it "in an encoded fashion" - but NGINX Plus is closed source so I am not sure we can inspect. We could choose some innocuous value that won't reveal anything secret about the infrastructure.

[2017-07-10 20:48] mholt commented on #1744
Great point, Toby. I'll continue to review the PR (with anyone's help if they would like to).

[2017-07-11 04:45] codeskyblue commented on #107
@mholt perfect answer

[2017-07-12 02:48] unquietwiki commented on #1718
I ended up writing my own systemd service a few days ago; and that was before finding the default one elsewhere on the site.

* Ubuntu 16.04.2 LTS, installed as  **/etc/systemd/system/caddy.service**
* Created a user with **useradd -m caddy**
* Using /etc/default/caddy as my config file: seems to be in keeping with how to edit services on Ubuntu and RHEL/CentOS.

[code]

[2017-07-12 03:25] nicolasazrak opened #1758 "Cannot register custom directive"
After developing my plugin using `RegisterDevDirective` I want to make a pull request to get it published. I added it to run.go like the docs say (https://github.com/mholt/caddy/wiki/Extending-Caddy) in https://github.com/nicolasazrak/caddy/commit/2f29d154b10ee04fdf32bd7e40ee3e0a496dbeae but after compiling ok it does not recognize the cache directive.

Am I doing something wrong? Something I have

[2017-07-12 07:06] mholt commented on #1758
Huh, that _should_ work. What is the output of `caddy -version`? Are you absolutely sure you're in the folder of your fork?

[2017-07-12 12:16] nicolasazrak commented on #1758
I finally resolved it. When forking a go repo every import get broken. As imports are absolute my fork was importing the original code and not my fork code. So any change I made was not compiled.

[2017-07-12 12:16] #1758 closed

[2017-07-12 12:50] denniskaselow commented on #1742
I just upgraded to 0.10.4 from 0.9.5) and I've got a similar issue with a single page Angular application.

With this config
[code]
I get 301 for every path and for index.html. Accessing other files (containing `.`) still works. The result is that my site is no longer working because of too many redirect errors in the browsers. Commenting out that code and my site works again (except for the wante

[2017-07-12 12:57] denniskaselow commented on #1742
I should have read the closed issues. https://github.com/mholt/caddy/issues/1737#issuecomment-312294705 solved my issue.

Might also solve @cesarob issue by changing

[code]
to
[code]

[2017-07-12 19:47] gregmac opened #1761 "Log example in documentation has incorrect rotate_compress line"
The documentation at https://caddyserver.com/docs/log shows the example:

[code]

This example should actually have the last line as `rotate_compress gzip`

[2017-07-12 21:07] tobya commented on #1761
@gregmac  Thanks for the issue.  If you wanted we would be delighted with a PR to https://github.com/caddyserver/website on the log file
https://github.com/caddyserver/website/blob/master/site/docs/log.html

[2017-07-12 21:52] gregmac opened #1762 "Add support for {upstream} in headers"
The `{upstream}` placeholder only works in log files, but it would be useful for debugging if it could be added to response headers, for example:

    header_downstream X-Backend {upstream}

[2017-07-12 23:16] mholt commented on #1761
Hi @gregmac - are you sure? [It is a boolean value, not a string](https://sourcegraph.com/github.com/mholt/caddy@95366e41c464ce8e7d05d32e7df75e1b26906541/-/blob/caddyhttp/httpserver/roller.go#L76-77).

[2017-07-13 00:13] MagicInventor opened #1763 "errors visible+gzip = ERR_CONTENT_DECODING_FAILED"
### 1. What version of Caddy are you using (`caddy -version`)?

Caddy 0.10.4

### 2. What are you trying to do?

Try to see PHP errors in caddy.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
caddy

### 5. Please paste any relevant HTTP request(s) here.

https://l0y.us/4b40a.png

### 6. What did you expect

[2017-07-13 04:21] gregmac commented on #1761
@mholt With Caddy 0.10.4, when I put that line in as-is, I get the error:

    Parse error: Wrong argument count or unexpected line ending after 'rotate_compress'

and caddy exits with code 1.

[2017-07-13 04:29] gregmac commented on #1761
@mholt Ah, I think I see what's happening. It's treating that directive the same as all other logrotate directives -- assuming they have an integer-type value -- but explicitly ignores the integer conversion error: https://github.com/mholt/caddy/blob/bf7b25482ede58728589b5b0868b294db48cbcdf/caddyhttp/httpserver/roller.go#L65

So I'm pretty sure basically *any* value will cause it to work, as long

[2017-07-13 07:45] ZeekoZhu commented on #1557
I got the same problem with caddy 0.10.4 in docker
I fixed it by running caddy on host directly, but I know that is not a good solution...

[2017-07-13 11:29] mholt commented on #1761
Ah, this is a bug then! Must have been missed by the tests. I wonder if @fern4lvarez would have a chance to help us fix it.

[2017-07-13 11:43] fern4lvarez commented on #1761
Not sure if there was a follow-up of https://github.com/mholt/caddy/pull/1731, but the implementation states that if you want to compress logs, you just specify

[code]

No type, no additional values. This is how the tests were written, and passed. So I don't know why we are saying this part of the documentation is a bug, or this https://github.com/caddyserver/website/pull/28 merged.

Now, if we *

[2017-07-13 12:04] tobya commented on #1761
@fern4lvarez I think as per @gregmac comment and my own testing on 0.10.4 if you do this

    log / file.log {common} {
      	rotate_size     1
	rotate_age     1
	rotate_keep     1
	rotate_compress
    }

you get an error `Parse error: Wrong argument count or unexpected line ending after 'rotate_compress' ` if you include `gzip` (or anything it seems) after `rotate_compress` they you do not get a

[2017-07-13 13:13] fern4lvarez commented on #1761
@tobya that's weird, because that's almost exactly of what is being tested here https://github.com/mholt/caddy/blob/master/caddyhttp/errors/setup_test.go#L88

If no one has a quick idea for a fix, I can book some time and find a solution for this.

[2017-07-13 16:19] mholt commented on #1761
@fern4lvarez I think the problem is -- and it's my fault for not catching this -- the test has all the subdirectives on the same line, which should really be a syntax error. Each subdirective must be on its own line. Would you have a chance to update the tests and make the fix in the parser? I'm swamped with proxy rewrite for now, and we'd really appreciate it. :smile:

[2017-07-13 16:24] jovandeginste opened #1764 "Add support for conditions in errors"
### 1. What version of Caddy are you using (`caddy -version`)?
Caddy 0.10.4

### 2. What are you trying to do?
I have a Caddy server serving error pages, in case the actual server is gone (for whatever reason). This is easy. However, sometimes the real server is gone because of planned maintenance. It would be useful to me if we could also plan the error page accordingly.

Basically, default error

[2017-07-13 16:39] jovandeginste commented on #1764
I just found a way around this. Maybe everyone knew this already, but for anyone not knowing, this is my solution:

[code]

I can not find any way to specify time ranges - I suppose this is not implemented yet?

[2017-07-13 16:40] mholt commented on #1764
Interesting idea, thanks for the feature request! I'll consider it.

[2017-07-13 16:42] jovandeginste commented on #1764
@mholt my above solution does not work since any existing files in `./sites/example.net/` are not served (but also redirected). Is there a way to rewrite non-existing paths only? I need css, jpg, ... to be served in my beautifully styled maintenance page :-)

[2017-07-13 16:46] jovandeginste commented on #1764
@mholt Obviously, making `if ...` commands possible inside the `errors` stanza would probably fix the whole thing

[2017-07-13 16:53] jovandeginste commented on #1764
(I can obviously add any number of extra conditions to the `rewrite` stanza, like this:)

[code]

[2017-07-13 23:41] mholt commented on #1763
Hi, I can't reproduce this with just `errors visible` and `gzip` in the Caddyfile. These two middlewares play well together (as far as we know). I suspect the PHP backend is doing something funky with compression when there is an error. Is roundcube doing any gzip? (And how do you know?)

[2017-07-13 23:43] mholt commented on #10
Very happy to close this with the near release of the http.cache plugin. :tada: https://github.com/nicolasazrak/caddy-cache

[2017-07-13 23:43] #10 closed

[2017-07-13 23:49] mholt commented on #1762
I have a hunch; we set the `{upstream}` placeholder [here in proxy.go](https://github.com/mholt/caddy/blob/ba1132214e29fc9a47ad012cc6584b691d01adf4/caddyhttp/proxy/proxy.go#L165) for the Replacer on the ResponseWriter, but we use [a separate Replacer for the proxy itself](https://github.com/mholt/caddy/blob/ba1132214e29fc9a47ad012cc6584b691d01adf4/caddyhttp/proxy/proxy.go#L104) -- maybe we should

[2017-07-13 23:49] mholt commented on #1718
Closing, since there is a PR open that seems to relate to this.

[2017-07-13 23:49] #1718 closed

[2017-07-13 23:50] mholt commented on #1742
^ I was wondering that. Thanks for clarifying, Dennis. Will close now, assuming that to be the same problem.

[2017-07-13 23:50] #1742 closed

[2017-07-14 01:23] kostrse opened #1765 "Support certificates from Windows Certificate Store"
Would be great to have support for Certificate Store for storage of TLS certificates on Windows.
It would make managing secrets on machine much easier.

As I understand this is not supported now but potentially can be implemented via pluggable certificate manager (#860).

Is this on radar for implementation (as first-party or third-party plugin), or maybe someone could share any insight on it?

[2017-07-14 08:07] tobya commented on #1722
@tht Are you restarting the php fastcgi server on a regular basis? There is an env variable  PHP_FCGI_MAX_REQUESTS  which defaults to 500.  PHP fastcgi will terminate when it reaches this number of requests.  On linux systems this seem to then respawn, this doesnt happen on windows.

You need some mechanism to restart fast-cgi server reguarily - this is not a caddy issue.

I'm not sure if this is

[2017-07-15 08:10] goodforever opened #1766 "undefined: Context undefined: ServerListener"
go build caddy.go  (go version go1.8.3)
./caddy.go:78: undefined: Context
./caddy.go:81: undefined: ServerListener

[2017-07-15 08:15] elcore commented on #1766
Caddy binaries have no dependencies and are available for every platform. Get Caddy any one of these ways:

Download page allows you to customize your build in the browser

Latest release for pre-built, vanilla binaries

go get to build from source: go get github.com/mholt/caddy/caddy (requires Go 1.8 or newer)

[2017-07-15 08:15] #1766 closed

[2017-07-15 09:01] goodforever commented on #1766
where is the run file after build?

[2017-07-15 13:27] mholt commented on #1766
Go get will put the binary in $GOPATH/bin; if you use `go build` or this repo's `build.bash` then it'll be in the current folder.

[2017-07-17 06:57] xuqingfeng opened #1768 "Replacement for caddydev"
Since [caddydev](https://github.com/caddyserver/caddydev) is no longer there, how can I test custom plugin easily(without modifying caddy's source code)?

[2017-07-17 07:31] myReaper opened #1769 "Log Privacy"
Hi,

i just add this directly as "feature request" as I can't find any option for this in the documentation :-)

For privacy reasons it is crucial to strip the last or the last two octets of an IP address in the access.log . I'm currently using the "{combined}" format to log my websites and can't find any option in the documentation to strip them.

I think this is also mandatory for many caddy use

[2017-07-17 14:01] gabormarinov commented on #176
@slightfoot is there any news on uwsgi protocol support?

[2017-07-17 15:24] tht commented on #1722
Thanks for your feedback @tobya. I don't think a fastcpi server is involved in my system. I forward http requests to OwnCloud 10 running in a docker container.

My issue seems related to http/2 as I can't reproduce it using a browser behind a corporate proxy which only talks http/1.1. I often receive a 502 error when connecting using Safari, Chrome oder Edge. Pressing reload in the browser repeate

[2017-07-17 16:21] mholt commented on #1722
@tht Can you open a separate issue? I think it's probably different if yours isn't a fastcgi problem. (And issue 1375 doesn't have anything to do with proxying, really.)

[2017-07-17 16:57] tobya commented on #1722
@tht your common.conf includes the fast-cgi directive so I thought it might be one possible issue.  It may not be relevant

[2017-07-17 18:38] francislavoie commented on #1769
I think adding an additional replacer as an alternative to `{remote}` would be the solution here. Maybe something like `{remote_private}`? That way you can just specify the log format by hand, for example:

[code]

[2017-07-18 06:28] tht commented on #1722
Thanks guys, I'll try to reproduce this issue and open a separate issue.

[2017-07-18 13:50] mholt commented on #1768
Good question - there's not a replacement at this point; we might work on one in the future but right now, all you have to do is modify one line of code. That is much easier than installing and maintaining a separate program to do that for you. I know that @abiosoft is experimenting with https://github.com/abiosoft/caddyplug. But otherwise, I recommend just editing the file by hand for now.

[2017-07-18 13:50] #1768 closed

[2017-07-18 17:00] watermelonjuice opened #1771 "rotate_compress documentation needs updating"
I have followed the log documentation here: https://caddyserver.com/docs/log and added the following to my Caddyfile:

caddy is throwing the following error:

[2017-07-18 17:16] mholt commented on #1771
Thanks for reporting, but I think this is a duplicate of #1761.

[2017-07-18 17:16] #1771 closed

[2017-07-18 19:44] myReaper commented on #1769
I'm no programmer, so I can't tell you what code-vise the best option would be :-)

Just from a user perspective, it would be great to still use the {combined} option and maybe just set an additional parameter like "anonymize-ip 1".

With the option to set 0 (default, for logging all octets) to 4 depending on how many octets i would like to anonymize (1 for 123.123.123.0, 3 for 123.0.0.0)

[2017-07-18 20:32] groob opened #1772 "proxying http2 explicitly"
### 1. What version of Caddy are you using (`caddy -version`)?

Caddy 0.10.4

### 2. What are you trying to do?
Proxy a grpc client connection to a grpc server without using the grpc package.
Because grpc is http2 this should "just work". However, no matter what I try, http.Transport always tries to use an http1 RoundTripper, and causes a malformed response error. http2.ConfigureTransport doesn't

[2017-07-18 23:07] dmke commented on #1769
Please note that for IPv6, the last two octets are not enough to get satisfying results. To quote this [SO answer](https://stackoverflow.com/a/6098698/766783):

Based on the suggestion, I propose the following config block options:

    log path file [format] {
      rotate_...
      anonymize-v4    number-of-bits   # 0..32
      anonymize-v6    number-of-bits   # 0..128
    }

This could relative

[2017-07-19 02:04] goodforever opened #1773 "Can the caddy service deploy on two or more node in docker swarm mode ?"
If it could ,How to get Certificates and keys  for   two IP address (run the same caddy service) ?

[2017-07-19 09:26] tobya commented on #1769
Excuse my ignorance in this debate, but is it simply possible to leave out the ip address from the logs entirely or do you need the anonymized IP address for some reason?

[2017-07-19 09:39] myReaper commented on #1769
I think the {combined} format is standardized (or like-standard) so many tools (like GoAccess, Webalizer, ... ) can directly use/parse this format without the need to configure them a special syntax of your log file.

Also it might be interesting to even just have the first two octets instead of none for statistic reasons.

[2017-07-19 09:54] tobya commented on #1769
The IP address can be left out and `-` inserted and should still be able to be read by Log analysis software.

Otherwise if we are to implement it,

My view would be we should keep it as simple as possible.

`{remote_anon}` should be the industry standard anonymous IP without configuration options

perhaps 231.234.XXX.XXX  or whatever is the standard then

`{combined}` would remain the same but `{

[2017-07-19 10:25] dmke commented on #1769
The beauty of a bitmask is, that by setting it to 0, *no anonymization* takes place, and we wouldn't need `{remote_anon}` and/or `{combined_anon}` replacements.

This is a legislative problem, not a technical one. There simply cannot be a "standard" value (except maybe "don't log the remote address at all").

[2017-07-19 15:31] malikimprowised opened #1774 "how to remove caddy service completely from linux"
### 1. What version of Caddy are you using (`caddy -version`)?

### 2. What are you trying to do?

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

### 5. Please paste any relevant HTTP request(s) here.

### 6. What did you expect to see?

### 7. What did you see instead (give full error messages and/or log)

[2017-07-19 15:40] elcore commented on #1774
We need more information from you!

P. S. : You should ask this question at https://caddy.community

[2017-07-19 16:28] #1774 closed

[2017-07-20 10:40] twdkeule opened #1776 "Caddy pushes in incorrect order"
### 1. What version of Caddy are you using (`caddy -version`)?
master

### 2. What are you trying to do?
use server push

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
`$GOPATH/bin/caddy -http2=true`

### 6. What did you expect to see?
The server should first respond to the original request (200 header, pu

[2017-07-21 00:22] #1761 closed

[2017-07-23 04:45] giuem commented on #1575
It's a nice feature. Currently I still use Nginx mainly because of this.

In Nginx, there is a key called [ssl_ciphers](https://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_ciphers) that can specify the enabled ciphers.

To use ECDSA + RSA key, I set it to `EECDH+CHACHA20:EECDH+CHACHA20-draft:EECDH+ECDSA+AES128:EECDH+aRSA+AES128:RSA+AES128:EECDH+ECDSA+AES256:EECDH+aRSA+AES256:RSA+AES256:EEC

[2017-07-23 06:23] jazoom commented on #1318
Built-in rate limiting would be nice.

[2017-07-24 10:31] twdkeule commented on #1776
The push_promise should be sent before the initial response so the order is correct in Caddy.

[2017-07-24 10:31] #1776 closed

[2017-07-24 18:00] francislavoie commented on #1773
You should probably ask at https://caddy.community/ as this isn't an issue report.

[2017-07-24 18:00] #1773 closed

[2017-07-24 20:00] #1744 closed

[2017-07-24 20:06] mholt commented on #1776
@twdkeule By the way, if you have in fact verified this claim:

Then perhaps it is worth opening an issue with Go about this. I'm under the impression that Push() only sends PUSH_PROMISE frames, not necessarily pushing the data (content) of the promise immediately. I'd have to dig deeper, but from reading the spec and docs, it seems to be just a promise that the data will be sent; that the stream

[2017-07-24 22:17] mholt commented on #1460
@jrobeson We've merged the revert into master, if you want to build and try again!

[2017-07-24 22:17] #1736 closed

[2017-07-24 22:18] mholt commented on #1722
If this _is_ a bug in fastcgi, then it might very well be fixed by the revert we merged recently (see linked issue above). Closing for now!

[2017-07-24 22:18] #1722 closed

[2017-07-24 22:19] mholt commented on #1736
Thanks Abiola. Always a refreshing thing to have your contributions, which make possible things I couldn't do on my own. :smile:

[2017-07-24 22:20] mholt commented on #1733
@klebervirgilio Any update on this? We're almost ready to push out the next version of Caddy.

[2017-07-25 13:29] casipw opened #1778 "fastcgi.index works only with http.root"
### 1. What version of Caddy are you using (`caddy -version`)?
Caddy 0.10.4

### 2. What are you trying to do?
Running caddy with php-fpm. I'm going to isolate some services, so there is no shared caddy root.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
Via systemd. I'm going to put it into a jail, so do

[2017-07-25 14:05] fern4lvarez commented on #1761
thanks @tw4452852! I was totally lacking of time for this, gotta love OSS :heart:

[2017-07-25 16:06] tobya commented on #1769
This seems to me like something that could be a 3rd party plugin if anyone was interested in implementing it.  It may however run into similar issues as #1542 with getting access to the replacer from the correct context.

If someone could look at a creative solution to that problem it would make plugins that modify  placeholders able to be implemented.

[2017-07-25 16:48] tobya commented on #1778
Hi @casipw Thanks for the detailed issue.  I can recreate this issue.

The code seems to be correctly assigning the root but it is not matching the index file as you have stated, however I'm not sure if we want this to happen as the docs suggest that in some instances the fastcgi server will be running on another server.

Perhaps @mholt could provide some clarity on what should happen in this situ

[2017-07-25 16:54] mholt commented on #1778
I'm heading out the door but I'll ping @abiosoft for his thoughts on it too!

[2017-07-25 18:38] klebervirgilio commented on #1733
@mholt Sorry for the delay! will work on this asap!

[2017-07-25 22:38] casipw commented on #1778
@tobya I'm putting caddy and some services (one of it being a php-fpm instance) into [Firejails](https://wiki.archlinux.org/index.php/Firejail). Caddy and each service have their own chroot-jail (like /srv/caddy, /srv/sub). I saw no need for a `http.root` directive, because that directory would conceptually belong to caddy and not to php-fpm. Some custom fastcgi services might not even need a root

[2017-07-26 00:09] Stonedestroyer commented on #1639
Would this be implemented as well? https://github.com/mholt/caddy/issues/606 considering it pertains to the proxy plugin.

[2017-07-26 01:52] mholt commented on #1639
@Stonedestroyer Yes, I think it definitely could be.

[2017-07-26 09:44] twdkeule commented on #999
Using `RegisterProtocol("quic", &h2quic.QuicRoundTripper{})` does not work for me.

[2017-07-26 09:49] slightfoot commented on #999
@twdkeule Did you remove the conditional check here?
https://github.com/mholt/caddy/blob/master/caddyhttp/proxy/upstream.go#L152

[2017-07-26 09:53] twdkeule commented on #999
Yes, I think so.
But it seems using `http.Transport` didn't work. However I used 'h2quic.Roundtripper' directly and that worked (with some scheme changing). See #1782

[2017-07-26 10:05] slightfoot commented on #999
@mholt Perhaps this is another issue. Doesn't QUIC force HTTP/2. which also users Trailers?

[2017-07-26 13:26] casipw commented on #1778
After sleeping a night to think about it, things seem clearer to me.

* My PHP application does not need any static assets. (Otherwise I had seen the need for a `http.root` to put them there.)

* If the URL ends with `.php`, caddy doesn't check for the existence of that file and thus doesn't need read access to any php files.

* If the URL doesn't end with `.php`, caddy looks for an index file ("m

[2017-07-26 15:40] slightfoot commented on #606
I might take a stab at this one. Since I needed similar functionality myself recently.

[2017-07-26 16:56] mholt commented on #1733
@klebervirgilio Sounds good! Let me know if I can help, I want to get a release out... tomorrow, I think.

[2017-07-27 12:45] casdr opened #1783 "BasicAuth PAM"
It would be nice to be able to use PAM as an BasicAuth provider.

Example for nginx: https://github.com/sto/ngx_http_auth_pam_module

[2017-07-27 22:01] #1733 closed

[2017-07-27 22:03] mholt commented on #1733
@klebervirgilio Sorry, but I just went ahead and did it today; as it is an important part of today's release. However, there's plenty of work to do, and I hope you will contribute on another issue!

[2017-07-28 01:48] TooYoungTooSimp opened #1785 "Change Markdown provider blackfriday to blackfriday.v2"
According to caddy's markdown provider blackfriday [there](https://github.com/russross/blackfriday/tree/v2#versions)

So could you consider migrating caddy's markdown engine to blackfriday.v2 ?

[2017-07-28 08:05] Rurik19 opened #1786 "v0.10.5 runtime error"
For fastcgi sites i get
[code]
php7 , connected by sock, architecture armhf7

[2017-07-28 11:18] Flameborn opened #1788 "linux arm: Invalid memory address or null pointer dereference panic when using fastcgi"
This is via vanilla Caddy 0.10.5 on a Raspberry pi 3 (arm v7), running a 32 bit Arch linux. Earlier versions, such as 0.10.4 work fine.

PHP version: 7.1.7

When using FastCGI with php-fm, Caddy generates an Internal server error (http 500). Additionally, a panic is logged:

[PANIC /] /usr/local/go/src/sync/atomic/asm_linux_arm.s:109 - runtime error: invalid memory address or nil pointer dereferen

[2017-07-28 11:36] abiosoft commented on #1788
Can you enable error logs and share the log output.

[2017-07-28 12:03] Rurik19 commented on #1788
duplicate of https://github.com/mholt/caddy/issues/1786

[2017-07-28 13:55] Flameborn commented on #1788
@abiosoft Other than the panic, nothing else is logged.

[2017-07-28 14:00] abiosoft commented on #1788
If that is indeed your entire Caddyfile, you need to add the following line to see error logs.
[code]

[2017-07-28 14:03] Flameborn commented on #1788
I did. Other than the panic, which I have posted earlier, nothing else is logged.

[2017-07-28 15:23] abiosoft commented on #1788
What does your php source code looks like. Does it fail for even a basic `echo "Hello world"` ?
Trying to get necessary info to reproduce this.

[2017-07-28 15:27] Flameborn commented on #1788
I put a simple test.php with an echo at the web root and indeed, Caddy panics with it as well.

[2017-07-28 15:33] mholt commented on #1786
Thanks for the report, @Rurik19 - even though this issue was first, the other linked issue has more info and discussion, so I'll mark this as the duplicate and we'll use the other one for it.

[2017-07-28 15:33] #1786 closed

[2017-07-28 15:47] abiosoft commented on #1788
This has been successfully reproduced. A fix should follow.

[2017-07-28 15:59] Flameborn commented on #1788
Thank you very much. Out of curiosity, is this ARM specific?

[2017-07-28 16:11] abiosoft commented on #1788
@Flameborn @Rurik19 Can you build from source? If yes, kindly verify if this patch fixes it.
https://github.com/mholt/caddy/pull/1789
Otherwise, I can produce a binary for you to test.

[2017-07-28 16:24] sundbry opened #1790 "Suggestion - Raise the default timeout in Caddy's graceful shutdown"
### 1. What version of Caddy are you using (`caddy -version`)?
Caddy 0.10.4

### 2. What are you trying to do?
Use Caddy as a Kubernetes ingress controller & load balancer

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
Running via https://github.com/wehco/caddy-ingress-controller

 `/usr/bin/caddy -conf /e

[2017-07-28 16:27] mholt commented on #1790
Hi, thanks for filling out the issue template. Can you also show the full process logs before and after the reload? (Run caddy with `-log ...` to get a process log written somewhere.)

[2017-07-28 16:35] sundbry commented on #1790
Sure, give me some time to reset and collect, and I'll get a comprehensive log.

[2017-07-28 17:15] slightfoot commented on #606
Reference:

[2017-07-28 17:15] mholt commented on #1785
I'm definitely looking at that, but I want to wait until the API is a little more stable. Looks like it's still fluctuating a bit (from that readme), and wait until more of the bugs are ironed out. I'm anxious to switch, though; the current v1 isn't lint-compatible.

[2017-07-28 17:35] Flameborn commented on #1788
It still breaks for me, however it is possible that ‘go get’ is not updating my packages properly, via the -u flag.

[2017-07-28 17:35] mholt commented on #1788
You'll have to checkout the branch with the fix and build that.

[2017-07-28 17:43] abiosoft commented on #1788
You may need to `rm -r $GOPATH/src/github.com/mholt/caddy` if it exists. Then do the following.
[code]

[2017-07-28 17:43] Flameborn commented on #1788
Confirmed, this works here. Thank you very much!

[2017-07-28 17:46] Flameborn commented on #1788
Thank you! It took me a while 🙁

[2017-07-28 17:52] mholt commented on #1788
Excellent! No problem @Flameborn, I really, really appreciate that you confirmed it! Will issue a release soon.

[2017-07-28 17:53] #1788 closed

[2017-07-29 06:55] abiosoft commented on #1778
This is a bit tricky, the root fileserver needs to be aware there are other places to look for files.
And I do not think it is limited to index files, any file that is not in http.root will give a 404, even if it is present in fastcgi.root.