[2015-07-28 19:32] #162 closed

[2015-07-28 19:51] mholt commented on #167
@jpoehls Sorry for my confusion. I had a chance to try out your gist, now I see what you mean. Do you think a "not" command for proxy, being able to exclude certain paths (space-separated), would be able to satisfy this common request?

[code]

How useful would this be?

[2015-07-28 20:09] jpoehls commented on #167
Yep, I think that would address my needs. My setup is super simple. Proxy everything to X while also serving static files directly. `not` seems like a workable solution for that.

I prefer the idea of Caddy supporting the idea of "path specific directives" at a higher level but don't have any specific use case at the moment that requires it.

[2015-07-29 13:29] joelchen opened #205 "Reverse Proxy into Docker containers with Caddy vs Nginx"
Here is my experiment of reverse proxy into Docker containers with Caddy vs Nginx.

Docker gateway IP of 172.17.42.1 is used to achieve it on Nginx, rather than linking other Docker containers with Caddy container, because by linking containers it creates dependency/coupling, if one of my Docker containers crashes, Caddy container will fail to start, and I would like my reverse proxy to be up rega

[2015-07-29 13:54] hdid opened #206 "Adding an option to pickup between 1000 and 1024 (bi) in unit byte"
I'm using caddy for browsing directories and it seems that caddy uses 1000(ⁿ) bytes in calculating files size.
Is it possible that add an option to choose 1000 or 1024 calculation (kibi, mebi, gibi,...) in "browse" mode?

[2015-07-29 14:39] jpoehls commented on #167
If you go the `not` route, it occurred to me this morning that other directives that do proxy-like things should get the same feature. `fastcgi` is what came to mind but there may be others.

[2015-07-29 15:16] mholt commented on #206
Yeah, we can do that.

@pyed What do you think? I ask because you use the browse feature a lot. All we need to do is change the function call here from Bytes to IBytes: https://github.com/mholt/caddy/blob/a585379bbb1876b8c67dbfef844a5b10e6b97e48/middleware/browse/browse.go#L124-L126

Perhaps the template should be able to choose (like with a `HumanISize` function?) or maybe the user's locale from

[2015-07-29 15:33] mholt opened #208 "Forego address lookup when Caddy starts"
Right now when Caddy starts, it attempts to resolve the address to an IP address. If the lookup fails, it falls back to serving it on 0.0.0.0 with a warning (thanks to #164). If it succeeds, it attempts to bind the listener to that address.

As @peterbourgon pointed out in Slack, this can cause a slew of problems in some advanced or harsh network environments.

The suggestion is to forego the addr

[2015-07-29 15:57] mholt opened #209 "Consider a 'catch-all' server block"
Another suggestion from @peterbourgon is to have a way to specify directives that apply to all server blocks declared in a Caddyfile. For lots of servers, using `import` isn't always practical.

The syntax of the Caddyfile forbids directives from appearing outside a server block, but we may be able to do define a special sever name that means its contents will be applied to all other servers. For

[2015-07-29 15:57] pyed commented on #206
I don't see the need of having this as an options, using `IBytes` SGTM ¯\_(ツ)_/¯

[2015-07-30 05:07] mholt commented on #91
@mdwhatcott This is now working on master. Documentation coming to the website soon. @abiosoft has done a great job with it to get something going on this... it will continue to improve over time. Thanks for the suggestion!

[2015-07-30 05:07] #91 closed

[2015-07-30 05:08] mholt commented on #140
Okay, well, this will be available at the next release which is any day now.

[2015-07-30 05:08] #140 closed

[2015-07-30 05:10] mholt commented on #124
I forgot to label this as in progress, but the site was updated and will be deployed soon, so that the placeholder values (variables) are clearly documented. They have their very own page. Thanks for the feedback!

[2015-07-30 05:10] #124 closed

[2015-07-30 05:11] mdwhatcott commented on #91
Nifty!

[2015-07-30 07:30] hdid commented on #206
Thank you for update.

[2015-07-30 16:18] mholt commented on #206
@hdid This is going out today on the next release. Thanks for the suggestion!

[2015-07-30 16:18] #206 closed

[2015-07-30 16:22] mholt commented on #125
@tw4452852 Interesting idea, I will consider it, to see if there's a good way to make this happen. (By the way, I just now realized that your avatar is Totorow. I watched My Neighbor Totorow with my nieces and nephew the other day and really liked the story! One of my favorites.)

[2015-07-30 16:27] evermax commented on #178
I will have a look at it as well. @joshix is it ok with you?

[2015-07-30 23:38] joshix commented on #178
@evermax It is absolutely ok with me. Thank you for taking up the task!

[2015-08-02 23:44] joshix commented on #175
https://caddyserver.com/download:

[code]

This should perhaps be filed against [caddyserver/buildsrv][1], but this issue already exists, so reopening here.

[1]: http://github.com/caddyserver/buildsrv

[2015-08-03 00:42] mholt commented on #175
Ugh. How did this happen. I didn't change anything with the build process or the Go installation.

Looking into it...

[2015-08-03 01:12] mholt commented on #175
Re-built the Go standard library. I see static executables now. Please try again and let me know.

[2015-08-03 01:37] joshix commented on #175
I still get a dynamic linux amd64 binary from https://caddyserver.com/download/build?os=linux&arch=amd64&features= <https://caddyserver.com/download/build?os=linux&arch=amd64&features=>

In fact the exe has the same sha1 (a746fc6a1761df8a7d9548932c7efae6e8884a80) as I reported last back.

Cached somewhere?

When you “see static executables,” where are you looking that’s different from where I’m fe

[2015-08-03 03:17] mholt commented on #175
Oops, you're right. I forgot to clear the cache. * facepalm *

Sorry for all the trouble about this. I'm considering programming a system test that will verify that the output is a static binary and have it run on a regular basis. Hopefully that will help pinpoint what causes them to turn into dynamic executables.

[2015-08-03 03:17] #175 closed

[2015-08-03 03:26] joshix commented on #175
Got it that time.

[code]

[2015-08-03 07:34] joshix opened #211 "Certain markdown + front matter hangs caddy sitegen"
The combination of json "front matter" and markdown shown below results in a hang with 100% cpu use when invoking caddy in a working directory containing [`bad.md`][1]. The `generated_site` directory is not created, requests are not answered.

`Caddyfile`:

[code]

[`bad.md`][1]:
[code]

Sitegen progresses normally if the front matter, or the last line before EOF, is removed.

I have reproduced th

[2015-08-03 15:58] DenBeke opened #212 "Wordpress HTTPS: Too many redirects"
Something strange is happening when I try to enable HTTPS for Wordpress.
I installed all needed dependencies on a fresh FreeBSD installation. Compiled Caddy from source.

I installed Wordpress and then I tried to change site url from HTTP to HTTPS, which yields in a *"too many redirects"* error in the browser.

I have the most basic Caddyfile possible, which doesn't do any redirects. And in Wordpr

[2015-08-03 16:00] mholt commented on #211
I think I've traced this to some unexpected behavior with blackfriday, our Markdown library, when the renderer (which we supply) doesn't write any output for list items. Stand by...

[2015-08-03 17:40] mholt commented on #212
Odd. I can't think of any reason why Caddy would be initiating any redirects with that configuration. This [doesn't appear to be an isolated occurrence](https://www.google.com/search?q=wordpress+redirect+loop). Maybe fiddle with the WordPress config a little bit?

Pinging @thomas4019 - I know it's been a while, but you ran Caddy with WordPress. Did you ever encounter redirect loops?

[2015-08-03 17:49] DenBeke commented on #212
I also suspect Wordpress somehow. But since I'm not really experienced in Caddy I wanted to ask it here.

The redirect loop looks like this:

[code]

[2015-08-03 21:01] DenBeke commented on #212
I have copied the `is_ssl()` function from Wordpress hoping this could reveal the error. Created the following test file:

[code]

**Nginx**
Using Nginx and PHP-FPM on another server this yields (of course for an HTTPS request):

[code]

**Caddy**
Running the same script using Caddy and PHP-FPM it yields this:

[code]

This seems to be causing the redirect, since Wordpress will think an HTTP reque

[2015-08-03 23:17] mholt commented on #212
Holy moly, you figured it out. Thanks! I think the latest commit should do the trick: 8d81ae88dacaf94d0fc70268cb03050a9e3e6bef

Let me know if it doesn't. Should go out on the next release (or you can compile from source to try it now).

[2015-08-03 23:17] #212 closed

[2015-08-04 07:47] DenBeke commented on #212
I just recompiled from source, looks all good!

[code]

And Wordpress works perfectly now!
Thank you!

[2015-08-05 14:18] #208 closed

[2015-08-05 16:40] mholt commented on #178
Merged in afd6b7ea2733cc2b43f99234e5dd9353cd96f0fb - cheers!

[2015-08-05 16:40] #178 closed

[2015-08-06 03:25] redbeard0x0a commented on #199
Here is a very sketchy bit of code that could provide as an example of what is being accomplished. This code was prototyped on a mac, running boot2docker with specifically tagged docker containers. I had to setup extra hostnames in /etc/hosts to match the container tags.

[code]

[2015-08-06 03:32] redbeard0x0a commented on #199
This is from memory, but to follow through this example, there would be some setup to do on your mac. You need boot2docker installed and running.

**Edit /etc/hosts**

127.0.0.1  www.example.com

Make a container that we can 'reverse proxy' into, listening on port 3000 with the url as a part of the tag.

[code]

This would be the command to create the container with the right tag.

[code]

[2015-08-07 00:33] mholt commented on #199
Just wanted to chime in real quick to let you know that you're not speaking into a vacuum. :smile: I am paying attention to this feature suggestion, just traveling the next few weeks. (Anyone with Docker experience is invited to discuss here in the meantime!)

[2015-08-09 21:17] kseistrup opened #217 "Announce Caddy on HTTP/2 implementations"
Caddy ought to announce itself on the [HTTP/2 Implementations](https://github.com/http2/http2-spec/wiki/Implementations) wiki page.

[2015-08-10 12:37] mholt commented on #217
Thanks for the suggestion, but I didn't implement http/2 for Caddy, I just used [bradfitz/http2](https://github.com/bradfitz/http2) which is already on the list.

[2015-08-10 12:37] #217 closed

[2015-08-10 14:08] abiosoft commented on #199
This will make a nice add-on.

If I get this right, the middleware will intelligently detect ip and port of running containers (meeting a filter criteria) and reverse proxy into it (or load balance if multiple).

I'll try looking into this.

[2015-08-10 19:00] brodock commented on #107
I have a similar use-case except that I want to integrate it with Chef outside of docker.
But the whole idea is that a change in machine metadata will trigger chef to recreate Caddyfile and will issue a signaling for reload configuration.

Caddy has the potential to became the "go to" reverse proxy alternative for the DevOps era.
(Thanks for the hard work)

[2015-08-11 04:24] hunter commented on #124
It seems that the functionality has changed since the earlier comment? {host} now appears to include the port. If I do something like `redir https://{host}:8443{uri}` then the browser ends up at https://locahost:8080:8443/uri. Is that now correct behaviour?

[2015-08-11 05:05] mholt commented on #124
Hm, no, I'll look into it. I think Karthic is in the process of writing tests for that code right now, actually. Thanks for the heads up.

[2015-08-11 16:29] mholt commented on #124
@hunter After a closer look, it seems that this is the expected behavior, since {host} just replaces whatever was in the Host header of the request, which may include the port if one was specified. This is counter-intuitive, given that {port} is the client port, which has nothing to do with the Host header. We're looking at changing a few of these around.

[2015-08-12 16:16] Prezto commented on #190
I am experiencing this now too with caddy version 0.7.5. I am a normal user and no dev.

0.0.0.0:9090
root /root/test
log access.log
errors error.log
fastcgi / /var/run/php.sock php
rewrite {
    regexp .*
    ext    /
    to     /index.php?{query}
}

[2015-08-13 05:04] Prezto commented on #190
Nevermind Nixtren. I have finally found out this morning that if i add the user to the group php-fpm all works fine. So for others having the same problem. Add the user that runs Caddy to the php-fpm or hhvm group. Whichever you are using.

[2015-08-13 06:45] Prezto opened #219 "Add Glob type import"
When i wanted to setup Caddy with systemd as a service i noticed that the import gives me the following error when i use "import /etc/caddy/conf.d/" from the file "etc/caddy/caddy.conf".

"Aug 12 15:24:13 localhost.localdomain caddy[24058]: caddy.conf:1 - Parse error: Could not import /etc/caddy/conf.d/* - open /etc/caddy/conf.d/*: no such file or directory"

Maybe this would be a useful feature t

[2015-08-13 09:10] bigtan commented on #212
@DenBeke
In your Caddy file is `127.0.0.1:9000` an apache server virtualname ?

[2015-08-13 09:13] DenBeke commented on #212
@bigtan
`127.0.0.1:9000` is PHP-FPM.

[2015-08-13 12:36] Nixtren commented on #190
Thanks @Prezto for giving out information on how you fixed it :)

[2015-08-13 12:36] #190 closed

[2015-08-13 12:53] Prezto commented on #190
Yes. All files are owned by the user/group hhvm/php-fpm. I have tested with both phpfpm and hhvm and both work fine.

[2015-08-13 15:27] mholt commented on #219
This is a possibility. Is it OK if ordering doesn't matter? (In reality, they would probably be lexically ordered but I'm not 100% sure that's reliable cross-platform.)

[2015-08-14 07:47] Prezto commented on #219
I think ordering does not matter for the server blocks. i cloned the tree to see if i can find a solution in the code myself. It will be my first time with Go.

[2015-08-14 14:04] mholt commented on #219
Cool! Let us know if you have any questions. You can also find us on Slack if you need some pointers (see the contributing file).

[2015-08-22 04:11] markerikson commented on #109
I would love it if Caddy added additional support for some kind of authentication layer.  Our (internal-ish) app currently protects all backend services with a homegrown Python reverse proxy that also connects to an LDAP server for user/pass authentication.  We had to write that ourselves after various deployment constraints forced us to abandon using Apache for those tasks.  I would love it if th

[2015-08-22 06:10] mholt commented on #109
I forgot to update this issue since we rolled out custom builds. @Karthic-Hackintosh, this is a possibility now. Perhaps you and @markerikson could come up with something that is suitable for both of you and the largest possible user base. I'll be happy to provide some feedback along the way. One thing I'd recommend initially is to try to keep it all under a single directive.

[2015-08-22 17:11] kkovacs opened #222 "Suggestion: Command line flag for "browse""
It would be nice to have a command line flag to turn on "browse".

I often use caddy to quickly transfer files from one computer to another, and to have browsing functionality, I have to start it for example:

	echo "0.0.0.0:2015\nbrowse" | caddy

It would be better just to write

	caddy -b

or similar :)

Keep up the good work!

[2015-08-22 20:38] j-mcnally opened #223 "Proxy does not pass hostname / port info to the upstream."
Caddyfile:

[code]

Expected Behavior:
In my rails applicaiton i would expect my `request.host`, `request.scheme` and `request.port` to be that of the browser.
ex. `www.waitlisted.dev`, `https` and `443`

Actual Behavoir
My rails app sees the request as its proxied meaning the request headers are being changed by the proxy.
So i get back `localhost`, `http` and `80`

If anything is unclear i can h

[2015-08-22 20:50] j-mcnally commented on #223
HMM after trying to set this up with nginx, i see it behaves the same, i think this may be my issue.

[2015-08-22 20:54] j-mcnally commented on #223
Ok so in nginx the proper way to do this is

[code]
Is setting proxy header supported in caddy?

[2015-08-23 14:28] mholt commented on #223
Yeah, use proxy_header: http://caddyserver.com/docs/proxy. You can use **request placeholders** to set them to be dynamic values like the host and scheme of the request: http://caddyserver.com/docs/placeholders

[2015-08-23 17:35] j-mcnally commented on #223
Closing for now.

[2015-08-23 17:35] #223 closed

[2015-08-25 00:45] mholt commented on #222
Thanks. I agree it could be even easier to spin up certain features directly from the command line. Will take a look at this!

[2015-08-25 00:51] mholt commented on #205
Hey Joel, thanks for looking into this. You say that the browser is being *redirected* when you use the proxy directive? As in, the browser is getting a 3xx HTTP status code?

[2015-08-25 15:24] kkovacs commented on #222
Thank you, Matt!

[2015-08-26 13:30] Karthic-Hackintosh commented on #109
@mholt  , I shall start working on that and come with a proposal

[2015-08-26 20:13] Prezto commented on #219
Just an FYI. I have been busy with my daily work. So i did not find time and will not have time for at least a week. But i will try to contribute.

[2015-08-28 00:32] amerine commented on #8
@mholt Awesome stuff so far.

[2015-08-30 07:23] tgulacsi opened #227 "Allow use of existing .htpasswd files for Basic Auth"
I have a legacy htpasswd file, I don't know the passwords, just the hashes, and I need to support this.
If nobody opposes, I'll create a PR.

[2015-08-30 16:47] mholt commented on #227
How about if you could put the hashes in the Caddyfile? Would that work? (What kind of hash is it, by the way? Is it always the same for .htaccess?)

[2015-08-30 17:43] tgulacsi commented on #227
See that dreadful md5: https://github.com/jimstudt/http-authentication/blob/master/basic/md5.go#L39
and sha does not have a salt...

So nothing cyptographically sane, just legacy.

[2015-09-03 07:05] Zenithar commented on #199
This feature can be done with docker-template with haproxy, registrator to handle docker events, consul as a container / service registry.

In fact you could replace haproxy by caddyserver, docker-template will fill a default Caddyfile then ask to caddyserver to restart.

Ref:
[Using HAProxy and Consul for dynamic service discovery on Docker](http://sirile.github.io/2015/05/18/using-haproxy-and-co

[2015-09-05 20:12] shazow commented on #222
+1, I was thinking maybe a set of predefined configs that we can call "modes"  or something. Something like:

[code]

I suspect there will be at least a few common scenarios that people will want, but browse is probably the most common indeed.

[2015-09-05 20:25] mholt commented on #222
^ That's a good idea. Let's assume caddy can build its own internal, ephemeral Caddyfile based on command line inputs like this (this example shows all available keywords):

[code]

would produce this Caddyfile internally:

[code]

But of course, you could do just `caddy --enable browse` which only turns on the "browse" directive. I haven't examined the plausibility of this, but it seems very usef

[2015-09-05 20:56] mholt commented on #227
Merged in your #228 - thanks!

[2015-09-05 20:56] #227 closed

[2015-09-05 23:12] shazow commented on #222
Maybe this deviates too much from the Caddyfile format, but could support these as normal command args, like `caddy [enable...]`

[code]

Ideally the Caddyfile format would be perfectly backwards compatible, except one argument per arg (quoted if necessary) rather than one argument per line. Might make sense to make the Caddyfile format also work with =, then. Such as:

[code]

Maybe taking this t

[2015-09-05 23:28] shazow opened #231 "Print actual binded addr on start"
Base case, print something along the lines of: `Listening on :2015`.

Right now the *input* is printed, but not the actual binded address. Namely, if you use `port=0` (ie. pick a random available port), then it still prints port 0 which is incorrect.

Some related ideas that may be better off as separate issues, but would love some feedback before advancing:

- If the default should be to bind to

[2015-09-05 23:40] mholt commented on #231
This is a good idea. We've changed this behavior a few times (in theory, to make it better) but I think with time and suggestions like this, we'll eventually refine it and narrow it down to just the right behavior. (See #208 and #28, for example.)

Since host resolution can take time, I would like there to be some immediate output when the listener is starting so the user knows that it's working,

[2015-09-05 23:48] mholt commented on #222
Adapting your idea slightly, consider:

[code]

We can leave the Caddyfile syntax the same but when parsing it from the command line like this, we just replace commas with newlines, and presume the address is the default. It'll work only for one listener (the default, unless modified by -host or -port flags) but it'll get you up and running quickly:

[code]

How about that?

[2015-09-05 23:49] shazow commented on #231
Yes, you're right the hostname lookup could add an undetermined amount of latency (can't find a way to set a timeout for DNS lookups).

The other two bits should be fairly safe:

- Getting the actual host/port rather than the input is a matter of doing `.Addr().String()` on the `net.Listener` which we're already setting up manually anyways.
- Changing from `0.0.0.0:2015` default to `:2015` should

[2015-09-05 23:56] shazow commented on #222
What's the benefit of bundling all the options into one big argument string, rather than separate ones? Could even stick with no = if that's what's bothersome (now that I think of it, that addition is superfluous anyways—it just reads a bit better in the cli).

[code]

Quoting an argument merges into one Arg slot, so it'll be really easy to parse. Quoting is optional if it's just one thing, so:

[

[2015-09-06 00:03] mholt commented on #222
The only reason I suggested containing it in quotes is to keep the parsing simple. With an arbitrary number of arguments, we need to distinguish stuff like this:

[code]

from this:

[code]

(Slightly contrived I know, but imagine there's a header called "host" that they want to strip from the response for some reason.) And what if the user wants want to do both?

[code]

We either need to specify

[2015-09-06 00:08] shazow commented on #222
Right, you'll need to quote anything that is not a single word. This should work with the `flag` module without any extra work, though:

[code]

Although, if we use commas as separators, comma value escaping will still be required, whereas quote position arg escaping is already done by every flag parser.

[2015-09-06 00:13] mholt commented on #222
Yeah, I think that'll be fine. This is just supposed to be for simple Caddyfiles anyway. :stuck_out_tongue:

[2015-09-06 07:32] peterbourgon commented on #231
- +1 to printing the actual bound port rather than 0, if specified — but who would bind a server to listen on 0? I can't really imagine a legit use case...
- +1 to default binding on `:2015` instead of `0.0.0.0:2015`, this is what the stdlib advocates anyway.
- No opinion on listing bound addresses in the log when you don't specify a specific IP or hostname. I'm not 100% sure, but you shouldn't ne

[2015-09-06 18:46] shazow commented on #231
The use case is when you don't want to worry about the default port already being taken (e.g. already running a caddy server for a different task) or just want a random port. It's usually what I prefer to do when I spin up a quick http server for somebody to download something off my machine on the local network.

[2015-09-07 17:56] mholt opened #232 "Middleware to facilitate shared hosting environments"
Caddy could be useful in shared hosting environments if there is a way to add hosts and remove them, and point those hosts to user site folders ("public_html" for instance).

The ability to add/remove hosts is related to the API which is still in the works, but not dependent on it.

This middleware would probably do its own routing to user folders based on the Host header of requests.

I don't hav

[2015-09-07 18:36] xi3 opened #233 "Need help: daemon caddy server in production environment?"
If deploy caddy in production env （ubuntu 14.04 64). (small site, low traffic).

How to daemon caddy and autostart at reboot?

Any comment is welcome. Tanks a lot.

[2015-09-07 18:46] mholt commented on #233
@denbeke wrote an article about this just the other day: https://denbeke.be/blog/servers/running-caddy-server-as-a-service/

I also have a supervisord config if you prefer that (some tweaking may be required):

[code]

[2015-09-07 19:22] xi3 commented on #233
excellent!

[2015-09-07 19:22] #233 closed

[2015-09-08 08:53] kkovacs commented on #222
Thank you guys!

My personal use case is when I occasionally run Caddy on my Android phone to share a directory with people on the same WiFi for 10-15 minutes; since I have to type everything on a tiny-tiny keyboard, I'm very happy about every character saved (especially special ones)... :)

[2015-09-08 15:01] mholt commented on #222
^ First actual use case I've heard of on Android. Awesome :+1: We're on it.

[2015-09-08 19:20] humboldtux commented on #222
I submit a PR #234 as a start to work on this

[2015-09-08 19:48] mholt commented on #231
I think we're almost ready to make the changes, but just a question @shazow before going forward on this. Would printing this (from your example):

[code]

be misleading? For example, that machine's hosts file may have an entry that changes the host lookup, but the rest of the Internet accesses it differently (or not at all). In other words, is it worth relying on these lookups? I remember now tha

[2015-09-08 19:55] shazow commented on #231
Maybe that should be an option?

So my primary usecase for this is showing novices how to quickly share some file on the local network. Typically I'd be like "ok type `ifconfig` then browse through the half-dozen devices and try to find the number that looks most like a LAN ip address" which is... well, lol. Half the time people think the netmask is the ip address, even if they manage to pick the

[2015-09-08 20:46] mholt commented on #222
Merged! You can now pass configuration without flags:

[code]

will do what you want @kkovacs, and similarly:

[code]

should work.

[2015-09-08 20:47] #222 closed

[2015-09-10 06:32] brodock commented on #199
awesome... was looking for something around that :+1:

[2015-09-11 17:18] pschlump commented on #195
I think that I am having a similar problem.  This is with SSL termination at the Caddy server.
Caddyfile:
https://localhost:2023 {
	tls ./key/cert.pem ./key/key.pem
	log ./log/access.log
	root ./www
	jsonp /status.json
	proxy /api/status http://localhost:8204/ {
		proxy_header X-Caddy-When-TLS server-{when}
	}
}
Request in Chrome on Mac result in a file download of an empty file and an error on th

[2015-09-11 21:03] hacdias opened #242 "Service/middleware to support Hugo"
Hi everyone!

I've been thinking about creating something which fuses @spf13's [Hugo](https://github.com/spf13/hugo), Caddy and a really nice UI to manage the posts of a blog. This would allow a really simple workflow when creating/modifying new posts: new/change post → Hugo regeneration. Everything on a web browser.

I posted a tweet and @mholt answered:

After a bit of searching I found out the

[2015-09-11 21:48] mholt commented on #242
:+1: Solid. The user would just say `hugo` in their Caddyfile and be on their way. (Of course they could customize it further, but this would be the most basic usage.)

For reference, here are related discussions that @spf13 linked to on Twitter:

- [Hugo GUI?](http://discuss.gohugo.io/t/hugo-gui/1654)
- [Can Hugo play to a wider audience?](http://discuss.gohugo.io/t/can-hugo-play-to-a-wider-audie

[2015-09-12 08:10] hacdias commented on #242
I created a [repo](https://github.com/hacdias/caddy-hugo) to host the code. I'm going to learn more about middleware and ```net``` package. Then I'm going to start it. =D

[2015-09-12 10:22] abiosoft commented on #242
I'm keeping an eye on this. ☺

[2015-09-12 10:37] hacdias commented on #242
@abiosoft if you wanna help :+1:

I have a simple question: how do I refer which file is the "404" error page in the middle ware without using Caddyfile? It must be simple, but I'm not getting how to do that. I've never used net/http before O.o

Right now, [caddy-hugo](https://github.com/hacdias/caddy-hugo/blob/master/hugo.go) generates the Hugo and serves its static files.

[2015-09-12 11:11] ApfelUser commented on #189
@mholt Any updates?

Also, is there any way to make the people who design the **HTTP/2** specification aware of this issue? I've looked at the [http2 specification](https://httpwg.github.io/specs/rfc7540.html), and WebSockets aren't even mentioned there. There seems to be a draft [here](https://tools.ietf.org/html/draft-hirano-httpbis-websocket-over-http2-00). I'll comment on https://github.com/ht

[2015-09-12 11:34] hacdias opened #243 "1 middleware -> 2 handlers"
Hi!

Is there some way to have two handlers in one middleware? It might be something simple, but I'm not used to it. Sorry if this is a basic question.

[code]

The code above gives me "Internal Server Error". It doesn't say anything else. What should I do?

Thanks :)

[2015-09-12 11:49] abiosoft commented on #243
What I think you can do instead is to have a main handler that dispatches to other handlers.

Something like this

[code]

[2015-09-12 11:53] hacdias commented on #243
@abiosoft Thanks. =D That was excatly what I wanted. Lol.. Now it appears to be so simple!! Sorry for my ignorance :(

[2015-09-12 11:53] #243 closed

[2015-09-12 11:58] abiosoft commented on #242
I think you should return a 404 and let caddy handle the error.

[2015-09-12 12:00] abiosoft commented on #243
Glad it helped.

Not at all. If this is the measure of ignorance, then we are all ignorant. :blush:

[2015-09-12 12:01] hacdias commented on #242
@abiosoft It's happening something weird. I have this:

[code]

On Caddyfile, but it still shows me the default message. Do you know what the problem might be?

Thanks, again =D

[2015-09-12 12:03] abiosoft commented on #242
Does the 404.html file exists ?

[2015-09-12 12:04] hacdias commented on #242
Yup

[2015-09-12 12:08] abiosoft commented on #242
Mind sharing snippets ?

Or maybe we chat on slack and tackle this together.

[2015-09-12 12:54] hacdias commented on #242
@abiosoft I'm on slack. When you're available...

[2015-09-12 13:17] abiosoft commented on #242
Looks like we got the 404 issue resolved from our slack chat. :)

[2015-09-12 14:32] mholt commented on #189
Not yet, sorry. Given that the http2 spec is still kind of crawling more than I had anticipated, I'm considering moving the `-http2=false` command line option into the Caddyfile as something like `http2 off`  or `http 1` to specify the version. It's going to complicate the initialization code since http2 and http1 servers need to be separated, and I don't even know at this point if it's feasible/p

[2015-09-13 07:25] hacdias commented on #242
Hi everyone!

Is there some way to include files like css and js into a binary and serve them through an URL? I saw about [go-bindata](https://github.com/jteeuwen/go-bindata). Is it that what I want?

[2015-09-13 07:47] hacdias commented on #242
Or even https://github.com/rakyll/statik

[2015-09-13 09:45] hacdias commented on #242
Using go-bindata. Fits perfectly.

[2015-09-13 22:38] mholt commented on #122
@j-mcnally I forgot to mention, work on this is almost finished thanks to @pschlump. See https://github.com/pschlump/caddy-jsonp.

[2015-09-16 18:11] txchen opened #246 "Idea: add 3rd party login middleware?"
Caddy is cool and I am starting to use it to replace nginx. Thanks for making this project!

Right now I am using https://github.com/bitly/oauth2_proxy to support login as google account. IMO, this is better than basic auth.

How about adding this as a middleware in caddy? Running one process is better than two.

Just want to confirm that you guys like the idea or not. If so, I can implement and s

[2015-09-16 18:24] mholt commented on #246
That would be *excellent* - is your idea related to #109?

[2015-09-16 18:28] txchen commented on #246
Oh, yes, that's similar to #109
@Karthic-Hackintosh How is your progress so far?

BTW, I think we can use jwt so that session is not needed.

[2015-09-17 09:26] rmrio commented on #200
Just interesting, what you think about using gb tool?

[2015-09-17 18:22] mholt commented on #200
gb is a good tool. When I tried it, it didn't support cross-compilation which was a show-stopper. It does now, so I need to try again. I'm also waiting to see how the Go 1.5 vendor experiment goes.

[2015-09-17 21:01] wmark opened #249 "middleware for API-based uploads"
This is a heads-up as requested on the wiki page "extending Caddy". I am writing a plugin that supports this use-case:

I'd like to be able to upload files:
[code]

[code]

… aspirational: support for HMACs, option to delete files.

This will enable me to upload build artefacts from CI directly to the server. The path specified by "to" might be ```/tmp``` itself, and might not be used as "root" in

[2015-09-17 22:02] mholt commented on #249
Cool idea. Just thinking ahead: is "upload" the best directive to use if you may later implement the ability to delete files too?

[2015-09-17 22:21] wmark commented on #249
You're right, ```DELETE /drop-files-here/passwd``` sounds strange. But those will be past 'uploads', so I think it's okay. I am open to suggestions, though.

There's another use-case which this "middleware" (number one) will enable: Subscribing to file changes, and pulling of changed files. For example, I (1) upload ```curl``` to ```/static/```, (2) publish *pubsubhub* notifications, (3) which get

[2015-09-18 07:01] blackrosezy commented on #176
+1 love to have WSGI support for Python.

[2015-09-18 08:03] ApfelUser commented on #189
Yeah, I really like @norwack's idea:

[code]

This is the only thing currently holding me off from using caddy, as we heavy-use WebSockets. Sadly I don't know Golang, so I can't help with that. I have no problem waiting, I just hope it will be implemented before NGINX does it because then the reasons to switch to Caddy get fewer and fewer :smile: I can't convince my colleagues then anymore :disapp

[2015-09-19 00:36] Karthic-Hackintosh commented on #246
@txchen  : The progress in developing this add on has been painfully slow , I would love to collaborate or help wherever necessary if you could kickstart this

[2015-09-19 00:40] txchen commented on #246
@Karthic-Hackintosh I can have a try to see if it will be smooth or not.
My current thinking is to exchange the code for access_token, then issue jwt and drop it in cookie. So that we don't need to use a session store. Let me try to implement google login first.

[2015-09-19 18:34] mholt commented on #189
Unfortunately, I don't think this is possible at the moment. I can't bind two listeners to port 443, and I need two listeners because one needs to serve HTTP/1.1 and the other serves HTTP/2.

We will have to wait until the http2 lib matures or, preferably, the http/2 spec supports websockets. For now, clients should make websocket requests over HTTP 1.1. Sorry if you don't have control over this.

[2015-09-19 18:34] #189 closed

[2015-09-19 19:08] mholt commented on #211
Well, this was [fixed for 0.7.5](https://github.com/mholt/caddy/commit/7173764d6d2fe2c87be02db9cbe37d3368e444c8) but I forgot to mention it here. It's not ideal since I would rather not render list items as part of the summary, but that's what it'll be for now, probably until v2 of blackfriday comes out.

[2015-09-19 19:08] #211 closed

[2015-09-19 19:59] steelbrain commented on #12
I am a power user of HHVM and I think that fastcgi support should be enough. The protocol is well tested and works. HHVM wasn't built with embedding in mind. Furthermore HHVM also has a builtin web server called Proxygen.

and to @zorrobyte HHVM may fail for the frameworks but I have been using HHVM in production for more than a year and never had a problem with it. It may not be cross-platform at

[2015-09-20 02:24] mholt commented on #167
I'm working on this right now and would like some feedback. @jpoehls @guilhermebr and @pedronasser

[code]

Or maybe allow them to be combined:

[code]

^ I can support both forms if that's more intuitive. What do you think?

Also, what about overlapping base paths:

[code]

Which root path has precedence for a request like /foo/bar/fun? I imagine we choose the closest match (i.e. longest prefix)?

[2015-09-20 14:00] hdid opened #252 "Problem with proxy mode"
Hi
I have a system with caddy 0.7.5 and i want to use it as a simple reverse proxy but i get error: "Internal Server Error"
Should i install any special package!?
Caddyfile:
0.0.0.0
root /var/www
proxy / http://www.onet.pl

[2015-09-20 14:44] abiosoft commented on #252
@hdid remove the url scheme. i.e. `www.onet.pl`.

Does that work ?

[2015-09-20 15:56] mholt commented on #252
Odd. What's the error being repoted? Add `errors error.log` to your Caddyfile to see the error message.

[2015-09-20 17:06] hdid commented on #252
this:
[code]

[2015-09-20 17:29] hdid commented on #252
Resolved. Because of memory issue, I checked system arch again and i saw it's i686. Then i got 64 bit version of caddy and it worked!

[2015-09-21 07:22] th3architect opened #253 "Go Code Report Card Errors"
http://goreportcard.com/report/mholt/caddy

I came across this great too to see where code could be cleaned up.

[2015-09-21 14:58] hdid commented on #252
On other system; this error happened again. I tested both 386 and amd64 versions but did not work.
[code]

error log for 386 version:
[code]
and amd64 version:
[code]

[2015-09-21 19:48] mholt commented on #252
What was the exact command you used to execute caddy?

[2015-09-21 21:19] hdid commented on #252
Simple; `./caddy`

[2015-09-21 22:39] mholt commented on #252
Would you please send me a copy of your binary? Find my email at matt.chat and make sure to send me a copy of the exact file you're trying to run. I'm going to try to reproduce it on my machine.

[2015-09-21 23:10] hdid commented on #252
Ok.I sent both binary files.Also, you can check Hash value for binaries:
[code]
[code]
Thanks

[2015-09-22 06:14] mholt commented on #253
Oh yeah, that's a pretty cool site. Caddy ranks 33 :+1: I admit some of the cyclomatic complexity is a bit high and I don't run `go fmt -s` as often as I should. As for `go lint`, I don't always agree with it (like returns and if statements), but in this case many of the suggestions seem reasonable. We could implement those in this case.

I've got my hands full for a while. Anyone want to work to

[2015-09-22 19:15] mholt commented on #252
Thanks for the email and the SHAs. I executed the 64-bit caddy binary on a fresh vagrant box (hashicorp/precise64) and it worked just fine. Its SHA1 matches: `136d61687267cb40c2e57278924a8939314d34a4`.

This is bizarre... What kind of system are you running caddy on? I know it's Linux, but is it a physical device or VM? Is it special hardware like raspberry pi or something (which is ARM... but any

[2015-09-22 20:45] hdid commented on #252
Well, 64 bit version does not work (as i pasted above) but 32 bit version runs normally but when i enable proxy mode it gives that error. The system is a Xen VM based on regular Intel:
[code]
the `file ./caddy` command output is normal:
`./caddy: ELF 32-bit LSB executable, Intel 80386, version 1 (SYSV), statically linked, not stripped`
And yes it's a strange issue for me too. Thank you anyway ;)

[2015-09-22 22:47] #252 closed

[2015-09-22 22:49] mholt commented on #252
I was able to reproduce this on a 32-bit system.

Cause: https://golang.org/src/sync/atomic/doc.go?s=1207:1656#L36

We do call atomic.AddInt64 [in a couple places](https://github.com/mholt/caddy/blob/10ab0378332debbf958617fc236fc70c24e1d69c/middleware/proxy/proxy.go#L106-L108) which is probably the real source of the panic. (Memo to self: A way to get the full stack trace.)

I confirmed it is by r

[2015-09-22 22:52] hdid commented on #252
Ok

[2015-09-23 19:59] mholt opened #254 "Replace x/net/websocket for gorilla/websocket"
Apparently /x/net/websocket [has some compliance issues](https://github.com/gorilla/websocket#gorilla-websocket-compared-with-other-packages) and the gorilla project appears to be more active and popular. We should probably switch.

Anyone is welcome to claim this task since I've got my hands full right now. PRs welcome!

[2015-09-23 20:07] mholt opened #255 "Customize MIME types"
An [email came in today](http://stackoverflow.com/questions/32727309/caddy-web-server-and-flash-file/32748521) about serving .swf files (old tech, but still used apparently). By default, Caddy serves binary files as, well, binary (application/octet-stream) which triggers a download. But in this case, the user wanted the browser to show the file, not download it to the user's Download folder. The C

[2015-09-24 14:29] mholt commented on #189
For the record, I'm going to keep my eye on the development of the [now-semi-official-Go http2 package](https://twitter.com/mholt6/status/647051248777084929) and see if this becomes a possibility. If it doesn't, I might chime in with an issue. But for now I want them to get through the backlog of PRs and issues.

[2015-09-25 10:15] DenBeke opened #256 "FastCGI: REQUEST_URI after rewrite"
When querying the `REQUEST_URI` environmental variable without rewrites, it correctly gives the whole request uri, but when a rewrite took place, it only returns the actual script name called...

* Without rewrite:  `REQUEST_URI`: `/index.php/apps/files/`
* With rewrite:  `REQUEST_URI`: `/index.php`

[2015-09-25 12:19] mholt commented on #256
Uh oh. Well, unless I'm missing something obvious there's currently no way to deal with this... but I have an idea.

We could make the rewrite middleware set a request header for internal Caddy use only, a header that indicates what the original URI was. Then the fastcgi middleware could check for that header and use it. Kind of a hack but a fair way to keep some simple context between handlers. W

[2015-09-25 12:21] DenBeke commented on #256
That why I didn't even start looking into it, because it's how the middleware is designed, isn't it?

[2015-09-25 12:21] mholt commented on #256
Yep. It was a good design in theory :smile: But I think we can make it work. I'll experiment on the train today.

[2015-09-26 13:32] hacdias commented on #249
Woa, I haven't seen this yet. It appears to be a good plugin to use with my [hugo](github.com/hacdias/caddy-hugo) plugin. I'll keep an eye on this thread.

[2015-09-26 15:30] wmark commented on #249
You're welcome. I need this for the aforementioned use-cases, therefore it won't be the upload facility you might expect.

1. HMAC scheme for auth, of course. → You don't want to publish your secret API key.
2. Files must appear atomically in the FS and uploads must cause the absolute minimum notification events. → O_TMPFILE will be used (¬Windows∧¬*gappengine*, not supported by every FS and Linux

[2015-09-27 08:14] hacdias commented on #249
I see. So I'll wait for the first release to see how it works. :+1:

[2015-09-27 11:26] ApfelUser commented on #47
@mholt I just found another library: **[devsisters/goquic](https://github.com/devsisters/goquic)**. This one seems more complete one.

[2015-09-27 14:21] mholt commented on #47
@ApfelUser Thanks for the link. We did mention it above and we can't use it because it uses cgo, unfortunately. However I'm still keeping my eye on that and the one by @romain-jacotin. ;)

[2015-09-28 00:49] mholt commented on #256
@DenBeke Would you please pull the latest and try commit be6fc35326051094b3dcbd5fa7c106ae57705dc1? I don't think it broke anything but just be sure. Also see if it fixes this issue and let me know.

[2015-09-28 20:15] DenBeke commented on #256
@mholt This solved the "main error" I was experiencing. Will check again with a cleaner ownCloud installation, because I messed a lot in it's source.

[2015-09-28 20:23] DenBeke commented on #256
@mholt This fixes all problems I was experiencing.
Next up is enhancing rewrites for all pages to obtain a completely working ownCloud installation...

[2015-09-28 20:34] mholt commented on #256
@DenBeke Sounds good, I will continue that via email with you. Thanks!

[2015-09-28 20:34] #256 closed

[2015-09-29 11:54] abiosoft commented on #255
`mime` sounds better.

I can work on this (provided someone hasn't started already) and I want to assume this is gonna be part of caddy core.

[2015-09-29 12:02] hdid commented on #252
I downloaded the new build and the bug is resolved.
Thanks

[2015-09-29 12:10] abiosoft commented on #242
Now that we've gotten here https://caddyserver.com/docs/cms, is it safe to close this issue ?

[2015-09-29 13:42] mholt commented on #242
Yep!

[2015-09-29 13:42] #242 closed

[2015-09-29 13:43] mholt commented on #252
Good thing too, since it went out like that for the new release today :smile:

:+1:

[2015-09-29 13:44] mholt commented on #255
Yes, setting the proper Content-Type is a pretty important job of a server. I agree it'll be part of core.

[2015-09-30 14:41] mholt commented on #122
This is now available on the download page. /cc @j-mcnally

[2015-09-30 14:41] #122 closed

[2015-09-30 14:43] mholt commented on #5
Yay, this is done! \o/ Thanks @pedronasser

[2015-09-30 14:43] #5 closed

[2015-09-30 14:46] mholt commented on #42
I forgot to update this issue, but thanks to work by @evermax this is now implemented as log rolling. See the [docs](https://caddyserver.com/docs/log) for info.

[2015-09-30 14:46] #42 closed

[2015-09-30 17:40] hacdias opened #258 "ERR_TOO_MANY_REDIRECTS"
Caddyfile:

[code]

[2015-09-30 18:14] #258 closed

[2015-10-01 16:53] mholt commented on #258
Just to document why this was closed, I believe you confirmed it was a misconfiguration with Cloudflare. (I was unable to reproduce the problem.)

[2015-10-01 16:57] #255 closed

[2015-10-01 17:34] hacdias commented on #258
Yup.

[2015-10-03 01:47] varun06 commented on #254
@mholt I haven't checked the websocket yet but writing api's as my day job. How much work you foresee (apologies for not being too familiar with Caddy yet, but I am going to use caddy cms with my hugo)??

[2015-10-03 04:53] mholt commented on #254
Not much work, really. The whole use of websockets isn't more than a couple dozen lines of code. But I think @abiosoft might be working on this but we'd have to double-check.

[2015-10-03 05:26] abiosoft commented on #254
Varun can go ahead with it.

Thanks.
On 3 Oct 2015 5:53 am, "Matt Holt" <notifications@github.com> wrote:

[2015-10-03 14:06] varun06 commented on #254
Okay then, I will fix and PR.

[2015-10-04 05:24] mholt commented on #231
I tagged this as "in progress" because @evermax and I are looking at a good way to handle this according to the feedback so far. :+1:

[2015-10-04 20:50] ngrilly opened #260 "How to serve an "ongoing maintenance" page with a 503 HTTP status?"
I'm looking into using Caddy to service an "ongoing maintenance" page. I need to return the same static page for all hosts and paths, with a 503 HTTP status code. Is there a way to achieve this with Caddy?

[2015-10-04 21:00] mholt commented on #260
Good question. I'm not sure we've had that request before but I can see why it would be useful.

How about we add a third argument/parameter to `rewrite` which is a status code (similar to `redir`, except redir only allows you to set redirect status codes, 3xx).

[code]

What do you think? Also @abiosoft

[2015-10-04 21:23] ngrilly commented on #260
Adding a status parameter to the rewrite directive would make it, but I'm not a fan of having to use regexp when I just need to match every paths.

What would you think of something like the [return directive in nginx](http://nginx.org/en/docs/http/ngx_http_rewrite_module.html)?

[2015-10-05 01:04] mholt commented on #260
I suppose we could do something like this:

[code]

Or for all requests:

[code]

As for the regexp: the rewrite directive is designed to do exact matches without regexp because after some real use we found it more convenient and intuitive that way. I know splicing out to the next line to specify a catch-all regex isn't the most convenient but I don't know a better way to do it right now. ¯\_(ツ)_/

[2015-10-05 10:34] abiosoft commented on #260
What I would prefer is to have a setting that checks if the maintenance page exists and serves it, otherwise it behaves normally.

How about an `offline` directive. If any of the pages exists, it displays it.

[code]

[2015-10-05 10:53] ngrilly commented on #260
Another requirement is that most maintenance pages use external stylesheets or images. Every request must return a 503, except the stylesheets and images that must be served normally and return a 200. I realise my use case is not as simple as it sounds…

[2015-10-05 10:55] ngrilly commented on #260
As for the `offline` directive` suggested by @abiosoft, it could be a good solution, but are you not afraid it's too much ad hoc?

[2015-10-05 11:11] abiosoft commented on #260
My reason for suggesting that was simplicity and the directive name is self explanatory.

How about adding `allowed` and `blocked` which will be paths that are allowed and blocked during offline mode. And regarding the statuses, can serving static (css, js, images) files normally cater for that ?

I hope I am not making it too complex. :smile:

[2015-10-05 13:52] mholt commented on #260
@ngrilly Okay, in that case:

[code]

Thus only the maintenance page gets a 503. (We'd have to be careful to put the status directive after rewrite in the middleware chain.)

[2015-10-05 13:59] mholt commented on #260
Oh wait. I just realized that will rewrite the style sheets to maintenance.html too.

I'll come back to this after class, I have one more idea.

[2015-10-05 18:27] hdid opened #261 "Two (or more) spaces in filename or folder name issue"
Hi matt
I have problem when using browse mode and if a file or folder contains more than one space in it's name. Then caddy just shows the name just with one space.
Is it possible that caddy shows the exact name for files (and folders)?

[2015-10-05 19:36] mholt commented on #261
Hmm, I'm not having that issue. Can you provide more details or a screenshot of what you're seeing? The file names appear correctly for me (even files with more than one space).

[2015-10-05 20:11] hdid commented on #261
I created one folder with name "test[SPACESPACE]files" and one file that is "net[SPACESPACESPACE]iso.txt" but you can see that there is just one SPACE on list

![issu1](https://cloud.githubusercontent.com/assets/3944323/10291931/4018a2a8-6bb9-11e5-8490-d202fac46c66.jpg)
![issu2](https://cloud.githubusercontent.com/assets/3944323/10292112/459b82d0-6bba-11e5-912f-b198eb40bc6d.jpg)

I tested with bot

[2015-10-05 20:29] mholt commented on #261
Oh, you mean *consecutive* spaces. Thank you for clarifying. That's makes sense, since HTML ignores extra whitespace. I've got my hands kind of full right now but maybe @pyed could take a look at this? Should be easy enough with one or two lines of CSS.

[2015-10-07 11:44] varun06 commented on #254
@mholt I know it is embarrassing but I am going to ask. I haven't used web socket or caddy yet. But I have changed the package, can you let me know how to run web socket so that I can verify it is doing what it needs to do. my google fu didn't help much??

after my changes caddy tests are passing, I have some thoughts on tests, but they will come later :)

[2015-10-07 16:41] #261 closed

[2015-10-07 16:42] mholt commented on #261
Thanks @pyed!

[2015-10-07 18:23] hdid commented on #261
Thank you both @pyed @mholt

[2015-10-08 04:11] mholt opened #263 "Dynamically-rendered 'static' pages lack some response headers"
Pages that are rendered by the templates middleware (and I'm sure there are others) don't add some basic response headers, namely `Last-Modified` and `Content-Length`. True static files do have those headers because they are served by net/http's ServeContent function. But the templates handler, for example, takes a static file, executes the template in memory, then writes the resulting bytes to th

[2015-10-08 08:54] Makpoc commented on #61
Hi,
As with everyone before me in this thread I would also like to help with some tests. I saw that the root.go is still without test so I'll take a look at it whenever I have time and try to write some. I'll need to get familiar with the functionallity first, but hopefully it won't take long..

[2015-10-08 15:37] mholt commented on #61
@Makpoc We'd totally welcome your help :) Feel free to join us in Slack if you have any questions!

[2015-10-08 23:13] mholt commented on #254
No problem @varun06 -- it's not obvious how to do it. I've asked @Karthic-Hackintosh to take a look at it with you, since he's written quite a few tests for Caddy already.

You can use this in your Caddyfile:

[code]

and then a simple websocket page:

[code]

to test it, by running `ws.send("Hello world")` in the browser console, for instance. You should see it echo your input back to you.

To te

[2015-10-09 01:16] Karthic-Hackintosh commented on #254
@varun06 : Whats the progress till now? If you are struggling with tests, dont worry I coud help you out

[2015-10-09 03:26] varun06 commented on #254
Hey Karthic,

Thanks man. I changed web socket to use gorilla one. I didn’t know how to run it and test. Matt told me and I am going to try that. Once I have it running then I will see if I can add tests to it. I will do it tomorrow or this weekend and I will contact you once I have it working on my machine.

Cheers,
Varun
On Oct 8, 2015, at 8:16 PM, karthic rao <notifications@github.com<mailto:no

[2015-10-09 03:43] Karthic-Hackintosh commented on #254
@varun06  : Sure, Thanks for your time and contributions :) Please feel free to ping back if you need a helping hand .

[2015-10-09 05:24] Karthic-Hackintosh opened #264 "Test fails when when Sort is empty and order is desc(browse middleware)"
https://github.com/mholt/caddy/blob/master/middleware/browse/browse.go#L245 , This line over rides the order value in case where order is "desc" and sort is empty in the Url query .

[2015-10-09 18:38] #264 closed

[2015-10-09 21:39] zmb3 commented on #253
I wouldn't mind taking this on.

[2015-10-09 21:54] mholt commented on #253
@zmb3 Go for it! :+1:

[2015-10-10 12:49] varun06 commented on #254
Hey Karthic,

I have made some changes here : https://github.com/varun06/caddy/blob/caddy-issue254/middleware/websockets/websockets.go#L36-L61

It works and I tested it as suggested by Matt, still have some question about the error handling etc. I know I should read the source code and figure it myself too (which I am doing). But figured you will give me inputs fast :)

Thanks,
Varun

On Oct 8, 20

[2015-10-10 13:19] Nixtren commented on #111
I will probably sooner or later create a basic command line control panel for Caddy (Add websites, remove websites, create reverse proxies and stuff like that), so I decided to check this API stuff.

Does this means starting and stopping Caddy instances? Or starting and stopping websites?

[2015-10-10 14:49] Karthic-Hackintosh commented on #254
@mholt  : Please give a check on the changes made by varun, I'm currently travelling, The ServeHttp seems to be missing.

[2015-10-10 14:51] varun06 commented on #254
Hi,

Gorilla websocket implementation is little different. It doesn't have serveHttp.

Thanks,
Varun

On Oct 10, 2015, at 9:49 AM, karthic rao <notifications@github.com<mailto:notifications@github.com>> wrote:

@mholt<https://github.com/mholt> : Please give a check on the changes made by varun, I'm currently travelling, The ServeHttp seems to be missing.

-
Reply to this email directly or view it

[2015-10-10 14:53] Karthic-Hackintosh commented on #254
Hmmm, I'll take a proper look at it once I settle down in few hours, Thank you Varun

[2015-10-10 14:54] varun06 commented on #254
Sure. Take your time. This is the first time i looked at that package. So feel free to give me feedback.

Thanks,
Varun

On Oct 10, 2015, at 9:53 AM, karthic rao <notifications@github.com<mailto:notifications@github.com>> wrote:

Hmmm, I'll take a proper look at it once I settle down in few hours, Thank you Varun

-
Reply to this email directly or view it on GitHub<https://github.com/mholt/caddy/i

[2015-10-11 02:10] mholt commented on #254
@varun06 Looks good at a glance except for the error handling, like you said - feel free to open a pull request though, and then we can comment on specific lines.

For example, I'm wondering where `wsupgrader` is defined and from where `wshandler` is used.

[2015-10-11 02:21] mholt commented on #123
Closing for now; feel free to re-open if this still needs to be addressed!

[2015-10-11 02:21] #123 closed

[2015-10-11 02:28] mholt commented on #119
Hm. I don't seem to have this problem anymore -- or at least, x-compile builds now work on my RasPi using both GOARM=6 and leaving GOARM blank.

[2015-10-11 02:28] #119 closed

[2015-10-11 02:37] mholt commented on #111
@Nixtren Those mean to start and stop websites; you should only need one Caddy instance running per machine (or user, I guess) in most cases.

[2015-10-11 12:02] Nixtren commented on #111
Thanks for the clarification @mholt. I usually associate the word "server" with "instance".

[2015-10-11 13:55] varun06 commented on #254
Hey Guys,

You can ignore the code I shared yesterday. But after looking at gorilla web socket implementation and current web socket implementation in caddy, it seems that we might need to change couple of things. gorilla web socket doesn’t have any serveHTTP method and has "func (u *Upgrader) Upgrade(w http.ResponseWriter, r *http.Request, responseHeader http.Header) (*Conn, error)” that gives a

[2015-10-11 22:00] #253 closed

[2015-10-11 22:03] mholt commented on #253
Thanks to Zac's work we're now number 22 in the high scores :smile:

[2015-10-12 17:50] acmacalister commented on #254
I took a look at this issue this morning and think I almost got it figured out. Running into a couple errors with the upgrade, but after I get those resolved, it should be good. I will try to send a PR this afternoon for everyone to review.

[2015-10-12 17:59] varun06 commented on #254
@acmacalister cool, I couldn't do much this weekend, but if you have it ready, go for it. I will grab another one.

[2015-10-13 03:08] acmacalister commented on #254
@varun06 cool. I did a PR if you would like to take a look at. I would appreciate any and all feedback from anyone.

[2015-10-14 18:38] mholt commented on #254
Thanks for all who contributed to this!

[2015-10-14 18:38] #254 closed

[2015-10-14 19:46] mzgnr opened #272 "Creating an organisation page"
Would not it be better to have an organisation page for caddy server ?

[2015-10-14 20:01] mholt commented on #272
There is one: https://github.com/caddyserver

I haven't moved this repo yet because, well, reasons -- but it will move to the org. in the future.

[2015-10-14 20:04] netixen commented on #79
And when running as a reverse proxy a token bucket like github.com/juju/ratelimit would be very useful.

[2015-10-14 22:51] wmark commented on #249
```O_TMPFILE``` is in. The first iteration should be ready soon.

https://hub.blitznote.com/src/caddy.upload/blob/37cfc0f27cd7c4084ff35f71c09be26b7a0cce89/filewriter_unix.go

[2015-10-15 13:53] #272 closed

[2015-10-15 23:12] mholt commented on #219
Ping. :smile: How's this going @Prezto?

[2015-10-17 17:23] mholt commented on #110
Status update: [We're making progress](https://twitter.com/mholt6/status/655247573670727681) on the [letsencrypt](https://github.com/mholt/caddy/tree/letsencrypt) branch.

[2015-10-17 22:24] wmark commented on #249
… and file locking is in, which is a prerequisite to *file streaming*, using scatter/gather facilities of modern NICs, and *mmap'ing* files in a safe manner in general.

https://hub.blitznote.com/src/caddy.upload/blob/e54aa6b9d93bae899fa38e9bd2ae4c95b38f773f/protofile/file2_unix.go

[2015-10-18 21:42] Prezto commented on #219
Hello @mholt. I did work on something, but i am learning Go and this the first thing i do in this language after python, Ruby and Php. So it is difficult for me.

Nonetheless i have uploaded what i have tried to work on in a repo here on github: https://github.com/Prezto/import/tree/master

Maybe i can get some assistance on this one?

[2015-10-19 01:33] mholt commented on #219
Sure, no problem.

First, good start. You have the right idea with the Glob function and looping over the files. But this doesn't have to be an add-on; in fact, it shouldn't be. You can build this [right into the parser](https://github.com/mholt/caddy/blob/3614a093e3cfddaa96e638a808d5a473bd5410f7/config/parse/parsing.go#L182).

Before continuing, I recommend running `go fmt` on all your Go code to

[2015-10-19 03:04] garyburd opened #277 "Data races in websocket middleware"
How to reproduce:

1. Build caddy with -race enabled.
2. Run caddy with configuration from the readme:

        localhost

        gzip
        browse
        ext .html
        websocket /echo cat
        log ../access.log
        header /api Access-Control-Allow-Origin *

3. Run this client application:

        package main

        import (
            "log"
            "time"

            "git

[2015-10-19 03:17] acmacalister commented on #277
@garyburd Thanks. I didn't think to run the race detector when writing it. Sounds good. Can't argue with free example code. :smile: I will try it get that fixed shortly.

[2015-10-19 03:17] mholt commented on #277
Gary, thanks for the detailed report _and_ the helpful command example!

(Memo to self: Add race detector to CI tests.)

[2015-10-19 05:50] garyburd commented on #277
I'd like to point out a difference between my example and the x/net/websocket version of the caddy middleware: My example assumes that lines of text correspond to websocket messages. The line terminator is not included in the message. The x/net/websocket version assumes that messages form a stream of bytes. Message boundaries have no meaning.

The websocketd server also splits messages at line bou

[2015-10-19 09:17] Prezto commented on #219
Thank you for the advice. I will do it in the parser and clean things up this week.

Verzonden met mijn Windows Phone
________________________________
Van: Matt Holt<mailto:notifications@github.com>
Verzonden: ‎19-‎10-‎2015 03:33
Aan: mholt/caddy<mailto:caddy@noreply.github.com>
CC: Dany Henriquez<mailto:dany.henriquez@outlook.com>
Onderwerp: Re: [caddy] Add Glob type import (#219)

Sure, no probl

[2015-10-20 03:58] jsha opened #280 "OCSP Stapling"
Hi! I saw you are working on Let's Encrypt integration. That's awesome, thank you!

I wanted to file an issue requesting OCSP stapling support.

From Let's Encrypt's perspective, the more of our subscribers use OCSP stapling, the lower our bandwidth costs. There are also performance and privacy benefits to end users, since data doesn't get sent to a third party.

There are also two big future func

[2015-10-20 06:00] mholt commented on #280
Glad you brought this up. That's a great reason to implement this now. We're on it!

[2015-10-21 02:34] mholt opened #284 "Let's Encrypt integration status"
Tasks done or still to do **before** Let's Encrypt integration will be ready for beta testing (in no particular order):

- Adapt `tls` Caddyfile directive to accommodate Let's Encrypt
  - [x] Email address with `tls my@mail.com`
  - [x] Force plaintext HTTP with `tls off`
- Command line flags/arguments
  - [x] `-email` for default email address
  - [x] `-agree` to agree to Let's Encrypt Subscriber

[2015-10-21 02:38] mholt commented on #110
Closing in favor of #284.

Btw sorry @xenolf I just found out in a really clumsy moment that I can only assign one person to an issue... :disappointed:

[2015-10-21 02:38] #110 closed

[2015-10-21 04:47] coolaj86 commented on #284
How about issuing certificates dynamically based on hostname? Or at least making the code decoupled enough so that can be fixed later?

[2015-10-21 04:55] coolaj86 commented on #246
I would be interested in working on an oauth3 proxy, which would support google, facebook, and openid connect, and any number of federated / decentralized domains.

I'm in the middle of rewriting some core parts of my oauth3 server that are preventing it from utilizing multiple cores, but I'll touch base with you once I'm able to focus back on the client code.

[2015-10-21 05:00] mholt commented on #284
@coolaj86 Ah yes, I haven't forgotten your issue #188 :) This LE work should be orthogonal to your feature request. If it doesn't make it in by our first LE release then it will be next on the list. :+1:

[2015-10-21 05:03] mholt commented on #246
@coolaj86 @txchen I just found this recently, it looks awesome and I bet it could be helpful: https://github.com/dghubble/gologin (no oauth3 though)

[2015-10-21 05:06] coolaj86 commented on #246
That's probably what I would need to start with to build a go oauth3 client. Essentially the oauth3 client is just an oauth2 client turned inside out where one object has the config is fed in on each method use rather than 30+ objects where the config is hard coded - functional instead of object oriented.

[2015-10-21 20:36] chilts commented on #223
Just for interest sake and documentation, I ended up setting these headers which I found in my default Nginx

[code]

[2015-10-21 20:55] mholt commented on #223
^ Are these sensible defaults? Should we just turn these on by default with the proxy directive?

[2015-10-21 22:19] chilts commented on #223
There is also `proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;` but that seems to be similar to the `X-Real-IP` one, though I'm not entirely sure. The value seems different but I don't know what it is exactly.

Perhaps put these into another `preset` which does a few sensible things rather than just do it? Though tbh, everyone's idea of sensible is different. :)

[2015-10-22 19:38] mholt commented on #111
I've just had an epiphany.

### This API sucks

This current API design is complicated, racey, and not compatible with graceful restarts which, on Linux, will use `syscall.ForkExec()`. (I'm implementing this right now for the Let's Encrypt integration which requires swapping out listeners when certificates renew, which is why I started thinking ahead about the API.) A graceful restart on Unix will

[2015-10-22 21:25] wmark commented on #249
*mmap*'ing is in for Unix. I've upgraded the machines I am testing programs on to 10GbE and am about to experiment with thresholds to decrease the total amount of context switches for most users and most workloads. The *thresholds* are like »don't lock if size_file ≤ X; don't mmap if…; mmap total file if smaller than Y or else chunks of Z MB«.

- [x] file »appears« with contents, not before (good

[2015-10-24 02:39] xenolf commented on #280
Support for OCSP Stapling landed on the letsencrypt branch in 91465d8e6f33af94655abe50be0e38aae9db667c.

[2015-10-24 05:40] #280 closed

[2015-10-24 05:43] jsha commented on #280
Wow, y'all are fast!

[2015-10-26 20:20] mholt commented on #107
This is almost done.

[2015-10-26 20:32] mholt commented on #107
Okay, this just landed in the `le-graceful` branch. You can trigger graceful reload with `SIGUSR1`. This change will soon be merged into the `letsencrypt` branch, which will then be merged into the master branch when nearing release. But if this is something you're very interested to try, go ahead by cloning it down.

If the new configuration is invalid and the child fails to start successfully, t

[2015-10-26 20:33] #107 closed

[2015-10-27 06:25] mholt commented on #111
I have just [committed](https://github.com/mholt/caddy/commit/ee5c842c7d5abb5613b536deb749296beb078bb9) functions that convert between JSON and Caddyfile (not too difficult). I think all that's left are the middleware handlers.

So this may come very soon, but not before the next release.

[2015-10-27 13:33] pastjean commented on #107
nice ! good job :+1:

[2015-10-27 16:37] jordanlev opened #288 "PHP + SQL examples?"
The docs mention that it's possible to run PHP scripts with caddy server, but I don't see an actual explanation of how to do so. Also, how would one make this work with a separate SQL database server (MySQL or Postgres)? Basically I'm asking "how can I recreate the functionality of MAMP/WAMP/XAMPP using Caddy?".

Thanks, this looks like a great project!

[2015-10-27 18:01] splitbrain commented on #30
One thing that seems to be currently missing is accessing any matched groups in the rewrite. Eg, the following wouldn't work currently:

[code]

[2015-10-27 18:04] splitbrain opened #289 "rewrite on status code?"
Would it be possible to have rewrites based on the status code? Eg. when something isn't found, a rewrite should try to find it somewhere else. Eg. a typical .htaccess rewrite looks like this:

[code]

Basically, if you can't find it on the filesystem pass it on to the main PHP script.

[2015-10-27 18:12] splitbrain commented on #289
I just had an idea to use a custom error page, but that doesn't work either:

[code]

[2015-10-27 18:16] mholt commented on #288
There's an example right on the homepage. Basically it can front PHP apps like nginx can through FastCGI:

[code]

Caddy doesn't have anything to do with MySQL, so your PHP app will still connect to the MySQL port to use it.

If you like dynamic sites, you might be interested in the [lua add-on](https://github.com/caddyserver/caddy-lua) we're experimenting with. You can check out the .html file --

[2015-10-27 20:52] pierrebeaucamp opened #291 "Global directives"
Hi,

I'm looking for a way to set directives for multiple servers at once. I was thinking of something like this:

[code]

Basically, I don't want to repeat common settings like `gzip` for every host.
I'm sorry if this is already possible and I'm just missing something.

Best Regards

[2015-10-27 21:05] mholt commented on #291
Right now, you'll have to specify it for each host, but this may change in the future. (Also, it's quite possible we'll enable gzip by default in the future anyway.)

If there's a batch of directives that you need to share, there's the [import](https://caddyserver.com/docs/import) directive that may help a bit.

[2015-10-28 01:57] mholt commented on #289
That's possible -- I like your second idea more, since it's more "idiomatic" way to configure Caddy. That change should be fairly easy; just need to make error page paths support [placeholders](https://caddyserver.com/docs/placeholders).

[2015-10-28 03:53] coolaj86 commented on #284
Another little thing to keep in mind: if the server is one of many behind some kind of proxy there needs to be some sort of hook (even to a bash script) that passes the token domain name as an argument.

By 'token' I mean `jumblejumblejumble.acme.invalid`.

[2015-10-28 04:58] scottweston opened #292 "500 error using template action {{.Host}} on port 80"
[code]

Then:

[code]

Change the port to anything else (e.g. 8000, 2015, 81, etc.) and it works perfectly:

[code]

[2015-10-28 05:17] mholt commented on #292
Ah, `net.SplitHostPort()` is failing if there isn't a `:` in the string to split the host and port. There was even a test case to ensure that a string like "localhost" failed with an error.

Thanks for the very clear bug report!

[2015-10-28 05:20] #292 closed

[2015-10-28 12:53] Makpoc commented on #263
You can it in progress. I'm on it.

[2015-10-28 15:00] jordanlev commented on #288
Thanks for the info. As someone who is not super knowledgeable about server stuff, I'm unfamiliar with running it as a separate process from the web server (apache 99% of the time for me) -- so this helps clarify the situation for me.

[2015-10-28 15:00] #288 closed

[2015-10-28 15:05] mholt commented on #288
We're definitely trying to make things like this easier (although with PHP it's pretty limited what we can do; unfortunately it's a very complex language and no such interpreter exists in Go -- otherwise I'd put it all in-process making it very very easy to use). Thanks for your question!

[2015-10-28 19:37] kardianos opened #293 "feature: support running under windows service"
Would you be open to a PR that under windows on load
 a. detects if running as a windows service
 b. if so, uses the windows service start, stop callbacks that enable running under windows services.

Could use either:
https://godoc.org/golang.org/x/sys/windows/svc
or https://godoc.org/github.com/kardianos/service

[2015-10-28 20:22] tonka3000 opened #294 "Markdown table support"
Hey,

is there an support for an markdown table like f.e.

    | Tables   |      Are      |  Cool |
    |----------|:-------------:|------:|
    | col 1 is |  left-aligned | $1600 |
    | col 2 is |    centered   |   $12 |
    | col 3 is | right-aligned |    $1 |

This should look like this (thx to github-markdown rendering)

| Tables   |      Are      |  Cool |
|----------|:-------------:|------:

[2015-10-28 22:33] mholt commented on #294
Caddy can support this. We just need to enable that extension in the renderer.

While we're at it, any others you'd like to see enabled by default? https://godoc.org/github.com/russross/blackfriday#pkg-constants -- scroll down to the second list, with all the constants prefixed with `EXTENSION_` -- and let me know what you think would be useful to everyone.

[2015-10-29 08:47] tonka3000 commented on #294
Can i activate that in the caddyfile or is it only possible in golang code itself?

I think it is easier with an testsite and so i've upload my markdown [testpage](https://github.com/tonka3000/markdowntest/blob/master/index.md). The page contains the markdown command which i regularly use and you can see how github render it. Mostly i write markdown with atom, it would be nice when caddy has this

[2015-10-29 13:03] sinky opened #297 "browse and fastcgi"
Hello,
awesome project thank you.
If i request each file directly, each file is correctly handled. But if i request `http://localhost:81/` or `http://localhost:81/folder/` for dir indexing i get "No input file specified." from php.

I'm at Windows 7 x64 with newest PHP 5.6.14 x64

[code]

Root Dir Content:
* /phpinfo.php
* /test.html
* /folder/
* /folder/test.html

[2015-10-29 13:09] sinky opened #298 "browse subdir shows index.php from root dir"
Hello,
another problem i discovered shortly after https://github.com/mholt/caddy/issues/297

If i request each file directly, each file is correctly handled. So if i request `http://localhost:81/` i get the `index.php` (`phpinfo()`) rendered. But if i request `http://localhost:81/test/` for dir indexing i get the index.php from root dir rendered.

I'm at Windows 7 x64 with newest PHP 5.6.14 x64

[

[2015-10-29 15:18] pierrebeaucamp commented on #291
I didn't know about `import`, but that's exactly what I was looking for. Thanks.

[2015-10-29 15:18] #291 closed

[2015-10-29 15:46] mholt commented on #297
Hmm, I wonder if using browse and fastcgi for the same base path isn't compatible. The fastcgi middleware is seeing that /folder/ is a directory so it handles it before browse can have a chance to access it.

To make sure I understand, what are you trying to accomplish by using browse and fastcgi together? (I admit it's the first time I've seen them used with the same base path.)

[2015-10-29 15:48] mholt commented on #294
We'll have to change the code. As a user, you shouldn't have to worry about these minutia IMO.

Thanks for your test file! I'll use it to enable some extensions for the next release.

[2015-10-29 15:59] #294 closed

[2015-10-29 16:00] mholt commented on #294
I've enabled tables, fenced code blocks, and strikethrough for the next release. It renders the test page as expected.

Great suggestion - thanks!

[2015-10-29 16:38] mholt commented on #263
Thanks to Bisser for the PR -- this is fixed; turns out Content-Length header missing is not a bug in the cases I mentioned.

[2015-10-29 16:38] #263 closed

[2015-10-29 16:44] Makpoc commented on #293
The idea sounds interesting. Could you please explain a little bit more how do you propose to register the service. From what I understood a) and b) rely on an already installed service to detect and manage it.

[2015-10-29 18:44] tonka3000 commented on #294
No problem, i've clone your repo and build the lastest master (which is easy because caddy has no dependecies :smile:  ). Works perfect. The code syntax highlighting does not work, but thats a nice to have feature - but that's a different issue :wink:

no problem. I have to thank you for such an great application.

[2015-10-29 18:54] kardianos commented on #293
The final goal of this would be to enable running caddy directly as a windows service which requires some callbacks and a control loop. Secondary items to address are making it easy to install and auto-sense when it is being run as a service or in cmd.

The kardianos/service package wraps the x/sys/windows/svc package on windows and exposes a uniform API for all platforms. A decision on if this ch

[2015-10-29 19:29] sinky commented on #297
Hmm, i wonder why not. Shouldn't the fastcgi only be triggered with the right Extension at the end?

I try to get the same behavior like Apache.

[2015-10-29 20:53] mholt commented on #294
Code highlighting is actually enabled in the rendered markup, but for now we're leaving it up to the user to provide styling via a template or the `css` property.

Thanks for the compliment, and the feedback!

[2015-10-29 21:12] mholt commented on #297
Yes, that's definitely what you would expect.

PHP is hard.

The fastcgi middleware actually looks to see if the URL (within the base path) ends with `/`, indicating a directory. If it does, it passes the request to the fastcgi server, so (presumably) PHP can handle it. This is important for applications like wordpress that serve pages that end with a forward slash. IMO that's bad engineering but

[2015-10-29 21:34] mholt commented on #293
I do like the idea of "caddy as a service" -- but hold out on any implementation details, since the letsencrypt branch is going to land in master soon, which completely refactors the entire core -- making it very easy to start, stop, and restart the listeners, making it very service-friendly.

So I like where this is going. Keep an eye on master to see when letsencrypt gets merged into it. After t

[2015-10-29 21:36] kardianos commented on #293
@mholt Sounds good.

[2015-10-29 22:02] tonka3000 commented on #294
hmm, the problem is that my converted html code does not contain any tags/classes to style it. Only the "main"-tag has a class

Here is my example
[code]

Here is my converted html code segment build from the javascript code block:
[code]

If have a little python3 script which use markdown and pygments to create the html code which look like ...
[code]
Here i can style my code.

Did you get an dif

[2015-10-29 22:12] mholt commented on #294
Why use a python script? Just use something like [highlight.js](https://highlightjs.org/) to do syntax highlighting.

[2015-10-29 22:29] tonka3000 commented on #294
The python script is my old custom markdown to html converter - has nothing to do with caddy, it was only for comparison.

I will give highlight.js a try.

[2015-10-29 23:39] sinky commented on #297
I understand, but it should forward the request only for non existent folders. I think nginx or Apache do the Same.

Like so. (Copied & Paste on Phone)

!h.exists(fpath) && ( fpath[len(fpath)-1] == '/' || strings.HasSuffix(fpath, rule.Ext) )

[2015-10-30 00:28] mholt commented on #297
Impressive work on your iPhone! :wink:

[2015-10-30 00:29] mholt commented on #297
Impressive work on your iPhone! :wink: I think that's a good idea. Will work that in soon.

[2015-10-30 00:44] mholt commented on #297
@sinky Do you have Go installed? I'd like you to try this fix when you have a chance. I can send you a binary or you can build it from source (`go run main.go` should do).

[2015-10-30 08:56] sinky commented on #297
Hi, thank you. 😉
A Binary would be nice.

[2015-10-30 15:15] mholt commented on #297
@sinky Good attempt :smile: Not sure what is going on, it's possible that GOPATH isn't set properly or something. But here's a Windows x64 binary with the change: http://www.filedropper.com/processing/filedownload.php?id=caddyexe

[2015-10-30 19:21] DenBeke commented on #25
What part of a mail service do you want to setup, @Immortalin ? Because you need more than a simple MTA, you must also need IMAP (with user/mailbox management), and some decent spam (and spf) handling. I think this is way out of Caddy's scope.

[2015-10-30 19:27] mholt commented on #25
Yeah we're not gonna do email. :stuck_out_tongue:  *Maybe* a mail proxying middleware, might make a good add-on.

But I will keep my eye on @DenBeke's project: https://github.com/gopistolet/gopistolet

[2015-10-30 23:08] abiosoft commented on #297
@sinky so the expected behaviour is to have fastcgi passthrough directories that exists.

[2015-10-30 23:16] abiosoft commented on #297
How about introducing an additional config for this. Some users may want prefer current behaviour.
[code]
This basically enables your use case @sinky.

[2015-10-30 23:37] abiosoft commented on #298
This looks a bug and should not be the case. Trying to find a fix.

[2015-10-31 01:42] abiosoft commented on #289
If we make errors support placeholders, is it gonna do a redirect or rewrite ? If redirect, that's pretty straightforward. But for rewrite, it will be easier to go with the former suggestion of having rewrite based on status code.

[2015-10-31 01:50] captncraig commented on #199
There is also https://github.com/jwilder/docker-gen which already does a lot of the work of watching docker socket, configuration and such. Unfortunately their code is not (yet) reusable as a library. We can look at their code to see most of the possible config options needed to contact docker in different environments.

I like the scheme that https://github.com/jwilder/nginx-proxy uses for detect

[2015-10-31 04:23] mholt commented on #199
Now that Caddy has restart capabilities (in the letsencrypt branch) this is possible. :smiley:

[2015-10-31 04:49] mholt commented on #289
@abiosoft Good point. Dang. I hate it when error pages redirect -- IMO that should never happen.

Right now, the errors middleware just loads the file from disk and serves it up instead of the missing page. It doesn't know that it needs to send the request to the fastcgi middleware for handling.

Will need to think about a good way to handle this.

[2015-10-31 06:26] sinky commented on #297
@mholt the binary works good.
@abiosoft that's the right description ;-) I got a mail where you wrote about "additional config" "allow_dirs". +1

[2015-10-31 06:43] abiosoft commented on #297
@sinky Yeah. I wrote that at a time I didn't see mholt's suggestion would fix it. After having a second thought and looking at #298, I didn't see the need for it and I deleted the comment.

Naughty me, I thought no one has seen it. :wink:

[2015-10-31 06:58] abiosoft commented on #297
This should be fixed now. Feel free to close this issue when you confirm it.

[2015-10-31 07:00] abiosoft commented on #298
This should be fixed now. Feel free to close this issue when you confirm it.

[2015-10-31 10:47] Immortalin commented on #25
@DenBeke just MTA + IMAP. Anything else can be dealt with by the client.

[2015-11-01 11:20] sinky commented on #297
Fix confirmed.

[2015-11-01 11:20] #297 closed

[2015-11-01 11:20] sinky commented on #298
Fix confirmed.

[2015-11-01 11:20] #298 closed

[2015-11-01 11:30] sinky opened #302 "Arrow in default browse template"
The arrow character `&#11025;` http://www.charbase.com/2b11-unicode-leftwards-arrow-with-tip-upwards used in the default browse template does not appear on Windows.

Should be replaced with somthing like `&larr;` http://www.charbase.com/2190-unicode-leftwards-arrow witch works.

[2015-11-01 11:35] abiosoft commented on #302
Thanks for pointing this out. Will be fixed soon.

[2015-11-01 15:16] mholt commented on #302
It's almost 2016 and Windows doesn't support Unicode yet??? :disappointed:

I specifically chose the upward facing one so as not to be confused with the browser's back button, but I suppose the back arrow will have to do... until Windows learns its lesson. Thanks for the report!

[2015-11-01 15:44] sinky commented on #302
Yea shame on Windows.

[2015-11-01 21:53] Prezto commented on #219
I tried, but I need this now and I cannot get it to work. This is because I am new to go-Lang. So I solved it in a different way by concatenating with bash before starting caddy with systemd.

I tried, but failed and will try to learn more before I have another shot at this  :)

[2015-11-01 21:53] #219 closed

[2015-11-01 22:10] mholt commented on #219
It's no problem at all! We'll mark this as deferred so we don't forget about it. Quite often, we have contributors looking for something to do, so now we can point them to this.

[2015-11-01 22:47] mholt commented on #115
How about this instead, @lenovouser:

[code]

Would that be useful? Now you don't have a really, really long line. :smile:

By the way, the API is coming soon. It's mostly finished, in fact. The release after this next release should have a basic one to start with. The API will make it trivial to add/remove backends dynamically.

[2015-11-02 01:54] mholt opened #303 "A repository of examples"
I received a great suggestion via email today for a folder with a sample website and Caddyfile, so newbies could download it and see how it works without having to set anything up. I like this idea a lot, and I think a repository with several guided example Caddyfiles and websites might be great for beginners.

Not sure I can do this all myself. Who'd like to help? This wouldn't involve programmin

[2015-11-02 03:37] pierrebeaucamp commented on #303
I can help with that and yes, this should be in a separate repo.

Do you want to host the website using Github pages or do you want Caddy to serve the files?

[2015-11-02 04:13] mholt commented on #303
Thanks!

Ah, that is the existential question. :smile: I was actually thinking that the repo could just have a README.md file with a brief explanation and list of examples, then each folder could have its own Markdown file with a simple tutorial and maybe some screenshots. The user could download the repo as a zip file or clone it using git.

[2015-11-02 04:33] pierrebeaucamp commented on #303
Sounds good to me.

[2015-11-02 04:38] mholt commented on #303
Alright, repo is up: https://github.com/caddyserver/examples - and I've added you as a collaborator. Others are welcome to contribute!

[2015-11-02 07:30] abiosoft commented on #289
What makes this a bit tricky is that you only get status code after request has been processed. So it looks more ideal to have it built into `error`. However, having it inside `error` is like duplicating work.

Maybe middlewares should be able to use components of (or call) one another.

[2015-11-02 08:49] lenovouser commented on #115
@mholt

Hm. That looks good. How about making it even more simpler by being able to specify a port range too?

[code]

[2015-11-02 15:00] calebmer opened #304 "How to use environment variables in a Caddyfile?"
How do I use environment variables in a Caddyfile?

For example, say I am using the proxy directive, I want to be able to do the following:

[code]

[2015-11-02 15:30] mholt commented on #304
In keeping with the syntax of placeholders, how about something like this?

[code]

We could also allow the following syntax, so that Windows users could feel right at home:

[code]

[2015-11-02 16:03] abiosoft commented on #304
I do not see the need to support both syntaxes but this is very useful.

[2015-11-02 17:28] calebmer commented on #304
@mholt That sounds great 😊

[2015-11-02 17:31] mholt commented on #304
@abiosoft Was just thinking of the comfort/intuition of the Windows users who aren't used to using `$` for env vars. I think supporting both will be trivial enough, and I can't think of any common collisions right now.

[2015-11-02 18:58] mholt commented on #115
@lenovouser LOVE IT.

Somebody make it so. I've got my hands full for a while :smile:

[2015-11-02 19:52] abiosoft commented on #304
Okay. Let me get my hands on it.

[2015-11-02 22:24] acmacalister commented on #277
@mholt @garyburd I think I got all the races taken care of. Running it with race detector no longer prints any errors, so that is a plus. :smile:

@garyburd in regard to your last comment, Instead of using Scan like in the example, do you think we should just read up to the next newline and then send that as a message as opposed to each line from the current scanner as it is currently setup? I did

[2015-11-02 23:45] garyburd commented on #277
The websocketd code reads to the next newline, trims line terminators and sends the result.  Use Scan. It does the same thing with less application code.

[2015-11-03 02:09] acmacalister commented on #277
@garyburd sounds good. That's what I will do then. :+1:

[2015-11-03 02:31] mholt commented on #284
Things to work on **during** the beta period:

- [ ] Clean up logging and get it more organized
- [ ] Propose change to ACME spec to make ToS URL available before performing an action
- [ ] More customization of LE integration from Caddyfile

This list will also be updated as we go.

[2015-11-03 02:32] mholt commented on #284
Feature-complete for beta. Will open a new issue to track that progress separately.

[2015-11-03 02:32] #284 closed

[2015-11-03 02:34] mholt opened #307 "0.8 beta"
Things to look at or work on **during the beta period** (before 0.8 is ready) in no particular order:

- [x] Clean up logging and get it more organized
- [x] Propose change to ACME spec to make ToS URL available before performing an action
- [x] More customization of LE integration from Caddyfile (if necessary)
- [x] Upstream change: have lego bind to domain:port, not just :port
- [x] Handle 500 I

[2015-11-03 02:38] coolaj86 commented on #307
:+1:  :-)

[2015-11-03 05:18] tpng opened #309 "letsencrypt: HTTPS server bind 0.0.0.0:443 when host=localhost is set"
In my setup, I was running `sslh` (port multiplexer) on `0.0.0.0:443` to proxy `localhost:443`.
When I start `caddy -host localhost`, following error is returned.
[code]
Expected HTTPS server to bind on localhost:443.

Still, thanks for the great work on adding Let's Encrypt support!

[2015-11-03 05:21] mholt commented on #309
Hmm, indeed, Caddy expects that port to be available so it can solve the certificate challenge. Let me experiment locally real quick on a good way to work with this.

[2015-11-03 06:27] tpng commented on #309
example.com was just a placeholder for my real domain name, my Caddyfile look like this:
[code]

[2015-11-03 06:32] tpng commented on #309
It seems the [acme package bind to 443 or a custom port on 0.0.0.0](https://github.com/xenolf/lego/blob/3e1a5dc04b649b51b0ce2a6742c5295613832382/acme/simple_http_challenge.go#L122).
So we can't bind to the address specified by the `bind` directive without changing the acme package.

[2015-11-03 10:56] avelino commented on #307
+1

[2015-11-03 11:15] stuart-warren commented on #246
CoreOS have an OpenID Connect library
https://github.com/coreos/go-oidc

[2015-11-03 19:15] mholt commented on #309
@tpng I just committed the change upstream. Do you have Go installed? If so, would you pull the latest (both Caddy and xenolf/lego/acme) and try it again? If not, let me know and we'll get you a binary.

[2015-11-03 21:24] lenovouser commented on #115
I'd probably prefer `to` too. Glad you like it.

[2015-11-03 22:40] lenovouser commented on #307
:+1:

[2015-11-04 00:45] tpng commented on #309
Just go get'ed the latest Caddy and it now binds to localhost correctly, thanks!

[code]

[2015-11-04 00:48] mholt commented on #309
Yay :tada: Thanks for the report!

[2015-11-04 20:43] coolaj86 opened #310 "prefix / postfix domain and route matching (wildcard)"
Last night I cleaned up a bunch of [Cloud](https://daplie.com/cloud/)'s code so that I can actually start using Caddy for static serving. Before I go writing a super-dynamic Caddyfile generator, I wanted to see if this is supported somehow currently:

Is there a simple pattern matching for a case where I want any `/api` to go to the same backend (with appropriate Host, X-Forwarded-For, and X-Forwa

[2015-11-04 21:12] coolaj86 opened #311 "getcaddy.com / installer script"
moved to https://github.com/caddyserver/caddyserver.com/issues/16

[2015-11-04 21:19] coolaj86 opened #312 "[idea] 'secure' directive"
Just an idea for discussion for now:

I'm not sure on exactly what this should look, but I'd like to see a `secure` directive that turns on reasonable-default headers for CSP, iframe blocking, block POSTs from hitting the backend unless CORS is actually enabled, https keypinning, etc, etc, etc.

Obviously there are a million things that could be heavily configured, but for people that actually kno

[2015-11-04 21:29] coolaj86 commented on #246
Here's the million dollar question:

How should this work? As in what's the use case?

Are we trying to say "only people with a facebook account can log in"? Because that's not really doing much. Also, facebook user app-scoped ids, so to specify a list of individuals you need to know their ID with your app (which should be not hard to find in the developer console, I think). I guess you can get em

[2015-11-04 21:32] coolaj86 commented on #109
In what way is it intended to limit access?

Note that if limitation is "must have a facebook account", well, that's anyone. What should this social login accomplish?

[2015-11-04 22:31] #311 closed

[2015-11-04 22:45] coolaj86 commented on #107
Is this in the v0.8 beta?

[2015-11-04 22:49] mholt commented on #107
@coolaj86 Yep

[2015-11-05 00:04] mholt commented on #310
Well the `*` host is `0.0.0.0` (or empty string). For the rest of what you're looking for, it's on our short-term roadmap. Meaning that, even now, @Makpoc and @xenolf are looking into the GetCertificate function (for different reasons) which should allow you to dynamically serve a certificate -- I think.

Dynamic root paths are also underway - I started working on it but then letsencrypt happened,

[2015-11-05 00:37] coolaj86 commented on #310
@Makpoc @xenolf @mholt I have a fully functional example of exactly how to use GetCertificate this way: https://github.com/coolaj86/golang-https-example/blob/master/serve.go

[2015-11-05 00:39] coolaj86 commented on #310
@mholt do you have an example of what that json should look like for various caddy files? Is there a place to publish them if I make some?

[2015-11-05 00:41] mholt commented on #310
@coolaj86 The test file has a few simple examples: https://github.com/mholt/caddy/blob/master/caddy/caddyfile/json_test.go - Also see this comment which as a more filled out example: https://github.com/mholt/caddy/issues/111#issuecomment-150333642 - but this JSON code is not yet being used, so it's not wired up to any API endpoint yet.

[2015-11-05 00:41] coolaj86 commented on #167
[code]

[2015-11-05 01:24] Siecje opened #314 "Hide markdown file extensions in the URL"
I'm starting with the markdown structure in the examples repo

https://github.com/caddyserver/examples

I don't want ```.md``` to be in the URLs.

I added ```ext .md``` to the Caddy file
[code]

The links from the index page still contain .md and both are available.

[2015-11-05 01:31] mholt commented on #314
The ext middleware doesn't change anything in files; it just rewrites requests so that if it gets a request for /blog/post, for example, it looks for a file called /blog/post.md.

The Caddy website uses this. It links to pages, like /download, even though the actual file is /download.html. You can use either, but the clean URL is certainly nicer. :)

[2015-11-05 01:32] Siecje commented on #314
The index page has links with .md

[2015-11-05 01:38] mholt commented on #314
You can remove them. Are you talking about the index template? It is too naive to know that you want to strip extensions, but you can very easily; something like this: `{{$.StripExt .URL}}`

[2015-11-05 08:57] coolaj86 opened #315 "v0.8 panics when run as a child process"
I found the magic smoke:

[code]

[code]

[2015-11-05 08:58] coolaj86 commented on #315
Here's the test case:

[code]

[2015-11-05 09:06] coolaj86 commented on #315
Oh, and my Caddyfile:

[code]

This works fine when run not as a child and it also works fine with 0.7.6

[2015-11-05 09:22] coolaj86 opened #316 "v0.7.6 bind: address already in use"
My workaround for the v0.8 child process bug would have been to use v0.7.6 and just kill and restart it.

However, when run as a child process, killed, and respawned caddy can't rebind to it's port.

Restart the parent process and boom, it works.

[2015-11-05 09:24] coolaj86 opened #317 "needs option for pidfile"
My workaround for the previous two issues was going to be to start caddy with something like upstart and then issue a kill directly to its pidfile... but I don't see an option for writing a pidfile in the docs or in the `--help`

[2015-11-05 09:51] tpng commented on #315
It seems caddy was reading the Caddyfile from stdin, when the USR1 signal arrived, the global `caddyfile` was still nil and thus the panic.

[2015-11-05 10:08] coolaj86 commented on #317
Ugh... and the **workaround won't work** either because **caddy changes its pid** when it receives `SIGUSR1`.

Normally you'd do this:

[code]

But since caddy changes its own process, not even `exec` knows what process it is.

[2015-11-05 10:18] coolaj86 opened #318 "Needs E-TAG header. May serve incorrect content on server restart"
Just manual testing updating the config with SIGUSR1 and it looked like it was even working. However, I found that it's actually sending `304 Not Modified` for content that has been modified.

The issue is that it sends `last-modified` headers with the date of the file, but if the file is swapped out with an earlier file, it sees the `if-modified-since` header and can't tell that the file has been

[2015-11-05 10:36] coolaj86 commented on #315
Thanks! That had crossed my mind, but I the default for 'process.stdin' was changed to paused and so I thought stdin was as well.

Why does it read from stdin when '-conf' is specified? Is that for a new feature in 0.8 or a new bug?

[2015-11-05 13:32] severak commented on #294
Thanks for enabling tables in next version. Also would be nice when markdown extensions/profiles can be configurable in some next version.

[2015-11-05 14:32] mholt commented on #315
When the process forks, it has to transfer the Caddyfile to the child process. It does this using a pipe. Specifying -conf just tells the original process where to load the Caddyfile, and subsequent reloads will also load that file, but the re-loaded file is still transferred over a pipe after forking.

I will add a nil check on that line to prevent this panic in the future... but am still not sur

[2015-11-05 14:36] mholt commented on #318
#191 is about ETag. (What does this have to do with server restart though?)

[2015-11-05 14:43] mholt commented on #316
Well 0.7.6 was never intended for port reuse / restarts as a child process. We'll fix 0.8 beta instead of supporting workarounds in older versions. :wink:

[2015-11-05 14:43] #316 closed

[2015-11-05 19:26] pschlump opened #320 "Proxy to a remote server with the remote using self signed certs fails."
Suppose that you have caddy running as a reverse proxy to a 2nd server.  Caddy will return
an error if the 2nd server has self signed certificates.

Caddyfile:
[code]

Suppose that https://www.test2.com:9443/ is a server running with self-signed certificates.
You get the error:

2015/11/05 09:00:00 http: TLS handshake error from 192.168.0.158:56996: remote error: bad certificate

The :9443 server

[2015-11-05 19:31] coolaj86 commented on #318
Ooops, shoulda done my homework.

It has to do with restart / SIGUSR1 because if you change the config file such that it points to a different directory, you can't tell that the config file successfully reloaded. It looks like it's reading the old config... until you examine the headers.

[2015-11-05 19:31] #318 closed

[2015-11-05 19:40] mholt commented on #318
Can you elaborate on this?

Config != web page. I'm still confused.

[2015-11-05 19:41] pschlump commented on #320
It looks to me like the default is for it to check that the certificate is valid.   I am working on some code
that sets the flag to make it not check.

[2015-11-05 19:43] mholt commented on #320
@pschlump Check out https://github.com/mholt/caddy/blob/47c5b6c9c40200cb7483bb890ac3a0e092771021/caddy/letsencrypt/handler.go#L40-L48 for an example; it may be helpful.

I feel like this verification is important, though, and should be on by default.

[2015-11-05 19:53] coolaj86 commented on #191
I would suggest a two-part E-TAG using the `stat` object and running a fast hash (such as BLAKE2) against it.

Part 1:

* `mtime` - modified at
* `ctime` - created at
* `mode` - permissions
* `size` - number of bytes in the file

Part 2 (optional):

Optimistic Approach: If it is suspected that the file has changed (because the values above don't match), read the file disk and hash it. You could us

[2015-11-05 19:54] coolaj86 commented on #191
Point me at the right file and there's a strong likelihood I can get you a pull request.

[2015-11-05 20:00] coolaj86 commented on #318
The device starts up in a `locked` state, so any request to any "app" on the device is pointing to the same directory

[code]

Once the API gets the master passphrase from the device owner the device unlocks and the config is changed

[code]

The lock screen then issues a refresh of the page.... and it's still at the lock screen... WHAT!?

Oh, it's because the html files for the lock screen I just

[2015-11-05 20:17] coolaj86 commented on #315
Just got around to testing this...

Yep, it seems to be working. :-)

[2015-11-05 20:25] coolaj86 commented on #320
@pschlump You SHOULD NOT use self-signed certificates DIRECTLY. You MUST use them INDIRECTLY.

See

* https://coolaj86.com/articles/create-your-own-certificate-authority-for-testing/
* https://coolaj86.com/articles/how-to-create-a-csr-for-https-tls-ssl-rsa-pems/
* https://github.com/coolaj86/nodejs-self-signed-certificate-example/blob/master/make-root-ca-and-certificates.sh

You just need to add 3

[2015-11-05 20:27] mholt commented on #315
Ok. That's not a workaround, that's correct code. Glad it's working now! ^_^ Pushing a fix for the panic in a moment.

[2015-11-05 20:27] coolaj86 commented on #320
Edit: changed the clientca / rootca location (I think I got it right now)

[2015-11-05 20:34] coolaj86 commented on #315
I reread what you wrote ^^, but I'm still not clear.

Why is checking stdin when `-conf` is used correct? When it forks does it still have `-conf`in the arguments so there's no way to know it was a fork?

Also, for the sake of sanity, please do print an error message if it gets a signal before the config is read. In my case a useful error message would have directed me to close stdin. :-)

[2015-11-05 20:37] #315 closed

[2015-11-05 20:42] mholt commented on #315
Because [pipe has precedence over the conf flag](https://github.com/mholt/caddy/blob/fc7f7dffa869ad1a4a3f097a302282e1b7de8996/caddy/caddy.go#L289-L295).

[2015-11-05 21:07] coolaj86 opened #322 "json api format"
forking discussion from https://github.com/mholt/caddy/issues/310

[That json](https://github.com/mholt/caddy/blob/master/caddy/caddyfile/json_test.go) looks more like a syntax tree than a data specification. You're using all arrays because you're parsing the file as arrays (because you don't want the end user to concern themselves with the difference between an array and a key/value pair, and you

[2015-11-05 21:37] mholt commented on #322
What does it look like if a server block has two or more hosts?

[2015-11-05 21:56] coolaj86 commented on #322
At point that we're talking about machine parsing and APIs, we're no longer looking at user conveniences for writing the file (because the human-written file will be re-written by the machine once the next api call hits), so in the case of multiple keys for a single value, the parser needs to expand the values.

[code]

will become

[code]

and would write out as

[code]

You could, of course, do

[2015-11-05 22:04] coolaj86 commented on #322
I would suggest mocking up a UI that fits how you think people will want to configure their server and then modeling the data after that.

If you want the Caddyfile to be treated like a document (preserve comments, whitespace) rather than like data, then throwing it into HTML / XML is actually a better choice than throwing it into JSON.

However, as soon as interfaces are developed for it the devs

[2015-11-06 06:53] mholt commented on #320
The suspense is killing me :laughing:

Why does it matter if it's just on localhost for a (temporary) dev environment?

[2015-11-06 06:59] mholt commented on #322
I just realized that the directives can't be used as keys unless their values are multidimensional arrays, which I'd like to avoid (more iterating)...

e.g. this Caddyfile:

[code]

Would only represent `dir line1` in the JSON because keys have to be unique. We could do `"dir": [["line1"], ["line2"]]` but I don't like the extra nesting.

Another way is that line is basically an array, and the firs

[2015-11-06 08:58] coolaj86 commented on #322
The problems of multiplexing a syntax... not good for machines... not good for humans.

You have to consider what it is that you're trying to represent. If you actually look at your directives, it's a map not an array.

Example

[code]
You wouldn't ever do

[code]

Nor would you ever do

[code]

Even though you can specify proxy multiple times, `proxy` is a **key value pair**, not an array.

Don't

[2015-11-06 10:56] coolaj86 commented on #317
This one is still a beast.

Sometimes when running as a child process, the parent dies and then caddy takes on a life of its own. Since it changes PIDs and there's no way to create a pidfile, I can't programmatically shut it down.

[2015-11-06 11:13] coolaj86 commented on #320
not the global authorities.

I don't believe that disabling cert verification should ever be an option. I think that instead there should be a FAQ "how do I disable cert verification" and then a "you don't need to, run this command instead and add this line to your config file".

I would be very happy to finesse my self-signed authority / cert scripts and publish that material.

The belief that a

[2015-11-06 18:21] mholt commented on #317
There are a few ways to do this -- feel free to propose a PR. Preferably, the user will not have to specify a pidfile location (maybe use the system pidfile store?).

[2015-11-06 18:26] coolaj86 commented on #317
The user does need to specify the pid file, if they want one - otherwise when you're running two instances of caddy you would be overwriting a single pid file, or you would be guessing at witch of the caddy.<<random>>.pid files you need to use.

Typically the user would want the pid file to go to /var/run/caddy.pid on linux.

Would you like it as a global in the Caddyfile? A commandline option? bo

[2015-11-06 18:40] coolaj86 commented on #315
This still sounds like a bug to me.
Why would the **default** behavior use **implicit** configuration that overwrites an **explicit** configuration?

I see that you've even commented that you're doing this on purpose, but I'm not understanding why.

It seems like `loader` should accept an argument to the file specified by `-conf` and then loader should read from the pipe if the filename is nil.

T

[2015-11-06 18:44] mholt commented on #315
Piping data into a process is an explicit action.

[2015-11-06 18:50] mholt commented on #317
I doubt that many users run more than once instance of Caddy, but we shouldn't assume that's always the case, I agree.

The Caddyfile doesn't have globals, so how about a command line option. `-pidfile` maybe. (Besides, this will mostly be used by programs in automation environments, so I'm OK with making the pidfile an explicit option like this.)

[2015-11-06 18:56] coolaj86 commented on #315
There's something that you understand that I don't understand or vice versa.

If I just run `caddy` from the command line with `-conf`, it doesn't halt and wait for user input.

If I write a node program for the command line and I want to read from stdin I have to explicitly tell it to read from stdin in node.

As a user I did not specify the "read from stdin" flag in caddy (typically this would b

[2015-11-06 19:05] coolaj86 commented on #315
I'm reasoning about this and because I've not created a program to behave this way, I may lack some fundamental background knowledge.

Perhaps the case is that the default state of stdin is paused, but when you use something like `cat filename.txt | caddy` then `cat` is explicitly choosing to open stdin, which `caddy` can detect.

And also what you're saying is that running just `caddy` would leav

[2015-11-06 19:06] mholt commented on #315
Caddy [only reads from the pipe if there is one](https://github.com/mholt/caddy/blob/cf5aa1bed1983db427ce5b8a8eb6ce0a23ce464c/caddy/caddy.go#L314). It is the parent process' responsibility to open that pipe or not.

Yeah, don't do that. Choose one or the other.

[2015-11-06 19:09] coolaj86 commented on #315
But... that's ambiguous and arbitrary. That's... confusing.

That means that people have to guess why something happened the way that it did and spend time debugging it (and your time explaining it).

[2015-11-06 19:11] mholt commented on #315
How is it arbitrary and confusing?

If you have a Caddyfile to pipe into Caddy, then open a pipe, send the bytes, and close the pipe.

If instead you have a Caddyfile on disk for Caddy to load, then use `-conf` to specify it.

[2015-11-06 19:29] coolaj86 commented on #315
Here's the litmus test:

1. Go find a few programmers (or people that have used pipes in the command line).
2. Show them this text `cat wow.txt | caddy -conf awesome.txt`.
3. Ask them what they think might happen.
4. Then show them this text `cat /etc/a/Caddyfile | caddy -conf /etc/b/Caddfile`.
5. Ask them what they think might happen.

It's arbitrary because:

  * the choice wasn't made by the us

[2015-11-06 19:39] mholt commented on #315
I'll have Caddy throw an error if both a pipe is open and the -conf flag is used.

[2015-11-06 19:42] coolaj86 commented on #315
I love you Matt.

I mean this completely sincerely: You are a true genius.

You think things through very critically and once you've decided on you don't just go with what someone says, you make them work to prove its legitimacy. I genuinely appreciate that about you.

:-)

[2015-11-06 19:46] coolaj86 commented on #315
P.S. I can PR if you'd like. You've shown me where the code is and I know how to test it locally.

Let me know.

[2015-11-06 19:52] mholt commented on #315
Thanks - I actually want to move the code that calls LoadCaddyfileFromPipe into the loader() function in main.go, since I think that should be up to the discretion of the users of the caddy package, not forced. So I'll take care of this one. But the pidfile issue could use your help when you have a chance. :+1:

[2015-11-06 19:57] coolaj86 commented on #317
I'm sure I can find the command line argument parser with ease. I think I've been in that code before.

Looks like I'll need to use either [Getpid](https://golang.org/pkg/os/#Getpid) or [Getppid](https://golang.org/pkg/os/#Getpid), I can test and figure that out.

Would this be the correct place to perform the file write?
Would that be here - Getppid on the inside, Getpid in an `else`? https://git

[2015-11-06 20:23] mholt commented on #317
Probably do it in main() or at least in main.go -- I don't think this needs to affect other Go programs if Caddy is used as a library.

[2015-11-06 20:28] coolaj86 commented on #317
Ah, yes.

However, if I observed the behavior correctly (and I believe I did), the pid changes when the server creates a child process for itself during the `SIGUSR1` restart, which is why using the conventional `start-stop-daemon` approach didn't work.

[2015-11-06 20:37] mholt commented on #317
I haven't tried start-stop-daemon, I dunno, but if a pidfile allows the child process to change the process id to the new one, then, that'll work right? I don't know how to keep the pid the same...

[2015-11-06 20:41] coolaj86 commented on #317
I'm pretty sure you don't keep the pid the same. A child process will have its own distinct pid from its parent.

The issue is that the main function isn't called when the child process is created. The caddy.Start() function is called, right?

Writing the pidfile in main doesn't allow it to be rewritten when the child is spawned and supersedes its parent because main only runs once. Is that correc

[2015-11-06 20:43] mholt commented on #317
main is the program's entry point - it is always called. It subsequently calls caddy.Start, but not before all the init() functions run first.

[2015-11-06 20:53] coolaj86 commented on #317
So when ForkExec happens here [0], you're saying that it actually is called here, execution of the child begins in main.go here [1]?

0: https://github.com/mholt/caddy/blob/fc7f7dffa869ad1a4a3f097a302282e1b7de8996/caddy/restart.go#L80
1: https://github.com/mholt/caddy/blob/fc7f7dffa869ad1a4a3f097a302282e1b7de8996/main.go#L48

I ask because in C forking looks something like this where the fork imme

[2015-11-06 21:06] mholt commented on #317
Go processes apparently don't fork well, so syscall.ForkExec forks, then execs, a new process, in a thread-safe way. So it starts back at main(). And yes, it shouldn't be too bad :)

[2015-11-07 06:18] kavun opened #324 "Custom proxy upstream health check"
Currently the proxy middleware supports a health check that requests a path and executes the following  logic on the response.

[code]

What would be the best way to add support for logic to **fail the health check if the response content does not match a given regex**? My initial thought would be to add another parameter to the health_check like `health_check path [duration] [content_regex]`. Wou

[2015-11-07 06:29] mholt commented on #324
Although I shudder at the thought of the user needing to use and maintain a regex, your proposed syntax is probably how I would do it, if it were to be implemented.

Does it need to be a full-blown regex or can we get away with substring matching? (i.e. look for that string in the response body to be considered healthy)

[2015-11-07 06:44] mholt commented on #195
@pschlump Your proxy backend is explicitly defined as plaintext http: `http://localhost:8204/` - so I doubt a HTTPS connection is being made.

@bigtan I know it's been, like, 5 months, but are you still having this problem? :smile:

[2015-11-07 06:46] mholt commented on #293
@kardianos The merge is completed, and I don't anticipate any huge changes for the next little while, if you wanted to start looking into the service feature.

[2015-11-07 06:46] #314 closed

[2015-11-07 17:24] kavun commented on #324
Yea you're probably right - for all cases where I've done something similar with other load balancers a simple string substring match has been enough.

Would the syntax have to be this instead since `duration` would be required if you wanted to supply the `content_substring`? `health_check path [duration [content_substring]]` - just trying to make sure this ends up being clean without introducing

[2015-11-07 17:29] sinky opened #325 "Livereload"
Example: http://corte.si/posts/devd/intro/index.html

Would be awesome to have this in caddy.
Autoinject a script to html. Caddy watches the root for changes an tells the script to reload the page.
The script could watch a special url that returns an hash or number and if caddy changes this hash/number the script reloads the page on the next check.
Or a websocket.

[2015-11-07 17:54] mholt commented on #324
Yeah, duration would be required then.

This isn't ideal but let's try it and see how it goes. Saying '10s' isn't too bad.

[2015-11-07 17:58] mholt commented on #325
Would love to see this as an add-on (plugin). I think it'll be really helpful in development. WebSockets would shine here.

[2015-11-08 02:21] JHKennedy4 commented on #325
I'm writing a hot module reloader right now based on capaj/jspm-hot-reloader and a simple filesystem watcher using `os/fsnotify`, but I'm getting 10+ second websocket responses with just `cat` and nothing back from my watcher script.
My Caddyfile:
[code]

My socket client:
[code]

[2015-11-08 02:30] mholt commented on #325
@JHKennedy4 That's cool. What is caddy-hot-reloader? Are you sure it works by itself (without websockets)? Also, if you have a chance, pull the latest from master as a data race was recently fixed in the websocket middleware.

[2015-11-08 02:52] JHKennedy4 commented on #325
Caddy-hot-reloader (which I've literally just decided to rename to `caddy-hot-watcher`) is almost exactly the fsnotify [example code](https://github.com/go-fsnotify/fsnotify/blob/master/example_test.go). It's a very rough work in progress, and at the moment it just returns the path of any file that's modified in my static asset directory (./app).

I'm confident that the watcher code works correctl

[2015-11-08 03:16] JHKennedy4 commented on #325
`master` did the trick :100:

[2015-11-08 03:20] mholt commented on #325
@acmacalister ^^ check that out. Great work, thanks for the fix! :+1:

@JHKennedy4 How interested would you be in turning that into a Caddy add-on?

[2015-11-08 04:59] JHKennedy4 commented on #325
Definitely interested. Any requirements I should read up on?

[2015-11-08 05:34] mholt commented on #325
Nothing special, but [here's a guide to extending Caddy](https://github.com/mholt/caddy/wiki/Extending-Caddy) that you will find helpful. It has examples and basic function stubs you can use as templates to get started. Feel free to join us on Slack or ask here if you have questions!

[2015-11-08 09:41] JHKennedy4 commented on #325
@sinky 90% of what you need is in [caddy-hot-watcher](https://github.com/jhkennedy4/caddy-hot-watcher) though it's very much an alpha I hacked together today. It just recursively adds files to fsnotify's watcher from the root it's run in and writes the filename of written files to stdout. Just need to write the  script that listens to it.

Take a look at [caddy-hot-loader](https://github.com/JHKen

[2015-11-08 17:13] #277 closed

[2015-11-09 22:00] mholt opened #327 "Make tls automatically generate self-signed cert if desired"
[There should be a way](https://twitter.com/mholt6/status/662353183344164864) for Caddy to generate and use in-memory, self-signed certificates (and keys) for local development/testing, if requested by the user.

Maybe something like:

[code]

to make sure the user is clear about it only for use in testing environments. (Some users may not know what "self-signed" certificates are.)

This'll be rea

[2015-11-10 05:07] zacheryph commented on #199
The idea of querying docker [on multiple hosts] for every request sounds like an extreme amount of overhead, and an absurd amount of added latency.  I don't think caddy as an http server needs to care or remotely know where or what docker is.  Next you will have people asking that it track when they create new droplets on digital ocean or instances on AWS and automatically proxy to them.

I would

[2015-11-10 05:28] mholt opened #328 "Toward a more robust, consistent CLI"
Caddy's CLI has kind of been hacked together as the project expanded (quite rapidly) over the last few months. With 0.8, we have more flags than ever before and support for short Caddyfile as unflagged arguments.

Was chatting with @spf13 and he had some excellent suggestions for improving the CLI, by putting common functions behind a command. In other words, instead of slopping together `caddy br

[2015-11-10 05:59] captncraig commented on #199
I feel like the ideal for this would be some api to the proxy module that allows you to change the downstreams at runtime. Restarting the entire server seems tricky, and there are a lot of possible use cases for reconfiguring the downstream servers.

It would be nice if either a custom middleware, or an outside application could change the set of proxied servers without a full restart.

[2015-11-10 06:03] captncraig commented on #312
Something like https://github.com/martini-contrib/secure may be a good starting point to look at.

[2015-11-10 06:09] mholt commented on #199
That's really, really hard to do right. It's inherently racy.

Restarts are pretty lightweight (I haven't tried doing dozens of restarts per second or anything like that, but they work well enough in succession). You may have a few processes hang around for a couple seconds while it closes connections, but each restart is graceful and race-free. I'm going for robust restarts here; you can trust th

[2015-11-10 15:41] carlisia commented on #328
I would love to tackle this. I'll start looking at it tonight.

[2015-11-10 15:42] spf13 commented on #328
I want to help also. Maybe code it up / design it together?

[2015-11-10 15:43] carlisia commented on #328
@spf13 I would absolutely love that. Want to coordinate schedules over at Gophers Slack?

[2015-11-10 15:44] spf13 commented on #328
Sounds good

[2015-11-10 16:44] pierrebeaucamp commented on #199
I'm currently using [confd](https://github.com/kelseyhightower/confd/) to manage a very similar scenario with docker - but I haven't looked into graceful restarts yet. I think the should be possible with the new caddy API.

[2015-11-10 17:39] mholt opened #329 "Re-create log files if deleted"
If a log file is deleted from disk while Caddy is running, Caddy should re-create it. This can be detected if there is an error when printing to the log.

This should apply to the process log, access logs, and error logs.

Logs that write to stdout/stderr should just silently fail if those disappear, I guess. Not sure what would be better.

[2015-11-10 18:50] mholt commented on #322
@coolaj86 Thanks for your feedback. I've changed the format slightly in c31e86d and will probably leave it that way for now... subject to change as I actually use it to develop a client on it.

No matter the syntax, it's likely there will be a JS client library for manipulating the Caddyfile. The nice thing about JSON is that, at least, tokenization is taken care of and the data is still structure

[2015-11-10 18:51] #322 closed

[2015-11-11 01:47] coolaj86 opened #331 "Order command line flags alphabetically"
Many projects choose to order command line flags alphabetically.

This is a good practice as it is easy to recognize by simple observation and helps to prevent merge conflicts when merging branches that both contain new command line options.

[2015-11-11 02:02] #331 closed

[2015-11-11 02:03] #317 closed

[2015-11-12 08:27] sinky commented on #327
+1

[2015-11-12 08:35] sinky commented on #325
Looks quite nice. Looking forward to a caddy addon.

[2015-11-12 18:05] hdid opened #334 "Graceful restart and SIGUSR1"
Hi
As notes, I tested the the SIGUSR1 signal but i could not understand how it works!?
I ran the command `kill -SIGUSR1 $PID`; the caddy process forked but old process did not die and just duplicated:

![caddyfork](https://cloud.githubusercontent.com/assets/3944323/11126545/aad8d9f8-8984-11e5-9883-4c116bff0f29.jpg)

caddy is 0.8 beta x86 run under Debian wheezy

[2015-11-12 18:59] mholt commented on #334
Did you compile from source or download the binary on the beta release page?

[2015-11-12 21:20] hdid commented on #334
No i did not compile. It is pre-built binary

[2015-11-12 21:25] mholt commented on #334
I think this bug is fixed on master. I'll deploy a new beta release in a few days with that and other bug fixes.

[2015-11-13 02:06] mholt commented on #307
Some bugs related to restarts in the current beta 3 -- I'm in the process of fixing them on master and will deploy an updated beta in a few days (or sooner).

[2015-11-13 04:25] ElvizLai opened #335 "How can I return Status 403 Forbidden"
I want to refuse all visitor from IP address and return 403 status. Any directive can fulfill this feature？

[2015-11-13 05:28] JHKennedy4 commented on #325
ok, so I'm digging into this and I'd like to get an idea of what people would actually want out of a livereload plugin. Obviously I'd like to minimize dependencies and make it as widely applicable as possible, but I'd like to balance that agains functionality if possible.

As is, my two services can perform a livereload if index.html is changed, and a hot reload if any js or css is changed (or it

[2015-11-13 06:00] bhilton opened #336 "Internal proxies"
The X-Accel-Redirect header support is useful as a way of injecting an authentication middleware into the request stack, but once authentication is complete, I would like to be able to redirect client requests to another backend api, not just to a local directory for serving files.

Could you consider adding support for X-Accel-Redirect into proxy routes and also supporting the internal keyword in

[2015-11-13 07:06] mholt commented on #335
Perhaps the ipfilter plugin can help: https://caddyserver.com/docs/ipfilter

[2015-11-13 10:25] abiosoft commented on #335
Seems we have some good news.

The feature is being worked on. https://github.com/pyed/ipfilter/issues/1

[2015-11-13 14:49] mholt commented on #325
I'd suggest starting simple, and going from there depending on demand, the tradeoff for complexity, etc. I can understand the value of reloading the HTML page if one of its JS or CSS (or image?) dependencies changes, but that does sound a bit involved, especially for a first stable iteration.

Keep in mind, too, that the server-side stuff will need to have at least some tests.

[2015-11-13 14:50] mholt commented on #334
I've fixed this locally and will push the changes soon. Thanks for the report!

Stay tuned for that commit or wait until the next beta release.

[2015-11-13 14:50] #334 closed

[2015-11-13 17:31] JHKennedy4 commented on #325
Yup, that's pretty much my line of thinking. Should be fun :)
On Fri, Nov 13, 2015 at 6:49 AM Matt Holt <notifications@github.com> wrote:

[2015-11-13 18:10] mholt opened #337 "Site and docs translations"
As suggested by @unknwon in Slack today, Caddy could serve a much wider audience if it had Chinese documentation.

I don't know Chinese.

But I'm willing to upgrade the site to support additional languages.

This is probably a lot to ask for, and it will require some degree of maintenance as the docs change over time. This can be a collective effort, but I myself cannot do any of it.

Help?

[2015-11-13 22:51] gedw99 opened #338 "Compile for Android"
Can Caddy be compiled for Android ?
It mentions it on the web site, but i would like to do this myself.
Would be really useful

[2015-11-14 00:13] mholt commented on #338
If your Android phone is newer, it probably runs on Linux ARM. Just download or build Caddy for Linux ARM and follow these instructions. https://github.com/mholt/caddy/wiki/Running-Caddy-on-Android

There are ways to do native Android builds but I haven't gone down that road at all.

[2015-11-14 02:50] coolaj86 commented on #223
Bump.

* `X-Forwarded-For`
* `X-Forwarded-Host`
* `X-Forwarded-Proto`

[2015-11-14 02:55] coolaj86 commented on #223
Or I guess it wouldn't be `X-Forwarded-Host`, it would just be `Host`.

But anyway, seems like these should just default on. I don't know of any instance where A) they shouldn't be used or B) you intend for them not be sent.

i.e. All apps should be checking IP addresses so that they can do any necessary session spoofing checks and whatnot. All apps should know they can set secure cookies and what

[2015-11-14 03:08] coolaj86 opened #341 "[bug] multiple values for proxy_header templates"
I'm receiving quadruple values for templated headers of `proxy_header`:

Incoming Headers
[code]

Caddyfile
[code]

[2015-11-14 06:12] mholt commented on #341
Uhhh that's cool... I'll see if I can reproduce it.

[2015-11-14 20:13] #338 closed

[2015-11-14 20:16] mholt commented on #336
Let me defer to @mschoebel on this, as I don't have much (any) experience using the X-Accel suite of headers. If we do make a change, we should be careful not to duplicate much/any code, if possible...

[2015-11-14 22:48] mschoebel commented on #336
The `internal` directive is not restricted to serving files. I just tried this ...

[code]

[code]

... and it works like expected: accessing `http://localhost:8000/backend/protected_api` results in a 404 and `http://localhost:8000/backend/api_authentication` returns the "Protected API result.".

@bhilton Does this match your use case?

[2015-11-14 23:30] bhilton commented on #336
Yes, this is perfect, thank you! It wasn't clear to me that I could combine the internal keyword and the proxy keyword for the same path. Now that I see your example it makes sense and in my local testing it works exactly as desired.

[2015-11-14 23:30] #336 closed

[2015-11-14 23:31] mholt commented on #336
Hurray - drinks all around! :tropical_drink:

[2015-11-15 13:24] mbanzon commented on #327
+1

[2015-11-15 14:17] #304 closed

[2015-11-15 14:48] calebmer commented on #304
Thanks guys. It was really awesome seeing you guys work. Super excited to try out caddy in production 😊

[2015-11-15 15:21] mholt commented on #341
But it doesn't happen for the Host header?

[2015-11-15 18:11] shivakumargn opened #342 "support caddy deployment in openshift & heroku"
Current Caddyfile is not suitable for using in openshift and heroku like environments.

[2015-11-15 18:53] mholt commented on #342
I'm nofamiliar with either service. Care to elaborate, including your idea for making it more compatible?

[2015-11-15 20:04] coolaj86 commented on #341
My guess is that it does but node's http parser ignores the illegal ',' and all trailing characters.

[2015-11-15 20:06] coolaj86 commented on #341
Also, I had 4 entries in my Caddyfile. It would be interesting to test with 3 or 5 entries and see if the multiple changes accordingly.

[2015-11-15 20:11] mholt commented on #341
Yes, please do and let me know.

By "entries" you mean server blocks?

[2015-11-16 04:37] Karthic-Hackintosh commented on #10
There is certainly a need for caching to scale Caddy. The profiling shows that the performance is hindered by File I/O being made for every request.Will soon release documents and reviews on performance and enhancement suggestion for each middleware from the profiling and performance tests I'm doing. I'm also looking at Groupcache and checking out whether it could be integrated for caching static

[2015-11-16 13:27] mbanzon commented on #327
Does the std lib or any third party library provide certificate generation?

[2015-11-16 14:18] mholt commented on #327
Yep, or there's also this code from lego as a good, simplified example: https://github.com/xenolf/lego/blob/6a6af837dd43b76a5fe1c3014cae25dad4b1884e/acme/crypto.go#L253-L260

[2015-11-16 16:38] SoreGums opened #344 "Edit filenames addon"
Got browse - would be nice if could edit filenames.

The way I see this working is:

1. Put a pencil icon next to the folder/file icon
2. Click it and filename loads in a textbox with save icon button on the right
3. Clicking the save icon button renames the file to what is in the textbox
  - of course optimisation is, if not different don't waste time writing to disk

If this can be done in the b

[2015-11-16 21:37] mholt commented on #344
Let me share my thoughts on this and maybe that will help materialize a vision for your plans a bit more.

I like the idea of a file manager add-on for Caddy, but renaming files shouldn't be part of the browse middleware. Implicit in the idea of any kind of mutations through a Caddy plugin is authentication. You probably don't want just anyone renaming/changing your files.

Caddy is a great platfo

[2015-11-17 01:10] SoreGums commented on #344
indeed @mholt - I intend to make this rename addon standalone. All I need is some simple api to rename files. This is something I could take on and complete in a reasonable amount of time. A full blown file manager is way out of scope for me :) *(i see the upload addon is coming along, so nearly have all the bits that would make a file manager)*

With relation to browse my only interaction with th

[2015-11-17 04:30] coolaj86 commented on #341
Yes, server blocks.

Confirmed that the number of times that a value exists is the number of server blocks.

[2015-11-17 06:22] tw4452852 commented on #341
Just upload a fix, it makes http header block scoped instead global share.
BTW, we may also set a default global one, it may be used when proxy block
doesn't set its own one.

[2015-11-17 06:39] mholt commented on #341
@tw4452852 That's awesome - thank you! And that's true, we'll keep that in mind if it turns out we need a default global header map for the proxy.

[2015-11-17 07:17] tw4452852 opened #346 "TestHealthCheck failed"
go test -v -run=HealthCheck
=== RUN   TestHealthCheck
--- FAIL: TestHealthCheck (15.06s)
        upstream_test.go:18: Expected first host in testpool to not fail healthcheck.
FAIL
exit status 1
FAIL    github.com/mholt/caddy/middleware/proxy 15.067s

google.com is forbidden in my country,sigh... so this test is failed on my local environment

[2015-11-17 15:15] mholt commented on #346
Thanks for the fix :smile:

[2015-11-17 15:15] #346 closed

[2015-11-17 15:21] mholt commented on #341
@coolaj86 I've merged in Tw's fix - if you pull the latest from master it should be working now. Thanks for the report, and the fix, both of you!

[2015-11-17 15:21] #341 closed

[2015-11-17 23:57] calebmer opened #348 "Proxy all headers"
I am using caddy in front of an API which requires many HTTP headers to operate. Currently I have to write a `proxy_header` directive for each header. Is there a way to pass all headers, except a few? Maybe the same syntax as the `header` directive?

[2015-11-18 06:36] captncraig commented on #329
I'm not sure what situations could lead to an error on write, but we should probably make sure to open it with preference to append vs overwriting it if it exists when we try to re-open it.

If something somehow swapped it out underneath us I wouldn't want to blow away the existing file and recreate it. In reality I think this situation should be pretty rare, but best to consider it.

[2015-11-18 23:20] captncraig commented on #246
Here's my idea:

You configure the server with your clientId, ClientSecret, desired scopes, and paths to lock down, etc...:

[code]

The middleware on all requests will decrypt the session cookie and pass on headers to the downstream servers (I am assuming this will mostly be used with the proxy module). Will probably pass `X-OAUTH-TOKEN` as well as any provider specific information that may help

[2015-11-18 23:44] coolaj86 commented on #246
So I'm cruzin' around example.com/public

and then I see this freakin' cool link to example.com/private

and I click on it and I'm like "oh no: it needs authentication!"

a github account? What? I have no idea how I would get one of those. I guess I just won't be able to visit example.com/private

ah shucks!

Except that anyone can get a github account... so I'm missing an important piece of how t

[2015-11-18 23:47] captncraig commented on #246
I have a web app that accesses your Github account to show you your repos or do magic stuff. I don't want to code up the oauth api flow because I'm lazy. I can make requests for you if I have a token.

So you can go to `/public` and see my marketing materials, but if you try to go to `/private` you will be redirected to a login page. Once you log in, you can access private, and my app can make req

[2015-11-18 23:52] coolaj86 commented on #246
Cool. Next question:

Why not just use the Implicit Grant? Authorization Code tokens can only be used server-to-server.

Having the server exchange Authorization Codes seems to add complexity where the browser could just use Implicit Grant tokens.

[2015-11-18 23:55] captncraig commented on #246
My intent is to keep this entirely server side. I don't have much understanding of implicit grant and how it works.

[2015-11-19 00:00] coolaj86 commented on #246
When you say "make requests" I assume you mean that your web app in the browser will make requests with a github token, correct?

What if you just had to include something like this

[code]

`login.js`:
[code]

Would that meet your needs?

[2015-11-19 00:03] captncraig commented on #246
No. I don't ever intend to have a browser make requests to github. In my particular use case I will be issuing api requests with go-github, but it could potentially be an app in any language interacting with the oauth provider.

[2015-11-19 00:21] coolaj86 commented on #246
Okay, so this isn't a web app but rather a form-based server processor.

I'll think on that.

[2015-11-19 15:23] mholt commented on #342
Feel free to re-open if you have more to say. Thanks!

[2015-11-19 15:23] #342 closed

[2015-11-19 15:24] mholt commented on #348
We can probably do this -- just not quite sure how it will look in the Caddyfile yet.

[2015-11-20 04:38] shivakumargn commented on #342
Working with openshift essentially requires caddy to use the configuration from environment variables than hard coded in Caddfile as done currently.
Environment variables decide multiple configuration aspects such as IP,port, directories for home,logging,tmp,data, etc.

I will come back to look at caddy source code to make it compatible.

[2015-11-20 05:51] SoreGums commented on #344
for whatever reason I missed the "setup" part of creating middleware...
https://github.com/mholt/caddy/wiki/Writing-Middleware

Now that I've re-read the docs, I'll probably be able to get this up and running shortly :)
Was playing on hard mode for some reason...

[2015-11-20 06:53] mholt commented on #342
That's a tall order... I know that [Docker has something like this](http://docs.docker.com/registry/configuration/) but it's a bit of a handful... can't you just use the command line args for most of what you'd have to configure?

[2015-11-20 07:15] transtone commented on #337
Who can I get in?

[2015-11-20 07:16] Unknwon commented on #337
I think we need to unified the way to handle translations first.

[2015-11-20 07:22] mholt commented on #337
Let me try to set up the site so it can support multiple languages. I'll ping you here when it's ready :+1:

[2015-11-20 14:30] hdid commented on #261
@mholt @pyed
Hi
Your correction just applies to the names not title.
I created a folder with name "88[4SPACES]99":
![sp1](https://cloud.githubusercontent.com/assets/3944323/11302044/26ead7ea-8fb0-11e5-813a-860fb8887e7e.jpg)

But trim on title:
![sp2](https://cloud.githubusercontent.com/assets/3944323/11302086/7a2838da-8fb0-11e5-9642-d888fb65aec7.jpg)

[2015-11-20 20:36] mholt opened #350 "Caddy GUI"
I would hate to forever limit Caddy's reach to those who can use the command line.

This issue is for discussing/brainstorming ideas for a graphical interface for Caddy. I'm open to any suggestions at this point.

My initial thoughts are for Caddy to launch a GUI in a browser tab if Caddy is run by double-clicking its icon in a file explorer. I also am thinking of a Mac DMG image for installing Ca

[2015-11-20 22:05] abiosoft commented on #350
This came to mind yesterday primarily because it will appeal to non programmers or "non-geeks" :)

I would prefer native desktop app but support for multiple platforms would be an additional concern. So, I'd vote for a webapp probably rendered with http://electron.atom.io/

What I have in mind is something with basic configurations and ability to start and stop caddy like MAMP/XAMP does for Apache

[2015-11-20 22:46] coolaj86 opened #351 "common dynamic redirects - www, bare domain, https"
I took a look at [`redir`](https://caddyserver.com/docs/redir), but the docs appear to only address the issue of a pathname, not host.

Is there currently a way to handle any of these common redirects?

* **HSTS** redirect all http to https
* **nowww** redirect all `www` prefixed domains to their bare domain
* **yeswww** redirect all bare domains (without www) to a domain with www

[2015-11-20 22:59] mholt commented on #351
HSTS is just adding a [header](https://caddyserver.com/docs/header).

nowww:

[code]

yeswww:

[code]

[2015-11-20 23:03] mholt opened #352 "Licensing"
Caddy is growing - which is wonderful - but in order to be taken seriously, we need to apply the license (Apache 2.0) seriously. Fortunately, this license is acceptable by many corporations, but it's not one of the "easy" licenses.

Basically, what this means is that we need to establish a copyright that includes the contributors, and insert the Apache boilerplate as a preface to _every single fil

[2015-11-20 23:10] coolaj86 commented on #351
There's an HSTS header, but you are also required to redirect http to https. The header doesn't do that for you (except in some browsers that are HSTS aware and choose to be forgiving of your forgetfulness).

Are you showing that if I omit the http/https prefix that it will auto redirect to https when http is encountered?

Still no way to handle domains en masse on the yeswww nowww though?

Hmmm..

[2015-11-20 23:14] cganterh opened #353 "setcap method to run on port 80 doesn't work"
Sorry if it is a stupid question, but I couldn't find an answer to my problem. This isn't even a caddy problem. :(

I used the `setcap` method (from the FAQ) to bind caddy to the port 80. But I'm still getting a "permission denied" message.

This is what I did:

[code]

[2015-11-20 23:15] mholt commented on #351
If you use 0.8 beta's managed SSL, you don't have to set up redirects at all. It does it for you. In which case you just set the HSTS header yourself -- though perhaps some security middleware could help with that; #312)...

[2015-11-20 23:18] mholt commented on #353
What does `which caddy` output?

[2015-11-20 23:19] cganterh commented on #353
[code]

[2015-11-20 23:20] mholt commented on #353
Hmm, that's weird. What is your OS/version?

[2015-11-20 23:21] cganterh commented on #353
I'm using Ubuntu Gnome 15.10.

[2015-11-20 23:34] mholt commented on #353
Interesting, same question as http://askubuntu.com/questions/564996/problems-with-setcap-in-ubuntu-14-04-lts which doesn't have an answer... I wonder if your file system does not support attributes? But I'm pretty sure the default file system should be fine...

Ha, same thing here: http://superuser.com/questions/865310/file-capabilities-setcap-not-being-applied-in-linux-mint-17-1 - also unanswered

[2015-11-20 23:43] cganterh commented on #353
Thank you!

I saw this unanswered questions. That's why I didn't ask my question in StackExchange.

I've previously used iptables to run a Tornado server, but I always found it a dirty solution. Then I ended using nginx as my reverse proxy. In this case using nginx as reverse proxy doesn't make sense. So I really wanted `setcap` to work.

[2015-11-21 00:10] mholt commented on #353
This is going to bother me. :smile: I'll keep my eye out for a solution; sorry about that. (I've also heard of running caddy as root with no problems -- just FYI, if your risk tolerance is high enough) But as you said, it's not directly a caddy issue, so I'll close this now.

If anyone has a solution after-the-fact, please feel free to share it!

[2015-11-21 00:10] #353 closed

[2015-11-21 06:09] coolaj86 commented on #310
Another use case

Say a web app has many domains that all point to the same app and the domain is used just as an id:

`johnny.example.com` serves the exact same app as `susan.example.com`, but the javascript uses the identifier `johnny` or `susan` to dynamically change the content.

[code]

And there's the use case we've already talked about where it checks to see if the path exists

[code]

[2015-11-21 12:55] coolaj86 commented on #341
Haven't tested yet, but wanted to say thank you all the same.

:-)

[2015-11-21 12:57] enjikaka opened #355 "All markdown body not rendered"
I just noticed that all of the body of my markdown file does not appear in the front-end.

The markdown file is:
[code]

The template is:
[code]

And the Caddyfile:
[code]

Screenshot of how it looks: http://i.imgur.com/HE3hce3.png (red marked text to the left is the portion rendered)

[2015-11-21 13:44] mholt commented on #355
Oops, I wonder if we made a buffer too small or something. Will look at it soon!

[2015-11-21 15:34] tw4452852 commented on #355
This is the bug in our json decoder, it just returns the remaining buffered bytes after decoding done. This may not the exact the markdown body if its size is too big like in this case. I will work out a patch to fix it.

[2015-11-21 16:36] enjikaka commented on #355
Nice!

[2015-11-21 20:47] mholt commented on #335
This is done upstream and should be available from the download page with the 0.8 release. Thanks @pyed!

[2015-11-21 20:47] #335 closed

[2015-11-21 21:08] kardianos commented on #293
@mholt Would you prefer this in the form of windows only support that enables manually installing and running as a web service, or would you like to see two additional flags that allow cross platform installing and controlling as a service?

[2015-11-23 03:43] tpng commented on #350
Using electron seems a bit overkill considering the memory usage if they have to keep electron running together with caddy.

[2015-11-24 06:59] tildeleb opened #358 "Are "go get" vanity domain redirects possible with existing Caddyfile directives?"
Has anyone been able to handle `go-get` vanity domain redirects with existing Caddyfile directives?

See here:
https://docs.google.com/document/d/1jVFkZTcYbNLaTxXD9OcGfn7vYv5hWtPx9--lTx1gPMs/edit
https://golang.org/cmd/go#hdr-Remote_import_paths
(Sorry I don't know why the fragment doesn't work, search for "Remote import paths")

Example:
You issue the command `go get leb.io/hrff` and it get's red

[2015-11-24 17:54] mholt commented on #358
Do you mean that you only want to show that output if the query string == `?go-get;1`? (Also, don't you mean `go-get=1`?

[2015-11-24 18:39] tildeleb commented on #358
Here is a proposal.

1. Most of caddy directives match on path. My proposal is to add a more flexible match syntax that uses the keyword `match`.
A url will be parsed into a path, query, and fragment. In all places were a path is now accepted for matching you can use the keyword `match` instead. `match` looks like a function call with the following arguments:

        match(path, query, fragment)

[2015-11-24 18:43] tildeleb commented on #358
yes only show the output when the query string is "go-get=1". Sorry for the typo above. Yes the query string is  "go-get=1".

[2015-11-24 20:22] jungle-boogie opened #363 "runtime error: invalid memory address"
Full log:
http://termbin.com/531v

Excerpt:

    panic: runtime error: invalid memory address or nil pointer dereference
    [signal 0xb code=0x1 addr=0x38 pc=0x54e267]

Replication steps:
0. start caddy
1. browse to site
2. click in a directory
3. remove file
4. refresh browser
5. observe file is gone and 404 message is present
6. go back/up one directory and see caddy crash

You may need to go t

[2015-11-24 20:32] mholt commented on #358
Okay, so with regards to your question, I think this (or something like it) should do what you need.

[code]

[code]

I read the docs you linked to, and I'm not sure that it's imperative to only add the meta tag to the site's root if that query string is present; but if it is, I suppose you can use something like `{{if eq .URL.RawQuery "go-get=1"}} ... {{end}}`

[2015-11-24 20:41] mholt commented on #363
Whoops, looks like a bug in the search add-on.  /cc @pedronasser

@jungle-boogie, Could you move this issue to the [caddy-search](https://github.com/pedronasser/caddy-search) repo? That way we can keep track of it better.

Also, a few tips about your Caddyfile:

- If you call the file `Caddyfile` (capital C), you won't have to use `-conf=caddyfile`
- You have two access logs enabled, but one is ca

[2015-11-24 20:41] #363 closed

[2015-11-24 21:05] jungle-boogie commented on #363
Hi @mholt,

Thanks for the feedback on the Caddyfile. I glanced over that you set the `gzip` level to 9 already.
I also see that I completely got the error logging incorrect: https://caddyserver.com/docs/errors

Thanks!

[2015-11-24 21:11] jungle-boogie opened #364 "caddy with inetd?"
Hello,

I have not yet tested caddy with inetd, but I'm just curious if there's any known problems with running Caddy with inetd. Otherwise, what ways do you recommend running caddy in the background?
A simple `./caddy &` will work but may unexpectedly crash.

How is matt.life setup with caddy to keep the process running?

Thanks!

[2015-11-24 21:17] mholt commented on #364
I'm not familiar with inetd, and haven't heard about anyone using it for Caddy; so you're one of the first I think! Let me know how it goes :) Are you running 0.7.6 (the latest stable from the website) or 0.8 beta (from the GitHub releases)?

As far as matt.life goes, I'm just doing `caddy &` :smile:

[2015-11-24 21:38] jungle-boogie commented on #364
Hi @mholt,

I'm using the release but I usually like to track projects at head, so I may try getting go working. I have used go the past but I get hung up on the gopath thing.

[2015-11-24 21:40] mholt commented on #364
Okay, but which release? (Which version?) It matters because 0.8 beta does restarts which changes its process ID and your process manager may need to know about that.

[2015-11-24 21:45] jungle-boogie commented on #364
% ./caddy -version
    Caddy 0.7.6

here's an wiki article on inetd: https://en.wikipedia.org/wiki/Inetd

[2015-11-24 21:48] mholt commented on #364
Okay; in that case, it should be fairly easy as Caddy 0.7.6 doesn't do restarts.

[2015-11-24 22:42] jungle-boogie opened #365 "proxy pass assistance"
Hello,

I have a simple nginx config as follows:

     server {
        listen       80;
        server_name  localhost;

        #charset koi8-r;

        #access_log  logs/host.access.log  main;

        location / {
            proxy_pass http://10.132.5.134:8080/;
            proxy_redirect off;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;

[2015-11-24 22:55] mholt commented on #365
Your equivalent Caddyfile would be:

[code]

This can be obtained from the [proxy docs](https://caddyserver.com/docs/proxy).

It's been a while since I've done much with the proxy middleware -- I'm not sure, off-hand, if the Host header needs to be set explicitly, but I do believe X-Forwarded-For is already set for you. (Feel free to double-check if that works for you.)

[2015-11-24 23:13] jungle-boogie commented on #365
Thanks so much!

Is the code for caddyserver.com on github? If so, can I make a PR with this example?

[2015-11-24 23:20] mholt commented on #365
It's here: https://github.com/caddyserver/caddyserver.com

You're certainly welcome to submit a PR, but keep in mind there's a couple similar examples already; is this one different enough that it merits its own example? (Just don't want to overwhelm the reader.)

[2015-11-25 03:30] tildeleb commented on #358
Thanks. I understand the template but not how to configure caddy to use it. I still don't understand how the url is matched.

1. What template directive goes on the Caddyfile?
2. What should the name of the template file be and what extension if any?

[2015-11-25 04:09] hunter opened #366 "Kubernetes Ingress Controller"
Kubernetes has introduced an nginx based docker image as the frontend controller for their Ingress router (name based virtual hosting/load balancer)

The nginx implementation is basic. A small Go binary queries the Kubernetes APIs, pulls a list of Ingress resources, writes an nginx.conf and then reloads the server - https://github.com/kubernetes/contrib/tree/master/Ingress/controllers/nginx-alpha

[2015-11-26 05:50] pyinx opened #367 "[discuss]Support TLS session shared use redis or memcache or other"
Are there any plans for this future?

[2015-11-26 05:56] mholt commented on #367
Nope. But if you want to persist user authentication, I recommend looking at #109 - it might make a good plugin, if it's implemented well. (Or I might be misunderstanding what you mean. Feel free to elaborate more than just in the title with more details.)

[2015-11-26 10:14] chilts opened #368 "DOSing myself with LetsEncrypt : Too many currently pending authorizations."
When starting caddy on a new server and setting up a new https endpoint, caddy will try and talk to LetsEncrypt. However, if I haven't yet set my DNS to the new server, LetsEncrypt will fail (which is understandable) but caddy keeps on trying and trying. Eventually I DoS myself and so even once I've fixed my DNS to point to the new server, I'm still rate limited.

Here's a log sample and as you ca

[2015-11-26 16:19] mholt commented on #368
Thanks for trying it!

Does the retry only happen once? Also, are you using `-log stderr`? (If not, could you please enable the process log so that I could have more information? You can also log to a file if you wish; the complete log would help, either way.)

[2015-11-26 16:29] mholt commented on #368
Wait, are you using a process manager or something to retry if Caddy fails to start? "Activating privacy features..." should only ever appear once, since an error returned from the function that calls the function that prints that output invokes a log.Fatal, killing the process.

[2015-11-26 16:36] mholt commented on #358
I would make a file at whatever the package path is, and plop that HTML in there. It doesn't need a file extension. For the Caddyfile, you can just say `templates` or if you want to be more specific you can say `templates /package/path` or whatever.

[2015-11-26 22:43] chilts commented on #368
Ah yes, so sorry. I'm using upstart and it'll respawn if it dies. Ok, I'll have to go recheck why it's just trying again and again instead of a maximum number of times.

Really sorry for not realising this. I'll close for now and report back if I do find anything else.

[2015-11-26 22:43] #368 closed

[2015-11-26 23:07] mholt commented on #368
Sounds good, no problem. If Caddy fails to start, I doubt reteying in a second will help, unless you expect a port to be freed up or something. Usually startup failures require attention.

Also keep in mind that Caddy will restart sometimes during its life so use the pidfile flag if upstart needs to keep track of the changing process id.

[2015-11-27 07:07] #355 closed

[2015-11-27 15:59] My1 commented on #327
"in-memory [...]" certs, does that mean that they are recreated every time?

[2015-11-27 16:09] mholt commented on #327
Yeah, just something that you would use locally in a pinch.

[2015-11-27 16:11] My1 opened #369 "[feature request] htaccess-permission, but with 3rd party auth"
well it it possible to do Basic HTTP login for permissions and stuff with pretty much any server but is it possible to make a 3rd party authorization possible?

I think this could go like this:
caddy pushes relevant data (like cookies and so on) to the auth functions
the auth function answers in a way caddy undertands it (maybe a json array of user and group ID or false for not logged in) and if n

[2015-11-27 16:11] My1 commented on #327
it that it's for local testing is obvious but when I wanna test locally I dont really want to accept a new cert on every reboot...

[2015-11-27 16:15] mholt commented on #327
It's not ideal, but at least in my own dev workflows I'm not restarting my server all the time.

What about a Caddy flag or subcommand that plops the cert & key on your file system? e.g. `caddy -testcert localhost` would plop two files in the current directory, localhost.crt and localhost.key.

[2015-11-27 16:16] My1 commented on #327
well I am usually dev'ing on my own PC (usually using XAMPP right now) and well that one usually gets shut down at the end of the work.

[2015-11-27 16:32] mholt commented on #369
This sounds similar enough to #109 - let's keep the discussion together over in that issue.

[2015-11-27 16:33] #369 closed

[2015-11-27 17:03] mholt commented on #366
Sounds cool; I'm not really familiar with Ingress or Kubernetes (shame on me, I know) but am always happy to see how people build on Caddy! Love seeing useful stuff come out of it.

[2015-11-27 17:04] mholt commented on #364
I'll close this for now, but feel free to open if there's anything else to discuss about this. Thanks!

[2015-11-27 17:04] #364 closed

[2015-11-27 17:04] #365 closed

[2015-11-27 17:21] sinky commented on #327
+1 for a Caddy subcommand

[2015-11-27 21:12] areve opened #370 "suggested hide directive"
This is my proposal for a directive called hide. For my needs I want to hide
folders called .hg and .git and other files and folders starting with a . or ending with ~ .
Also I want to hide specific files e.g. SciTEDirectory.properties and the same feature
would be able to hide the specific CaddyFile (a TODO in the code). The existing `hide []string`
parameter would be replaced with a `hide []Hide

[2015-11-27 21:15] areve opened #371 "browse sort by size with files of same size"
If browse is sorting by size and the files have the same size the order is not predictable.

I'd suggest that the fix should be if sorting by size (or modified) to secondarily sort by name.

[2015-11-27 21:18] areve opened #372 "tests on windows"
A number of the unit tests fail on windows, usually due to using external commands e.g. `mkdir`.

[2015-11-27 21:19] mholt commented on #372
Can you give more details? [The tests seem to be fine on Windows](https://ci.appveyor.com/project/mholt/caddy/build/264).

[2015-11-27 21:20] mholt commented on #370
This is a detailed proposal -- thank you for the careful thought and even a suggested docs page. :+1:

The initial question I have is, why would you put files inside your site folder that you don't want on your site?

[2015-11-27 21:25] mholt commented on #371
This sounds complicated. Is the deterministic sorting of items with the same size/date/name/whatever really important? What situations are you finding that you need the exact same order of elements with the same value?

[2015-11-27 21:25] areve commented on #372
I commented some out while looking at the code, there are others but here is an example

    --- FAIL: TestStartup (0.25s)
        startupshutdown_test.go:50: Test 0 recieved an error of:
            exec: "mkdir": executable file not found in %PATH%
        startupshutdown_test.go:54: Test 0 recieved an error of:
            remove C:\Users\me\AppData\Local\Temp\temp_dir_for_testing_startupshutdo

[2015-11-27 21:29] areve commented on #371
I spotted it during messing with the browse code. I created some more files in the test folder and the json test started failing. I doubt it's something that would ever bother me, and I solved it by making my test files have different sizes.

[2015-11-27 21:29] mholt commented on #372
How does your Windows not have `mkdir`? https://technet.microsoft.com/en-us/library/bb490930.aspx

Sounds like your PATH might be missing something...

[2015-11-27 21:41] mholt commented on #371
Although unlikely, the obvious next question is, what if the elements have the same first and second values (e.g. same size and modify timestamp -- not unheard of if files are generated programmatically)? I think for the sake of unit tests we'll just have to ensure the elements have different values (i.e. every file has a different timestamp or size, depending on what is being tested). If it ever

[2015-11-27 21:41] #371 closed

[2015-11-27 21:48] areve commented on #370
I currently have most of my NAS hosted on the internet using my own nodejs server [(AcServer)](https://github.com/areve/AcServer) with an extra plugin script to do the Markdown compiling. I don't maintain a NAS and a web site I just name folders with a dot or no dot depending on whether I want them published on the site.

Caddy has lots of features that I'll never add, but want; plus a larger foll

[2015-11-27 22:00] mholt commented on #370
I guess that makes sense.

I have some plans to refactor some things in the core file server after 0.8 is released, but after that, I'd definitely be interested in a hide directive. I think this could add a lot of value.

[2015-11-27 22:12] areve commented on #372
Yes a good point, I do of course have mkdir it's not a path program though I think it's built into cmd.exe . I wonder if this machine 64bit has a 32bit go installation on it that might be causing this.

[2015-11-27 22:23] areve commented on #372
I have 64bit go installed. This machine has hardly anything installed (no gcc, mingw or cygwin etc). Looking at
http://stackoverflow.com/questions/20437336/how-to-execute-system-command-in-golang-with-unknown-arguments I see more evidence that exec does not run shell built in commands.

If I add a mingw built gnu mkdir.exe to my path the test I mentioned above works, that's a good enough solution

[2015-11-27 23:04] mholt commented on #372
I don't have Windows, but it does work on my Windows VM. Do you have git installed? I think installing git might add some of those commands to the PATH.

Anyway, thanks for the report! Maybe some day we can find a more universal way to do these tests.

[2015-11-27 23:04] #372 closed

[2015-11-28 00:20] tildeleb commented on #358
I think you are missing the crux of the problem. I make lots of packages in go. I don't want to have to add an html file or edit the Caddyfile every time I create a new package at "leb.io". What I want Caddy to do is match any http/https request to the `leb.io` domain that has a query of `go-get=1` and return the template file that you describe above with the approrpriate substitutions.

I don't t

[2015-11-28 00:32] mholt commented on #358
I think the query string is irrelevant here; as far as I understand, you want to to render that HTML template every time a request is made to a package path; whether it has `go-get=1` is in the query string or not? I infer this because this line in the template:

[code]

only works in browsers (AFAIK the go get client doesn't redirect to the godoc page).

Query strings are supposed to convey data

[2015-11-29 17:23] Siecje commented on #314
Thanks that works!

How would you remove the ```http://localhost:8080/hello-world.md``` page?

So that there is only one canonical URL.

[2015-11-29 22:10] mholt commented on #314
The way I do it is by simply not linking to the file with its extension.

[2015-11-30 05:15] mjio opened #373 "Redirecting on subdomain and port issue"
Hi, I'm currently setting up a Caddy server and would like to only use `https://www.example.com`. When a request comes in from port 80 or non-www, I would like to redirect. My current Caddyfile looks like this:

[code]

However, I'm getting the following error: `2015/11/29 23:20:20 listen tcp 0.0.0.0:443: bind: address already in use`

[2015-11-30 06:44] mholt commented on #373
Are you using version 0.7.6 or 0.8 beta?

[2015-11-30 09:43] mjio commented on #373
Hi @mholt. I'm using 0.7.6

Should I use 0.8 beta instead?

[2015-11-30 14:29] mholt commented on #373
It's up to you, but since the two are very different I wanted to be sure I had the version right.

Do you already have another process listening on port 443? Is that your entire Caddyfile?

[2015-11-30 22:00] mjio commented on #373
The Caddyfile looks actually like the following:

[code]

And yes, the Caddy server is the only process listening on port 443 as well as 80.

My goal is to make sure https and the www subdomain is always used.

[2015-11-30 22:52] mholt commented on #367
Feel free to re-open if there's more to say/explain about this. Thanks for the question!

[2015-11-30 22:52] #367 closed

[2015-12-01 00:16] mjio commented on #373
I tried to use 0.8 beta but I can't get it to work either. I generated the certificates with Let's Encrypt but I'm only getting as far as `failed to get certificate: The server could not validate our request.`

Is there more documentation around how to get Caddy 0.8 with Let's Encrypt working?

[2015-12-01 00:35] mholt commented on #373
I'm having trouble reproducing the error locally with your Caddyfile. I've replaced the hosts `www.example.com` and `example.com` to be hosts that resolve to my machine, but kept the scheme definition as you have them.

Keep in mind, on 0.7.6, your `https://example.com` host will be served on port 443 but won't be served with TLS because you haven't enabled it. (That changes in 0.8, where it will

[2015-12-01 04:37] mjio commented on #373
I updated to 0.8 beta 4, so I don't need to worry about the http -> https redirect and changed the Caddyfile to contain nothing but `example.com`, for now.

I haven't used Let's Encrypt before but generating the certs using the following command works just fine. I couldn't find any docs around Caddy and Let's Encrypt, so I'm just following an trial and error approach here, it this how the setup is

[2015-12-01 04:43] mholt commented on #373
No, Caddy will generate the certificates for you -- no need to do it yourself. :smile: You'd just need this Caddyfile, in your case:

[code]

It is probably failing because of the error you're seeing above. I'm still not able to reproduce it, but I've asked @abiosoft to help me out and take a look also.

[2015-12-01 05:02] mjio commented on #373
Thanks @mholt. I really appreciate your work. Caddy looks almost like my new default webserver, I just need to get the Let's Encrypt issue sorted. :)

[2015-12-01 05:35] captncraig commented on #358
I have a bit of experience doing this, and the go get tool is a bit finicky. I have done this for our packages which are `bosun.org/**` but resolve to `github.com/bosun-monitor/bosun`. What we were doing is simply including the meta tag in our base template and always serving it (even on 404s). This generally worke since any package resolves to the same repo. If you have separate repos on the doma

[2015-12-01 05:40] captncraig commented on #352
I think its pretty cool when prs do the automated CLA check. I assume the service you linked does that. I would say if a plugin is important enough to be included on the download page maybe it should be moved under the caddy org, or at least a caddy-contrib org. Authors can maintain ownership, but the cla stuff can still be applied.

Anything you side load with caddyext or whatever is not your pro

[2015-12-01 05:44] jungle-boogie opened #374 "running caddy with inetd"
Hello,

    panic: runtime error: index out of range

    goroutine 1 [running]:
    flag.init()
	/usr/local/go/src/flag/flag.go:840 +0x11a
     main.init()
	/tmp/custombuild_8950_524698905/src/github.com/mholt/caddy/main.go:174 +0x7e

As discussed on the slack channel thing, here's my report for caddy in a panic when using inetd:
http://jungleboogie.me:2022/

     caddy2/caddy: ELF 64-bit LSB exe

[2015-12-01 06:15] jungle-boogie commented on #374
This is very, very likely a go/caddy problem and not an inetd and/or OS problem.

Fossil-SCM will allow inetd connections:
http://www.fossil-scm.org/index.html/doc/trunk/www/server.wiki

This is my  `inetd.conf` config option for fossil:

`fossil stream tcp nowait.1000 sean /usr/local/bin/fossil /usr/local/bin/fossil http /home/sean/fossil/fossil.fossil`

The above is running on some linux ubuntu

[2015-12-01 09:19] stephanbuys commented on #246
Would it be possible to integrate JWT on the server level to generically protect any proxied service? The JWT PSK might be particularly well suited?

[2015-12-01 09:20] abiosoft commented on #373
@mjio Am I right to assume the only issue remaining is getting SSL certificates to work ?

[2015-12-01 09:41] mjio commented on #373
@abiosoft Yes since I updated to 0.8 beta that is the case.

[2015-12-01 09:53] abiosoft commented on #373
What error does Caddy give you now ?

[2015-12-01 11:35] pavlik opened #375 "Caddy & Dokku on the same server"
How to make friends Caddy & Dokku on the same server?
Sometimes ago I installed Dokku to host my golang webapp.
Today I want to move all my hugo static sites to this server too.
This is my Caddyfile
[code]
If I start Caddy then I receive message *"2015/12/01 14:26:33 listen tcp :80: bind: address already in use"*

P.S. I commented git section because if it is uncommented I receive error: *Caddyfil

[2015-12-01 12:11] pavlik commented on #375
Maybe if I installed Caddy then Dokku is no longer needed & I can config automatic pull & build via 'git' add-on? i.e.:
[code]

[2015-12-01 14:16] abiosoft commented on #375
Yeah, you can.

You will need to download caddy with git add-on via the caddy download page.

Right now, git only supports short running commands. I am assuming after `go build`, you would want to execute the resulting binary. It actually waits for the command to finish executing before continuing.

Now I am seeing a usecase for long running commands and I am considering adding the feature to git.

[2015-12-01 14:22] pavlik commented on #375
@abiosoft thanks! How to download it via terminal?

[2015-12-01 14:24] abiosoft commented on #375
wget `http://caddyserver.com/download/build?os=linux&arch=amd64&features=git`

[2015-12-01 14:25] pavlik commented on #375
@abiosoft
[code]

[2015-12-01 14:29] abiosoft commented on #375
Sorry, put the URL in quotes.

[code]

[2015-12-01 15:11] mholt commented on #375
That "address already in use" error is concerning; similar report in #373 but I haven't been able to reproduce it. Are you sure no other process is already using port 80?

Also, what is the hostname of the machine you are running it on?

[2015-12-01 15:55] mholt commented on #375
Along with those questions, I'd also like you to try something for me, if you could; remove hosts (addresses) from the Caddyfile one-by-one and try running Caddy again, until the "address already in use" error goes away. I'm interested which addresses in the Caddyfile combine to cause that error -- and whether it be one server block or multiple. Because I still can't make it happen here...

[2015-12-01 15:56] mholt commented on #352
Yeah, the CLA check would be automatically performed on PRs.

I'm not quite sure that moving plugins into the caddyserver GitHub organization is going to send the right message, since plugins are independently authored and maintained. We can think about it, but so far I'm not inclined. :sweat_smile:

[2015-12-01 15:59] pavlik commented on #375
@mholt
While I waited for the answer, I did some experiments.
1. Removed dokku
2. Removed the nginx
Now, this error does not appear. But if I run the caddy without param --port = 80 it assigns for my sites port=2015

@abiosoft That will be amazing if git addon can execute long running commands!

[2015-12-01 16:06] mholt commented on #375
@pavlik Good, that means that nginx was probably using the port, so naturally Caddy couldn't bind to it.

Using the `-port` flag only specifies the _default_ port, it won't overwrite what's in a Caddyfile.

[2015-12-01 18:57] pavlik commented on #375
@abiosoft why I can't execute go command in git add-on? (in terminal go is executed & present in $PATH)
[code]

@mholt What this message mean & if i set recommended value why it resets after server reboot?
`Warning: File descriptor limit 1024 is too low for production sites. At least 4096 is recommended`

[2015-12-01 19:34] abiosoft commented on #375
It means the session executing the command (the one caddy is started in) does not have `go` in PATH.

Can you confirm `go` is accessible before starting caddy.
As a fall back option, you can put absolute path.

[2015-12-01 20:07] pavlik commented on #375
@abiosoft yes `go` is accessible before starting caddy.
& if I use absolute path `go` is accessible.

[2015-12-01 20:50] mholt commented on #374
I am suspicious of this line in the standard library, as referenced in the stack trace: https://github.com/golang/go/blob/5dd372bd1e70949a432d9b7b8b021d13abf584d1/src/flag/flag.go#L840

[2015-12-01 20:52] mholt commented on #374
@jungle-boogie Does inetd do anything funny with hyphens when executing the command? The only way I could see this panic happening is in [these lines](https://github.com/golang/go/blob/5dd372bd1e70949a432d9b7b8b021d13abf584d1/src/flag/flag.go#L826-L833)...

[2015-12-01 21:42] jungle-boogie commented on #374
inetd just launches the service when its called by the specified user.

`caddy2  stream tcp nowait.1000 sean /home/sean/bin/caddy2/caddy /home/sean/bin/caddy2/caddy -conf="/home/sean/bin/caddy2/Caddyfile"`

When I specify where the Caddyfile, I see this on the site:

`2015/12/01 21:40:02 open "/home/sean/bin/caddy2/Caddyfile": no such file or directory`

Caddyfile:

    jungleboogie.me:2022 {

[2015-12-01 23:12] mjio commented on #373
[code]

I'm running Debian 8.2 x64 on a new machine from DigitalOcean.

[2015-12-01 23:36] mjio commented on #327
+1 On a subcommand to generate self-signed certificates. This would not just be handy for development but also when you use a CDN like CloudFlare, where you can use self-signed certificates between your server and the CloudFlare servers.

[2015-12-01 23:55] My1 commented on #327
I think it would be better using the caddyfile since you dont have to invoke a certain special command, also helpful when using multiple testcert-domains.

[2015-12-02 00:08] mholt commented on #374
It looks like you have a file called "/home/sean/bin/caddy2/Caddyfile" in the path "/home/sean/bin/caddy2"... at least, when I run ls -l it doesn't usually show me the full path for each filename.

[2015-12-02 00:45] mholt commented on #373
Hmm, works for me. :-/

That empty line in the log output is interesting.

What's the hostname of your machine? (I'm kinda shooting in the dark at this point.) What happens if you try it without Let's Encrypt? Does anything change as you remove addresses from the Caddyfile one at a time?

[2015-12-02 02:33] mjio commented on #327
@My1 True. Sounds like a Caddyfile setting with an optional command line option to me.

[2015-12-02 04:24] mjio commented on #373
I have changed the Caddyfile to `example.com` notice the no-www. And suddenly the server did the authentication and started just fine. After recreating the www CNAME even www subdomain works just fine. I'm not sure what caused the issue but I belief my CND caused the issue. Thanks for your patience! :smile:

[2015-12-02 04:24] #373 closed

[2015-12-02 04:45] jungle-boogie commented on #374
Hello,

Running inetd with debugging enabled, I see this:

    inetd: someone wants caddy2
    inetd: accept, ctrl 8
    inetd: 52066 execl /home/sean/bin/caddy2/caddy
    inetd: handling signal flag C
    inetd: 52066 reaped, status 1

If I don't indicate where the caddyfile is, I see just this:

    inetd: someone wants caddy2
    inetd: accept, ctrl 8
    inetd: 52079 execl /home/sean/bin/caddy

[2015-12-02 07:01] My1 opened #376 "[feature request] build PHP directly in caddy or as plugin"
with the statement that caddy is also "It's easy to set up and doesn't get in the way." or "If you've ever found it difficult to configure a web server, try Caddy." as the website says I would say that a PHP plugin should be there, maybe even MySQL, because not everyone knows (or wants to know) how to do stuff with a fastCGI "server", well I got it to work but in the end, but having it integrated

[2015-12-02 07:34] coolaj86 commented on #376
How did you get it to work? Let's add that to the wiki.

Also, {rant} don't use php. Use a programming language like ruby, python, or node.js if you need a programming language. Or if you need a template language consider something like jekyll or octopress or hexo or hugo. Caddy has built-in support for Hugo.

[2015-12-02 07:34] jungle-boogie commented on #376
SQLite may be considered over mysql as its even less work to setup than MySQL.

[2015-12-02 07:38] jungle-boogie commented on #370
If it's not obvious, there would be a need to make the hidden directory undownloadable if someone were to do a recursive download with wget or similar.

[2015-12-02 07:39] jungle-boogie commented on #351
Matt and I chatted on slack about this and the hsts header did work. SSL Labs recognized the additional header.

[2015-12-02 07:43] My1 commented on #376
Well nothing against sqlite, it is easy to use and also should be in there, but I'm afraid the number of software that supports sqlite is not comparable to mysql.

Also for fastcgi I checked in the internet for "fastcgi windows" and thwre was a tutorial originally intended for nginx but the fastcgi setup steps are mostly the same. I'll check it later, on mobile right now.

[2015-12-02 07:45] jungle-boogie commented on #374
Hi @mholt,

I posted about the issue here on freeBSD forums:
https://forums.freebsd.org/threads/inetd-app-startup-problem.54235/

Looks like caddy is just not aware of inetd, unfortunately.

I think Go will support inetd based on my cursory search of these things:
https://twitter.com/dlsspy/status/167462730838708224
http://uwsgi-docs.readthedocs.org/en/latest/Inetd.html

So this is my plea to cons

[2015-12-02 07:47] abiosoft commented on #376
In Nginx also, you need FastCGI for PHP :)

I initially considered this but it does not look that straightforward to implement.

There seems to be preference for nginx+php-fpm over apache+mod_php already and this makes me favour sticking to FastCGI route.

Anyone is free to contribute this (even though I do not think it is worth it).

[2015-12-02 07:52] My1 commented on #376
Is fastcgi so much better than apache php? Because now I use xampp because it is seriously easy to use because pretty much everything is already there, webserver with php, optionally you have mysql, an ftp server, an email server and tomcat (whatever that might do)

[2015-12-02 08:16] My1 commented on #376
@coolaj86 you ask, I deliver.
but before so you know how many forum/blog etc. softwares are written in PHP? I would say: more than enough. also my whole programming life (ok almost) was with PHP I cant just simply start a new language.

--------------------
PHP for caddy mini tutorial (windows):
download caddy as you like (I got win64 without plugins)
download this http://windows.php.net/download/

[2015-12-02 09:38] wayneashleyberry commented on #190
@Nixtren how exactly did you run Caddy as www-data? I've also come across this problem :(

[2015-12-02 09:40] tpng commented on #374
caddy does not fork itself after start, so the `nowait` option would not work for caddy, have you tried the `wait` option instead?

[2015-12-02 13:29] severak commented on #249
Great idea. I once thinked about creating S3-compatible middleware for uploads, but I postponed it cause I am not good in compiled languages/

[2015-12-02 13:56] wmark commented on #249
Programming for S3 (S3, OpenStack, SIS…) middleware-based filesystems (or ZFS, WORM, as well as some more exotic ones) is quite tricky, because they don't support POSIX features which you might expect from like *ext4*, *xfs* or even *NTFS*. Which makes unit-testing almost pointless, and testing itself a challenge.

[2015-12-02 14:15] severak commented on #249
I think your solution is enough for most uses. S3 is overkill.

@wmark : seems blitznote.com is down

[2015-12-02 14:23] moorereason commented on #374
Why aren't you using xinetd?  Have you tried that?

[2015-12-02 16:22] jungle-boogie commented on #374
No, not yet.

[2015-12-02 16:41] #351 closed

[2015-12-02 16:45] mholt commented on #374
Hmm. SirDice ("Senior UNIX Engineer at Unix Support Nederland") on that forum says:

Caddy is a progressive web server, meaning I'm trying to advance _newer, future_ technologies - not older ones. Again, without knowing much about inetd, if it's true that it's getting old, I don't think changing Caddy to support it is within the scope of this project.

[2015-12-02 16:55] #374 closed

[2015-12-02 17:06] mholt commented on #375
So is it working for you now? i.e. was your question about Dokku answered?

[2015-12-02 17:17] mholt commented on #375
Ah, now I see abiosoft/caddy-git#13 - closing in favor of that issue.

[2015-12-02 17:17] #375 closed

[2015-12-02 23:09] areve commented on #370
I'm not quite sure what you mean. In my mind my suggestion would mean that if you added `.git` to the hide names list then all files or folders called `.git` would not be downloadable or visible to via browse, nor any of the files or sub-folders within the `.git` folder.

There could of-course be different options to the directive e.g. to only hide the files from browse and not prevent download. I

[2015-12-02 23:18] jungle-boogie commented on #370
HI @areve,

I'd prefer those names!

When I say undownloadable, I mean a recursive download of the site:
http://www.csoonline.com/article/2137013/network-security/snowden-accused-of-using-hacking-s-greatest-weapon-to-access-nsa-files--wget.html

http://www.wired.com/2013/03/att-hacker-gets-3-years/

Because your hidden/blocked files are on the webserver, they may be downloadable...that's what I me

[2015-12-02 23:42] mholt commented on #370
The hide directive would be very simple, all it does:

- For each request, iterate the 'hide' rules until a rule matches the request path.
- If a rule matches the request path, write a 404 response.

That's it. That's all it has to do.

[2015-12-03 00:01] jungle-boogie commented on #370
:+1:

[2015-12-03 00:15] areve commented on #370
I've got some code working that does this feature, I just need to add a couple more tests for completeness, possibly change a variable to a pointer and add some comments. I plan to check-in some code in the next few days for you to review.

[2015-12-03 00:32] #307 closed

[2015-12-03 06:15] mbanzon commented on #327
How about something like:

[code]

[2015-12-03 06:17] mholt commented on #293
I just saw your repo at https://github.com/kardianos/minwinsvc - I haven't given it a once-over yet and I still need to figure out the answers to your questions. :smile: But we'll get around to it!

[2015-12-03 09:31] hoover67 commented on #176
I got interested in Caddy while listening to the recent FLOSS Weekly episode.

+1 from me also for Python WSGI support.

Uwe

[2015-12-03 10:14] My1 commented on #327
when cert and key mean paths then nah, not really. I would spay the behavor of cert creation similar to the automatic LE certs, just store them on a convenient (to the server) place.

[2015-12-03 10:17] My1 commented on #370
I like the Idea.

[2015-12-03 10:19] My1 commented on #350
so you plan a web-gui?
I think a "normal" gui where you get options to start/stop the server, reload the caddyfile and other stuff, would be better

[2015-12-03 10:23] My1 commented on #337
may I ask, why we start with chinese?

[2015-12-03 14:39] mholt commented on #337
Because it's the only language so far that's been requested.

[2015-12-03 14:43] mholt commented on #176
Anyone is invited to tackle this, so long as the requirements I mentioned above are met (no cgo, is cross-platform-compatible, etc) - this may not be trivial... but I think wsgi support would make a good add-on and obviously there's some demand for it.

[2015-12-03 19:54] joshmanders commented on #199
I use jwilder/nginx-proxy but if this was a directive or feature of Caddy, oh man, that'd be killer.

[2015-12-04 00:12] alexbilbie commented on #376
I think you demonstrated for yourself @My1 that PHP doesn't need to be built in because it's so trivial to get fastcgi working with Caddy :+1:

[2015-12-04 00:18] My1 commented on #376
Well technically I am an IT professional (even if I ended my apprenticeship like just 3 months ago) so it is a lot easier for me. But anyone who just wants a running wordpress might not even know what fastcgi is. Also it never hurts to add it as a plugin

[2015-12-04 00:20] alexbilbie commented on #376
There is an example of getting WordPress working here https://github.com/caddyserver/examples/tree/master/wordpress (discussion about examples can be found in #303)

[2015-12-04 00:26] My1 commented on #376
It was just an example. Replace wordpress with pretty much any php based software. Also on Windows you dont have you package manager or repos, so you would need to get all by yourself. And when talking about easy quicksetup then xampp at least in my experience beats all, since you have a webserver with php mysql and other stuff all there and you can disable each of the parts relatively easy over t

[2015-12-04 04:56] wolfeidau opened #378 "Are you interested in an s3 proxy directive?"
I have a pile of stuff in s3 I would like to serve using caddy and letsencrypt.

So the server will run under an IAM profile and proxy GET requests to an s3 bucket.

Cheers.

[2015-12-04 08:19] mxxcon opened #380 "Supported cipher suit list"
As originally brought up in #53 caddy(at least as of `v0.8-beta.4`) does not support all of the recommended cipher suits, while supporting apparently some of the less-desirable ones as reported by https://ssldecoder.org/.
Mozilla's https://wiki.mozilla.org/Security/Server_Side_TLS and https://mozilla.github.io/server-side-tls/ssl-config-generator/ for the "Intermediate" lists about 25-30 different

[2015-12-04 08:50] korylprince commented on #176
**TL;DR: Just use a WSGI server (uWSGI, gunicorn, wsgiref, etc) and proxy to it**

[WSGI is not at the same layer as CGI or FastCGI.](http://redmine.lighttpd.net/projects/lighttpd2/wiki/Howto_WSGI) In other words, you can't communicate using WSGI directly over a TCP/UDP/Unix socket. There are only two ways (that I can think of at least) that would allow Caddy to have a WSGI directive:

1. Call a p

[2015-12-04 09:04] My1 commented on #376
well about the plugin for PHP it could maybe be dont if the PHP you would usually just DL from the site is included into caddy and caddy launches that automatically that way everyone can add their extensions etc.

[2015-12-04 10:37] My1 commented on #337
well that makes sense.

[2015-12-04 10:55] incon commented on #350
I'm for launching the systems default browser for desktops to a web based configurator. Then a heavy solution like electron.

[2015-12-04 13:44] My1 commented on #329
it is pretty funny seeing you creating a suggestion to your own repo @mholt but I agree...

[2015-12-04 14:04] matthewp commented on #30
Bumping this issue since it's not supported in redirects currently. The need is that the markdown directive serves markdown from `filename` and my blog had legacy paths of `filename.html` so I need to redirect filename.html to filename, and cannot do that currently.

[2015-12-04 15:33] mholt commented on #176
Wow, that's great info. Thanks for the writeup @korylprince - I understand the problem a lot better now. :+1:

Going forward, we'll look into uWSGI then. It may be a maintenance burden, though, so perhaps a third-party would be willing to author a plugin?

[2015-12-04 19:04] kseistrup opened #382 "LE: Please make RSA key size configurable"
Thanks for supporting Let's Encrypt.  However, it would be nice to be able to configure the RSA key sife.  Currently the key size is hard coded to 2048 bits:

[code]

[2015-12-04 19:22] kseistrup opened #383 "LE: Rate limiting woes: some certificates not saved"
I run a multi-host setup but I didn't know about Let's Encrypt's [public beta rate limits](https://community.letsencrypt.org/t/public-beta-rate-limits/4772), so the first time I ran Caddy 0.8 it failed for some of the domains that have several subdomains:
[code]
This happened even if I pruned the list to be within the acceptable limits. However, I still receive the same error messages, and it seem

[2015-12-04 21:41] matthewp opened #384 "host given a random port"
Using this config:

[code]

The first 2 hosts, `example.net, www.example.net` should be on port 80 but are assigned 2015.

[2015-12-05 00:56] jojomi opened #386 ""No such file or directory" in 0.8"
After updating caddy executable from 0.8 beta to 0.8, something seems to have changed.
My docker image fails to execute now telling me

    no such file or directory

Unfortunately there is no `--verbose` flag or anything I can find to debug this further.

I have cloned my [docker-caddy repository](https://github.com/jojomi/docker-caddy) and ran

    docker build --no-cache=true -t jojomi/caddy .

[2015-12-05 01:05] mholt commented on #386
You're running this in Docker? Does it have a $HOME folder? What's your Caddyfile look like?

[2015-12-05 06:17] abiosoft commented on #386
This could be due to non-static binary.

[2015-12-05 06:21] abiosoft commented on #384
I think `tls off` is the reason for that. I know before now, Caddy defaults to port 2015 if scheme and port is not specified. With `tls off`, it disables automatic http/https and reverts to the previous behaviour.

Why not use `http://example.net, http://www.example.net` instead.

[2015-12-05 08:45] mholt commented on #384
This should probably be patched. I'll look into it soon!

[2015-12-05 08:46] mholt commented on #386
Ah, flip - I probably forgot to re-run make.bash with CGO_ENABLED=0.

* facepalm *

Will do it tomorrow so downloads are completely static again.

Even if that's not the problem, I need to do this. Thanks for the reminder :smile:

[2015-12-05 09:05] lenovouser commented on #383
The rate limit error showed up to me on my first try using Let's Encrypt too. It has nothing to do with Caddy. As a temporary solution, disable IPv6 with:

[code]

issue your Let's Encrypt certificate,

and re-enable IPv6 with:
[code]

The above works on Ubuntu/Debian.

[2015-12-05 09:36] jojomi commented on #386
Sounds like that could be the problem, because I built the exactly same container otherwise. Waiting for your new build :-).

[2015-12-05 10:46] kseistrup commented on #383
How come IPv6 is a factor in this context?

[2015-12-05 10:58] andmarios commented on #383
I hit the same issue. Due to some tests I restarted caddy a few times. Each time it requested (and used) a new certificate instead of saving the old one, thus I got my domain rate-limited.

I was on the previous commit (fd14f257) than the current one (5b93799) but the diff doesn't show any important differences that would affect the result.

Disclaimer: I am new to caddy, so there may be some negl

[2015-12-05 11:56] lenovouser commented on #383
As I just said, this is probably not Caddy's fault. More information on IPv6 here: [community.letsencrypt.org/unexpected-registration-rate-limiting-error](https://community.letsencrypt.org/t/unexpected-registration-rate-limiting-error/2157)

[2015-12-05 12:04] kseistrup commented on #383
Thanks :+1:

[2015-12-05 12:11] kseistrup commented on #383
Except the error I get is not “Too many registrations from this IP”, but “Too many certificates already issued for […]”. So perhaps we're talking about two issues here?

[2015-12-05 13:04] andmarios commented on #383
And as we just said this isn't a rate-limit per IP but per domain.

Acmetool is able to get me certificates fine except for the domain that got blacklisted due to caddy.

[2015-12-05 13:34] calebmer opened #388 "Full caddy production environment in a single command."
There are a couple of steps I need to take to start up a caddy server in production:

[code]

Is there a way to minimize this into one command?

[code]

Or maybe add a few new daemon style commands like:

[code]

It would need to do the following which I currently do manually:

1. Add environment variables from a local `.env` file (see the node [dotenv](https://www.npmjs.com/package/dotenv) packag

[2015-12-05 14:40] DenBeke commented on #388
Make a service of it...  (either systemd or upstart).
I have created both an [upstart](http://denbeke.be/blog/servers/running-caddy-server-as-a-service/) and systemd script, maybe I can also share the second one, but I haven't got much experience with systemd.

[2015-12-05 14:45] DenBeke commented on #388
Btw: why running Caddy as root? You can bind to port 80 as a normal user by using setcap
From the readme:

If you want to stick to `nohup` you could create a 'start' script that writes the process id to a file, and then create a 'stop' script that reads the pid from the file and kills it.

[2015-12-05 14:49] DenBeke commented on #350
+1 for web-ui.

[2015-12-05 15:52] DenBeke commented on #376
I was thinking about the same thing: built-in PHP plugin. Like e.g. MAMP.

To do this we would need to statically compile PHP with plugins and hope they don't rely on other libraries a user potentially doesn't have on his system. Would be nice though...

[2015-12-05 15:53] klingtnet commented on #388
# SystemD Service

- create the service file:

[code]

- reload the systemd daemon: `systemctl daemon-reload`
- start the service: `systemctl start caddy@someuser`
- enable it (to start it automatically on boot): `systemctl enable caddy@someuser`

[2015-12-05 16:34] mholt commented on #386
Okay, I think this is fixed; downloads should now be fully static again. See if that fixes it!

[2015-12-05 16:37] mholt commented on #383
We could probably handle the rate limiting better; I didn't expect it to be so low at first, and especially for the rate limit to cover all subdomains too.

As has been mentioned, the IPv6 issue is a limitation of Let's Encrypt's infrastructure. Hopefully this is fixed soon, but that's all we can do at this point.

Once rate limited, you'll have to wait 7 days for that domain and any of its subdom

[2015-12-05 17:14] matthewp opened #389 "Caddy throws when using hugo"
Using 0.8.

With this config:

[code]

I get this error:

[code]

[2015-12-05 17:16] mholt commented on #389
This would be good to bring up with @hacdias - open this issue at https://github.com/hacdias/caddy-hugo - thanks!

[2015-12-05 17:16] #389 closed

[2015-12-05 17:19] matthewp commented on #389
Ah, sorry about that, posted it here for others who see this issue: https://github.com/hacdias/caddy-hugo/issues/34

[2015-12-05 17:20] calebmer commented on #388
Thanks guys, this is seriously really helpful. However, if caddy wants to be the easiest solution to integrate, maybe it's worth considering abstracting this process?

Or at least put a tutorial somewhere with instructions for deploying a caddy server.

[2015-12-05 17:21] DenBeke commented on #388
Good suggestion...

[2015-12-05 17:21] matthewp commented on #388
@klingtnet will that work and start on ports 80 and 443 with a regular user?

[2015-12-05 17:23] mholt commented on #388
Deploying an application is very different from serving websites; I don't want to get into that business... sounds more like sysadmin work.

But perhaps we could post some examples to the [caddyserver/examples](https://github.com/caddyserver/examples) repo in a new folder called "deployment" or something, since it's a common enough question.

[2015-12-05 17:31] calebmer commented on #388
@mholt but that's something most of your target users will eventually want to do. Adding start/stop commands would fulfill most basic cases.

[2015-12-05 17:45] calebmer commented on #388
@DenBeke using upstart, where is the `.caddy` folder supposed to go?

[2015-12-05 17:47] DenBeke commented on #388
`.caddy` folder?

[2015-12-05 17:48] calebmer commented on #388
Where lets encrypt key pairs go. Normally it's in the home folder (`~/.caddy`).

[2015-12-05 17:48] klingtnet commented on #388
@matthewp If you have run `setcap cap_net_bind_service=+ep $(which caddy)` beforehand, then yes.

[2015-12-05 17:49] DenBeke commented on #388
Can't we have Caddy in the package managers? Or an install script which downloads caddy, detects the correct init system, creates the correct start files, ...?

[2015-12-05 17:52] klingtnet commented on #388
I could write a AUR repositort for Arch Linux if someone is interested.

[2015-12-05 17:55] calebmer commented on #388
@DenBeke it seems `$HOME` is an empty string in the upstart script, should I put it at root?

[2015-12-05 17:57] DenBeke commented on #388
@calebmer How do you mean?

[2015-12-05 18:00] calebmer commented on #388
@DenBeke caddy wants to put all of the lets encrypt configuration into `$HOME/.caddy`, however `$HOME` is not defined in the upstart script/end script portion. What do I do? Does caddy allow me to reconfigure where that directory goes? Should I put the `.caddy` folder at root to reflect that `$HOME` is empty? Do I define `$HOME` as the caddy user's home?

[2015-12-05 18:00] abiosoft commented on #388
I am with @DenBeke  on this. I think this needs to happen for greater adoption.

e.g. on Ubuntu
[code]

[2015-12-05 18:02] DenBeke commented on #388
@abiosoft I'm afraid the Ubuntu packages won't be quickly enough released, so apt-get will always be an older version. Arch is much faster in this.

For now a bootstrap script is maybe the most easy solution. I can help with this...

[2015-12-05 18:24] abiosoft commented on #388
@DenBeke I'd love you help :+1:

[2015-12-05 18:26] mholt commented on #388
I don't know if this will be helpful, but https://getcaddy.com

[2015-12-05 18:27] DenBeke commented on #388
That's a good starting point, @mholt!
Together with that we should install service files (matching the system), set cap, ...

[2015-12-05 20:32] mholt commented on #303
Closing, since the repository exists, but will still continue to promote it and encourage others to contribute!

[2015-12-05 20:32] #303 closed

[2015-12-05 20:37] centminmod opened #390 "Caching options available to Caddy ?"
Hi guys nice project you have going, Caddy was certainly easy to install and get up and running for testing. But curious in the context of comparisons to Nginx, what available cache options are available to Caddy ?

For example nginx has

- proxy_cache
- fastcgi_cache
- open_file_cache
- open_log_file_cache
- ssl_session_cache

So do Caddy equivalents exist ?

[2015-12-05 20:40] mholt commented on #390
Not yet - but it's been on the todo list for a while, see #10 (and somewhat related, #191)

[2015-12-05 20:43] centminmod commented on #390
cheers @mholt is there a keep alive option ?

[2015-12-05 20:43] mholt commented on #390
Yeah, it's currently set at 3 minutes. Will probably make that configurable later.

[2015-12-05 20:47] centminmod commented on #390
I see.. thanks @mholt :)

I ask as I decided to play with Caddy on port 81 local virtualbox CentOS 7.1 guest OS server which already has another Nginx server running on port 80 via CentminMod.com LEMP stack. Using a local PC and server hosts file edit to map domain1.com to virtualbox server Ip and I think maybe the difference is Siege benchmark tests is nginx keep alives or the differences in avai

[2015-12-05 20:49] mholt commented on #390
What's your nginx.conf for those benchmarks?