[2016-08-22 21:22] #1055 closed

[2016-08-22 21:27] mholt commented on #1051
Well, Caddy doesn't have a QUIC client and this is not something it's likely to support in a while. Also, I think this is expected since proxy just carries the headers from the response back downstream. Perhaps using `header_downstream` in the proxy directive, you could control them:

[code]

Not sure if that'll do what you want, but I'm not sure what else there would be to do on this for now.

[2016-08-22 21:33] #1043 closed

[2016-08-22 21:42] stp-ip commented on #1051
Sure it's an edge case, but I don't think the protocol specific headers should be pushed downstream. They should be replaced. It's for the communication between client and server including were the client is another server (with the proxy directive). Therefore the "helper" headers aren't needed outside of this communication.

[2016-08-22 21:45] mholt commented on #1051
@stp-ip So you think we should add those two headers to [hopHeaders](https://github.com/mholt/caddy/blob/1d3212a598e14fa4dbc6f0561faec52fe52f4ecd/caddyhttp/proxy/reverseproxy.go#L263-L274)? (Will doing it break anything?) (Haha, needs moar testing...)

[2016-08-23 00:47] tw4452852 commented on #1056
@mholt I think that header is from [here](https://github.com/golang/go/blob/master/src/net/http/transport.go#L1806) and we set it [here](https://github.com/mholt/caddy/blob/master/caddyhttp/proxy/reverseproxy.go#L307). Is it expected?

[2016-08-23 00:48] mholt commented on #1056
@tw4452852 Woah, nice find. Not sure. @nemothekid - do you know if that was intended for hijacked connections?

[2016-08-23 00:51] nemothekid commented on #1056
I intended to set `DisableKeepAlives` (to prevent the underlying Transport from doing funny things to the connection so we can reliably hijack the connection), but I didn't realize [go was also setting](https://github.com/golang/go/blob/master/src/net/http/transport.go#L1806) `Connection: Close`. Looking into a fix...

[2016-08-23 01:32] nemothekid commented on #1056
#1062 should fix the issue, thanks @tw4452852 for the narrowing down the issue, made the fix really easy.

[2016-08-23 04:17] tw4452852 commented on #1015
Hi @itskenny0 , I think we could close this issue for now because the patch has been merged.
Feel free to reopen if you have any problems. Thanks.

[2016-08-23 04:17] #1015 closed

[2016-08-23 10:51] stp-ip commented on #1051
Yeah add those to hopHeaders and in my opinion it shouldn't break anything, but probably best to check with the quic experts ;)

[2016-08-23 15:01] mholt commented on #1051
Pinging @lucas-clemente: removing Alt-Svc and Alternate-Protocol headers from hop-to-hop is the correct way to handle it, right? It makes sense, as they seem fairly similar to the Connection and Upgrade headers which deal with the protocol for that specific connection only.

[2016-08-23 15:59] lucas-clemente commented on #1051
I agree, they should be cleared from hop to hop. If not, the browser might try to connect to one of the backend servers directly, which doesn't make much sense.

[2016-08-23 16:02] mholt commented on #1051
Thanks Lucas. This is now an easy fix if anyone wants to jump on it!

[2016-08-23 16:39] #1056 closed

[2016-08-23 21:08] seedifferently commented on #995
@definitelycarter @mholt I stumbled across this while trying to figure out how to use [GoAccess](https://goaccess.io/) with caddy for log analysis, and believe that the original issue here was misunderstood.

Many log analysis tools expect the "latency" param to be just a number (e.g. `123` or `123.45`, but not `123ms`), which is what I believe @wenerme was trying to get at. (cf. the `%L` param he

[2016-08-23 22:00] mholt commented on #995
@seedifferently Hmm, let's discuss that in a new issue then. Reference this one in the new issue. Thanks!

[2016-08-23 22:07] stp-ip commented on #1051
As I was the annoying person to push this edge case: #1064

[2016-08-23 23:00] mholt commented on #1045
Thanks Tw, that could be the case although I'm still trying to understand it fully.

The stack trace shows:

[code]

but [proxy.go line 132 is a closing curly brace](https://github.com/mholt/caddy/blob/c5aa5843d92a27eaf521e28684111030135d9cdc/caddyhttp/proxy/proxy.go#L132) on 0.9.1. How did that make it into the stack trace? O.o

[2016-08-23 23:03] #1051 closed

[2016-08-23 23:16] mholt commented on #1026
Ping. @pedronasser - can you take a look? @avail - does that work for you?

[2016-08-23 23:36] DeltaWhy opened #1065 "Alternate index"
Is it possible to specify an index file other than index.html? This would be equivalent to nginx's 'index' directive.

My use case is serving a scraped copy of a Wordpress blog - a URL ending in `/feed` should serve the file at `/feed/index.xml`.

I also want to serve the file with content type `application/rss+xml` rather than the default `application/xml` but I believe that's already possible wi

[2016-08-23 23:55] seedifferently opened #1066 "Provide a numeric latency format for easier log parsing/analysis"
Many http log analysis tools expect the "latency" param to be able to be parsed as a number (e.g. `123` or `123.45`, but not `123ms`). However, caddy does not provide such an option since its `{latency}` value utilizes `time.Duration.String()`.

cf. #995, and [GoAccess](https://goaccess.io/)'s `%T` and `%L` params: https://goaccess.io/man#custom-log

#### 1. What version of Caddy are you running (

[2016-08-24 00:00] mholt commented on #1065
Not currently, but you can probably do a manual `rewrite` that works similarly. You can use the `mime` directive to serve a Content-Type for .xml files.

Something like this? Maybe @abiosoft would have a better answer :smile::

[code]

[2016-08-24 00:03] pedronasser commented on #1026
Sorry for taking so long @mholt.
I'll take a look asap.

[2016-08-24 02:48] colemickens opened #1067 "`caddy -version` should not require write access to my homedir"
[code]

[2016-08-24 02:52] tw4452852 commented on #1045
@mholt I mean [this request](https://github.com/mholt/caddy/blob/master/caddyhttp/proxy/proxy.go#L90)

[2016-08-24 04:31] mholt commented on #1067
Hmm, you're probably right...

[2016-08-24 04:32] #1067 closed

[2016-08-24 04:35] colemickens commented on #1067
That was fast! Thanks @mholt!

[2016-08-24 04:37] avail commented on #1026
@mholt sorry, I can't really test as I have no Golang experience whatsoever. :( I usually just grab the latest build from the site.

[2016-08-24 04:39] mholt commented on #1026
@avail Okay, thanks for letting me know. I'm pretty sure I was able to reproduce your issue, just waiting for Pedro to OK it.

[2016-08-24 04:43] mholt commented on #1045
@tw4452852 Okay, so outreq is being reused, this is true. That must mean that the standard lib is accessing its header map concurrently somewhere...? Maybe we should make a new outreq in each iteration of the loop instead?

Tricky since we can't easily reproduce this :( I have yet to be able to trigger it.

[2016-08-24 04:55] mholt commented on #1044
Annnnd merged.

[2016-08-24 04:55] #1044 closed

[2016-08-24 08:30] tw4452852 commented on #1045
@mholt I think it's because we reuse the `outreq` when retrying, but the standard lib may still use it after `RoundTrip`. So we could make a new `outreq` before each iteration of retrying loop for now.

BTW, just quote from the doc of `RoundTrip`:

	// but depending on the implementation may do so in a separate
	// goroutine even after RoundTrip returns. This means that
	// callers wanting to reus

[2016-08-24 08:43] itskenny0 commented on #1044
Thank you for the implementation! :-)

Maybe I'm misunderstanding something, but with my Caddyfile setup like this, the old behaviour (files are created, but nothing written to them) is still present:
[code]

Only access.log is written to.

[code]

[2016-08-24 13:07] DeltaWhy commented on #1065
I thought that might work but wanted to check if there was a simpler way before digging into it. The conditional is a bit tricky - `/feed`, `/category/foo/feed`, `/feed/podcast` should all rewrite to index.xml, but `/some-page-with-feed-in-title` should not, and `/feed/index.xml` obviously should not rewrite to `/feed/index.xml/index.xml`.

Forgot to mention I tried `ext .html .htm .xml` with no e

[2016-08-24 14:03] abiosoft commented on #1065
You can have this in your Caddyfile.
[code]

[2016-08-24 14:28] seedifferently commented on #1066
For reference:

- Apache provides `%D` for microseconds, `%T` for seconds, and `%{UNIT}T` for other formats (https://httpd.apache.org/docs/2.4/mod/mod_log_config.html#formats).
- nginx provides `$request_time` for "time in seconds with a milliseconds resolution" (http://nginx.org/en/docs/http/ngx_http_core_module.html#var_request_time).
- The W3C extended log format (utilized by IIS) specifies `ti

[2016-08-24 18:11] mholt commented on #1044
@itskenny0 Strange, the test shows that it does write to multiple logs. I've tried your Caddyfile here locally and it writes successfully to the 3 files...

As for request ID, no, Caddy doesn't do that. I guess I can see why it would be useful; with Go 1.7's new `context` addition, it's possible without the "hack" of using a header, but I'm going to wait a few months before we make the jump to 1.7

[2016-08-24 18:31] lbguilherme commented on #1056
@mholt Please make a release with this change. 0.9.1 is completely broken for proxying websockets with this bug.

[2016-08-25 02:15] clangley commented on #688
@mholt I am currently experiencing this loop issue

Version: Caddy 0.9.1

Config:
[code]

<img width="1276" alt="screen shot 2016-08-24 at 9 08 57 pm" src="https://cloud.githubusercontent.com/assets/1743033/17954235/1c313f3c-6a3f-11e6-80b9-bdebc2f51b31.png">

[2016-08-25 03:28] tw4452852 commented on #1044
Also I add a test to confirm.

[2016-08-25 04:39] mholt commented on #688
@clangley @marcbachmann Please open a new issue and file a bug report so we can take a look at this.

[2016-08-25 06:52] tdsmith commented on #936
Aren't length-extension attacks irrelevant in this application?

[2016-08-25 11:46] stp-ip opened #1069 "Memory/cpu leak in proxy directive when max_fails 0 and backend fails"
#### 1. What version of Caddy are you running (`caddy -version`)?
v0.9.1

#### 2. What are you trying to do?
Serving traffic via the proxy directive using max_fails 0 as only one backend is available.

#### 3. What is your entire Caddyfile?
[code]

#### 4. How did you run Caddy (give the full command and describe the execution environment)?
./caddy --agree --conf=caddyfile_test

#### 5. What did y

[2016-08-25 13:23] paragonie-scott commented on #936
Length extension attacks are relevant when you know `M` and `H(M)` and you want to create `M'` such that `H(M') = H(M)` and `H()` is vulnerable to length extension attacks.

[2016-08-25 14:01] mholt commented on #1069
I think this is a known and basically duplicate issue of https://github.com/mholt/caddy/issues/754.

Try proxying to something not on the local network with `max_fails 0`.

@nemothekid We really need to get rid of `max_fails 0` for localhost proxying. Or any/all proxying.

Although I'm not sure what that stdout output is all about.

[2016-08-25 14:29] mholt commented on #860
So we're actually implemented a certificate storage plugin system, I think that will solve this problem, since Caddy will ask the storage provider for a certificate -- and if it returns one, it will just use that. Note that it will also be used to store certificates when it obtains new ones from ACME. This storage provider interface also supports locking for sharing across multiple instances of Ca

[2016-08-25 15:53] stp-ip commented on #1069
Didn't correlate this with #754, thought it might be something new or not yet discovered.

Not sure on the OS killing threads theory.

Thanks for taking the time to consider it. Nothing with high priority I would say. More a good to know, better to fix in the long run kinda thing.

[2016-08-25 16:05] evvvvr commented on #1027
Sounds like a better option from performance point of view, even with concern that it implies implementation contract for interested plugins and that maximum request body size handling is up to plugin, instead of  middleware which definitely will do this.
However I can't imagine any other normal alternative except these two.

[2016-08-25 17:44] mholt commented on #1027
@evvvvr Fair enough; middlewares already need to access the SiteConfig to get the Root path (if accessing local files), etc -- so I think it's okay to expect that of middlewares.

Okay, so here's what we should do. Somebody who has a few minutes: add a MaxRequestBodySize field to the SiteConfig struct, add a directive which sets the value (follow `root` or `bind` for a good example - except even s

[2016-08-25 18:24] nemothekid commented on #1069
Yeah the stdout errors are caused by it launching as many goroutines as possible in that infinite loop (which explains why its eating memory).

`max_fails 0` likely shouldn't be a valid directive, `max_fails 1` should be the minimum.

*Or* we can change the meaning of `max_fails 0`. If the backend fails and `max_fails` is 0, we immediately return `http.StatusBadGateway`, but we don't mark the back

[2016-08-25 18:30] nemothekid commented on #1069
Something conceptually like:

[code]

[2016-08-25 19:35] mholt commented on #1069
Yeah, I agree with you that max_fails 0 is always an error. My reasoning: Who is the site owner to say that their backend is _never_ down? The only authoritative answer to that question is the proxy that makes the request and gets a bad response (or none at all). I think `max_fails 0` as-is gives users enough rope to hang themselves.

I think that's money right there. Do you think the changed beha

[2016-08-25 19:40] mholt commented on #1045
If we move the creation of outreq to inside the loop, we should comment describing why we're doing that (with a link to this issue).

@tomasdeml Are you in a position to try a change once we have one ready?

[2016-08-25 19:45] mkoppmann opened #1071 "Deletion of 3DES from the supported ciphers"
Should 3DES be deleted from the supported ciphers list because of SWEET32? It’s already not in the default ciphers list and starting with OpenSSL 1.1 it will not get compiled by default, so I guess we don’t need it either.

[1] https://sweet32.info/
[2] https://www.openssl.org/blog/blog/2016/08/24/sweet32/

[2016-08-25 19:52] nemothekid commented on #1069
(thinking out loud)

Not sure that would work as then CheckDown would need some sort of context for each request. The only thing each request has to work with in the `Upstream` interface:

[code]

We could add a `ShouldRetry() bool` function, and then the `staticUpstream` impl would have something like

[code]

This works for single host proxies when max_fails is 0 (every request tries the backend

[2016-08-25 22:18] mholt commented on #860
Okay, so re-reading a bit more... I see that this may not suit your needs. What we're working on is storage only for managed TLS, so if your certificates can't be renewed with ACME then it won't be a good fit.

We could look into a way to make the "Obtain" and "Renew" methods part of an interface. Would be happy to have your suggestions @mgilbir !

[2016-08-25 22:38] FiloSottile commented on #1071
At CloudFlare we still see a non-zero ‰ of connections that need it. Not making an argument for default inclusion, but it's the best way to get XP+IE clients to connect, so it should be possible to turn it on IMHO.

With #1070, once it's at the end of the ciphers list it will be only used if strictly necessary.

Sweet32 is anyway borderline practical. I might make a Go crypto/tls patch to make the

[2016-08-26 05:49] tdsmith commented on #936
You're describing a hash collision attack and that would indeed make sha256 useless. My understanding was that length extension attacks are relevant when you know `H(K+M)`, do not know `K`, and wish to predict a hash `H(K+M+M')` for a message `M+M'`; they are why HMACs are useful constructs for guaranteeing message authenticity.

[2016-08-26 05:51] paragonie-scott commented on #936
Let's make this easy:

* [Write-up](https://blog.skullsecurity.org/2012/everything-you-need-to-know-about-hash-length-extension-attacks)
* [Exploit tool](https://github.com/iagox86/hash_extender)

[2016-08-26 07:57] HazCod opened #1072 "[Feature] Implement public-key pinning"
As caddy uses letsencrypt and so knows what certificates are fetched, it can implement public-key pinning.

https://scotthelme.co.uk/hpkp-http-public-key-pinning/

[2016-08-26 08:23] tomodian opened #1073 "Access-Control-Allow-Origin values sent from proxy destination is concatenated with comma"
#### 1. What version of Caddy are you running (`caddy -version`)?

Caddy 0.9.1

#### 2. What are you trying to do?

I am trying to put Caddy as https frontend to proxy requests to CORS enabled destination server and also to restrict CORS origin to `Access-Control-Allow-Origin: "https://client.domain.com"`.

Since the destination server have CORS support, Caddy retrieves downstream headers as `Acce

[2016-08-26 09:32] evvvvr commented on #1027
@mholt I think I`ll do it today

[2016-08-26 10:54] FiloSottile commented on #936
Length extension is fully irrelevant in this scenario. All the messages (the binaries) are public, so the attacker can just as well calculate a SHA-512/256 of the "extended" message. But what they can't do is then fake the GPG signature.

[2016-08-26 11:23] mkoppmann commented on #1071
Implementing a data limit sounds like a good compromise. 32–40GB are needed to get the first collision with ~50% probability. 64GB sounds like a reasonable value to make the connection fail because as you said, Sweet32 is still pretty impractical as the attacker would need to be in a position where he can observe 100% of the traffic.

[2016-08-26 14:45] paragonie-scott commented on #936
@FiloSottile I was suggesting make a file that contains the hashes of each binary, then sign the file.

You can't forge a signature, but if you can collide a signed hash you could bypass validation. So using a hash function for which you cannot easily create a collision via LEA is a good hygiene step to take.

That's all I was getting at.

[2016-08-26 15:15] mholt commented on #1072
Thanks for the request! Unfortunately, I don't feel comfortable implementing it at this time since I believe the site owner must be aware what is going on, even when the server automates pinning entirely, because they still could easily break it and DoS their site. See #720 which this is a duplicate of.

[2016-08-26 15:15] #1072 closed

[2016-08-26 15:17] mholt commented on #1027
@evvvvr Cool, and the path could be optional maybe?

[2016-08-26 16:36] evvvvr commented on #1027
@mholt  Yep, syntax will look like  `maxrequestbody [path] size`
If no path specified - size limit is implied for any location and size is either a number (for bytes) or number with 'K' or 'M' suffix meaning  kilobytes/megabytes.

Sorry, but I can't make it today :confused: probably only the next week, if anyone would like to do it - feel free to take this issue.

[2016-08-26 16:51] tdsmith commented on #936
Right; the length-extension property does not let you generate collisions. :) Sorry for the pedantry; it was borne of personal curiosity since Homebrew uses sha256 hashes to verify binary integrity and I wanted to make sure I hadn't missed an important caveat.

[2016-08-26 17:09] mholt commented on #1073
Use `header_downstream -Access-Control-Allow-Origin` in your proxy directive. :) See [docs](https://caddyserver.com/docs/proxy).

Also, don't use `proxy_header` (it is deprecated) - use `header_upstream` instead.

[2016-08-26 17:10] #1073 closed

[2016-08-26 20:09] runningman84 opened #1074 "git plugin strange path"
my config looks like this
[code]

I am using the latest zzrot/alpine-caddy docker image. Recently caddy started to store it here:
caddy_1         | Cloning into '/tmp/example.github.io/tmp/example.github.io'...

As you can see the path is somehow duplicated. I would expect the git content to be stored in  /tmp/example.github.io instead of /tmp/example.github.io/tmp/example.github.io

[2016-08-26 20:14] runningman84 commented on #1074
ok my fault..

[2016-08-26 20:14] #1074 closed

[2016-08-26 21:03] runningman84 opened #1075 "cannot both use PreferServerCipherSuites"
The error message is misleading, what am I doing wrong here? If I remove the first section containing http:80 everything works fine...

#### 1. What version of Caddy are you running (`caddy -version`)?
0.9.1

#### 2. What are you trying to do?

Redirect all traffic which does not match a specifc host to newsite.com

#### 3. What is your entire Caddyfile?
[code]

#### 4. How did you run Caddy (give

[2016-08-26 22:18] #1075 closed

[2016-08-27 01:49] jleclanche commented on #831
Reviving this discussion a little. I think it comes up often enough that this *really* merits reconsidering. Any website with a sufficient amount of subdomains will be hit by this, which means that one of caddy's and letsencrypt's main features become completely moot. This isn't just a SNI issue.

The code/logic complexity argument is valid mainly for the case of "Caddy should figure out, all by i

[2016-08-27 08:20] rothgar opened #1076 "Caddy fails with domains that start with numbers 'Parse error'"
#### 1. What version of Caddy are you running (`caddy -version`)?
0.9.1 (arm on a raspberry pi)

#### 2. What are you trying to do?
host 2 sites

#### 3. What is your entire Caddyfile?
[code]

#### 4. How did you run Caddy (give the full command and describe the execution environment)?
running inside a docker container with
CMD service php5-fpm start && caddy

#### 5. What did you expect to see?
B

[2016-08-27 13:07] mholt commented on #1076
You're missing the closing curly brace to your `rewrite` directive.

[2016-08-27 15:21] rothgar commented on #1076
@mholt you are completely right. Combination of copy/paste failure and working on something when I should go to bed.

Thanks for the help and sorry for the false issue.

Also thanks for caddy, it rocks!

[2016-08-27 15:21] #1076 closed

[2016-08-27 22:01] captncraig commented on #831
The only reason I think SANs might be needed is for clients who do not support SNI, so you need all of your domains on the default cert for the server. Luckily, those clients are getting to be fewer and fewer.

The other possibility is getting around rate-limits, but at 20 subdomains a week, I think even that is sufficient for anyone who has a finite number of domains. Anyone else probably needs w

[2016-08-27 22:03] captncraig commented on #831
Why do you think SANs are a needed feature in the first place? Not antagonizing. I wanted them too. I'm just out of good arguments for them.

[2016-08-27 22:46] jleclanche commented on #831
@captncraig Yeah, wildcards would be great, but we don't have wildcards :)

Having a lot of subdomains is not an uncommon use case. This is why wildcard certs are such a highly requested feature on Let's Encrypt. 20 a week is very easy to hit if each request is separate. let's say I have apex, www and 5 more subdomains; then I want to prepend them with `staging.` and `dev.`. Oops, I'm now at 21 su

[2016-08-27 23:04] mholt commented on #831
@jleclanche

Actually, I believe it is. It's users who want to scale their service linearly (or exponentially❗) by adding subdomains where things get tight. But those users certainly have the technical ability to manage one wildcard certificate. They're not the long tail of unencrypted sites that Let's Encrypt is trying to encrypt.

Renewals don't count against the rate limit.

Caddy now allows th

[2016-08-27 23:47] jleclanche commented on #831
I'm not sure I understand. Subdomains are great. Hell even for debugging - for example, in our cloudflare->ELB->Caddy stack, we spun up subdomains for each element in that matrix (CF+ELB disabled, CF enabled ELB disabled, etc) in order to better debug issues in-between those components. And of course, we wanted to make sure HTTPS worked for all those. Caddy is *fantastic* for that.

Asf or Let's E

[2016-08-28 00:31] captncraig commented on #831
The rate limits are kinda odd though. If you issue a single name cert you can renew it forever at no cost. You can get 20 per week.

If you start combining, then every new combination counts against your rate limit. Yeah, you can't spin up 75 sub domains the first week, but you can set it up over 4 and be good forever.

[2016-08-28 00:41] jleclanche commented on #831
@captncraig That holds up. If you have a.example.org and b.example.org, then you add c.example.org, in the current model you add once and renew 3 certs (at no cost), in the proposed model, you refresh all *once* and renew one cert (at no cost either). If the renewals do not hit the rate limit then they're irrelevant, it's only first-time setup that matters.

[2016-08-28 01:11] captncraig commented on #831
Caddy's sweet spot is super simple. There is nothing that says it needs to be your only tool. You could use another tool to generate San certs, and caddy will happily use them.

[2016-08-28 01:30] jleclanche commented on #831
That is what I'm currently doing, yes. I'm writing all this from the perspective of improving the user experience for this scenario, which I believe users will hit often enough for a change of some kind to be warranted. :)

[2016-08-28 15:30] KyleAMathews commented on #816
Something useful for static sites is a "push manifest". This is what GAE supports apparently https://www.npmjs.com/package/http2-push-manifest

[2016-08-29 14:26] mholt commented on #831
@jleclanche

Believe me, I don't view LE as a "toy CA." The long tail of sites is what makes the majority of the sites on the Internet, which is why LE is now the second-largest CA by certificates issued. More sites are encrypting now than ever before. (Caddy is only a tiny fraction of that.) And encrypting the long tail [is not something Let's Encrypt takes very lightly either](https://letsencryp

[2016-08-29 16:01] mholt commented on #1012
This should be fixed now by using the `status` directive. `rewrite` no longer allows changing the status code.

[2016-08-29 16:01] #1012 closed

[2016-08-29 16:42] peterychuang commented on #1012
@mholt Thanks, just built it and it works.

[2016-08-29 18:32] admiralobvious opened #1077 "Location header is not set properly when redirecting to HTTPS"
#### 1. What version of Caddy are you running (`caddy -version`)?
0.9.1

#### 2. What are you trying to do?
Redirect all users to HTTPS based on the load-balancer's X-Forwarded-Proto header.

#### 3. What is your entire Caddyfile?
[code]

#### 4. How did you run Caddy (give the full command and describe the execution environment)?
CMD ["caddy"] in Docker container.

#### 5. What did you expect to

[2016-08-29 20:18] gordonmurray opened #1078 "Stuck on 'Activating privacy features...'"
I'm using Caddy version 0.8.3 as a Proxy.

This worked well for a number of months, until I tried to restart Caddy today.

Now its just stuck on 'Activating privacy features...'

My caddyfile is the following and I start it using: ./caddy. The domains and their DNS are online and unchanged.

[code]

[2016-08-29 20:45] gordonmurray commented on #1078
Upgrading to Caddy 0.9.1 solved it, without any other change. It would be great to know what might have cased it though.

[2016-08-29 22:08] mholt commented on #1078
Would have been helpful to have some log output but I'm glad you fixed it by upgrading. :+1:

[2016-08-29 22:08] #1078 closed

[2016-08-30 16:34] kmanley commented on #911
what about 404 though? that shouldn't make caddy mark a back end as a bad gateway should it?

[2016-08-30 19:39] #1034 closed

[2016-08-30 19:53] mholt commented on #1077
I was able to reproduce the Location header of "https:///`. The `{uri}` placeholder does not include the hostname, only the path, query string, and fragment. You probably want:

[code]

instead. :+1:

[2016-08-30 19:53] #1077 closed

[2016-08-30 21:52] mgilbir commented on #860
I'm finally back after some time busy with work, family and holidays. Sorry it took so long!

I've been taking a look at the storage plugin system and the caddytls package in general. Still trying to figure out how everything comes together in the configuration and what gets called when.

My initial thoughts for the particular case of the vault integration I would like to have is that it may be po

[2016-08-31 01:24] kmanley opened #1080 "Random 502 errors with Caddy 0.9.1 in reverse proxy mode, no load"
### 1. What version of Caddy are you running (`caddy -version`)?

Caddy 0.9.1 (+e8e5595 Mon Aug 29 16:15:56 UTC 2016)

### 2. What are you trying to do?

Use Caddy as a reverse proxy in front of a Go web server

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

It's running under supervisord:

[code]

### 5.

[2016-08-31 06:29] Echsecutor opened #1081 "fastcgi response times extremely long"
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)

### 1. What version of Caddy are you running (`caddy -version`)?

### 2. What are yo

[2016-08-31 07:57] Echsecutor opened #1082 "fastcgi response times extremely long"
### 1. What version of Caddy are you running (`caddy -version`)?

Caddy 0.9.1 (+e8e5595 Tue Aug 30 04:52:42 UTC 2016)

### 2. What are you trying to do? 5. What did you expect to see? 6. What did you see instead (give full error messages and/or log)?

I am replacing nginx as the head of a fastcgi backend with caddy. Everything works fine, but caddys response time is extremely long. Concretely, ngi

[2016-08-31 08:01] Echsecutor commented on #1082
At a superficial glance at caddyhttp/fastcgi/fastcgi.go, line 76, I get the impression that caddy re-dials a new fastcgi TCP connection for each request? This is clearly not the best idea, performance wise. nginx keeps a fastcgi connection openfor some configurable idle time. Maybe this is where the performance difference comes from?

[2016-08-31 08:33] Echsecutor commented on #1082
Adding
log / caddy.log "{when} {method} {uri} {proto} {status} {size} {>User-Agent} {latency}"
to the Caddyfile, the latency can also be observed from caddy's own log. E.g.

    31/Aug/2016:10:32:02 +0200 GET /Go/ HTTP/1.1 304 0 Mozilla/5.0 (Windows NT 6.1; WOW64; rv:45.0) Gecko/20100101 Firefox/45.0 1.002s
    31/Aug/2016:10:32:07 +0200 GET /Go/VERSION HTTP/1.1 304 0 Mozilla/5.0 (Windows NT 6.1;

[2016-08-31 08:47] #1081 closed

[2016-08-31 08:48] abiosoft commented on #1082
Thanks for reporting this. I'll try to investigate more and see if it can be improved.

[2016-08-31 08:49] martijnve commented on #528
@dprandzioch
I agree, killing the parent messes with init scripts and container engines (rkt / docker). Which is s shame since caddy and containers are currently such a nice fit.

[2016-08-31 08:57] kseistrup opened #1083 "Panic when proxying with QUIC: not a Flusher"
### 1. What version of Caddy are you running (`caddy -version`)?

Caddy 0.9.1 (+e8e5595 Thu Aug 18 14:21:02 UTC 2016)
### 2. What are you trying to do?

Run Caddy as proxy in front of a ZeroNet instance that runs on http://127.0.0.1:43110/
### 3. What is your entire Caddyfile?

[code]
### 4. How did you run Caddy (give the full command and describe the execution environment)?

Via a systemd servic

[2016-08-31 11:53] Echsecutor commented on #1082
Ok, it boils down to 3 points:

1. store the FCGIClient somwhere
2. do not close the connection (side effect of resp.Body.Close() )
3. Tell fastcgi to keep the connection open in the first place:

diff --git a/caddyhttp/fastcgi/fcgiclient.go b/caddyhttp/fastcgi/fcgiclient.go
index f443f63..574455c 100644
--- a/caddyhttp/fastcgi/fcgiclient.go
+++ b/caddyhttp/fastcgi/fcgiclient.go
@@ -385,7 +385,7 @

[2016-08-31 12:22] martijnve opened #1085 "Caddy fails to start when root points to a folder that doesn't exist (yet) and the browse directive is enabled"
#### 1. What version of Caddy are you running (`caddy -version`)?
Caddy 0.9.1 (+e8e5595 Thu Aug 18 05:10:45 UTC 2016)

#### 2. What are you trying to do?
In a project I'm working on the root folder is only placed after caddy is started. If I also enable the browse directive caddy fails to start.

I'm currently working around this by having a dummy webroot in place (with a dummy file in it because

[2016-08-31 12:44] Echsecutor commented on #1082
... but only for sequential queries. As soon as queries start mixing (which is allowed in the fastcgi protocol), the answers get mixed up. There are some more improvements needed in fcgiclient to make persistent fcgi connections possible.

Sadly this makes caddy unusable for me at the moment.

[2016-08-31 13:37] mholt commented on #1083
I suspect this is an experimental QUIC issue. If you disable QUIC does this error still occur?

[2016-08-31 13:54] kseistrup commented on #1083
I will disable it and let you know.

However, I haven't seen this issue on a plain site (i.e., non-proxy, non-websocket) yet.

I'll be back.

[2016-08-31 14:37] kseistrup commented on #1083
Disabling QUIC seemed to help. I should probably change the issue title.

[2016-08-31 15:45] skorokithakis commented on #1080
I'm affected by this too. One odd thing is that I get this:

https://i.imgur.com/4JJlkzy.png

In the 502 responses, there's a weird non-request, followed by the 502. This doesn't hit the backend at all. It looks like a race condition, to me.

[2016-08-31 15:47] skorokithakis commented on #1080
This also seems to only happen over HTTPS, or that's how I've managed to reproduce it. Possibly because HTTP is faster.

[2016-08-31 16:14] mholt commented on #1080
This error occurs when the backend returns a non-success status code or some other error happens.

Will look into it later when I have a chance; someone else is welcome to help out!

[2016-08-31 16:15] skorokithakis commented on #1080
I added a one-second delay to the view, and Caddy sometimes returns within 40ms with a 502, sometimes waits the full second and returns the response. Maybe something is making it think that the timeout was much less than it was?

@mholt It's not a non-success status code, as the request doesn't hit the backend at all (there's nothing in the log.

[2016-08-31 16:16] skorokithakis commented on #1080
Also, this happens to me with both Ruby and Python backends, on two unrelated servers.

[2016-08-31 16:17] skorokithakis commented on #1080
It also never happens with cURL, whereas it happens 90% of the time on the same request with Firefox. Combined with the fact that it only happens over TLS, I'd suspect session resumption or HTTP/2.

[2016-08-31 16:37] kmanley commented on #1080
@mholt my backend server isn't returning an error code. Something else is going on.

[2016-08-31 17:18] mholt commented on #1080
@kmanley That'd be helpful! Thanks. Try printing `backendErr` here: https://github.com/mholt/caddy/blob/a12230419611951692ee0bb5cd407e6e884be2c2/caddyhttp/proxy/proxy.go#L146

If you want to print it only when it's non-nil, try moving the print statement down after the nil check.

[2016-08-31 17:23] kmanley commented on #1080
@mholt do you want me to build a the 0.9.1 tag or head?

[2016-08-31 17:24] kmanley commented on #1080
@mholt in fact would there be any downside to just including that change in head?

[2016-08-31 17:29] mholt commented on #1080
Head, please.

[2016-08-31 17:45] mholt commented on #999
Note: https://twitter.com/progrium/status/771021678524506112

[2016-08-31 19:32] adamwathan opened #1086 "Proxying to an internal resource using `internal` and `proxy` does not serve the correct MIME type"
### 1. What version of Caddy are you running (`caddy -version`)?

0.9.1

### 2. What are you trying to do?

Proxy access to a static file using the `internal` and `proxy` directives.

### 3. What is your entire Caddyfile?

[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

`caddy`, on OSX.

### 5. What did you expect to see?

Expected `/redirect`

[2016-08-31 19:34] adamwathan commented on #1086
Doing this exact same thing with 0.8.3 does work correctly, for what it's worth.

[2016-08-31 21:42] Echsecutor commented on #1082
The whole issue might be a windows only problem. Under Linux I can currently not reproduce the slow fastcgi response.

[2016-08-31 21:45] abiosoft commented on #1082
I think it's safe to close this until we ascertain there is actually an issue.

Thanks for the efforts.

[2016-08-31 21:49] Echsecutor commented on #1082
Well, I am certain that there is an issue on Windows machines. And I think the problem is clear from the code. It just happens that opening seperate tcp connections for each fastcgi request is no problem under linux.

[2016-08-31 22:16] mholt commented on #1082
Maybe something to do with how Windows reserves closed sockets or something? (Not sure, but I've seen similar issues in Windows before...)

[2016-08-31 22:49] mholt commented on #1082
I can't do this myself, but would be willing to accept a contribution that improves fcgiclient.go code to support persistent fcgi connections! That'd be a great improvement.

[2016-08-31 22:51] mholt commented on #1086
What happens if you add `mime .css text/css` to your Caddyfile? (Sorry I know it's dumb.)

[2016-08-31 23:12] mholt commented on #1085
This behavior was introduced in 72bc6932b017edd246c2e6eadd34758e7dee1d68 by @wmark. See #772. It was just one piece of a series of improvements to this middleware. I don't recall it ever being a real problem; in fact I like catching potential errors early like this rather than letting them go unnoticed to fester.

But I do seem to recall removing this check from the `root` directive since sometime

[2016-08-31 23:36] mholt commented on #219
FWIW @Prezto this was implemented almost a year ago but I forgot to ping you. 😛

[2016-09-01 03:39] kmanley commented on #1080
Okay I'm running the custom build that prints backendErr in my prod environment now, will let you know what I find out.

[2016-09-01 08:57] martijnve commented on #1085
Hmm i see your point. There's a balance between protecting people against their mistakes and maximum fIexibility. In both cases I feel the behavior should be consistent (either always crash or never crash) and independent of what directives are used (if possible).

I didn't report this issue because it was causing me any problems that aren't easily worked around, it's just an unexpected gotcha. Ma

[2016-09-01 09:11] abiosoft commented on #1085
I think I go for consistency as well. I'd rather caddy not start as a whole than caddy not start when browse is used.

But my preference is to drop the check in browse as well.

[2016-09-01 11:32] adamwathan commented on #1086
Still comes back as `text/html`:

![image](https://cloud.githubusercontent.com/assets/4323180/18165929/2e8760e4-7016-11e6-8adb-da20c6aec8c7.png)

[2016-09-01 11:35] Echsecutor commented on #1082
I can confirme that on Windows 7 and Windows 10 running caddy (latest release as well as git master version) with different fastcgi backends, the latency is always >1s, which is clearly unacceptable. I think a big advantage of caddy as compared to nginx is, that it runs properly on Windows. (nginx e.g. can't cope with utf16 paths).
Hence I took some time to write a patch. This fixes the Problem fo

[2016-09-01 13:27] nubunto commented on #1027
I would like to take on this issue :smile:

Learning purposes, to be honest. Also, I've been using Caddy for personal stuff for a while, and it's time I give back to the project.

As soon as I get to it (mangling uni/work/stuff), I'll update this. Probably later tonight.

[2016-09-01 13:52] mholt commented on #1086
Oh... that's probably because the URL doesn't have .css in it. Hmmm...

[2016-09-01 13:57] mholt commented on #1085
Okay. I think we can remove the check in the browse middleware's setup function if there are no objections.

[2016-09-01 13:58] mholt commented on #1082
I do seem to remember a test we had (back before the 0.9 rewrite) that would call caddy.Start() and caddy.Stop() a few times in quick succession -- definitely within 1 second, and on Windows that test failed so I had to write a hack in... oh yes... [this](https://github.com/mholt/caddy/blob/a12230419611951692ee0bb5cd407e6e884be2c2/caddyhttp/httpserver/server.go#L131-L143):

[code]

I wish I had a

[2016-09-01 14:02] adamwathan commented on #1086
Yeah I tried to look through the source to see if I could figure out what would need to change to get the old 0.8.3 behavior back but not good enough at Go :)

But to me it sounds like the important thing is to treat the value of the `X-Accel-Redirect` header as the file name, not the URL that then proxied to that file, does that sound right to you?

[2016-09-01 14:27] wmark commented on #1085
There's *eager* checks (»fail early«) and deferred ones. Caddy has eager checks in all other places; for example, it won't start if the address to bind is not assigned to a network interface.

Removing the check will just yield an error later provided the error condition.

It's not my decision, but I'd stay with eager checks for consistency and, IMHO, it's easier for beginners to see all errors up

[2016-09-01 14:36] mholt commented on #1085
^ I do agree with that.

I can also see how it's valid for directories to be created during startup before serving actually begins.

I'd still be ok with removing the check here (at least for now) -- it's a simple change and if we have a better way of doing this in the future we can always add it back.

[2016-09-01 16:17] ulrichSchreiner commented on #990
hi,
it would be great to have other placeholders too. not only `{host}` but also `{port}`, `{scheme}` and some more.

[2016-09-01 16:20] mholt commented on #990
@ulrichSchreiner Good news is that if one request placeholder is supported, all of them are.

[2016-09-01 17:42] adamwathan commented on #1086
If I change the file I'm requesting to be `/redirect/style.css`, then it does load semi-properly but only if I have manually added the mime directive.

It's still giving an error though, because it's being server with _two_ `Content-Type` headers:

![image](https://cloud.githubusercontent.com/assets/4323180/18177829/d75a16fc-7049-11e6-9015-78316ea21332.png)

![image](https://cloud.githubuserconten

[2016-09-01 17:45] adamwathan commented on #1086
I've updated the repo that shows how to reproduce so that you'll see the double header bug when running it:

https://github.com/adamwathan/caddy-mime-bug

[2016-09-01 21:48] betrisey opened #1088 "QUIC isn't working on Chrome 53 (Caddy from build server)"
### 1. What version of Caddy are you running (`caddy -version`)?
Caddy 0.9.1 (+e8e5595 Mon Aug 29 16:15:56 UTC 2016)
Last build from https://caddy.com/download

### 2. What are you trying to do?
Use QUIC with Chrome 53

### 3. How did you run Caddy (give the full command and describe the execution environment)?
./caddy -quic -agree=true -email=email@example.com

### 4. What did you expect to see?

[2016-09-02 01:56] elcore commented on #1088
Hello @betrisey,

thank you for your report!!!

ping @mholt

[2016-09-02 04:09] mholt commented on #1088
Thanks, this will be updated at the next release.

[2016-09-02 04:09] #1088 closed

[2016-09-02 10:17] w4 opened #1089 "Rewrite to a file not in root directory not being routed through fastcgi"
I'm using this:

[code]

To allow for faster development locally, without messing with any config files, however whenever I route to a page I'm getting the raw PHP file back. To counter this I have to set the root directory and then route to `/index.php?{query}` rather than `{host}/htdocs/index.php?{query}`.

[code]

[2016-09-02 10:17] w4 commented on #1089
What's interesting to note is that is also happens when not using htdocs.

[code]

Doesn't work, whereas this does work:

[code]

[2016-09-02 15:15] kmanley commented on #1080
Error was not triggered yesterday but it has happened twice this morning. In both cases backendErr is "net/http: request canceled"
Is that helpful info?

[2016-09-02 16:50] mholt commented on #1080
Yes, that's good to know. Thanks! Hmm, so why is the request being canceled...

[2016-09-02 17:15] kmanley commented on #1080
I guess the next step will be for me to add debug printing to ReverseProxy.ServeHTTP

[2016-09-03 20:41] vanhalt commented on #1044
Hey there,

I am also trying this and this is the behavior that I see:

[code]

[code]

[code]

This are the files:

[code]

... and when I perform a requests, only the `caddy-access.log` gets written.  What I want is to have some verbose logs with user-agent and stuff like that. Can someone help me out here?

Thanks in advance and sorry for hijacking this issue!

[2016-09-04 14:43] mholt commented on #1044
@vanhalt Strange, can't see that here. If you remove log rotation does it fix it? (just shooting blindly here)

[2016-09-04 14:58] itskenny0 commented on #1044
I have the same issue without log rotation.

@vanhalt, did you omit any lines from your Caddyfile or is that the entire file? I was wondering if we maybe share some directive that causes it.

[2016-09-04 15:03] mholt commented on #1044
So does it work properly without rotation?

[2016-09-04 15:42] vanhalt commented on #1044
Hey there,

No, those are all the lines that I have in the files. What I want to approach is to have something like "Apache combined logs" and I don't know how to do that with Caddy. So, if you had that even with log rotation... I don't know what to do then.

So, any advice is welcome :)

[2016-09-05 01:45] kmanley commented on #1080
Haven't had a chance to deploy a new version with more debug printing, but have seen more of the same errors. Some are the same as above: "net/http: request canceled" But now I'm also seeing "net/http: request canceled while waiting for connection"  The machine is idle when this happens and the backend is up and working fine.

[2016-09-05 13:11] tw4452852 commented on #1044
Hi @vanhalt , I think your code base(e8e5595) is old and this feature should work after this commit(536daf3).

[2016-09-05 14:41] tomasdeml commented on #1069
@mholt May I ask when is a backend considered down in this context? The documentation of proxy directive is not clear - is it only if a connection error occurs or also when the backend returns an HTTP status outside of the 200-399 range? If it is the latter case, the `max_fails = 0` being marked as invalid would be a problem for some use cases...

[2016-09-05 14:43] mholt commented on #1069
@tomasdeml

Either of those -- an error response or an actual network error. So yes, I agree, `max_fails 0` is problematic. :wink:

[2016-09-05 14:45] tomasdeml commented on #1045
@mholt Yep, I'm at your disposal now. I will also try to reproduce the issue with `max_fails 1`.

[2016-09-05 14:51] xarg commented on #1069
I got the same issue (memory leak when using `max_fails 0`.

I have a service that responds with some 403 or 404 and without `max_fails 0` it marks the backend as bad. I really don't get where this 20-399 comes from? Internal errors are >499 afaik.

[2016-09-05 15:00] nemothekid commented on #1069
A backend is only marked down when a connection error occurs. Any other response is treated as successful.

[2016-09-05 15:21] xarg commented on #1069
@nemothekid this code here seems to mark upstream as unhealthy when it's outside `200-399`: https://github.com/mholt/caddy/blob/master/caddyhttp/proxy/upstream.go#L346

[2016-09-05 15:23] nemothekid commented on #1069
That's only if you are using the `health_check` directive

[2016-09-05 15:29] xarg commented on #1069
@nemothekid got it, thanks. What does `connection error` mean however? I only get backend unreachable. I have no idea how to debug this. I can connect just fine to the backend using telnet.

[2016-09-05 16:06] mholt commented on #1069
I feel like people's backend services are more flaky than one thinks... just because you can connect once with telnet doesn't mean that amid the thousands of requests before that, one request didn't fail.

I do agree we need better error reporting in this case.

@nemothekid After re-reading your "thinking out loud" post above, what if we make a few changes:

- An upstream is marked as down only if

[2016-09-05 16:32] Bregor commented on #726
But what can I do in case my backend is changed when old URLs are still flowing on the internet?
In my particular case, I ran single language blog with URLs like: `/posts/<title>/`, but now blog became multilanguage, and URLs changed to `/en/<title>/`, `/ru/<title>/` and so on.
Default language is Russian, so, for now, rewrite looks like:

    rewrite /posts {
      r (.*)
      to /ru{1}
    }

T

[2016-09-05 16:33] mikepulaski opened #1090 "Caddyfiles read from STDIN have empty server types"
### 1. What version of Caddy are you running (`caddy -version`)?

0.9.1

### 2. What are you trying to do?

Use a config file from STDIN.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

`cat Caddyfile | caddy -conf stdin -log stdout`

### 5. What did you expect to see?

Caddy running

### 6. What did you s

[2016-09-05 17:06] mholt commented on #726
@Bregor Thanks for your question -- we'll talk about it in the forum where you reposted it: https://forum.caddyserver.com/t/rewrite-with-redirect-or-redirect-with-regex/600

[2016-09-05 17:16] Bregor commented on #726
@mholt thank you.

[2016-09-05 17:18] jackzampolin commented on #1080
I'm also running into this. Running caddy in a [docker container](https://github.com/abiosoft/caddy-docker) acting as a front end for a go server. Caddyfile:
[code]
It is not intermittent for me. If you need some debugging output I can help out. Here are the logs.

[code]

[2016-09-05 19:14] #1090 closed

[2016-09-05 19:14] mholt commented on #1090
Thanks! Really appreciate your contribution. :smile:

[2016-09-06 07:14] circlingthesun commented on #1065
@mholt: Your suggestion does not appear to work on caddy 0.9.1.

[code]

It results in a 404 when accessing the site root.

[2016-09-06 13:51] mikepulaski opened #1092 "Rewrite “status” rule unimplemented"
### 1. What version of Caddy are you running (`caddy -version`)?

0.9.1

### 2. What are you trying to do?

Use the `status` rewrite rule in the `rewrite` directive.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

`caddy`

### 5. What did you expect to see?

Caddy running.

### 6. What did you see instead

[2016-09-06 13:52] mikepulaski commented on #1092
I’ll fork and submit a pull request momentarily.

[2016-09-06 14:23] abiosoft commented on #1092
This has been removed here https://github.com/mholt/caddy/pull/1042 to provide a permanent fix for this issue https://github.com/mholt/caddy/issues/1012.

It still works if you're on version <=0.9.1 but starting from 0.9.2 (or if you build from source), you will need to use **status** directive instead.

[2016-09-06 14:23] #1092 closed

[2016-09-06 14:30] tomasdeml commented on #1045
With `max_fails 1` I start getting `502 backend unreachable` from Caddy after a few seconds, but no panic error. I also tried `max_fails 0` with `fail_timeout 1s` and the panic does not occur.

[2016-09-06 18:23] mochja commented on #1080
This is happening for me as well, when I click on link on the page and right away click another link. Chrome cancels the first request and continue with a second one. Nginx sends a 499 response, then caddy marks proxy upstream as down and I have to wait 10 seconds to get proper response again. I tried to set `max_fails` to `0` but requests then took about 3 seconds to respond. I went with `fail_ti

[2016-09-06 18:27] kare opened #1093 "Caddy on Plan 9"
- [0001-Cross-compile-Caddy-for-Plan-9.patch.txt](https://github.com/mholt/caddy/files/457432/0001-Cross-compile-Caddy-for-Plan-9.patch.txt)
- [0002-Remove-non-Plan-9-signals.patch.txt](https://github.com/mholt/caddy/files/457431/0002-Remove-non-Plan-9-signals.patch.txt)
### 1. What version of Caddy are you running (`caddy -version`)?

Current git head.
### 2. What are you trying to do?

I'm tryin

[2016-09-06 18:33] kmanley commented on #1080
@mochja that's a different issue; if your backend returns an error then caddy marks it unreachable, that's working as designed. @jackzampolin if it's not intermittent for you then your backend is likely also returning an error status.

The issue described in here is random (or at least seems to be random) and the backend is *not* returning an error status.

[2016-09-06 23:25] mholt commented on #860
Hey @mgilbir - thanks for taking a look! Abstracting ACME away is an interesting idea, and I think we can do that if we move the ACME logic into a type that satisfies an interface that can Obtain and Renew. Maybe. I'm not sure what the signatures would look like yet, but that's something we can work on.

DNSProvider and StorageProvider are different than this new interface, which I might call some

[2016-09-06 23:28] mholt commented on #1093
You probably can just add `!plan9` to the build tag to exclude it from the build, and add a `*_plan9.go` file -- I think. Or, instead of making a bunch of files, we could just use build tags instead.

Take a look at the docs on build here: https://golang.org/pkg/go/build/

As I don't have time (or convenient access to Plan9 right now), feel free to submit a pull request with modified build tags!

[2016-09-07 05:53] kaihendry commented on #1024
I have a docker container [count](https://github.com/kaihendry/count) running like so behind Caddy:

    count.dabase.com {
            proxy / count:9000 {
                transparent
            }
    }

When I **hold down ctrl+r** upon https://count.dabase.com/ I get a **502 Bad Gateway** as if it was being throttled. If I pause for a few seconds, service resumes.

I'm confident it's a problem

[2016-09-07 07:24] piotrkowalczuk commented on #1024
#### 1. What version of Caddy are you running (`caddy -version`)?

0.9.1

#### 3. What is your entire Caddyfile?

__Cadyfile__
[code]

__Cadyfile.stage__
[code]

__Caddyfile.grafana__
[code]

__Caddyfile.prometheus__
[code]

__Caddyfile.common__
[code]

#### 4. How did you run Caddy (give the full command and describe the execution environment)?

`caddy -agree`

---------------

After update nothi

[2016-09-07 09:17] Echsecutor opened #1094 "Feature request:fastcgi timeout options"
In nginx, there are various fastcgi  timeout options, e.g.:
http://nginx.org/en/docs/http/ngx_http_fastcgi_module.html#fastcgi_connect_timeout
http://nginx.org/en/docs/http/ngx_http_fastcgi_module.html#fastcgi_read_timeout

It would be nice to also have these options (or at least know the current values) in caddy.

[2016-09-07 11:31] mochja commented on #1080
@kmanley Okay so that part with ngnix is different, but it has to do something with request canceling. @mholt user can easily cancel a request in chrome.

[2016-09-07 14:24] rafal-radziszewski commented on #1080
Having similar issue using Caddy(9.1, debian) as reverse proxy for elixir/erlang app.

1. If I explicitly declare http version, it works fine.
2. If I use standard https rerouting, it crashes because of lack of Connection header (though it reaches the server in my case)
3. If I manually add `proxy_header Connection upgrade` it works fine, but https seems to be off(address contains it, but no lock

[2016-09-07 16:41] mholt commented on #1024
Hi, could you please open new issues and be sure to fill out all parts of the issue template? Thanks, that way we won't lose track of it in an older, closed, and duplicated issue.

[2016-09-07 17:23] gordonmurray opened #1095 "Question: would caddy/letsencrypt fail to work with certain domain name extensions?"
I'm using the latest version of Caddy and its working well for several domain names.

I'm unable to get a cert for a .studio domain name. Would the domain name be an issue?

Thank you.

[2016-09-07 22:02] mholt commented on #1095
What's the error message? :confused:

[2016-09-07 22:22] mochja commented on #1080
Current workaround is to disable http2 `-http2=false`

[2016-09-08 07:30] itskenny0 opened #1096 "Feature request: Log rotation based on date"
Simply put: I'd like to rotate my log files once every day, e.g. access.log-20160908, access.log-20160909 ...
This does not seem to be possible as of now.

I could configure this using the normal logrotate cron of my system. Does Caddy handle the file being moved away correctly?

//EDIT: I tested this. The file being moved away isn't a problem to Caddy, but it keeps writing to the file even after

[2016-09-08 14:02] mholt commented on #1096
Hey Kenny, thanks for your question. Ultimately, our roller library would need to support this. However, after reading this, I also agree with them that I don't think this is a very good idea: https://github.com/natefinch/lumberjack/issues/17

[2016-09-08 14:02] #1096 closed

[2016-09-09 02:03] kmanley commented on #1080
Just to follow up, I still see this once a day or so. I instrumented ServerHTTP and the error happens in Roundtrip. I'm not convinced all the comments on this thread are the same issue as what I'm seeing. What I see are completely random cancelations when the backend is under no load.

[2016-09-09 02:04] skorokithakis commented on #1080
I see the same, and the backend never even gets contacted.

[2016-09-09 05:05] kaihendry commented on #1024
Without jumping hoops here, why not just re-open this issue? Your solution I think wasn't the answer for this issue.

[2016-09-09 05:09] mholt commented on #1024
Because it's a duplicate and a new version of Caddy has been released since it was opened?

[2016-09-09 06:35] vibbow opened #1100 "redir with wildcard binding cause 404 error?"
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)

### 1. What version of Caddy are you running (`caddy -version`)?
0.9.1

### 2. What

[2016-09-09 10:05] martijnve commented on #1080
We have also encountered this problem this morning. In our case it seems caddy decides the backend is down when it returns lots of 404s.

We then set the proxy max_fails property to 0 because we considered this false positives. We then started seeing errors like this:

(I have so far been unable to find a simple testcase that produces this problem)

After a while it ended up eating 100% cpu and sp

[2016-09-09 10:07] martijnve commented on #1080
Aside from any bugs there may be, I think it should be possible to disable the health checking. When there is only one backend it should probably be disabled by default.

[2016-09-09 10:15] tomasdeml commented on #1080
@martijnve Your issue may be a duplicate of #1045.

[2016-09-09 10:22] martijnve commented on #1080
That seems to be true sorry. Shall I remove the logs or do they add some new info?

[2016-09-09 13:22] notedit opened #1101 "https does not work"
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)

### 1. What version of Caddy are you running (`caddy -version`)?

0.9.1

### 2. What

[2016-09-09 13:23] notedit commented on #1101
am i doing some wrong?

[2016-09-09 13:53] #1101 closed

[2016-09-09 15:10] mholt commented on #1101
You closed the issue, does that mean you figured it out?

[2016-09-09 15:17] mholt commented on #1100
Do you have an index file at the root of your site (which is cwd)?

[2016-09-09 16:14] vibbow commented on #1100
No I dont have a index file.

And I found the workaround for this issue:
redir **/** https://{hostonly}{uri} 301
Just add a slash and problem solved.

┑(￣Д ￣)┍

[2016-09-09 16:18] mholt commented on #1100
Oh! Yes, if you specify a redirect code, you need all 3 arguments. (You can discard the `/` and `301` to get the same result.)

And if you add an index file, the 404 will go away.

Glad you figured it out!

[2016-09-09 16:18] #1100 closed

[2016-09-09 18:07] jleclanche commented on #754
We just got bit by that during some load testing, FWIW. We have load balancing set up outside of caddy (using amazon ELB), and a single request failure would cause *really weird* behaviour where requests to the hostname in question would be 502'd immediately, but requests using a different host header would be fine.

A `max_fails` default of 1 is *way* too conservative IMHO. If setting it to 0 by

[2016-09-09 18:58] killarny commented on #911
4xx responses shouldn't be marked as a bad gateway - there are plenty of legitimate responses in that range (400, 401, 404, 408, to point out just a few) which have nothing at all to do with the gateway being bad.

IMO, caddy should expand the range of acceptable response codes to 200-499

[2016-09-09 21:05] Echsecutor commented on #1082
Here are some benchmarks.
This is
github.com/echsecutor/fastcgi-test
github.com/echsecutor/caddy/caddy (master, commit 60580400d3d28076bfe05deb35a188db6d3c3863)

var UsePersistentFcgiConnections = true
[win7-persistene-caddy.log.txt](https://github.com/mholt/caddy/files/464818/win7-persistene-caddy.log.txt)

var UsePersistentFcgiConnections = false
[win7-non-persistene-caddy.log.txt](https://githu

[2016-09-09 21:08] Echsecutor commented on #1082
This is independent of whether or not I open the Windows firewall ports. (Not that this should matter for local host, but with windows, I rather checked ;)

[2016-09-09 21:20] Echsecutor commented on #1082
On Linux, there is no difference between the two versions with/without persistent connections.
[linux-non-persistant-caddy.log.txt](https://github.com/mholt/caddy/files/464852/linux-non-persistant-caddy.log.txt)
[linux-persistant-caddy.log.txt](https://github.com/mholt/caddy/files/464853/linux-persistant-caddy.log.txt)

[2016-09-10 12:49] mholt commented on #1082
Cool, thanks for all your work on this!

[2016-09-10 12:56] mholt commented on #1080
@kmanley Does this still happen if you disable HTTP/2? (`-http2=false`)

[2016-09-10 14:17] mholt commented on #911
We could discuss that, but let's open a separate issue if you want to do that.

[2016-09-10 15:01] kmanley commented on #1080
@mholt at your suggestion I disabled http/2 in my prod environment, will monitor for several days and report back. Thanks for the idea.

[2016-09-10 22:39] jovandeginste opened #1103 "Add servers as backup to proxy targets (hot stand-by)"
(As mentioned in #115, I will open a new issue for this)
### 1. What version of Caddy are you running (`caddy -version`)?

Caddy 0.9.1 (+e8e5595 Mon Sep 05 04:12:57 UTC 2016)
### 2. What are you trying to do?

Set-up case-specific proxy configuration between multiple hosts. I have two vms, backend1 is slow and backend2 is fast. Requests come in on backend1 (slow), which proxies all relevant comput

[2016-09-11 03:11] integrii opened #1104 "status=226/NAMESPACE on Centos7"
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)

### 1. What version of Caddy are you running (`caddy -version`)?
Caddy 0.9.1 (+e8e55

[2016-09-11 03:45] mholt commented on #1104
This appears to be an issue with the system configuration rather than Caddy itself, so I'm going to close the issue, but maybe [refer to this forum thread](https://forum.caddyserver.com/t/starting-with-systemd-failed-at-step-namespace-spawning-usr-local-bin-caddy-no-such-file-or-directory/423?u=matt) which might help. :)

[2016-09-11 03:45] #1104 closed

[2016-09-11 03:54] integrii commented on #1104
This config file that is broken was shipped from the caddy download page. I
feel like this is a breakage in the software provided and should be fixed.
The forum thread didn't have a solution.

On Sat, Sep 10, 2016, 8:45 PM Matt Holt <notifications@github.com> wrote:

[2016-09-11 04:03] mholt commented on #1104
Sorry, [we don't support the init scripts](https://github.com/mholt/caddy/blob/master/dist/init/README.md#disclaimer), they are community-contributed and maintained and are not something official that we can afford to support. But you are welcome to ask about how to configure your system in the Caddy forums, there are many other sysadmins there willing to help! :+1:

[2016-09-11 04:17] mholt commented on #1095
Closing unless there's any more information we can go off of and identify an issue. Thanks!

[2016-09-11 04:17] #1095 closed

[2016-09-11 13:10] tomByrer commented on #10
Any progress on this?

[2016-09-11 13:17] sexybiggetje opened #1105 "Caddy exits on Lets Encrypt certicate failure"
### 1. What version of Caddy are you running (`caddy -version`)?
Caddy 0.9.1 (+e8e5595 Fri Aug 26 13:30:46 UTC 2016)

### 2. What are you trying to do?
Using a multi domain set up, with a configuration that contains a domainname that isn't yet pointed to the server.

### 3. What is your entire Caddyfile?
Not relevant.

### 4. How did you run Caddy (give the full command and describe the execution

[2016-09-11 13:26] tomByrer opened #1106 "misleading Markdown support"
Right on the homepage:

Caddy supports HTTP/2, IPv6, **Markdown**

But [v0.9 release notes](https://caddyserver.com/blog/caddy-0_9-released):

When I hear Markdown is supported, I automatically think of a MD static site generator.  I think there needs to be clarification, like every time MD is mentioned, say 'dynamically served MarkDown' instead.  Or just drop as a 'feature', & mention you have MD

[2016-09-11 17:36] mholt commented on #1106
Thanks for your comments.

Static site generation and Markdown are two entirely different concepts. I don't think many people conflate Markdown with "static site generation" -- markdown is used in many contexts, including GitHub comments. I don't think it's reasonable to say that the phrase "Markdown support" is misleading.

[2016-09-11 17:36] #1106 closed

[2016-09-11 17:38] mholt commented on #1105
Thanks for your report, although this is intentional behavior. The fix is to not ask Caddy to serve a site that is not ready to be served. See #1038.

[2016-09-11 17:38] #1105 closed

[2016-09-12 13:16] gordonmurray commented on #1095
Hi @mholt My question was mainly to ask if a non-typical domain extension such as a *.studio would have a problem in getting a cert.

In the mean time, I've been able to get it working, so it doesn't seem to be an issue.

[2016-09-12 13:49] mholt commented on #1095
Should be fine as long as your ACME CA can verify it. (Let's Encrypt doesn't forbid .studio domains AFAIK.)

[2016-09-12 17:42] kushtrimjunuzi commented on #1080
I tried v0.9.1 with -http2=false and I'm getting less 502 errors but still the problem is there. I tried with v0.9.0 and everything is fine there. This is very important issue because websocket are not working correctly on v0.9.0.

[2016-09-13 00:15] kmanley commented on #1080
@mholt I am running in production with -http2=false; I did get one spurious 502 today but the underlying error was different. It came from ServeHTTP and the error was EOF.

[2016-09-13 16:05] hlidotbe opened #1107 "Execute redirections before rewrites"
### 1. What version of Caddy are you running (`caddy -version`)?

Caddy 0.9.1 (+e8e5595 Thu Sep 01 09:31:58 UTC 2016)
### 2. What are you trying to do?

Redirect old uri to their new location AND rewrite missing paths to default handler
### 3. What is your entire Caddyfile?

[code]
### 4. How did you run Caddy (give the full command and describe the execution environment)?

Caddy is running in a d

[2016-09-13 19:40] hlidotbe commented on #1107
Looking a bit further, I see why it happens. in `caddyhttp/httpserver/plugin.go` "redir" is after "header", way after "rewrite".

Is it preferable that I make a PR and discuss it there?

[2016-09-14 06:37] jazoom commented on #911
Agreed. It doesn't seem right a proxy should be making these decisions.

[2016-09-14 10:39] Echsecutor opened #1108 "Feature Request: Running caddy as a Windows Service"
It would be very useful for a Webserver running on Windows to register it as a service. This would give Caddy an edge over nginx. ;)
http://nginx.org/en/docs/windows.html

Using
https://godoc.org/golang.org/x/sys/windows/svc
this should be doable.

[2016-09-14 14:05] mholt commented on #1108
Thanks for the request! This has been requested before in #293. You're welcome to add to the discussion there. :+1:

[2016-09-14 14:05] #1108 closed

[2016-09-14 19:09] lsferreira42 commented on #10
Yes, i've been using caddy for some time now and this is a real necessity.
I want to help on that, there is already a PR from Thomas but someone made some progress on that?

[2016-09-14 19:27] infogulch commented on #293
What would a plugin look like here? It would call `RegisterPlugin()` of course, but how would it get access to the `*Instance` to call [`ShutdownCallbacks()`](https://godoc.org/github.com/mholt/caddy#Instance.ShutdownCallbacks) and [`Stop()`](https://godoc.org/github.com/mholt/caddy#Instance.ShutdownCallbacks)?

I don't see where plugins have access to initiate a shutdown (as opposed to just react

[2016-09-14 19:54] Echsecutor commented on #1108
Oh, sorry. I did only search for open issues ;)

[2016-09-14 20:14] Echsecutor commented on #293
Registering/unregistering the service should only be triggered once, hence through a command line argument rather than a Caddyfile directive. Can plugins acces the args and prevent the server from starting if caddy is only used as a cli to register/unregister the service?

[2016-09-14 20:37] infogulch commented on #293
@Echsecutor this issue is limited in scope to enabling a compiled caddy.exe to be *used* as a service, and *explicitly not* about the process of registering it as a service. To do that you would use an external program, for example, [`sc create`](https://technet.microsoft.com/en-us/library/cc990289(v=ws.11).aspx) among others.

[2016-09-14 20:50] mholt commented on #293
Plugins can register their own command line flags, yes.

[2016-09-15 01:30] mholt commented on #10
Based on the discussion since that time, I'd recommend starting a new plugin from scratch that meets a very specific caching need, complete with carefully controlled benchmarks.

[2016-09-15 12:18] pepa65 commented on #1104
I also can't get caddy to start under systemd, same error: status=226/NAMESPACE

[2016-09-15 12:57] #1071 closed

[2016-09-15 20:33] runningman84 opened #1109 "Generate json log"
It would be gread if caddy could generate a full json like this example from kibana:

[code]

That would really simplify our logstash rules...

[2016-09-15 21:52] mholt commented on #1109
You can specify a log format where each line is JSON, does that help?

[2016-09-15 22:02] mholt commented on #860
@mgilbir You know, for now, you could just swap out [calls to `newACMEClient`](https://github.com/mholt/caddy/blob/bedad34b25cfcc67620fa5b854fed020547efbdf/caddytls/config.go#L149) (<-- like that one) with something that has the same signature, and voila, you can do what you need, I think.

When you do that, let me know how it goes, and we can look at generalizing it if it's useful.

[2016-09-15 23:22] mholt commented on #990
For those following along at home, we've decided that the proxy middleware would probably best be redesigned to support dynamic upstreams rather than hacking it into the staticUpstream type.

[2016-09-16 10:24] itskenny0 commented on #1080
Just chiming in in case this helps. I had the same issue and putting "max_fails 0" in the proxy directive fixed it for me.

[2016-09-16 19:56] vanhalt commented on #1044
Sorry for the delay. But how do I get that version? I've tried the `getcaddy` script and it installed the same version. Downloaded the latest github release and it doesn't show the commit:

[code]

Sorry for such a newbie question. Thanks in advance!

[2016-09-16 20:38] mholt commented on #1044
@vanhalt You'll have to build from source until the next release, which should be soon.

[2016-09-16 20:50] runningman84 opened #1110 "force https"
### 1. What version of Caddy are you running (`caddy -version`)?

0.9.1

### 2. What are you trying to do?

I would like to force ssl usage. But the documentation is not clear how to do this.

[code]
it is only serving at port 2015 using https only

[code]
Eror message: cannot both use PreferServerCipherSuites and not use it

### 3. What is your entire Caddyfile?

[code]

### 4. How did you run Ca

[2016-09-16 20:52] runningman84 commented on #1109
@mholt can you give me an example? The idea is to have all fields which are present included in a json...

[2016-09-16 20:54] mholt commented on #1109
You can use the `{request}` placeholder, which compacts the headers to a single line.

[2016-09-16 20:59] mholt commented on #1110
Thanks for the report -- this was fixed and is already available if you build from source. (See #1075)

[2016-09-16 20:59] #1110 closed

[2016-09-16 21:02] runningman84 commented on #1109
Ok the {request} placeholder cannot be read in logstash without quite complex and error prone parsing. Having everything in a json object would help here. I think this project might work well:
https://github.com/harshavardhana/caddylogger/blob/master/caddylogger.go
Maybe such feature should be part of the core...

[2016-09-16 21:07] itskenny0 commented on #1044
@vanhalt Clone the repo and run the build.bash file in the Caddy subfolder (with Go installed of course).

[2016-09-16 21:17] joshglendenning commented on #877
I dunno about Sublime, but for Vim users out there, I just recently made a [syntax plugin](https://github.com/joshglendenning/vim-caddyfile) for Vim.

[2016-09-16 21:25] joshglendenning opened #1111 "Discussion: use of hashicorp go-plugin"
The current plugin system is great, but has the disadvantage of needing to recompile Caddy whenever you want to add or remove a plugin. Has something like [go-plugin](https://github.com/hashicorp/go-plugin) or a similar IPC-style architecture been considered? It would be nice to be able to just drop plugin binaries into some plugins directory.

[2016-09-16 22:14] abiosoft commented on #1111
Worth trying out and looks pretty straight forward.

[2016-09-17 05:00] mholt commented on #877
@joshglendenning Cool. If you can do it without enumerating each possible directive, we'd be interested in having this a part of the official `caddyserver` org on GitHub (like [caddyserver/sublime](https://github.com/caddyserver/sublime))!

[2016-09-17 05:22] mholt commented on #1109
Hmm... if there's a generic way to support this capability (i.e. not tying it to any specific JSON format or provider) then we could probably work it into the log directive somehow.

[2016-09-17 05:24] mholt commented on #1066
If the format was always just ms, would that be suitable? Maybe a `{latency_ms}` placeholder or something. I don't really want to get into time formatting syntaxes...

[2016-09-17 11:43] coderobe opened #1114 "Error: Failed to create new OS thread"
### 1. What version of Caddy are you running (`caddy -version`)?
Caddy 0.9.1 (+e8e5595 Mon Sep 05 15:47:42 UTC 2016)

### 2. What are you trying to do?
Run Caddy

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
`/usr/local/bin/caddy -log stdout -agree=true -conf=/srv/www/Caddyfile`
started via systemd

### 5

[2016-09-17 15:27] mholt commented on #1114
This is weird, I have never seen a panic like this before. Are you sure systemd captured the full and complete output? Usually panics have a message of some sort at the top (a header if you will).

[2016-09-17 16:32] coderobe commented on #1114
Turns out i used `journalctl` wrong, there is more!
This is the error:
[code]

[2016-09-17 16:57] mholt commented on #1114
Thanks - that's what we needed!

It's bizarre though, never seen an error like this. Looks like a syscall failed epically.

[2016-09-17 17:10] mholt commented on #1114
![Welp](https://cloud.githubusercontent.com/assets/1128849/18609751/3de624ea-7cc7-11e6-89db-b523e92ff43d.png)

[2016-09-17 17:14] mholt commented on #1114
Actually try raising your `ulimit -u`. Looks like a system misconfiguration.

[2016-09-17 18:16] coderobe commented on #1114
Weird. `ulimit -u` is supposed to get increased by systemd in https://github.com/mholt/caddy/blob/master/dist/init/linux-systemd/caddy.service#L24
I'm using an almost exact copy of this caddy.service with `LimitNPROC` set to 64 aswell.

[2016-09-17 19:04] joshglendenning commented on #877
Ah, didn't realize there was actually a sublimetext plugin! I might steal some of these regexen ;)

[2016-09-17 19:04] mholt commented on #1114
Okay. Well I am going to close this since it doesn't look like a bug in Caddy, but I hope you are able to figure it out!

[2016-09-17 19:04] #1114 closed

[2016-09-17 19:24] mholt commented on #877
Go for it!

[2016-09-18 19:33] mkoppmann opened #1116 "Feature request: Support for Curve25519"
It would be nice, if Caddy could support [Curve25519](https://en.wikipedia.org/wiki/Curve25519) as an alternative to the NIST P-256 curve for the Diffie–Hellman handshake. Besides being not made by the NSA, it should also be slightly faster and more secure.

Some applications that use Curve25519:
- OpenSSH
- OpenBSD (for package signing)
- Tor
- Signal
- DNSCurve and DNSCrypt

Additional links:
-

[2016-09-18 19:45] mkoppmann opened #1117 "Feature request: Option to change the Diffie–Hellman handshake curve"
As far as I know, it is currently only possible to use the default P-256 curve in Caddy for the DHE handshake. To get 100% key exchange at [ssllabs.com](https://www.ssllabs.com) one has to use at least `secp384r1`.

[cipherli.st](https://cipherli.st/) also recommends `secp384r1` for nginx.

I’m not suggesting to set this as new default but to have the option to change the curve. If curve25519 gets

[2016-09-19 03:27] mholt commented on #1111
You're welcome to play with the idea for sure -- but I don't think this is something that's going to happen in the near-term. At least, not near enough to keep the issue open. But feel free to continue discussing of course.

Also [note initial plugin package committed on Go tip](https://www.reddit.com/r/golang/comments/53adu8/initial_plugin_support_has_been_merged/) recently.

(At this time I have

[2016-09-19 03:27] #1111 closed

[2016-09-19 17:32] onodera-punpun opened #1118 "Please document template actions"
By searching through github code and old caddy issues/PRs I've found there are tons of template actions that have zero documentation.

[2016-09-19 19:40] elcore commented on #1117
Hello @mkoppmann,

https://golang.org/src/crypto/tls/common.go?h=defaultCurvePreferences#L542
`var defaultCurvePreferences = []CurveID{CurveP256, CurveP384, CurveP521}`

Golang prefers P-256 over P-384 😄

I already implemented this feature here: https://github.com/mholt/caddy/tree/CurvePreferences

[2016-09-19 19:53] mkoppmann commented on #1117
Hi @elcore,

thanks for posting that info. It’s probably because p256 has an assembly implementation and therefore is way faster ([source](https://groups.google.com/forum/#!topic/Golang-Nuts/nlnJkBMMyzk)).

Great that you already implemented this feature. Is there any chance to get this merged or can I help somehow with testing?

[2016-09-19 20:06] elcore commented on #1117
Hi @mkoppmann,

Well, I need to rewrite the code (move from 0.8.X to 0.9.X)! I could send you a modified version (for your own use) (I do not have much time now -- school etc.)

[2016-09-19 20:35] mkoppmann commented on #1117
For me personally, setting the curve to P384 is really just to get the higher ranking at ssllabs, so it’s definitely not high priority and I think with the current implementation in Go (and I believe OpenSSL) that P256 is more error resistant than P384.

My curve preferences are: Curve25519 > P256 > P384.

[2016-09-19 20:54] elcore commented on #1117
Hi @mkoppmann,

We should wait until Golang implements Curve25519 into the standard library (TLS-CurveID).

[2016-09-19 21:08] mkoppmann commented on #1117
Hi @elcore,

Yes, that would be the right thing to do.

As I’m trying to get into Github and the whole open development process, what’s the right way to handle this situation, as #1116 and this issue are related? Just keeping them open or is there some “On hold” status?

[2016-09-19 21:22] elcore commented on #1117
Hi @mkoppmann,

As far as I know, there is no "On hold" status. @mholt needs to decide what we should do.

P.S.: Welcome to GitHub 😄

[2016-09-19 22:29] #1026 closed

[2016-09-20 08:49] ulrichSchreiner opened #1119 "Prometheus Plugin on wrong position"
### 1. What version of Caddy are you running (`caddy -version`)?
0.9.1

### 2. What are you trying to do?
collect metrics with prometheus plugin

### 3. What is your entire Caddyfile?
[code]
where `mymachine` is my local machine.

### 4. How did you run Caddy (give the full command and describe the execution environment)?
caddy -conf caddyfile

### 5. What did you expect to see?
metrics for the ht

[2016-09-20 14:18] Flameborn opened #1121 "Unexpected proxy behaviour"
### 1. What version of Caddy are you running (`caddy -version`)?

0.9.1

### 2. What are you trying to do?

Use the proxy directive to publish a Fossil repository.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

caddy

### 5. What did you expect to see?

The properly redirected Fossil site on repo.MyDomain

[2016-09-20 15:24] Nitecon commented on #860
Does caddy make use of dns challenge hooks for TLC cert requests against lets encrypt, it's a new feature but something that will make many things much easier?  Biggest blocker for us is our QA / UAT environments are firewalled off so we either have to use no https / caddy or use native go with standard csr generated certs.  Since all of our environments match 100% we put ssl in lower envs too.

[2016-09-20 15:27] abiosoft commented on #1121
What do you mean here ?

[2016-09-20 15:51] Flameborn commented on #1121
See this log entry:
"Listening for HTTP requests on TCP port 8082"

[2016-09-20 15:56] mholt commented on #860
@Nitecon

I don't know what a "TLC cert request" is -- sorry. :( Can you link me to something that describes that?

This sounds like you want the [DNS challenge](https://caddyserver.com/docs/automatic-https#dns-challenge).

Yes.

I think we're getting off-topic here, though, if you have further questions about Caddy's TLS features feel free to post in our [forum](https://forum.caddyserver.com)!

[2016-09-20 15:56] abiosoft commented on #1121
That does not look like a log from Caddy.

[2016-09-20 16:06] Nitecon commented on #860
@mholt First paragraph I put in was in regards to dns challenge hooks, is there support for it in the current caddy implementation or is it just the standard call for validation against the public server?  Sorry had typos in there.  I don't see anything in docs regarding this although I may have overlooked it.

Thanks!

[2016-09-20 16:13] mholt commented on #860
Did you read the rest of my post? ;)

[2016-09-20 16:15] Nitecon commented on #860
omg i'm so sorry I thought you linked to the LetsEncrypt spec for dns challenge doh.  Thanks for the polite answers though 👍

[2016-09-20 17:04] Flameborn commented on #1121
It seems that this was a mishap in Fossil, which blocked Caddy from binding to any port. The 'fossil server' command is not supposed to return unless it is demonised.

[2016-09-20 17:04] #1121 closed

[2016-09-20 17:07] abiosoft commented on #1121
FYI the process can run in background by suffixing the startup command with `&`.

[2016-09-20 20:29] mholt commented on #1119
Definitely not spot 0 -- but maybe before proxy or other middleware that "handle" the requests and terminate the chain. As a general rule, keep it as late in the chain as possible.

I've moved it because I'm doing a new release, like, today, but if it's still not in the right place, have @miekg move it into a better spot with a pull request. Thanks!

[2016-09-20 20:30] #1119 closed

[2016-09-20 21:00] mholt commented on #1118
Which actions did you find that aren't documented?

[2016-09-21 00:44] mholt commented on #1056
@lbguilherme Done :smile:

[2016-09-21 08:05] fanyer opened #1122 "Caddyfile changed hml imported"
Recently, w3c add some new properties for web components [link](http://w3c.github.io/webcomponents/spec/imports/#link-type-import) . For example. like the HTML tag `link` ,as below: (this is usually used by Google Polymer)
[code]

My problem is that when I add a Caddyfile to host a server locally, the html file imported by `link` tag would be interpreted by caddy, which shouldn't be interpreted. H

[2016-09-21 12:55] deemru commented on #1080
[0.9.2](https://github.com/mholt/caddy/releases/tag/v0.9.2) did not fix this issue, but `-http2=false` still helps

[2016-09-21 16:04] notedit commented on #1101
yes   thanks your project

[2016-09-21 20:37] schlarpc opened #1123 "FastCGI persistent connections not reconnecting"
### 1. What version of Caddy are you running (`caddy -version`)?
 0.9.2. This behavior does not occur in 0.9.1, which as far as I can tell was before persistent FCGI connections were added.

### 2. What are you trying to do?
Use fastcgi to run php-fpm

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
Ubuntu 1

[2016-09-21 21:42] abiosoft commented on #1123
Working on a fix. Also, I want to make it configurable in the Caddyfile so users can disable it.

[2016-09-21 22:04] mholt commented on #1123
Thank you @abiosoft!

[2016-09-21 22:11] mholt commented on #1122
What do you mean by "interpreted"?

[2016-09-22 00:10] Nixtren commented on #1056
Hey guys,

Would this change have any impact on HTTP reverse proxy connections? I upgraded from 0.9.1 to 0.9.2 and pages got messed up. For example, I request page "/blog" and I get served page "/about" instead. Looks like requests are getting mixed. This happened a few seconds later after starting Caddy 0.9.2 on a (very) busy server. I couldn't replicate the same on a test server with the exact s

[2016-09-22 00:16] mholt commented on #1056
@Nixtren Can you open a new issue (refer to this one if you think it's related) with more details, following the issue template? Thanks, this way we won't forget about it.

[2016-09-22 00:17] nemothekid commented on #1056
@Nixtren This fix that was introduced by this PR would not have affected your setup as this PR only affects websockets.

[2016-09-22 07:38] YahiaSweid opened #1124 "Directive isn't being added by calling RegisterPlugin function"
### 1. What version of Caddy are you running (`caddy -version`)?
Caddy 0.9.2

### 2. What are you trying to do?
Extending Caddy by creating a new plugin.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
I run Caddy using Golang.

This is my main.go file:
[code]

My typical plugin code:
[code]

### 5. What di

[2016-09-22 07:47] YahiaSweid commented on #1124
Here are the outputs of **DescribePlugins** and **ValidDirectives** functions, as you will see below, the plugin **httpstatic** is added into the plugins list but it's not added into directives list.

Output of **caddy.DescribePlugins()**:
[code]
Output of **caddy.ValidDirectives("http")**:
[code]

[2016-09-22 12:32] evvvvr commented on #1124
You have to add your directive to directives list in [mholt/caddy/caddyhttp/httpserver/plugin.go] (https://github.com/mholt/caddy/blob/bbf954c/caddyhttp/httpserver/plugin.go#L391) See [wiki](https://github.com/mholt/caddy/wiki/Writing-a-Plugin:-Directives) for info.

[2016-09-22 12:39] YahiaSweid commented on #1124
@evvvvr This should be supported automatically by RegisterPlugin, shouldn't be ?
The caddy package will not be a part of the project that I'm working on, the user should be able to launch the project just by cloning caddy, otherwise I need to pack Caddy with the software.
When moving the software to production, I still need to go to the package folder and change the directives list. doesn't seem m

[2016-09-22 13:25] abiosoft commented on #1124
You also need to add `httpserver.RegisterDevDirective("httpstatic")` as well or edit the plugins.go file and add to the list of directives.

[2016-09-22 13:48] evvvvr commented on #1124
As far as I understand, what you're trying to achieve is to have directive (plugin) added to Caddy w/o modifying Caddy code. Unfortunately Caddy is not designed and doesn't work this way — it doesn't support dynamic plugin loading and there are no plans to add it.  There were a number of discussions regarding this decision, the latest is  #1111.
What you could do with Caddy IMO is either publish y

[2016-09-22 14:05] InAnimaTe commented on #1080
Just wanted to stop by and mention that we appear to be getting these occasional 502's for a few internal services we run (but not all of them) including a python index (pypicloud) and Sentry.

Just upgraded to 0.9.2 so not sure if still happening, but above comment seems to answer that ;(

[2016-09-22 14:13] InAnimaTe commented on #688
I know this is closed but I don't see a new issue on it, so I'll post here.

Wanted to mention that with 0.9.1, we were also trying to proxy Rancher Server with SSL. This seemed to work fine for normal http connections but deployed hosts who tried opening websocket connections back to us would not get through.

Trying 0.9.2 yesterday, this issue seems to have disappeared. Here is the config we are

[2016-09-22 14:19] mholt commented on #1124
@YahiaSweid

That's not quite the case. The [wiki](https://github.com/mholt/caddy/wiki/Writing-a-Plugin:-Directives#3-order-your-directive) has a step that explains you need to put your directive in the list in the proper order.

No. This results in non-deterministic builds. See [this forum post](https://forum.caddyserver.com/t/my-wish-for-0-9-go-gettable-custom-builds/59/8?u=matt) and the [godoc

[2016-09-22 14:19] #1124 closed

[2016-09-22 21:23] Echsecutor commented on #1123
I have made persistent fastCGI configurable (this was still on my todo list, didnt see that you are on it, @abisoft, sorry)
https://github.com/mholt/caddy/pull/1126

However, this only means that you can toggle between the former state of afairs (no persistent connections, reliable but slow on Windows) and the current one (fast but unstable), non of which is really satisfactory. A proper fix might

[2016-09-22 23:39] flip111 commented on #761
I just downloaded caddy and set a `path` in Caddyfile, php doesn't work out of the box this way. So Caddy can not adjust SCRIPT_FILENAME from `path` and i have to set this setting myself?

[code]

[code]

[2016-09-22 23:46] schlypel commented on #761
You appear to be using caddyserver and php on the same host. This ticket was about using caddyserver in one docker container and php in another, so environment and stuff couldnt be passed on.
If you stick to https://caddyserver.com/docs/fastcgi php should work fine.
Maybe you could try to configure php to listen on 127.0.0.1:9000 instead of the socket file, that way i never had any problems.
By th

[2016-09-23 09:58] commarla opened #1128 "fcgi: invalid header version"
### 1. What version of Caddy are you running (`caddy -version`)?
0.9.2

### 2. What are you trying to do?
Use Caddy with php-fpm started with startup command.
I am using a lumen framework.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
Caddy is dockerized.
And I send a GET request with curl. It is working

[2016-09-23 11:14] tobias-kuendig commented on #1128
I'm having the same problem with version 0.9.2. Every second request gives a `23/Sep/2016:13:04:12 +0200 [ERROR 502 /] fcgi: invalid header version`

The problem can be reproduced with a new laravel installation if you have php7.0-fpm and composer installed.

[code]

Use the following Caddyfile

[code]

Then start caddy

[code]

Then

[code]

[2016-09-23 11:30] abiosoft commented on #1128
The cause is probably related to this https://github.com/mholt/caddy/issues/1123

[2016-09-23 11:43] commarla commented on #1128
I don't see any tcp connection related logs.

[2016-09-23 12:41] abiosoft commented on #1128
FastCGI is currently reusing connections (since 0.9.2); so this can be due to writing the headers on an existing connection.

[2016-09-23 13:00] commarla commented on #1128
Thanks for the explanation @abiosoft

[2016-09-23 14:35] #1122 closed

[2016-09-23 16:23] elcore commented on #1107
Hello @hlidotbe,

feel free to create a PR 😄 (my opinion)

@mholt what do you think?

[2016-09-23 18:37] hlidotbe commented on #1107
I was going to do that after the expires plugin 😀

[2016-09-23 19:14] elcore commented on #1107
@hlidotbe 👍 😄

[2016-09-24 03:51] timothyallan commented on #1128
Just started using Caddy and found it very odd that it would drop every second request! Is there a workaround, or just roll back to .9.1 for now?

[2016-09-24 04:39] eldondev opened #1130 "Possible to log redirects?"
### 1. What version of Caddy are you running (`caddy -version`)?
Caddy 0.9.2

### 2. What are you trying to do?
Log verbosely. I would like redirects (301, 302, etc) generated in the log.

### 3. What is your entire Caddyfile?
www.example.com {
proxy / 1.1.1.1:8080
tls {
 max_certs 10
}
log / stdout "{remote} - [{when}] \"{method} {uri} {proto}\" {status} {size} {host}"
errors
}

### 4. How did yo

[2016-09-24 05:29] #1123 closed

[2016-09-24 05:31] mholt commented on #1128
@timothyallan The fix for this was just merged in #1129 -- so if you can (or want to) build Caddy from source, you can begin using it immediately. But I plan to roll out a patch release within the week.

[2016-09-24 05:31] #1128 closed

[2016-09-24 05:33] mholt commented on #1123
The fix for this was merged, thank you for the reports! And of course thanks to Abiola and Sebastian for working on fixes. :+1:

[2016-09-24 07:14] upsuper opened #1131 "Cannot disable Etag and Last-Modified headers"
### 1. What version of Caddy are you running (`caddy -version`)?
0.9.2

### 2. What are you trying to do?
Disable `Etag` and `Last-Modified` headers.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
`caddy`

### 5. What did you expect to see?
The `Etag` and `Last-Modified` headers are not sent for `/somefile

[2016-09-24 07:21] jet10000 opened #1132 "caddyserver for iOS?"
I want have a app for storage my files in iphone.

[2016-09-24 07:28] upsuper commented on #1131
The reason I want to disable `Etag` and `Last-Modified` is that, the file is small enough (e.g. 40 bytes) so that it isn't even worth attaching those headers. (Those two headers can take 38 bytes in HTTP/2.)

[2016-09-24 07:39] abiosoft commented on #1128
@timothyallan you can roll back to 0.9.1 or build from source.

[2016-09-24 08:32] commarla commented on #1128
I have built the master and everything works fine. Thanks @abiosoft @Echsecutor and @mholt !

[2016-09-24 13:01] tw4452852 commented on #1131
Thanks for reporting, @upsuper .

This is a bug in header directive. I will try to give a fix soon.

[2016-09-24 13:03] upsuper commented on #1131
FWIW, #843 was raised for Etag header, which was closed as deferred.

[2016-09-24 18:16] mholt commented on #1086
@adamwathan I finally had a chance to check this out, and I pulled your repro repository here and confirmed that it works as expected. (Maybe you didn't build this branch?)

<img width="938" alt="screen shot 2016-09-24 at 12 14 03 pm" src="https://cloud.githubusercontent.com/assets/1128849/18810320/75c3ebd4-8250-11e6-8983-eca9c50b8e99.png">

Thanks for making that repo, by the way! Made it easy to

[2016-09-24 18:31] adamwathan commented on #1086
Ah you're right, I had cloned it down and couldn't get the dependencies installed to build, then pulled it down instead using `go get` and forgot to pull in the branch.

I am still seeing an issue though, it *only* works if you have the `mime` directive specified in the Caddyfile like you mentioned here:

https://github.com/mholt/caddy/issues/1086#issuecomment-243926768

If you pull down the lates

[2016-09-24 18:33] mholt commented on #1086
Hmm, well I can tell you that Go won't detect the mime type for ALL of those on its own... but we can probably have it look for the Content-Type as a special case. @tw4452852 what do you think about that? https://golang.org/pkg/net/http/#DetectContentType maybe?

[2016-09-24 18:36] adamwathan commented on #1086
@mholt Honestly not too worried about catching *all* of them, haha... Whatever I had working in 0.8.3 was fine 😊

I'm sure it would work well enough if it was possible to tell PHP FPM to send no content type header at all, but unfortunately the best I've been able to do is send an empty Content-Type header, which does trigger FPM not to send the default `text/html` value, but I can't figure out ho

[2016-09-24 18:44] mholt commented on #1086
Man, a lot changed between 0.8.3 and 0.9. I'm not sure which change caused this to happen...

Wait, why does php send the wrong content-type header?

[2016-09-24 18:47] adamwathan commented on #1086
It's not that it sends the wrong content type header really, it's that it is trying to say "hey Caddy can you just deal with this?" by using the `X-Accel-Redirect` feature.

I could send the correct mime type by detecting it in PHP but it seems like overkill when everything works fine as long as I send *no* content-type header so Caddy knows to deal with it on it's own.

I did figure out that I ca

[2016-09-24 19:01] adamwathan commented on #1086
Ok so I think I feel confident that in Valet anyways, we can disable that `default_mimetype` setting and everything will be fine using the changes from this PR 👍🏻

The goal of what we were trying to do is send Caddy an HTTP response from the PHP proxy that contained *only* the X-Accel-Redirect header and nothing more, so Caddy would notice and say "Oh PHP wants *me* to take care of this file, no p

[2016-09-24 19:30] mholt commented on #1086
Phew, okay, we'll start by merging that PR and then see about improving it from there. Let me know if it's still not quite right... thanks!

[2016-09-24 20:22] mholt commented on #1069
Okay, I've pushed a change to the `proxyerrs` branch that improves error reporting. Still looking into improving the max_fails 0 situation and the single upstream host scenarios.

[2016-09-24 20:43] wendigo opened #1133 "Quic support is broken"
### 1. What version of Caddy are you running (`caddy -version`)?

0.9.2

### 2. What are you trying to do?

Use QUIC on Chrome 53.

### 3. What is your entire Caddyfile?

Does not matter in this case

### 4. How did you run Caddy (give the full command and describe the execution environment)?

./caddy -quic

### 5. What did you expect to see?

QUIC working :)

### 6. What did you see instead (give

[2016-09-24 20:54] mholt commented on #1133
The current release still uses an older version of QUIC, but next week we'll update it to the newer one. Thanks!

[2016-09-24 20:54] #1133 closed

[2016-09-24 21:07] wendigo commented on #1133
Yeah, you're probably right: https://github.com/lucas-clemente/quic-go/commit/e856c08645698df9187bcb34e27787996050649c :)

And chromium's: https://chromium.googlesource.com/chromium/src/net/+/426ef2caff450b802e58137d79757cb70d2bfcb9

Makes sense to me :)

[2016-09-24 21:45] wendigo commented on #1133
Ok, you were right @mholt. I've built caddy using own buildsrv with updated quic-go and everything works like a charm on newest Chrome :)

[2016-09-24 22:15] Echsecutor commented on #1128
This bug is indeed due to reusing connections. More precisely, due to my quick and dirty serialization  instead of proper fastCGI demuxing, it can happen that an empty header (or body) is received. The former is invalid.

The current master does not use persistent connections any more, hence the bug is gone, but also the feature. ;) I guess 'we are working on it' ;)

[2016-09-24 22:36] mholt commented on #1128
@Echsecutor But persistent connections can be turned on with the `pool` parameter now, right? Does the bug still surface when `pool 1` is used?

[2016-09-24 22:36] mholt commented on #1133
That's great news. Will release next week!

[2016-09-24 22:44] mholt commented on #1069
@stp-ip See PR #1135.

[2016-09-24 22:45] abiosoft commented on #1128
The feature is not gone but rather it is now **opt-in**. So yes, using `pool n` where `n > 0` enables it.

And nope the bug doesn't surface anymore whether or not persistent connection is used.

[2016-09-24 22:52] Echsecutor commented on #1082
In the current master, the issue is back to life. fastCGI connections (also with pool > 0 ) are non persistent and response times on Windows > 1s.

[2016-09-24 23:01] mholt commented on #1027
@nubunto How's this going?

[2016-09-25 02:55] tw4452852 commented on #1131
Hi @mholt .
This issue is due to the expected header(ETag here) hasn't been set when `header` plugin is handling:

[code]

So we must think out a way to revise the headers after they are actually set but before writing to the underline connection. I think out  a potential way: just implement our own `http.ResponseWriter`, especially its `WriteHeader` method and export a api that registers a operat

[2016-09-25 03:37] mholt commented on #1131
@tw4452852 Hmm, can we do it without buffering the response body at all? Right now we can take advantage of Go's use of `sendfile()` for static files when we don't have to buffer it in memory first; it can flush the contents directly to the socket without leaving the kernel...

[2016-09-25 04:34] tw4452852 commented on #1131
@mholt ,I mean the response headers here not body.

[2016-09-25 04:49] mholt commented on #1131
@tw4452852 I know, but the headers have to be written out to the response before the body... so we would have to have a place to store the body while we wait for all the headers to be collected, wouldn't we?

[2016-09-25 08:47] Echsecutor commented on #1128
jepp, I see that this is how it's intended. I am just saying that also for pool n > 0 on the current master no persistent connections are being used. Hence @commarla 's comment (that things are working fine now) is due to the fact that persistent connections are currently not working. Wether they work as intended is still up to testing once a minor problem in the current master is fixed. https://g

[2016-09-25 13:00] ehyland commented on #1092
@abiosoft is is possible to use regex path match conditions with the status directive?

I'm trying to achieve the following now it's not possible to use status in rewrites
[code]

[2016-09-25 13:13] abiosoft commented on #1092
Try something like this
[code]

[2016-09-25 14:28] ehyland commented on #1092
That worked, thanks @abiosoft

[2016-09-25 15:39] mholt commented on #1086
We've merged the fix but since it's not *100%* perfect yet I will mark this as deferred so we can remember to pick this up later. Thanks.

[2016-09-25 15:39] #1086 closed

[2016-09-25 15:39] #1118 closed

[2016-09-25 15:52] mholt commented on #1130
You can set up logging for the plaintext version of the host. (Also, you don't need on-demand TLS when you specify the hostname in the Caddyfile. So I'll take that out.)

[code]

But usually logging these redirects is not very useful.

[2016-09-25 15:52] #1130 closed

[2016-09-25 15:59] mholt commented on #1107
What kind of effects would this change have for those who expect rewrites to happen before redirects?

[2016-09-25 16:22] hlidotbe commented on #1107
Well it wouldn't work since redirects are "final". It's a bit of a conundrum, most other servers out there (at least nginx and Apache) merge the redirect and rewrite functionality in the same rules.

While I like that you can express redirects distinctly from rewrite (and much more efficiently), having it separate makes it impossible to have both working correctly when you have some kind of catch

[2016-09-25 16:30] mholt commented on #1107
@hlidotbe But even with redir + rewrite merged, one of those two actions has precedence over another when both are specified, doesn't it? Do you know what the case is for nginx? (Googling isn't revealing anything obvious for me...)

[2016-09-25 16:45] hlidotbe commented on #1107
Well no because when merged you get to decide the order and when you terminate at the rule level. You get full control (but it can be more complex and sometimes less obvious so in this regard separating the two concept is nicer).With nginx you can put redirects before, after or in between rewrites, whatever fits your needs best. A way to decide the order at the configuration level would be enough

[2016-09-25 17:19] mholt commented on #1107
How does that work, though? I'm trying to figure out the logic we would need to implement here.

A redirect is final, though, why would you want to rewrite after a redirect?

FWIW, in your case you could rewrite everything except `/something`, no?

[2016-09-25 18:23] eldondev commented on #1130
@mholt Thanks. This seems reasonable, although it wasn't intuitive to me. I think having this logging available might be useful for debugging when clients are connecting from environments where only plaintext connections are allowed. Is there a place that makes sense to specify this behavior in the docs, or is it there somewhere already and I just missed it?

[2016-09-25 18:29] mholt commented on #1130
Which behavior, exactly? Caddy [automatically redirects HTTP to HTTPS](https://caddyserver.com/docs/automatic-https):

[2016-09-25 18:58] eldondev commented on #1130
Explicit log directives in a scheme-less virtual host directive don't apply to the http server started by that directive, is the exact behaviour that is unintuitive to me.

 If my virtual host name doesn't include a scheme, and has an explicit logging configuration, I would expect all requests to that hostname served by caddy to generate a log for that configuration. Specifically, I would expect [

[2016-09-25 19:47] mholt commented on #1130
Well, if this logging is used primarily for debugging, what's wrong with adding those two lines to debug?

I can understand the intuition of the schemeless host, but frankly we don't want the HTTP one doing anything in the server for obvious reasons. The fact that we even have to redirect is regrettable...

[2016-09-25 20:22] hlidotbe commented on #1107
It's simply rule order. There's 4 flags to a rewrite (well five):

- permanent or redirect, 301, 302
- last stops the processing and restart the search of a matching location
- break stops and serves whatever is found
- nothing continue the rewrite process (meaning you can "build" rewrite by accumulating them)

You just get them in whichever order makes sense to your case.

You wouldn't want a rew

[2016-09-25 20:29] hlidotbe commented on #1107
Thinking about it, I might try to implement something equivalent because that would make life so much easier with proxy and fastcgi. Letting people mix physical files and application's routes seamlessly without resorting to `except` and `without`

[2016-09-25 20:30] abiosoft commented on #1107
I think it's fine to have redir come before rewrite. I may be wrong but I do not think there is anything that can go wrong since redir also support if conditions.

If not for simplicity, I would not mind rewrite being able to redir. Something like the way proxy can modify headers even though there's header directive.

[2016-09-25 20:40] abiosoft commented on #1107
This should work but it seems you have a long list of redirects.
[code]

[2016-09-25 20:52] hlidotbe commented on #1107
@abiosoft I don't think it's much of an issue either but obviously there's someone somewhere that needs to rewrite stuff before redirecting.

The question is: does he uses caddy and is this case more frequent than "simple" redirects ? 😃

And yeah that would force me to have tens or hundreds of redir blocks instead of one tidy block.

[2016-09-25 21:41] Echsecutor commented on #1123
This issue is not yet quite fixed.
Enabling pooling as in https://github.com/mholt/caddy/pull/1129#pullrequestreview-1443068 I can reproduce this bug. But I think this can easily be fixed.
https://github.com/mholt/caddy/pull/1129#issuecomment-249447914
https://github.com/mholt/caddy/pull/1134

[2016-09-25 21:45] Echsecutor commented on #1128
A I meant this comment: https://github.com/mholt/caddy/pull/1129#pullrequestreview-1443068. Anyway in PR https://github.com/mholt/caddy/pull/1134 pooling is working and I can not reproduce this bug any more (it was also showing up in my setup). At least demuxing errors for the body should now also be caught by the tests.

[2016-09-25 21:47] Echsecutor commented on #1082
With @abiosoft s correction https://github.com/mholt/caddy/pull/1129#discussion_r80370543 as in PR https://github.com/mholt/caddy/pull/1134, i.e. with working pooling, this is nicely fixed. I have tested on Windows that responds times are back to the normal few ms. Thanks @abiosoft !

[2016-09-25 21:47] #1082 closed

[2016-09-25 22:05] eldondev commented on #1130
No problem with adding the two lines, that method was just not obvious to me. Presumably someone looking for the same answer might locate this github issue, but I might also offer [this](/caddyserver/caddyserver.com/pull/81). Thanks for your help, and for the great work with Caddy overall!

[2016-09-26 00:52] tw4452852 commented on #1131
@mholt Yes, the headers are written before the body by  `http.ResponseWriter.WriteHeader()`. We could implement it and revise the headers in it. So I think there is no need to buffer the body.

[2016-09-26 01:02] upsuper commented on #1131
Curious whether it is possible for TLS...

Also I think you need to read through the file for generating `Etag` anyway, which reminds me that, if the `Etag` header is suppressed, probably you can just eliminate that step?

So a potential solution would be, add some flag from `header` plugin for headers explicitly suppressed, then skip generating that header in later steps.

[2016-09-26 08:44] tomasdeml opened #1136 "ip_hash load balancing policy does not add revived upstreams back to the pool"
### 1. What version of Caddy are you running (`caddy -version`)?
v0.9.2

### 2. What are you trying to do?
Use the `ip_hash` load balancing policy with the `proxy` directive.

### 3. What is your entire Caddyfile?
`Caddyfile_proxy`
[code]

`Caddyfile_upstream1`
[code]

`Caddyfile_upstream2`
[code]

`WebRoot1` and `WebRoot2` directories contain files:
- `index.html` with contents `PROXY1` and `PROX

[2016-09-26 09:24] commarla opened #1137 "Missing path in access logs with fpm and rewrite"
### 1. What version of Caddy are you running (`caddy -version`)?
Master :
[code]

### 2. What are you trying to do?
Display access log with docker logs command.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
Caddy is dockerized. I'm doing a GET curl on a basic url.
[code]
### 5. What did you expect to see?

[2016-09-26 19:51] devil1591 opened #1138 "Error 502 with PHP backend on 0.9.2"
### 1. What version of Caddy are you running (`caddy -version`)?
0.9.2

### 2. What are you trying to do?
serve some PHP

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
I'm running Caddy on Windows 2012 R2

### 5. What did you expect to see?
I'm using Caddy and everything work great for a while, and now, si

[2016-09-26 20:12] abiosoft commented on #1138
This is the same issue reported here https://github.com/mholt/caddy/issues/1128 but a fix is on the way here https://github.com/mholt/caddy/pull/1129 and here https://github.com/mholt/caddy/pull/1134.

You can build from source right now (which has the broken feature disabled) or wait till later this week for 0.9.3 that comes with the proper fix.

[2016-09-26 20:12] #1138 closed

[2016-09-26 20:33] devil1591 commented on #1138
Sorry for the duplicate. Thanks for your work Abiosoft

[2016-09-27 00:26] mholt commented on #1130
Thanks for the PR! I'll take a look.

[2016-09-27 00:30] mholt commented on #1123
So this is still unfixed @Echsecutor? Even in the branch?

[2016-09-27 01:49] mholt commented on #1136
Thanks for the detailed report!

Hmm, @krishamoud -- I didn't notice this before, but the IP hash policy [is the only one that changes the HostPool](https://github.com/mholt/caddy/blob/4adbcd256583f83144a74f65ddcd8a769a840071/caddyhttp/proxy/policy.go#L134). I actually don't think it's necessary, and would explain why they don't get added back once they go down. Are you in a position to look into

[2016-09-27 01:52] mholt commented on #1137
Thanks for the report!

I wonder if this is because the `log` directive defers the evaluation of the request's values until after the response has been written -- meaning that `rewrite` has already changed the request path. Maybe we should look into evaluating the request placeholders immediately and defer evaluation of the response ones until later like we do now...

[2016-09-27 02:09] mholt commented on #1131
@tw4452852 If we can do it without buffering the body, then that sounds great - as little footprint as possible... I'd be interested to see how this looks.

@upsuper TLS is at the listener level, not the application layer, so I am not sure if it is excluded, actually... hmmm.

[2016-09-27 08:53] Echsecutor commented on #1123
It is now fixed in my PR  https://github.com/mholt/caddy/pull/1134 where I moved the 'put back into pool' after the error handling
https://github.com/mholt/caddy/pull/1129#issuecomment-249447914
Are you referring to this branch?

[2016-09-27 09:24] clement-igonet-at-galaxy-semi commented on #493
Well, what's the acceptable solution at the moment ?
htpasswd allows to not write plain text password. What about my config files I would like to track on git ?
I can't imagine to put my Caddyfile with plain text password in any repo, so why not include htpasswd hash directly in Caddyfile itself ???
As in htpasswd file, blowfish, sha1 or "Unix crypt" could be available...
So, I do not understand h

[2016-09-27 11:44] krombel opened #1141 "QUIC - PHP - setting of connection referencing variables"
### 1. What version of Caddy are you running (`caddy -version`)?
Caddy 0.9.2

#### 1.1 Because i think that it also may be a PHP related issue:
I am using php 5.6.24-0+deb8u1

### 2. What are you trying to do?
Do authentication with PHP based on
```_SERVER["REMOTE_HOST"]``` and ```_SERVER["REMOTE_PORT"]	```

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full

[2016-09-27 13:50] mholt commented on #493
@clement-igonet-at-galaxy-semi If you would like to discuss this more, please open a new issue about it, thanks.

[2016-09-27 13:56] mholt commented on #1123
@Echsecutor Ah, I see now -- there's some overlap between #1134 and #1139, it looks like your PR has the tests though. So maybe that's all that's needed.

[2016-09-27 17:41] krishamoud commented on #1136
Yeah I'll look into this today.

[2016-09-27 18:28] clement-igonet-at-galaxy-semi opened #1142 "Caddyfile and hashed password"
### 1. What version of Caddy are you running (`caddy -version`)?

0.9.2
### 2. What are you trying to do?

I'd like to http basic authentication inside Caddyfile, without being force to write my plain text password.
Moreover, I'd like to push my commits in a git repo. So, I can not imagine to let my plain text password in it.
### 3. What is your entire Caddyfile?

[code]
### 4. How did you run Cad

[2016-09-27 23:53] #1069 closed

[2016-09-28 00:24] mholt commented on #1080
I just merged #1135 which drastically changes the logic regarding some of these parameters, and improves error reporting. I'm going to close this issue now in light of that, and would ask that all who have experienced this issue to pull the latest Caddy and try again -- note the changes in that PR may require a few minor changes to your Caddyfile for proper failover handling. (See the PR descripti

[2016-09-28 00:24] #1080 closed

[2016-09-28 00:26] mholt commented on #712
@Kenny-House How's this coming?

[2016-09-28 00:28] mholt commented on #667
I think #1135 fixes this. @robertmeta and @stp-ip feel free to pull the latest source and give it a whirl (note the description in the PR so you know what changed!) or wait until 0.9.3 and let me know! (We also improved error reporting.)

Closing for now, since we drastically changed some of the logic and defaults of these parameters.

[2016-09-28 00:28] #667 closed

[2016-09-28 00:29] mholt commented on #754
I think this is addressed in #1135 because of new default values and slightly different logic. (Feel free to report back if it's not)

[2016-09-28 00:29] #754 closed

[2016-09-28 00:35] mholt commented on #1132
I'm gonna tag this for Hacktoberfest and see if anyone wants to tackle this, or see if it's even possible. :smile: Could be fun, I just have no clue.

[2016-09-28 01:27] mholt commented on #1131
Nice work @tw4452852 -- this is a good fix. Thanks!

[2016-09-28 01:27] #1131 closed

[2016-09-28 01:31] mholt commented on #1045
@tomasdeml Do you want to dive into this more and try that code change locally and see if it works? Otherwise I'll leave this as a Hacktoberfest item, I just don't have the time right now to do it.

[2016-09-28 01:41] upsuper commented on #1131
Thanks for fixing this! Looking forward to the next release :)

[2016-09-28 06:03] abiosoft commented on #1137
Try `{>Caddy-Rewrite-Original-URI}`

[2016-09-28 06:57] tomasdeml commented on #1045
@mholt We have increased `max_fails` to 5 (to prevent spinning) and disabled HTTP2 (as we do not require it presently). So the issue can be dealt with later :-)

[2016-09-28 07:43] commarla commented on #1137
I got a "-" with this header.

[2016-09-28 07:52] DenBeke commented on #1132
So what do you really want, @jet10000? Caddy running on your iPhone with `browse` page of your whole file system? (is that even possible?)

[2016-09-28 07:57] tw4452852 commented on #1083
@mholt , Maybe we could just skip if it doesn't implement `http.Flusher` instead of firing a panic.

[2016-09-28 08:06] tw4452852 commented on #1137
`{>Caddy-Rewrite-Original-URI}` should work. It's actually a bug in replacer!

[2016-09-28 08:18] jet10000 commented on #1132
First of all, I want to transfer files between PC and iPhone using the HTTP protocol. Secondly, I look forward to using Web technology to organize, view, and share my files. Maybe have some other ideas. @DenBeke

[2016-09-28 08:23] 0xbaadf00d commented on #1132
I m not sure you can run Go binary on iOS without heavy modification (maybe change from Go to another language). Whatever you do, you will still need bindings to the iOS API's in order to do anything interesting with it.

[2016-09-28 12:12] tw4452852 commented on #550
At first look at this issue, I don't like this feature. As @alexandreteles says, it will lead some edge cases.

But for the possible way of implementation, I think we could drop the braces entirely. We could add braces internally, but we should check the conflict scope definition:

1. If the imported file doesn't start with address, it belongs the scope which imports it. If it is the uppermost one

[2016-09-28 14:00] nubunto commented on #1027
Hey - so sorry, things are quite messed up around here. I feel it would be best if I postponed this for now, so anyone can feel free to start this.

Really sorry about disappearing :disappointed:

[2016-09-28 14:07] #1136 closed

[2016-09-28 14:18] mholt commented on #1027
Hey, I understand how it goes! :smile: I'll see if any Hacktoberfest participants want to help.

[2016-09-28 15:24] binarious opened #1146 "[0.9.2] fcgi: invalid header version"
### 1. What version of Caddy are you running (`caddy -version`)?
0.9.2 (it works with 0.9.1)

### 2. What are you trying to do?
Accessing fpm through caddy.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
- PHP 7
- Linux Mint 17.3 Cinnamon 64-bit
- run `caddy`
- open url

### 5. What did you expect to see?

[2016-09-28 15:54] mholt commented on #1146
Hi, thanks for the report. This is fixed on master and is a duplicate of #1128 and #1138. Expect a new release soon!

[2016-09-28 15:54] #1146 closed

[2016-09-28 16:45] mholt commented on #1137
Fixed! Hopefully will go out in a new release today.

[2016-09-28 16:45] #1137 closed

[2016-09-28 18:32] #1085 closed

[2016-09-28 18:35] mholt commented on #1085
Thanks @pbeckmann! Would you like to be made a collaborator so that you can help review pull requests and make improvements in a branch instead of a fork?

[2016-09-28 20:24] timothyallan opened #1147 "Body size upload limits with HTTPS"
I've got a production site running Laravel 5.3 which I'm trialling Caddy with on a staging server. There's a main image upload feature, where people can upload images of various sizes: 500Kb-75MB or so. This works great with NGINX, but is pulling funnies with Caddy.

Files < 400Kb or so upload just fine through Caddy, however, if I throw something > 1MB at it, Caddy just hangs. No errors reported

[2016-09-28 20:27] DenBeke opened #1148 "FastCGI troubles with release, not on development"
When running Caddy 0.9.2 with a standard PHP-FPM 7 installation, Caddy (or PHP) serves random pages. The Caddy log shows the correct page.

The debug this problem I compiled Caddy from source and printed out the FastCGI `scriptName`. But since I ran it from the master it works perfectly again. (and does print out the correct `scriptName`)

Is this a known bug that was already fixed for real? Or sh

[2016-09-28 20:56] DenBeke commented on #1132
We don't really need the iOS API, do we?
Just run the Caddy executable with a Caddy file to browse data on the system...

I'll look a bit into it, but I'm finishing a couple of projects right now...

[2016-09-28 20:57] elcore commented on #1148
Hello @DenBeke,

could you test if this bug occurs in Caddy 0.9.3?

Soon,

Eldin H.

[2016-09-28 21:03] DenBeke commented on #1148
Okay, apparently we're already on Caddy 0.9.3. But I downloaded Caddy from website a couple of hours ago... And that version was apparently 0.9.2.

Just downloaded Caddy again and it's 0.9.3 (and this solves the problem). I guess it's all fine then?

[2016-09-28 21:05] elcore commented on #1148
@DenBeke everything is fine 😄

[2016-09-28 21:05] #1148 closed

[2016-09-28 21:48] elcore commented on #1141
Hello @krombel,

I am not able to reproduce your issue!

Caddy 0.9.3 + PHP 7.0.8 [7.0.8-0ubuntu0.16.04.2] (Ubuntu 16.04)

[2016-09-29 02:34] elimisteve commented on #1147
Hi @timothyallan, I'm about to set Caddy up and I'm curious why Supervisor is being used if you're running Caddy in a Docker container?

[2016-09-29 04:44] timothyallan commented on #1147
Oh, that's because I've got caddy and php7 running in the same container, plus a startup script that needs to do some housekeeping while they're all starting up.

[2016-09-29 04:45] crackcomm opened #1149 "Backend unreachable after canceling request"
### 1. What version of Caddy are you running (`caddy -version`)?

0.9.2

### 2. What are you trying to do?

Access a URL through caddy after previous request was canceled.

### 3. What is your entire Caddyfile?

[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

caddy --conf /etc/Caddyfile

### 5. What did you expect to see?

web page

### 6. What

[2016-09-29 07:36] princemaple opened #1150 "502 EOF error for websocket connection"
### 1. What version of Caddy are you running (`caddy -version`)?
0.9.3

### 2. What are you trying to do?
using caddy as a reverse proxy

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
`docker-compose up` (the docker-compose file is not important in this case, you can probably ignore it.)
[code]

**note: bo

[2016-09-29 10:05] pbeckmann commented on #1142
Hello,

two ideas for this.

1. Extend the original _basicauth_ directive with a parameter for the hash algorithm or just that the password is hashed. Maybe its cleaner, but i think it makes the syntax more complex.

2. Prefix the given password, so for example `sha1=0a4d55a8d778e5022fab701977c5d840bbc486d0` to use _Hello World_ as a password. So in the development everybody could use plain passwo

[2016-09-29 10:44] clement-igonet-at-galaxy-semi commented on #1142
Ho please... Whatever is the environment we are working on (development or production env), storing plain text password is a bad solution.

If we want to give caddy a little bit of credibility in term of security, we should not let the ability to rely on plain text password at all, but rely on a format like the one used by /etc/shadow. This last is extensible and let the ability to use salted hash

[2016-09-29 10:48] clement-igonet-at-galaxy-semi commented on #1142
Ho no, please!
Whatever we are working on a dev or production environment, relying on plain text password is a bad solution.
We should not accept the ability to use plain text password, but rely on format like those used in /etc/passwd. It's well known, extensible, and let the ability to use salted hash password with decent algorithms.

F.Y.I.: your sha1 hash could be brute forced with a dictionna

[2016-09-29 11:56] pbeckmann commented on #1142
Hey,

if you want a strong security, it shouldn't use HTTP Basic Authentication (in my opinion).

For that there are plugins like https://caddyserver.com/docs/multipass.

In my opinion a change here in the BasicAuth middleware shouldn't break older installations of caddy.

Greetings

[2016-09-29 14:11] mholt commented on #1149
Hi, please upgrade to the latest Caddy version first and try again. Thanks!

[2016-09-29 14:11] #1149 closed

[2016-09-29 15:27] krombel commented on #1141
seems to be fixed in 0.9.3

[2016-09-29 15:27] #1141 closed

[2016-09-29 18:12] crackcomm commented on #1149
Thanks! It works now. I missed the latest update, sorry about that.

[2016-09-29 18:41] elcore commented on #1149
@crackcomm You do not need to be sorry 😄

[2016-09-29 20:58] mholt commented on #1150
EOF means that your backend is closing the connection... it'll be pretty hard to know more without specific, simple steps to reproduce the issue.

[2016-09-29 21:01] mholt commented on #1089
I guess I'm not quite sure what the problem here is specifically. Are you asking a question? Requesting a feature? Filing a bug report? (If a bug report, please use the provided template.)

Closing until we can have anything to act on.

[2016-09-29 21:01] #1089 closed

[2016-09-29 23:13] princemaple commented on #1150
@mholt you are right, false alarm, it was my app server silently failing because of a function call that wasn't correctly used but happened to match the signature...
So sorry for the noise.

[2016-09-29 23:13] #1150 closed

[2016-09-29 23:33] mholt commented on #1150
Phew. Thanks for the relief. :smile:

[2016-09-30 02:31] mholt commented on #1103
Would a more general way to describe this request be for a priority for each backend? Maybe this could simply be a load balancing policy that only chooses the first N hosts unless they aren't available.

[2016-09-30 03:27] mholt opened #1151 "Take advantage of writev()"
We should look into possible ways [this recent commit to Go](https://github.com/golang/go/commit/8e69d43b32be578cd36eebe491b6e1205dbf32a4) could improve performance or reliability of certain functions of Caddy. I don't really have a solid grasp on this yet but wanted to put it out there to see if anyone might be interested in this.

(Related discussion: https://github.com/golang/go/issues/13451)

[2016-09-30 04:12] notedit commented on #1151
cool

[2016-09-30 05:47] jovandeginste commented on #1103
This would be a more general description, enabling more than my two tiers of servers.

Calling it a load balancing strategy might be confusing? You would then have multiple strategies combined? (One for the priorities, one to pick a server inside a tier)

[2016-09-30 08:28] abiosoft commented on #1103
I also think a load balancing policy can suffice.

[2016-09-30 10:36] dominikschulz opened #1152 "Infinite Redirect with Caddy 0.9.3"
### 1. What version of Caddy are you running (`caddy -version`)?

Caddy 0.9.3

### 2. What are you trying to do?

Serve https with automatic SSL

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

docker run -d --link upstream -p 0.0.0.0:80:80 -p 0.0.0.0:443:443 my-caddy-image

### 5. What did you expect to se

[2016-09-30 10:47] k0nsl commented on #1152
I "solved" it by changing the `caddyfile` to:

[code]

Try that, @dominikschulz.

[2016-09-30 14:23] elcore commented on #1152
Hello @dominikschulz and @k0nsl,

I am not able to reproduce your issue, please clear your cache and try again.

**TESTED WITH CHROME, FIREFOX, CURL**

Custom Caddy:

[code]

[2016-09-30 14:28] k0nsl commented on #1152
This was only an issue for me when I specified `https://domain.tld` in my `caddyfile`. When I simply specified `domain.tld` the redirect loop was solved.

I am using the latest version and the web server is acting as a reverse proxy and nothing more.

[2016-09-30 14:30] elcore commented on #1152
@k0nsl I am using https://domain.tld 😄

[2016-09-30 14:31] abiosoft commented on #1152
Can't reproduce it either. What is `upstream:80` doing ?

[2016-09-30 14:54] adamwathan opened #1153 "Access log defaults to logging post-rewrite URI instead of request URI"
### 1. What version of Caddy are you running (`caddy -version`)?

0.9.3

### 2. What are you trying to do?

Log requests to the access log

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

`caddy`

### 5. What did you expect to see?

Log entries like:

[code]

The output above is from running the same Caddyf

[2016-09-30 14:57] adamwathan commented on #1153
Caddy 0.8.3 used the request URI in the default access log entries, while 0.9.3 seems to use the post-rewrite URI. I think the request URI is probably what most people would expect, but happy to be convinced otherwise! 😊

[2016-09-30 15:04] adamwathan commented on #1153
Never mind! I thought I was running 0.9.3 but was mistakenly running a different version, seems fixed! :)

[2016-09-30 15:22] adamwathan commented on #1153
Actually I must've had something else messed up, because this is still definitely happening with 0.9.3.

If anyone wants to pull down that sample repo they should be able to reproduce.

[2016-09-30 15:41] lluchs opened #1154 "Proxy "without" option does not work if percent-encoded characters are in the URL"
### 1. What version of Caddy are you running (`caddy -version`)?
Caddy 0.9.3

### 2. What are you trying to do?
Use the "without" option to "proxy".

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
No options, AUR package caddy-full-bin 0.9.3-8 on Arch Linux

### 5. What did you expect to see?
Caddy should p

[2016-09-30 16:01] elcore commented on #1153
Hello @adamwathan,

to be honest, I prefer post-rewrite URI instead of request URI 😄

[2016-09-30 16:03] adamwathan commented on #1153
Haha interesting... If you are using Caddy to serve most PHP applications (even Wordpress for example), it means every single entry in your log shows the same URI which is a bit odd.

[2016-09-30 16:08] abiosoft commented on #1153
I think I go with pre-rewrite URI as well.

[2016-09-30 16:08] elcore commented on #1153
Hello @adamwathan,

that is odd :disappointed:, sorry!

[2016-09-30 18:08] mholt commented on #1152
I'm suspicious of the upstream...

[2016-09-30 18:09] mholt commented on #1153
If you need that, what about specifying a custom log format using this header:`{>Caddy-Rewrite-Original-URI}`?

[2016-09-30 18:22] elcore commented on #1153
@mholt did not know we have that 👍

[2016-09-30 18:26] mholt commented on #1153
Yeah, haven't really documented it yet because I'm not sure how permanent it will be, or how useful it would be.

[2016-09-30 18:27] adamwathan commented on #1153
Hey @mholt! That's ok with me too, but thought I'd raise the issue anyways since it's different than 0.8.3 behavior.

However, I can't get that to work with a rewrite that points Caddy to something running over fastcgi, like PHP FPM.

It does work in the sample repo above that's just all plain HTML, but with a Caddyfile that looks more like this, I'm just getting "-" for that placeholder:

[code]

[2016-09-30 19:06] abiosoft commented on #1153
The header is actually deleted by fastcgi here https://github.com/mholt/caddy/blob/master/caddyhttp/fastcgi/fastcgi.go#L208.

I think the reverse should be the case. The pre-rewrite url should be logged by default and users can have a way (probably via a header too) to log post-rewrite url if they wish.

[2016-09-30 23:09] twoSeats commented on #1152
Is this not similar to the problems we were discussing in [this forum post](https://forum.caddyserver.com/t/redirect-from-www-domain-com-to-domain-com/707)?

[2016-10-01 03:39] infogulch commented on #293
@mholt So how would a plugin that decided that caddy should shutdown communicate that up to caddy? E.g. how would it call `executeShutdownCallbacks()`? Windows service messages are basically a different kind of signal and handling them should hook into the standard shutdown system.

[2016-10-01 06:24] mholt commented on #293
Still working on those details...

[2016-10-01 14:31] elimisteve opened #1156 "'root' directive requires argument, docs say otherwise"
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)

### 1. What version of Caddy are you running (`caddy -version`)?

0.9.3

### 2. What

[2016-10-01 14:32] elimisteve commented on #1156
@mholt Perhaps these docs https://caddyserver.com/docs/root are just out of date?

Just putting `root` didn't work, but `root .` did.

[2016-10-01 14:32] elimisteve commented on #1156
Perhaps this argument was originally optional, and is now mandatory?

[2016-10-01 14:34] mholt commented on #1156
Thanks for the question... If you use the root directive, the path has always been always required, the docs don't have the `path` argument in brackets (`[path]`) meaning it's required.

[2016-10-01 14:34] #1156 closed

[2016-10-01 14:40] elimisteve commented on #1156
@mholt I see, thanks. You may want to clarify what "The default root is the current working directory." means. (How can this default be used?)

[2016-10-01 14:48] mholt commented on #1156
If you don't change the root, the default one is the current working directory... you don't do anything to use the default. It's just that... by default...

[2016-10-01 20:54] miekg opened #1157 "ssl certs failure"
### 1. What version of Caddy are you running (`caddy -version`)?

Caddy (untracked dev build)
(last commit hash bbf954c)
### 2. What are you trying to do?

Rebooted my machine and let caddy run agin
### 3. What is your entire Caddyfile?

[code]
### 4. How did you run Caddy (give the full command and describe the execution environment)?

[code]
### 5. What did you expect to see?

Not the following

[2016-10-01 20:54] miekg commented on #1157
Did the certificate cache get corrupted or something?

[2016-10-01 22:00] aishraj commented on #1066
Hey @mholt I'd like to work on this.
Regarding the formatting syntaxes, I agree with your notion that it would it make more sense to have the value always in ms.

[2016-10-01 22:06] mholt commented on #1157
Sorry, but what exactly is wrong? (And why are the log lines truncated length-wise?) My head's a little stuffy today from allergies so maybe I'm missing something obvious...

[2016-10-01 22:07] mholt commented on #1066
Cool, make it be! :)

[2016-10-01 22:09] miekg commented on #1157
(I cut and pasted the log - that might explain the cut-off)

As for what was wrong: I couldn't connect to any of sites - just hanging and and ssl error in the logs.

I just wanted to dump some evidence in this bug, because I have no idea what triggered this.

[2016-10-01 22:12] mholt commented on #1157
Well, the logs show that your client was only supporting old protocols (SSL) -- so that would probably be it. :-/

Not really sure what else to make of it, unfortunately! Looks like everything is fine.

[2016-10-01 22:25] mholt commented on #1153
Hmm, I can't remember exactly why I deleted the header except maybe to avoid passing it on to PHP scripts -- not that it would matter, though, right?

[2016-10-02 05:40] abiosoft commented on #1153
I don't think it matters.

[2016-10-02 07:17] kaihendry commented on #1092
I've updated to 0.9.3 and it has been an ENORMOUS ball ache today that

        rewrite {
                r   /\.(.*)
                status 404
        }

has broken. WHY? :(

[2016-10-02 07:21] miekg commented on #1157
So, it's not reboot related. It crapped out earlier: https://snapshot.raintank.io/dashboard/snapshot/B2bos4PfuMYItoQNoQYICrp374kfQRyL

This is at the logs at the points things went sour:
[code]
after that it's mostly
[code]

I would be nice if `caddy-prometheus` can track these errors, but I think it needs core caddy support to do this.

[2016-10-02 12:23] wendigo commented on #1117
Maybe it should be configurable just like TLS version preference is?

I've got custom caddy built with some changes deployed on my landing page (including curve preferences). Here is ssllabs score for it: https://www.ssllabs.com/ssltest/analyze.html?d=serafin.tech

[2016-10-02 13:24] mkoppmann commented on #1117
OT: The clients who can still connect to your site do all support the forward secrecy capable ciphers, so you should disable `TLS_RSA_WITH_AES_256_CBC_SHA` and `TLS_RSA_WITH_AES_128_CBC_SHA`.

[2016-10-02 14:25] mholt commented on #1092
@kaihendry Because #1042

[2016-10-02 14:34] mholt commented on #1157
Oh, weird. Was there nothing relevant in the logs after that? Usually there would be some error message like "timeout" or something...

Anyway, what happens if you update to the latest HEAD? (Not just 0.9.3, but build from master in this case.)

But still... those are client errors, not server errors (about the client offering old protocol versions)...

[2016-10-02 14:44] miekg commented on #1157
[ Quoting <notifications@github.com> in "Re: [mholt/caddy] ssl certs failure..." ]

True. But I couldn't connect (chrome on linux). After a second restart,
everything started working again.

I'll upgrade.

[2016-10-02 15:00] mholt commented on #1157
I haven't seen this before... very strange... if you see it again, let me know before you fix it and I'd like to take a look at it. Maybe set it up separately for just one of your sites that isn't important?

[2016-10-02 15:03] tw4452852 commented on #1152
Maybe the redirection comes from the auto https (it add the redirection internally).

[2016-10-02 15:05] miekg commented on #1157
[ Quoting <notifications@github.com> in "Re: [mholt/caddy] ssl certs failure..." ]

me neither...

Ack. I'll try to figure something out.

/Miek

--
Miek Gieben

[2016-10-02 15:33] mholt commented on #1152
It adds a redirect from HTTP to HTTPS, but not HTTPS to HTTPS. :confused: So I'm still suspicious of the upstream, since I can't reproduce this.

[2016-10-02 17:02] elcore commented on #1117
Hello @wendigo,

it is 😄

Caddyfile:

[code]

[2016-10-02 17:06] elcore commented on #1152
Hello @dominikschulz.

try this:

[code]

[2016-10-02 19:40] #1154 closed

[2016-10-02 23:54] timothyallan commented on #1147
Okay, after much more mucking around, this only happens on HTTPS connections. With HTTP I can upload any file size to my hearts content. I've got it on a Digital Ocean droplet currently, with a valid HTTPS cert from the ```cme-staging.api.letsencrypt.org``` CA.

Commenting out the HTTPS code, and using the following 'fixes' the mysterious hanging issue.
[code]

[2016-10-02 23:59] elcore commented on #1117
Hello @mkoppmann, @wendigo,

I implemented the feature request 😄

https://github.com/mholt/caddy/tree/CurvePreferences-0.9.X

[2016-10-03 01:02] mholt commented on #1117
@elcore Make a pull request ;)

[2016-10-03 01:06] mholt commented on #1116
Hey @mkoppmann, thanks for the request! Any idea how we use this without modifying the TLS stack?

[2016-10-03 01:06] mholt commented on #1117
@mkoppmann Sorry to have been silent on this for a while, been a bit busy. I think we can go forward with this issue without having to wait on #1116.

[2016-10-03 02:39] Ngo-The-Trung commented on #1027
I'll take a look as part of the fest

[2016-10-03 05:55] kaihendry commented on #1092
Breaking the API is always something you **really must avoid** or people will drop this like a hot potato.

The ultra **common use case** is to forbid hidden files or folders (stuff prefixed with a dot). https://caddyserver.com/docs/status annoyingly doesn't answer that.

[2016-10-03 13:43] mholt commented on #1092
I know breaking changes are inconvenient, I'm sorry about that. [I'd rather make them before 1.0 than after](https://github.com/mholt/caddy/wiki/Compatibility-Notice), frankly, because they have to be had.

What doesn't answer what exactly?

[2016-10-03 16:18] Kenny-House commented on #712
Hey @mholt. I was actually working on this  a bit more yesterday. I'll see about getting the progress pushed up today or tomorrow!

[2016-10-03 16:52] #1117 closed

[2016-10-03 17:09] pepa65 opened #1160 "Using a Strong DH Group"
Caddy 0.9.3, trying to improve security. Not an expert, but I came across this page, and was wondering if this was possible/necessary for caddy to offer as an option:
https://weakdh.org/sysadmin.html

[2016-10-03 17:53] elcore commented on #1160
Hello @pepa65,

Caddy does not support "EDH" Ciphers!

Soon,

Eldin H.

[code]

[code]

[2016-10-03 17:53] #1160 closed

[2016-10-03 18:15] Bitti09 opened #1162 "Customize curve preferences doesn't work for me"
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)

### 1. What version of Caddy are you running (`caddy -version`)?
dev build from late

[2016-10-03 18:37] nicolasazrak opened #1164 "; At end of header directive causes invalid http headers"
### 1. What version of Caddy are you running (`caddy -version`)?

Caddy 0.9.3
### 2. What are you trying to do?

Add a header
### 3. What is your entire Caddyfile?

[code]

**Note the ; at the end of Test header**
### 4. How did you run Caddy (give the full command and describe the execution environment)?

./caddy -conf Caddyfile
### 5. What did you expect to see?

[code]
### 6. What did you see i

[2016-10-03 19:23] elcore commented on #1162
Hello @Bitti09,

I am not able to reproduce your issue!

Caddyfile:

[code]
domain.com {
    tls {
        ...
        curves p521 p384 p256
    }
    ....
}
[code]

[2016-10-03 19:23] #1162 closed

[2016-10-03 19:27] elcore commented on #1164
Hello @nicolasazrak,

please change your Caddyfile to:

[code]

[2016-10-03 19:29] nicolasazrak commented on #1164
After a long time debugging I realized that was the cause, but should not caddy show a waning when there is and invalid syntax?

[2016-10-03 19:32] elcore commented on #1164
@nicolasazrak that is a good question!

ping @mholt

[2016-10-03 19:58] mholt commented on #1162
@Bitti09 Can you provide clearer instructions to get the output you saw? You left question 7 blank :(

[2016-10-03 21:10] mkoppmann commented on #1117
@elcore, @mholt, wow that’s fantastic :smile:
Caddy is getting better every day :+1:

[2016-10-03 21:22] mkoppmann commented on #1116
So I looked more into this and found [this](https://github.com/golang/go/issues/15298) open issue. Guess we have to wait, until agl finished that. He is currently working on the implementation of Chacha20 and Poly1305 I believe, which is also super awesome, so maybe he will work on Curve25519 next, since it is all by djb.

[2016-10-03 22:27] aead commented on #1116
As far as I know, ChaCha20Poly1305 is on the 1.8 dashboard - Adam will add it to the standard crypto/tls package [Gerrit](https://go-review.googlesource.com/#/c/29245/)

[2016-10-03 23:00] mholt commented on #1116
Great -- since this seems out of scope for doing this in the Caddy project, I'll close the issue. Looking forward to the crypto improvements in Go 1.8 and beyond!

[2016-10-03 23:00] #1116 closed

[2016-10-04 00:02] mholt commented on #1164
This highlights something I wasn't sure about -- from a long time ago (almost 2 years now) when I first started building Caddy. One of the first parts I wrote was the Caddyfile parser, and although I knew quotes would be used to enclose strings, I didn't know how to split the tokens in this case:

[code]

Even though it is obvious for (most of) these cases:

[code]

Quotes complicate things, so on

[2016-10-04 01:35] kaihendry commented on #1092
The question is: "How do I stop Caddy serving hidden files?"

You expect to find the answer in https://caddyserver.com/docs/status but I couldn't.

[2016-10-04 02:23] mholt commented on #1092
Don't you just specify the files you want to hide, and give them a 404 status?

[2016-10-04 03:06] kaihendry commented on #1092
Ok, what is the canonical way to hide '.' prefixed files & directories?

[2016-10-04 03:09] mholt commented on #1092
At this point, something like this:

[code]

How many dotfiles do you have in your site? O.o

(Don't mind my questions -- trying to gauge the needs of users here.)

[2016-10-04 03:24] kaihendry commented on #1092
Isn't it more reasonable just to do all dotfiles?

This is almost the default I think in Apache
[code]

[2016-10-04 03:29] mholt commented on #1092
Maybe for one user, but not for another. I'm just not sure what their needs are yet. (Now I know what yours are at least!)

[2016-10-04 03:48] kaihendry commented on #1092
I'm not asking for defaults, I'm asking for documentation that answers the question in a canonical way btw.

[2016-10-04 04:01] mholt commented on #1092
Hmm, so like an example? Is what I posted above good for that?

[2016-10-04 04:06] kaihendry commented on #1092
You mean https://github.com/mholt/caddy/issues/1092#issuecomment-251284815 ?

No because it's not in the docs and it doesn't handle all dotfiles.

[2016-10-04 04:10] mholt commented on #1092
I can't predict all the dotfiles that any user would have :confused:

But thank you for your feedback, I'll look into ways to improve the docs!

[2016-10-04 04:38] kaihendry commented on #1092
Match any file with a dot prefix!? === dotfile. What's difficult about that? It was one as easy as `r   /\.(.*)`

[2016-10-04 05:35] mholt commented on #1092
I'm confused, status doesn't have an `r` subdirective. Are you referring to rewrite?

[2016-10-04 05:38] kaihendry commented on #1092
Well, it used to work ;) https://github.com/mholt/caddy/issues/1092#issuecomment-250957848

[2016-10-04 08:12] tobya opened #1166 "Bind to FastCGI Port again after FastCGI Shutdown"
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)

### 1. What version of Caddy are you running (`caddy -version`)?
0.9.2 on Windows 20

[2016-10-04 08:59] elcore commented on #1166
Hello,

please upgrade to Caddy 0.9.3, report back if this still happens or solves your issue.

[2016-10-04 11:29] tobya commented on #1166
Appears to be fixed in 0.9.3 thanks

[2016-10-04 11:29] #1166 closed

[2016-10-04 14:00] wendigo commented on #1117
@elcore Nice :)

[2016-10-04 14:26] wendigo opened #1168 "Question: does caddy load plugins in specific order?"
Hi,

I'm developing small caddy plugin (http midleware) and I wonder in which order my plugin will load and wrap other middlewares. Is there any specific order on which I can rely? Thx @mholt

[2016-10-04 14:33] mholt commented on #1168
Hey Mateusz! There's two ways to answer your question depending on what you mean.

- Plugins are _imported_ in an arbitrary order. Meaning, their `init()` functions (and thus registering them with Caddy) happen in some arbitrary order. This is by design, and makes it very convenient.

- If a plugin has a directive for the Caddyfile, the setup functions are executed in a _specific_ order, given abs

[2016-10-04 14:33] #1168 closed

[2016-10-04 15:04] wendigo commented on #1168
Got it, thx! I will share when I'll be ready 😄 Hope by the end of the week 🙏

[2016-10-04 19:14] InAnimaTe opened #1170 "Support for Protocol Handshake Header in Websocket connections"
### 1. What version of Caddy are you running (`caddy -version`)?

0.9.3

### 2. What are you trying to do?

SSL/TLS Reverse Proxy Websocket connections to a WAMP router provided by Crossbar.io

### 3. What is your entire Caddyfile?

Initially, I tried everything with the following caddyfile:

[code]

But only got errors like `04/Oct/2016:17:49:24 +0000 [ERROR 502 /] EOF` when connecting via browse

[2016-10-04 19:41] mholt commented on #1170
Okay, this is an easy fix. Thanks for looking into it!

[2016-10-05 00:25] git001 opened #1171 "HTTP/2 with backend"
Hi.

I have asked me why this lines have hard coded the HTTP/1.1 Proto

https://github.com/mholt/caddy/blob/master/caddyhttp/proxy/reverseproxy.go#L175-L177

Isn't it possible to run a HTTP/2 request from client to backend also in HTTP/2?

[2016-10-05 02:08] nicolasazrak commented on #1164
That makes sense. Maybe header directive should only accept only one header per line.
I've found that if you write

[code]

You get

[code]

And the worst case is when you have an even number of tokens, it shows a header without a value.

[2016-10-05 02:51] mholt commented on #1164
It should, I agree, that should be enforced. But we also might have to tweak slightly how tokens are parsed which happens in the lexer, before the header directive sees any of the input. So probably two simple changes.

[2016-10-05 03:10] mholt commented on #1171
It's a carry-over from the Go standard lib (`net/http/httputil`) which sets it to HTTP/1.1.

I'm out of the country for a week -- can you confirm that it's using HTTP/1.1 when it should be using HTTP/2? (You'll need to make the connection to the backend using HTTPS first.) And then is there any real benefit to using HTTP/2 upstream? I assume your network to your backend is local, if not loopback,

[2016-10-05 10:12] miekg commented on #1157
happened again. Had to restart, so no in progress debugging.

[code]
This then breaks all other sites

[2016-10-05 10:13] miekg commented on #1157
version running
[code]
Can a middleware trigger this?

[2016-10-05 10:17] miekg commented on #1157
Any tips on how to debug this?

[2016-10-05 10:21] miekg commented on #1157
Is seems to hang in getting the cert:
[code]
then when I restart, it still renew `www.coredns.io` (again?)

[code]
Maybe a `go get -u` to update all deps as well?

[2016-10-05 10:28] miekg commented on #1157
Pulled latest of the latest:
[code]
NLgids is some personal middleware.

[2016-10-05 14:29] mholt commented on #1157
What happens if you run it without an init system?

[2016-10-05 15:33] miekg commented on #1157
Interesting question. I'll start it *without* systemd when/if it happens again.

[2016-10-05 19:12] arraisgabriel commented on #1152
@elcore I've had the same problem here and your suggestion fixed it.
In my case, my upstream was redirecting the request to HTTPS, causing the infinite loop.

Thank you =)

[2016-10-05 19:15] elcore commented on #1152
@arraisgabriel 👍, have fun with Caddy!

[2016-10-05 19:41] seedifferently commented on #1066
@aishraj thanks for picking this up! I've been away on vacation.

[2016-10-05 20:02] miekg commented on #1157
Yeah for metrics :-) So the first failure happenend soon after I rebooted and (prolly) started using a new version of systemd. Currently I'm runing `Version: 231-9`, and I justed rebooted again.

Let's see what happens.

[2016-10-06 10:05] miekg commented on #1157
Can I trigger this by sending a SIGUSR1 to caddy? AFAIK it reloads itself after refreshing the certs? I.e. a normal reload?

[2016-10-07 02:18] timothyallan commented on #1147
Still trying to get this going. HTTP works great, as soon as HTTPS is enabled, it dies on large file uploads. Here's a report from Charles Proxy, do any of the settings ring an alarm bell?

[code]

[2016-10-07 06:02] timothyallan commented on #1147
So, it would seem that while using the ```-ca "https://acme-staging.api.letsencrypt.org/directory"``` will give you a green lock icon, and will work perfectly fine uploading small files, it won't, for whatever reason, allow you to upload large files with .93. Once you stop using the staging/test LE cert, it appears that you can then upload large files.

[2016-10-07 06:02] #1147 closed

[2016-10-07 16:24] mholt commented on #1147
Did you figure out the issue?

[2016-10-07 19:31] timothyallan commented on #1147
Nope, nobody else seemed to be having that issue, and I've blown too much time trying to get it going, so I'll just use nginx for now.

[2016-10-07 21:05] mholt commented on #1157
USR1 reloads the configuration file, but doesn't kill the process. So it depends what you're trying to do.

[2016-10-08 09:14] tobya commented on #1153
I am having same issue as @adamwathan above with the {>Caddy-Rewrite-Original-URI} not available for fastcgi site

[2016-10-08 11:53] miekg commented on #1157
Well, we can blame systemd all we want, but the reality is that this is a scary failure mode

[2016-10-08 13:05] sanmai-NL commented on #1109
@mholt: see also [this blog](https://blog.pkhamre.com/logging-to-logstash-json-format-in-nginx/).

[2016-10-08 13:36] dominikschulz commented on #1152
I'll double check the upstream (GitLab in our case). I was guessing at Caddy because it works flawlessly with any previous version of Caddy.

[2016-10-08 20:32] johnsockwell opened #1172 "ddy server rewrite"
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)

### 1. What version of Caddy are you running (`caddy -version`)?

### 2. What are yo

[2016-10-08 20:33] johnsockwell commented on #1172
Accidentally created.

[2016-10-08 20:33] #1172 closed

[2016-10-08 20:35] mholt commented on #1157
Is it still happening without systemd?

[2016-10-08 20:38] miekg commented on #1157
Dunno.. still running under systemd, but the cert refresh has happened yet.
This would be a nice feature request: force cert refresh on a signal.

Anyway, I've also changed the unit file and increased the monitoring.

I appreciate if you could keep this open for a bit, I'll try to add more
info as I get it.

On 8 Oct 2016 9:35 pm, "Matt Holt" <notifications@github.com> wrote:

[2016-10-08 20:42] mholt commented on #1157
Maybe the API will do that.

info as I get it.

Sure thing, thanks for keeping it updated!

[2016-10-08 20:47] jbub opened #1173 "Websocket problem after upgrading from 0.9.2 to 0.9.3"
### 1. What version of Caddy are you running (`caddy -version`)?

0.9.3

### 2. What are you trying to do?

I am trying to proxy to `drone` server (https://github.com/drone/drone).

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

Ubuntu 14.04 with following command:

```DO_AUTH_TOKEN=xx /usr/local/bin/caddy

[2016-10-08 20:48] #1066 closed

[2016-10-09 06:56] miekg commented on #1157
[ Quoting <notifications@github.com> in "Re: [mholt/caddy] ssl certs failure..." ]

Uhm? What API?

/Miek

--
Miek Gieben

[2016-10-09 07:48] mholt commented on #1157
The Caddy API.

[2016-10-09 14:39] mholt commented on #1173
Hey @jbub, thanks for the report. Do you have the ability to build from source? If so, can you try building it at a661007a559e23aaef7952b9a87fb1608da127ad ? (I'm traveling so a little too busy to install drone, etc. at the moment.) Or try bisecting until you find the commit that broke it? Apparently we need more tests...

[2016-10-09 19:37] jbub commented on #1173
Hello @mholt, just tried with a661007 and its working. I also tried bisecting and the last working commit is 617012c3fb701502f98ad9b7c27617a94560c581, original behaviour was broken by d0ddfc849df4c7e50487a8d0f1c2cac6d057be3f. Thank you.

[2016-10-09 20:21] mholt commented on #1173
Oops. @tw4452852, apparently that change broke something with websockets. I won't have a chance to check it out for a while, if you wanted to take a look maybe.

[2016-10-10 01:27] tw4452852 commented on #1173
Sure, I will check it. Sorry for regression.

[2016-10-10 02:29] tw4452852 commented on #1173
Weird, d0ddfc8 only for `header` plugin, but `header` plugin isn't used from the Caddyfile @jbub supplied.

@jbub Do you upload the entire Caddyfile you used?

[2016-10-10 04:36] faddat commented on #390
@mholt

Trying to figure out a real-world solution, so I'll toss you my scenario:  30 wordpress instances running on a scaleway node X 20, with a 21st node running caddy.  Curious community's thoughts on a good approach to caching in this situation.

[2016-10-10 05:09] jbub commented on #1173
@tw4452852 no i stripped the header parts :)

After debugging the config, this is the actual part that breaks it:

[code]

[2016-10-10 06:51] mholt commented on #1173
@jbub Ah, _thank you_ for posting the full Caddyfile (this is why we ask for the _entire_ Caddyfile in the issue template!) - that helps a lot.

[2016-10-10 07:03] jbub commented on #1173
Yes im sorry, should have posted the full config first time, my bad. Hopefully it will help you find the problem :)

[2016-10-10 07:41] tw4452852 commented on #1173
It should works now.

@jbub Could you please have a try with my patch to confirm? Thanks.

@mholt  Seem ci has broken due to [my refactor](https://github.com/mholt/archiver/pull/11), need some changes.

[2016-10-10 09:14] jbub commented on #1173
@tw4452852 can confirm that 974b16a8789c985986f7d54270f5f0b41e6da369 works.

[2016-10-10 18:32] mholt commented on #860
@mgilbir Here's some more help to get you started. If this succeeds, we can turn it into a new plugin type.

Replace the call to `newACMEClient()` on these lines:

- https://github.com/mholt/caddy/blob/bedad34b25cfcc67620fa5b854fed020547efbdf/caddytls/config.go#L149
- https://github.com/mholt/caddy/blob/bedad34b25cfcc67620fa5b854fed020547efbdf/caddytls/config.go#L159
- https://github.com/mholt/cad

[2016-10-10 22:49] aneeshusa opened #1176 "Ability to specify 308 instead of 301 for automatic HTTP -> HTTPS redirect"
I just started using Caddy and it's working very smoothly - sub 5 minutes to get it working!
One feature I especially like is the automatic HTTPS, with the HTTP -> HTTPS redirect. However, it looks like that redirect is [currently hardcoded to use a `301` code](https://github.com/mholt/caddy/blob/9ced4b17e56e7ea260dcdd11657a09c09e6f2406/caddyhttp/httpserver/https.go#L152). Would it be possible to

[2016-10-11 02:45] nicolasazrak opened #1177 "Reverse proxy removes trailing slash"
### 1. What version of Caddy are you running (`caddy -version`)?

Compiled from master branch, not yet released

### 2. What are you trying to do?

Use reverse proxy and url ending with `/`

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

./caddy -conf Caddyfile

### 5. What did you expect to see?

When I d

[2016-10-11 09:10] tw4452852 commented on #1177
Ah,  thanks for investigation @nicolasazrak . Could you have a try again to confirm?

[2016-10-11 13:30] p2227 opened #1179 "run as QUIC server"
Chrome 56.0.2887.0 canary / win7 x86

### 1. What version of Caddy are you running (`caddy -version`)?
0.9.3

### 2. What are you trying to do?
RUN caddy as QUIC server

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
caddy -quic

### 5. What did you expect to see?
with wireshark I can found the QUIC packet,

[2016-10-11 17:17] elcore commented on #1179
Sometimes you need to enable QUIC in Chrome

[2016-10-11 17:42] elcore commented on #1179
Hello,

you need to enable QUIC : chrome://flags/#enable−quic

[2016-10-11 18:57] krishamoud commented on #1176
Could you paste the Caddyfile you tried?

[2016-10-11 19:05] krishamoud commented on #1176
I have had success in the past using two separate blocks.

[code]

[2016-10-11 19:20] aneeshusa commented on #1176
@krishamoud thanks, that Caddyfile works perfectly! I was getting tripped up by `The Caddyfile always starts with the address of the site to serve` [in the docs](https://caddyserver.com/docs/caddyfile) and my Caddyfile started like so:
[code]

[2016-10-11 19:20] #1176 closed

[2016-10-12 00:52] booleanhunter opened #1180 "Unable to build Caddy from Source"
### 1. What version of Caddy are you running (`caddy -version`)?
Pulled commit #1178

### 2. What are you trying to do?
Trying to recompile Caddy from source using _build.bash_

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
[code]
### 5. What did you expect to see?
Expected to see Caddy's binary in my _$GO

[2016-10-12 01:17] nicolasazrak commented on #1177
Thanks @tw4452852  now it's working again

[2016-10-12 01:17] #1177 closed

[2016-10-12 01:30] p2227 commented on #1179
I did.
I also add `--quic-host-whitelist="https://10.x.x.x(my ip)"`

[2016-10-12 03:18] InAnimaTe opened #1181 "Caddy has problems with ws: proxy urls"
### 1. What version of Caddy are you running (`caddy -version`)?

0.9.3
### 2. What are you trying to do?

I linked a container, making the name `ws` which is linked properly, contactable, and curl's to my websocket container perfectly (from inside the caddy container).

However, with this caddy config, **caddy seems to timeout, eventually returning a 502** ;(

[code]
### 4. How did you run Caddy

[2016-10-12 05:20] elcore commented on #1180
You need to use go get github.com/mholt/caddy/caddy

[2016-10-12 05:20] #1180 closed

[2016-10-12 05:43] elcore commented on #1179
Hello,

it is working with a FQDN. You should ask here visit the unofficial support channel at irc.freenode.net/ #chromium-support

[2016-10-12 07:22] p2227 commented on #1179
how can i use this for playing with QUIC ? I want to run a QUIC server locally.

[2016-10-12 07:30] elcore commented on #1179
I am not sure -- I guess it is not possible (without a FQDN)

ping @lucas-clemente

[2016-10-12 08:18] lucas-clemente commented on #1179
Right now we only support QUIC with a certificate, and that means with a FQDN. If you really just want to try it locally, you can probably self-sign a cert for your hostname. Another option is to take an existing (valid) cert for a domain you own, give that to Caddy, and run Chrome with `--host-resolver-rules='MAP your.domain.com:443 127.0.0.1:6121'`, where 127.0.0.1:6121 are your ip and port.

[2016-10-12 08:31] elcore commented on #1179
Thank you very much @lucas-clemente :smile:

[2016-10-12 08:31] #1179 closed

[2016-10-12 09:07] HazCod commented on #918
Hi @mholt, what is the current stopper for the PR?

[2016-10-12 10:51] HazCod commented on #901
@mholt, is this then the required way of doing it?

[code]

[2016-10-12 13:37] chaseadamsio commented on #1180
I wanted to see if I got the same result and I did, but then I looked at the instructions, you should be running:

[code]

I followed the instructions from the [README.md](https://github.com/mholt/caddy#running-from-source) & it installed properly.

[2016-10-12 13:45] tobya commented on #1181
Excuse my ignorance but is a single (no dot)  domain valid?

[2016-10-12 14:39] booleanhunter commented on #1180
@elcore @chaseadamsio - Yes, it did work, I should have read the documentation better. Thank you so much! :+1:

[2016-10-12 17:21] wendigo commented on #525
Anyone want to implement golang version of brotli from scratch?

[2016-10-12 17:27] wendigo commented on #1116
@mholt @mkoppmann support for Curve25519 just landed in golang's master branch: https://github.com/golang/go/commit/e875fe42eee942c35cdecc7b4b5d4e762f47bade :smiley:

[2016-10-12 17:34] mkoppmann commented on #1116
Is this really happening? Go 1.8 is going to be the best release ever :smile:

[2016-10-12 17:34] faddat commented on #525
out of curiosity, what is gained by purging one's go of cgo?

Pride?  performance?  Stability?

Thanks :)

Jacob Gadikian
E-mail: faddat@gmail.com
SKYPE: faddat
Phone/SMS: +84 167 789 6421

On Thu, Oct 13, 2016 at 12:21 AM, Mateusz Gajewski <notifications@github.com

[2016-10-12 17:42] wendigo commented on #1116
Giving the number of improvements to compiler, tooling, GC, performance and APIs I fully agree!

[2016-10-12 18:06] dsnet commented on #525
@faddat

It is incredibly hard to get cgo to work properly with stability on all platforms and across versions of Go. Even carefully reading the documentation, its easy to miss something. [[0]](https://golang.org/pkg/unsafe/#Pointer) [[1]](https://golang.org/pkg/runtime/#KeepAlive) [[2]](https://github.com/golang/proposal/blob/master/design/12416-cgo-pointers.md)

In my job, one of my tasks is to

[2016-10-12 18:25] probandula opened #1182 "Caddyfile syntax error => Serving over HTTPS"
### 1. What version of Caddy are you running (`caddy -version`)?
Caddy 0.9.3

### 2. What are you trying to do?
I was experimenting with Caddy (first day) and trying to take my startup scripts not into a virtual host, but after the block on the end of the file.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)

[2016-10-12 18:28] probandula commented on #1182
Same message is shown if my Caddyfile looks like this (without host)
[code]

[2016-10-12 20:27] tobya commented on #1182
Do you have the startup and shutdown scripts with your updated comment

[2016-10-13 01:01] mholt commented on #1182
Hi @probandula ,

This is one problem -- directives have to go within a site description (a site block), there is no such thing as "global" scope for directives. So when it sees words outside of site blocks, it parses them as site addresses. In your case, it's trying to start sites at addresses of `startup`, `sudo`, etc. It's not a syntax error, just a semantic one (on your part).

[2016-10-13 01:01] #1182 closed

[2016-10-13 01:10] mholt commented on #1116
Cool, that was quick. :) We'll keep an eye on it as Go 1.8 matures and see what controls need to be exposed to configure it -- if any at all.

[2016-10-13 01:25] mholt commented on #901
@HazCod You could do that, or you could set a common root and use `rewrite` to adjust the paths that way. I like your way better than this alternative, however, because it's much clearer and explicit.

[2016-10-13 07:30] HazCod commented on #901
@mholt; for completeness sake;
[code]

[2016-10-13 13:04] HazCod opened #1183 "Headers not removed on error pages"
### 1. What version of Caddy are you running (`caddy -version`)?

Caddy 0.9.3
### 2. What are you trying to do?

Remove the Server header at all times.
### 3. What is your entire Caddyfile?

[code]
### 4. How did you run Caddy (give the full command and describe the execution environment)?

sudo ./caddy -conf Caddyfile -email hazcod@xxx.xx -agree
### 5. What did you expect to see?

No `Server: Cad

[2016-10-13 19:49] elcore commented on #1116
Hello everybody,

I implement X25519 :smile: -- It's working (on Chrome)

[2016-10-13 19:52] tobya commented on #550
I agree with @alexandreteles .  I think it is easy to get into the habit of using braces

    site1.dev {
         errors errors.log
    }

Personally I find it confusing that you can write a caddy file without braces but _only_ if you only have one host defined in the file.  I find this confusing and I think it is particuarily confusing when used in examples and code samples on the site.  Often i

[2016-10-13 19:59] mkoppmann commented on #1116
Whaaaat? :laughing:

[2016-10-13 20:00] tobya commented on #550
This is made additionally confusing by the fact that this works

   site3.com {
     root c:\web\rootsite3
   }
    import site1.conf
    import site2.conf

but this doesnt

     import site1.conf
     import site2.conf
      site3.com {
        root c:\web\rootsite3
      }

could we just output an error when an imported caddyfile does not begin with a braced directive?

[2016-10-13 20:47] elcore commented on #1116
It's pretty simple @mrkoppmann :smile:

Build Golang from master, modify Caddy and compile it :smile:

[2016-10-13 20:50] mkoppmann commented on #1116
Will try it next week after an exam. Thanks for the info :+1:

[2016-10-13 20:57] elcore commented on #1116
👍

[code]

[2016-10-14 05:05] mholt commented on #1153
Will keeping the header there cause any problems for PHP backends then? @adamwathan do you think it would mess up any apps run by Valet (or Valet itself)?

[2016-10-14 05:09] mholt commented on #1173
As usual, thanks to Tw for fixing the bug. :smile:

[2016-10-14 05:09] #1173 closed

[2016-10-14 05:12] mholt commented on #1152
If you take the proxy directive out, does it still infinitely redirect? If not, I'm even more suspicious of the upstream app.

(Closing to clean up our todo list unless this can be verified as a bug in Caddy -- feel free to reopen if that's the case!)

[2016-10-14 05:12] #1152 closed

[2016-10-14 05:17] mholt commented on #918
@HazCod This is an issue, not a PR -- but if you're asking about the previous PR linked to this issue: it was implementing a change that was actually orthogonal to this issue. This issue isn't about making ACME ports configurable, it's about changing the port that Caddy considers the plaintext HTTP port (currently hardcoded as 80). So we simply need a new PR that sets a variable to 80 and has Cadd

[2016-10-14 05:20] mholt commented on #1083
@tw4452852 Isn't flushing kind of important? Will skipping it result in unwanted consequences?

At this point I'd rather we fix the QUIC-based ResponseWriter instead by adding a Flush method.

[2016-10-14 05:29] mholt commented on #958
I'll tag this for Hacktoberfest in case anyone wants to give it a try. It involves a change to the quic-go repo and a simple change in this one as well (as I described above). Should be a simple way to get 2 repos added to your Hacktoberfest progress!

[2016-10-14 07:38] wendigo commented on #1164
I can work on header directive but need some guidance in the lexer.

[2016-10-14 07:42] HazCod commented on #918
https://github.com/HazCod/caddy/tree/patch-1 but i'm still trying to compile my first go project. This might take a while ;-)

[2016-10-14 12:43] adamwathan commented on #1153
Hey @mholt!

I can't think of any reason for it to cause any problems. Valet does some integrating with ngrok as well which passes through a bunch of ngrok specific headers and hasn't been an issue for anyone.

[2016-10-14 13:55] mholt commented on #1164
@wendigo Great! Submit a PR and we'll work through it with you. Shouldn't be too difficult.

[2016-10-14 13:58] mholt commented on #1083
I _believe_ this should be fixed upstream in the quic-go library now, I'll have a chance to test it later unless somebody wants to verify before then that it's working and close this.

[2016-10-14 20:54] tobya commented on #1153
@mholt @adamwathan My pull request seems to fix this issue, but is failing travis CI for an unrelated reason.

[2016-10-14 21:24] tobya commented on #1153
Event thought he pull request if accepted will allow

to work, is there an argument here for {path} in the caddy file to log the same value as Caddy-Rewrite-Original-URI as really it is the requested path that is of interest in a log rather than the rewritten path.

Is it worth considering another log placeholder such as {rewrite_path} which would contain what {path} currently contains, ie. the pa

[2016-10-14 22:10] mholt commented on #918
@HazCod Nice -- not too far off! I've left a comment inline for you to review.

[2016-10-14 22:22] mholt commented on #1153
There's definitely room for that discussion, although probably in another issue that isn't specific to this bug report. :)

[2016-10-14 22:39] tobya opened #1185 "Should {path} in access logs show value for {>Caddy-Rewrite-Original-URI}"
This is an related to  #1153 assuming Pull Request #1184 is merged.

In an access log the placeholder  `{>Caddy-Rewrite-Original-URI}` can be used with a fastcgi site that does a rewrite to output the origional path requested.  {path} will output the path after redirection

eg.

with a caddyfile

[code]

for the url  http://localhost:1234/customers/department/sales/2233 the log will show

So, ther

[2016-10-15 00:10] Thomasdezeeuw opened #1186 "Panic: concurrent map read and map write"
### 1. What version of Caddy are you running (`caddy -version`)?

Caddy 0.9.1 (+e8e5595 Tue Sep 13 12:35:56 UTC 2016)

### 2. What are you trying to do?

Ran the server for multiple days.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

### 5. What did you expect to see?

No panics.

### 6. What did you see

[2016-10-15 00:13] Thomasdezeeuw commented on #1186
Issue https://github.com/mholt/caddy/issues/1045 might be related, but I'm not sure.

[2016-10-15 01:57] abiosoft commented on #1185
This is my view as well. https://github.com/mholt/caddy/issues/1153#issuecomment-250827388.

[2016-10-16 18:11] #1153 closed

[2016-10-17 01:58] donnyv opened #1187 "Support for .NET Core?"
Have you guys thought about supporting .NET Core? I think this would bring you a ton of new developers.

[2016-10-17 05:11] mholt commented on #1187
What do you mean by supporting .NET Core, exactly?

[2016-10-17 05:18] mholt commented on #829
Hey @FiloSottile -- lookie @ https://go-review.googlesource.com/#/c/30790/ ! Caddy may be able to take advantage of this in Go 1.8 then.

[2016-10-17 05:18] mholt commented on #849
@ydnax Good news, looks like Go 1.8 will probably ship with this feature, so Caddy can take advantage of it. https://go-review.googlesource.com/#/c/30790/

[2016-10-17 05:42] mholt commented on #10
Just found this from a post on HN: https://github.com/nicolasazrak/caddy-cache - still WIP. Looks interesting.

[2016-10-17 05:43] lox commented on #10
I'll see if I can get httpcache integrated to it :)

[2016-10-17 08:23] elcore commented on #1187
I am not sure if that's possible! -- .NET Core wants to be a Node and Go competitor!

It's a framework for C# and F#, while Go is a whole language.

So, what do you mean exactly? How do you (exactly) want to achieve it?

[2016-10-17 09:43] elcore commented on #1185
@tobya @abiosoft like this?

[code]

[2016-10-17 09:49] rbtbar commented on #1187
I'm not sure what kind of special support you need for .NET Core.
Have you tried to setup Caddy as a reverse proxy for some Kestrel servers?
If I was interested in pairing .NET Core with Caddy (or ngnix) then setting it up as the reverse proxy would be the very first step for me.

[2016-10-17 09:53] tobya commented on #1185
@elcore that would do the trick I guess.  Is there a worry here about backward compatibility or is that not a big concern at this time?

[2016-10-17 09:59] elcore commented on #1185
@tobya I guess it is okay to break backwards compatibility before 1.X.X, am I right @mholt?

[2016-10-17 11:56] tw4452852 commented on #1185
Maybe we could make a snapshot of the request in `Logger.ServeHTTP` before going through the next middleware.

[2016-10-17 12:15] stanislavromanov commented on #1187
You don't need to "support" it. Just use it as reverse-proxy and you're set.

[2016-10-17 12:37] elcore commented on #1185
I am not sure how we could implement this (I would need to read through the code again -- I have vacation and I don't really want to do it), but I believe that it adds unnecessary complexity. -- We should use `Caddy-Rewrite-Original-URI` as it is pretty simple 😄

[2016-10-17 13:03] donnyv commented on #1187
Gotcha, I didn't notice the reverse proxy support. Thanks!

[2016-10-17 13:04] #1187 closed

[2016-10-17 17:49] keith24 opened #1188 "Slash stripped from absolute path to custom error page"
Here's one site in my caddyfile:

[code]

When I simulate a 502, this gets thrown in the error log:

[code]

Caddy seems to be having trouble finding the custom error page.  It's in `/srv/errors`, not `srv/errors`.

This is with 0.9.3.

[2016-10-17 21:09] zoowar commented on #690
This issue persists with Fedora 24. Today I upgraded to Fedora 24 so I would have a 1.6 version of golang.

[code]

[2016-10-17 21:15] elcore commented on #690
Hello @zoowar,

please follow the instructions on https://golang.org/doc/install

[2016-10-17 22:03] mholt commented on #1185
I wonder if we should start using context.Context for stuff like this.

[2016-10-18 03:07] tw4452852 commented on #1188
Should have fixed, Thanks @keith24 !

[2016-10-18 03:08] #1188 closed

[2016-10-18 03:31] mholt commented on #1181
Does this only happen if the two letters are `ws`? What about `jk` or something?

[2016-10-18 04:43] bigtan commented on #798
chacha20 is available in go standard library.

[2016-10-18 05:01] samwalls commented on #1092
Hmm, would be great to apply status to regex match: note, this breaks the default Caddyfile for [grav](https://github.com/getgrav/grav/blob/master/webserver-configs/Caddyfile). I will also open an issue with them.

[2016-10-18 07:14] tw4452852 commented on #1183
This problem is due to the header middleware only influences the following chain, while the `Server` header is set at the start of chain. There is quick fix for this case:

[code]

But it can't cover the all cases: for example, we can't delete [this header](https://github.com/mholt/caddy/blob/master/caddyhttp/httpserver/server.go#L405) which is set from [here](https://github.com/mholt/caddy/blob/m

[2016-10-18 08:37] tomasdeml commented on #912
Another piece of the puzzle: the problem suddenly started appearing on tester's computer with Win 8 after installing the following Windows Updates:

![updates](https://cloud.githubusercontent.com/assets/5622086/19470164/a6e3affc-951e-11e6-8f4c-76b66efd552f.png)

So it may be dependent on Windows patch level as well :-/

[2016-10-18 11:07] elcore commented on #912
What happens

[2016-10-18 12:33] mholt commented on #798
Yep, so Caddy will be able to support it when it's built with the next version of Go.

[2016-10-18 12:40] mholt commented on #1183
Hmm, tricky. I don't at this point, but I'll think on it when I have a chance.

[2016-10-18 13:14] mholt commented on #1183
What if we move the `header` middleware to go before `errors`? Headers doesn't produce errors so we should be good, right?

[2016-10-18 13:32] tw4452852 commented on #1183
No. Because `DefaultErrorFunc` may be called [when all the middlewares return](https://github.com/mholt/caddy/blob/master/caddyhttp/httpserver/server.go#L219) which its `http.ResponseWriter` is the original one not [our wrapper](https://github.com/mholt/caddy/blob/master/caddyhttp/header/header.go#L65). Although we could make a wrapper at [here](https://github.com/mholt/caddy/blob/master/caddyhttp

[2016-10-18 14:23] mholt commented on #1183
That's true -- it feels hacky to put the wrapper out there though. Hmm...

[2016-10-18 15:02] elcore commented on #798
@mholt I will update Caddy :smile: together with the available curves

[2016-10-18 17:22] wmark commented on #798
Put X25519 first. ;-)

[2016-10-18 17:27] wendigo commented on #798
@elcore I already did that while hacking caddy's code. I can send PR :)

[2016-10-18 17:36] elcore commented on #798
I don't need to -- It already is :) -- Caddy changes the curves just on preference

https://github.com/golang/go/blob/cff3e7587a516933d842c11b68bdd346ae6fc9be/src/crypto/tls/common.go#L598

[code]

[2016-10-18 17:36] elcore commented on #798
@wendigo I did the same :) -- You don't need to

[2016-10-18 17:55] elcore commented on #798
POLL:

Should `TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY130` - `TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305` be before (Mozilla - 1) or after (Go -2 ):

[code]

[2016-10-18 18:05] wendigo commented on #798
Refering to crypto/tls/cipher_suites.go:

[code]

[2016-10-18 18:09] elcore commented on #798
Thank you, forgot to add it :)

[2016-10-18 18:12] elcore commented on #798
@wendigo Thank you, forgot to add it :)

[2016-10-18 18:41] wmark commented on #798
A server with AES-NI can serve more connections at a decreased load with AES-NI ciphers than with CHACHA20*. So suites with AES should go first, unless a client sends a CHACHA20 variant as the first in its list.

With Golang 1.8 you'd reorder suites accordingly.
https://go-review.googlesource.com/#/c/30790/
https://github.com/wmark/caddy/blob/bf477ab1cce80b908f4593b9310a26c79f1684fe/caddy/https/se

[2016-10-18 19:30] elcore commented on #798
@wmark It is your code, literally :) -- I give you the honour to implement it

[2016-10-19 06:34] tomasdeml commented on #912
@elcore Unfortunately it is tester's main workstation so we cannot risk wrecking her station by uninstalling the updates right now :(

[2016-10-19 08:48] HazCod opened #1192 "[Feature] Make fastcgi load balanceable too"
It would be nice if we could support load-balanced fastcgi backend too. (e.g. multiple PHP-FPM backends with a singly caddy server)

[2016-10-19 10:10] elcore commented on #798
Please take a look at https://github.com/mholt/caddy/tree/Caddy-Go-1.8 -- Especially you @wmark

[2016-10-19 11:30] flaviocopes commented on #539
Sorry to comment on this closed issue but `status` seems no longer working inside rewrite, what's an alternative way to do the same task?

[2016-10-19 11:49] elcore commented on #539
Hello,

just use https://caddyserver.com/docs/status

[2016-10-19 12:13] flaviocopes commented on #539
Thanks @elcore, I'd need it to use a regex. Basically I want to update https://github.com/getgrav/grav/blob/develop/webserver-configs/Caddyfile which worked with Caddy 0.8.2, but it's not working any more with the latest version of Caddy

[2016-10-19 12:17] flaviocopes commented on #539
Got suggested to use something like

[code]

is this the only way?

[2016-10-19 12:20] elcore commented on #539
I guess so, I am not 100% sure

ping @abiosoft

[2016-10-19 13:29] wmark commented on #798
@elcore That belongs to a separate PR. Iff mholt wants you to move this forward, that is.

Keep in mind that:
* Not all suites are _on_ by default (for example, CHACHA_OLD if vanilla Go has it, is _off_ by default).
* Some suites are TLSv1.2+ only and won't show when you artificially limit TLS to v1.1.
* (Some stacks limit suites to a maximum TLS version, for example RC4 to TLS≤1.0 or the like.)

[2016-10-19 14:10] elcore commented on #798
@wmark

Golang does not support CHACHA_OLD -- So, I do not need it

Just a test to show that the code works 😄

Okay 😄

I do not want to -- I want to keep everything "vanilla"

[2016-10-19 14:14] mholt commented on #1186
Hm, yes, I think it is a duplicate of #1045. Thanks for the report! Please refer to #1045.

[2016-10-19 14:14] #1186 closed

[2016-10-19 16:10] elcore commented on #798
I created a seperate repository for better management -- https://github.com/elcore/caddytls

[2016-10-19 19:32] devil1591 commented on #525
Hi folks,
I found this package: https://github.com/kothar/brotli-go
Could it be usefull in Brotli implementation?

[2016-10-19 19:41] elcore commented on #525
Hello @devil1591,

sorry but no :( -- We want to use clean/pure Go (see above)

[2016-10-19 22:23] corny commented on #695
Is there a plan to change the Caddyfile syntax to achieve this in a smarter way?
This is a quite common use case.

[2016-10-20 08:02] zignig opened #1195 "Getting config file from environmental variables"
Cross post,

https://github.com/miekg/coredns/issues/350

Talking to Miek Gieben about having the entire config file as an environment variable for caddy/coredns

My use case is with rkt containers , so I can pass a complete config into caddy/coredns without having to bake the config into the container.

Is this possible to do, would you want to ?

[2016-10-20 10:19] tomasdeml commented on #912
Sigh, Windows Update was just a red herring. `curl -v` finally gave me the answer - it was the friggin' Skype all along! Skype binds to address `0.0.0.0` on ports 80/443 [by default](https://support.skype.com/en/faq/FA148/which-ports-need-to-be-open-to-use-skype-for-windows-desktop):

[code]

Caddy does not report any errors on startup so I guess that's why nobody noticed.
[code]

It seems that Sk

[2016-10-20 11:21] mholt commented on #912
WOW. That's amazingly awful, thanks for looking into that! I'll close the issue and if anyone else has the problem they can search for it here. Thanks again for your effort!

[2016-10-20 11:21] #912 closed

[2016-10-20 11:32] wendigo commented on #1192
I've attempted to implement it and waiting for comments right now

[2016-10-20 18:22] tristanrollet opened #1198 "List files in a directory inside a template"
Hi,

I would like to know if it was possible to have a feature which would allow to list files in a directory, inside a template. The "browse" directive isn't really what I'm trying to achieve.

Here's a link to the forum thread: https://forum.caddyserver.com/t/list-files-in-a-directory-inside-a-template/841

Sorry if this isn't precise enough, if you have any questions, I'll be glad to answer the

[2016-10-21 08:22] rindek commented on #695
Hello

For anyone interested: the solution given by @abiosoft here: https://github.com/mholt/caddy/issues/695#issuecomment-201879777 works for the version 0.8.x, however for 0.9.x it doesn't.

The actual behaviour is:

- serve any found static content from assets/ directory √
Example: `curl localhost:3000/robots.txt`, in logs: `172.17.0.1 - [21/Oct/2016:08:18:09 +0000] "GET /public/robots.txt HTTP

[2016-10-21 10:32] elvarb opened #1200 "Using proxy with a query results in an added slash being forwarded"
### 1. What version of Caddy are you running (`caddy -version`)?

Caddy 0.9.3
### 2. What are you trying to do?

I'm trying to make a simple proxy for the http endpoint on NSQ
Any data posted to the site root should be forwarded to the proxy url where the topic is defined

In the NSQ log files I can see that the request goes to the wrong address
### 3. What is your entire Caddyfile?

[code]
### 4.

[2016-10-21 12:33] HazCod opened #1201 "Caddy not proxying to default address/path"
### 1. What version of Caddy are you running (`caddy -version`)?
Caddy 0.9.3

### 2. What are you trying to do?
Redirect everything not in /js/, /css/, /img/, /fonts/ to my PHP-FPM backends index.php. This processes it out based on `$_SERVER['REQUEST_URI']` and `$_SERVER['SCRIPT_NAME']`.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe

[2016-10-21 14:30] mholt commented on #1200
When you say "latest" do you mean latest release or a commit? Please be specific, this project is in motion! For example, we have a recent commit, #1178, that may affect this issue.

[2016-10-21 14:32] serussell commented on #1083
I'm seeing this on Caddy 0.9.3, whereas it wasn't happening on 0.9.0.  I do not enable QUIC (have never); the only change is upgrading from 0.9.0 to 0.9.3.

[code]

caddy -version:
`Caddy 0.9.3`

caddy was fetched with this:
`https://caddyserver.com/download/build?os=linux&arch=amd64&features=ipfilter%2Cjwt%2Cprometheus`

(which is shorter than posting the output of caddy -plugins)

[2016-10-21 14:35] elvarb commented on #1200
Sorry, version added :) more motion!

That commit very well could solve this

[2016-10-21 14:36] mholt commented on #1200
Thanks! Do you have the ability to build from source? Perhaps you would have a chance to check it before I do (I have midterms for another week).

[2016-10-21 14:37] mholt commented on #695
@rindek Does your Caddyfile use a path in the site address, perchance?

[2016-10-21 14:37] elvarb commented on #1200
Not at the moment no, possibly next week.

[2016-10-21 14:39] mholt commented on #1083
@serussell Do you have the ability to build from source? I think it was fixed it upstream recently and I haven't seen the problem since. Can you confirm? When somebody confirms I will close this issue.

[2016-10-21 14:44] serussell commented on #1083
P.S.  I'm happy to bisect to find the breakage; is there a way to download specific builds of Caddy, or do I need to learn how to compile caddy with plugins?

[2016-10-21 14:51] rindek commented on #695
@mholt no, here is the Caddyfile:

[code]

Do not mind the folder name being `public` it is just a naming change I did. Also an interesting thing here is that in version 0.9.0 it logs out that it is doing a request to `/` (still returning 404), but from 0.9.1 it logs `/public/` (still doing same request to `localhost:3000`)

[2016-10-21 14:59] mholt commented on #1083
@serussell Just for the purposes of bisecting this, you won't need plugins (QUIC comes standard). So just a `go get github.com/mholt/caddy/caddy`, then subsequent builds with `go build` should do the trick. (Process for building with plugins is the same but you just add the plugin's import to run.go.)

[2016-10-21 15:15] elcore commented on #1083
I am allowed to close this issue? It's working --(build from source, latest packages)

[2016-10-21 22:45] kirillDanshin opened #1202 "Unable to overwrite Content-Type header's encoding"
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)
### 1. What version of Caddy are you running (`caddy -version`)?

`Caddy 0.9.3`
### 2

[2016-10-22 02:05] tw4452852 commented on #1202
I think `*.php` is not a valid path.

[2016-10-22 02:30] kirillDanshin commented on #1202
this also don't work with `/` path.

[2016-10-22 12:02] serussell commented on #1083
QUIC isn't enabled by default, is it? Because my crashes are happening even though I've never turned it on

Reverting to 0.9.0 absolutely resolves the issue as well. I haven't had a chance to test with tip.

[2016-10-22 12:22] elcore commented on #1083
No, you need to enable it

[2016-10-22 13:21] gongzhenjeef opened #1203 "Individual tls protocol supports for each site."
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)

### 1. What version of Caddy are you running (`caddy -version`)?

Caddy 0.9.3

### 2

[2016-10-22 14:03] mholt commented on #1203
Hi there, thanks for the report!

The `tls` directive configures a listener, which is shared by all the sites on that port. So Caddy has to union the TLS settings for each site so that it can serve your site. For protocol versions, Caddy [configures the widest range](https://github.com/mholt/caddy/blob/2b9bbc5236fc7d026f2080b014972573076cef01/caddytls/config.go#L280).

This isn't a bug, but I coul

[2016-10-22 14:03] #1203 closed

[2016-10-22 14:21] mholt commented on #1083
@serussell Ohhh, hey if you take out the `header` directive, does the error still occur? That might be one more thing we need to consider...

[2016-10-22 15:31] adamwathan opened #1204 "Caddy sometimes serving stale PHP page content"
(Sorry for deviating from the issue format, but this one is sort of weird and hard to intentionally reproduce)

We're using Caddy 0.9.3 on the master branch of [Valet](https://github.com/laravel/valet) and have noticed that we very frequently need to refresh the page multiple times before our changes take effect.

For example, we might change some HTML in a template, refresh the page, and the old

[2016-10-22 15:32] taylorotwell commented on #1204
Yeah, I typically have to hit the URL 4-5 times every time I make a code change to my PHP before I start seeing updated content.

[2016-10-22 16:32] FiloSottile commented on #918
Chiming in: I'm on OpenBSD where I don't have cap_net_bind_service, so I have to redirect ports with pf instead.

However, `http_port` sounds confusing to me. The result would be:

[code]

And the result will be that Caddy binds on 127.0.0.1:4080 and 127.0.0.1:4443, thinking the host is example.com:4443 when it's actually example.com.

I like (and run) @tdsmith's patch. The HTTPS port should defin

[2016-10-22 16:41] FiloSottile commented on #918
Looking a bit more at @tdsmith's patch, I think the command line option should not just change the ACME port, but also the default listening and redirect one.

I'll give a patch a try.

[2016-10-22 18:46] mholt commented on #1204
So by default, persistent connections are disabled, I think (as of 0.9.3) -- is that correct, @abiosoft? Can you look into this when you have a moment?

[2016-10-22 18:57] abiosoft commented on #1204
Yeah, persistent connections are disabled by default. However, I'll try to reproduce this.

@adamwathan I can see a caddy binary in `bin` directory. I assume I can keep replacing the binary while I'm tweaking caddy's source.

[2016-10-22 18:58] adamwathan commented on #1204
Hey @abiosoft yup totally, just need to run `valet restart` afterwards.

Thanks for looking into this for us!

[2016-10-22 20:34] ericdreeves commented on #1170
Hello,

I took a shot at a fix but I'm a little confused about the desired behavior.
I'm new to Caddy so please excuse any misunderstandings that I may have.

Adding an upstream header via:

	header_upstream Sec-WebSocket-Protocol {>Sec-WebSocket-Protocol}

does indeed add the header to the upstream request, however it will be empty
if the header did not exist in the original request.

Is the requ

[2016-10-22 20:39] InAnimaTe commented on #1170
In my eyes, it should only be passed upstream if it was provided with the incoming request. Not sure what @mholt thinks but I can't see any reason to pass an empty header.

[2016-10-22 22:03] tobya commented on #1185
@elcore would your fix as shown work if no redirection took place?

[2016-10-22 22:43] elcore commented on #1185
@tobya I am sorry, but no 😢 -- I don't have time to work on this particular issue (issue priority) (Reason: School Exams)

[2016-10-22 22:59] ericdreeves commented on #1170
Thank you for the quick reply.

I've been unable to create a request such that Caddy does not pass the Sec-Websocket-Protocol header upstream when it comprises the incoming request.

Perhaps you could share more about your environment? Or, if you have the GET request that generated the HTTP 502 from Caddy, I can recreate it on my own and observe.

[2016-10-22 23:08] pwhodges opened #1205 "Startup needs to be logged when running as service."
When starting Caddy at the command line, it is clear what is happening, and in particular the sites being served are listed out.  When Caddy is running as a service this information is lost, because only stderr is captured in the log file. (Tested on Windows; but I presume *nix will be the same.)

Having the initial console messages up to and including the list of domains in the log would make it

[2016-10-23 07:36] derekargueta commented on #1132
iOS uses a sandboxing model such that any application that runs must be an official iOS app, compiled with XCode and all the proper signatures, etc. AKA there's no way to run an arbitrary executable on iOS primarily for security reasons.

http://stackoverflow.com/a/24936109/2540895

[2016-10-23 09:11] tobya commented on #1205
@elcore @mholt

in[ server.go OnStartupComplete the call to fmt.Println](https://github.com/mholt/caddy/blob/master/caddyhttp/httpserver/server.go#L365) outputs the servername being served.

However replacing

    		fmt.Println(output)
with

		log.Println(output)

will cause a number of issues

1. list of hosts will only be show when -log is used on command line
1. also the date is printed infront

[2016-10-23 13:16] elcore commented on #1205
Hello @tobya,

In Linux (e.g. Ubuntu/Debian) one can use `sudo systemctl status caddy`

[code]

You could use something like (non-tested):

[code]

[2016-10-23 14:16] mholt commented on #1132
@derekargueta That's fine -- although I think there's a way for developers to hack an iOS app together and run it on phones, no? I was at Gophercon 2015 when Hana Kim did this demo:

- https://www.youtube.com/watch?v=sQ6-HyPxHKg&feature=youtu.be&t=24m08s
- https://talks.golang.org/2015/gophercon-go-on-mobile.slide#1

[2016-10-23 14:17] mholt commented on #1205
Logs are going to have the timestamp at the beginning. I think instead of replacing fmt.Println with log.Println, we'll just add log.Println after fmt.Println and that should do the trick.

[2016-10-23 14:32] elcore commented on #1205
log.SetFlags(0) should remove the timestamp

I would do this

[code]

[2016-10-23 14:46] mholt commented on #1205
I don't think we should remove the timestamps from the logs. And let's just keep it simple, same thing on any OS.

[2016-10-23 14:50] elcore commented on #1205
Okay @mholt 😄 -- So, who of us needs a Hacktoberfest T-Shirt 😉?

[2016-10-23 15:34] InAnimaTe commented on #1170
Hmm not sure if you're using some newer version or something then. The whole point of the issue is that Caddy doesn't pass that header on incoming websocket connections. Utilizing the crossbar client for connecting should plainly show you (this is pretty much how I did it) that the incoming request does contain the Sec-WebSocket-Protocol header but the backend upstream connection Caddy makes to th