[2016-03-05 12:45] vdemario commented on #337
I'd like to help with Brazilian Portuguese as well. We've done this recently on github.com/gobridge/bwag, almost 10 brazilians got involved. This is a good moment to get people to help. :)

[2016-03-05 16:39] mholt commented on #337
Thanks for offering to help as well!

Yes, I agree, it is a good moment. I am still not ready to do the translations as I don't have a mechanism on the site to change languages. Would anyone like to help with that?

[2016-03-05 16:44] Fristing commented on #337
I don't know your website structure but you can use I18N.

[2016-03-05 16:45] mholt commented on #337
The site is here: https://github.com/caddyserver/caddyserver.com

[2016-03-05 16:53] albertdb opened #655 "White space substitution in URL by pluses (+) compatibility"
The are some cases of existing software (VLC media player, for example) that given a URL containing white spaces in the path, they substitute the white spaces by pluses (+), so `http://mysite/some file` is converted to  `http://mysite/some+file` when doing the HTTP request.

Caddy is currently unaware of this and instead of serving the corresponding files, it replies `404 Not Found`.

Could you pl

[2016-03-05 17:21] justrjlewis commented on #388
@dprandzioch
No worries.  I'm anxious to try your implementation.  I never thought of outputting the the log file, CPU settings, or testing for the email.  Also, my script doesn't include a status message, so cool.  I can't wait to play with it!  If you change your port binding, you can run as your caddy user.

The freebsd code is in the handbook under  [15.5.4. The MAC Port Access Control List Po

[2016-03-05 17:40] iamveen commented on #348
:+1:

[2016-03-05 19:20] dprandzioch commented on #528
@mholt I'm not really into Go but from a operating systems' point of view I think option 1 is the way to go e.g. regarding PID tracking, especially when it comes to init scripts for the various platforms. That would also include having all child processes killed once the main process is stopped.

Also, if I'm not misinterpreting that, Apache does it that way, too:

[code]

As far as I'm concerned,

[2016-03-05 19:47] jungle-boogie commented on #388
Yeah, with freeBSD you can use jails or MAC port access until Caddy can support some kind of privileg dropping: https://github.com/mholt/caddy/issues/528

[2016-03-05 20:00] dprandzioch commented on #388
@justrjlewis Thanks you so much, I already tried to figure out to get this running but didn't succeed until now. :-)

@jungle-boogie Just added my 2c to #528. I'm currently running Caddy jailed anyway but'd rather prefer a native implementation that's just as self-contained as Caddy itself is. Anyway, I think it's better keeping that separate in the other bug report :-)

However, is there any deve

[2016-03-05 23:25] mholt commented on #528
@dprandzioch Thanks for the feedback. This is good to know.

So if Caddy had two processes going, which one would process the signals? Both? Or just one? Which one? How do we make it clear which process to signal?

[2016-03-05 23:31] mholt commented on #388
@dprandzioch There is some effort and definitely a lot of interest in distributing Caddy via system packages; anyone is welcome to step up to the plate in #395, where I invite anyone who would like to to be involved in that way.

[2016-03-05 23:51] mholt commented on #594
Thanks for the clear instructions and test case! But I cannot reproduce this. I refreshed the index.html page a few times; here's the output:

[code]

[code]

<img width="890" alt="screen shot 2016-03-05 at 4 49 14 pm" src="https://cloud.githubusercontent.com/assets/1128849/13551309/3ae48b52-e2f2-11e5-9122-0fca9b7c51f1.png">

I don't see any 404 errors.

[2016-03-06 08:46] edrex commented on #594
Yeah, i see same. I think I had multiple overlapping causes in the initial report. The first two two issue items in my last comment should be reproducible. Will make test cases Mondayish.

[2016-03-06 09:11] dprandzioch commented on #395
Looks like a good idea although I see "production ops" and "distribution" somewhat combined because their responsibility overlaps for me, if I'm wrong it would be nice to have a clear separation in the description.

I'm not able to help on a daily basis but I would be glad helping with some pull requests as well as filing issues for enhancement and design ideas from time to time, especially addres

[2016-03-06 09:34] dprandzioch opened #656 "CLI option for providing a config/working directory"
Right now Caddy uses the `cwd` to place it's `.caddy` folder containing all the certificate stuff  for letsencrypt. While this is a great way to provide simple set up and usability for smaller projects and development environments, this is a problem when it comes to automatically launching caddy upon boot as well as packaging it for distribution. While `systemd` provides a possibility to define th

[2016-03-06 09:38] dprandzioch commented on #619
I have another take on this, adressing upgrades to the Caddyfile... What do you think about exposing the CLI configuration parameters as properties within Caddyfile? So that the user is able to configure his letsencrypt email address, log- and pidfiles etc. directly within Caddyfile? This would make it much more easier to provide service scripts for running caddy at OS boot time.

[2016-03-06 14:08] Ozzadar opened #658 "X number of subdomains"
Hey guys,

Caddy works awesome but I have a question:

Is there a way to create a listing for X number of subdomains under the same entrypoint?

I was trying something like

[code]

but it wasn't working. Is there a way to achieve my desired result?

Thanks,
-Ozzadar

[2016-03-06 14:12] faddat commented on #619
What's the trouble with systemd and flags?  Not saying that you're
wrong, but having perfectly fine luck with those myself at the moment.

On 03/06/2016 04:39 PM, David Prandzioch wrote:

[2016-03-06 14:14] mholt commented on #658
It looks like you're trying to proxy different sites to different backends, so define multiple sites in your Caddyfile instead:

[code]

Note that you don't need the empty `{ }` after each proxy line.

Remember that the first argument is a base path, not a hostname, to match.

[2016-03-06 14:17] mholt commented on #619
@dprandzioch Great suggestion/question, let me answer it and see if this makes sense.

The Caddyfile defines sites, and is purposefully scoped so that each "directive" belongs to a site. The CLI flags apply to the whole Caddy process, 'globally'. So flags do things like set default values and configure process-level settings like a log, PID file, etc.

I echo @faddat's question; what's the trouble

[2016-03-06 14:18] mholt commented on #656
Caddy actually uses $HOME to place the .caddy folder. If no $HOME is set, it uses cwd. See https://caddyserver.com/docs/automatic-https. So if you want to change where .caddy is, set or change the $HOME environment variable.

[2016-03-06 14:18] Ozzadar commented on #658
the problem is that we're generating subdomains on a dynamic level and caddy is complaining that we've "issued too many certificates to domain.com" when I get past 2.

this is my Caddyfile:

[code]

and this is the output:

[code]

[2016-03-06 14:21] mholt commented on #658
That's a [rate limit imposed by Let's Encrypt](https://community.letsencrypt.org/t/rate-limits-for-lets-encrypt/6769). Sorry, you'll just have to wait this one out or use a different CA for the meantime.

If you ever want to test your configuration (as the [documentation recommends](https://caddyserver.com/docs/automatic-https) for larger setups) remember that Let's Encrypt has a staging server th

[2016-03-06 14:24] dprandzioch commented on #619
@faddat/mholt: Theres generally no problem with systemd and flags but at least when providing init scripts by shipping caddy through the distributions' package manager it's just uncommon to have to customize it. Also this may lead to problems when updating the init script. Additionally there are way more init systems beside systemd.

@mholt I see your concerns. That's a problem. What about having

[2016-03-06 14:27] dprandzioch commented on #619
If you think this does not make sense, it's ok for me. But I think having users to edit systemd services in order to configure your cert issuer email is strange and nothing a user should have to think about.

[2016-03-06 14:28] mholt commented on #619
@dprandzioch That `-email` flag just sets the *default* email address. The email [can be configured per-site](https://caddyserver.com/docs/tls) using the tls directive:

[code]

[2016-03-06 14:30] dprandzioch commented on #619
Oh sorry :-) that was my fault. Then I'm fine with the current Solution.

[2016-03-06 14:51] vibhavp commented on #195
I was able to reproduce this too.
Caddyfile and the faulty URL: https://gist.github.com/vibhavp/d50e5bd1f7147a6e7e71

Here's the error log:
06/Mar/2016:20:10:39 +0530 [ERROR 502 /openidcallback] unreachable backend
192.168.1.1 - [06/Mar/2016:20:10:39 +0530] "GET /openidcallback?openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.mode=id_res&openid.op_endpoint=https%3A%2F%2Fsteamcommunity.c

[2016-03-06 15:45] faddat commented on #619
But I'm a masochist: I actually *like* systems!
On Mar 6, 2016 9:24 PM, "David Prandzioch" <notifications@github.com> wrote:

[2016-03-06 21:59] sijad commented on #625
how about implementing some features of [pagespeed](https://github.com/pagespeed/mod_pagespeed):

[2016-03-06 22:02] sijad commented on #622
how about implementing some features of [pagespeed](https://github.com/pagespeed/mod_pagespeed):

[2016-03-06 22:25] tewe opened #659 "Hash breaks rewrite"
I replaced Apache's mod_userdir with Caddy, for a single user:

	rewrite /~tewe {
		r  (.*)
		to /{1}
	}

This works fine unless file names contain the # character. Those are only accessible using the actual path.

I confirmed that the regex matched by replacing it with "(#.*)".

If the filename starts with #, I get served a directory listing (browse is on), so somewhere the string seems to get sp

[2016-03-06 22:33] mholt commented on #659
`#` is a hierarchical identifier (see [RFC 3986](https://tools.ietf.org/html/rfc3986), section 1.2.3); it indicates the beginning of the fragment, and as such, is not part of the path. To use a `#` in the file name you need to URL-encode it.

[2016-03-06 22:36] tewe commented on #659
The `#` always were encoded. In fact the URLs I used were copied from the HTML output by `browse`. And they worked just fine if I removed the `/~tewe` by hand instead of using `rewrite`.

[2016-03-06 22:40] mholt commented on #659
I don't follow... I'm going to need more details: what is your entire Caddyfile, what's the file/folder structure of the site, what's the full request URL, what's the expected results, and what's the actual results?

[2016-03-06 22:55] tewe commented on #659
[code]

[2016-03-06 23:01] mholt commented on #659
Perfect, thanks! I was able to reproduce the behavior. Will look into this soon. /cc @abiosoft - the rewrite middleware doesn't handle encoded `#` characters very well.

[2016-03-07 07:24] abiosoft commented on #659
Oops. Having a look.

[2016-03-07 14:14] cork opened #660 "Markdown variables not accessible in Included templates"
The following fails cause .Doc, .Docflags or .Links is not available in ".Included" templates:

Caddyfile:
[code]

template.tmpl:
[code]

header.tmpl:
[code]

index.md:
[code]

index.md:
[code]

[2016-03-07 20:44] rushmorem opened #661 "caddy.Restart() - listen tcp :443: bind: address already in use"
#### 1. What version of Caddy are you running (`caddy -version`)?
`9e386fc (latest commit on master at the moment)`

#### 2. What are you trying to do?
I'm using Caddy as a library to embed it so I can easily pull data from my database system, rebuild the Caddyfile and call `caddy.Restart(Caddyfile)` to restart gracefully. I love Caddy, but I have to say this ability to use Caddy as a library is b

[2016-03-07 21:00] mholt commented on #660
Ah, this is because the templates of included files aren't executed with the same context as the original markdown file. Will work on a fix for this...

[2016-03-07 21:56] mholt commented on #661
First, this is an _awesome_ issue. Thanks for using the new template!

One thing to be aware of when calling Restart() is that your Go process will spawn a new one, and the parent process will die, either immediately or in a few seconds.

That TODO next to signalSuccessToParent() might be outdated (oops), since the signalSuccessToParent() function uses a sync.Once to ensure that it only happens on

[2016-03-07 22:34] mholt commented on #660
So, I have a really hacky fix committed at 5dd9818. I don't really like it, though, since it's kind of a circular reference. Basically, the context used by Include in the case of markdown needs to be not the middleware.Context type itself, but the markdown.Data type instead. That's the only type that has Doc and DocFlags fields.

Would anyone else have a cleaner solution?

[2016-03-07 22:37] mholt commented on #606
Unfortunately the proxy_redirect PR is now closed due to inactivity, but if this feature is wanted enough, somebody feel free to pick it up and finish it. :+1:

[2016-03-07 23:07] mholt commented on #395
Hey everyone, sorry it's taking me some time to get around to this. I wanted to leave the issue open long enough to give more people a chance to see it and participate. I think we're having a pretty good response and I should have responded to this sooner!

I will be very happy to accept all of you into the project and to have you contribute simply where your expertise is or where you feel a certa

[2016-03-08 00:08] mholt commented on #497
@hubertbanas @TribuneX  Now that #558 is merged, we're halfway there. The remaining outstanding issue seems to be that in the case of carddav/caldav, Caddy returns a 200 when it should return a 207 instead as you mentioned above. Anyone please want to try to figure out why that is the case? :smile:

[2016-03-08 03:25] mholt commented on #246
For what it's worth, I also found https://github.com/markbates/goth which facilitates authentication.

[2016-03-08 05:23] mholt commented on #656
Closing, assuming that to be sufficient.

[2016-03-08 05:23] #656 closed

[2016-03-08 07:42] clandmeter commented on #649
@mholt anyway around this?

[2016-03-08 12:22] shytikov opened #663 "Reverse proxy on ASP.NET sites using NTLM authentication is not working"
#### 1. What version of Caddy are you running (`caddy -version`)?

Caddy 0.8.2
#### 2. What are you trying to do?

I'm trying to use `Caddy` as reverse proxy for MS Dynamics CRM installation to get more robust and balance loading, better performance (maybe) by applying HTTP/2 on context served by MS CRM.
#### 3. What is your entire Caddyfile?

[code]
#### 4. How did you run Caddy (give the full co

[2016-03-08 14:07] jupiter commented on #613
How much does it matter whether max_conns is per server or per pool?

If it is per server, it seems we need to do the check in the various [policy Select() methods](https://github.com/mholt/caddy/blob/c12847e5ba4341f0f8f3e51bcbc362d14254775f/middleware/proxy/policy.go#L54), as well as in [upstreamHost's Select() method](https://github.com/mholt/caddy/blob/c12847e5ba4341f0f8f3e51bcbc362d14254775f/m

[2016-03-08 16:24] mholt commented on #619
I just had another idea that I don't hate and isn't terribly complicated, but I hesitate since it *might* allow users to write confusing Caddyfiles.

But people want a no-duplication way to share certain directives across multiple sites. Right now the only way to do that is with `import` or to have them share *all* the directives by putting them all on the same server block.

But what if you could

[2016-03-08 16:47] jacobhands commented on #619
While I do like that @mholt, I also don't want to see things like this:
[code]

Now instead of seeing what each site does clearly, you have to compute in your head what is applying to each directive.

I find this unnecessarily complex.

[2016-03-08 17:02] mholt commented on #619
^ That's my concern too, after thinking on it some more. Especially if I implement wildcards in site addresses (which I'm seriously considering doing at the same time as I implement sites with paths):

[code]

On a related note, is this redundant:

[code]

[2016-03-08 17:06] jacobhands commented on #619
Maybe I'm alone in this, but I expect `*.example.com` to only apply to subdomains, so if you want to apply to both `*.example.com` and `example.com` then then shared block would be nice.

[2016-03-08 17:07] mholt commented on #619
@jacobhands No, you're not alone; I just edited my post above to be a little more precise. (GitHub submitted my comment before I was ready. Apparently there's a keyboard shortcut...?)

[2016-03-08 17:14] jacobhands commented on #619
Wildcards should only apply to a single label.
[code]

[2016-03-08 17:29] jacobhands commented on #619
I think one shared block + one precise block for each site would be manageable, even with wildcards.
[code]

[2016-03-08 17:51] jacobhands commented on #619
After thinking this through, I think this would be a good ruleset for:
- Shared blocks
- Wildcards
- Paths after domain (eg.`/foo`)

- A site directive will only ever match **TWO** blocks in the Caddyfile, no exceptions.
- A wildcard can only be used only for a single label, not sublabels.
    - `*.example.com` will not apply to `*.sub.example.com`
    - `*.example.com` does not apply to `example.

[2016-03-08 18:04] edrex commented on #594
*Note to self:* Autobahn project maintains [a standard test suite](http://autobahn.ws/testsuite/) for websocket conformance. I'd like to run the suite with both the websocket and proxy directives, and see what shakes out.

[2016-03-08 18:40] jacobhands commented on #619
Here are a few examples: https://gist.github.com/jacobhands/85054f2ef2eb0df217c1

[2016-03-08 19:22] mholt commented on #619
@jacobhands Thanks for a thorough consideration of the idea! I like the clarity of your ruleset. Although implementation may not be too difficult, I feel like describing that in the docs and having to keep it in mind while writing a Caddyfile is going to be the hard part. In other words, it makes the documentation complicated, even though the rules are straightforward.

It also gets more complicat

[2016-03-08 19:26] jacobhands commented on #619
@mholt Point taken on docs complexity! I'll admit writing an example file with my own ruleset was still hard to do.

Regarding wildcards, what did you think about my rules on them? Specificall
- `*.example.com` matches `foo.example.com` but not `bar.foo.example.com` or `example.com`?

[2016-03-08 19:28] mholt commented on #649
@clandmeter Is something like #442 (cf. #606) what you need?

[2016-03-08 19:30] mholt commented on #619
Yes, I agree completely; this is how wildcard certificates work. I think it'll be good to mirror those rules both for security (I guess) and for simplicity. So supposing that in the future, Let's Encrypt or another ACME CA does issue wildcard certificates, we'll be able to do that without trouble.

[2016-03-08 19:32] jacobhands commented on #619
Alright awesome! I love me some simplicity :)

[2016-03-08 19:33] mholt commented on #663
Having not used Fiddler2, do you meant that you expect Caddy to proxy all the headers upstream by default?

You can write header values out to the log using a log format with {>Header-Name}, for example. That might give you more information.

Unfortunately I'm not at all familiar with MS Dynamics CRM, but

[2016-03-08 19:55] shytikov commented on #663
Thanks for reply!

I have added sample request / response pair I captured with fiiddler (you can find it in my post above). I will compare it with normal communication and will try to find out what's missing.

But for me it looks like `NTML` authentication gets broken somehow by `Caddy`. I believe it's not specific for MS Dynamics CRM, it could be verified with any site that is running IIS, and us

[2016-03-08 19:59] mholt commented on #663
What would be interesting is lining up the fiddler output of trying both Caddy and what you know works.

[2016-03-09 01:18] marioidival opened #665 "[question] - Problem with html5mode on caddy"
Exists some solutions to solve this with Nginx, Apache etc...

How can do with Caddy?

[Examples](https://github.com/angular-ui/ui-router/wiki/Frequently-Asked-Questions#how-to-configure-your-server-to-work-with-html5mode)

[2016-03-09 11:19] 1lann commented on #619
I agree with what's been proposed so far with wildcards.

Regarding shared blocks, I personally think that if you're going to make it so you can only have 1 shared block (2 matching blocks), you may as well have no blocks at all, as people who want more than 1 shared block will end up having to use `import` statements, and can be inconsistent if they use both. I'd rather stick with having a single

[2016-03-09 12:15] jupiter commented on #643
I am unable to reproduce this with the provided config.

For `$ curl localhost:8888/test/%2F/foo`, I get:

[code]

@flecno Which version of Caddy are you running and on what platform?

[2016-03-09 12:28] 1lann commented on #665
Using `ext .html` should work, which first tries to access the base URL, and then tries with .html appended to the end. See: https://caddyserver.com/docs/ext

[2016-03-09 12:55] marioidival commented on #665
@1lann Don't work :(

[code]

[2016-03-09 13:12] flecno commented on #643
Oh year.. I can reproduce this with version 0.8.1 (darwin amd64). I see there is version 0.8.2 and this version has fixed the problem! :+1:

So thanks for your help.

[2016-03-09 14:01] 1lann commented on #665
Oh sorry, I misread the other configurations, how about
[code]

[2016-03-09 15:09] mholt commented on #643
Huh, cool, I'm not sure why! But glad it's better now.

[2016-03-09 17:03] stp-ip opened #666 "Add ability to overwrite headers"
As prerequisite we have the header ```content-security-policy: policy```

Right now one can either strip a header:
```header / -content-security-policy```
Resulting in no ```content-security-policy``` header

Or add something to a header:
```header / content-security-policy "some policy"```
Resulting in  ```content-security-policy: policy some policy```

But one can not overwrite a header:
```head

[2016-03-09 17:16] stp-ip opened #667 "Backend marked as unhealthy even so no request was unsuccessful"
#### 1. What version of Caddy are you running (`caddy -version`)?
0.8.1

#### 2. What are you trying to do?
Proxy traffic to an apache backend with mod_php

#### 3. What is your entire Caddyfile?
[code]

#### 4. How did you run Caddy (give the full command and describe the execution environment)?
./caddy -agree -conf caddyfile
Run on Ubuntu 14.04.4 LTS

#### 5. What did you expect to see?
I did ex

[2016-03-09 19:07] mholt commented on #667
I think I agree, although I wonder if there's a gotcha with just letting a single backend get hammered.

By this do you mean that you issue a request which causes the backend to issue an improper response? Typically, if Caddy gets an error while doing a RoundTrip to upstream, it will return an error thus marking the backend as down.

[2016-03-09 19:09] mholt commented on #666
Silly question, but are you sure? I've never heard of header fields being concatenated like that.

Also, I lied in Slack, since I was going on memory. The `header` directive uses `w.Header().Set(header.Name, header.Value)` which overwrites any previous value; it doesn't use `Add()` to make a potentially duplicate header field.

[2016-03-09 19:12] mholt commented on #613
@jupiter Thanks for heading this up! I'd rather just add the check in one place for simplicity. I think Available() is a good name, too, but the logic will have to be reversed, since Available means the opposite of Down.

[2016-03-09 20:08] stp-ip commented on #667
The proxy could just be used for ssl termination or so and a single backend would be down 10s, if only one error occurs.

The request doesn't seem to issue an improper response from the backend. I am not really sure why caddy marks the backend as unhealthy. I could not reproduce any error with apache. Only caddy did error out, but only when ```max_fails``` was not 0. With ```max_fails``` set to 0

[2016-03-09 20:09] stp-ip commented on #666
I thought I was quite sure, but will check this again with a clean setup and in more detail tomorrow.
Will report back.

[2016-03-09 22:06] tildeleb commented on #358
Sorry I was gone for a few months but now I am back on this. Will investigate rewrite this week and post the results.

[2016-03-09 23:02] mholt commented on #667
@stp-ip If you have Go installed, could we delve into this further? I'd like to know more why a request that succeeds with Apache tricks Caddy into thinking it is down. Not marking the upstream as "down" if there's only one upstream is ancillary, and we can revisit it after we track this down first.

Could you please print the value of `backendErr` above this line: https://github.com/mholt/caddy/b

[2016-03-09 23:05] #658 closed

[2016-03-10 02:55] jet10000 opened #668 "Can support Django deploy?"
Can support Django deploy?

http://www.djangoproject.com

wsgi

[2016-03-10 05:02] mholt commented on #668
You can proxy to uwsgi! From what I hear, that is the most common way to do it.

[2016-03-10 05:02] #668 closed

[2016-03-10 12:36] stp-ip commented on #666
I just triple checked:

My caddyfile:
[code]

Headers before reloading with the headers added:
[code]
Headers with new headers added to caddy:
[code]

```header / -Cache-Control``` <-- header is still there
```header / X-header-usage "true"``` <-- header was successfully added
```header / X-Robots-Tag "redacted"``` <-- was added at the beginning of the header

[2016-03-10 12:42] stp-ip commented on #667
Sure we can dig deeper. I will try to get a clean install and get the backendErr value. Could take me a few days so. Will get back to you.

[2016-03-10 13:28] niv opened #669 "browse: hide dotfiles"
Hi,

I can't find a way to hide dotfiles (.hidden) in caddy's 8.2 default template. (I just grabbed it out of git and configured the browse directive manually).

I've tried messing with ```{{if (.Truncate .Name 1) ..``` to see if it starts with a dot, but I can't figure the syntax and caddy doesn't give any parser/error messages at all except 503.

Please advise. :)

[2016-03-10 16:24] 1lann commented on #669
Using
[code]
Works for me.

[2016-03-10 16:51] andreimarcu opened #670 "Except in fastcgi directive"
After seeing that location blocks aren't a thing yet I came across the "except" clause of the proxy directive. That seems at the most basic level something that would work in the meantime, however I was surprised to see that it doesn't exist for the fastcgi directive. Is there a specific reason for this or can it be a quick fix?

[2016-03-10 18:10] niv commented on #669
Thank you very much!

[2016-03-10 18:10] #669 closed

[2016-03-10 18:45] mestaritonttu commented on #472
I tried the above example and I get Access denied when trying to access my site. Yet, pwFoo and another PW user in the PW forums say that works for them.
Serving PHP in a simple way works, static files work, but that PW config file does not work with PW.

The error log below has me accessing the site root and then accessing index.php.

[code]

How could I troubleshoot this?
I did try temporarily s

[2016-03-11 14:58] marco-jantke commented on #666
I had a look together with @DirtyHairy into the issue with and the related code, the proxy and headers middlewares. Based on that knowledge I can not understand the case you describe. I also did setup a sample scenario and can not reproduce the behaviour but experience a quite different one. Which version of caddy do you use? I tried the stuff with the latest master version.

In general I think th

[2016-03-11 18:48] rushmorem commented on #661
I don't know how I overlooked `LoadCaddyfile()`. I was aware of `caddy.Input`. My `Config` was simply implementing it. I have since discovered `caddy.CaddyfileInput` so I'm now using that instead. My `Config` is still an alias type of `caddyfile.Caddyfile` though since I'm currently marshaling the struct to JSON and then using `caddyfile.FromJSON()` to convert it. I have been reading the wiki and

[2016-03-11 18:48] #661 closed

[2016-03-11 19:41] mholt commented on #661
I've made a new wiki page in an effort to make it more obvious: https://github.com/mholt/caddy/wiki/Embedding-Caddy-in-your-Go-program

Cheers!

[2016-03-11 21:04] rushmorem commented on #661
Awesome, thanks!

[2016-03-13 09:28] aek opened #674 "XSS and SQL Injection Protection"
It would be great to have protection from XSS and SQL Injection attacks built into Caddy. Similar as the project [NAXSI](https://github.com/nbs-system/naxsi) is doing for Nginx with a rule based system.
I open this ticket to track this feature in Caddy. I don't know yet how to code in Go but I will jump into that lang to know how to built more features to Caddy if is need it. Perhaps someone could

[2016-03-13 10:50] miekg opened #675 "Re-enabling prometheus middleware after restart"
_If you are filing a bug report, please answer these questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!_
#### 1. What version of Caddy are you running (`caddy -version`)?

caddy dev version (build from master)
#### 2. What are you trying to do?

Re-enabling the prometheus handler after a restart (SIG

[2016-03-13 11:33] stp-ip commented on #666
Thanks for testing. I think it validates what I saw.
Headers are not removed from a proxied source.
Headers are not overwritten from a proxied source.
Headers are duplicated or added. (depends on the client, if it is seen as a duplicate header or the headers get combined)

I think this is in my opinion a case of "now working as one would expect".

[2016-03-13 13:58] kidwm opened #677 "How to proxy Server Sent Events?"
I used a nodejs backend to offer event source, but failed to access it through Caddy proxy.

Is it possible to do this way in Caddy server?

[2016-03-13 16:50] mholt commented on #675
Ohh, your add-on opens a new port and does its own listening. Is there a way to serve prometheus metrics at a path on an existing listener? In other words, to set up a Handler rather than having to start a whole HTTP server? That'd be preferable, I think.

[2016-03-13 16:57] miekg commented on #675
The problem with re-using another listener is that you want to protect your metrics. I might have taken a shortcut here, but just listening on localhost (and nothing else) is safest. Other use cases would include listening on a private address just for monitoring.
IOW: there are use-cases where you want to start a new listener, I think. Even though it is possibly to protect with other means (passw

[2016-03-13 16:58] mholt commented on #675
Okay, so basically, you need a callback like Restart() so that you can close your listener. Would that do?

[2016-03-13 17:07] miekg commented on #675
yes, but I wonder why `Shutdown` is not called for middleware on these restarts?

[2016-03-13 17:08] mholt commented on #675
@miekg Because that's just how I decided it should work. A restart is technically not a shutdown, especially on Unix. Users would not equate Shutdown with Restart/Reload. For example, if you use the `shutdown` directive, it is executed only when the server is stopped, not when you reload it. Other middlewares rely on startup and shutdown being executed only when the server first starts and finally

[2016-03-13 17:09] mholt commented on #674
Cool idea, could be related to #312.

[2016-03-13 17:12] miekg commented on #675
Ok, fair enough, I Restart hook makes a lot of sense. Hopefully other middleware would find this useful as well.

[2016-03-13 19:30] johntopley opened #678 "Markdown files not named index return HTTP 404"
Hi,

I've just started converting my pure HTML blog over to Caddy using the `markdown` and `template` directives with TOML front matter. The issue I'm having is that files I've named `index.md` are served fine, but Markdown files with different filenames return an HTTP 404.

These files are in a nested `blog/yyyy/mm/dd` folder structure and have a permalink style filename e.g. `custom-url-scheme.m

[2016-03-13 19:37] mholt commented on #678
If you want the .md extension to be implicit, you can use `ext .md` in your Caddyfile. See the [ext directive](https://caddyserver.com/docs/ext). Index files are a special case, where `index.md` files are tried if a directory is requested.

[2016-03-13 19:55] johntopley commented on #678
Ah, of course! So simple. Thanks Matt.

[2016-03-13 19:55] #678 closed

[2016-03-13 20:39] mholt commented on #195
@vibhavp Could you open a new issue and follow the bug report template? Strip out anything unnecessary for reproducing the bug, and we'll see if that makes it any easier. Make sure you give us enough specific info to reproduce it easily. Thanks!

[2016-03-13 20:43] mholt commented on #619
@1lann That's pretty good, actually. I'll consider that as well.

[2016-03-13 20:45] mholt commented on #643
A little birdie told me this might be because of a change to http.Dir in Go 1.6, and 0.8.2 is the first to be built on Go 1.6. (Something about calling path.Clean.)

[2016-03-14 00:44] aek commented on #677
I'm wondering the same for a Python Odoo module and Chrome App integration. If helps in Nginx I solve it with this directives in the location:

        proxy_set_header Connection '';
        proxy_http_version 1.1;
        chunked_transfer_encoding off;
        proxy_buffering off;
        proxy_cache off;

Maybe the websocket directive it's doing the same??

[2016-03-14 08:50] kaihendry commented on #29
Archlinux has a https://wiki.archlinux.org/index.php/Nginx#fcgiwrap but by default it uses a file socket. I wonder if this can be made to work with Caddy?

[2016-03-14 08:56] kokizzu opened #680 "Caddy doesn't handle static request with additional get when using proxy"
*If you are filing a bug report, please answer these questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!*

#### 1. What version of Caddy are you running (`caddy -version`)?
untracked dev build (latest)

#### 2. What are you trying to do?
curl http://localhost/js/jquery.js
curl http://localhost/js/jque

[2016-03-14 09:59] abiosoft commented on #670
Yeah it can be added but a more universal solution is still in the works.

[2016-03-14 10:10] abiosoft commented on #619
Regarding 1

Can there be some form of global config for directives. For example, the rewrite conditions are bunch of `if` conditions. If `if` can be made global so irrespective of the directive it can be used. So Caddy will override the middleware, translate and handle it before the middleware processes other configs.
E.g.
[code]

[2016-03-14 14:42] mholt commented on #670
I'm wondering if the proxy and fastcgi directives can be combined, so that fastcgi becomes a `preset` just like the `websocket` is. That way, fastcgi gets the benefit of load balancing, multiple backends, etc.

[2016-03-14 14:49] mholt commented on #680
Maybe your backend is returning 404? Can you verify that Caddy itself is producing 404? Also, if you use build.bash, we'll have a better idea what changes have been made to the code and that may aid us in helping you.

[2016-03-14 15:11] kokizzu commented on #680
yes, we have change our backend code so it could handle `?_=` requests, before we use `caddy`, `nginx` is the one that normally handle those kind of requests..

[2016-03-14 15:19] mholt commented on #680
I tried reproducing this without the proxy backend (because, obviously, I don't have the same one you do), and am unable to. Can you cause it to happen without the proxy?

[2016-03-14 15:36] kokizzu commented on #680
this doesn't happened without the proxy.

[2016-03-14 15:54] mholt commented on #680
Hmm, so I made two Caddyfiles. This one:

[code]

And this one as a backend:

[code]

And all requests for static files (and browse, templates, markdown, and others) to localhost:2015 with `?_=` on the URL succeed, no 404s.

I'd recommend checking your proxy configuration and your backend to make sure they're set up properly. Good luck!

[2016-03-14 15:54] #680 closed

[2016-03-14 16:23] Pym commented on #44
@redaready have you found a solution for that use case?

[2016-03-14 23:37] jupiter commented on #115
It seems [nested blocks are not currently supported](https://github.com/mholt/caddy/blob/master/caddy/parse/dispenser.go#L95). Do we want to add the ability to have nested blocks for this? We could break this up into smaller issues such as:

1. Add ability to specify a port range for proxy hosts list, i.e. `proxy / api.backend.mydomain.tld:6001-6020 {`
2. Add a `to` or `backend` argument to a prox

[2016-03-15 00:38] mholt commented on #115
@jupiter Good question... I do hesitate to support nested blocks because more nesting means more state and complexity (something I didn't address earlier in this issue).

Indeed it would be simpler to just add a `to` keyword to the `proxy` directive to add another upstream, or set of upstreams.

Or if it looks weird to see `to` repeated multiple times, we could rename `to` to `upstream`.

[2016-03-16 19:56] #660 closed

[2016-03-16 19:56] mholt commented on #660
Nevermind. Took care of it. Thanks @tw4452852 for the feedback on my PR! @cork, this should be working now on master.

[2016-03-16 20:35] mholt commented on #655
No, since + is not valid in the path portion of a URI; it is not a valid replacement for space. Using `+` as space is only valid in application/x-www-form-urlencoded strings (like query strings). To request a URL like `http://mysite/some+file` is the client's error.

For more info, see https://www.w3.org/TR/html401/interact/forms.html#h-17.13.4.1.

Thanks for raising the question! You probably won

[2016-03-16 20:35] #655 closed

[2016-03-16 20:37] mholt commented on #666
So are we good here? Feel free to close the issue if so, or I will. :smile:

[2016-03-16 20:53] mholt commented on #665
Assuming that worked, closing. :smile:

[2016-03-16 20:53] #665 closed

[2016-03-16 20:54] mholt commented on #649
Closing, due to inactivity.

[2016-03-16 20:54] #649 closed

[2016-03-16 20:57] mholt commented on #611
[This page](http://serverfault.com/questions/517190/nginx-1-fastcgi-sent-in-stderr-primary-script-unknown) says it's due to a wrongly set "SCRIPT_FILENAME" variable. It should be whatever the absolute path to that test.php file is. @jacobmischka We're still having trouble reproducing this, do you have Go installed?

[2016-03-16 21:01] jacobmischka commented on #611
I do yes

[2016-03-16 21:09] mholt commented on #611
@jacobmischka Cool, it'd be helpful if we could see the value of the vars like SCRIPT_FILENAME ([this whole env map](https://github.com/mholt/caddy/blob/4f5fe2de24d965530b03bee5edc01a640c002ce8/middleware/fastcgi/fastcgi.go#L67) would be good) -- I think that'd be a good start.

[2016-03-16 21:11] mholt commented on #497
@hubertbanas @TribuneX Is this still an issue? Apparently ownCloud works (WebDAV stuff included) with latest on master and [some rewrites](https://github.com/mholt/caddy/pull/558#issuecomment-192938105) -- and I've seen log entries myself with 208 and other similar status codes being returned.

Been kind of an idle issue, so I'm assuming it's fixed now.

[2016-03-16 21:19] jacobmischka commented on #611
Well, I haven't looked at this since my last comment, but it's actually working now. Either I needed to reboot after installing php-fpm and I hadn't done that, or I'm an idiot and I forgot to edit the `root` path after moving it out of the non-readable Downloads folder.

![image](https://cloud.githubusercontent.com/assets/3939997/13828896/05bdc030-eb92-11e5-8273-ff9752ae09a8.png)

I am very sorry

[2016-03-16 21:19] #611 closed

[2016-03-16 21:31] mholt commented on #388
@justrjlewis @jungle-boogie @alexbilbie @klingtnet @calebmer @DenBeke (phew!) There is now a folder in [dist/init](https://github.com/mholt/caddy/tree/master/dist/init) where we are assembling "init" scripts. These are not officially part of the project, but if you would like to add your own to that folder (and keep them maintained if they change, please), we'd really appreciate it! Thanks to Davi

[2016-03-16 21:36] klingtnet commented on #388
@mholt Great! I will review my SystemD service file tomorrow and open up PR.

[2016-03-16 21:49] mholt commented on #611
Oh, great to hear :+1:

[2016-03-16 22:28] stp-ip commented on #666
I still think this is unintuative and basically a bug.

For me what needs to happen to see it as resolved would be:

* setting a header should overwrite the header both in proxy and non proxy situations
* removing a header should remove the header both in proxy and non proxy situations
* (optional - feature) adding a method to add, but not overwrite a header as suggested as ```+content-security-po

[2016-03-16 22:57] DirtyHairy commented on #666
I'll take the liberty to chime in :) While I don't have any stakes here, I am the other guy who analyzed the code together with @marco-jantke. Some observations:

 1. If the upstream request succeeds, the `proxy` middleware will return immediatelly without executing `next`, effectively terminating the middleware flow and going back up the stack.

 2. From the position of the `header` middleware in

[2016-03-17 07:30] dprandzioch commented on #388
@mholt I'm happy that this one finally made it into the repository. I'll try create a PR, commenting my init script as soon as possible.

[2016-03-17 09:16] abiosoft commented on #659
The issue is caused by Go's regex. It decodes it back to `#` which then causes it to be treated as fragment and omitted later on.

A way out could be handling `#` and encoding it back if required but that looks hacky.

[2016-03-17 11:47] shytikov commented on #663
I can say that I failed all approaches to dig more information on the situation I'm facing. It seems to be problem is deeper than I thought.

And it seems to be that even `caddy`'s closest rival — `nginx` has exactly the same issues, unless... you buy a special module from them, which actually allows passin-through NTLM to backend. Here is the link to module description: http://nginx.org/en/docs/h

[2016-03-17 11:55] shytikov commented on #663
Can someone help me to investigate and formalize the problem, so it would be easier to fix?

I believe it's something to do with `TCP` connections. `Caddy` re-instantiate connection to upsteam every time, and due to `NTLM` nature, these connections should be authenticated over and over again.

It should be a way how to prevent this type of behavior. For sure `nginx` and `Fiddler2` can do that. The

[2016-03-17 20:07] hubertbanas commented on #497
Nope, still not working. Just tested it with 4f5fe2de24d965530b03bee5edc01a640c002ce8.

[code]

Working nginx config
[code]

Caddyfile
[code]

[2016-03-18 00:28] mholt commented on #663
I'm afraid I'm a bit in over my head here, knowing nothing about NTLM. Is NTLM an entirely different protocol over TCP from HTTP?

[2016-03-18 06:08] abiosoft commented on #659
This should be fixed now.

Thanks.

[2016-03-18 06:08] #659 closed

[2016-03-18 08:15] shytikov commented on #663
@mholt please don't get me wrong :) I need some support in understanding `caddy` internals, not `NTLM` ones :) I'm quite new to `Go` through I was working with `NTLM` quite a white. Even on more or less low level.

I'm more afraid, that I will hit problems with `HTTP/2` or will implement something that is strictly against standard :) And first thing that concerns me is it all possible to achieve a

[2016-03-18 08:26] abiosoft commented on #663
Do you have a configured NTLM server anywhere publicly accessible that I can test with? If yes, then can you give pointers on what I should look for?

[2016-03-18 11:25] hubertbanas commented on #497
Can we have this issue re-open so it doesn't go under the radar?

[2016-03-18 12:09] wmark commented on #191
Hashing files will be a no-go on installations with lots of, or some very large files: It will slow down the start considerably.

[2016-03-18 14:18] mholt commented on #663
@shytikov I dunno the answer to your question of "Is it even possible" because I don't know anything about NLTM, that's what I mean. But I can point you to some places in Caddy's code if you want a look.
(Keep in mind I'm using permanent links here, actual code may have changed since.)

- https://github.com/mholt/caddy/blob/6b801b111b1202a4e492ac8679f9255f62e9522d/middleware/proxy/proxy.go#L122 -

[2016-03-18 20:22] weingart commented on #191
I've got the start of something for this.  Hope to submit before the weekend is out.  :)

[2016-03-18 21:45] #610 closed

[2016-03-19 17:53] marioidival commented on #665
Sorry to delay, with views that worked, but the calls to `/api` not work now.

[2016-03-20 01:12] mholt commented on #670
Actually, nix the idea of combining fastcgi and proxy.

@abiosoft Do we still have a 'universal' solution in the works? If it's what I'm thinking, we nixed that idea too. :smile: Maybe we should just have somebody add `except` to this directive.

It should be able to appear multiple times so users can add more than one path exception.

[2016-03-20 17:39] SoreGums opened #688 "Websocket fails with rancher"
#### 1. What version of Caddy are you running (`caddy -version`)?
0.8.2

#### 2. What are you trying to do?
proxy https://github.com/rancher/rancher

#### 3. What is your entire Caddyfile?
[code]

#### 4. How did you run Caddy (give the full command and describe the execution environment)?
./caddy (Caddyfile in current dir with caddy)

#### 5. What did you expect to see?
I expected the backend app

[2016-03-20 19:52] abiosoft commented on #670
This has been implemented. It will be available in the next release or now if you build from source.

[2016-03-20 19:52] #670 closed

[2016-03-20 20:53] mholt commented on #613
#664 just landed - thanks!

[2016-03-20 20:53] #613 closed

[2016-03-20 20:55] mholt commented on #594
@edrex Any updates with this? I'll probably ask for others to help look into this as I'm unable to do so at the moment.

[2016-03-20 23:04] arthurkay commented on #688
Can confirm that I was having this same issue when trying out Rancher.

[2016-03-21 01:45] mholt commented on #666
@DirtyHairy: 1) is intended behavior. You may be right about 2), about how header needs to do its processing after the call to Next.ServeHTTP() rather than before. And 3) is just a decision I made early on, figuring it should replace rather than add.

[Duplicate header fields *are* apparently allowed](http://stackoverflow.com/questions/4371328/are-duplicate-http-response-headers-acceptable) as lon

[2016-03-21 03:56] #531 closed

[2016-03-21 03:56] mholt commented on #531
@pwFoo Happy Birthday, this will go out with the next release of Caddy, or you can use it now by building from source. :+1: The placeholder you can use in your log format is `{upstream}`.

[2016-03-21 04:08] mholt commented on #577
I know we have a prometheus add-on now (thanks @miekg!) -- so did we conclude that it's basically not worth it to try to implement a generic stats add-on, that each one should be custom to the provider?

[2016-03-21 04:11] mholt commented on #667
Have you had a chance yet to find out what backendErr is? (If backendErr is not nil, it returns a nil error value. Perhaps we should return backendErr instead so it gets logged in the error log. What do you think?)

[2016-03-21 04:17] mholt commented on #388
Yay, we've got two now.

I also welcome discussion on how to improve getcaddy.com without getting too crazy about it. :smile:

I'm going to close this issue. Feel free to continue the discussion though, and remember that you can add your own scripts to dist/init! Pull requests welcome.

[2016-03-21 04:17] #388 closed

[2016-03-21 04:18] #395 closed

[2016-03-21 04:25] mholt commented on #395
@dencold What's your availability look like as far as contributing? I'll help onboard you.

@wafture Should those be in this repo or something separate? I know nothing when it comes to this stuff. :smile:

@hubertbanas Are you still interested in contributing again? If so, I'll give you push rights so you can help with issues and PRs when you can.

@dprandzioch and @acmacalister Thanks for your co

[2016-03-21 04:29] mholt commented on #416
I propose `-restart=inproc` to force in-process restarts. All in favor, say aye! And submit a pull request :smile: (unless there is a better solution from anyone)

[2016-03-21 04:32] mholt commented on #352
This will always be a thorn in the side, so I'm just going to close this issue. I guess we're good enough for now.

[2016-03-21 04:32] #352 closed

[2016-03-21 04:37] mholt commented on #348
Related reading: #666

[2016-03-21 04:48] mholt commented on #344
Maybe auth should be a separate middleware (smaller, simpler middleware are good). See #246 and #109 for that.

A Caddy file manager seems like an appropriate add-on to have, though, at yours or anyone's leisure. :smile:

[2016-03-21 05:02] mholt commented on #366
@hunter @jbeda Have you seen #564? That's pretty close to what you're thinking of, no?

[2016-03-21 05:08] tpng commented on #416
I will create the pull request today, hopefully!

[2016-03-21 07:54] SoreGums commented on #619
**re point 3:**

So having chatted with someone in gitter, nginx has full blown conditional config parser per request, this is particularly useful when wanting to cache wordpress with plugins.

See this [rocket-nginx conf file](https://github.com/maximejobin/rocket-nginx/blob/master/rocket-nginx.conf):

- able to set variables
- then use that info later to populate headers or conditions on if stat

[2016-03-21 08:06] SoreGums commented on #344
separate auth +1 _(you get an auth, you get an auth, every middleware gets an auth)_

nearly getting to the point where I really want this. however have a couple of other things I want to work first _(nothing to do with caddy, involve the same files that eventually get served by caddy)_

re-thought the rename functionality, it needs to be able to move files around the current filetree. example:

-

[2016-03-21 08:50] stp-ip commented on #667
Not yet unfortunately. But it's not forgotten. ;)

[2016-03-21 11:22] hubertbanas commented on #395
Absolutely. I will try to help as much as I can.

[2016-03-21 12:58] Unknwon commented on #395
Go go go! :blush:

[2016-03-21 14:56] mholt commented on #344
No, no PHP. :-1: It can be written in Go. :wink:

[2016-03-21 16:24] jbeda commented on #366
Very cool -- would be great to get it hooked up end to end w/ k8s after that PR gets merged.

[2016-03-21 16:41] edrex commented on #594
I haven't had a chance to go further. I think a good start would be to look into why `proxy` doesn't work with endpoints provided by Caddy's `websocket` directive.

[2016-03-21 16:44] edrex commented on #688
See discussion on #594 (muddled). Proxy is also not working with endpoints provided by Caddy's `websocket` directive. Might be the same cause.

[2016-03-21 16:45] mholt commented on #594
Hmm, you know `proxy /echo1 upstream/echo {without: /echo1}` isn't a valid syntax, right? I assumed this was just a shorthand representation but that won't work in a real Caddyfile, at least not the way you expect.

[2016-03-21 16:45] mholt commented on #688
@edrex When you say "websocket directive", are you referring to the [websocket directive](https://caddyserver.com/docs/websocket)? Or the websocket preset in the [proxy middleware](https://caddyserver.com/docs/proxy)?

[2016-03-21 18:32] #416 closed

[2016-03-21 18:38] #384 closed

[2016-03-21 19:35] bprashanth commented on #366
I think the gap that caddy would fill nicely is if there's an existing Ingress controller backed by, say haproxy, that wants real certs with the least amount of hassle. One way to address this (instead of making caddy listen to something like etcd and do things haproxy might be better suited for) is to have a caddy controller that just acquires certs for Ingresses like:

[code]

A cluster wide cad

[2016-03-21 19:38] bprashanth commented on #366
Or we make a caddy sidecar that one can add to any existing Ingress controller in https://github.com/kubernetes/contrib/tree/master/ingress/controllers

[2016-03-21 19:57] mholt commented on #366
Caddy's not a certificate daemon/manager; for that, you want either lego, [acmetool](https://github.com/hlandau/acme), or the planned certs/certsd tools I intend to write.

[2016-03-21 19:57] edrex commented on #594
yeah, upstream was meant to be shorthand for "http://somedomain", but it
wasn't clear

On Mon, Mar 21, 2016 at 9:45 AM, Matt Holt <notifications@github.com> wrote:

[2016-03-21 20:01] bprashanth commented on #366
Yes that's what I suspected you'd say. Well, a kubernetes backend for caddy would still be cool. I'm willing to help with the Kubernetes bits if anyone is willing to drive the effort.

[2016-03-21 21:05] edrex commented on #594
I made a test case for `proxy { websocket }` `=>` `websocket` and couldn't reproduce the issue I had previously reported, so it looks like it was probably an error on my part.

Test case:

https://gist.github.com/edrex/7af8da336fbd1ec6a2f9

[2016-03-21 21:08] edrex commented on #688
@mholt I made a test case and couldn't reproduce the problem, see https://github.com/mholt/caddy/issues/594#issuecomment-199485675. Now it appears proxying to the Caddy websocket directive works fine.

[2016-03-21 21:10] edrex commented on #688
@SoreGums I've also been unable to get some real-world websocket endpoints to work with the proxy directive (specifically https://github.com/magne4000/quassel-webserver and http://cockpit-project.org).

[2016-03-21 21:48] bep commented on #325
See https://github.com/spf13/hugo/blob/master/livereload/livereload.go

Doing explicit reolad of a given CSS or image works beautiful ... the browser just magically refreshes with no "hard reload".

[2016-03-21 21:52] mholt commented on #594
Sounds good, thanks.

[2016-03-21 21:52] #594 closed

[2016-03-22 02:04] SoreGums commented on #344
haha - i mean they already exist, if a full on file manager is required, use an [existing one](http://extplorer.sourceforge.net/) :)

[2016-03-22 12:54] dncohen opened #690 "`go get` fails on fedora due to elliptic.P224"
I'm brand new to caddy, and almost as new to golang, so please forgive me if this is a FAQ.

My problem is this on fedora23:

[code]

A little searching tells me the dependency is omitted on fedora due to a patent issue.  But the searching has yet to turn up a workaround.

I'm wondering if this dependency could be made optional in Caddy?

It occurs to me possibly the change has to be in crypto/ocs

[2016-03-22 13:19] dncohen commented on #690
Ok, so I did I miss the "You will need Go 1.6 or newer." in the README.md

In case it saves any fedora users some time... first `sudo dnf remove golang`, then follow instructions on https://golang.org/doc/install, which are simple and clear.

Then `go get -u github.com/mholt/caddy/caddy` will succeed.  (Although does not create a $GOPATH/bin/caddy.  Haven't figured that out yet.)

[2016-03-22 13:19] #690 closed

[2016-03-23 02:56] meepeek opened #692 "Need advice for secure link, streaming server"
I want to make a website like udemy and I will need a streaming server that has token feature (I am looking into nginx secure link then see this project on the way but I cannot find the feature in your list) Please give me some advice.

[2016-03-23 05:23] shurcooL commented on #677
In order to support server sent events going through an `httputil.ReverseProxy`, I had to do one thing, set a non-zero value for [`FlushInterval`](https://godoc.org/net/http/httputil#ReverseProxy.FlushInterval).

See example [here](https://gist.github.com/shurcooL/d3b1c1c2215bf5b34190/8aa40214c7e18f7767cd691b832d9c7bd3f5638e#file-main-go-L83).

[2016-03-23 05:57] mholt commented on #677
@shurcooL Ha! I remember when you showed me that code when you first wrote it. I was actually looking at that struct field but wasn't quite sure if it was the culprit, and I haven't had the time to investigate it right now.

Would somebody please try it? Here is the value to set: https://github.com/mholt/caddy/blob/f1ba7fa34353682b15a2e15d10b15413d60a6c12/middleware/proxy/reverseproxy.go#L47 - try

[2016-03-23 06:11] mholt commented on #692
I imagine you're referring to this: http://nginx.org/en/docs/http/ngx_http_secure_link_module.html. Caddy doesn't currently have secure link features. This would make a good add-on, though. Anyone is welcome to make it!

[2016-03-23 07:04] meepeek commented on #692
Does Caddy do mp4 streaming out of the box ?

[2016-03-23 08:07] meepeek commented on #692
I serve an mp4 file and it just works somehow.

[2016-03-23 10:09] Luit commented on #677
It surprises me that your Nginx configuration turns chunked-encoding _off_ @aek, because I'd expect it to be necessary (or at least preferential) for SSE. If you'd want this to work in Caddy, I think you'd need to convince it to flush data as soon as it comes in from the destination connection. I think the parts of the above Nginx config that make it work there are `proxy_buffering off;` and `prox

[2016-03-23 10:09] Luit commented on #677
ha, didn't refresh this page in a while, it seems I'm late to the party...

[2016-03-23 10:11] Luit commented on #677
I think you could set it here, just to make sure setting the value fixes it: https://github.com/mholt/caddy/blob/f1ba7fa34353682b15a2e15d10b15413d60a6c12/middleware/proxy/reverseproxy.go#L102

[2016-03-23 14:01] dragon2611 opened #693 "IP Filter does not accept single ip's and ranges"
*If you are filing a bug report, please answer these questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!*

#### 1. What version of Caddy are you running (`caddy -version`)?
0.82

#### 2. What are you trying to do?
Add both single IP's and ranges to IP filter as per documentation.

#### 3. What is your

[2016-03-23 14:49] mholt commented on #693
Hi, this is an add-on which we do not maintain; please file this issue in [the add-on's repo](https://github.com/pyed/ipfilter). Pyed will be able to help you better.

[2016-03-23 14:49] #693 closed

[2016-03-23 14:51] mholt commented on #692
You can serve "static" files out of the box, yes, so if the mp4 file is just sitting on disk and you want people to be able to download it, Caddy can definitely do that.

[2016-03-23 14:52] dragon2611 commented on #693
Apolagies, refiled to correct repo.

[2016-03-23 15:02] mholt commented on #677
Aye, that should do it! ^ If somebody who has a SSE backend would like to set that value and report how it goes, that would be fantastic. If that works, then we can make plans to implement a fix in Caddy.

[2016-03-23 21:52] mholt commented on #109
Closing this in favor of #246 which is a little more general and also has further discussion on the same topic.

[2016-03-23 21:52] #109 closed

[2016-03-23 21:55] mholt commented on #246
As of today, @captncraig is working on an OAuth add-on. And it looks like it'll be amazing. :+1: I do not believe JWT is part of it, however, so perhaps that should be part of a separate add-on? (I prefer small and simple middlewares.)

[2016-03-24 14:09] mwmahlberg opened #694 "SIGTERM should call shutdown callbacks on POSIX systems"
#### 1. What version of Caddy are you running (`caddy -version`)?
Caddy 0.8.2

#### 2. What are you trying to do?

When calling `kill <caddypid>`, as it basically would be done by initscripts, SIGTERM is sent to caddy.
In this case, the `shutdown` directive does not get executed, potentially leaving processes open.

#### 3. What is your entire Caddyfile?
[code]

#### 4. How did you run Caddy (give

[2016-03-24 14:45] mholt commented on #694
Hi, thanks for the detailed report!

This is not a bug, SIGTERM is defined as a forceful stop. If you want to stop gracefully and execute shutdown hooks, use SIGINT. https://caddyserver.com/docs/cli#signals

[2016-03-24 14:45] #694 closed

[2016-03-24 15:27] mwmahlberg commented on #694
This is exactly my point: SIGTERM is used by almost all init systems to signal the request for a graceful shutdown, and is defined this way in POSIX, unless I am mistaken here.

[2016-03-24 15:39] mholt commented on #694
nginx uses TERM as a "fast" shutdown: http://nginx.org/en/docs/control.html

[2016-03-24 15:44] mwmahlberg commented on #694
Admitted. But also

The problem arises from the fact that Caddy ignores the signal on behalf of the process started with `startup` and presumably shut down with `shutdown`, in effect.

[2016-03-24 16:07] mholt commented on #694
It doesn't ignore the signal, it just does a forceful shutdown, as documented. Use SIGINT to execute shutdown hooks, and it should stop your fcgiapp just fine. :blush:

[2016-03-24 16:32] mwmahlberg commented on #694
Well, as said before, that defies the standard shutdown procedure most init systems follow:

 1. `Shutdown Script ` – graceful
 2. `SIGTERM` – graceful as per POSIX and SUS, may be ignored if no graceful shutdown needed, something that Caddy can not decide for dependent processes it spawned, imho
 3. `SIGKILL` (hard)

And hence, it is problematic not allowing the user to have dependent processes s

[2016-03-24 17:09] mholt commented on #694
I think it depends on the program. For example, nginx *does* spawn processes and TERM is a fast shutdown.

No, it doesn't. Just use SIGINT instead of SIGTERM.

[2016-03-25 05:17] BTBurke commented on #246
I'm done with the JWT validation middleware.  The tests look good.  I haven't head time yet to add it to the list of middleware handlers or work up the docs but will do that very soon.  If you have a minute, would appreciate a look at it.

https://github.com/BTBurke/caddy-jwt

[2016-03-25 05:32] mholt commented on #246
@BTBurke Wow! :+1: Looks fantastic!

Is it normal for the JWT headers to start with `X-`? If I recall correctly, the prefix for "non-standard" headers [was deprecated](https://tools.ietf.org/html/rfc6648). (I'm not familiar with JWT so if that's part of a spec, then no worries.)

Your return values in ServeHTTP look good. Really glad to see tests too.

[2016-03-25 05:38] BTBurke commented on #246
Passing the claims as headers isn't really a normal thing to do.  If they are going to parse the token  to get the claims using a library in their downstream application then they don't really need Caddy to handle the JWT auth step since they might as well validate the token while they are at it.

I figured passing claims as headers would be the most user friendly way for someone to act on the cla

[2016-03-25 05:46] mholt commented on #246
Sure, yeah, using headers is fine, I only recommend dropping the `X-` prefix. :smile:

[2016-03-25 05:57] BTBurke commented on #246
Easy enough.  I'll work on the docs this weekend.

[2016-03-25 05:58] jnflint commented on #246
Looks good, thanks for the contribution.
I note that you will pass on the JWT with r.Header.Set("X-Token", vToken.Raw)
Just wondering if this is necessary? I am new to Caddy and not yet using it but does it strip the existing headers (or cookies) before passing to downstream? I would have assumed the authorisation header would pass through for any applications that can deal with that themselves so

[2016-03-25 06:01] BTBurke commented on #246
yeah that's true, didn't think about it that way.  My thought was that since there are three ways to pass the token in the first place, it would be good to have it in one place you can always look.  But, you also probably know how you passed the token so maybe it's redundant.

[2016-03-25 06:36] BTBurke commented on #246
Also planning on adding one enhancement before the pull request.  The biggest win would be to let authorization be dependent on the value of a claim.  For example, securing a path based on the value of the username or role.

BTBurke/caddy-jwt#1

[2016-03-25 14:54] mholt commented on #246
@BTBurke Very cool -- I see your pull request to add it to the build server. We still need docs for the site, but I see your readme is pretty thorough. Are you working on docs already, or would you like me to help with them, just taking what your readme says?

[2016-03-25 15:17] captncraig commented on #246
I'm curious how you actually generate jwt tokens. This can handle them, and it looks pretty straightforward, but how do you actually log in and create the token?

[2016-03-25 15:32] BTBurke commented on #246
@mholt I just submitted a pull request for the docs.  It's basically the same as what's on the readme.

@captncraig this only handles the authorization piece.  You'd still need something to handle authentication and issuing the token elsewhere.  Since that would normally be interacting with a database of users, it's probably beyond the scope of this middleware.

You could create some other kind of

[2016-03-25 16:26] Xe commented on #246
I am very interested in this. Please merge.

[2016-03-25 17:45] mholt commented on #246
@Xe I've merged @BTBurke's JWT middleware, just waiting to hear back about one small question before I deploy.

[2016-03-26 04:16] mholt commented on #246
@Xe The jwt middleware is now live. https://caddyserver.com/docs/jwt

[2016-03-26 13:22] eiszfuchs opened #695 "`root` for static files, `proxy` for the rest (same root)"
#### 1. What version of Caddy are you running (`caddy -version`)?
Caddy 0.8.2

#### 2. What are you trying to do?
I was trying to finally switch nginx to Caddy on my production server.
Most of the old configurations, I was able to re-write. Except this construct:

[code]

What *should* happen is that the first try is against static files in the root folder, passing non-static requests to the proxy

[2016-03-26 13:38] eiszfuchs commented on #695
Off topic for the curious: For a full switch, I also needed something described in https://github.com/mholt/caddy/issues/167.
That's the full scenario:

[code]

This case isn't possible with `except`.
But I guess I'd have wait for https://github.com/mholt/caddy/issues/619 to come to a conclusion, since that's exactly the topic discussed there if I read that correctly.

[2016-03-26 14:04] abiosoft commented on #695
The full scenario is actually easier since assets has its own folder, this should do. May I ask why it is not possible with except? That regex is not complex, the captured group is not used and caddy's default static path matching should be enough for it.
[code]

For the first scenario, you can do something like this.
[code]

[2016-03-26 14:46] eiszfuchs commented on #695
The reason I'm so unsure about everything at the moment is because both cases are for third-party Ruby applications. I want to turn them off in a few months (or so) anyway, but I need to keep them alive until I notices potential users.

The `rewrite` trick is pretty neat, thank you. Might have to replace `/proxy` with something only machines would use, but yeah, that would work - except for my exa

[2016-03-26 14:58] mholt commented on #695
What if you change that `to` line to:

[code]

[2016-03-26 15:26] abiosoft commented on #695
He only wants to try files judging from the nginx config. Also, `{path}` is preferred for file existence as `{uri}` may contain query string.

[2016-03-26 15:41] mholt commented on #695
Oh, great point.

[code]

[2016-03-26 16:00] eiszfuchs commented on #695
Nah, both versions don't work. I suppose because `/` actually *is* existent, but I didn't allow `browse` to happen, so Caddy will 404 that page, since that's what Caddy does in this case.

[2016-03-26 16:05] abiosoft commented on #695
If that's the case, let's add one more condition for base path. Sorry, it's gets uglier :expressionless:.
[code]

[2016-03-26 16:08] eiszfuchs commented on #695
That works!
I actually *had tried* this already in my Caddyfile after sending that comment, but when I saw your reply, I figured the order of the rules is kinda important. D'uh.

[code]

Don't worry about the file getting ugly, as I said, these projects are soon gone for good, and even * that* is *much* cleaner than the original 200-lines long nginx config file for each of them (SSL/TLS with nginx

[2016-03-26 16:18] abiosoft commented on #695
There is another approach you may like. This requires you to have the static files in a subfolder e.g. assets.
[code]

Yes, the order is very important and that is why the wildcard must be the last. This won't be the case forever, we are looking at a solution.

[2016-03-26 16:21] eiszfuchs commented on #695
If those were projects of mine, I could easy make a `static` folder (in fact, I do in my projects).
Will keep that in mind and will stay around because I expect changes to Caddyfile syntax anyway since we're pre-1.0. Let's pray for the best when I switch off nginx. :smiley:

Hope others can benefit from this conversation, too.
Anyway, thanks for beeing so supportive! :beers:

[2016-03-26 16:29] abiosoft commented on #695
Glad we found a way out. You're welcome.

I assume it is safe to close this now.

[2016-03-26 16:29] #695 closed

[2016-03-26 16:30] eiszfuchs commented on #695
Yeah, it is!

[2016-03-26 20:31] mholt opened #697 "Clean up ineffectual assignments"
I've added a new command to the CI test scripts, ineffassign, which checks for any ineffectual assignments (assignment operations that end up seeing no use). We have [a number of these](https://goreportcard.com/report/github.com/mholt/caddy#ineffassign) in existing code that are now causing the CI tests to fail. Would be great if somebody -- preferably somebody new to Go or new to this project --

[2016-03-26 21:35] weingart commented on #690
go test github.com/mholt/caddy/...
go install github.com/mholt/caddy/caddy

-Toby.

On Tue, Mar 22, 2016 at 6:19 AM, dncohen <notifications@github.com> wrote:

[2016-03-26 23:29] #697 closed

[2016-03-28 02:11] mholt commented on #327
What I'm gonna do is make the syntax `https testing` (I probably will rename the `tls` directive to `https`) and it will just generate the cert in memory and use that, discarding it when the server quits or is restarted. I don't think a subcommand is necessary since openssl does a better job of it.

[Chrome has a flag](chrome://flags/#allow-insecure-localhost) you can set to disable warnings for s

[2016-03-28 05:12] tgulacsi commented on #692
I think the "jws" module is a better (at least more complaint) alternative, which provides the link secure feature, too. But if needed, an nginx-compliant secure link feature can be implemented, too.
(It is just the URLSafe-base64 encoded string of MD5 of the "<timestamp><path><client IP>" string, appended to the link as "?md5=<md5>&expires=<timestamp>")

[2016-03-28 09:29] manojlds opened #700 "Caddy as a Forward proxy?"
Can I use Caddy to load balance / rotate across a bunch of proxies that I use?

Essentially, I would like the following curl request:

[code]

to use my set of proxies, rotated behind `localhost:2015`, which is my Caddy instance.

[2016-03-28 13:10] arthurwhite commented on #700
The [`proxy`](https://caddyserver.com/docs/proxy) directive does it.

Your `Caddyfile`:
[code]

[2016-03-28 18:56] mholt commented on #692
Good point; [`jwt`](https://caddyserver.com/docs/jwt) is a little more 'standardized' way of doing it. I'll close this issue then, in favor of that plugin, but if somebody still really wants secure link like nginx does it, you're welcome to write the plugin to do it.

[2016-03-28 18:56] #692 closed

[2016-03-28 22:57] jsimonetti commented on #663
Afaik, when using NTLM, once the authentication of the client is done, the TCP connection needs to be kept alive. This means that any proxy will need to keep both its client facing connection and the server one alive.

[2016-03-29 01:56] robotiv opened #701 "TCP proxy / SSL terminator"
Hi,

Great project! I looked through the documentation but couldn't find a way to use caddy as a dumb ssl terminator or transparent proxy. The 'proxy' option strictly matches the 'from' field to forward to a backend. Is there any way to use caddy to match the incoming request based on SNI field, strip off the SSL, and then proxy the rest of the request to the given backends without any further act

[2016-03-29 02:57] captncraig commented on #701
Caddy is currently a full http server, not a tcp server. It would be rather difficult to have it do raw connection proxies. I would probably recommend nginx or other similar software for that purpose.

[2016-03-29 03:34] mholt commented on #701
@robotiv You can do this, I think, unless I misunderstand what you mean.

[code]

Or whatever. You can specify as many sites/hostnames as you need to.

[2016-03-29 10:29] alfiepates opened #702 "Establish a canonical caddy site/Caddyfile location"
At the moment, Caddy docs don't recommend any particular location to store the site, leaving it up to the user's discretion. While this is fine for dev environments, for production sites a "canonical" location would be preferred, especially where Caddy is being run as a service.

 I propose the following, where `SITENAME` is the name of the caddy site being served, and `Caddyspec` is a hypothetica

[2016-03-29 11:57] manojlds commented on #700
@arthurwhite that's something I tried before asking this. It doesn't work, and in my case I get a 400 Bad Request from proxy servers I am using.

My `Caddyfile` is exactly what you mentioned, and I did a

[code]

My working haproxy configuration:

[code]

[2016-03-29 12:38] adambalogh commented on #115
Hi, I'm fairly new to this project, but I'd love to contribute! If this issue is still relevant, I'd be happy to work on it.

[2016-03-29 13:02] arthurwhite commented on #700
In Caddy, only `websocket` and `browse` middlewares can potentially send a `400 Bad Request` code.
So I suppose it comes from your proxies.

Did you enable error logs in your `Caddyfile` to see that clearly?

[code]

[2016-03-29 13:28] mholt commented on #115
@adambalogh Yes, it is definitely still relevant :+1: Please do it! You may join us in [gitter chat](https://gitter.im/mholt/caddy) if you'd like to talk about it or have any questions.

[2016-03-29 13:30] mholt commented on #700
@manojlds I don't really understand what the `-x` flag does under the hood, but yeah, enable error logging as Arthur suggests and let's see if we can figure this out. (Caddy isn't meant to be a "forward" proxy but I wonder if it's not that different.)

[2016-03-29 16:03] arthurwhite commented on #700
That's the answer!

As described in [RFC 2616, Section 5.1.2](https://tools.ietf.org/html/rfc2616#section-5.1.2), a proxy needs to receive an absolute URI in the HTTP request line. That's what the `-x` flag does.

But since the Caddy's *proxy* middleware is a **reverse** proxy and not a **forward** proxy as you said, it does nothing with the with the `RequestURI` field from the original `*http.Req

[2016-03-29 19:37] ricardson opened #703 "Fedora 23 + PHP-FPM"
Hi all,

  Iḿ doing some tests with caddy + php-fpm, in a "vagrant" enviroment and I did:

1 - installed php-fpm
2 - start the php-fpm (systemctl start php-fpm)
3 - the default php-fpm configuration is socket (listen = /run/php-fpm/www.sock)
4 - I have "index.php" to test
5 - My Caddyfile

http://0.0.0.0
gzip
browse
markdown /blog
ext .html .php
log logs/access.log
errors logs/errors.log
header /

[2016-03-29 19:47] abiosoft commented on #703
Does php-fpm have access to the source files ?

[2016-03-29 21:09] abiosoft commented on #703
The most common case of this error is when the user running php-fpm does not have read access to the source files. I hope the owner of the source files is not root.

[2016-03-29 21:21] p4tin commented on #697
I would love to take this on.

[2016-03-29 22:23] p4tin commented on #666
If I get this right the consensus from the above discussions was these test cases for headers (proxied or not)

1. header / name value  (caddyFile config - name only)
	- if exists replace
	- else create
1. header / -name (caddyFile config - '-' before the name)
	- remove header always
1. header / +name value (caddyFile config - '+' before the name)
	- if exists add value to current header with a c

[2016-03-29 23:14] mholt commented on #666
I like it, but maybe we should hear back from @stp-ip to see if that's agreeable with what he was asking about too.

Remember, this will be inside the proxy directive only, so we'll have syntax like this: `proxy_header Name Value` instead of `header / Name Value`.

[2016-03-30 00:24] wmark commented on #344
Could make it to one of the next versions of #249. For our notes, from WebDAV:

[code]

[2016-03-30 00:30] wmark commented on #249
Mirrored to https://github.com/wmark/caddy.upload

I am currently wondering
 * if the global uploads location is the way to go
 * how I can persist goroutines between Caddy's restarts (for holding and expiring locks)

[2016-03-30 01:14] mholt commented on #249
Unfortunately, there's not a way right now to persist your own state between Caddy restarts -- however, I'm working on this. Quite the design challenge...

[2016-03-30 02:36] stp-ip commented on #666
Thanks for keeping me involved. Yes I agree with @p4tin. The general idea is great. The only thing to take into account is the sequence of caddy and middleware plugins/modules/add-ons. Headers set in caddy itself need to be applied last. Middleware can only remove, add or replace headers, but only before caddy's headers are set. So If a header is removed/set/or added in caddy it needs to overwrite

[2016-03-30 02:38] p4tin commented on #666
ok I think i got it let me see what I can do.  Thanks for the clarifications!

[2016-03-30 02:45] stp-ip commented on #666
Thanks for jumping in and contributing. \o/

[2016-03-30 06:32] manojlds commented on #700
@mholt Based on @arthurwhite 's response, Caddy doesn't seem to support forward proxying scenarios. I guess this can be a useful feature to have in Caddy. We can keep this issue open? I am just beginning to learn Go, but myself or someone else can probably submit a PR for this.

[2016-03-30 09:19] arthurwhite commented on #700
Mmm, it was a premature conclusion…
The [next line](https://github.com/mholt/caddy/blob/master/middleware/proxy/reverseproxy.go#L164) copies the `RequestURI`. :sweat_smile:

The problem is somewhere else.
Can you post your error log please?

[2016-03-30 11:50] manojlds commented on #700
@arthurwhite There are no error logs. The 400 does come from my proxy severs.

Access logs:

[code]

[2016-03-30 12:00] manojlds commented on #700
Using some public proxies:

Direct:

[code]

Via Caddy. Caddyfile:

[code]

Request:

[code]

Curl verbose output:

[code]

Does this help @arthurwhite ?

[2016-03-30 12:05] manojlds commented on #700
And it is problem between sending `/` and `http://www.google.com` in the request. The proxy receives `/` instead of a absolute url and says invalid url.

[2016-03-30 13:10] alexpearce opened #704 "Sourcing multiple Caddyfiles"
For automated deployments, it would be useful to be able to either source other Caddyfiles or to specify a directory where all Caddyfiles within it are picked up. I've had a look in the docs and can't find a directive for this.

Rather than having a single Caddyfile, such as
[code]
One would have three Caddyfiles:
[code]
and
[code]
and
[code]

## Rationale

If I deploy several sites to my server i

[2016-03-30 13:23] hubertbanas commented on #704
Check https://caddyserver.com/docs/import

[2016-03-30 13:24] #704 closed

[2016-03-30 13:31] alexpearce commented on #704
:dizzy_face: I am blind. Awesome, thank you!

[2016-03-30 13:40] adambalogh commented on #115
Great! I'll start working on it.

[2016-03-30 14:36] ricardson commented on #703
found the problem. Let show the solution :)

I'm using vagrant to test caddy, so I want to run caddy as "vagrant" user.

1 - Install php-fpm (dnf install php-fpm)

2 - Changes php-fpm configuration, find the option "**listen.acl_users =**" and add the "vagrant' user.

3 - Start the service (systemctl start php-fpm)

4 - Copy the site files to /var/www/html and set the permission(owner/group) to "*

[2016-03-30 14:38] #703 closed

[2016-03-30 15:00] mholt commented on #703
Thanks for sharing the solution!

[2016-03-30 15:08] mholt commented on #704
Just curious... if I did implement support for loading multiple Caddyfiles, like, from the command line, what would your preferred syntax be? Or what would make it easiest? Just specify each file or would you want Caddy to crawl a folder and its subfolders looking for files called "Caddyfile"?

Asking because I'm currently working on a big restructuring that could allow this. It's kinda "ugly" tho

[2016-03-30 15:15] mholt commented on #700
Would it be as simple as changing the Request with our [custom Director](https://github.com/mholt/caddy/blob/b3a5b725db068296fd39dbf102c18ce386d57d1b/middleware/proxy/reverseproxy.go#L82)?

[2016-03-30 18:04] arthurwhite commented on #700
No, we see that the request structure remains correct (the `RequestURI` value is kept) all along.

But in our case, the [`http.DefaultTransport` is used](https://github.com/mholt/caddy/blob/master/middleware/proxy/reverseproxy.go#L160).
And this `http.RoundTripper` doesn't seem to transfer to original request URI in its own request.

It is simply testable with a client, a server, and proxy CURL:

[2016-03-30 18:10] arthurwhite commented on #700
No, we see that the request structure remains correct (the `RequestURI` value is kept) all along.

But in our case, the [`http.DefaultTransport` is used](https://github.com/mholt/caddy/blob/master/middleware/proxy/reverseproxy.go#L160).
And this `http.RoundTripper` doesn't seem to transfer to original request URI in its own request.

[2016-03-30 23:35] mainerror commented on #351
@kaihendry I haven't tried it myself yet but in theory it should simply be the standard HSTS header which looks something like this.

    header / Strict-Transport-Security "max-age=31536000"

Which would set it to 365 days.

[2016-03-31 03:00] netaisllc commented on #312
FYI, **Negroni** is the successor to Martini, same "security start kit" idea there, using this Go http middleware:
 https://github.com/unrolled/secure

[2016-03-31 03:22] captncraig commented on #312
Looking at that lib, it is a good candidate. It has no dependencies other than std lib, and exposes a really simple handler interface (even one with a next handler!).

All that is really needed to turn it into a caddy plugin is:

1. A caddyfile parser / config builder to make the options.
2. A small wrapper shim to convert the caddy middleware function format into that package's handler format.

N

[2016-03-31 04:26] mholt commented on #312
Thanks for the link @netaisllc

I think that's cool, but with Caddy, quite a few of those options are unnecessary, since Caddy takes care of the SSL/HTTPS stuff, or the option just adds a header which is already a breeze with the `header` directive (and more clear). I'd prefer we not duplicate functionality that is already in Caddy and super easy to do.

[2016-03-31 04:39] kidwm commented on #392
@mholt So is it possible to write such addon in current architecture?

[2016-03-31 04:50] mholt commented on #392
@kidwm Of course. Although, as I've said, templates do the same job of SSI and more. A plugin would only be helpful for older/legacy sites.

[2016-03-31 12:24] henriquechehad commented on #619
+1

already started the codes?

[2016-03-31 12:25] henriquechehad commented on #167
:+1:

already started the codes?

[2016-03-31 14:13] mholt commented on #619
Yeah, working on this! Might be a couple more weeks.

[2016-03-31 14:13] mholt commented on #167
Yep.

[2016-03-31 15:55] netaisllc commented on #312
@mholt Totally agree.  (I provided the link because it refers to 'newer' stuff, given that Martini has been softly superseded by its own author by Negroni. Wanted any reviewers to be up-to-date.)

[2016-04-01 10:11] elcore commented on #382
I believe we can close this: #706

"That change looks really nice though. I'm restructuring all that stuff, but I can accept a PR of it and just resolve the conflict later on my end" - @mholt (Gitter)

[2016-04-01 14:10] DenBeke commented on #622
Wouldn't that be out of Caddy's scope? Because when using Sass, one often has other Sass dependencies (think of stuff like Bourbon).

[2016-04-01 14:14] DenBeke commented on #337
If wanted I could do a Dutch translation. Maybe something for you too, @trtstm?

[2016-04-01 14:17] captncraig commented on #622
The other problem is most of the tools in that realm are in node or some
other non-go language. If not in pure go, then there are still dependencies
you have to install to make it work. I like the idea though. Even if I have
to install stuff, an on the fly translator with a cache could be pretty
cool.

Generally I'd recommend using the standard tools for dev and serving the
final artifacts on your

[2016-04-01 14:31] mholt commented on #622
@DenBeke

Yeah, you're right. Maybe it's out of the scope of Caddy core, but not out of the scope for add-ons; that's the point of add-ons (plugins, whatever) -- is to extend the functionality of your web server to fit your workflow/situation better.

@captncraig

other non-go language. If not in pure go, then there are still dependencies
you have to install to make it work.

Very good point -- th

[2016-04-01 14:34] DenBeke commented on #622
Yes, you're right!

[2016-04-01 21:15] cathalgarvey commented on #622
@mholt @captncraig Well I suggested minifiers and sass on the basis that both features have pure-Go implementations. :)

There's [c6 for sass](/c9s/c6), and the [aforementioned minifiers](/tdewolff/minify) are pure Go, also.

I did imagine these as addons, probably third party. I'm wondering where one should start out when making addons for caddy, it might make for a fun project!

[2016-04-02 00:06] ntauthority opened #708 "WWW-Authenticate: Basic authentication requires a realm"
I'm using Caddy to provide a service with the 'basicauth' option, and trying to consume it through libavformat's HTTP client. The latter client [expects](http://git.videolan.org/?p=ffmpeg.git;a=blob;f=libavformat/httpauth.c;h=18cf36bcfece25c4f86117f444212c2608fd4bce;hb=HEAD#l95) 'WWW-Authenticate: Basic' be followed by a space, containing a realm - Caddy currently only [sends](https://github.com/m

[2016-04-02 00:19] mholt commented on #708
Right, thanks for pointing this out. Let's get this fixed. How should realm be defined in a way that is both useful and user-friendly (configuration-friendly)? Can we just use the base path argument or should it be something else?

FWIW I think the basicauth middleware could use an upgrade all-around to make it easier to add multiple users or multiple paths per user, and even to load users/passwor

[2016-04-02 00:32] Tsaukpaetra commented on #708
Perhaps a sane default with configurable parameter in Advanced Settings?
(Not a Caddy user, just followed a link)

[2016-04-02 01:02] mholt commented on #622
@cathalgarvey It will indeed! Here's a step-by-step guide to put together a plugin for Caddy: https://github.com/mholt/caddy/wiki/Extending-Caddy

[2016-04-02 08:08] ntauthority commented on #708
RFC 7235 states the realm is meant as a sub-namespace of the scheme and authority components (i.e. 'components up to the path'), so I'd assume the base path is a sufficient parameter for this purpose - outside, of course, of vanity/potential-rare-legacy purposes of specifying a custom realm (which could be done in a parameter in to the basicauth option in the configuration).

[2016-04-02 09:07] HalisCz opened #709 "Reproducible builds"
Hi,

would you mind considering some changes for making reproducible builds possible?

I think that this should be great for increased trustability for pre-built binaries.

I am thinking about issues like:
- compilation steps, submodules and libraries versions and checksums of pre-built binaries
- print used built-in libraries versions along with caddy version (making possible to check if affected

[2016-04-02 10:46] cathalgarvey commented on #622
Thank you!

On 2 April 2016 02:03:02 IST, Matt Holt <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-04-02 11:16] serussell opened #710 "Caddy rebuilds content for each host alias"
Caddy is generating the site content for each host alias for a single site definition.  For example, with:

[code]

Caddy will run hugo once for foo.com, and once for bar.com.  I have a large-ish site (it takes about 10 seconds to generate the hugo content) with 5 domain names pointing at it(*), meaning that refreshing the content can take up to a minute, most of which is redundant work as generat

[2016-04-02 13:05] joepie91 opened #711 "Graceful reload with systemd services breaks due to PID change"
#### 1. What version of Caddy are you running (`caddy -version`)?

0.8.2

#### 2. What are you trying to do?

Writing a systemd service file to manage Caddy as a service, and adding 'reload' functionality.

#### 3. What is your entire Caddyfile?
[code]

(`/etc/caddy/sites/` only contains a single empty file, as I haven't gotten to that point yet)

#### 4. How did you run Caddy (give the full comma

[2016-04-02 13:57] DenBeke commented on #711
Doesn't specifying the PID file solve this?

This is how I do it:
[code]

[2016-04-02 15:06] mholt commented on #710
I am not familiar with the internals of the hugo plugin, but my guess is that it should only be setting itself up once per appearance in the Caddyfile (once per site block) rather than once per site, similar to the `git` plugin, for example. /cc @hacdias Based on our experience with debugging the git plugin, it requires a change in the plugin to use something like `c.OncePerServerBlock()` in its s

[2016-04-02 15:06] #710 closed

[2016-04-02 15:08] 5an1ty commented on #688
Same issue for me when using rancher:
Error during WebSocket handshake: 'Upgrade' header is missing.

To replicate try this caddyfile:

[code]

And to set up a rancher container to test:
`sudo docker run -d --restart=always -p 8080:8080 rancher/server`

Errors should show up in the console on any page of the rancher application saying:
`Error during WebSocket handshake: 'Upgrade' header is missing

[2016-04-02 16:03] mholt commented on #709
Hi Michal, thank you for your question. We're probably going to vendor our dependencies before 1.0, so all builds should be reproducible at that point. See #200 and #630.

[2016-04-02 16:03] #709 closed

[2016-04-02 21:11] #382 closed

[2016-04-02 22:50] shellster opened #712 "Feature Request: Digest Authentication"
Please consider implementing a Digest Authentication option.

You might possibly be able to implement it with this library: https://github.com/abbot/go-http-auth/blob/master/digest.go

Thanks.

[2016-04-02 22:59] shellster commented on #663
@jsimonetti: Your statement is correct.  Unlike Digest or Basic authentication where the authentication data is sent with each request, NTLM authentication authenticates the TCP connection.  Once the connection is authenticated, future requests through that connection do not need to be authenticated (at least for a period of time).  You can bypass this requirement, at a performance penalty, by doi

[2016-04-03 07:52] alexpearce commented on #704
It does exactly what I need already :smile: sorry I can't be more helpful…

[2016-04-03 09:04] jupiter commented on #10
https://github.com/lox/httpcache seems almost perfect to me, if only if it weren't for [this issue](https://github.com/lox/httpcache/issues/20). Perhaps we should see if we can sort that out first.

[2016-04-03 11:23] jsimonetti commented on #663
@shellster All Windows authentication types break with http2

A Nice explaination of http2 on IIS can be found on this blogpost: http://blogs.iis.net/davidso/http2

[2016-04-03 11:24] 5an1ty commented on #688
I'm onto something...

for more details on the subject:
https://github.com/rancher/rancher/issues/4278

Caddy seems to drop the response header!
Upgrade: WebSocket
Websockets that work just fine with caddy have this in the response:
Upgrade: websocket
This is all via tcp dump if I look in the client chrome for the websocket that isn't working. The upgrade header isn't there...

This probably is a

[2016-04-03 16:59] wmark opened #714 "Implement TLS ticket key rotation"
Caddy uses Go's TLS implementation, which on its own does not rotate TLS ticket keys.

Perfect forward secrecy works best if anything that could be used to decrypt a particular TLS session is lost after some minutes (or hours). In this case this is accomplished by using a new TLS ticket key every so often and pruning an old one.

I'd recommend keeping 3–4 TLS ticket keys for a timespan of 16+8+16

[2016-04-03 17:08] trtstm commented on #337
@DenBeke sure, count me in

[2016-04-03 17:30] arthurkay commented on #688
^ Fixed by https://github.com/mholt/caddy/pull/713/files

Thanks

[2016-04-03 20:36] tgulacsi commented on #711
And set

[code]

too.

[2016-04-03 20:40] #688 closed

[2016-04-03 20:42] mholt commented on #711
If you build Caddy from source, you can also use `-restart=inproc` to do same-process restarts, preserving the PID. But they won't be graceful restarts.

[2016-04-03 20:44] mholt commented on #704
Okay! No problem, that is still helpful. Maybe I don't need to implement this after all.

[2016-04-03 20:45] mholt commented on #390
There is some work started on this; chime in on [gitter](https://github.com/mholt/caddy) if you're interested in knowing more.

[2016-04-03 20:45] mholt commented on #714
This is probably easy to do, but will take some inspection of the code by a new contributor in order to be familiar with where to put it.

[2016-04-03 21:01] #191 closed

[2016-04-03 21:03] wmark commented on #714
That's the beauty of it. Still work, and important. Hint: ```server/server.go```.

After that it's just a Goroutine (a closure, btw) with

[code]

… and writing to the other end of channel ```stopSignal``` somewhere else. (Hint: search for SIGQUIT)

Don't bother saving the tickets for or during restarts: Worst case a returning visitor's browser will start a new full handshake, no error interstitia

[2016-04-03 21:08] mholt commented on #714
Excellent guide. This would be good for anyone new to Go projects to contribute to.

There may be some guidance/discussion needed about some details, so whoever picks this up, feel free to ask questions and submit a pull request -- there's no shame or harm in iterating on a pull request!

[2016-04-03 21:13] mholt commented on #712
This would definitely be useful.

Should it be an add-on? Or should it be combined with basicauth? How involved is digest authentication to implement? If possible, can we avoid using another dependency for it (regardless of vendoring)?

[2016-04-03 21:24] shellster commented on #712
You could make it an add-on.  It offers roughly the same security as NTLM authentication, but isn't proprietary and should work with HTTP/2.  Digest auth can be implemented in roughly two ways, the crappy way or by properly implementing a server nonce (qop).  I highly recommend the full implementation.  The whole thing is documented in the associated RFC, and is relatively straight forward.  My cu

[2016-04-03 22:05] lox commented on #10
I'm happy to collaborate with you guys, I've recently been working on splitting out just the caching logic into a standalone library, as I think it's a separate problem to actually storing and looking up cached resources. Whether you guys would use that (called cachecontrol) or httpcache is up to you.

[2016-04-03 22:37] boppreh opened #716 "Production readiness and lego"
[`lego`](https://github.com/xenolf/lego) includes a fairly strong disclaimer:

Caddy's automatic HTTPS seems to rely heavily on lego, but does not include such disclaimers. How's Caddy's production readiness? Can I expose a Caddy server to the internet?

PS: Love the project, thanks a lot for the work so far.

[2016-04-04 03:51] mholt commented on #716
Hey @boppreh, good question. Caddy's "production readiness" is an important discussion to have. In short, you can use Caddy on the Internet. Lots of people do, and it serves tens of thousands of domains today.

That disclaimer is there because the library is still new and is likely to experience breaking changes before it reaches 1.0.

A brief history: @xenolf first [contributed to Caddy](https://

[2016-04-04 03:57] boppreh commented on #716
Amazing answer. I did not know about lego's history.

I already had high respect for this project, and it just doubled. I'm definitely migrating everything I have over to Caddy and recommending to everyone with a ear to spare.

Thank you

[2016-04-04 03:57] #716 closed

[2016-04-04 04:09] mholt commented on #716
Great! I will add that Caddy is still pre-1.0, so it may have some breaking changes along the way or some buggy edge cases, but there hasn't been a severe bug that in Caddy that I can think of that took down whole sites.

Let us know how it goes! Lots of people are asking this question, so if you blog about it, it's sure to get some traffic over time.

[2016-04-04 04:12] mholt commented on #10
Pinging @weingart since interest in a cache middleware seems to be increasing. :smile:

[2016-04-04 04:34] jordic commented on #10
I'm just started thinking on a cache directive, something simple like:

`cache / 1h`
or
`cache / 1h {
    except /wp-login /wp-admin
    expire-key cache_delete
 }`

What i think is a good starting point is:
https://www.nginx.com/blog/nginx-caching-guide/

## Can Benefit
- proxy directive
- fastcgi
- futre minifys or html compressors.

## Points:
- On initial I think is better to focus in only cac

[2016-04-04 05:49] jordic opened #717 "UX: Graceful reload inside a docker container"
My use case: I have caddy inside a docker container, proxing requets to some other containers, and serving statics from volumes. The issue is that I can't force caddy reload the config, and this, derivates to another issue.

If I try to send a signal to caddy, it handles the reload, but when it tries to restart, the container dies. I suspect this is due the nature of container (it detects a died P

[2016-04-04 05:53] jordic opened #718 "Certificate download and generation"
In my use case, I have up to 10 virtualhosts, per caddy instance... and one anyoing thing i found, is that when I add a new domain, (and it misses the certs) caddy is not fully started till it gets the new cert.. This derivates to a worst situation, if caddy files to get the cert (normally because the DNS is still not propagated) and leaves an unusable caddy instance.

What can be done? Not sure a

[2016-04-04 07:32] 5an1ty commented on #717
That would be fairly simple to do. Start a webserver in node.js as your PID 1 and use it to start and stop caddy:

https://nodejs.org/api/child_process.html#child_process_child_process_exec_command_options_callback

With that simple web app you could also reload, edit the caddyfile, show logs, ...

[2016-04-04 07:47] jupiter commented on #10
@lox That would be awesome.

[2016-04-04 13:37] mholt commented on #717
I don't want to add another command line flag; let's just make the in-process reload perform a caddyfile validation before it stops and restarts.

[2016-04-04 13:46] mholt commented on #718
I'm not sure what you mean; if Caddy fails to get a cert during reload, it just stops the reload and continues to run as normal. Can you be more specific? Or post some log output?

[2016-04-04 13:51] jordic commented on #718
It's not at reload, its at first load ...

[2016-04-04 13:52] jordic commented on #717
This sounds good!

[2016-04-04 13:53] mholt commented on #718
Okay. You said it "leaves an unusable caddy instance" but if Caddy fails to get a cert at startup, it exits. Is it not exiting for you?

[2016-04-04 13:56] jordic commented on #718
I think not... I think it keeps tring to got the cert, but it doesn't full start. (Leaving the rest of the vhosts, inusables)

[2016-04-04 14:14] mholt commented on #718
Show me some log output please. `-log stderr` will do.

[2016-04-04 16:49] brettneese opened #719 "Running Caddy as a reverse proxy is causing JetBrains teamware to crash, issue with content-type headers?"
We are trying to run JetBrains Teamware, a set of Java apps that have their own webservers (Jetty, it seems), through a Caddy reverse proxy. We're having an issue, however, with the apps crashing under Caddy when they talk to JetBrains' authentication service, which we think has something to do with the `content-type` header.
#### 1. What version of Caddy are you running (`caddy -version`)?

`Cadd

[2016-04-04 21:05] wmark commented on #344
@SoreGums if you can, have a look at my plugin. I've implemented DELETE in wmark/caddy.upload@f77c34aa2a506b14d75bf65cb2acdc4ae08778ac

[2016-04-04 21:10] nudzo opened #720 "Feature Request: HPKP"
HPKP headers prevents MITM. Great to have it... may be by default. Those headers can be computed automatically from certificates keys. More details here: https://developer.mozilla.org/en-US/docs/Web/Security/Public_Key_Pinning

[2016-04-04 21:15] elcore commented on #720
Hello @nudzo,

I believe that the user should decide if he/she wants to use HPKP.

You can add them if you want over ```header``` https://caddyserver.com/docs/header

[2016-04-04 21:19] nudzo commented on #720
@elcore, that's clear, but it's far more comfortable, when server itself computes all that hashes for you and you don't have to search how to assemble those headers. Of course on|off switch in config would be great.

[2016-04-04 21:21] elcore commented on #720
@nudzo OK -- you got me :smile:

[2016-04-04 21:22] mholt commented on #720
I hear ya, I've been thinking on this for a while. The problem is that Caddy is in the business of *not* DoS'ing your site. :wink:

Turning off HPKP has severe ramifications. I'm too nervous to approach HPKP at this time. There are too many variables.

For now, you can use headers to get a good grade on [securityheaders.io](https://securityheaders.io/?q=https%3A%2F%2Fcaddyserver.com).

[2016-04-04 21:26] #720 closed

[2016-04-04 21:28] DenBeke opened #721 "failed to get certificate: Invalid KeyType"
*If you are filing a bug report, please answer these questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!*

#### 1. What version of Caddy are you running (`caddy -version`)?
master@a14fce0

#### 2. What are you trying to do?
Trying Caddy with a simpel Caddyfile to proxy to Jenkins

#### 3. What is your

[2016-04-04 21:46] jordic commented on #718
Yeah... finally I understand what's happening...
I launch containers with --restart always .. and caddy stops.. but, docker tries to restart it in loop... for this reason I have the feeling that is running.. (I'm just doing docker logs on it... ).

I'm still not happy with this, because I don't have any way (programatically) to ensure that the configuration is valid. (prior restarting the containe

[2016-04-04 21:52] mholt commented on #718
No, we're not going to do that. See #642 for a related discussion.

Sorry about the misconfiguration issues, but frankly that's something you're going to have to fix. We can track the progress of verifying the Caddyfile config in your other issue, #717.

[2016-04-04 21:52] #718 closed

[2016-04-04 22:17] jordic commented on #718
Ok, thanks for the patience :)
I will try to look for a new solution, perhaps cert creation and renewal out of the http service. I can't leave a container running outside and not have the guarantees that if it's destroyed it will rerun again ( on the worst case with an expired cert). If you have any ideas on how to solve the problem I will apreciate them.

[2016-04-04 22:24] mholt commented on #718
No problem :) Can't you create a volume or something so that the files are preserved through restarts?

[2016-04-04 22:42] jordic commented on #718
This is already done. The problem is with multi hosts. If someone deploys a new site with a wrong config/or a not fully propagated domain it hangs all the vhosts running on the host. If this is a caddy acting as a lb and ssl termination doesnt seem aceptable.. Perhaps deploys a caddy per vhost and put an haproxy infront... :/ but this seems too complicated...

[2016-04-04 22:45] mholt commented on #718
Okay. Well, make sure the config is correct and we'll look into that other issue before too long, to help handle that situation better.

[2016-04-05 02:54] #721 closed

[2016-04-05 03:01] mholt commented on #719
Thanks for the report.

Indeed I do hope to have that headers issue resolved by the next release (it's not a difficult change, just waiting to hear back on how things are going), which may help with this issue.

What happens if you add another proxy_header line:

[code]

Does that help?

[2016-04-05 08:52] jupiter commented on #708
The realm indicates to the browser whether it can use a previously entered password for a particular area (realm) of the site. Should you have only one realm string, but you define multiple sets of resources with different sets of credentials, the browser would try to use previously entered credentials for parts of the site that could not be authorized by those credentials, which would just mean a

[2016-04-05 09:43] tpng commented on #717
It seems in case of invalid Caddyfile on reload, Caddy will just keep running with the old Caddyfile and log that reload failed, so it is not possible to end up with a invalid state.

[2016-04-05 09:56] tpng commented on #717
Oh, the current check is only on the file format, so if there are mis-configuration then it is possible to have a zombie Caddy on in-process reload.

[2016-04-05 12:48] wspl opened #726 "How could caddy redirect from url by regexp to another domain ?"
Hi,

I want to redirect all urls like:
`https://mydomain.com/xxx.jpg`
to
`https://anotherdomain.com/xxx.jpg`
by regexp: `^.+\.jpg`

Redirect and Redir seems like cannot do this. Is there other way to realize this?

Thanks.

[2016-04-05 17:22] mholt commented on #726
Only rewrite supports regular expressions and other fancy rules. It seems that these features have been popular and no reports of slowness yet, so we may add it to redir eventually. What do you think @abiosoft? Can we do it without duplicating the code?

[2016-04-05 17:27] mholt commented on #717
@tpng Just to clarify, does your commit resolve the zombie problem on mis-configuration?

[2016-04-05 17:40] tpng commented on #717
@mholt Yes, the commit was to fix the zombie issue on mis-configuration by restarting Caddy with the previous config.

[2016-04-05 17:42] mholt commented on #717
That's excellent. I think we can close this now.

[2016-04-05 17:42] #717 closed

[2016-04-05 18:33] jswierad opened #728 "Caddy behind ELB - how to redirect http to https"
Hi;

Setup as mentioned.
ELB monitors EC2 instance on port 80 (caddy is running on 80 only) using /monitor
I want to force caddy to redirect all http traffic to https (I'm doing ELB ssl offloading)

Is that somehow possible?

Edit:
I've also tried to run caddy on port 80 and 443 to make this ssl magic, but it doesn't seem to work when I'm behind ELB...

[2016-04-05 18:48] mholt commented on #728
Caddy automatically sets up HTTP->HTTPS redirects unless you manually define a HTTP site. So this Caddyfile:

[code]

will get redirected to https:// but this one:

[code]

will not.

As far as getting a certificate behind a load balancer, as described [here](https://caddyserver.com/docs/automatic-https):

A future release of Caddy will support the DNS challenge which should work behind load balan

[2016-04-05 18:56] jswierad commented on #728
Thanks for quick response!

In my case I just need to use ELB in front of my ec2; Given by the bigger infrastructure around...

This is my Caddyfile:

[code]
Is this gonna redirect http to https automatically? No.
As being said in docs - I need to run caddy at port 80 and 443 to make it happen, but having issues with obtaining certs because of ELB.

I was trying to look at redir or rewrite, but it

[2016-04-05 18:59] mholt commented on #728
On that same documentation page, automatic HTTPS is only enabled if:

So replace :80 with the name of your site like example.com instead. You'll need to make sure that ELB points to that particular EC2 instance so that the ACME server can reach it, so Caddy can solve the certificate challenge.

[2016-04-05 19:03] jswierad commented on #728
As mentioned before - I've tried that.

Then I got this error:

[code]

[2016-04-05 19:05] mholt commented on #728
Is 52.49.25.83 your load balancer? And is your load balancer forwarding to that particular EC2 instance where Caddy is running the cert challenge?

[2016-04-05 19:07] jswierad commented on #728
52.49.25.83 is NAT address for outgoing traffic from this instance. Again, given setup.

Load balancer of course is forwarding to this EC2. That works, since if I run caddy on port 80 only I can access it via ELB using mentioned domain name (which is just a CNAME of ELB itself)

[2016-04-05 19:14] mholt commented on #728
So it's working for you now then?

[2016-04-05 19:19] jswierad commented on #728
No, it's not.
I just get error pasted above when I start caddy. So it fails on cert challenge.

What is working tough - when I run caddy only on port 80, then I can access it via Load Balancer, so the configuration on ELB level is correct. But in this scenario I still don't know how to fix http->https redirects ;)

[2016-04-05 19:27] mholt commented on #728
If you can only access Caddy on port 80 even if you're serving port 443, I think your network must be misconfigured somehow; but I don't use ELB so I wouldn't know...

You can, of course, set up a [redirect](https://caddyserver.com/docs/redirect) manually:

[code]

[2016-04-05 19:38] jswierad commented on #728
This manual solution looks like it might work, but there is one "but": The /monitor call fired by Load Balancer to do the health check will fail. It expects 200, it will not get 200 in this case.

Is it possible to do something like exclude for such a redir? So I can exclude /monitor from this redir.

[2016-04-05 19:40] mholt commented on #728
I don't believe so, sorry. That's really unfortunate that ELB won't follow a redirect to a secure page. I would file an issue with AWS about that. Thanks for your question!

[2016-04-05 19:40] #728 closed

[2016-04-05 21:07] elcore opened #729 "ETag (#707)"
I don´t want to be nit-picking, but should we rename "Etag" to "ETag" in middleware/fileserver_test.go and move from a weak ETag validator [W/"5703b45f-ab5"] to a strong ETag validator ["5703b45f-ab5"]

cc @mholt, @jupiter, @weingart

#707

P.S.: I already "fixed" it locally

[2016-04-05 21:16] jordic commented on #717
;)

[2016-04-06 01:06] weingart commented on #729
I thought that the Etag -> ETag rename was done.  If not, yes, that should be done.

I'm ok with either weak/strong.  Do you have a good reference as to the practical difference between the two as commonly implemented in browsers?

[2016-04-06 01:27] elcore commented on #729
Hello @weingart

No (I don´t know it), but it´s common to use the strong ETag validator (NGINX, Apache)

It is just nit-picking e.g. `etag := responseRecorder.Header().Get("Etag")`

[2016-04-06 08:25] jupiter commented on #729
We are using a weak validator, i.e. will not be a byte-for-byte guarantee, and correctly reflecting this as per the [RFC](https://tools.ietf.org/html/rfc7232#section-2.3). If you can find a reference to why the other implementers (Nginx/Apache), I think we should change it.

@weingart is correct that we did change the key when setting of the header, see https://github.com/mholt/caddy/blob/master/m

[2016-04-06 10:10] elcore commented on #729
I do not have any reference, sorry.

If it´s specified as "Etag" in the Go core http module thank it should be ok -> It´s just the matter of style (as I said: "It is just nit-picking (on a high level)")

[2016-04-06 14:57] mholt commented on #729
Currently the ETag is based on size and last-modified date; we're not hashing the contents (slow) so I think weak ETag makes sense, doesn't it?

As far as casing goes, I've mainly seen "ETag" out in the wild. HTTP headers are case-insensitive so I'm not worried about Go using "Etag".

[2016-04-06 15:36] elcore commented on #729
It makes sense, but strong ETag too. According to RFC 7232 they should be the default (we just need to remove the W/), doesn't it?

[2016-04-06 15:47] mholt commented on #729
But can we guarantee byte-for-byte correctness?

[2016-04-06 16:24] elcore commented on #729
NGINX and Apache ETag´s are also based on size and last-modified date -- So, I would say yes.

[2016-04-06 16:44] mholt commented on #729
@elcore You are being helpful. I want to understand this better and make sure we do it right.

NGINX and Apache may use size and last-modified, but look at letsencrypt.org's ETag header: `ETag:W/"56fe7e46-46f5"` - they use NGINX.

[2016-04-06 16:57] elcore commented on #729
OK -- I never saw NGINX using weak ETag -- I would say we should close this issue, weak ETag´s hurt no one.

[2016-04-06 17:24] #729 closed

[2016-04-07 18:16] wjkohnen commented on #358
@tildeleb Any news? I have the same use case and could help out. I've tried to configure this with `rewrite` a while ago, but didn't get anywhere. In doubt I'd implement a special middleware for this.

[2016-04-07 20:16] mnzt opened #732 "Feature request: daemonise caddy"
It would be really useful in my opinion if Caddy could daemonise itself (automatically run in the background), being launched in the daemon via a `-d` flag, or similar.

What're other people's thoughts on this?

**Adding to top for exposure:**
If not a native feature, how about an addon?

[2016-04-07 22:20] mholt commented on #732
@kardianos was actually working on this before. I closed the PR because I think it needs a lot more testing and docs, since this is not a "light" change to make: https://github.com/mholt/caddy/pull/588

I also might need to be convinced that daemonizing is the job of the web server instead of the system/sysadmin. :wink:

[2016-04-07 22:33] tehscorpion commented on #732
Modern systems with for example systemd require that services are running in foreground, docker does that too

[2016-04-07 23:03] kardianos commented on #732
I agree that modern job systems have the service run in the foreground.

On Unix type system, no special change is needed except to obey signals and have correct service files placed.

On Windows, participation is required for the service callback and registration is even more arcane.

-------------------------------------

I could revive that PR if interest, I just kinda ran out of time then. If

[2016-04-07 23:12] kardianos commented on #732
Lastly, I will note for the average user creating a service (systemd, upstart) file on linux is often beyond what they want to research and create.

[2016-04-07 23:48] mholt commented on #732
@kardianos You're right, which is why I support the change overall, but it will require a lot of testing for potential "gotchas" since there's a lot riding on a feature like that. Right now if Caddy goes down in production it's not Caddy's fault, but if we integrate this capability, we incur a heavy responsibility. And possible maintenance burden. It will have to be tested on many platforms over t

[2016-04-08 00:00] kardianos commented on #732
I agree with you in idea I think, but you may be overstating the effect of this change. I think more then anything this is a potential mindset change that you are now "endorsing" then a technical change.

You could add a disclaimer above the flag and in the help message :).

[2016-04-08 00:10] tehscorpion commented on #732
@mholt also consider making deb/rpm packages for easier updating

[2016-04-08 00:25] jottr commented on #472
I have another `.htaccess` file, which I would love to get some input on how to convert it properly:

[code]
@abiosoft if you find the time, your help would be very much appreciated.

[2016-04-08 01:21] weingart commented on #10
I'm sorry that this has taken so long for me to respond.  Let me separate
out a few different types of caching:

 - using various http headers to encourage (or discourage) clients and
cache servers to cache content.  Such as cache-control, etc.  This is a
pretty decent intro:
http://www.mobify.com/blog/beginners-guide-to-http-cache-headers/

 - caching things by writing them to disk, usually by be

[2016-04-08 04:36] jordic commented on #10
**For 1)**
Separate 1 sound as the way to go. Also this should be the first part. For example, is necessary to respond with etags (I think this is already on tip)

**For 2)**
I think we need to focus on a target use case. We don't target users that are using varnish, or squid, or something else. As nginx, to have a small file based cache directive, is enough. There are a lot of situations where yo

[2016-04-08 04:43] lox commented on #10
Out of interest, what value does 1 offer without actually doing any intermediary caching in the server?

[2016-04-08 05:38] mholt commented on #10
@lox

A client can cache resources so it doesn't even have to ask the server for them, so the headers can enable client-side caching and inform intermediaries what to or not to cache. (Cache-Control! That should definitely be supported.)

@weingart Thanks for your brain dump :smile: I do largely agree with your points as well as what @jordic said; caching is not a light/easy task. I think Caddy sh

[2016-04-08 08:48] larskluge commented on #677
I tried to add a 1 second flush interval with
`rp := &ReverseProxy{Director: director, FlushInterval: 1 * time.Second}`
here: https://github.com/mholt/caddy/blob/master/middleware/proxy/reverseproxy.go#L114
as suggested, but unfortunately with my SSE backend it does not work. The request just hangs and never completes.

[2016-04-08 10:11] tpng commented on #732
On Windows, I prefer to use something like [nssm](https://nssm.cc/) to turn my Go binary into service since I don't have to implement the service logic in my source code.
I believe leaving the service logic to another tool (e.g. systemd, upstart, supervisord, etc) that do it well is the way to go.

[2016-04-08 10:42] tpng commented on #732
If we are going to implement this, I think we need to clarify the use cases and whether there are better solutions.

If we just want Caddy to run in the background, why not just `caddy &` or `start /b caddy` to send it to background and forget about it?
We probably also want to keep Caddy running, so what happens when Caddy crashes?
At this point we would need something else to monitor our process

[2016-04-08 10:48] looterz opened #733 "client_max_body_size directive"
Is there a caddy equivalent of nginx's client_max_body_size parameter? I need to set it to infinite to accept large git objects over https.

[2016-04-08 12:38] klingtnet commented on #711
[Here](https://www.nginx.com/resources/wiki/start/topics/examples/systemd/) is the systemd file of `nginx`. They also use `Type=forking` and a `PIDFile`.

[2016-04-08 15:03] mholt commented on #677
@larskluge Are you sure you were running the modified binary? Use the build script `build.bash` then `./ecaddy -version` should confirm that it is in fact Caddy with your changes.

[2016-04-08 15:41] kardianos commented on #732
@tpng I don't have a dog in this, however as a windows user I don't see a reason to use nssm. If I run a program as a service it supports windows callbacks.

[2016-04-08 15:46] captncraig commented on #732
Maybe a good first step would be adding documentation for adding a caddy
service via nssm. People may still want a native service mode, but that
will are least show people how it could be done without it.

[2016-04-08 16:11] mholt commented on #733
Actually I do not believe there is right now. We should implement one, however (using [MaxBytesReader](https://golang.org/pkg/net/http/#MaxBytesReader)) and make it configurable from the Caddyfile. At that point, though, this discussion merges with #79 so I'll close this one.

So for your case, there isn't anything you need to do right now. But stay tuned for changes on that in the future!

[2016-04-08 16:11] #733 closed

[2016-04-08 16:12] tpng commented on #732
@kardianos Yes, that's just my use case and how I am deploying Go binary to Windows Server.

@captncraig I think we can add a section in the User Guide for deployment recipes on different platform.

[2016-04-08 16:14] kardianos commented on #732
Nssm and a native service don't mix. Do one or another. Such a first step
is the step.

On Fri, Apr 8, 2016, 08:47 Craig Peterson <notifications@github.com> wrote:

[2016-04-08 16:21] tpng commented on #732
I see. Is the native service implemented only for Windows or for all platforms? If it is only for Windows, will it affect other platforms?

[2016-04-08 16:22] looterz commented on #733
Thanks for looking into it, look forward to any updates on #79.

[2016-04-08 16:27] mnzt commented on #732
@tpng From a Go perspective, you can easily check the architecture and adjust depending on that.

[2016-04-08 16:30] tpng commented on #732
From the previous PR https://github.com/mholt/caddy/pull/588, it seems to support most platforms, so I have no further concerns in this case.

[2016-04-08 18:40] larskluge commented on #677
I built w/ `go build` and made sure to use the correct bin. Rebuild it now with the build script, unfortunately the same result—just hangs.

[code]

[2016-04-08 19:12] mholt commented on #677
Interesting; is there any more details about the upstream you can give us to reproduce the issue? Maybe compare to @shurcooL's setup...

[2016-04-08 19:17] larskluge commented on #677
Perhaps try my config, `Caddyfile`:

[code]

This is a temp deploy, the address won't work for too long. Anyway, compare calling it directly:

`curl -i http://104.236.207.89:31438/larskluge/s3`

vs. running the above config locally:

`curl -i http://localhost:2345/larskluge/s3`

[2016-04-08 22:01] joepie91 opened #734 "Excluding subdirectories from FastCGI"
It doesn't currently appear to be possible to 'exclude' a subdirectory from a FastCGI setup. This would, however, be quite useful for security purposes; that is, ensuring that something uploaded by a user cannot be executed.

For example, it might look something like this:

[code]

This way, *even* if a user somehow manages to upload a PHP file to `/user_uploads` (assuming eg. an image uploading s

[2016-04-08 22:30] mholt commented on #734
You mean [like this](https://github.com/mholt/caddy/commit/e7001e653841811ca752989c519551a4f1bf6871)? ('except' not 'exclude')

Will be available at the next release.

[2016-04-08 22:30] #734 closed

[2016-04-09 03:40] weingart commented on #10
I'm currently working on #1 (expiry headers, cache-control, etc).  The
other two I really think should be provided by 3rd party middleware.  I'm
also working on #3, but in part, that one is likely to be more
controversial, in that the cleanest way to implement (that I can see) is to
move the current fileserver.go into middleware, where it can still be
instantiated as an anchor, but could possibly

[2016-04-09 06:08] mholt commented on #677
@larskluge Thanks for the details. I was able to see the same behavior. The culprit is [this line](https://github.com/mholt/caddy/blob/c21ff8343c8bb5d290002057c9ec322df59c18cf/middleware/proxy/reverseproxy.go#L252) -- in other words, the ResponseWriter is not a writeFlusher type.

Notice that if you remove the `log` directive, it works. This is because the middleware.ResponseRecorder type is not a

[2016-04-09 06:17] #677 closed

[2016-04-09 06:17] mholt commented on #677
K, nevermind, I just took care of it... why let it linger.

@larskluge and @kidwm and @aek please try the latest changes and let me know how it goes!

[2016-04-09 06:37] lox commented on #10
@mholt fairly familiar with what the caching headers are actually for (via https://github.com/lox/httpcache), trying to figure out what an http server that wasn't using the headers to actually cache/store/validate would need beyond "Add-Header" for different types of content.

@weingart out of interest, how does hmac allow for invalidation of cache in a quick manner vs non-cryptographic hashes? We

[2016-04-09 17:28] mholt commented on #732
Been looking into this quite a bit and talking some friends with more experience than I on the matter. I don't think Caddy is in the business of daemonizing.

To run Caddy in the background, use `&`. This is how I run all my sites on DigitalOcean. I've found that on AWS you have to use `nohup` as well because for some reason the AMI sends Caddy a SIGHUP randomly... anyway, Caddy (core -- can't spe

[2016-04-09 17:28] #732 closed

[2016-04-09 17:29] #701 closed

[2016-04-09 17:31] mholt commented on #666
@p4tin How is this going? Any way we can help?

[2016-04-09 17:33] joushou opened #735 "High GC pressure causing slowdowns (was: gzip awfully slow)"
#### 1. What version of Caddy are you running (`caddy -version`)?

Caddy 0.8.2
#### 2. What are you trying to do?

Simply running a comparison between my own, simple Go web server and Caddy in various modes.

My tests were run with https://github.com/rakyll/boom:

[code]
#### 3. What is your entire Caddyfile?

[code]
#### 4. How did you run Caddy (give the full command and describe the execution e

[2016-04-09 17:34] mnzt commented on #732
Sounds good @mholt! Looking forward to the new plugin system.

Is there a way we can get entries added into the docs? Personally I think it'll be beneficial to have a **How to run Caddy in the background** on the FAQ

[2016-04-09 17:36] mholt commented on #732
Sure, submit a PR to https://github.com/caddyserver/caddyserver.com

[2016-04-09 17:37] mholt commented on #735
Can you run your test again without the `log` directive? I feel like that's going to add noise to your tests.

[2016-04-09 17:43] joushou commented on #735
A single run with gzip, but without access logs: 37.72s. Also note that the non-gzip run at ~6.5s also included access logs.

[2016-04-09 17:44] joushou commented on #735
(But as a performance test against my own server, I wanted it to include access logs. Otherwise, it wasn't comparing real setups.)

[2016-04-09 17:49] joushou commented on #735
Something I just noticed: Caddy uses level 9 by default, not the gzip packages default. For the 10KB input file, Caddy outputs 4498 bytes, while the default level my own server uses output 4563, which is quite an almost unnoticeable difference. I'll try to run with Caddy set to a lower level, although the docs don't seem to state exactly what the default level is...

[2016-04-09 19:49] mholt commented on #735
Thanks for trying a few things. We'll look into this soon, unless somebody wants to dive deeper sooner. (I haven't spent a lot of time in optimizations yet since I'm still trying to get the code base stable.)

I agree we probably don't need the highest compression level; could someone do some profiling (pprof?) and see where the CPU time is spent?

[2016-04-09 20:01] mholt commented on #525
@dsnet By the way, I just realized I don't think I thanked you for chiming in a few months back. Thank you! :smile: Looking forward to your progress in the coming weeks/months. Looks like really great code so far.

[2016-04-09 20:24] p4tin commented on #666
@mholt - Sorry have not had time to look at it yet will pick it up tomorrow morning and I am sure I will have question - I will be on Gitter.

[2016-04-09 22:15] weingart commented on #10
By changing the key, the hmac will generate a different hash.  In this way,
you can invalidate the whole cache (well, make it disappear) quickly.

-Toby.

On Fri, Apr 8, 2016 at 11:37 PM, Lachlan Donald <notifications@github.com>
wrote:

[2016-04-09 22:20] weingart commented on #735
ISTR that gzip level 5 or 6 was where it was tuned for speed vs. content
size tradeoff.  At level 9, it's going to be a lot slower.

-Toby.

On Sat, Apr 9, 2016 at 12:49 PM, Matt Holt <notifications@github.com> wrote:

[2016-04-09 22:37] xenolf commented on #735
@joushou What was the payload you used to get those 30 seconds?

[2016-04-09 22:40] joushou commented on #735
@xenolf: my index.html (from https://kl.wtf/). 10KB html, gzips to about 4.5KB. Nothing special.

@weingart: I tried 6 in a config mention in a prior comment, which I found to be the Go default, which is what I use in my own server. I didn't see a change in time nor filesize, so maybe the setting is broken?

[2016-04-09 23:22] xenolf commented on #735
@joushou I used the caddyfile you provided as well as your index.html to run several test using the boom settings you supplied.
I failed however to come anywhere near the numbers you are reporting at all. Not even when enabling CPU profiling. The numbers are stable at around 12 seconds.
The tests were executed using Go 1.6 on a 4 core x64 debian 8.2 machine with an allocated 8 GB of ram with caddy

[2016-04-09 23:44] mholt commented on #735
@joushou Levels 6 and 10 are known to have ~equivalent compression ratios for most things. Also, 10 KB is hardly large enough of a file to see much of a difference in compression time by using a benchmark done over the network.

[2016-04-10 04:03] weingart commented on #735
I think there is something else going on here.  Possibly boom is not reading the whole body, and ends up doing a re-connect with gzip, but not without it?

[2016-04-10 04:26] jordic commented on #10
@weingart
I don't see the point about 3).
filserver is a middleware... but is the last on the middleware onion, as I understand here:
https://github.com/mholt/caddy/blob/master/server/virtualhost.go#L30
From a middleware, you can intercept any request, and respond to it.. (using or not the subsequent layers): test if path exists on your backend, and serve with stored contents...

Ok, but, how to s

[2016-04-10 04:40] lox commented on #10
You will want to stream the response body to the cache at the same time as to the client, blocking the downstream client until a response is cached causes timeouts for large files. Ideally concurrent requests to a resource being cached should be deduplicated too, but that is harder to do without a disk buffer.

[2016-04-10 04:44] fmpwizard opened #736 "Proxy question about drain connections and sticky ssessions"
Two part question:

1- Does caddy support sticky sessions?
I'm running two or three instances of the same application, but for reasons outside the scope of this question, if  a user logs in to server 1, they should stay there for the rest of their session.

2- Does caddy support the idea of draining connections to a specific backend?
The use case is, I'm about to deploy a new version of our app, I

[2016-04-10 05:06] mholt commented on #736
Hmm, question 1 seems more a problem for an applications server to solve. Caddy is primarily a web server. Caddy doesn't really have a notion of sessions or state in that sense.

As for two, you can remove servers 1 and 2 from your proxy directive and perform a graceful restart; new connections will not be sent to those backends.

[2016-04-10 05:13] jordic commented on #10
Good point for the first!
Not sure, but perhaps a pipe from the upstream writting the same time to disk and to downstream.

For the second, (when concurrent requests to the same resource).. two options come to my mind:
A) Lock them till resource is cached...
B) Bypass to the upstream not caching at all ...

[2016-04-10 05:39] fmpwizard commented on #736
thanks for your answers, I'll close this now.

[2016-04-10 05:39] #736 closed

[2016-04-10 10:00] joushou commented on #735
@weingart boom does not have this behaviour when running against my own server when it serves gzipped content from memory (which is its normal operating mode), where the test completes in ~3.5s. This is not a fair comparison with Caddy, so I used a from-disk folder on my server, which causes it to read the file and gzip on every request, to compare similar workloads. In this case, my server comple

[2016-04-10 10:55] joushou commented on #735
With the odd way these numbers behave, I would lean to say that this is a user error, but the numbers are at the same time consistently slower for the old box, even if the numbers seem to change from day to day. I'm not sure what to make of this.

[2016-04-10 11:16] xenolf commented on #735
@joushou Sure, you could message me on gitter if that's fine with you.

[2016-04-10 11:39] joushou commented on #735
Ah, I made a small mistake in the new server configuration: I pointed Caddy at a non-existing directory. The 25s was therefore the time to serve a 13 byte error message, not the gzipped response. I'd say that this is still a LONG time to serve an error message, but that's an issue for another day!

Pointing Caddy to the proper directory replicates the >30s response times.

@xenolf Yup, fine by me.

[2016-04-10 12:54] xenolf commented on #735
I used the box provided by @joushou to run a profile on. The profile showed that the problem has nothing to do with the GZIP code at all. The GZIP code performs comparable between the two.
The underlying issue seems to be high GC pressure caddy is generating under these circumstances which shows especially on a low end box. I will investigate further.

[2016-04-10 14:44] cork commented on #660
Sorry for the late response. Just wanted to verify that this works nicely. Thx for super quick response and a very nice server!

[2016-04-11 15:43] brettneese commented on #719
No, I don't have the logs right now but when we did that we got a null pointer exception.

We're also running into some issues that seem to be related to headers with regards to websockets. Any update on when the header issue will be fixed?

[2016-04-11 16:05] mholt commented on #719
What kinds of issues?

[2016-04-11 16:26] davidak opened #738 "Servername in header"
I want to do something like

[code]

where `{hostname}` get's replaced with the servers hostname.

This is helpful if you have multiple backend servers behind a load balancer and you want to know on which backend server you are.

Maybe other placeholders make also sense.

[2016-04-11 16:52] mholt commented on #738
Placeholders are supported in the `proxy` directive (proxy_header) but not the `header` directive, I guess this is the first request we've had for it.

[2016-04-11 16:55] Xe commented on #738
[code]

[2016-04-11 18:02] captncraig commented on #358
I think this may require a custom plugin to handle all possible cases and repo layouts.

Consider packages:

[code]

It is possible these both link to the same repository (subpackages), or different ones. How do I know if I should point at `github.com/myname/someOtherRepo/foo` or `github.com/myname/foo`?

[2016-04-11 18:07] captncraig commented on #358
Config could be something like:
[code]

Not sure what kind of syntax would be preferrable on the wildcardy bits there.

[2016-04-11 18:15] larskluge commented on #677
Awesome, perfectly well—thank you @mholt !!

[2016-04-11 20:48] elcore commented on #719
@molt maybe this issue is related to #713?

[2016-04-11 20:55] brettneese commented on #719
Yeah, that's very likely it. We thought it might be related to the
websocket directive only applying headers before the request, or something,
but it's a Jetty-powered app so #713 seems plausible. (I actually don't
have access to that box or the logs right now, sorry if I'm being vague.)

Brett Neese
563-210-3459

On Mon, Apr 11, 2016 at 3:48 PM, elcore <notifications@github.com> wrote:

[2016-04-11 21:07] faddat commented on #376
This seems like a plugin that could be selected on the download page, and it seems liek a GREAT one.  Let's talk about why caddy is so good.  Caddy is so good because it makes hosting things WAAAAAY easier.  What if Caddy could claim above all the others, I am not a pain in your ass when you have to do php.

Caddy, we love caddy.

[2016-04-11 21:07] mholt commented on #719
Okay, so that is probably fixed. I want to be sure we understand the content-type problem fully. So the proxy setup looks like this:

[code]

So you're suggesting, that at `A` the Content-Type is `application/json` but was changed to `text/plain` at `B`? Or is it something else.

[2016-04-11 21:15] mnaughto commented on #719
Actually, based on what I was seeing, it seemed like the request pipeline was just fine, but the content type got changed to something unexpected ("text/plain") between C and D.

[2016-04-11 21:25] mholt commented on #719
So the client in this case is JetBrains teamware, and the backend is some jetty instance.

Okay, this is helpful. Someone (if not me) will look into this soon. If you want to get a head start, I'd recommend [looking in here](https://github.com/mholt/caddy/blob/36a3e204b6a492b7f4e788e63c50e8824089b880/middleware/proxy/reverseproxy.go#L236-L244) and maybe adding some print statements to verify that

[2016-04-11 21:27] mnaughto commented on #719
Right. Well, more specifically, the client is one JetBrains application (e.g. YouTrack), and the backend is the API of another JetBrains application (Hub, in this case).

[2016-04-11 21:56] captncraig commented on #376
I only see two options for how this could technically be possible within caddy, and I don't like either of them.

1. If a static executable is available for php-fpm we could include it as bindata in source code for each platform. Extract and drop it to disk and start it when caddy starts up. This will lead to tons of huuuge source files, and really fragile processes when new platforms are supporte

[2016-04-11 22:02] captncraig commented on #711
I use it without type=forking and it works fine. Just use the pidfile.

[2016-04-11 22:06] captncraig commented on #674
SQL injection is really difficult to do anything about at the webserver level, due to differing dialects and so forth. Best practice is to not put user input into queries except by the parameterization mechanisms in your sql driver, which should protect you to some degree.

XSS is a much wider attack surface and yeah, perhaps there is more a plugin could do to stop it.

[2016-04-11 22:20] mholt commented on #376
^ You're right, and even plugins can't use cgo. (Well, they can, but not to be listed on the download page of the Caddy website.)

If you want PHP "bundled" in, use a Docker container (linked above) with php installed, or consider getting involved with caddy-lua (also linked above) to enable serving Lua apps with Caddy.

[2016-04-11 22:20] mholt commented on #711
Lots of good options here. Assuming this is not really a Caddy issue, so closing.

[2016-04-11 22:20] #711 closed

[2016-04-11 22:43] xenolf commented on #735
The difference in behavior between these two servers comes from the way how both handle files internally.
Caddy streams files using FileServer from disk. This causes many small reads / copies as it is reading chunks of data from disk and then GZIPing those chunks which increases GC pressure due to small allocations.
minihttp on the other side reads the whole file in one go and is then GZIPing the

[2016-04-12 05:09] mholt commented on #735
Excellent analysis, @xenolf. Thanks for diving into that while my local copy of Caddy is all gutted out :smile:

I think our current approach is probably best for the general case: Caddy won't crash with high memory usage because it remains fairly constant thanks to streaming. As noted, it does increase allocations significantly with lots of little gzipping going on. A caching plugin could be writ

[2016-04-12 05:31] joushou commented on #735
@xenolf thanks for your analysis. I had not put much thought into the fact that I zip in one go at all. I do so mainly because I'd like better Etags (sha256), as well as to partially reuse the mechanics for from-memory serving. The fancy folder from-disk thing was a hack I made when I had to upload a 20MB fil - I never intended to do anything from disk. :)

One note: would the microbenchmark be af

[2016-04-12 05:40] joushou commented on #735
@mholt I'll take a look. It won't be as simple as minihttp, as minihttp is essentially a cache with infinite cache time, wheras a middleware might have to act more like a full caching proxy (just a *very* close one) to not mess with lower layers, which would require them to state their cachiness properly. Either that, or something more custom with a few knobs in the caddyfile that can easily be se

[2016-04-12 09:50] meepeek opened #743 "Auto SSL not working"
*If you are filing a bug report, please answer these questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!*

#### 1. What version of Caddy are you running (`caddy -version`)?
0.8.2

#### 2. What are you trying to do?
I try auto ssl feature

#### 3. What is your entire Caddyfile?
[code]

#### 4. How did

[2016-04-12 10:16] abiosoft commented on #743
You need to use a valid domain name that belongs to you.

[2016-04-12 14:04] mholt commented on #702
Can you explain why this is? The Caddyfile is intended to live by the site(s) it is serving, not in some system folder.

[2016-04-12 14:58] #743 closed

[2016-04-12 15:50] joushou commented on #735
@mholt another note while on the train: I suspect that this is not really isolated to gzip. I have not seen the profile, but I suspect that gzip jus magnified the issue enough that my small test machine could not keep up. The smaller the chunks the higher the overhead - more object allocations, more middleware roundtrips that might allocate on their own, net/http runs and syscalls. The larger chun

[2016-04-12 16:01] mholt commented on #735
@joushou It's possible. Best I can tell so far, the [buffer size is 32 KB](https://github.com/golang/go/blob/78ecd61f6245197f701629f5f511be7f2bc1ff58/src/io/io.go#L395) (http.ServeContent calls io.CopyN which calls io.Copy which calls copyBuffer) -- although a custom-sized buffer can be used, I'm not sure how to change it at a level as high as gzip or net/http. Anyone know how to do this?

Also, n

[2016-04-12 16:13] #714 closed

[2016-04-12 16:14] mholt commented on #667
...The suspense is killin' me :smile:

[2016-04-12 16:18] stp-ip commented on #667
I do my best to make open source work more entertaining and exciting...

[2016-04-12 16:20] tboerger commented on #702
Alpine puts a global config to /etc/caddy/caddy.conf

[2016-04-12 16:50] joushou commented on #735
Changing that chunk-size requires opening an issue against http.ServeContent to use io.CopyBuffer directly, in order to permit custom buffer sizes. The fix from Caddy's side is not to use http.ServeContent, which is the solution @xenolf mentioned: A custom file server. I believe the issues will show with any middleware that must process content, and is likely to also cause issues in the future wit

[2016-04-12 17:16] joushou commented on #10
@weingart I'm not sure I agree that solution 3, in-memory caching, would belong in the file server. One problem I see with this is accept-encoding. I would find storing gzip'd responses to be a high priority, and for this, a higher-level middleware would be required. If you want some rough numbers on why serving gzip'd content cached, in my opinion much more so than serving plain files from cache,

[2016-04-12 19:41] abiosoft commented on #726
Sure, there should be a way without code repetition. I can have a look.

[2016-04-12 21:49] wienczny opened #745 "Conditional Environment Variables"
It would be great if you could set fastcgi environment variables based on the request.
Something would imagine something like [nginx map directive](http://nginx.org/en/docs/http/ngx_http_map_module.html)

[2016-04-12 21:53] mholt commented on #745
You can set env variables using the `env` keyword in the `fastcgi` directive. Does that not do what you want?

[2016-04-12 22:27] wienczny commented on #745
You could use env but you have to copy a lot of configration. Many PHP toolkits are using environment variables to select between development, production and staging. If you want to deploy all of those on the same host using dev.host.com staging.host.com and www.host.com you would have to copy the configuration and change hostname and selected application environment. Imports don't work because th

[2016-04-12 22:32] mholt commented on #745
Hmm, what about using *real* env variables to set your environment? Would this work?

[code]

In the Caddyfile (in the fastcgi directive):
[code]

[2016-04-12 23:16] faddat commented on #376
Assume that both of you are familiar?

https://github.com/stephens2424/php
https://github.com/deuill/go-php

Jacob Gadikian
E-mail: faddat@gmail.com
SKYPE: faddat
Phone/SMS: +84 167 789 6421

On Tue, Apr 12, 2016 at 5:20 AM, Matt Holt <notifications@github.com> wrote:

[2016-04-12 23:50] kryptodev opened #746 "Caddy Websocket Reverse Proxy"
*If you are filing a bug report, please answer these questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!*

#### 1. What version of Caddy are you running (`caddy -version`)?
Untracted Dev build, latest basically.

#### 2. What are you trying to do?
I'm trying to reverse proxy a websocket connection.

#

[2016-04-13 00:21] mholt commented on #376
I do remember seeing the first one some time ago. It's not a PHP interpreter, however. (Unless I missed something.) The second one is not acceptable for Caddy since it uses cgo.

[2016-04-13 00:22] mholt commented on #746
Thanks for the report. Can you run `./ecaddy -version` after building it with `build.bash`? That will give important information in case we can't solve this right away.

[2016-04-13 00:50] kryptodev commented on #746
$ ./ecaddy -version
Caddy 0.8.2 (+b149a86 Wed Apr 13 00:49:24 UTC 2016)

[2016-04-13 02:28] fabware commented on #54
I need grpc proxy, finding solutions.

[2016-04-13 05:14] meepeek opened #747 "on a port using TLS, suppress the TLS alert on unexpected http requests"
version 0.8.2
This is the caddy file

[code]

Calling https got the expected result, but then I call http://[[local IP]]:9999 in Chrome, then i got the following file (I zipped it)
[download.zip](https://github.com/mholt/caddy/files/216416/download.zip)

How could I do manually redirect from http to https ?

[2016-04-13 05:51] mholt commented on #747
You've asked Chrome to load a page with HTTP (`http://[[local IP]]:9999`) but the server is serving HTTPS on that port. Your URL needs to start with `https` for it to work properly.

[2016-04-13 07:12] wienczny commented on #745
This does not work if you want to run all environments at the same time.
Another example might be a single CMS installation with multiple websites  that are choosen by environment variables.

[2016-04-13 08:07] meepeek commented on #747
1. If the http is not serving, it should not reply anything. That what I expected.
2. I would like to know how to redirect the user that call http to be redirected to https as well.

[2016-04-13 10:40] joeblew99 commented on #54
Grpc gateway. It's on github and well supported I have found.

On Wed, 13 Apr 2016, 04:28 xiangcan, <notifications@github.com> wrote:

[2016-04-13 12:04] adnidor opened #748 "Caddy not running on RPi B+"
*If you are filing a bug report, please answer these questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!*

#### 1. What version of Caddy are you running (`caddy -version`)?

0.8.2 (from the AUR)

#### 2. What are you trying to do?

Start caddy

#### 3. What is your entire Caddyfile?

nonexistent

####

[2016-04-13 12:42] davidak commented on #704
@mholt i want to deploy multiple sites on a server but don't set the root every time. so maybe if caddy uses multiple Caddyfiles (syntax could be multiple paths or gob like /var/www/*/web/Caddyfile in my case) it uses the folder the Caddyfile is in as root.
it would also help me if import works this way.

[2016-04-13 12:56] hubertbanas commented on #704
@davidak could you please show few examples how you do it now and how you would prefer to do it?

[2016-04-13 13:14] My1 commented on #376
@mholt how does lua relate to PHP?

[2016-04-13 13:39] wmark commented on #748
The error message is caused by the provided binary issuing instructions not known to your CPU.

Could you please share the outputs of these commands with us here? I assume you are running GNU/Linux:

[code]

[2016-04-13 13:54] davidak commented on #704
@hubertbanas here is my current NixOS configuration with caddy: https://github.com/davidak/nixos-config/blob/f8b2e9f589272d11548e3f58d6cd3c5e2f351c15/binary/configuration.nix#L115

relevant part: `import /var/www/*/web/Caddyfile`

then i have the file `/var/www/test/web/Caddyfile` with the the content:

test.xxx.de
**root /var/www/test/web**
[...]

i want to delete the `root` line since the inform

[2016-04-13 14:03] wmark commented on #747
Allow me to rephrase your second (feature) request: You want Caddy to redirect visitors that did not send a *TLS client hello* (https ← http in tls) where one was expected.

Although it's possible for the http server to react to something like that (for example by serving an error page), no browser would accept a subsequent server-initiated »protocol upgrade«, even if we implemented it. ("Upgrade

[2016-04-13 14:50] meepeek commented on #747
Thanks for the correction and enlighten.

By the way, if I tried http://google.com:443 on the browser it returns error and not download anything how do I make Caddy act like that ?

[2016-04-13 15:46] wmark commented on #747
The library Caddy uses for TLS responds with a binary packet, which means an error in the TLS protocol, but is interpreted as being the requested content by the browser.

Google's server does not respond at all, resulting in no download.

I will see if we can suppress that TLS alert easily.

[2016-04-13 16:09] mholt commented on #748
Is your Raspberry Pi ARM v6? You probably downloaded it with a different ARM version. The download link looks like this:

[code]

You need to add the ARM version:

[code]

Right now we just build for ARM v7 by default; I could probably have that clarified on the download page.

[2016-04-13 16:10] mholt commented on #376
@My1 It doesn't, but the caddy-lua project can be built out to begin replacing PHP.

[2016-04-13 16:11] mholt commented on #745
@wienczny Sure it does:

[code]

Or am I misunderstanding something?

[2016-04-13 16:21] My1 commented on #376
but when lua replaces PHP you have to reqrite all your stuff in Lua, which certainly isnt what I wanna do, since I specialize in PHP/HTML/CSS

[2016-04-13 16:37] wienczny commented on #745
Aren't you running two instances this way? Do both share port 80 and 443?

[2016-04-13 16:49] mholt commented on #376
Then use PHP. This would be for new web apps.

[2016-04-13 16:55] DenBeke commented on #376
PHP and Lua are completely different. Use the right tool for the job. You can't replace Lua with PHP and vice verse.

[2016-04-13 17:09] jpambrun opened #749 "CORS options preflight contains payload in body"
I am no HTTP expert so bear with me..

#### 1. What version of Caddy are you running (`caddy -version`)?

commit b149a86bc2a3fcbdec55ac1fb3e2e757adcb658e

#### 2. What are you trying to do?

Use byte range requests for streaming from another origin.

#### 3. What is your entire Caddyfile?

[code]

#### 4. How did you run Caddy (give the full command and describe the execution environment)?

./cadd

[2016-04-13 17:42] mholt commented on #749
Can you please share your request(s) as well so we can try them? And maybe how you're forming the request with JS in case we need to repro in Chrome.

[2016-04-13 17:52] mholt commented on #376
What I meant is you can do similar things with them. If your app is already in PHP, then leave it; if you find Lua to be better for your next app, then Caddy will (hopefully) one day be able to run it.

[2016-04-13 17:53] jpambrun commented on #749
The request is formed here :
https://github.com/jpambrun/dcmj2k-streaming-viewer/blob/master/src/js/dcmdlworker.js#L79

The OPTIONS preflight request:
[code]

Response:
[code]

The GET request:
[code]

Response:
[code]

[2016-04-13 17:53] wmark commented on #749
This is due Go only checking for HEAD:

https://github.com/golang/go/blob/9b67a5de79af56541c48c95c6d7ddc8630e1d0dc/src/net/http/fs.go#L261

[2016-04-13 17:54] elcore commented on #749
Hello @jpambrun,

just some improvements :smile:

[code]

[2016-04-13 17:54] My1 commented on #376
but even then you have to learn a whole new language.

[2016-04-13 17:59] captncraig commented on #749
There is a special plugin to handle cors natively. https://caddyserver.com/docs/cors. It properly short-circuits the options request and returns a 200 with no payload.

Perhaps that would make this easier for you.

[2016-04-13 18:07] mholt commented on #749
Been looking into this, consulting with some other devs. We may be able to handle this natively in the file server by checking for that method. OPTIONS responses are allowed to have a response body, but I can't think of any good reason why a static file server would need to send one in an OPTIONS response.

[2016-04-13 18:09] elcore commented on #749
@mholt

Me too, it´s just a file server

[2016-04-13 18:21] mholt commented on #745
Yes, it does run two instances. So you want to run both a production and dev environment on the same port?

[2016-04-13 18:34] wmark commented on #747
Go has no facilities to suppress the TLS alert. Its sending is optional according to specs.

We would need to wrap the output of ```tls.NewListener``` (server/server.go) and check the very first bytes. If they are the alert, then alter the response (push an empty response), else passthrough.

This would be something like a copy of ```gracefulListener``` and ``` gracefulConn```.

[2016-04-13 18:58] wienczny commented on #745
It's just an example. There are usecases where this can be a valid option. I really want to run Magento stores that use environment variables to distinguish different store views. These could have different languages or products. This is useful if you have .com for english and .de for german for example.There could be different domains for retail and b2b, too. I just thought Magento's usecase was

[2016-04-13 19:49] cemk commented on #748
Yep, just checked; Raspberry Pi 2 and Pi 3 run the default version, while Pi 1 (A/A+/B/B+) and Pi Zero need the ARM v6 build.

[2016-04-13 20:24] miekg commented on #619
Coming late to this thread, but I'm pondering this issue as well in [CoreDNS](https://github.com/miekg/coredns).

(I also like the `import @common` syntax). My self I was pondering the following:
[code]
So you have some kind of global block.

[2016-04-13 20:29] mholt commented on #748
Cool. That'll do it, and I'll update the download page soon to show the ARM version.

[2016-04-13 20:29] #748 closed

[2016-04-13 21:09] meepeek opened #750 "Global load balance feature request"
Since it was not in the document, I think this is a feature request.

I saw proxy load balancing feature but there was no location-base policy. It would be nice to have one in the future.

[2016-04-13 21:12] mholt commented on #619
@miekg How do we know what is an address and what is a directive?

As a general rule, I've decided against implementing inheritance. The `@common` syntax isn't bad IMO, but... I wonder if it would ever conflict someday with a hypothetical email server configured by the Caddyfile. (In other words, distinguishing which of these: `@common`, `@mysite.com` is meant to be for email addresses, could be t

[2016-04-13 21:13] mholt commented on #750
Location-base policy? What is that?

[2016-04-13 21:22] elcore commented on #750
@mholt

Redirect client to the closest server based on geolocation (am I right @meepeek?)

[2016-04-13 22:01] miekg commented on #619
@mholt Good question. In CoreDNS I don't have that problem because without an address a <strike>Caddy</strike>Corefile does not make sense. But for Caddy this is different. I can totally live with `@common`

Regarding the use of `@`.. you could allow a directive in common blocks:
[code]

[2016-04-13 22:56] mholt commented on #704
@davidak Okay, this actually makes sense. Let me take an unofficial survey and see what we can do.

[2016-04-14 01:37] tehscorpion commented on #312
@netaisllc the middleware looks like it adds no value to caddy right now. because as i see it right now it just adds headers which is already possible. How about https://github.com/SpiderLabs/ModSecurity/tree/libmodsecurity using with commercial/free rules.
Someone actually started the go bindings already https://github.com/senghoo/modsecurity-go.

[2016-04-14 01:46] meepeek commented on #750
Yes that what I meant. I thought it was the load balance to do the thing to do.

[2016-04-14 11:51] stp-ip commented on #667
Finally got to setting up the test environment. Tried to reproduce this with v0.8.1, v0.8.2 and master.

Unfortunate thing is. I could not get this to reproduce again. Will close for now.

Sorry for the suspense for nothing :(

[2016-04-14 16:04] mholt commented on #667
We're actually working on this issue in chat right now with someone else (a brave soul who is willing to make the change in production since reproducing it was hard!), so we may have a fix forthcoming soon anyway.

Will reopen until we know more :wink:

[2016-04-14 17:09] robertmeta commented on #667
@mholt I ("brave soul") am putting together a patch for this.  Basically, it feels like we got a few issues... should we split them up?

#1. Random failures while backend is responding.  This is what we are debugging in production.
#2. What to do during an non-bug failure with a single backend.  I think the answer is nothing, no timeout, just keep trying!
#3. Do we need a SEPARATE feature for bein

[2016-04-14 17:58] stp-ip commented on #667
@robertmeta
Might me needed to split them up
  1. I tried to debug the issue both in a test environment and in production, but couldn't reproduce yet.
  2. I would say having "max_fails" default to 1 with multiple upstreams and to 0 with a single upstream. Not perfect, but the saner default and with a minimal documentation easy to reason about.
  3. Not sure what you are getting at. Will jump on g

[2016-04-14 18:15] stp-ip opened #752 "Wildcard support for error pages"
As far as the documentation goes one can set error pages for all errors above 400 codes. It would be great to have a catch all error file and in addition specific error pages afterwards. Something along the lines of:

* generic_error.html
500 500_error.html
502 502_error.html
429 429_error.html

This would serve the specific pages on error 500, 502 and 429, but the generic page on evey other error

[2016-04-14 18:17] stp-ip opened #753 "Possibility to proxy to error page"
Instead of just serving a static error page it might be great to provide a url, which then gets proxied to or as an easier implementation just fetches the error page and serves them.
Something along the lines of:

500 500_error.html <- serving static site
404 https://example.com/404.html <- page is fetched and delivered to the client

[2016-04-14 18:20] stp-ip opened #754 "Set max_fails default to 0 on single upstream"
As #667 showed it might be beneficial to to use max_tries set to 0 as a default, when only one upstream is available. Marking a single upstream as down for 10s due to one bad request seems too conservative.

[2016-04-14 18:23] stp-ip commented on #750
Even if it might be possible to let caddy proxy to the closest server all the traffic is still routed through caddy therefore the request might even be slower.

The solution for something like this would probably be geolocation over dns.

DNS from Europe -> caddy Europe -> proxyto Europe backend server
DNS from US -> caddy US -> proxy to US backen server

[2016-04-14 18:48] robertmeta commented on #667
@stp-ip

1. We get reproducers at least every few days -- and we get a handful on most normal days.  During the weekend rush I can virtually guarantee one, no worried about that part.
2. max_fails to upstreams-1 would make sense right?  1 backend, it is 0, 5 backends it is 4?
3. Certain setups can get into corner cases were constant connections forces them into unrecoverable states (or prolongs th

[2016-04-14 18:54] stp-ip commented on #667
1. perfect
2. max_fails == upstreams-1 seems like a easy solution
3. adding circuit_breakers (default set to false), which mark a backend down even in single upstream mode on 429, 502 and 509 error codes?

[2016-04-14 19:08] robertmeta commented on #667
1. Cool.
2. Cool (maybe we can have an override setting?!)
3. Yep, that is my idea, I think that one I will do last, first 2 seem free and obvious.
and
4. If I find the source, I will post it here and try to build a PR around it.

[2016-04-15 01:28] wmark commented on #708
IMHO this belongs in a plugin of its own.

I understand that some users must due to legacy software, but nobody should deploy this scheme these days anymore.

[2016-04-15 08:58] eliasp opened #755 "RFE: implement support for systemd's sd_notify"
I'd like to see support for systemd's [`sd_notify`](https://www.freedesktop.org/software/systemd/man/sd_notify.html) in Caddy.

Advantages of implementing this:
- Caddy can properly signal to systemd once it's actually ready. Currently systemd simply has to assume it is ready to serve requests once the process is started while in reality Caddy might take a little longer than that to establish all

[2016-04-15 09:51] meepeek commented on #750
Seems this feature might not be useful. @stp-ip Thanks for additional explanation. I will look into the DNS as you guys advises.

I am closing the thread.

[2016-04-15 09:51] #750 closed

[2016-04-15 11:50] wmark commented on #755
I am with you on this one and started some work going in that direction:

https://github.com/mholt/caddy/compare/master...wmark:systemd-sockets

Asking /@all: What other *init* daemons do support fine-grained status notifications? Is it worth changing a TTY title bar, too, if Caddy were the foreground process?

[2016-04-15 14:37] wmark commented on #755
I'd like to classify this as being more important than »nice to have«:

On slow systems Caddy is shown as »ready« but not serving any connections yet. For example, on my ```arm7```` it takes a few seconds to one minute, and I had no idea what was going on until learning that Caddy was indeed loading and parsing certificates.

That said, if the terminal is a TTY then yes, changing the title bar hel

[2016-04-15 17:01] mholt commented on #752
A default error page is probably fine; but I'm not sure I like the idea of stringing them all together on a single line.

[2016-04-15 17:01] mholt commented on #753
What's the use case for this?

[2016-04-15 18:28] stp-ip commented on #752
And the singe line "idea" was just me not formatting the issue right. Sorry for that.

[2016-04-15 18:30] stp-ip commented on #753
Handling errors on multiple projects/project sites in a single location. Could be an maintenance page or just a better overview page for all projects etc. The zentral location might be able to handle the error or redirect the user better than a local page.

But that was just an idea.

[2016-04-15 21:16] wmark commented on #749
While debugging a different plugin I've learned that *browse* is sending nonsense for POST and PUT.

Point is, the only methods *browse* expects, and has well-defined answers for, are currently GET and HEAD. Therefore all other methods will return a »method not allowed« beginning with 4e98cc3005269cd0a4f88cb0af8349f141bdb0a0 to prevent further unexpected server responses. That is, until anyone dec

[2016-04-15 21:16] #749 closed

[2016-04-15 23:43] joushou commented on #735
Okay, I have played with different things in minihttp. I suspect that the only difference in GZIP handling was that mine was terrible, causing poor performance overall. I have now implemented from-disk gzip serving using an io.Copy from the bare os.File into a gzip.Writer, which is the same as Caddy does inside of http.ServeContent. I do, however, not experience the same GC pressure on the tiny te

[2016-04-16 04:22] ShaRose opened #758 "FastCGI path doesn't seem to be very restrictive"
#### 1. What version of Caddy are you running (`caddy -version`)?

Caddy 0.8.2

#### 2. What are you trying to do?

Make it so that FastCGI will only be used for index.php: All other php files should print text.

#### 3. What is your entire Caddyfile?

[code]

#### 4. How did you run Caddy (give the full command and describe the execution environment)?

Running via upstart script as follows:

[cod

[2016-04-16 04:41] mholt commented on #758
Hi, thanks for the report.

This isn't a bug, as this is consistent with the path matching described in [the docs](https://caddyserver.com/docs/caddyfile) (bottom of page).

If you want to match a directory specifically, suffix your base path with a `/`, in other words, `/blog/`.

[2016-04-16 04:44] ShaRose commented on #758
Yeah, but there doesn't seem to be a way to match a specific FILE, not just a directory. (Also the fastcgi doc page should be updated to /blog/)

[2016-04-16 05:08] mholt commented on #758
The Caddyfile is agnostic to what files exist on your system when it comes to path matching.

We should change the documentation to include the forward slash, you're right.

If you don't mind me asking, why do you have files called `index.php.phpinfo.php` and `index.phptest/phpinfo.php`? Part of the Caddy design is that it encourages using an elegant file/folder structure for your site.

[2016-04-16 05:09] ShaRose commented on #758
It was kind of a "Hmm, I wonder if that actually works" moment of trying it out. And upon bringing it up on irc, a few people told me to submit a bug report just in case.

[2016-04-16 05:13] mholt commented on #758
Ahh, gotcha :smile: Thanks for being thorough and taking the time to do that! I've updated the docs page locally so it will be deployed in the future.

Feel free to comment if there's anything else.

[2016-04-16 05:13] #758 closed

[2016-04-16 09:24] Burmudar commented on #738
Hi. I'd like to work on this issue as an intro to contributing towards Caddy. Any objections ?

[2016-04-16 11:32] abiosoft commented on #738
@Burmudar no objections. No one has claimed this yet, you can go ahead. 👍

[2016-04-16 17:01] mholt commented on #726
Abiola and I have discussed this a bit and we are willing to implement the functionality *if* we can find a good, elegant way to do it. We're open to well-thought-out proposals for how this would look in the Caddyfile, preferably without breaking `redir` as it currently stands.

[2016-04-16 17:12] abiosoft commented on #726
Adding to what Matt said, we have experimented with regexp and conditions in **rewrite** and we have gotten many positive feedbacks. With the number of requests for similar feature for **redir**, we are now willing to add the features to **redir**.

The challenge is supporting **rewrite** features (basically `if` and `regexp`) and ensuring it is backward compatible with the current **redir** synta

[2016-04-16 17:25] wmark commented on #726
How about:

Left column: If ```!strings.HasPrefix(…, "/")``` then is a regexp.

Right column can have a scheme. Or start with ```//``` in which case the current request's scheme is prepended.

[2016-04-16 17:44] mholt commented on #719
Wonder if the changed header value can be reproduced without needing JetBrains.

[2016-04-16 17:49] brettneese commented on #719
If you want, the teamware is available for free download, though it's kind
of a pain to install:  https://www.jetbrains.com/youtrack/,
https://www.jetbrains.com/hub/. We're running on a Centos 7 box.

We ended up using a Elastic Load Balancer to do the proxying in Hub for
now, though that's a hacky solution and definitely overkill.

At this point, however, we kind of just wanted to wait to see wha

[2016-04-16 18:09] schlypel opened #761 "Caddy + PHP-FPM in different Docker containers"
First, big thanks for this great piece of software and the amazing spirit in this community.

Running **0.8.2** on alpine:3.2 in ubuntu DO droplet

I'm trying to get caddy to work with PHP-FPM and Docker, having caddy in one container, linked to another one with php.
This is no problem at all, but it gets tricky when trying to combine with vhosts, because the root for PHP-FPM is configured to say

[2016-04-16 19:19] abiosoft commented on #761
If I get you right, the challenge is from here.

AFAIK this should just be /my-site.com/test.php.

AFAIK, PHP-FPM needs the absolute path to the file. I may be missing something here but mounting the site directory on same path in both containers should've fixed this.

What do you expect the absolute value to be if ` /var/www/my-site.com/test.php` is the wrong one for that container ?

[2016-04-16 19:38] schlypel commented on #761
Actually this absolute path is correct, only that for some reason the variant with the 'top-level vhost' works, while the other doesn't. I just figured, since the path it shows in the error message is the correct absolute path, it should have been relative to the root configured in php-fpms www.conf.
But after more then 30h trying to fix this, i'll try rebuilding the configs and logging everything

[2016-04-16 19:51] abiosoft commented on #761
30h is much 😳. I personally haven't really used caddy and php in separate containers.

Regarding paths, I am almost sure Caddy passes absolute path to php-fpm and therefore do not think base path in www.conf is used.

[2016-04-16 20:17] schlypel commented on #761
I did have some sleep in between :smile:

I also couldn't imagine it being path related. The majority of similar cases where about permissions.

Just tried it again, permissions, ownership and absolute paths are ok, log still says `ERROR: Unable to open primary script`. But the error generated by caddy is a 404 instead of 5xx: `No input file specified. 404 Not Found`

Maybe some more sleep will he

[2016-04-16 20:29] abiosoft commented on #761
If your docker setup is not complex (e.g. compose), you can share it and I can try to replicate it.

[2016-04-16 23:00] edrex commented on #746
I was able to reproduce, and posted a modified version of @kryptodev's gist with results inline https://gist.github.com/edrex/105a4c9577aa13c7c2f52048be3295ce

[2016-04-16 23:02] edrex commented on #746
`upgrade:websocket: origin not allowed`

[2016-04-16 23:03] schlypel commented on #761
I did rebuild it from scratch, same problem. But since it is a not to complex docker-compose driven project, will just pack it up and send it to you.
Thanks for all your effort, really appreciate it.

[2016-04-16 23:13] edrex commented on #746
It works for me through a proxy if I instantiate the `Upgrader` with a permissive `checkOrigin`:

[code]

@kryptodev, what client are you using to test this? I can't reproduce using the client setup in my version of your gist.

[2016-04-16 23:14] edrex commented on #746
Might also be a windows-only thing. I'm testing on a OS X.

[2016-04-17 00:00] edrex opened #763 "proxy: twin websocket connections?"
Companion issue: https://github.com/emersion/net-browserify/issues/7

It appears to be relevant that Caddy opens two websocket connections rather than one.

[2016-04-17 00:02] mholt commented on #763
It opens two? How came you by this?

[2016-04-17 00:06] edrex commented on #763
well, the backend server logs two connections (see linked issue). Wireshark also shows two HTTP connections to the socket, along with lots of DUP ACKs. I hesitate to post the wireshark dump since

![](https://img.buzzfeed.com/buzzfeed-static/static/2014-10/26/6/enhanced/webdr08/enhanced-14836-1414320930-8.jpg)

[2016-04-17 00:12] faddat commented on #366
@jbeda @mholt
How to go about getting #564 merge-ready?  Speaking for myself, this would make caddy OMFG unstoppable.  Right now cluster ingeress is really needlessly hard, weather it's a docker swarm cluster or a kube cluster, fact is it's pointlessly hard for both.  #564 would seem to solve both use cases cleanly.  I'm going to do some testing and will let you know if that ends up being the case

[2016-04-17 00:14] mholt commented on #763
Haha.

I do not see any information about the backend logging two conncetions -- can you link me to it?

[2016-04-17 00:19] edrex commented on #763
I was curious if this was always happening and just some backend servers are tolerant of it, so I tried it with the [loop example](https://gist.github.com/edrex/7af8da336fbd1ec6a2f9) and sure enough, wireshark sees two socket connections.

[2016-04-17 00:25] edrex commented on #763
Here is a shot from wireshark only showing http and websocket frames:

![image](https://cloud.githubusercontent.com/assets/14615/14584353/c7ee00ac-03f7-11e6-8dcc-37ae968e9ff9.png)

Frames <= 27 are direct, and frames > 40 are through the proxy. Note the duplicate requests in the second group.

[2016-04-17 00:53] edrex commented on #763
@mholt I realized I hadn't posted the log on the linked issue, but I think the evidence above is clearer.

[2016-04-17 02:26] weingart commented on #708
The string "default" is as good as any, make it overridable in the Caddyfile.

[2016-04-17 02:31] weingart commented on #755
Please no messing with TTY title bars.

[2016-04-17 15:02] andmarios commented on #746
I have a similar issue. I try to proxy a [codebox](https://github.com/CodeboxIDE/codebox) instance.

Codebox is written in nodejs and serves websocket connections under a dynamic URL: `/socket.io/1/?t=SECONDS_SINCE_EPOCH`.

I use caddy 0.8.2, downloaded the binary.

My Caddyfile is:
[code]

The error that codebox reports is `warn: client not handshaken client should reconnect`.

I've also tried wi

[2016-04-17 18:17] edrex commented on #746
@andmarios that's probably because of https://github.com/mholt/caddy/issues/763.

[2016-04-17 18:37] eliasp commented on #755
What about making TTY-manipulation configurable?

[2016-04-17 20:25] elcore opened #767 "Browse: Internal Server Error"
#### 1. What version of Caddy are you running (`caddy -version`)?

Caddy 0.8.2 | Caddy build from master

#### 2. What are you trying to do?

Running Caddy with browse enabled

#### 3. What is your entire Caddyfile?
[code]

#### 4. How did you run Caddy (give the full command and describe the execution environment)?

Ubuntu Wily (systemd service)

/usr/sbin/caddy -agree=true -conf=/etc/caddy/Caddy

[2016-04-17 20:43] wmark commented on #767
Thrown in https://github.com/mholt/caddy/blob/c05c5163e293c92f7e5562df558fe955c7075f7a/middleware/browse/browse.go#L186-L193
with https://github.com/mholt/caddy/blob/c05c5163e293c92f7e5562df558fe955c7075f7a/caddy/setup/browse.go#L22

Introduced in https://github.com/mholt/caddy/commit/4c642e9d3c8ae382c32421462e9f163110e8f621

---
Setting ```IgnoreIndexes``` cannot be configured and is not document

[2016-04-17 20:47] wmark commented on #767
You have configured both on the same scope:
[code]

Only the first as listed in (see ↓) will serve requests to / and below.
https://github.com/caddyserver/buildsrv/blob/e026304d4c4b9f22fdf76624e4b789eab23ab8fb/features/registry.go

Said index file is an actual file in your ```/var/www/html```.

[2016-04-17 20:56] wmark commented on #755
I will implement something that accepts plugins, add systemd no it, and we will go from there.

My point-in-time readiness estimation is mid of this week for reviews.

[2016-04-17 20:59] mholt commented on #767
Wow, somehow I hadn't even noticed that IgnoreIndexes thing O.o ... or I forgot completely about it.

But I have not seen this error before, I need to go back and review this. @hacdias do you remember what this was for?

[2016-04-17 21:05] wmark commented on #767
We need to:

 - [ ] issue an internal redirect if an index exists and the setting is *false* (else the usual directory listing will appear)
 - [ ] create a way to set/unset it
 - [ ] include the setting in the documentations

[2016-04-17 21:21] elcore commented on #767
**UPDATE**

If browse is enabled, all directories including "/" receive a 500 Internal Server Error

`17/Apr/2016:21:16:06 +0000 [ERROR 500 /] Directory contains index file, not browsable!`

[2016-04-17 21:22] mholt commented on #767
I wonder what changed recently that caused this to start happening? I have not yet had a chance to try your instructions to reproduce, but I haven't seen this issue before.

[2016-04-17 21:28] andmarios commented on #746
@edrex indeed!

If I understand correctly, socket.io (a websocket library) negotiates a websocket and then passes a unique, one-time-use URL to the client.

Caddy's proxy initiates a connection (http request) by itself on that URL to test if it accepts websockets and then starts a second connection (net.dial) to serve the client.
But socket.io has already invalidated the URL, since it got one conn

[2016-04-17 21:30] ultimateboy commented on #366
I've been working on a similar solution using caddy as a front end load balancer for kubernetes services, creating proxies in an automatically generated Caddyfile based on annotations on services. The majority of the code came from the Deis Router which uses nginx. The fork is in very early stages, but given the relevancy to this issue, I thought I'd post a link: https://github.com/drud/router

[2016-04-17 22:17] wmark commented on #767
Provided no one else wants this, I will tackle this tomorrow.

@elcore What happens if you remove the offending file?

[2016-04-18 03:17] mholt commented on #767
Caddy's browse middleware should pass-thru the request to the file server if the request path is for a directory and that directory contains an index file; in other words, browse renders the file listing if no index file is present, but it should never ever return a 500 unless there's a programmer or configuration error.

[2016-04-18 05:08] elcore commented on #767
Are you sure? There was no 500 Internal Server Error with 0.8.2

Why should I delete my index file? -- (no errors -- I renamed the file)

[2016-04-18 08:30] edrex commented on #746
@andmarios something very similar happens with when proxying to net-browserify.

It is possible to do the full handshake conditionally, just not via the `http.RoundTripper` interface. See [WebsocketProxy.ServeHTTP](https://godoc.org/github.com/koding/websocketproxy#WebsocketProxy.ServeHTTP).

 I was attempting this last night:

- If the request asks for websocket upgrade
    - ignore `p.Transport`

[2016-04-18 11:24] klingtnet commented on #763
Maybe this is related to my issue running a [jupyter notebook](http://jupyter.org/) server with caddy acting as a reverse proxy. Websocket connections are working when I access the server directly using SSH portforwarding `ssh -L 12345:localhost:12345 host` but there are sporadic issues when connecting via caddy (sometimes it works, sometimes don't). I haven't figured out the problem yet because `

[2016-04-18 13:58] wmark commented on #767
0.8.2 had a ```continue``` there. That resulted in the middleware checking for more applicable scopes — — which is redundant, because we had a matching scope in the first place, or the index would've been found again. Eventually ```Next``` was called:
https://github.com/mholt/caddy/blob/v0.8.2/middleware/browse/browse.go#L276-L280

I will file a PR to reinstal the old behaviour, which I changed.

[2016-04-18 14:15] eliasp opened #769 "RFE: specific stdout/stderr format when running as systemd service"
# Request For Enhancement
## specific stdout/stderr format when running as systemd service

I'd like to see a slightly adapted format for stdout/stderr messages to be used when Caddy detects it is running as systemd service.
Currently, the output in `systemctl status caddy@foobar.service` looks like this:

[code]

The problems here:
- all messages are crammed into a single line before they're flus

[2016-04-18 14:30] elcore commented on #767
@wmark thank you very much :smile:

[2016-04-18 14:38] wmark commented on #769
This illustrates the need for a central logging facility in *Caddy*. (Not volunteering here.)

[2016-04-18 14:58] mholt commented on #746
What if the user gave the exact path for websocket connection, otherwise it's treated as a regular reverse proxy? In other words, the path must match exactly, and if so, we will attempt a websocket connection without checking the Upgrade header.

Still, though, what's the point of sending the Upgrade header if backend services don't support it? (Or is it that they do, they just require that the sa

[2016-04-18 15:09] mholt commented on #769
Caddy has a "central logging facilitiy" -- the process log, which is what you're seeing here.

But you're logging more than just stderr, you're also logging stdout, which is not entirely useful. The "crammed into a single line" is a result of logging more than just stderr.

I'd rather have the timestamp logged twice than not at all; this seems mainly to be an aesthetic request?

[2016-04-18 15:57] mholt commented on #767
Interesting, I can reproduce this, but only on some directories. Investigating.

[2016-04-18 16:29] andmarios commented on #746
@edrex I would certainly like to give it a try. I have a "works for me" patch that I can't submit because it has a much different philosophy and potential problems. It checks if the connection and upgrade request headers are set for websocket, and in that case it skips the transport and hijacks the connection.

@mholt An exact prefix would be better, since the websocket URLs may be dynamically gen

[2016-04-18 16:35] mholt commented on #746
@andmarios Interesting, your "works for me" patch sounds similar to what I just mentioned, where the proxy's base path is the exact and full path to the websocket; because if we knew for sure the request was going to be a websocket, we could skip the roundtrip in the first place.

But I agree it's not ideal. And I kind of would rather find a proper way to do this by reusing the connection.

Could

[2016-04-18 17:51] #767 closed

[2016-04-18 17:53] hacdias commented on #767
@mholt I don't remind this, but glad to hear that it's fixed! :)

[2016-04-18 18:02] mholt commented on #767
I remember now :) It was because your hugo add-on wanted a way to show the directory listing even though it contained an index file, so it's optional for those custom implementations.

[2016-04-18 18:18] edrex commented on #746
I'm of two minds re: explicit websockets vs "just works always". I think making it "just work", if it's possible, is more in line with the Caddy philosophy.

@mholt I like your idea about changing the type of `p.Transport` from `http.RoundTripper` to something that lets us get the connection, and from which we can get an `http.RoundTripper`. Seems like a straightforward refactoring which would mak

[2016-04-18 18:38] hacdias commented on #767
Oh! :D Good then!

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Sem
vírus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DDB4FAA8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

2016-04-18 19:02 GMT+01:00 Matt Holt <notifications@github.com>:

--
Henrique Dias, Author at P

[2016-04-18 18:39] mholt commented on #746
Please go for it, a pull request to review is progress and learning for the rest of us too :smile:

Today I'm working on $DayJob but tomorrow I'll be back to getting Caddy 0.8.3 ready to release, which hopefully will include a fix for this too! Let me know if you have any questions, we're also in gitter.

[2016-04-18 19:09] eliasp commented on #769
@mholt it's a bit beyond being simply aesthetic - systemd's journal is a structured log which means the various information in a single line of log output can be actually interpreted in a meaningful way to be filtered (based on date, context, log level, debug information, line of code generating the output, …) , aggregated etc. See also the [default fields](https://www.freedesktop.org/software/sys

[2016-04-18 19:16] edrex commented on #763
@klingtnet yeah, most likely. Stay tuned, fix in progress.

[2016-04-18 19:49] mholt commented on #769
Okay, I can understand that.

You can fix the "non-wrapped line" issue by not logging stdout. Just log stderr. The stdout isn't used as a log anyway.

So basically, you want the timestamp to be absolute, meaning, unix timestamp format? Or something with timezone.

[2016-04-18 20:36] benno208 opened #771 "Proxy subdomains"
I don't think that is it a bug. But I can't find a good example for this use case.

#### 1. What version of Caddy are you running (`caddy -version`)?
0.8.2

#### 2. What are you trying to do?
Proxy subdomain to different servers

#### 3. What is your entire Caddyfile?
[code]

#### 4. How did you run Caddy (give the full command and describe the execution environment)?
As a Docker container linked

[2016-04-18 21:23] mholt commented on #771
You want something like this instead:

[code]

[2016-04-18 21:55] mholt commented on #738
Closed in #760.

[2016-04-18 21:55] #738 closed

[2016-04-18 23:39] jbeda commented on #366
@faddat I'd love to help but I'm over committed right now. 😞

[2016-04-19 06:03] eliasp commented on #769
In general, I'm fine with the timestamp as it is…
I just wanted to get rid of it when Caddy runs under the control of systemd, as in this case it:
- provides redundant (and possibly confusing because of different formats) information
- makes it harder to read the actual messages

After reading the discussion again, I feel like this RFE should be simply changed to "Implement systemd journal logging

[2016-04-19 16:19] mholt commented on #769
Gotcha. I'll leave this issue here until we or someone gets around to it :smile: - thanks for the feedback!

[2016-04-19 17:59] weingart commented on #769
Having Caddy be correct in every single environment is going to be
tantamount to going crazy.  Having said that, there may be an "easy" way to
this, in a somewhat generic method:

Modify/enhance the logging parts to take an optional configuration
parameter that specifies the constants that should be used (from
https://golang.org/pkg/log/#pkg-constants) to create a new logging
instance.  In this wa

[2016-04-19 18:20] mholt commented on #769
Excellent -- that's what I had in mind, too. :smile: Rather than make Caddy try to fit in everywhere it goes, make it possible for power users to configure it when they want to. Just not at the expense of Caddy's simplicity.

This could probably be a command line flag or an env variable.

[2016-04-19 19:11] benno208 commented on #771
Now I get the following error:
``
Parse error: Unknown directive subdomain.example.de
``

[2016-04-19 19:15] benno208 commented on #771
Okay, I got it. Thanks!

[2016-04-19 19:15] #771 closed

[2016-04-20 01:20] wenerme commented on #223
I also want to pass Port

[code]

is there a `{port}` can use to pass the original port ?

[2016-04-20 09:23] klingtnet commented on #769
I would also vote for *leaving the default log as it is* but provide an option to configure the output format. The default format makes it easy for users to run some analyzer like [goaccess](https://goaccess.io/) on the logs.

[2016-04-20 15:14] bc24fl opened #775 "Laravel Nginx Configuration For Caddy Webserver"
Team,

Many thanks for developing this exciting project.  Hopefully one of you can help me with some configuration changes needed.  I have a standard Laravel 5.1 Debian 8 installation and inside my public folder i have an app folder with a small angular js project (I only use laravel as an API backend).

When hosted on Nginx i get the expected result when i visit http://localhost/app (Converts the

[2016-04-20 15:25] mholt opened #776 "SCGI support"
We had a [feature request on Twitter](https://twitter.com/nwgat/status/722797329024036868) to add SCGI support.

The [linked package](https://bitbucket.org/mjl/scgi) is very short, as well as this other one, [mlauer/gofcgisrv](https://github.com/mrlauer/gofcgisrv) -- I haven't looked into them in detail yet so I'm not sure which one we'd use, but it seems small and simple enough to add to core --

[2016-04-20 16:49] eliasp commented on #755
@wmark while you're at it, it might be a relatively low-hanging fruit to implement support for systemd's watchdog functionality via `sd_notify()` in Caddy's main loop.

See also:
- https://www.freedesktop.org/software/systemd/man/sd_notify.html#WATCHDOG=1
- https://www.freedesktop.org/software/systemd/man/sd_watchdog_enabled.html#

[2016-04-20 18:19] wmark commented on #769
Regarding systemd:

[`util.RunningFromSystemService()`](https://github.com/coreos/go-systemd/blob/7f0723f2757beb369312e795c56cb681a928d7c7/util/util.go#L150) nor *IsRunningSystemd*, nor running in *system.slice* are reliable indicators that Caddy can talk to systemd:

 * Caddy could be wrapped in a shell, or a broker.
 * I for one have Caddy in *clustering.slice* and *user.slice*. *system.slice* i

[2016-04-20 18:22] abiosoft commented on #775
Try this. I removed redundant configs as they are the defaults.

[code]

[2016-04-20 19:46] bc24fl commented on #775
That got me further.  I have a redirect in Laravel that if you visit / route it redirects to /app .

On Nginx page display correctly at: http://localhost/app/
On Caddy page displays page but incorrectly (ie: shows angular bind variables as {{}}) and redirects me to http://localhost:2015/app

For some reason Caddy is not adding the extra "/" at the end of the URL.  If i manually add the "/" at the

[2016-04-20 19:54] abiosoft commented on #775
Hmmm. Caddy uses trailing `/` as an indicator for a directory and I am not sure if there is a way out.

[2016-04-20 20:01] bc24fl commented on #775
I'm having a hard time understanding this, even after reading the docs:

rewrite {
    to {path} {path}/ /index.php?{query}
}

Can someone break this out in English for me?  My assumption is "to {path} {path}/" says if user visits http://url/{path} OR http://url/{path}/  (note the "/" at the end) rewrite to index.php?

[2016-04-20 20:04] abiosoft commented on #775
`{path}` - if it exists and it is a file, return here.
`{path}/` - if it exists and it is a directory, return here.

[2016-04-20 20:12] eliasp commented on #769
@wmark I'd start with the basic assumption that a non-exotic setup is used and try to softly degrade from there…
My 2¢: when the heuristics in `util.RunningFromSystemService()` fail a rather special (user-defined) setup is used (why the hell would one wrap Caddy in a shell?) and it's up to the user to either follow certain best practices or deal with the fallout on its own.

[2016-04-20 20:26] bc24fl commented on #775
Ok thanks.  I got it to work by forcing the trailing slash in Laravel's redirect.

Changed this
return redirect('app/');
To this:
return redirect('app/#/');

[2016-04-20 20:28] abiosoft commented on #775
Okay. So you did a workaround inside Laravel.

[2016-04-20 20:32] mholt commented on #775
Great! This will be helpful for others using Laravel. I don't intend to change the way Caddy handles trailing slashes, and that redirect on Laravel's side is easy enough.

[2016-04-20 20:32] #775 closed

[2016-04-20 21:27] wmark commented on #755
Sending keep-alive signals in a goroutine will not tell us if any sockets (like, listening sockets) dropped out, if we ran out of file descriptors, or if a thread had been killed by the system.

A proper watchdog implementation would need to cycle over all sockets, ingress and egress, and see if connections get responses.

The *watchdog* feature is not covered by my PR.

[2016-04-21 00:07] wmark commented on #755
I am closing this in favour of #777. If you have other ideas, please open an issue if and when #777 is in.

[2016-04-21 00:07] #755 closed

[2016-04-21 08:21] klingtnet commented on #769
If wrapped in a shell means something like `ExecStart = /bin/sh -c "something --foo bar"` then this is not totally uncommon.

[2016-04-21 09:31] eliasp commented on #769
@klingtnet Sure, I know about those cases, but I've never seen a sane scenario where this wouldn't just serve as hack instead of looking for the proper solution to the problem - so IMHO still something we shouldn't put too much thought into supporting it.

[2016-04-21 10:33] eliasp opened #778 "RFE: support for FD passing (*inetd/systemd)"
# Request for Enhancement
## Support for FD passing (*inetd/systemd)

To solve the problem of having Caddy running as privileged user to be able to bind ports below 1024, a common solution is to simply use a service manager with socket activation support ("legacy style" via *inetd, "modern style" via systemd).

This requires the process which is intended to bind sockets to accept FDs from a privil

[2016-04-21 12:23] wmark commented on #778
@eliasp This is sure a detailed and well presented RFE! :+1:

Join us on [Gitter](https://gitter.im/mholt/caddy?at=570d1f0b5cd40114649a9601), where we consider these things!

[2016-04-21 14:53] mholt commented on #763
@edrex How's it coming? Anything I can help with? Since Go 1.6.2 was released last night, we can release a new version of Caddy to great benefit. Definitely want to make sure this fix gets in there.

[2016-04-21 16:12] jet10000 opened #779 "support smtp"
please

[2016-04-21 16:21] captncraig commented on #779
Are you asking for caddy to be a mail server? What use case do you have for that?

[2016-04-21 17:12] mholt commented on #779
This will be possible some day, but I have no plans to do it myself or for it to be a part of Caddy core, sorry.

[2016-04-21 17:12] #779 closed

[2016-04-21 18:03] mholt commented on #778
I wonder how this would affect Caddy's restarts. It uses fd 3 for other things in that case.

[2016-04-21 19:53] lox commented on #10
I've gotten https://github.com/lox/cachecontrol to the point where it captures most of the core rules around caching from rfc7234. Basically it should be useful for determining if a response is fresh or whether it needs validation.

[2016-04-21 21:15] wmark commented on #778
I will iterate on this after #777, https://github.com/caddyserver/caddyserver.com/pull/41, and https://github.com/caddyserver/buildsrv/pull/22 if no one opposes.

[2016-04-21 21:44] wmark commented on #528
In *distrustful decomposition* with the pattern *privilege separation* the parent is in charge of handling all OS-level signals (and hence reaping childs, too).

Sometimes the parent attaches to the child and monitors its activity with the intent of killing it on trespassing.

[2016-04-21 22:37] warpr commented on #753
I use something like this in nginx where if nginx cannot find a file to serve statically, the request is proxied to a backend application which does more advanced content negotiation than nginx can do to try and determine which file the client wanted, and redirect them to it.

(I found this issue as I was trying to rewrite that nginx config as a Caddyfile)

In nginx the config is something like:
[

[2016-04-22 08:15] ioArchman opened #780 "Error while doing 'go get' on Caddy package."
Am trying to use Caddy in my go program. When I tried fetching the package, it throws few errors preventing me to use caddy package in my program.

**Cmd executed**
[code]

**Issue**
[code]
Any thoughts?

[2016-04-22 08:47] abiosoft commented on #780
What version of Go are you running ?

Also try `-u` flag to update all dependencies as well.
[code]

[2016-04-22 08:55] ioArchman commented on #780
Am running:  go version go1.5.1 darwin/amd64
Same is the case with -u too.
[code]

[2016-04-22 08:57] abiosoft commented on #780
https://github.com/mholt/caddy#running-from-source

[2016-04-22 08:57] #780 closed

[2016-04-22 12:29] DenBeke commented on #761
You need to the same volumes attached, but you must also take care of which user runs in which container. The error can also be caused by a permission problem.

But @abiosoft knows a lot more about Docker than I do...

[2016-04-22 13:23] schlypel commented on #761
@DenBeke i know, its actually 100% identical, i have one base image, which creates users and mount points. the strange thing is, that php works if i use the _base_ caddyfile (the one with `root /var/www` ) but the imported vhost file where the root is different ( `root /var/www/my-site.com` ) doesn't.
The connected php container has a doc root at `/var/www`, but since the cgi passes absolute pathe

[2016-04-22 13:38] abiosoft commented on #761
It got to me :) However, I only downloaded it and yet to run it. I will go through the scripts and run the necessary commands. I currently use Docker for Mac and I prefer that over VirtualBox machine that the script is gonna create.

[2016-04-22 13:40] schlypel commented on #761
:smile: yep, thats just my laziness there... as my linux is still the linux i want :wink:

[2016-04-22 14:36] faddat commented on #47
@Xe Quic gets rid of the TCP issues surrounding HTTP and is implemented in UDP, allowing it to have the QUICness.

Along with MPTCP and MPUDP, QUIC is something I've been watching with a great deal of interest.

[2016-04-22 14:40] faddat commented on #525
I am not entirely sure this is the kind of thing you're looking for but:

https://github.com/Nelson69/izip/

[2016-04-22 15:02] mholt commented on #525
No, unfortunately that package requires heavy amounts of cgo.

[2016-04-22 15:59] faddat commented on #525
Gotcha-- well, I'll keep my eyes open :)

[2016-04-22 16:29] Skilgarriff commented on #327
Any update on this/any way for us to help? I would love to be able to test [alpine-caddy](https://github.com/ZZROTDesign/alpine-caddy) on travis as a reverse proxy using tls.

[2016-04-22 17:14] mholt commented on #327
I plan on rolling this out with 0.9, which I've already begun.

[2016-04-22 17:37] nwgat commented on #54
to have future parity with other httpd server then this and #776 is required

[2016-04-22 18:42] joeblew99 commented on #54
Here is the GRPC gateway i was mentioning above:
https://github.com/gengo/grpc-gateway

From the GRPC model, it generates the JSON interfaces for Browsers to consume.
It does not provide two way true RPC. In other word, browsers can initiate calls, and it results in a standard restful call hitting the gateway, and then via GRPC hitting your GRPC facacde where computation happens and a Response goe

[2016-04-22 19:46] 6f7262 opened #782 "Some proxied POST requests fail or hang when upstream does not consume body"
#### 1. What version of Caddy are you running (`caddy -version`)?
Caddy (untracked dev build)

#### 2. What are you trying to do?
Upload files to a reverse proxy

#### 3. What is your entire Caddyfile?
[code]

#### 4. How did you run Caddy (give the full command and describe the execution environment)?
`$ sudo caddy -email="user@host.com" -agree `

#### 5. What did you expect to see?
Proxied reque