[2016-10-23 16:23] abiosoft commented on #1204
Can't reproduce this yet 😕

Any publicly available laravel/php source I can reproduce this behaviour with?

[2016-10-23 22:21] InAnimaTe commented on #1181
Haha so `jk` works but `gg` doesn't...

I literally can't even... ;)

[2016-10-23 22:23] mholt commented on #1181
@InAnimaTe Seriously? I would expect only `ws` to have an effect on it, if at all.

[2016-10-23 22:39] InAnimaTe commented on #1181
From [Apollo 13](https://sfy.ru/?script=apollo13) (when mission control makes the realization they're not going to the moon):

(this doesn't have a ton of relevance to this issue, it's just one of my favorite movie lines ;)

BTW, `kk` works ;)

[2016-10-24 00:17] serussell commented on #1083
@mholt I'll try, thanks.  Since it shouldn't be related to QUIC, should I open a separate ticket?  Anything else I can do to help debug?

[2016-10-24 00:53] taylorotwell commented on #1204
I think it's a little hard to give you a nice, re-creatable repo like that. You kinda have to use PHP with Caddy all day in a development environment. It's basically just pretty broken. If I were you, I would literally roll back to whatever your PHP handling was before the persistent connection stuff went in. Some of my projects just plain don't even work with Caddy anymore. Just white screens. Al

[2016-10-24 02:54] tw4452852 opened #1206 "TestWebSocketReverseProxyFromWSClient failed on go tip"
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)

### 1. What version of Caddy are you running (`caddy -version`)?

0.9.3

### 2. What

[2016-10-24 04:24] tw4452852 commented on #1202
I can't reproduce locally.
Could you please remove this line ` -Content-Type` from you Caddyfile. Also could you please dump the response's header?

[2016-10-24 05:00] mholt commented on #1083
@serussell Sure, once you confirm that taking out the `header` directive fixes the problem, open a new issue so we don't forget about it. I think this issue with regards to QUIC support is fixed -- so we can close this once you've confirmed my hypothesis.

[2016-10-24 05:17] kirillDanshin commented on #1202
@tw4452852 sorry but it fixed by `iconv()` PHP output.

[2016-10-24 05:57] tobya commented on #1204
I'm using multiple sites on Windows with fastcgi introduction with no problems since 0.9.3

Admittedly they are low traffic but I am not having any of these issues.

I also run sites with lumen

[2016-10-24 09:43] tobya commented on #1205
@mholt Ok, I'll keep it simple and simply add the additional call to log.Println

[2016-10-24 13:43] tehscorpion opened #1208 "Websockets get 200 status code after upgrading when using header middleware"
### 1. What version of Caddy are you running (`caddy -version`)?

Caddy 0.9.3
### 2. What are you trying to do?

Proxy websocket connections while setting/removing headers.
### 3. What is your entire Caddyfile?

[code]
### 6. What did you see instead (give full error messages and/or log)?

Caddy answers with `200 OK` and with Server header

Maybe related to #1183 and #1206

[2016-10-24 17:30] seglberg commented on #1183
Just wanted to point out that this issue also occurs when another middleware short-circuits the chain and instantly returns a response, as in the case with the cors plugin with an OPTIONS preflight. In this case, the Server header is not removed, even with `-Server`, likely due to the same reasons stated above.

[2016-10-24 17:59] anovanmaximuz commented on #690
Hi @elcore it solve or just trying ? I seem problem like @dncohen

go build mattermost.go
# github.com/mattermost/platform/vendor/golang.org/x/crypto/ocsp
../go/src/github.com/mattermost/platform/vendor/golang.org/x/crypto/ocsp/ocsp.go:199: undefined: elliptic in elliptic.P224
../go/src/github.com/mattermost/platform/vendor/golang.org/x/crypto/ocsp/ocsp.go:199: undefined: elliptic in elliptic.P256

[2016-10-24 19:10] elcore commented on #690
Hello @anovanmaximuz,

P.S: This is Caddy and not mattermost!!!!!!!!!!!!!!!!!!!!!!!

[2016-10-24 19:45] anovanmaximuz commented on #690
@elcore thanks it works
step :
1. remove golang
2. install caddy
3. install golang for latest (1.7.x) , do not package manager llinux, download manual and add it into PATH,  follow https://golang.org/doc/install
4. try build - no errors affect

[2016-10-24 19:56] tobya commented on #1205
Sorry about all the untidy commits, the last one 	4cc6b29 is the only one I actually submitted in this pull request.

[2016-10-24 20:31] mholt commented on #1208
Thanks for the report -- most likely _not_ related to #1183.

[2016-10-25 00:14] mholt commented on #1206
This must have something to do with https://github.com/golang/go/issues/17525. Thanks for the PR!

[2016-10-25 02:01] tw4452852 commented on #1183
Hi @seglberg , you could work around this by this:

[code]

[2016-10-25 02:38] mholt commented on #1181
Ha, okay, so anything other than `ws` works (?) which confirms my suspicion. Is the hostname of what you're proxying to actually called `ws`? Because even as a human looking at it, it looks kinda like a scheme (and `ws:` is a valid scheme, which is why it throws things off).

So for now, use a different hostname? :smile: I'll keep this issue open until we have a fix... definitely an edge case. :wi

[2016-10-25 03:09] tw4452852 commented on #1183
I have just provided a fix. It will handle most cases correctly. But not for the headers added when `header.ServeHTTP` returns.

[2016-10-25 04:49] InAnimaTe commented on #1181
Yes, `ws` is a valid scheme for websocket connections. And yes, the hostname of what I'm proxying can be set to whatever I want because docker links let you tune that.

I'd advise someone else also test this but from my above testing, `gg` didn't work ([related](https://en.wikipedia.org/wiki/Gadu-Gadu)?). However, `no` and `gy` both work. So atm, `gg` and `ws` are the only two which do not work.

[2016-10-25 04:55] mholt commented on #1181
`gg` doesn't work? :confused: Are you ~sure~? Well anyway, we'll look into it -- someone want to take this when they have a chance. :)

[2016-10-25 08:01] tpng commented on #1201
[code]
only matches ```/```, to achieve what you want to do, you will need to use
[code]
Other usage can be found in the documentation. https://caddyserver.com/docs/rewrite

[2016-10-25 08:43] HazCod commented on #1201
Ahh, I thought it also included everything beneath it. Thansk @tpng !

[2016-10-25 08:43] #1201 closed

[2016-10-25 15:31] #1206 closed

[2016-10-25 15:32] #1205 closed

[2016-10-25 15:32] mholt commented on #1205
Implemented in #1211 - thanks!

[2016-10-25 18:36] crackerplace commented on #1198
Am starting with go and would be interested to work on this.

[2016-10-25 20:17] mholt commented on #1198
@crackerplace  Go for it. :)

[2016-10-25 21:43] tobya commented on #1200
With my limited testing #1178 4baca884c5e4767b114f3d363188e6570a24e90d  does not seem to fix this issue, the extra / is still added to the forward-proxy url

[2016-10-26 01:42] mholt commented on #1200
Okay -- I think that was for a different issue (but still could have affected this one). So I guess we need to look into this one more.

[2016-10-26 02:21] seglberg commented on #1183
Thanks for the quick responses. @tw4452852 your suggested work around did in-fact work!

[2016-10-26 06:41] tobya commented on #1200
I've looked at the code responsible & it seems to assume the proxy will be an upstream directory rather than a file. I will see if I can make progress

[2016-10-26 19:29] xrl commented on #629
This explanation isn't clear enough. No host is "enclosed" in curly braces. The host name should be followed by curly braces, inside of which host-specific directives are provided. Correct? What would a proper config look like?

[2016-10-26 20:07] tobya commented on #629
The following should work for your caddyfile

    :2015 localhost dpe.com {
      gzip
      root /home/lmvm/assets/
    }

    admin.dpe.com {
      proxy / localhost:8081
    }

The first three hosts will all be gzipped and served from the same dir.

If you have details for more than 1 host in your caddyfile you need to enclose any directives in braces.

[2016-10-26 20:39] tobya commented on #1200
I need some discussion on expected behaviour.

Currently what happens is that the proxy is assumed to be a directory which can have first directories and then query parameters added to it.

so given

    localhost:8001
    proxy / localhost:4151/pub?topic=caddy

visiting `localhost:8001` will add the extra `/` not desired to get `localhost:4151/pub/?topic=caddy` and I could just prevent this from

[2016-10-26 22:02] tobya commented on #1200
I have created a pull request implementing option 3

[2016-10-26 22:30] ericdreeves commented on #1170
I've tried very hard to reproduce this to no avail. @mholt has already labeled it so there's no need for me to hold it back. I'll submit a pull request very soon and the maintainers can accept or reject as they see fit.

An additional thought: the specifications of the two WebSocker versions supported by crossbar ([Hybi10](https://tools.ietf.org/html/draft-ietf-hybi-thewebsocketprotocol-10#section

[2016-10-26 22:36] InAnimaTe commented on #1170
So you're effectively disproving my findings (not being harsh, just surprised). Hmm, this is interesting. I'll try to cut out some time and reproduce what I was seeing with header outputs from wireshark etc.. (the whole 9yrds as they say).

BTW, I appreciate your effort in trying to work on this and your thorough report. This is why the Open-Source community thrives (and also, we can have nice thi

[2016-10-26 22:39] ericdreeves commented on #1170
Agreed! Thanks for continuing to work through it with me.

[2016-10-27 21:50] smancke opened #1222 "Master is broken, because of acmeClient signature changes."
The master is broken againt the acmeClient library, because
ObtainCertificate and RenewCertificate got an additional parameter: mustStaple bool

github.com/mholt/caddy/caddytls
caddytls/client.go:200: not enough arguments in call to c.acmeClient.ObtainCertificate
caddytls/client.go:288: not enough arguments in call to c.acmeClient.RenewCertificate

[2016-10-28 23:24] InAnimaTe opened #1225 "Caddy passing empty headers"
During some testing on #1170 it was found that when a `header_upstream` is defined, even if the incoming request didn't contain one, an empty one is provided to the upstream server. @ericdreeves confirmed this in his testing [here](https://github.com/mholt/caddy/issues/1170#issuecomment-255552317):

[code]

Effectively, this means Caddy is sending malformed HTTP to the upstream ;( More on that [he

[2016-10-29 02:27] InAnimaTe commented on #1170
YUP!

Did a simple test of this with wscat: `wscat -c ws://localhost/ -s caddy.is.awesome`

![screenshot from 2016-10-28 22-23-24](https://cloud.githubusercontent.com/assets/1192726/19826626/6d6213d0-9d5d-11e6-9418-626b2a9ee663.png)

Going to try to emulate the environment I had before *exactly* and figure out what was actually going on. Probably no need for #1224 anymore. Really sorry I didn't do

[2016-10-29 02:27] #1170 closed

[2016-10-29 13:56] ericdreeves commented on #1198
I also started on this earlier in the week. I'll submit a PR, but feel free to reject it if @crackerplace has dibs. I don't want to step on any toes!

Since @tristanrollet nrollet cited Readdir() as an example, the new Files template action behaves similarly to it and Readdirnames, but doesn't take an integer as an argument.

I assumed that the directory would be within the root of the context. Le

[2016-10-29 16:05] leonelwilliams opened #1227 "command DNS provider"
I'd like to propose a new type of DNS provider: command. This would execute a defined (via Caddyfile or ENV) program to add or remove DNS records. This would have benefit of supporting custom implementations or bespoke DNS providers easily without much hassle

For example, I have a domain with a lot of (virtual) servers serving various sites on an internal network. I didn't want to give each serve

[2016-10-29 17:10] elcore commented on #1222
Fixed and merged 😄

[2016-10-29 17:10] #1222 closed

[2016-10-29 17:15] crackerplace commented on #1198
@ericdreeves Sure , Please continue.I will work on some other issue.Not a problem.

[2016-10-29 17:19] crackerplace commented on #1198
@mholt Please let me know any issue which I can work on.Am looking into the issues too.

[2016-10-29 18:06] k0nsl commented on #1198
To @all working on this I just want to say: thank you. I am also very interested in improvements / changes regarding this.

I run a lot of mirrors for various projects (FOSS, etc,.) and I typically create a very simple directory index for the files, e.g something like this:
http://devuan.mirror.k0nsl.org/

But if this can be improved, I'd glad to implement those changes in my projects.

[2016-10-29 20:03] smancke commented on #1222
thx

[2016-10-29 21:46] mholt commented on #1181
@InAnimaTe Were you able to confirm whether _only_ `ws` prefix has problems?

[2016-10-30 12:49] ericdreeves commented on #1094
I'll give this a shot.

[2016-10-30 20:21] smancke opened #1228 "Not possible to register a custom http plugin"
I 'm on creating my own custom directive (likely to be open at a later time).

When I register it with

[code]

and than run caddy with `caddymain.Run()`, this results in `Parse error: Unknown directive 'uic'`.

The only way to fix this is by calling `httpserver.RegisterDevDirective("uic", "")`,
which seems not to be intended for production use.

I guess it would be good to also officially support

[2016-10-30 20:56] wendigo commented on #1228
Hi, couple of questions:

1. Do you develop your plugin in external repository?
2. Have you added your plugin to https://github.com/mholt/caddy/blob/master/caddyhttp/httpserver/plugin.go#L392
3. Have you added your plugin to buildsrv?

Custom directives are supported. Take a look at https://github.com/mholt/caddy/pull/1215 when I've added new plugin with `push` directive.

[2016-10-30 23:13] notanark commented on #190
I found the answer, you need a space after your content-type:

I was having the same problem with C# playing around.

[2016-10-31 05:57] wuyongxiu opened #1229 "proxy: retrying POST request failed with http: invalid Read on closed Body"
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)

### 1. What version of Caddy are you running (`caddy -version`)?
I tested the newest

[2016-10-31 10:22] treviser opened #1230 "Caddy 0.9.3: proxy transparent does not pass header_upstream Host {host}"
### 1. What version of Caddy are you running (`caddy -version`)?

0.9.3

### 2. What are you trying to do?

Trying to proxy to a remote backend server

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

As a systemd service on Ubuntu 16.04.1 LTS

### 5. What did you expect to see?

The backend server receives

[2016-10-31 14:54] tw4452852 commented on #1230
Hi @treviser where is `request.host.tld` from?

[2016-10-31 17:00] treviser commented on #1230
This is just a sample host definition coming from the client's browser request, you could also say "my.domain.tld" or "www.example.com" etc. Sorry for misleading you.

[2016-10-31 20:31] mholt commented on #1230
Your Caddyfile syntax is invalid, unless `transparent` is a backend.

[code]

[2016-10-31 20:32] #1230 closed

[2016-10-31 20:46] dpsi opened #1231 "systemd Service won't start"
@bdaehlie re systemd:

### 1. What version of Caddy are you running (`caddy -version`)?
0.9.3

### 2. What are you trying to do?
systemd

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
Followed this: https://github.com/mholt/caddy/tree/master/dist/init/linux-systemd

### 5. What did you expect to see?
Caddy

[2016-10-31 20:48] dpsi commented on #1231
Before this I had an issue where it was denied permission from the Caddyfile. Changing that to 544 instead of the 444 suggested in the guide fixed that issue.

Caddy runs fine when running the command caddy. Just systemd won't work. I have it working right now using init.d but that defeats the purpose of systemd.

[2016-10-31 20:52] mholt commented on #1231
Hey @dpsi, thanks for the report. However we don't support the init scripts in that folder, and since this isn't a Caddy bug (there was no log output provided to show otherwise), I'm going to close this. But you are welcome to ask the community about this on the [Caddy forum](https://forum.caddyserver.com)!

[2016-10-31 20:52] #1231 closed

[2016-10-31 20:58] mholt commented on #1228
^ Bingo. And step 3 is only necessary if you are going to publish the plugin (and it's temporary until the new build server is ready) or are using the build server locally...

But step 2 is definitely what @smancke is missing I think.

[2016-10-31 21:11] mholt commented on #1227
Thanks for the idea. One issue with this is that the external command would still need to be written to be compatible with some sort of format that Caddy expects. Since it would still have to be written for Caddy, it might as well be written in Go and built as a provider just like the other ones.

So I'm not really convinced this would be useful...

[2016-10-31 21:41] smancke commented on #1228
Hi,

no, I'm embedding caddy and for now my plugin is rather project specific and not published in the open.

I saw the directives slice, mentioned in 2., but this always needs a source change in the upstream project to write a plugin. This is ok, if a plugin is of general interest and public available.
But in my current usecase is would be cool to just import caddy as dependency (embedded) and ho

[2016-10-31 22:11] mholt commented on #1228
If you're just using it for you, then `RegisterDevDirective()` should be fine, noting the caveats that go along with it.

Plugins have to be ordered correctly, or there will be bugs. Hence a single authoritative list.

Anyway, hope that helps. :)

[2016-10-31 22:11] #1228 closed

[2016-10-31 22:18] wendigo commented on #1228
@mholt maybe instead of single authorative list we can model plugins order as a relation "must be loaded before/after" and build this list according to plugins spec?

[2016-10-31 22:32] mholt commented on #1228
I've thought about that, where the capabilities or functions of each plugin are enumerated and then the server can order them automatically. However, this turns out to be way more painstaking than just adding a string to a slice. (Have you ever dealt with Android permissions?)

[2016-11-01 06:31] treviser commented on #1230
The backend is a tomcat server. And with the addition of the header upstream to the transparent placeholder it works flawlessly.

This is my complete Caddyfile:

*.twanda.ch:80 { # Your url should go here..

  proxy / http://192.168.110.189:8080 {
      header_upstream Host {host}
      transparent
      }
}

[2016-11-01 08:53] smancke commented on #1228
ok, thanks for clarifying!

[2016-11-01 13:09] mk-pmb opened #1233 "Specifying multiple addresses in multiple lines"
From "[The Caddyfile](https://caddyserver.com/docs/caddyfile)":

Do these addresses all have to be in the same line?
That could lead to quite long lines if I want to configure a lot of sites.
Also you need better sort and diff tools than the standard GNU ones.
How about merging address lines (and for now, only those) if they end with a comma? And to reduce diff flickering, it would be nice if the

[2016-11-01 13:35] mholt commented on #1233
So actually you can do this (as long as you use the comma), but I didn't document it because I wasn't sure if it would stick (it's uncommon to define many sites for a single site block).

[2016-11-01 13:35] mholt commented on #1230
Yep!

[2016-11-01 15:52] omz13 opened #1234 "remove headers not working for header_downstream in proxy"
### 1. What version of Caddy are you running (`caddy -version`)?
0.9.3

### 2. What are you trying to do?
remove a header when using caddy to proxy

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
via systemd because I like to maintain my own ```/usr/local/lib/systemd/system/caddy.service```.

### 5. What di

[2016-11-01 16:14] mholt commented on #1233
Oh, sorry -- the last address cannot have a comma, because that comma means "the next line is a site address". If that's specifically what you're referring to changing, we could look into this, although I find it a little confusing. I'm not sure your use case is very common...

[2016-11-01 18:08] mk-pmb commented on #1233
The trailing comma is one of the requirements for less diff flickering. Don't mind though, I found other reasons to generate my configs anyway.

[2016-11-01 18:48] mholt commented on #1233
Fair enough, but probably won't change it anytime soon. Thanks for at least raising the concern!

[2016-11-01 18:48] #1233 closed

[2016-11-01 21:35] yumaikas commented on #1142
If multipass is a stronger password system than HTTP basic auth, should the basicauth docs be updated to point to it as a solution?

[2016-11-01 21:46] pbeckmann commented on #1142
Hello

I think the docs contain a really good description, about what BasicAuth is and what not. And multipass is not really a "better" alternative. It's just an other way of authentication, which removes user credentials from the caddyfile.

But this is going to be OT.

If @mholt or other maintainers think we should use hashed passwords, it would be nice to get their comment here, and i'll look i

[2016-11-01 21:52] mholt commented on #1142
You could use environment variables to store your password and then you can just reference the env variable in the Caddyfile like so: `{$MY_PASSWORD}`.

But I agree, I think with the use of env variables, that should satisfy this request. The question is more about password storage than basicauth itself.

[2016-11-01 21:52] #1142 closed

[2016-11-02 01:35] kaihendry commented on #370
`ls` for examples hides dotfiles by default on a file listing. Would be nice if `browse` did the same unless explicitly asked to show all files. I think it's a better approach than hiding. Sane defaults.

[2016-11-02 04:04] #1198 closed

[2016-11-02 05:07] mholt commented on #1225
This should be pretty easy to fix. :) Thanks for the report.

FWIW, empty header fields are valid (they may contain 0 values), but it does seem a bit tacky, and I guess would bloat the request (though negligible perhaps).

[2016-11-02 12:59] clement-igonet-at-galaxy-semi commented on #1142
Well, playing with environment variable is not the solution, it just shift the problem outside the config file.
The main problem is to keep clear passwords somewhere in the machine.
The problem is not just "about password storage", the problem is about the way we decide to implement "basicauth itself".
Multipass is a totally different solution, out of scope.
I don't think this case should be close

[2016-11-02 13:03] ywLBhGk2noZLbY7 commented on #1142
I have to agree with @clement-igonet-at-galaxy-semi, utilizing environment variables still keeps the passphrase in plaintext somewhere on the system and is, as such, not an viable solution.

As of current, I am using .htpasswd, which from my understanding does allow hashed passphrases, however is current deprecated by Caddy and as such also isn't a viable solution.

[2016-11-02 13:21] HazCod commented on #918
@mholt I tried writing my first bits, only thing left is getting this config from `httpserver.go` to the `tlsConfig` variable in the `server.go/NewServer` function. Ideas?

[2016-11-02 13:27] pbeckmann commented on #1142
Hello,

.htpasswd is not safer than hashed passwords without salt in Caddyfile.

And the chosen hash procedure md5 in .htpasswd without salt is broken...

So you could prevent the hacker from using Google to decrypt the password and store it in plaintext.

And I have no idea how to use that salted, cause then the salt must be stored somewhere in clear text....

Greetings

[2016-11-02 13:35] gyulavoros commented on #1225
I have a similar issue. I use [Upsource](https://www.jetbrains.com/upsource/) which is using Jetty to serve requests. It recently got updated to use Jetty 9.3, and it seems the latest version is more strict about HTTP headers: http://stackoverflow.com/a/32302263

Upsource uses websockets, so I have to use the following proxy settings:
[code]

I've captured request from Caddy to Upsource and it loo

[2016-11-02 13:55] mholt commented on #1225
I blame Jetty for being too strict in its parsing (the spec allows empty fields) but as soon as someone fixes this, Caddy won't send empty fields upstream.

[2016-11-02 13:58] mholt commented on #1142
If your machine gets compromised, it doesn't matter anyway. If your env is not safe, you've got bigger worries. ;)

[2016-11-02 14:08] mholt commented on #1183
Should be fixed in #1212.

[2016-11-02 14:08] #1183 closed

[2016-11-02 14:11] mholt commented on #1183
Whoops, actually, no it's not. But I'll move `header` directive up in the list right now, and push that and that should fix it.

[2016-11-02 14:14] #1202 closed

[2016-11-02 14:15] #1227 closed

[2016-11-02 14:17] mholt commented on #1195
How would that even look? I have no idea. For these kinds of things I typically recommend piping in the config, but if that's not possible with rkt, then I recommend filing an issue with them. ;)

Anyway, feel free to discuss, but not something likely to be implemented (especially soon).

[2016-11-02 14:17] #1195 closed

[2016-11-02 14:17] mholt commented on #1157
@miekg Any update on this?

[2016-11-02 14:21] miekg commented on #1157
[ Quoting <notifications@github.com> in "Re: [mholt/caddy] ssl certs failure..." ]

I haven't seen it anymore. Probably because I need to wait 90days...

Feel free to close - if I find a smoking gun I will update this (closed) bug.

[2016-11-02 14:34] tw4452852 commented on #1234
1. I think this `header_downstream { ["+"]name value | "-"name }` is reasonable. Will work out a patch soon.

2. For replacing with the default of "Caddy` header. What about the status code? (200? 404?)

[2016-11-02 16:50] shantanuthatte commented on #1208
I can confirm. Removing the `header` from the config file fixed the websocket issue.

[code]

[2016-11-02 20:02] francislavoie opened #1235 "Using environment variables to configure TLS"
### 1. What version of Caddy are you running (`caddy -version`)?
0.9.3

### 2. What are you trying to do?
I want to use a .env file as the sole file to configure to simplify things for end-users that use my on-prem docker deployed solution which uses Caddy as a server and proxy.

### 3. What is your entire Caddyfile?
[code]

Along with this, this is the .env file template I have users fill in, i.e

[2016-11-02 20:18] clement-igonet-at-galaxy-semi commented on #1142
Well, mholt, I really appreciate caddy because of his simplicity to use. It does just work, it's so good to use in a DevOps automated environment.
And then, because I'm used to put all my scripts (vagrant, ansible, jenkins, caddy, ssh public keys) to automatically mount virtualized server infrastructure, I'm also confortable with the idea of putting my hashed+salted password (with good algorithm a

[2016-11-03 01:42] tw4452852 commented on #1208
I think this issue should be fixed by e5d33e7. @shantanuthatte could you please try to confirm? Thanks!

[2016-11-03 04:29] shantanuthatte commented on #1208
Building at e5d33e7 resulted in
[code]
Had to go up to 53e1178

I can confirm that @53e1178 it works!

[2016-11-03 06:17] tw4452852 commented on #1208
Ok, so we can close this issue now. Thanks @shantanuthatte !

[2016-11-03 06:17] #1208 closed

[2016-11-03 06:29] hacker1024 opened #1236 "ERR_SSL_PROTOCOL_ERROR - On-demand TLS"
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)

### 1. What version of Caddy are you running (`caddy -version`)?
Caddy 0.9.3

### 2.

[2016-11-03 10:46] omz13 commented on #1234
1. Excellent. BTW, I was assuming that this should be the behavior as that's whats documented in the proxy documentation in the [user guide](https://caddyserver.com/docs/proxy).

2. The status code is 200, so everything seems to work just fine. I'm guessing that when doing ```header_downstream -server whatever``` the code does the equivalent of (whether deliberate or accidental) of ```header_downs

[2016-11-03 11:07] omz13 opened #1237 "headers during 301 response in automatic https"
### 1. What version of Caddy are you running (`caddy -version`)?
0.9.3

### 2. What are you trying to do?
Caddy supports automatic upgrading from http to https. When it gets a http request, it responds with a 301 to redirect to the https equivalent. Excellent. But, when creating the 301 redirect the ```header``` directive is not implemented. This means any directives to add or remove headers are n

[2016-11-03 15:03] tw4452852 commented on #1234
1. Done.

2. I think I find the reason. This header (`Server Caddy`) is preset by caddy before proxy. The `header_downstream` only influence the headers of proxy backend's response. So I think you should use `header -Sever` instead.

[2016-11-03 18:01] mholt commented on #1236
If port 80 is blocked, then Caddy won't be able to obtain certificates when it uses the HTTP challenge, resulting in protocol errors (because there is no cert available to send to the client). You'll have to open port 80.

[2016-11-03 18:03] mholt commented on #1237
Can you please share the full Caddyfile? The snippet you gave by itself isn't particularly useful.

[2016-11-03 18:08] mholt commented on #1234
Oh, yes, that's correct -- `header_downstream -Server` will remove a header coming back downstream but not affect headers set by the local instance. I think keeping those two controls separate is an important distinction.

[2016-11-03 18:13] #1234 closed

[2016-11-03 18:18] omz13 commented on #1237
[code]

[2016-11-03 18:20] mholt commented on #1237
Ah, okay, so you want the `header` directive to apply to the plaintext version of the same site.

This is a duplicate of #882, which is deferred for lack of a good way to fix the problem. My proposal there is an ugly breaking change which, frankly, I don't even like.

If there's a better way to solve this problem, I'm all ears, but for now I think you'll just have to define the HTTP version of the

[2016-11-03 18:20] #1237 closed

[2016-11-03 20:52] hacker1024 commented on #1236
I set the port to 443 on each vhost first to get the certificate, that way it only tries port 443. After, when I have got the certificate, I change it to https. It works. So I tried changing *.raspbi.tk:https to *.raspbi.tk:443. It didn't work. I tried changing ALL vhosts to port 443, because that's what they should be on anyway. it sill isn't working.

[2016-11-03 22:23] mholt commented on #1236
The choice of challenge is random, so your experiments were just lucky. ;)

[2016-11-03 22:41] hacker1024 commented on #1236
Oh, I didn't relize. is there any way to specify wich challenge to use?

[2016-11-03 22:45] mholt commented on #1236
There isn't... unless you use the DNS challenge. Mostly because there hasn't been a need. Websites generally have access to ports 80 and 443. I guess we could look into adding this feature, however... I'm not sure how it would work and keep it congruent with the `dns` challenge configuration. In other words:

[code]

(specifying both is the same as the default) doesn't apply to the `dns` challenge

[2016-11-03 23:04] hacker1024 commented on #1236
I don't quite understand. How would I use the DNS challenge?

[2016-11-04 00:42] #1027 closed

[2016-11-05 16:54] mholt commented on #918
@HazCod The name `acmePort` is misleading; ACME uses multiple ports for different reasons. Try calling it `HTTPPort` instead (and the flag being `httpport`). It really has nothing to do with ACME, it's just the port that Caddy considers to be the "default" port for HTTP.

[2016-11-05 23:52] tobya commented on #1195
How about the import directive accepting a URL or is that an awful idea?

That would allow you to bake in a basic caddyfile that would call a URL to get full config.

[2016-11-06 00:06] mholt commented on #1107
So this bit me today (very mildly though).

Frankly I have found nginx's rewrite/redirect logic confusing and I would like to avoid that...

I kind of hate this idea, but what if `redir` moved to happen before `rewrite` but we gave `rewrite` the ability to do redirects as well? Basically it applies a redir after rewrites happen. Is that confusing? (I think so, but want to figure this out.)

[2016-11-06 04:14] 1lann commented on #1181
How about something like `com` or `org`? Because both `ws` and `gg` are valid TLDs.

[2016-11-06 04:30] 1lann commented on #1181
I've noticed something interesting, `ws` and `gg` resolve to real IP addresses:
[code]

[2016-11-06 05:13] 1lann commented on #1181
I'm 80% sure it's caused by however Docker resolves names for containers. I tried setting `ws 127.0.0.1` in my hosts file, then use a `proxy / ws:9000` directive in my Caddyfile, and it works as expected. It proxies to the web server running at `127.0.0.1`.

This is however not intended behaviour for Docker to forward to an external server first, as the [documentation](https://docs.docker.com/engi

[2016-11-06 09:07] hlidotbe commented on #1107
This would be the simplest way. A bit redundant but not too confusing I guess.

[2016-11-06 18:19] raeesbhatti opened #1240 "Self signed certificate does not work"
### 1. What version of Caddy are you running (`caddy -version`)?
`Caddy 0.9.3`

### 2. What are you trying to do?
Run caddy locally with TLS using its self signed certificate.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
Run it without any additional parameters `caddy`. Nothing special.

### 5. What did

[2016-11-06 18:29] mholt commented on #1240
Your Caddyfile must start with the address of the site to serve. ;)

[2016-11-06 18:29] #1240 closed

[2016-11-06 18:37] raeesbhatti commented on #1240
Sorry my bad 🙈. Have another problem now.

Caddyfile:
[code]
Log output:
[code]

When I visit `https://localhost:2016` in Chrome, it says "This site can’t provide a secure connection". Error code is "ERR_SSL_PROTOCOL_ERROR"

[2016-11-06 18:40] wendigo commented on #1240
Self-signed certificates are not trusted by browsers.

[2016-11-06 18:46] mholt commented on #1240
There should be a prompt to bypass a security warning, you'll have to click advanced to do that.

[2016-11-06 18:46] raeesbhatti commented on #1240
But the browser tells us about invalid certificate when the certificate is not trusted. Instead, now it says `ERR_SSL_PROTOCOL_ERROR `

[2016-11-06 18:47] raeesbhatti commented on #1240
@mholt There is no advanced option like there is usually when using invalid certificate.

[2016-11-06 18:50] mholt commented on #1240
Hm, well, it works for me (just tried again) -- so without further details to replicate the behavior you're seeing or without further error details I'm not sure what more I can do to help here.

[2016-11-06 18:56] babolivier opened #1241 "tls: client offered an unsupported, maximum protocol version of 300"
### 1. What version of Caddy are you running (`caddy -version`)?

Caddy 0.9.3

### 2. What are you trying to do?

Reverse proxy a [synapse](/matrix-org/synapse) server, and accessing it from the [Riot](https://f-droid.org/repository/browse/?fdfilter=riot&fdid=im.vector.alpha) Android app.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describ

[2016-11-06 19:03] mholt commented on #1241
It looks like your app doesn't support modern TLS protocols. Can you reproduce this error without Synapse? And riot? Simplify your setup to reduce error surface area.

[2016-11-07 09:58] binarious opened #1242 "ERR_SPDY_COMPRESSION_ERROR Caddy 0.9.3"
### 1. What version of Caddy are you running (`caddy -version`)?
0.9.3

### 2. What are you trying to do?
Open a Symfony application served via caddy.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
Just ran `caddy` in my app directory via fish shell 2.3.1 on macOS 10.12.1.

### 5. What did you expect to se

[2016-11-07 12:03] babolivier commented on #1241
I don't think it makes sense to reproduce without the app, as it seems to be the one producing the error, or Synapse because the request clearly don't go that far.

As far as I understood, the issue lies within the Riot app, so I opened an issue on their repo under https://github.com/vector-im/vector-android/issues/680

[2016-11-07 14:22] mholt commented on #1242
Does this error occur without the fastcgi directive?

[2016-11-07 14:26] binarious commented on #1242
No, without fastcgi the php source code is shown in the browser (as the application isn't interpreted anymore).

[2016-11-07 14:30] mholt commented on #1242
Okay, so the error seems to have something to do with the fastcgi middleware and/or your backend. Can you provide some details about your backend and even the source code of the page maybe so we can reproduce it?

[2016-11-07 14:41] binarious commented on #1242
We have this on every Symfony 2 project on macOS machines since Sierra (doesn't occur on linux, didn't happen on El Capitan). I can't provide source code for now since all are corporate projects.

[2016-11-07 15:06] mholt commented on #1242
That's fascinating, that it only happens on Sierra. Symfony bug (incompatibility with Sierra maybe)?

[2016-11-07 15:10] mholt commented on #1241
And that's what I was getting at -- thanks for opening the issue with the other project. :)

I'll close this for now but if some new evidence can be presented and this can be confirmed to be a bug in Caddy we will re-investigate it!

[2016-11-07 15:10] #1241 closed

[2016-11-07 15:19] binarious commented on #1242
It works when running Apache via https. It just happens with the combination of Sierra and Caddy - very strange.

[2016-11-07 15:40] mholt commented on #1242
Are you running Apache with HTTP/2 enabled?

[2016-11-07 16:23] francislavoie commented on #1235
Looking into the source code, it looks like the issue arises with this bit of code: https://github.com/mholt/caddy/blob/53e117802fedd5915eeb32907873d8786a4b2936/caddytls/setup.go#L40

Essentially it's trying to tokenize the arguments but I'm passing it as a string with a space in between and that's not recognized as separate tokens. Where does the environment variable expansion happen? How does it

[2016-11-07 18:55] ITSecMedia commented on #930
I also experience some weird behaviour with PHP in Caddy.
sometimes, things just stop, no error message in the windows cmd but I have to kill caddy and restart it,
so that the PHP website works again...

[2016-11-08 01:11] ericdreeves commented on #1094
Hello, just wanted to touch base on this request. I'm getting pretty close to a fix and hope to soon have a PR to review!

[2016-11-08 09:47] kokizzu opened #1243 "Activating privacy features for Private IP: Error 400 - urn:acme:error:unknownHost - No valid IP addresses found for xxx"
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)

### 1. What version of Caddy are you running (`caddy -version`)?
Caddy 0.9.3

### 2.

[2016-11-08 10:26] kokizzu commented on #1104
When I comment these lines, there is no more `status=226/NAMESPACE` error
[code]

[2016-11-08 11:24] #1229 closed

[2016-11-08 17:08] fab120 opened #1244 "Basicauth not working when the url is rewritten"
Don't know if it's the indented behavior or not.

### 1. What version of Caddy are you running (`caddy -version`)?
[code]

### 2. What are you trying to do?
Using basicauth to protect an url that is in a rewrite statement.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
`./caddy`

### 5. What did you expect

[2016-11-08 18:51] tobya commented on #1244
Does /test/index.php exist?

What is your requested url being rewritten to?

[2016-11-08 21:12] fab120 commented on #1244
No it doesn't exist.
Every url is rewritten to /index.php: the entry point of the application that will manage the request.
This is the usual setup for php frameworks like laravel, symfony, ...

This is an equivalent nginx configuration:
[code]

When you make a request to
`http://[website]:8000/`
nginx pass the request to `/index.php`

With
`http://[website]:8000/test`
nginx first ask you for the

[2016-11-08 21:47] elcore commented on #1244
Hello @fab120 and @tobya,

I created a PR to fix this issue 😄

[2016-11-09 00:29] mholt commented on #1244
You're rewriting /test to a different URL; why don't you set basicauth to work for index.php instead?

[2016-11-09 07:01] fab120 commented on #1244
`index.php` is the entry point for the application that i wanna serve through caddy.

Set basicauth on `index.php` means extending the setting to all the urls and not to a particular one.

BTW i agree that #1245 could not be the best solution.

I'm very interested to continue with discussion, but today i will be out for working all day long.

I will reply / write more as soon as i come back home.

[2016-11-09 13:02] myReaper opened #1246 "syslog to external server"
Hi,

This is basically a feature request :-)

Currently I'm missing an option to output error and access logs directly to our centralized syslog server, or at least I haven't found it :-)

Nginx for example has an option to directly log to a syslog server via ip and port:
https://nginx.org/en/docs/syslog.html

The main benefit of this is:
- Using a centralized syslog server (of course :-)) for mul

[2016-11-09 13:35] mholt commented on #1244
This sounds like a definite weakness in the design of the web app; if all the URLs converge to one, how is Caddy supposed to differentiate them? Maybe the web app should be doing authentication.

[2016-11-09 14:31] tobya commented on #1244
I think I would agree with @mholt that this behaviour seems to me by design rather than a bug.

[2016-11-09 22:00] mholt commented on #1244
Since basicauth, like most middlewares, operates on the request URI, and rewrite is designed to adjust the URI for internal use only, it seems that this is not a bug but is actually the intended behavior of the basicauth middleware.

Thanks for opening the issue, @fab120.

[2016-11-09 22:00] #1244 closed

[2016-11-09 22:06] mholt commented on #1243
Hi @kokizzu, I like your profile pic. :)

Caddy gets certificates from Let's Encrypt, which only verifies domains on public networks. Unless you set up your own CA on your private network (and its certificates of course won't be trusted), you can't do this. ;) See letsencrypt.org for more information.

[2016-11-09 22:06] #1243 closed

[2016-11-09 22:07] #1236 closed

[2016-11-09 22:23] mholt commented on #1235
Indeed you're right, an env variable is replaced on a per-token basis; in other words, the value of an env var can't assume the value of multiple tokens. We do a local replacement in the moment, not a global search-and-replace before parsing begins. The replacement happens in [parse.go](https://github.com/mholt/caddy/blob/12fd34991640c711738692c49218ee0f2664d132/caddyfile/parse.go#L388).

I guess

[2016-11-09 22:28] mholt commented on #1200
@tobya Thanks so much for looking into this. I guess this is complicated; did we decide what we want to do, or how other web servers handle this?

[2016-11-09 22:29] mholt commented on #1204
@abiosoft Any progress in reproducing this? Granted, it's difficult since it appears to have some aspect of randomness to it... (do we know why?)

[2016-11-09 22:30] #1171 closed

[2016-11-09 22:33] mholt commented on #1083
@serussell Any progress on this? I can't remember :smile:

[2016-11-10 00:34] francislavoie commented on #1235
Would it be possible to split on spaces in an environment variable, maybe just specifically for the `tls` directive? It seems weird that it's impossible to fully configure TLS with environment variables. That seems to me like a very likely use-case for environment variable expansion.

I do understand your point though, definitely doesn't make sense to allow directives to be configured using enviro

[2016-11-10 04:17] mholt commented on #1235
I am definitely not going to code in exceptions for certain directives, sorry. I think it's misleading to have one env variable in the Caddyfile that actually results in 2 values/tokens.

One thing you could do is have two files, with `tls <one arg>` in one and `tls <two> <args>`  in another, then use an env var to specify `import {$WHICH_TLS}` file to import, for example.

So, thanks again for th

[2016-11-10 04:17] #1235 closed

[2016-11-10 04:36] francislavoie commented on #1235
Oh okay, neat. I've been browsing through the Caddyfile docs for the past few months and I have no idea how I missed the `import` directive. That definitely helps. Thanks for pointing that out, that should work for me.

I'd like to mention that it might be worth documenting this limitation for env vars somewhere (unless I missed it?)

[2016-11-10 04:42] mholt commented on #1235
Import is probably the best you can do for what you're trying to do. It's not super great, but it should work.

And this limitation is not explicitly documented, you're right. Right now it says env vars can be used as "addresses and arguments" but it doesn't clarify that an environment variable does not expand out to multiple arguments. I've updated the docs locally so they'll go out with the next

[2016-11-10 07:14] tobya commented on #1200
Sorry I havent had time  to continue this.  The only complexity is deciding what to do.  I don't really have access to other webservers at the moment.

If someone else wishes to take this up great, otherwise I'll try to get back to it soon.

From your comment on the PR it seems that the behaviour should stay the same except in the very spcific instance where there is no incoming path we should ens

[2016-11-10 09:37] brasilikum opened #1248 "Automatic recognition of *.json for configuration"
I am currently trying to automate my deployments of Caddy with Chef. Configuration from JSON would really make building the configuration easier. I have seen the [json.go](https://github.com/mholt/caddy/blob/master/caddyfile/json.go) and also, that is [has not been used yet](https://sourcegraph.com/github.com/mholt/caddy/-/blob/caddyfile/json.go#L93).

I have not found any concrete plans about how

[2016-11-10 11:13] fab120 commented on #1244
Hi everyone.
I was trying to keep the discussion 'application' agnostic and i just wanna know what is the intended behavior in this sistuation and if it is correct.

FYI: for doing my tests the 'weak designed' app that i used was just
[code]

Anyway @mholt you said:

All urls are converging to one but that doesn't mean the requested url is always the same:

`http://website/urlAaa` rewritten to `ht

[2016-11-10 12:11] mholt commented on #1248
Instead of making a pull request in this case, make a [plugin](https://github.com/mholt/caddy/wiki/Writing-a-Plugin:-Caddyfile-Loader). :blush: All it would have to do is look for a .json file I suppose, and convert it to Caddyfile.

However, the JSON format is intended for use with the up-and-coming web UI for Caddy; there doesn't seem to be much benefit of using JSON over the Caddyfile syntax in

[2016-11-10 13:07] fjl commented on #1248
I would appreciate this as well. In my setup the Caddyfile is generated by an ansible template and I've had several issues where the 'intuitive' syntax of Caddyfile caused subtle issues because there was whitespace in the wrong place.

[2016-11-10 14:02] ptman opened #1249 "Markdown serving issue"
### 1. What version of Caddy are you running (`caddy -version`)?

Caddy 0.9.3

### 2. What are you trying to do?

Render README.md from https://github.com/mholt/caddy/blob/master/dist/init/README.md as http://localhost:8080/README.md

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

    caddy -log stdout -po

[2016-11-10 14:05] ptman opened #1250 "Filemanager 500 Internal Server Error"
### 1. What version of Caddy are you running (`caddy -version`)?

Caddy 0.9.3

### 2. What are you trying to do?

Edit /_fileman/README.md

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

caddy -log stdout -port 8080

### 5. What did you expect to see?

An editor

### 6. What did you see instead (give full

[2016-11-10 14:46] brasilikum commented on #1248
I really think the Caddyfile is the most intuitive format for the configuration of a webserver I have seen so far.
For automated generation and modification (partial changes) however I prefer JSON because it is more widely used an there are a lot of generators for it.
I see the downside of putting this into the core however, because there would be two formats that are not compatible, which could l

[2016-11-10 16:01] ulrichSchreiner commented on #1083
hi,
i have the same error every few days on my server. anything i can do? my version is 0.9.3

[2016-11-10 17:35] mholt commented on #1250
Hi @ptman , thanks for reporting this. Can you please file this issue at [caddy-filemanager](https://github.com/hacdias/caddy-filemanager)? Thanks.

[2016-11-10 17:37] mholt commented on #1249
I'm gonna go out on a limb and ask if you're sure you've cleared your browser cache? Try `curl`...

[2016-11-10 20:47] ptman commented on #1249
I would've thought that I checked it, but maybe that was it because I cannot reproduce. I was assuming that maybe markdown and browse aren't meant to work together, but apparently they are supported in combination?

[2016-11-11 01:27] ar0ch opened #1251 "Caddy picks first IP in sorted, returned DNS record"
### 1. What version of Caddy are you running (`caddy -version`)?
Caddy 0.9.3

### 2. What are you trying to do?

Use caddy to provide HTTPS for a domain that's servers by two servers/IPs.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

Run via service on two different servers, which share the same caddyfil

[2016-11-11 04:48] mholt commented on #1251
Huh? The DNS challenge doesn't contact your server. If this wasn't an issue an issue in an earlier version it's probably because you just got lucky? I dunno -- Caddy isn't doing the work here, it's a Let's Encrypt thing; you might want to ask on their forums instead. :+1:

[2016-11-11 04:48] #1251 closed

[2016-11-11 05:25] mholt commented on #1249
Yep, totally should work. :) Glad it's fixed for ya now!

[2016-11-11 05:25] #1249 closed

[2016-11-11 05:26] mholt commented on #1083
@ulrichSchreiner Sounds like something different -- could you please open a new issue, and answer all the questions in detail so that people who look at the issue can reproduce the same behavior? Try to minimize your configuration as much as possible to eliminate any extra, unnecessary complexity. Thanks

[2016-11-11 05:31] mholt commented on #1248
For automated generation and modification (partial changes) however I prefer JSON because it is more widely used an there are a lot of generators for it.

Writing a Caddyfile is as easy as concatenating strings; the JSON format that Caddy accepts is just a JSON-ified Caddyfile syntax, where instead of separating tokens by spaces, they're individual elements in an array. Mainly useful for web compa

[2016-11-11 05:34] mholt commented on #1200
@tobya Awesome, thanks.

... I think that sounds right. Now that we've defined the behavior we want to have, maybe this will be fairly simple.

[2016-11-11 05:49] mholt commented on #1244
This is contradictory, though: the URL is either one thing or another, it isn't both. By "internal" use I mean within the web server (plugins and middleware included), such that the browser doesn't know the URL was changed (i.e. not an HTTP redirect).

I admit the semantics of what a rewrite is are not well defined, hence the 'discussion' tag here. Other web servers do rewrites iteratively, but th

[2016-11-11 05:55] mholt commented on #1185
I think by the time Go 1.8 is released, we can switch to using `context.Context` in the http.Request and eliminate the need for the extra (hacky) header field.

Either way, I think @tobya graciously fixed this in 94af37087be04f90f66899b16687611c82bc753b.

[2016-11-11 06:30] ulrichSchreiner opened #1252 "Panic when proxying: not a Flusher"
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)

### 1. What version of Caddy are you running (`caddy -version`)?
/ $ /usr/bin/caddy

[2016-11-11 06:40] ulrichSchreiner commented on #1083
ok, new ticket #1252 created.

[2016-11-11 10:59] brasilikum commented on #1248
Ok, I will probably be generating a Caddyfile directly.

As for caddyslack, feel free to tweet about it. It works but I am somewhat not quite confident about it because it would maybe be a better idea to implement a modify-body-json plugin and combine it with redir and ratelimit.

I would love to see it on the downloadpage. Reading through the guidelines I thought it would classify as specific for

[2016-11-11 14:39] mholt commented on #1252
Does it still happen if you take out the `header` directive?

[2016-11-11 14:45] ulrichSchreiner commented on #1252
hard to say as it is not really reproducable :-). but i changed my playbook and rolled out a new version of the file. and i will set a reminder to give you feedback in about a week (if nothing happens). or earlier :-)

[2016-11-11 14:49] skorokithakis opened #1253 "Streaming connections don't work with a header."
I'm running Caddy and having it proxy a Gweet (https://github.com/skorokithakis/gweet/releases) instance.

My Caddyfile is:

[code]

You can just launch Gweet and Caddy with that config, connect with:

curl --raw "http://localhost/stream/test/?streaming=1"

and create a message with:

curl -X POST "http://localhost/stream/test/?foo=bar"

Normally, you should see the message appear in the stream, b

[2016-11-11 14:58] mholt commented on #1252
Great, thanks!

[2016-11-11 15:20] mholt commented on #1253
When you say "doesn't work" what's the error you get? (Hint: is it "not a Flusher"? -- I have a hypothesis. Take out the header directive and try again.)

[2016-11-11 15:21] mholt commented on #1248
@brasilikum Fair enough -- stay tuned for the new build server which will have revised policies, may or may not affect your plugin, hopefully it does, for the better!

[2016-11-11 15:30] skorokithakis commented on #1253
Sorry, I should have been more descriptive. No error, it connects and waits forever, but no data streams in. Yes, t is "no flusher". It works without the header, as I said above.

[2016-11-11 15:44] mholt commented on #1253
Oh, oops. I missed that part, okay, I think this has been fixed on master in 14500d8204c806edc69daa1725df7c68aa6f6347 -- if you have the ability to build from source, give it a shot and let me know! If not, feel free to close this.

[2016-11-11 15:49] tobya opened #1254 "Reverse Proxied website redirects to proxy without final / if not transparent"
### 1. What version of Caddy are you running (`caddy -version`)?

 0.9.3
### 2. What are you trying to do?

Navigate to backoffice.example.ie/subdir

note the missing final /

If I navigate to backoffice.example.ie/subdir/   it works perfectly.

Also works perfectly if proxy clause in caddy file includes `transparent`.

IS this the desired behaviour?  Should transparent fix this issue in this one

[2016-11-11 17:16] wmark opened #1255 "add a prefix to error messages returned by plugins"
In order to make debugging easier, and because sometimes the origin of error messages is not apparent, please add a prefix to error messages returned by plugins.

For example, an operator could encounter this in the logs and wonder about where the error came from, *Caddy* or a *plugin* (for brevity, I've omitted the HTTP Error code 422):
[code]

Wrapping errors is one way to implement this:
[code]

[2016-11-11 19:22] elcore commented on #1255
A very good idea @wmark 👍

[2016-11-11 22:32] tobya commented on #1200
Just added a pull request #1256 that doesnt fix but is the next step on the way.

[2016-11-12 14:43] bluecmd opened #1258 "Could not start HTTPS server for challenge, bind: address already in use"
### 1. What version of Caddy are you running (`caddy -version`)?
Caddy 0.9.3

### 2. What are you trying to do?
Using Caddy to on-demand request SSL certificates.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
[code]

### 5. What did you expect to see?
I expect any request to the matched vhosts to have an

[2016-11-12 18:56] volkanunsal commented on #1000
I've been getting this error in version 0.9.0. This is my Caddyfile:

[code]

Then I start the server with

[code]

Should I create a separate issue for it?

[2016-11-12 19:46] mholt commented on #1000
@volkanunsal No, you should upgrade to the latest version.

[2016-11-13 02:55] dschaper commented on #719
Running head on into this issue now. Getting the
[code]
Error with just about any configuration I can come up with. Using an application/json upstream or downstream ends up sending the actual users json but the YouTrack application still throws a fit about not getting JSON back.

More than happy to give access to some test environments, as YouTrack and Hub are both Composed and are free for 10 use

[2016-11-13 14:16] clement-igonet-at-galaxy-semi commented on #1142
So, is there a chance to reopen this case.
To summarize, I suggest an important enhancement quite easy to implement.
I feel you don't understand my request and you autoritarily close it. Is it the way you want people to help you?

[2016-11-13 14:52] elcore commented on #1142
Yes and No! Authentication should be done by the application, not by the server!

Feel free to implement it!

We totally understand you, but basicauth should only be used in development (to test restricted access), not in production.

[2016-11-13 16:12] clement-igonet-at-galaxy-semi commented on #1142
So, what's the interest of testing basicauth restricted access by server in development only?

Why do you suggest me to do it myself if you think it's not for production?

Well, Ok, I'll do it myself...

[2016-11-13 16:20] elcore commented on #1142
Security!

Authentication should be done by the application e.g. 2FA or you could use https://caddyserver.com/docs/multipass

Good luck 😄

[2016-11-13 16:54] mholt commented on #1142
@elcore

The server can help with authentication in some cases.

Not necessarily -- again, it depends on the threat model. Production use of basic auth is fine for some things if done properly (and Caddy does it pretty well, as long as the user protects the credentials on their machine).

@clement-igonet-at-galaxy-semi

To summarize, I suggest an important enhancement quite easy to implement.
I fe

[2016-11-13 17:16] elcore commented on #1142
@mholt

Right, basic auth is fine for simple things. In terms of security, there are better implementations (https://caddyserver.com/docs/multipass).

Have a nice day Matt 😄

[2016-11-13 17:23] gyulavoros commented on #677
I've run into the same issue using the latest version of Caddy (0.9.3). I try to run a YouTrack 7.0 install behind Caddy and it seems SSE doesn't work. I tried to play with [FlushInterval](https://github.com/mholt/caddy/blob/master/caddyhttp/proxy/reverseproxy.go#L126) but with no luck so far. I'm not really familiar with Go and the internals of Caddy, so I put a few `Println`s into the code to se

[2016-11-13 17:35] My1 opened #1259 "rin HTTPS and HTTP on the same port (or redirect to https)"
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)

### 1. What version of Caddy are you running (`caddy -version`)?
0.9.3

### 2. What

[2016-11-13 21:06] ghost opened #1260 "Does Caddy support ECC cert now ?"
Hello,
Caddy 0.9.3
I found from  PR https://github.com/mholt/caddy/pull/706 that I can use ECC cert
here is my conf
[code]
but I just got error message:
[code]
Could you please kindly check ?

[2016-11-13 21:11] Remonli commented on #1260
Sorry I just deactived previous account and it may confuse you guys about the display name ghost.

[2016-11-13 21:30] elcore commented on #1260
Hello @Remonli,

You need to use `key_type p384`

[2016-11-13 21:31] #1260 closed

[2016-11-13 23:13] volkanunsal commented on #1000
@mholt Just tried it with 0.9.3. Still getting the same error, alas.

[2016-11-13 23:20] mholt commented on #1000
@volkanunsal Create a separate issue then, make sure you minimize the instructions to reproduce so that it's as simple as can be; once you've eliminated to the point that it's working again you can know what caused the problem, so that should help anyone debugging it find the problem sooner.

[2016-11-13 23:23] volkanunsal opened #1261 "Error during WebSocket handshake: Unexpected response code: 400"
### 1. What version of Caddy are you running (`caddy -version`)?

0.9.3

### 2. What are you trying to do?

Connect to a WebSocket endpoint behind a proxy directive from a secure webpage.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

[code]

### 5. What did you expect to see?

I'm running Webpack Dev Ser

[2016-11-13 23:44] volkanunsal commented on #1000
@krishamoud Would you post your Docker image to Github so I can use it to try to reproduce this error?

[2016-11-14 00:53] clement-igonet-at-galaxy-semi commented on #1142
I really feel misunderstood since the beginning of this case, in any point. So, it must come from me, sorry for that. I disagree your explanations.
Putting the clear password in an environment var does not solve the problem, it just put it somewhere else.
I'm not talking about having password anywhere, but just in Caddyfile.
Rather than just closing my case and good bye, I would have prefer you cr

[2016-11-14 02:38] mholt commented on #1142
@clement-igonet-at-galaxy-semi

Sorry about that. In your original issue you said that what you are trying to do is: "I'd like to http basic authentication inside Caddyfile, without being force to write my plain text password.
Moreover, I'd like to push my commits in a git repo. So, I can not imagine to let my plain text password in it." And we gave you a way to do that with env variables, which i

[2016-11-14 04:12] clement-igonet-at-galaxy-semi commented on #1142
Ok!

[2016-11-14 08:59] My1 commented on #945
well keeping the dev cert and making it trusted makes any browser shut up about it. and to be honest it's easier to use caddy to let the certs be made than to do it with openssl.

[2016-11-14 14:50] volkanunsal commented on #1261
This is my mistake. I didn't realize I hadn't linked the caddy binary to 0.9.3. Tested it again and having no problems with 0.9.3.

[2016-11-14 14:50] #1261 closed

[2016-11-14 19:05] ansel1 opened #1262 "URL encoded colon in request path breaks the proxy's without option"
### 1. What version of Caddy are you running (`caddy -version`)?

0.9.3

### 2. What are you trying to do?

Proxy a request to an upstream server.  The request URL is

    http://api.docker:80/api/v1beta/admin/policies/kylo:kylo:admin:policies%3Akey-owners

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

Us

[2016-11-14 20:31] ansel1 commented on #1262
Duplicate of #1154 which is already fixed in master.

[2016-11-14 20:31] #1262 closed

[2016-11-14 22:45] DenBeke commented on #528
Any updates on this?

[2016-11-14 23:22] mholt commented on #528
Nope.

[2016-11-15 18:31] ekkis opened #1263 "Command-line parameter to turn TLS off please?"
### 1. What version of Caddy are you running (`caddy -version`)?

latest version

### 2. What are you trying to do?

turn TLS off from the command line

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

caddy -tlsoff

### 5. What did you expect to see?

that caddy would turn tls off

### 6. What did you see i

[2016-11-15 18:47] wendigo commented on #1263
Why do you need to turn off TLS from the command line? It can be turned off using Caddyfile

[2016-11-16 00:08] dpastoor commented on #182
commenting on this issue as it took a while before I looked to this issue (which solved my issue).

The problem what was present for me was using a simple "macroservice" SPA that hits a couple endpoints, I was using caddy to serve the html/js via root, then the api was hitting a R analytics api, and a golang based websocket connection. This all worked great when running locally. When I then fired

[2016-11-16 00:15] #1253 closed

[2016-11-16 00:15] mholt commented on #1253
(Assuming this is already fixed)

[2016-11-16 05:43] mholt commented on #1254
Is a 3xx redirect being issued? If so, it must be your backend app that is causing that.

[2016-11-16 07:54] tobya commented on #1254
Ok I'll investigate if this is where the issue is

[2016-11-16 07:54] #1254 closed

[2016-11-16 18:54] krishamoud commented on #1263
TLS off examples

1.
[code]

2.
[code]

[2016-11-16 20:53] dfiel commented on #1258
Same issue here:

Caddyfile:

     *.*, *.*.* {

             proxy / 10.250.1.3 {
                 transparent
                 websocket
             }
             tls {
                max_certs 500
             }
     }

     104.XXX.72.6:80 {
        redir https://XYZ.com
     }
`

Log:

2016/11/16 15:48:09 [INFO] Obtaining new certificate for invoice.dfiel.com
2016/11/16 15:48:10 [INFO][inv

[2016-11-16 22:48] gyulavoros commented on #677
@mholt May I open a new issue for this or it would be more practical to reopen this one?

[2016-11-17 01:14] wmark commented on #528
*Caddy* does not need to run as `root`, and does not need the `setcap` hack – which has the dangerous side-effect of any other unprivileged user being able to hog ports at will.

1. An *init daemon* can start *caddy* as unprivileged user, but keeping its capability to open a low port (like 80 and 443). Here is how you can [do that with **systemd**](https://github.com/mholt/caddy/blob/bee9c50a71c61

[2016-11-17 02:05] mholt commented on #677
You can open a new issue.

[2016-11-17 04:41] #1225 closed

[2016-11-17 09:56] wendigo commented on #1192
Closing this issue as https://github.com/mholt/caddy/pull/1264 was merged

[2016-11-17 09:56] #1192 closed

[2016-11-17 14:08] k4ml commented on #29
I post this in forum - https://forum.caddyserver.com/t/equivalent-of-websocket-directive-for-normal-web-request/998

My primary intention is to avoid having another daemon that I have to start first before running caddy. The `websocket` directive already awesome but feel short when you can't have something along the same theme to just handle some web requests.

[2016-11-17 16:39] Sirtea opened #1265 "Error pages not beneffiting from markdown directive"
### 1. What version of Caddy are you running (`caddy -version`)?

Caddy (untracked dev build)
(0.9.3-r0 from alpine linux)

### 2. What are you trying to do?

I have declared a 404 error page, but I cannot make it markdownify even that the path is for markdown files

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environ

[2016-11-17 22:12] miekg commented on #1157
So this happened again:
[code]
the PID don't change - so can this actually be an systemd issue?

@mholt does caddy (process wise) anything special here?

Also you mentioned the caddy API, what should I actually do then? Make a little binary that does this cert renewal all the time?

[2016-11-17 23:09] mholt commented on #1157
@miekg

Not sure I follow this -- what's your reasoning?

No, I'd rather get to the bottom of this if it's a bug in Caddy, but first I want to confirm it is a Caddy bug. Does this happen without systemd?

[2016-11-17 23:22] miekg commented on #1157
No PID change, not systemd interaction?

I haven't tested without systemd, as I want to hook into the distro's of running a binary. Maybe i can run a "shadow" Caddy on a different port with tmux.

[2016-11-17 23:35] miekg commented on #1157
Ok, running under tmux now - let's see.

[2016-11-18 02:49] zhaozhiwen2014 opened #1266 "run as QUIC server"
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)

### 1. What version of Caddy are you running (`caddy -version`)?
Caddy 0.9.1

### 2.

[2016-11-18 03:16] mholt commented on #1266
You need to update to the latest version of Caddy. :)

[2016-11-18 03:16] #1266 closed

[2016-11-18 09:51] miekg commented on #1157
According to <https://groups.google.com/forum/#!msg/vault-tool/U5hVR8vIE3s/1-Eqvu0oEAAJ>

only configured for TLS 1.2. Often this is seen with ELB health
checks, although you said you have disabled them. I'm not sure what's
causing them as I don't know what is at the IP addresses specified,
but it's only a problem if your clients are having trouble connecting!

It looks like some TLS-y is messed u

[2016-11-18 10:36] miekg commented on #1157
Ok, suspecting that I'm not running up to date code (i.e. its pretty weird that only 1 user would experience this). Doing `go get -u -v ./...` to update *everything* and recompiling.

[2016-11-18 12:15] zwack commented on #1114
Just had the same error `failed to create new OS thread` which took me here.
In my case the problem was a proxy configuration with `health_check` defined but the path was not correct. I guess it just kept trying until all resources run out.

[2016-11-18 18:03] ekkis commented on #1263
I'm attempting to use caddy from a docker container that manages the Caddyfile and I don't have access to it.  what I do have access to are the command-line parameters to the executable.

for development purposes I want to turn TLS off since I'm testing with entries in my `/etc/hosts` file and thus the domains I'm using don't actually exist, which causes problems with the Let's Encrypt, ergo my re

[2016-11-18 22:11] mholt commented on #1263
Did you know you can pass the Caddyfile in through the command line? There's two ways. https://caddyserver.com/docs/cli - scroll down to "Short Caddyfile" and "Pipe a Caddyfile". That should be what you want. :)

[2016-11-18 22:11] #1263 closed

[2016-11-18 22:13] mholt commented on #1259
Caddy already does automatic HTTP->HTTPS redirects (unless you disable them).

Anyway, Caddy doesn't serve HTTP and HTTPS on the same port. You'll have to serve HTTP and HTTPS on different ports.

[2016-11-18 22:13] #1259 closed

[2016-11-18 22:18] ekkis commented on #1263
right, but I can't pass it to the docker container

[2016-11-18 22:27] mholt commented on #1263
I thought you said you had control of the command line arguments of the executable.

[2016-11-18 22:30] ekkis commented on #1263
I do.  command-line parameters are specified in an environment variable that the container reads upon instantiation, but a reference to a local file would be meaningless to the container, which has its own local file system

[2016-11-18 22:31] mholt commented on #1263
Did you even read the "Short Caddyfile" section? No file required.

[2016-11-18 22:34] ekkis commented on #1263
yes, of course.  but I'm not quite sure I would use it because I would need to include the `tls off` directive in each entry of the Caddyfile that the container generates for me

[2016-11-18 22:38] mholt commented on #1263
Since the command line options are for 'global' configuration, and TLS is a per-site configuration, you're better off figuring out how to get the short caddyfile or piped caddyfile methods to work for you.

[2016-11-18 22:38] My1 commented on #1259
well it might have been nice to be able to have HTTP and HTTPS on the same port, and as far as I saw it's not impossible. well sad but if it wont get into caddy, nothing I can do...

[2016-11-18 22:41] ekkis commented on #1263
but what I'm suggesting is that for development purposes, having a global configuration parameter would be most useful.  I would want it to apply to all sites defined, unless a given site overrode the global definition.  you do understand that for testing one would want to create names in the /etc/hosts file and that use of such names would fail the TLS mechanism right?  I may not have a domain na

[2016-11-18 22:45] mholt commented on #1263
I frankly don't want to make it that easy to disable TLS. It's already too easy.

I figure if you're automating the generation of these hostnames and stuff, you can just as easily automate the generation of the Caddyfile that adds a "tls off" where you need it.

[2016-11-18 22:50] ekkis commented on #1263
ok.  in that case I would need to lobby the author of https://github.com/BlackGlory/caddy-proxy instead, but why not turn TLS off? it's a great feature during development

[2016-11-18 22:59] mholt commented on #1263
Because people will use it in production.

[2016-11-18 23:06] ekkis commented on #1263
sure, and if that's what they want to do it should be up to them

[2016-11-18 23:10] elcore commented on #1263
@ekkis

There is no excuse not to use TLS in production.

![](https://i.imgflip.com/1efgql.jpg)

[2016-11-18 23:12] ekkis commented on #1263
I don't disagree but that's not a decision that we should be making

[2016-11-18 23:26] elcore commented on #1263
I will never agree you!

Have a nice day @ekkis

[2016-11-19 13:31] ulrichSchreiner commented on #1252
hi,

the server is running without problems since a week now. normally i had this issue at least once a week so i think the removal of the header helped. well it is not a hard proof but an indication.

i will close the issue. it the error happens, i will reopen it.

[2016-11-19 13:31] #1252 closed

[2016-11-19 15:43] mholt commented on #1252
Sounds good, since I think it is fixed on master if it indeed is the header directive. https://github.com/mholt/caddy/commit/14500d8204c806edc69daa1725df7c68aa6f6347

[2016-11-19 16:06] mholt commented on #1083
Closing unless this can be confirmed to still be a problem on master.

[2016-11-19 16:06] #1083 closed

[2016-11-19 16:06] mholt commented on #1242
Closing pending answering of question ;)

[2016-11-19 16:06] #1242 closed

[2016-11-19 16:09] binarious commented on #1242
Sorry, missed it. Yes, I was running it with mod_http2.

[2016-11-19 21:23] mholt commented on #1242
Okay. So I don't know what the problem would be. :-/

[2016-11-20 19:49] tgmedia-nz commented on #1258
Same here, same version and scenario - any ideas?

[2016-11-20 19:51] dfiel commented on #1258
This is a pretty bad issue @mholt, any ideas?

[2016-11-21 04:56] Menma123 opened #1269 "Can caddy add substitutions filter modules"
Like https://github.com/yaoweibin/ngx_http_substitutions_filter_module in Nginx.
It is useful for some website to provide backup address.

[2016-11-21 12:25] smancke commented on #246
For those, still interested in something like this, take a look at:

https://github.com/tarent/loginsrv/tree/master/caddy

There I started a plugin for the login part, which works fine together with @BTBurke's JWT plugin.
It is very fresh and currently only two simple login backends are provided, but I plan to support more, including oauth.

[2016-11-21 15:01] wayneashleyberry opened #1270 "Incorrect content-type on custom 404"
### 1. What version of Caddy are you running (`caddy -version`)?

[code]

I'm using a custom build off of https://caddyserver.com/download with the `git`, `expires` and `minify` extensions.

### 2. What are you trying to do?

Serve a custom 404 page generated with Hugo.

### 3. What is your entire Caddyfile?

[code]

### 4. How did you run Caddy (give the full command and describe the execution en

[2016-11-21 15:13] wayneashleyberry commented on #1270
The full source of our Hugo site is here: https://github.com/we-are-next/next-website

The live site can also be viewed here: https://wearenext.co.za/

[2016-11-21 16:22] doughnet commented on #1114
I had this exact same issue last night.  I've been using recently caddy to run as a frontend proxy to my docker containers (works/has been working great).  It would refuse to restart even when I upped my ulimit.  Only a reboot would resolve this.

It seems the culprit was a rogue domain pointing proxying to an invalid backend.  Running this entirely through a KVM container with Proxmox.

VPS Runni

[2016-11-21 21:29] mholt commented on #1114
@doughnet

What do you mean by this exactly?

[2016-11-21 21:29] mholt commented on #1114
@zwack

Interesting, so we should be able to reproduce this with any health_check path defined wrong?

[2016-11-21 21:33] doughnet commented on #1114
@mholt

Actually it for sure has to do with the ulimit open files. I increased and it hasn't had an issue yet. I didn't think I was doing too much on the system (8 docker containers & caddy) but it seems to have eaten up all 50,000 openfiles.

[2016-11-21 21:51] mholt commented on #1114
That is too many I think. @doughnet Can you give me more details? What do you mean by "invalid backend" -- connection failed entirely or the backend returned something like 404?

[2016-11-21 22:15] doughnet commented on #1114
@mholt
I would do a simple Caddyfile configuration like:

[code]
This would be a docker container that is running php-fpm & apache for example.  It runs smoothly if I only have 7 docker containers running + caddy but once I add an 8th it will give me a 502 error and caddy will fail to start due to the same error of:
runtime: failed to create new OS thread (have 12 already; errno=11)
runtime: may n

[2016-11-21 22:40] mholt commented on #1114
Thanks @doughnet, for the details! I wonder if it happens without virtualization/containerization.

[2016-11-22 14:57] mholt commented on #1270
If you take out other directives like minify, expires, etc, does that eventually fix the problem?

[2016-11-22 15:06] wayneashleyberry commented on #1270
@mholt it looks like `minify` is the culprit :(

[2016-11-22 15:17] mholt commented on #1270
Okay. Please see github.com/hacdias/caddy-minify -- I think it's already being addressed.

[2016-11-22 15:17] #1270 closed

[2016-11-22 15:18] wayneashleyberry commented on #1270
Thanks, will do

[2016-11-22 16:06] mholt commented on #1270
Part of that might be my fault; if he's fixed it I just haven't updated the build server yet (haven't had a chance).

[2016-11-22 16:17] wayneashleyberry commented on #1270
I don't think it's been fixed @mholt

https://github.com/hacdias/caddy-minify/issues/7

[2016-11-22 21:01] zwack commented on #1114
I'm not using docker but the host is a virtual machine. My setup was a proxy to 10 endpoints with health check. Just tried to replicate the error on my local dev machine but no luck.

[2016-11-22 21:15] rickb777 opened #1271 "static files should use strong etag"
I have git rev b783caaaeddaee61384b963ce48bfe385a65b9a5 cloned on master.

This issue is about github.com/mholt/caddy/caddyhttp/staticfiles/fileserver.go.

At line 125

	e := fmt.Sprintf(`W/"%x-%x"`, d.ModTime().Unix(), d.Size())

a weak etag is generated from the modification time and file size.

Is this correct? I think possibly not: it should instead be a strong etag (i.e. without the "W/" pref

[2016-11-22 21:16] doughnet commented on #1114
@zwack
I seem to be running better now by modify the ulimit for open pages.  Do you run caddyserver as root or another user (like www-data)?  I modified my /etc/security/limits.conf so that:
`www-data hard nofile 40000`
So it would have a large amount of openfiles.  Now reboot the system to accept the changes.  I ended up doing this for * instead of just www-data so I don't have this issue later o

[2016-11-22 21:32] zwack commented on #1114
I run as www-data and didn't have the issue anymore after using the correct endpoint path. Will use your config if it ever happens again though, thanks!

[2016-11-22 23:30] rickb777 commented on #1271
I've had an alternative idea - I have been developing my own file-serving handler for some time (hence the interest in this topic). You might like to take a look at it: https://github.com/rickb777/servefiles

We might merge some of this code into Caddy's fileserver, or possibly just link to my servefiles directly.

[2016-11-23 13:28] tobya commented on #1258
Does your site work when you already have a TLS certificate .  eg is this a problem with certificate creation or (as the error would suggest) a more general problem with caddy not being able to bind to 443?

[2016-11-23 13:33] tobya commented on #1269
@Menma123 Could you provide an example of what you would like to achieve with this?

[2016-11-23 14:11] dfiel commented on #1258
@tobya I only have sites with Let's Encrypt. Sites that already have certificates load just fine, I can browse them at :443, but sites that need to renew their certs have issues. It seems to be a different site every time

[2016-11-23 21:11] mholt commented on #1258
Hi, sorry, I'm not ignoring this -- just been really busy. Any collaborators want to take this? (@tobya maybe?) First step would be to take the above Caddyfile and try to reproduce it (be sure to use Let's Encrypt's staging endpoint!!!).

[2016-11-23 23:41] elcore commented on #1258
Hi,

I am really busy right now, but I´d like to point you all in the "right" direction!

**Don´t count on me! I don´t have enough time to fix this issue!**

I guess it has something to do with the TLS-SNI-01 challenge:

https://github.com/xenolf/lego/blob/master/acme/tls_sni_challenge_server.go#L41-L44
[code]

https://github.com/golang/go/blob/master/src/crypto/tls/tls.go#L70-L71
[code]

**Appare

[2016-11-24 00:16] mholt commented on #1258
Caddy should be able to know when the port is in use, though, and tell lego to use an alternate port. It does in most cases, but I wonder if the problem here is how we handle (or don't handle) the wildcards in the hostname.

[2016-11-24 04:07] Menma123 commented on #1269
a filter module which can do regular expression and fixed string substitutions on response bodies.
For example , it can replace all abc.com to def.com.

[2016-11-24 06:29] mholt commented on #1269
Hey @Menma123, thanks for your request. This was already attempted in https://github.com/mholt/caddy/pull/76, but it didn't land. Would make a fine [plugin](https://forum.caddyserver.com/t/requested-plugins-ideas-for-developers/127) though! Anyone is welcome to contribute it.

[2016-11-24 06:29] #1269 closed

[2016-11-24 14:29] elcore commented on #1258
@mholt :/

@bluecmd and @dfiel

Caddy (master) + Go (master) => no issues!

Please build from master and try again! 😄

[2016-11-24 15:56] Dexus commented on #1204
@adamwathan please check your php settings (opcache or similar cache) its mostly the problem with fpm.

I think its has nothing to do with caddy.

Best regards

[2016-11-24 15:57] adamwathan commented on #1204
@Dexus Had no issues before these changes in Caddy and it has affected a *lot* of Valet users. We've all since switched to nginx using the same FPM configuration and the problem has gone away.

[2016-11-25 16:03] ericdreeves commented on #1094
I've noticed an issue with the read_timeout directive. I'm working on the changes. Also, as requested, I'll set default values for both read_timeout and connect_timeout.

[2016-11-26 01:42] bluecmd commented on #1258
Confirmed to fix the issue for me :)

[2016-11-26 10:42] elcore commented on #1258
Hello @bluecmd,

perfect :smile:

[2016-11-26 21:33] mholt commented on #1258
I can't reproduce this even with the above Caddyfiles... very odd. I'm using my "spare" domain in these tests, and the only change I've made is to disable the HTTP challenge to ensure that I use the TLS-SNI challenge as your logs indicate (also I don't go 5 subdomains deep with the wildcards, just one, in my Caddyfile):

[code]

My Caddyfile (taken from @bluecmd's):

[code]

Can you provide more d

[2016-11-26 21:56] dfiel commented on #1258
I've found this is a random issue, only affecting some domains, and then after a restart, different domains don't work. It's not easily reproducible, maybe someone else can provide more details

[2016-11-26 23:04] elcore commented on #1258
Hello @mholt,

Should we give it a try and push it to master? -- It increases coverage by 1.5% 😎

P.S.: bind 0.0.0.0 -> listen tcp 0.0.0.0:443: bind: address already in use

[code]

[2016-11-26 23:19] mholt commented on #1258
BINGO. That does it.

Your fix seems to work for me too. Thanks!

[2016-11-27 06:44] #1258 closed

[2016-11-27 13:01] cork opened #1276 "Numeric markdown metadata can't be used in template"
Numeric values in markdown metadata becomes `"<no value>"` in template.

template:
[code]

markdown:
[code]

Output:
[code]

Expected Output:
[code]

Tested with Caddy 0.9.3.

[2016-11-27 13:12] mholt commented on #1271
You're probably right.

I wonder, by this do you mean that when loading a page, the browser loads an old version because the weak eTag is the same even though the file has changed?

Cool, I'll take a look!

[2016-11-27 13:14] #1248 closed

[2016-11-28 04:03] tgmedia-nz commented on #1258
confirming that it fixed it for me, too! Awesome work guys! :)

[2016-11-28 23:11] cheersjosh commented on #1157
I get similar issues, no matter what I do or what domain I try, it seems it doesn't even attempt to request a certificate, here is my Caddyfile:

[code]

Here is the log output:

[code]

I've tried 3 domains or so now and it's always the same output. I'm using the Caddy 0.9.3 version.

[2016-11-28 23:28] mholt commented on #1157
@cheersjosh Just wondering... why are you using on-demand TLS for a single domain name?

[2016-11-28 23:47] cheersjosh commented on #1157
It's a test at this point, I originally was trying to use a wildcard because we have a multi-tenant setup. We dynamically load client data based on the host. The wildcard was working either.

[2016-11-28 23:49] mholt commented on #1157
Huh. Strange. That error comes from https://github.com/mholt/caddy/blob/f2e999aab27d19a81d5063deab7e939aa4c6b8fe/caddytls/handshake.go#L123. Would be interesting to see if cfg.OnDemand is in fact set to `true` (it should be!).

[2016-11-29 00:22] cheersjosh commented on #1157
Diving further into this, requests for single domains work fine now. Not sure what was going on, caching maybe. But there is still an issue with wildcards. I've tried the following:

`*`
`*.*`
`*.*.*`
`0.0.0.0`
`:443`

But none of them work.

[2016-11-29 02:21] cheersjosh commented on #1157
Okay, I've made some head way. I am not sure if this is the entire reason but I've found that if you only have one address entry in your Caddyfile, I'm not having any luck with On-Demand TLS inside a single server block. For example, this is my new Caddy file:

[code]

There is a problem that still remains though, I get an error suggesting the address is already in use:

[code]

[2016-11-29 02:25] mholt commented on #1157
Oh, okay, that's new:

And was fixed by @elcore in #1273.

Please, let's keep issues on-topic.

[2016-11-29 02:33] iscraft opened #1277 "How do hide header info in 404 status?"
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)

### 1. What version of Caddy are you running (`caddy -version`)?

Caddy 0.9.3

### 2

[2016-11-29 08:36] bigtan commented on #798
Any progress ?

[2016-11-29 12:08] elcore commented on #798
Yes @bigtan -- We just need to wait for Go 1.8

https://twitter.com/eldinhadzic_/status/802290920314040320

[2016-11-29 12:48] wendigo commented on #798
Let's hope go1.8 will land on Feb 1 :)

[2016-11-29 13:02] wendigo commented on #1276
You're right @cork - there's type assertion in https://github.com/mholt/caddy/blob/master/caddyhttp/markdown/metadata/metadata.go#L67

Providing fix in a couple of minutes

[2016-11-29 13:31] wendigo commented on #1276
Here you go: https://github.com/mholt/caddy/pull/1278

[2016-11-29 13:34] wendigo commented on #1276
It will now work for floats too ;)

[2016-11-29 13:36] wendigo commented on #1246
Would you like to stream access/errors log to syslog or every log message?

[2016-11-29 13:37] wendigo commented on #1164
I've been trying to fix that but I can't fully understand lexer and logic behind it. Need help of @mholt

[2016-11-29 21:38] mholt commented on #1164
@wendigo No problem -- what about just tweaking the header parsing logic, so it only accepts one header field per line?

[2016-11-29 22:01] radomirml opened #1279 "HTTPS serving halts after cert renewal fails for some hosts (although it shouldn't)"
### 1. What version of Caddy are you running (`caddy -version`)?

Own build with a custom plugin. The same issue experienced merged with today's master but also with 0.9.3.

### 2. What are you trying to do?

The server runs as a transparent proxy with a custom plugin implementing some content filtering.

### 3. What is your entire Caddyfile?

Caddyfile is generated (registered CaddyfileLoader) wi

[2016-11-29 22:06] wendigo commented on #1164
Here you go @mholt: https://github.com/mholt/caddy/pull/1280

[2016-11-30 01:18] ericdreeves commented on #1094
Work continues. I'll be investigating a send_timeout property next.

[2016-11-30 04:25] mholt commented on #1276
Why do we even need to do the conversion, again? I haven't looked at this code in a long time, but I feel like having to enumerate every possible type is impractical. (Maybe not for 99% of uses, but still...)

[2016-11-30 05:48] ktkaushik commented on #1279
+1 I got the same error last night. @shubhamsoni92

[2016-11-30 06:04] mholt commented on #1279
@ktkaushik You need to upgrade. :wink:

@radomirml You have a lot of layers to your infrastructure. It could be any number of things causing it, and I don't suspect Caddy at this point.

[2016-11-30 06:09] mholt commented on #936
Any opposed if I use the key at https://keybase.io/caddy ?

[2016-11-30 06:45] ktkaushik commented on #1279
@mholt can you please point me in the right direction for upgrading ? I remember when i installed on my ubuntu server, i had to google quite a bit. :)

[2016-11-30 06:48] mholt commented on #1279
@ktkaushik [Download the latest version](https://caddyserver.com/download), replace binary, restart process. Easy. :)

[2016-11-30 09:40] ktkaushik commented on #1279
Thanks @mholt

[2016-11-30 10:24] wendigo commented on #1276
@mholt It's due to automatic type detection/conversion made in the yaml decoder: `something: number` and `something: 1234` will be decoded to `string : int` and `string : string` when decoding into `map[string]interface{}`. I'm fine with the change I made - it works in YAML, TOML and JSON files

[2016-11-30 12:57] tobya commented on #1276
I find myself agreeing with @mholt on this. Could the markdown not simply specify that it can only be a string.  Non enclosed values are simply not allowed?

[2016-11-30 13:35] radomirml commented on #1279
@mholt I agree, many layers although I find it strange that renewal doesn't work from Caddy's maintenance loop but it does when invoked from http handler. I'll try to isolate and reproduce the issue in dev environment.

Do you possibly have a dependency list of vendor packages (like a glide lock file or equivalent)? It would be useful to know versions of dependency packages the official Caddy is b

[2016-11-30 15:19] mholt commented on #1279
No, but I don't think you have a dependency problem either. I'm almost sure it's networking or infrastructure or system environment-related.

[2016-11-30 15:20] mholt commented on #1276
@wendigo I like your change too, I'm just wondering if we can improve it a little more by making it kind of agnostic of the type. :) (If not, I'll merge your change anyway, but I just thought I'd ask while we had it out.)

[2016-11-30 17:04] wendigo commented on #1276
@mholt: sure, check it now - now it's type agnostic :)

[2016-11-30 18:59] francislavoie commented on #1235
I'm only getting around to implementing this now, and I guess I'll find out when I try it in a prod environment, but do environment variables get parsed in imported files?

For full feature coverage I'm aiming to set it up like this:

`caddy_tls_auto`:
[code]

`caddy_tls_custom`:
[code]

`caddy_tls_selfsigned`:
[code]

`caddy_tls_off`:
[code]

And loaded from the Caddyfile like this:
[code]

And i

[2016-11-30 23:01] miekg commented on #1157
To close this off. I saw a successful cert upgrade:
[code]

This is thus due to running some random git release of the deps of caddy, which had "some" bug.

Thanks @mholt for you patience *and* this has nothing to do with `systemd` :+1:

[2016-11-30 23:06] mholt commented on #1157
@miekg Great, good to have closure. :) Sorry for the trouble -- glad you resolved it.

(Strange, I wonder what dependency was outdated or something that was causing your issue.)

[2016-11-30 23:10] miekg commented on #1157
We will never know... could be an interaction between deps...

[2016-12-01 07:59] miekg commented on #1157
Damn....
This worked:
[code]
Then later an actual renewal
[code]
For `nlgids.london` I never see the new certs in the logs:
[code]
there is no `Server responded with a certificate.`
After that I did a request that worked:
[code]
Then a bunch of
[code]
And *then*
[code]
Until I restarted caddy.

@mholt : what is the correct/best/fastest way to debug this? Write a test program that tries to mimic th

[2016-12-01 09:41] gyulavoros opened #1281 "Eventsource request timeout"
### 1. What version of Caddy are you running (`caddy -version`)?
`0.9.3`

### 2. What are you trying to do?
Use Caddy as a reverse proxy in front of YouTrack 7.0 Build 28110.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
[code]

### 5. What did you expect to see?
Caddy is letting through `eventsource` req

[2016-12-01 15:18] mholt commented on #1157
Refresh my memory. What kind of Caddy configuration are you using now? Are you running vanilla Caddy without plugins and without systemd? Are you using an official build or your own?

Frankly I'd say let's go back to square 0 by using an official build (currently version 0.9.3) from the website and with no plugins and no systemd and a simple infrastructure setup. Then use only cURL -v to make requ

[2016-12-01 19:47] miekg commented on #1157
[ Quoting <notifications@github.com> in "Re: [mholt/caddy] ssl certs failure..." ]

No, from git - so nothing official there. And a number of plugins, among other
prometheus and a one that is a one-off for a website.

Yes, that *would* make sense, but is not currently possible as I'm sort of
running production with caddy. Or much rather have a quick way to reproduce - so
as force caddy to do the a

[2016-12-01 19:49] miekg commented on #1157
So, on a hunch I build `-race` binary:
[code]

[2016-12-01 20:14] mholt commented on #1157
Okay, well, I don't have time to look into this, so it's up to you for now.

[2016-12-01 20:14] mholt commented on #1157
Okay, well, I don't have time to look into this, so it's up to you for now.

[2016-12-01 21:19] miekg commented on #1157
So with a clean master checkout, a `go build -race` build, and this Caddyfile:
[code]
Starting with:
[code]
Gives this when I query it:
[code]
And even more:
[code]

[2016-12-01 22:16] miekg commented on #1157
Hmmpf. I tried to apply some simple fixes, but this looks like a quite fundamental data race in `caddytls/crypto.go`.

I would love to be proved wrong here though!

[2016-12-02 00:06] mholt commented on #1157
There is unfortunately no (known) way to "properly" rotate TLS session ticket keys; but this race is [effectively harmless](https://github.com/mholt/caddy/pull/742#r59375111). I would be very surprised if it had anything to do with the issue you're experiencing.

[2016-12-02 07:13] miekg commented on #1157
Why do you say it is harmless, that PR talks about setting a bool, the errors I see in the race detection are concerning the actual key rotation? To be fair L274 is before the endless loop, but this still triggers the race detection. *And* this the code called (is it?) after a new acme challenge which is where I see my problems. But questions remain, why I'm I the only one seeing this?
I believe t

[2016-12-02 08:47] radomirml commented on #1157
@miekg I hit #1279 that may be related to the issue you're facing. In my logs I also had a bunch of logs about `unsupported maximum protocol` and renewal stuck on `Trying to solve TLS-SNI-01`. I'm currently pressed with other things but would otherwise like to build my server with `-race` enabled and see what's going on.

[2016-12-02 09:18] myReaper commented on #1246
Sorry for my late reply :-)

Right now, streaming access and error log to an remote syslog server currently would be sufficient for us. Of course, receiving all messages would also not be wrong.

Our main goal is to have all caddy log messages available in our central Logstash installation. So the best option for us would be to directly output error/access logs as json to the logstash server.

How

[2016-12-02 09:45] martindale commented on #107
@mholt would you mind putting [this comment](https://github.com/mholt/caddy/issues/107#issuecomment-151275963) in a more public location, perhaps in the documentation itself?  Perhaps point me to the ideal place and I can submit a pull request.

[2016-12-02 09:57] miekg commented on #1157
Yes, sure looks like. The in-fly-cert-updates look racy and Caddy doesn't deal well if things don't work, which is bad. It should at least hold on to some last good state or something.

Glad I'm not the only one seeing this anymore.

[2016-12-02 12:06] miekg commented on #1157
@radomirml I'm now running Caddy with the session key rotation **disabled**. This removes all the race detection warnings (the full diff below, adds some extra plugins). Still running a binary build with `-race`

[code]

[2016-12-02 14:36] mholt commented on #107
@martindale It's on the [CLI](https://caddyserver.com/docs/cli) page already. :wink:

[2016-12-02 14:42] mholt commented on #1246
You can specify `syslog` for error and access logs (using the `errors` and `log` directives) already. Does that meet your needs?

[2016-12-02 14:45] myReaper commented on #1246
@mholt no, just specifying syslog will log to the internal syslog, we require caddy to log to an external syslog server (using ip:port) like nginx offers for example.

The local log should not be written at all, also in terms of disk i/o performance.

[2016-12-02 15:15] wendigo opened #1282 "Lazy gzip/brotli"
As mentioned in https://forum.caddyserver.com/t/lazy-gzip-possibly-a-feature-request/1031 it would be nice for Caddy to support pre-gzipped files.

[2016-12-02 20:39] tobya commented on #1200
My attempts to fix this have introduced unpredictable behaviour with paths. In my opinion

    localhost:4151/pub?topic=caddy

and

    localhost:4151/pub/?topic=caddy

should point to the same server resource.

[2016-12-02 20:39] #1200 closed

[2016-12-03 06:35] #1276 closed

[2016-12-03 08:18] sguiheux opened #1283 "Proxy + without not working"
### 1. What version of Caddy are you running (`caddy -version`)?
0.9.3

### 2. What are you trying to do?
Proxy + without

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
caddy
curl -X GET http://127.0.0.1:2015/api/bar

### 5. What did you expect to see?
 "GET /foo/bar HTTP/1.1"

### 6. What did you see inst

[2016-12-03 08:23] tobya commented on #1283
I was able to reproduce this

Oddly it seems fixed by the code in PR #1256 for  #1200 .  I will investigate further

[2016-12-04 19:43] abh commented on #864
I expected this to work, but it only listens on the last 'bind' statement. (I understand it working this way might be required to be able to override a default):

bind 2607:f238:3::222:0
bind 207.171.7.222

so alternatively having this work would be nice:

bind 2607:f238:3::222:0 207.171.7.222

There's no way to use a set of specific IPs and have IPv4 and IPv6 work currently without duplicating th

[2016-12-04 19:44] theel0ja opened #1287 "Caddyfile in directory listing"
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)

### 1. What version of Caddy are you running (`caddy -version`)?
Caddy 0.9.3

### 2.

[2016-12-05 08:44] sguiheux commented on #1283
I just tested with master and it seems to work.
curl -X GET http://127.0.0.1:2015/api/bar
"GET /foo/bar HTTP/1.1" 502 16

[2016-12-05 10:05] miekg commented on #1157
Just an update: after running three days with the patch above things look good (I've claimed that before though), so I'm not claiming victory (yet).

@mholt can you explain why you think that having the key rotation setup like it is, is harmless? The documentation clearly states "you are not supposed to do that":

Which, I think, makes key rotation, sadly, not an option with the current stb libs.

[2016-12-05 19:44] wendigo commented on #1287
You're right - browse plugin did not take into account hidden files :)

[2016-12-05 19:58] wendigo commented on #1246
Can you use relay to bounce logs to an external syslog using local one?

[2016-12-05 20:13] wendigo commented on #1277
Can't confirm it on master. Can you test it yourself @iscraft and show a way to reproduce it?

[2016-12-05 20:40] myReaper commented on #1246
@wendigo for performance reasons it would be good to have caddy directly log to an external syslog server (or send json to logstash) instead of first writing to local syslog and then relaying using the local syslog server.

[2016-12-06 07:53] tobya commented on #1283
@sguiheux That's great.  I wonder would cc638c7 fix final part of #1200 .  I'll take a look

[2016-12-06 15:01] mholt commented on #1277
Gonna remove the bug label until we confirm it actually is a bug. :)

[2016-12-06 17:54] tehscorpion commented on #1208
Thanks!

[2016-12-06 22:30] coderobe opened #1291 "Caddy reports "No such site" when using very long subdomain chain"
### 1. What version of Caddy are you running (`caddy -version`)?
Caddy 0.9.3

### 2. What are you trying to do?
Serve http://according.to.all.known.laws.of.aviation.there.is.no.way.a.bee.should.be.able.to.fly.its.wings.are.too.small.to.get.its.fat.little.body.off.the.ground.the.bee.of.course.flies.anyway.because.bees.dont.care.what.humans.think.is.impossible.cdr.li/

### 3. What is your entire Cad

[2016-12-06 22:31] coderobe commented on #1291
Note: There are no errors in the log(s) (excluding the "No such site" error)

[2016-12-07 06:30] mholt commented on #1291
Works fine for me, following your instructions.

You know that turning TLS off will not serve the site at port 80, right? https://caddyserver.com/docs/automatic-https

How do you know this?

[2016-12-07 21:01] coderobe commented on #1291
Oh. Whoops

`failed to get certificate: acme: Error 400 - urn:acme:error:malformed - DNS name has too many labels`

[2016-12-07 21:05] coderobe commented on #1291
i'm going to close this. if the acme issue actually does happen within caddy we should open another issue

[2016-12-07 21:05] #1291 closed

[2016-12-07 21:23] mholt commented on #1291
Let's Encrypt only allows a certain number of labels, I don't know what the limit is though. Double check you're serving the site at the right port.

[2016-12-08 02:09] mholt commented on #1283
Great, I'll close this then. :)

[2016-12-08 02:09] #1283 closed

[2016-12-09 00:11] renegoretzka commented on #761
Hey schlypel, what is the final config of your setup?
Thank you!

[2016-12-09 01:42] sanderhahn opened #1292 "websocket connect failure over https proxy"
### 1. What version of Caddy are you running (`caddy -version`)?
Caddy 0.9.3

### 2. What are you trying to do?
Accessing a websocket over an https proxy.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
Using `caddy.service` file and added the -http2=false flag:
ExecStart=/usr/local/bin/caddy -http2=false -

[2016-12-09 16:54] dominikschulz commented on #1152
Upstream responds properly:

[code]

[2016-12-09 17:03] metalmatze commented on #1152
I quickly want to add, that we also tried the Caddyfile without the `https://` prefix.
Unfortunately the same problem occurs when proxying to drone. So it's definitely a Caddy problem and not a upstream one... 😕

[2016-12-09 18:19] SergeAx commented on #735
I confirm a catastrophic performance loss (10x times compared with disabled `gzip`) in a setup with small (0.5k) files on very low-end machine (32 bit 4-core ARM Marvell Armada 370/XP, 2GB RAM). `go version 1.7.4 linux/arm`. Hope it will be fixed soon. Apart from that, thanks for great work!

[2016-12-09 18:45] serussell commented on #1083
@mholt -- sorry for the huge gaps between comments.  Is there a change set you can reference that you believe fixes the issue?  I assume the header directive is still valid, and the fix isn't removing header from the config.

This is challenging to reproduce, and I haven't had time to test with master.  I also assume you do not recommend running master (or any other non-release version) in product

[2016-12-10 05:42] mholt commented on #1083
@serussell It might be the upstream quic library that was updated to fix this, as well: https://github.com/lucas-clemente/quic-go/commit/ef977ee0591f72543f8323cd12a585f5406ff971

I don't "recommend" running master in production, but it's usually okay (because we have automated tests) as long as you know what changes have been made and act accordingly, but that's true for any released version too.

[2016-12-10 06:08] danderson opened #1293 "Support passing an alternate host:port for ACME verification"
I would like to host non-HTTP TLS services on port 443 (specifically, OpenVPN, to get around silly firewalls). I've seen a past bug for this closed because Caddy wants to focus on HTTP, which is fair.

My alternative is to use a TLS SNI proxy, which inspects the requested hostname in the TLS handshake, and routes either to Caddy listening on localhost:1234, or to my other TLS-requiring services. T

[2016-12-10 14:19] wendigo commented on #1281
I think it might be fixed by: https://github.com/mholt/caddy/pull/1274 and https://github.com/mholt/caddy/pull/1257

Can you test your setup on master version of Caddy?

[2016-12-11 00:22] danderson commented on #1293
I realize this wasn't made clear in my original report, but: I'm offering to contribute patches to make stuff happen, I'm mostly looking for design guidance as to what you think is best for Caddy.

[2016-12-11 00:44] mholt commented on #1293
I think this could be done. A command-line option for the ACME challenge address, perhaps? One for the HTTP challenge, another for the TLS-SNI challenge?

[2016-12-11 12:24] wendigo commented on #1246
@myReaper as Caddy is using https://github.com/hashicorp/go-syslog syslog wrapper I've submitted PR to allow dialling remote syslog server https://github.com/hashicorp/go-syslog/pull/5/files. When it will be merged I can add support for remote syslog in Caddy.

Or... @mholt: we could drop go-syslog in favour of using build tags and ```log/syslog``` WDYT?

[2016-12-11 16:12] sanderhahn commented on #1292
Tried to debug the websocket through curl:

Access the echo domain directly gives a 101 status:
[code]

Response:
[code]

Accessing the proxy domain using curl seems to returns binary including the certificates of the `echo.codevelop.nl` domain. Maybe the binary is an encrypted response?

[code]

Not sure if i am trying to do something that is not supported by Caddy or if i made a mistake in the c

[2016-12-11 22:45] gyulavoros commented on #1281
Just tested with 8653b70 and the request is still pending indefinitely.

[2016-12-11 23:26] hattifattener commented on #29
Let me speak in defence of simple CGI too. It is much useful than many people think.
In particular, I try to use caddy under windows as a single web service for a lot of web interfaces and lightly loaded APIs. A CGI interface with manageable environment would be to the point.

[2016-12-12 02:37] ericdreeves commented on #1094
Hello, @Echsecutor!

We've added the following timeout properties to the fastcgi directive:
* connect_timeout
* read_timeout
* send_timeout

Each of these have a default value of 60 seconds.

Are these updates sufficient? If so then I'll close this issue.

[2016-12-12 15:05] jordic commented on #1204
Could be something related to x-cache or APC? On the phone side... The behaviours seems like ...

[2016-12-12 15:05] jordic commented on #1204
S/phone/php

[2016-12-12 15:07] taylorotwell commented on #1204
As Adam mentioned, you can switch between Nginx and Caddy **without touching** your FPM config and Caddy will exhibit the broken behavior while Nginx will work fine. So it seems disconnected from any FPM settings. We never had any problem with Caddy until that one change to FPM handling went into it.

[2016-12-12 16:51] mholt commented on #1152
@dominikschulz @metalmatze No, I'm still suspicious of the upstream. We've seen this before when web apps think they are in charge of redirecting to HTTPS. Be very careful how you're proxying and ensure your app isn't overstepping its bounds and being a bit too cavalier with redirecting.

[2016-12-12 16:56] mholt commented on #1204
Speculation isn't helpful here at this point, @jordic, @Dexus -- what we need are well-documented reproductions of this behavior that can expose the bug in the fastcgi client code. I wish I had time to devote to this issue, but I'm busy with other (mostly Caddy-related) things right now.

Ideally, someone with PHP installed could take this setup described above, see the same thing that Adam and Ta

[2016-12-12 16:57] mholt commented on #29
This is probably a somewhat trivial plugin to implement, if someone wants to do so. (And in a few months we'll have a whole new website to make publishing plugins much easier.)

[2016-12-12 17:01] mholt commented on #1246
I'm all for fewer dependencies, but go-syslog already does what essentially we would have to do ourselves, no? I'm fine with keeping it at this point -- assuming that PR, https://github.com/hashicorp/go-syslog/pull/5 can get merged.

[2016-12-12 17:03] metalmatze commented on #1152
It's just basic gitlab. We run exactly [sameersbn/gitlab](https://hub.docker.com/r/sameersbn/gitlab/) as container and proxy with caddy to it. Pretty default configurations:

[code]

Everything else should be uninteresting because it's just email configurations.

[2016-12-12 17:22] mholt commented on #1152
So if you're proxying to GitLab via HTTP and it expects HTTPS as you config shows, that could be the reason for the redirect.

[2016-12-12 20:22] MartanLV commented on #761
@renegoretzka [this gist](https://gist.github.com/MartanLV/7386b197958e19a597af02eea1833f5e)

[2016-12-12 21:59] wendigo commented on #1246
@mholt I give myself a 2 weeks deadline - if there is no response from hashicorp team I will move syslog wrapper to caddy

[2016-12-13 09:50] miekg commented on #1157
Caddy has been running super stable since Dec 05.

[2016-12-13 10:33] hattifattener commented on #29
Ok. I'm rather old dog, but I have a good skills in C, perl and python, so I hope I can handle golang.

[2016-12-13 10:39] wendigo commented on #29
If you need any help @hattifattener we are here :)

[2016-12-13 15:26] withinboredom commented on #1204
@adamwathan, @mholt:

I've created a basic dockerized reference implementation of caddy + php-fpm + docker. I was unable to reproduce the issue with basic php... @adamwathan if you want to try this with more advanced code, that would be amazing...

What is the output of `phpinfo()` when using caddy vs using nginx?

[2016-12-13 15:44] mholt commented on #1157
If you follow the link I posted, you'll see that @wmark actually said it, and I think I agree since the "race" happens once only at the very beginning before serving.

[2016-12-13 15:50] miekg commented on #1157
But Matt, that *only* talks about the boolean that gets set:

`c.SessionTicketsDisabled = true // bail if we don't have the entropy for the first one`

There is no discussion in that thread about the sessions keys themselves.

I think I saw the race detector also go off when I queried caddy - but I'll double check.

[2016-12-13 15:56] wmark commented on #1157
If our key rotation does not kick in, Go populates it itself, with random values. All what happens after that is that the former TLS ticket does not result in a resumed session, and the usual key agreement takes place.

A *nil* value effectively disables the feature, and uncontrolled values result in unusable TLS tickets, back to the first paragraph then.

I think finding the cause of `tls: client

[2016-12-13 16:15] miekg commented on #1157
Yes, I'm trying to find out where that error comes from - It's hard, and I'm trying to weed out things that *may* cause it :-)

In answer to your comments: our key rotation does kick in....

In `caddytls/crypto.go` we create a slice of arrays: `keys := make([][32]byte, 1, NumTickets)`

We then call `c.SetSessionTicketKeys(setSessionTicketKeysTestHook(keys))` which sets these in the tls.config. So

[2016-12-13 16:31] wmark commented on #1157
Go doesn't use our data structure directly. Another is derived from it:
https://github.com/golang/go/blob/a9ce0f96e1f2ab69ce3319c5a97c1d01beb9472c/src/crypto/tls/common.go#L640-L653
Reading `ticketKeyFromBytes` think »hash.«

I still think you're on the wrong path, due to the output of `-race`. That said, I am no fan of automatic diagnosis and prefer reading code.

[2016-12-13 18:32] meyskens opened #1294 "Cookie issues over QUIC (woocommerce)"
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)

### 1. What version of Caddy are you running (`caddy -version`)?
0.9.3 (armhf)

###

[2016-12-14 02:08] ericdreeves commented on #1094
Closing.

[2016-12-14 02:08] #1094 closed

[2016-12-14 12:35] wendigo commented on #1246
Ok, so the PR is merged :) I will send PR in following days

[2016-12-15 03:46] kokizzu opened #1295 "Caddy down without any useful information"
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)

### 1. What version of Caddy are you running (`caddy -version`)?
0.9.3

### 2. What

[2016-12-15 03:53] tgmedia-nz opened #1296 "Caddy wildcard tls issuing certs problem in combination with binding to specific ip"
### 1. What version of Caddy are you running (`caddy -version`)?
CADDY 0.9.3, built via

[code]

### 2. What are you trying to do?

Use caddy in front of apache using wildcard vhosts.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?

[code]
### 5. What did you expect to see?

serving https for all sites that

[2016-12-15 12:24] mholt commented on #1296
What's in your hosts file?

[2016-12-15 12:27] mholt commented on #1295
Does it happen if you don't use systemd? Users have reported problems with it in the past.

[2016-12-15 12:59] xrstf opened #1297 "Use tls with explicit certificates and HTTP redirects"
### 1. What version of Caddy are you running (`caddy -version`)?

Caddy 0.9.3

### 2. What are you trying to do?

Run a frontend proxy that forces HTTPS and uses explicitely configured certificates. The manual redirect works just fine as long as I don't enable the `tls` section in my Caddyfile. Putting `redir` before or after the `tls` has no effect. I _can_ just have two server blocks (one for ht

[2016-12-15 13:31] kokizzu commented on #1295
Not yet tested, umm.. this only happened once (5 days since started), never happened before

[2016-12-15 19:52] tgmedia-nz commented on #1296
hosts file contains one line with

127.0.0.1 servername.fqdn servername localhost

Looking at the code its this:

`DefaultHTTPAlternatePort = "5033"`

The second public IP address on that server where the main IP is in use with apache and caddy is supposed to bind to the second public IP. Unfortunately in my scenario I can't use the main IP for other system integration reasons, e.g. apache2 config

[2016-12-15 19:58] mholt commented on #1296
Oh oops :smile: I forgot about that -- I just wrote my reply as I was headed out the door. Thanks for finding that. ;)

Are you binding to an IP other than the one the hostnames resolve to?

[2016-12-15 20:02] tgmedia-nz commented on #1296
My domains resolve to the IP that caddy binds to, yes. The host name of the server though resolves to the main IP, not caddy's IP :)

[2016-12-15 20:21] mholt commented on #1296
I see... I'll try to reproduce this...

[2016-12-16 06:59] pepa65 commented on #1250
I'll wait for 0.9.4 on this.

[2016-12-16 14:05] schlypel commented on #761
Sorry for not answering faster. Had not enough time to finish up my config, its working, but missing a few things to be nice to use.
I hope i´ll have some time at the end of this year and will definitively post my setup here when ready.
If you try to do this with multiple sites/vhosts, you need to add pools in php-fpm according to your caddyfile. I do this with import. In the php-fpm config you ca

[2016-12-16 14:07] schlypel commented on #761
Ah, and the most important part, set the root dirs for vhosts and pools accordingly, errors here result in not found answers from php, although the path it says it cant find is absolutely correct.

[2016-12-16 18:15] joelchen opened #1298 "Multiple slashes become one slash"
### 1. What version of Caddy are you running (`caddy -version`)?
Caddy (untracked dev build)
From `go get github.com/mholt/caddy/caddy`.
On 5:30 PM (UTC) 16 December 2016.

### 2. What are you trying to do?
Confirm bug exists even on master branch of Caddy after discovering it on Caddy 0.9.3.

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and des

[2016-12-16 19:15] flip111 commented on #761
Perhaps it would be nice for such a config to have a more prominent spot in the Caddy documentation. I wanted to try Caddy but gave up after missing some configuration stuff. Want to try again when a good example is available.

[2016-12-16 20:20] abiosoft commented on #1298
Have you tried escaping the URL ?

[2016-12-16 20:23] joelchen commented on #1298
@abiosoft Yes, I have tried it from XMLHttpRequest. Python's SimpleHTTPServer works without escaping.

[2016-12-16 23:22] mholt commented on #1298
This is intentional; we call `path.Clean()` to help prevent directory traversal attacks. It removes extra forward slashes. What did the escaped request look like exactly?

[2016-12-16 23:55] mholt commented on #1250
What will be in version 0.9.4 that you need?

[2016-12-16 23:59] mholt commented on #761
Feel free to put examples in https://github.com/caddyserver/examples :)

[2016-12-17 00:53] pepa65 commented on #1250
I have a similar setup where I want to serve pages with markdown, and be able to edit them with filemanager.

[2016-12-17 03:02] pepa65 commented on #1250
And I'm guessing templates also don't work with markdown??

[2016-12-17 15:01] joelchen commented on #1298
@mholt I have tried permutations of the following and they all result in one slash:
[code]
I have also tried a recent version of nginx (1.11.6), and it does not have this issue. Can you disable path.Clean() by default unless turned on by some configuration in Caddyfile, or remove it and use other ways to prevent directory traversal attacks? Thank you.

[2016-12-17 16:42] mholt commented on #1298
Sorry, no.

What we might be able to do is look into what exactly is causing even the query-encoded slashes to be replaced and see if we can somehow treat those as literals instead of path separators.

[2016-12-17 16:44] mholt commented on #1250
I believe this was fixed in filemanager, not in Caddy.

[2016-12-17 16:46] pepa65 commented on #1250
But the Caddy binary will not incorporate this fix until 0.9.4, or is that not how it works??

[2016-12-17 16:55] joelchen commented on #1298
@mholt May I know your reason? Since directory traversal vulnerability has been addressed by nginx since 0.8.17 (http://nginx.org/en/security_advisories.html) without query encoding/decoding, why Caddy cannot do the same?

[2016-12-17 17:31] mholt commented on #1250
No, the plugins can be updated independently. I've updated the build server fairly recently so it might already have the fix.

[2016-12-17 17:31] #1250 closed

[2016-12-17 18:24] mholt commented on #1298
This might be related to https://github.com/mholt/caddy/issues/643, specifically https://github.com/mholt/caddy/commit/f31875dfdeb73db9dddf6a2a175a6b0b349d9b28. Perhaps there is a better way to approach this?

[2016-12-17 18:30] #1287 closed

[2016-12-17 18:46] joelchen commented on #1298
@mholt Here is what I just found out while getting my application to work in nginx. If `proxy_pass` is used with URI (http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_pass), the equivalent of `proxy` + `without` in Caddy, same issue occurs where slashes will be merged. To remedy, `merge_slashes off;` has to be put into the server directive of its configuration file (http://nginx.org/

[2016-12-18 07:33] nhooyr opened #1299 "serveFile TODO is fixed in http.Dir"
https://github.com/mholt/caddy/blob/54c63002ccc41e9fd533384a9d87437371bc85df/caddyhttp/staticfiles/fileserver.go#L50

Seems to be fixed at https://github.com/golang/go/blob/aeaa4c3c1da9e7a4afd4152913d6f2bfcf4fad2d/src/net/http/fs.go#L37

[2016-12-18 12:39] wendigo commented on #1294
Maybe related to: https://github.com/lucas-clemente/quic-go/issues/338 ?

[2016-12-18 13:21] wendigo commented on #1298
I think that we can introduce merge_slashes option. WDYT @mholt ?

[2016-12-18 16:14] mholt commented on #1294
^ Probably! Nice find @wendigo. I'll do a Caddy release next week that should include that fix.

[2016-12-18 17:56] tobya commented on #1297
Maybe I'm missing something here, but caddy automatically serves on https you do not need a redirect.

    0.0.0.0 {
      root  /var/www

      etc....
     }

will server only on https and issue a 301 on a request to http.  Is this not what you require?

[2016-12-18 18:00] mholt commented on #1297
@tobya Caddy only does the automatic redirects as part of automatic HTTPS: https://caddyserver.com/docs/automatic-https.

[2016-12-18 21:54] wendigo commented on #1246
Here you go: https://github.com/mholt/caddy/pull/1301 ;) Took more time than I expected

[2016-12-18 22:01] jwkohnen opened #1302 "csp: provide content-security-policy nonce attribute"
This is an issue for tracking a feature that I am working on. There is working code, but I'd like to fix one or two bugs and more importantly write better test code before I push into a feature branch. See [this forum thread](https://forum.caddyserver.com/t/writing-integration-or-unit-plugin-tests/1147) about my thoughts about testing this and testing in general.

Discussion about the plugin itsel

[2016-12-19 09:58] mxlje opened #1303 "Caddy serves wrong SSL cert for site that is not served on HTTPS port"
### 1. What version of Caddy are you running (`caddy -version`)?

[code]

### 2. What are you trying to do?

I want to have multiple virtual hosts, some http**s**, some http only. I want the http only hosts to not respond to http**s** requests with a wrong certificate.

### 3. What is your entire Caddyfile?

[code]

### 4. How did you run Caddy (give the full command and describe the execution env

[2016-12-19 10:29] wendigo commented on #1303
I don't think it's entirely and elegantly possible.

Check comments https://github.com/golang/go/blob/a9ce0f96e1f2ab69ce3319c5a97c1d01beb9472c/src/crypto/tls/common.go#L369, https://github.com/golang/go/blob/a9ce0f96e1f2ab69ce3319c5a97c1d01beb9472c/src/crypto/tls/common.go#L360 and https://github.com/golang/go/blob/a9ce0f96e1f2ab69ce3319c5a97c1d01beb9472c/src/crypto/tls/common.go#L352

[2016-12-19 10:43] wendigo commented on #1303
If I read source code properly when error is returned from ```GetCertificate``` TLS Alert will be send over the wire (I'm not really sure how browsers handle this)

[2016-12-19 11:13] wendigo commented on #1303
Ok, so the ```certCache[""]``` (https://github.com/mholt/caddy/blob/master/caddytls/certificates.go#L234 aka default certificate for unmatched SNI challenge) was added by @mholt in https://github.com/mholt/caddy/commit/d05f8929. I think it can be removed and then browser will receive TLS alert resulting in:
[code]
but I don't fully understand rationale behind adding default cert.

[2016-12-19 15:56] mholt commented on #1303
@mxlje

That's how the Web works. Port 443 is open. The only TLS cert you have is for a different domain, and like other web servers, Caddy will serve that up as the "default" certificate. You can't close 443 to just one hostname, it's either open or it's not.

[2016-12-19 16:10] wendigo commented on #1303
@mholt I agree but instead of serving invalid certificate (not matching hostname) we can issue TLS alert (by returning error) in ```GetConfig```

[2016-12-19 16:17] wendigo commented on #1303
[code]

[2016-12-19 16:58] #1282 closed

[2016-12-19 17:00] wendigo commented on #1164
Fix was merged to the master.

[2016-12-19 17:00] #1164 closed

[2016-12-19 17:11] mholt commented on #1303
You're right, we could do that. However, the current behavior allows the client to choose whether it wants to continue making the connection, rather than the server forcing it one way or the other. I believe nginx follows this logic as well, and it seems reasonable to give the client that choice (unless I am missing something).

[2016-12-19 17:23] mholt commented on #1303
In talking with others about this, this situation is similar to the "no such site" error that Caddy gives when you try to access a site (over HTTP) that it does not serve, but still has port 80 open and so it still responds to the request. Caddy has been mimicking the behavior of other web servers (nginx) by serving a default certificate, but maybe we should not respond with any certificate instea

[2016-12-19 17:31] wendigo commented on #1303
I would never say to non-technical person "you just have to click Advanced and then 'Proceed to unsafe location'" as it's just teaching risky and generally bad behaviour :) I understand need for generating self-signed certificates (by developers) which is ok but presenting bad certificate to "mortals" is unjustified imo.

Maybe this kind of behaviour can be configurable? Like:

[code]

[2016-12-19 17:57] mholt commented on #1303
Okay, so we switch the default behavior to a TLS alert, but with the option to present a default certificate that can be enabled from the Caddyfile. All in favor?

(One problem with this: the presence of the `tls` directive will enable TLS unless `tls off` is used... we'd need to figure out how to handle this before continuing.)

[2016-12-19 18:17] wendigo commented on #1303
[code]

[2016-12-19 21:19] deanrock opened #1305 "Automatic HTTPS failed when using TLS-SNI-01"
### 1. What version of Caddy are you running (`caddy -version`)?
Caddy 0.9.3

### 2. What are you trying to do?
Use Caddy with multiple domains with automatic HTTPS.

### 3. What is your entire Caddyfile?
[code]
(config for other domains is the same as the one for `domain.xyza`, except the domain name)

### 4. How did you run Caddy (give the full command and describe the execution environment)?
[c

[2016-12-20 02:24] estark37 commented on #1303
A note about Chrome: when Chrome encounters a certificate name mismatch error for example.com, with a certificate that is valid for www.example.com, it'll redirect the user to www.example.com (and vice versa). Changing to a TLS alert would stop this heuristic from working for Caddy servers. Nevertheless, I think a TLS alert is the right way to go: as @mholt said, certificate errors should signal a

[2016-12-20 09:33] mxlje commented on #1303
@wendigo thanks for digging into the code with a few explanations and thank you @mholt for stepping in and starting a discussion about this.

@mholt:

I’m in favor of this. Asking for https on a domain when there is no valid certificate available for that name should result in a TLS error.

@estark37:

Good point. But: This would only work in the case where I have `https://www.example.com` and `ht

[2016-12-20 11:18] wendigo commented on #1303
@mholt I think that "certificate fallback" should be added globally (per server, not per vhost). WDYT?

[2016-12-20 17:49] estark37 commented on #1303
Right, the redirect is only to www.example.com if the requested hostname was example.com and the cert is valid for www.example.com, or vice versa. It doesn't apply for any other types of name mismatches. I agree that the right way for servers to handle this is to explicitly redirect to www.example.com.

[2016-12-21 00:53] mholt commented on #936
This has been implemented on the new build server that is under construction.

[2016-12-21 00:53] #936 closed

[2016-12-22 21:41] tewe opened #1306 "Panic when using FastCGI on certain architectures"
Using FastCGI with Caddy 0.9.4 leads to a `invalid memory address or nil pointer dereference` in `go/src/sync/atomic/asm_*.s` on: ARMv6, ARMv7, i686. Everything works on: amd64. Always using Linux.

See https://forum.caddyserver.com/t/panic-with-ssl-fcgi/1168/10?u=22749

	$ cd /tmp
	$ wget https://www.saddi.com/software/flup/dist/flup-1.0.2.tar.gz
	$ tar -xzvf flup-1.0.2.tar.gz
	$ cd flup-1.0.2
	$

[2016-12-22 21:55] mholt commented on #1306
Aha - while I'm only speculating, I bet this is it (see third bug, about word alignment): https://golang.org/pkg/sync/atomic/#pkg-note-BUG

See https://sourcegraph.com/github.com/mholt/caddy@c972ea39c8b40c28506958bb43d31d2ed357e9f2/-/blob/caddyhttp/fastcgi/dialer.go#L71-72 - I'm guessing [this field](https://sourcegraph.com/github.com/mholt/caddy@c972ea39c8b40c28506958bb43d31d2ed357e9f2/-/blob/cad

[2016-12-22 21:57] tewe commented on #1306
Indeed looks like an alignment issue. See https://github.com/golang/go/issues/599

[2016-12-22 21:59] mholt commented on #1306
Actually I'll just fix it real quick. @tewe can you build from source to test it? I'm pushing a fix right now.

[2016-12-22 22:02] #1306 closed

[2016-12-22 22:04] elcore commented on #1306
@mholt 👍 it´s working

[2016-12-22 22:05] mholt commented on #1306
@elcore On ARM?

[2016-12-22 22:05] elcore commented on #1306
@elcore On ARM?

Yes 😄

[2016-12-22 22:09] mholt commented on #1306
Thanks for checking.

[2016-12-22 22:24] tewe commented on #1306
Works for me on Raspberry Pi 1 (ARMv6)

BTW cross-compiling was amazingly simple

[2016-12-22 22:25] mholt commented on #1306
Yeah, Go is awesome like that 😎  glad it works for you. Thanks!

[2016-12-23 15:49] mholt commented on #1305
Unfortunately, I cannot reproduce this behavior with what you've given here. I just tried your configuration with my own domain and it works just fine.

[2016-12-23 15:50] mholt commented on #1294
@meyskens Try it now with the latest release. Still having trouble?

[2016-12-23 16:02] mholt commented on #1296
@tgmedia-nz  It's a miracle. I am able to reproduce this. Working on a fix.

[2016-12-23 16:40] #1296 closed

[2016-12-23 16:40] mholt commented on #1296
The fix will go out in the next release, to get it now just build from source. :) Thanks!

[2016-12-23 19:22] mholt commented on #1292
Looks like we may have a lead on this, thanks to @lhecker.

[2016-12-23 19:24] mholt commented on #1295
Has it happened since you tried it without systemd? Caddy doesn't take itself down...

[2016-12-23 19:43] mholt commented on #1298
Hmm, why would someone ever want the slashes to not be merged?

[2016-12-24 07:55] Skilgarriff opened #1307 "Serving .gz when .br is smaller and both are available"
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)

### 1. What version of Caddy are you running (`caddy -version`)?
0.9.4

### 2. What

[2016-12-24 10:48] wendigo commented on #1307
Brotli encoding is always prefered over gzip. If .gz and .br files exist - br should be delivered to the client (if Accept-Encoding: br is present in the headers).

Please attach full communication between client and Caddy - request and response headers + listing of relevant files in the root fs

[2016-12-24 14:03] lhecker commented on #1292
Alright so the issue is basically that caddy "monkey patches" a `net.Conn`'s `Read()` method to capture the HTTP response headers from the backend and replays those to the client.
The response capturing is done [here](https://github.com/mholt/caddy/blob/a3aa414ff35294f539ca3d900f20dc66ead627c5/caddyhttp/proxy/reverseproxy.go#L317-L321), and the hijacker is returned [here](https://github.com/mholt/

[2016-12-24 17:48] mholt commented on #1292
Great finds @lhecker. I agree, look into the former way first; I think the second way may introduce unintended behavior as I mentioned on your PR a few minutes ago, about duplicate connections.

Feel free to open as many PRs as needed -- we're happy to review them with you!

[2016-12-24 19:43] Skilgarriff commented on #1307
My mistake - Just realized that I didn't properly update my docker image that was running my website while all others were updated. Sorry about that! Appreciate the help!

[2016-12-24 19:43] #1307 closed

[2016-12-24 19:45] wendigo commented on #1307
Thx @Skilgarriff :)

[2016-12-24 20:05] #1305 closed

[2016-12-25 01:15] ibnesayeed commented on #1298
I was seriously thinking of using Caddy for all of my projects going forward, but this forced path cleanup alone will be a show stopper for me. The whole web archiving community, including big players like [Internet Archive](http://archive.org/), use plain vanilla query URLs (without any URL encoding) for the sake of convenience (as the primary lookup key for web archives is URI itself). Here is a

[2016-12-25 08:28] mholt commented on #1298
@ibnesayeed Hmm, interesting use case.

When someone has some time, we should find out where the slash collapsing behavior is coming from -- maybe verify that it is in path.Clean() -- and then see if we can work around that somehow.

Does nginx and others manipulate the URL at all by collapsing slashes? I'm talking about in the general case, not necessarily when proxying or anything specific (sinc

[2016-12-25 10:18] k4ml commented on #29
Just set up my golang environment and I'm thinking of looking at this as my first go lesson ;)

Do you think the websocket extension can be a starting point to implement this ?

[2016-12-25 14:35] ibnesayeed commented on #1298
Yes, it is indeed happening in [path.Clean()](https://golang.org/pkg/path/#Clean):

1. Replace multiple slashes with a single slash.
2. Eliminate each . path name element (the current directory).
3. Eliminate each inner .. path name element (the parent directory)
   along with the non-.. element that precedes it.
4. Eliminate .. elements that begin a rooted path:
   that is, replace "/.." by "/" a

[2016-12-25 14:48] ibnesayeed commented on #1298
I would further note that Caddy also uses [filepath.Clean](https://golang.org/pkg/path/filepath/#Clean) method. `Clean` method defined in both `path` and `filepath` packages are very similar though.

[2016-12-25 15:53] ibnesayeed commented on #1298
I have put together all the necessary bits that is used in the path cleaning [on the playground](https://play.golang.org/p/WONHzDV3Ko) to test and make changes.

[2016-12-25 16:13] ibnesayeed commented on #1298
Going forward, here are three possible approaches that I can think of:

1. provide a config option to disable path cleaning completely
2. implement a duplicate path cleaning method locally and conditionally (using a config option) ignore the slash collapsing
3. implement a proxy path cleaning method and whitelist certain situations by replacing occurrences of `://` in the path to something like `P

[2016-12-25 17:19] mholt commented on #29
Yes, you could use that as a template I would say. Good luck! (And merry Christmas!)

[2016-12-25 17:55] meyskens commented on #1294
@mholt am unable to test as i have another bug that causes the site not to load. Will look if it has been reported before and if not place a new issue.

[2016-12-25 18:01] meyskens opened #1308 "Memory error"
### 1. What version of Caddy are you running (`caddy -version`)?
0.9.4 (armhf)

### 2. What are you trying to do?
accessing my site

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
systemd

### 5. What did you expect to see?
site loading

### 6. What did you see instead (give full error messages and/or log)?

[2016-12-25 18:26] mholt commented on #1308
Hey @meyskens, Merry Christmas.

This was already reported and fixed in #1306. Also see https://twitter.com/caddyserver/status/812057852558745600. Try building from source.

[2016-12-25 18:26] #1308 closed

[2016-12-26 05:26] mholt commented on #1298
Merry Christmas @ibnesayeed :) Thanks for your feedback on this.

I generally try to avoid hard-coding edge cases like that into Caddy; perhaps we can write a wrapper function over path.Clean() that can replace `//` with some random string, do the path.Clean(), then replace the random strings again. This way, for any case where we don't want slash collapsing, we can call the wrapper function inste

[2016-12-26 06:27] ibnesayeed commented on #1298
Thanks @mholt and wishing you a very happy Xmas and new year.

This exactly what I meant by the "proxy method" in the third point. Further, in the post-note I mentioned that a random string can be used instead of a fixed one for masking double slashes.

I have only seen legitimate double slashes being practically used in paths when a URL is part of the path and that too only near the protocol part

[2016-12-26 15:29] lhecker commented on #1292
@sanderhahn @mholt I believe I fixed this particular issue today and I'll submit a PR in the coming days after I fixed #1300 and end-to-end tested it on one of our staging servers.

I basically simply took [this code](https://github.com/golang/go/blob/230a376b5a67f0e9341e1fa47e670ff762213c83/src/net/http/transport.go#L1017-L1052) (which is what `net/http` does if no `DialTLS` method is given) and

[2016-12-26 18:24] pbuzdin commented on #402
`2016/12/26 21:22:09 Caddyfile:22 - Parse error: Wrong argument count or unexpected line ending after 'status'`
via [https://github.com/mholt/caddy/issues/402#issuecomment-172418928](https://github.com/mholt/caddy/issues/402#issuecomment-172418928)

[2016-12-26 19:17] ibnesayeed commented on #1298
I wrote a rough code to illustrate how can it be done. Please find [it in action with various test cases on the Go Playground](https://play.golang.org/p/zPOvQBgLde).

[code]

Basically replacing all the occurrences of `path.Clean(p)` in the code with `cleanMaskedPath(p, "://")` will do the trick. If more than one masks are to be supported, the code needs to be adjusted a bit, but the idea will be

[2016-12-26 20:37] ibnesayeed commented on #1298
Here is a more generic format of variable length masking:

[code]

[2016-12-26 20:44] ibnesayeed commented on #1298
I am not very familiar with the Caddy code base. If someone can tell me where this should logically go then I can make a PR. Also, if it is desired to make the masking configurable, then we will need another intermediate function that calls `cleanMaskedPath()` with appropriate masks rather than directly adding masks everywhere in the code.

[2016-12-27 22:17] coderobe opened #1310 "High RAM usage when proxying WebDAV (& possibly normal traffic as well)"
### 1. What version of Caddy are you running (`caddy -version`)?
`Caddy 0.9.4`

### 2. What are you trying to do?
Proxy an entire (sub)domain through to another server (which mostly handles WebDAV)

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
I'm using systemd to start Caddy & the command the systemd uni

[2016-12-27 22:19] coderobe commented on #1310
Forum thread: https://forum.caddyserver.com/t/caddy-uses-lots-of-ram/1187

[2016-12-27 22:51] mholt commented on #1299
Thanks for the heads up @nhooyr  --- can you describe how that line resolves the TODO? I'm not seeing it at a glance at least... :confused:

[2016-12-27 23:10] nhooyr commented on #1299
Ah, I misread, sorry!

[2016-12-27 23:10] #1299 closed

[2016-12-28 00:46] mholt commented on #1298
@ibnesayeed

I'm suggesting that instead of masking `://` in the path, we mask only `//` -- why limit it to just `://`, if we now assume that collapsing extra path separators is an error? But I can see in your examples you do both. That's fine, but we need to decide what the default behavior will be.

Meanwhile, the sample implementations you've posted look pretty good. You've raised some really i

[2016-12-28 00:47] sanderhahn commented on #1292
Hello @lhecker and @mholt thank you for your efforts :) Have tried to rebuild Caddy at 9f9ad21 and added an extra init with a log line to ensure i am indeed running your modified version of `reverseproxy.go`. However on the vps the websocket still seems to result in an error if i try to connect on https://proxy.codevelop.nl/. My go version is go1.7.3 linux/amd64 and not the 1.8 beta2 version, howe

[2016-12-28 00:47] mholt commented on #402
@pbuzdin You now have to use the [status](https://caddyserver.com/docs/status) directive.

[2016-12-28 01:02] lhecker commented on #1292
Thanks for testing my PR! Really appreciate that. It should work fine on 1.7.3 though…

@mholt I'll try to replicate @sanderhahn's issues with the using his above Caddyfile early tomorrow (CET) and post my findings here (or in the PR if it turns out to be an issue with my code).

[2016-12-28 01:27] mholt opened #1311 "Implement configurable ReadTimeout, WriteTimeout, and IdleTimeout"
Some recent events have reminded me that we should finally implement [this TODO](https://github.com/mholt/caddy/blob/d5fe4928f284b5d10c0bcebaaa2b27d641e058c9/caddyhttp/httpserver/server.go#L46-L49) in Caddy: a way to set WriteTimeout, ReadTimeout, and (coming in Go 1.8) IdleTimeout.

Required reading:

- https://blog.gopheracademy.com/advent-2016/exposing-go-on-the-internet/
- https://blog.cloudfl

[2016-12-28 01:47] ibnesayeed commented on #1298
I don't see an opportunity of benchmarking here, because so far there is only one implementation. The first code that I wrote was nothing, but a proof of concept to illustrate what I meant (and perhaps you to meant the same thing). Later I just generalized that so that variable number of masks can be applied (zero or more). I tried to put some thoughts already to optimize the code. For example, I

[2016-12-28 02:08] ibnesayeed commented on #1298
My vote for default masking would go for the protocol masking (`://`) only. Because collapsing multiple slashes in paths is absolutely fine and it is part of the canonicalization that does not change the essence of the path. Paths `//foo//bar`, `/foo/////bar`, `/foo/./bar`, `///foo/././bar` and `//foo/.//./bar` all mean the same thing, `/foo/bar`. However, due to the commonly misused style of pass

[2016-12-28 03:14] ibnesayeed commented on #1298
If it is supposed to be configurable then we can have named cases of path masking that can then be translated internally how it is actually converted to an argument.

[code]

This is a pseudo code that illustrates how we can have an intermediate function `cleanPath()` that can read the config and set the masking accordingly, then calls the `cleanMaskedPath()` with those masks.

However, if one con

[2016-12-28 06:48] mholt commented on #1298
I didn't mean to criticize your implementation -- I think it's pretty good. As this is a critical path in Caddy I want to ensure it's as fast as possible (within reason).

Yes, I was going to suggest this same thing, or at least, something like "__caddy_{RAND_STR}__" as a mask.

Want to submit a pull request? It'd be good to start getting the code under review. :+1:

Until it doesn't, to somebody'

[2016-12-28 08:44] cmehay commented on #528
In fact, we need privilege de-escalation to protect TLS certificates. Caddy cannot read TLS certificate owned by root, and the rights on certificate must be changed to be readable by another user than root. It's a security issue.

[2016-12-28 08:50] tobya commented on #1185
Now that I am running 0.9.4 - this does need to be fixed.  We should ideally replace {path} with {>Caddy-Rewrite-Original-URI} and create a new placeholder {rewrite_path} to show what the url was rewritten to.  I will look at this when i get a chance.  I might use the code that @elcore  provided as a starting point.

[2016-12-28 14:18] mholt commented on #528
@cmehay

Why are your certificates only readable by root? You can still use users/groups to wall off access to the certificates from others. Add your web server to some group that's allowed to read the certificates maybe?

[2016-12-28 14:29] cmehay commented on #528
It's a common security practice, if you have any security issue in your web server or in you web app, if the cert is readable by the same user that run the web server, it will be readable by the attacker.

[2016-12-28 14:47] mholt commented on #528
@cmehay I assume when you say "cert" here you mean private key. Caddy loads these into memory, which, even if the keys are read-protected, are still available to an attacker who gains privileges.

Also, keys are not necessarily loaded at server startup. They may be loaded later on.

[2016-12-28 15:04] cmehay commented on #528
Yes, I'm talking about the private key.

Reading memory of another process is not the same deal that reading file on file system afaik.

This is the behavior of Apache and nginx, they read cert and private key as root and fork to another process with another uid and gid.

[2016-12-28 15:19] mholt commented on #528
But they read the key before forking; Caddy might not know it needs the key until after the fork.

[2016-12-28 15:57] cmehay commented on #528
But the keys are specified into Caddyfile right ? For sure this won't apply for generated cert through let's encrypt, but for the certificates in Cadyfile, caddy could read them before forking.

[2016-12-28 16:00] mholt commented on #528
Not usually anymore, no.

This is not the majority use case. Besides, what security problem are we solving if the Let's Encrypt certs remain unprotected?

[2016-12-28 17:15] ibnesayeed commented on #1298
On the contrary, I think it's good to criticize implementations for the sake of improvements.

Oh, I thought you were talking about some comparative benchmarking. I will try to grab some data from some logs to see how much extra overhead it causes. Although, I think there will be many factors that will affect timings, such as how many instances in in the test set would require masking or what's th

[2016-12-28 17:31] Mozeph opened #1312 "Caddy Ignores Header directive in Error messages"
### 1. What version of Caddy are you running (`caddy -version`)?
0.9.3

### 2. What are you trying to do?
Remove the Server header from all server responses (including error messages)

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
/usr/local/bin/caddy -log=/var/log/caddy.log -agree=true -conf=/etc/caddy/Ca

[2016-12-28 19:48] ibnesayeed commented on #1298
Following are the places where `path.Clean()` is called:

* [mime.go#L24](https://github.com/mholt/caddy/blob/bedad34b25cfcc67620fa5b854fed020547efbdf/caddyhttp/mime/mime.go#L24)
* [to.go#L24](https://github.com/mholt/caddy/blob/bedad34b25cfcc67620fa5b854fed020547efbdf/caddyhttp/rewrite/to.go#L24)
* [fastcgi.go#L341](https://github.com/mholt/caddy/blob/e363491a28408720953aed873ce9fdcf9c0ee680/cadd

[2016-12-28 23:34] ibnesayeed commented on #1298
So, I created a package with test cases and benchmarks. My Go skills are limited, so I might have done things in not very elegant way.

[code]

[code]

[code]

Currently the tests and benchmarks were run on three different input paths, which in no way is the representative of a real web server hits. However, it gives the generic idea of what overhead this masking would cause. To evaluate various f

[2016-12-29 08:38] lvhuat opened #1313 "Quick start but failed."
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)

### 1. What version of Caddy are you running (`caddy -version`)?
`Caddy 0.9.4`

###

[2016-12-29 08:42] #1313 closed

[2016-12-29 16:58] lhecker commented on #1310
@coderobe I'm not familiar with WebDAV but I guess those 50GB of data you tried to proxy where within a single request right?
Well I believe I have a fix for this and will soon open a PR. Using my patch I was able to proxy a 100GB request, which took about 40s, while the memory usage stayed at 5MB (not a typo). 🙂

[2016-12-29 17:03] elcore commented on #1310
@lhecker this sounds amazing 👍

[2016-12-29 17:31] lhecker commented on #798
We should btw make sure that as soon as we add CHACHA20 with Go 1.8, we also add proper, sane defaults for `cfg.CurvePreferences` (it should be `[tls.X25519, tls.CurveP256]`) and possibly reorder the `defaultCiphers` (some RSA ciphers are ordered before their respective ECDSA ones).

[2016-12-29 18:23] mholt commented on #798
@lhecker Take a look at https://github.com/elcore/caddy/commit/eea4e0eeec7497482ee9a7498ca9bc08957a7cf4 - we might do something like this (but I haven't looked in detail yet, it'll probably change a little bit).

Really? Which ones? I see ECDSA first for otherwise-equivalent cipher suites.

@elcore How are we doing with curve preferences? They're only used in the config.go and setup.go files of th

[2016-12-29 19:42] lhecker commented on #798
@mholt @elcore's fork seems to be interesting, but unfortunately I don't quite understand the purpose of it. In my understanding during the TLS handshake the client sends a list of supported ciphers and the server may choose one. And what his fork does is to basically view CHACHA20 as equally good as the best server provided cipher right?
So in effect it's the same as if CHACHA20 would simply be t

[2016-12-29 19:44] mholt commented on #798
@lhecker

That's a map, the order there is irrelevant. The ordering in the defaultCiphers list below it is much more important.

As for the rest of @elcore's changes i have yet to look at them -- will do when I'm done with work for the day.

[2016-12-29 19:48] lhecker commented on #798
@mholt Ah yes sorry. Let's note this as a coding style issue to save me from the disgrace. 😂
Is the [ordering of the `defaultCiphers` list](https://github.com/mholt/caddy/blob/d5fe4928f284b5d10c0bcebaaa2b27d641e058c9/caddytls/config.go#L430-L433) okay though?

[2016-12-29 20:04] mholt commented on #798
Oh, right, those could probably be switched now.

[2016-12-29 20:15] elcore commented on #798
@mholt

Yes :) (https://golang.org/src/crypto/tls/common.go)

`> Go 1.8`
[code]

`< Go 1.8`

[code]

[2016-12-29 20:24] elcore commented on #798
@lhecker

So in effect it's the same as if CHACHA20 would simply be the topmost preferred cipher: If the client supports it it's chosen and if not it's not. Or is there otherwise (without the fork's optimization) an additional roundtrip involved?

No!

"A server with AES-NI can serve more connections at a decreased load with AES-NI ciphers than with CHACHA20*. So suites with AES should go first, u

[2016-12-30 17:03] elcore commented on #1312
Hello,

it is working on Caddy 0.9.4, please update!

[2016-12-30 17:05] elcore commented on #1294
Hello @meyskens,

any updates? Does it work now (with master)?

[2016-12-30 17:05] coderobe commented on #1310
@lhecker Nice work! However i'm not sure how the davfs driver on linux bundles requests, if at all - and i think it does one request per file - my issue appeared with lots of files from 1 to 50 MB in size each

[2016-12-30 17:09] elcore commented on #1295
Hello @kokizzu,

any updates?

[2016-12-30 17:40] mholt commented on #1312
Actually I wonder if this wasn't fixed, since this Caddyfile apparently doesn't use the `errors` directive.

[2016-12-30 17:51] elcore commented on #1312
@mholt You are right, he does not use the `errors ` directive.

[code]

[code]

[2016-12-30 17:56] mholt commented on #1312
Oh, Interesting, it seems to be working there (with an identical Caddyfile as above, I assume). So maybe it was fixed in 0.9.4. @Mozeph could you upgrade and try again? Be sure to use cURL so any browser cache doesn't get in the way. Feel free to re-open if still an issue.

[2016-12-30 17:56] #1312 closed

[2016-12-30 18:01] elcore commented on #1312
@mholt 100 Points for you 😄

[2016-12-30 18:56] mholt opened #1315 "Improve distro-specific init scripts"
Someone has reached out to me about the sensibility of the default (community-contributed, unofficial) init scripts that ship with Caddy.

I am putting the following quality guidelines in place for all distro-specific init scripts that get put into this repo, roughly:

- Don't run as root.
- Create a no-shell default user to run it.
- Raise file descriptor limits.
- Don't restart endlessly; if Cad

[2016-12-30 19:04] cmehay commented on #528
Thanks for your reply, it's very instructive.

[2016-12-30 21:29] Mozeph commented on #1312
@mholt, The new version fixes the bug I reported, thank you!

There is a related scenario which can be used to divulge the Server header. If the Caddyfile does not have a catch-all configuration like `:80` then requesting a non-existant host string results in the server header being divulged.

    HEAD / HTTP/1.1
    User-Agent: curl/7.35.0
    Host: notinyourcaddyfile:80
    Accept: */*
    Conne

[2016-12-30 23:22] wmark commented on #1315
Is this the folder for the *Let's Encrypt* certificates?

Other than that I could revise service files for *systemd*, though it'll be some reverting of past commits. The current one will not work without modifications anyway.

[2016-12-30 23:42] wmark commented on #1315
I'd suggest adding this to the *quality guidelines*:

 * Don't require `sudo setcap 'cap_net_bind_service=…` for the *caddy* executable.

Seriously, above needs to be discouraged.

 * If the *init* daemon does not allow to start a process under a different user, utilize `chpst`:
   `chpst -u www-data:www-data -- /usr/bin/caddy`
 * If the *init* daemon has no options to set *capabilities* (especial

[2016-12-31 00:06] mholt commented on #1312
That doesn't really surprise (or worry) me, as the catch-all configuration is only used if no other more specific site matches the request. It makes sense that the Server header remains, as there is no site configuration to disable it in that case.

[2016-12-31 00:07] mholt commented on #1315
Yes, I should have clarified, this refers to the $CADDYPATH (or $HOME/.caddy) folder.

[2016-12-31 03:20] Mozeph commented on #1312
Oh, that's great, I didn't know specificity played a part. When I had rules for both `:80` and `example.com:80` the web server didn't start, so I figured it wasn't a supported configuration. But if what you describe is the design, then that's exactly how I'd expect things to work.

Keep up the great work!

[2016-12-31 06:24] mholt commented on #1298
That's pretty good @ibnesayeed! Nice work, especially since you say you are "limited" in your Go skills.

Since the _vast_ majority of URLs won't have any replacements at all, I suspect there's practically no performance impact, and those that are impacted have only a minimal effect.

Would you make a pull request with using this new function in server.go? I see that path.Clean() is called in seve

[2016-12-31 08:38] jcgruenhage commented on #1310
The 2GB for a 50GB file transfer are cute, for me, caddy goes up 14GB RAM usage and crashes, after 8.6GB of a 11.2GB file. Not really what I want :D

[2016-12-31 15:28] mholt commented on #1310
@jcgruenhage @coderobe Do you have the ability to build from source? Would love it if you could try the PR linked above and see if it resolves the issue.

[2016-12-31 20:01] deanrock commented on #1305
Thanks for checking it out. I tried to reproduce the issue on another server, but couldn't get TLS-SNI-01 to fail. I guess it's a problem with the configuration of the first server, but oddly enough, SSL works without a problem, after the certs were successfully requested.

[2016-12-31 20:01] ibnesayeed commented on #1298
PR #1317 is ready for review. I have excluded benchmarking functions, but can be added if you want to keep them in the repo. I have added necessary inline comments in the code to make it easier to maintain the code in future.

[2016-12-31 23:54] scalp42 commented on #852
Links that could help:

- http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/enable-proxy-protocol.html
- http://www.haproxy.org/download/1.8/doc/proxy-protocol.txt

[2017-01-01 00:26] mholt commented on #852
@scalp42 It's not on _my_ TODO list, but somebody is welcome to implement it, as long as it overcomes the technical/perf issues discussed above.

[2017-01-01 02:51] #1292 closed

[2017-01-01 03:29] #1298 closed

[2017-01-01 03:38] mholt commented on #1294
Probably busy with the holidays. :) I'll close this for now, since I'm pretty sure it's been fixed, but if you can confirm it is still there, it might be another bug in the upstream QUIC library, try filing an issue there.

[2017-01-01 03:38] #1294 closed

[2017-01-01 03:39] mholt commented on #1303
Thanks for your input @estark37! Happy new year.

I'm going to hold out on any changes in Caddy for now, until Go 1.8 lands. The crypto/tls package is getting a few boosts that could be useful in handling this issue more effectively.

[2017-01-01 03:48] mholt commented on #1281
Hmm, I have a hunch, but... can you _downgrade_ to 0.9.1 just to test this and see if it's still an issue in that version?

[2017-01-01 03:49] mholt commented on #1277
Might be a duplicate of #1183 -- closing; please try upgrading to 0.9.4. Thanks!

[2017-01-01 03:49] #1277 closed

[2017-01-01 10:15] magikstm opened #1318 "Enhance basicauth functionality"
### 1. What version of Caddy are you running (`caddy -version`)?
0.9.4

### 2. What are you trying to do?
Testing hidden file vulnerability.

### 3. What is your entire Caddyfile?
None

### 4. How did you run Caddy (give the full command and describe the execution environment)?
Centos 7 (x64)

### 5. What did you expect to see?
I tried viewing files named as these listed below which are hidden:
.h

[2017-01-01 10:19] magikstm commented on #1318
May be related to #458.

[2017-01-01 13:21] gyulavoros commented on #1281
It is the same with 0.9.1.

[2017-01-01 15:15] magikstm commented on #1318
I just tested and if Caddy is installed in your root directory or your root directory contains your ssh keys they are viewable online by default.

Such as if they're installed in directories such as these:
.ssh/authorized_keys

That behavior may also be a security risk.

[2017-01-01 15:51] mholt commented on #1318
Caddy will serve static files in the root of your site, which defaults to the cwd. If you don't want Caddy to read them, don't put them in the website folder, or change the file permissions so that the Caddy user can't read them. This is certainly not a vulnerability in Caddy. Thanks for looking into it!

[2017-01-01 16:04] mholt commented on #525
Well, since a brotli reader has been implemented in pure Go, Caddy now serves up pre-compressed brotli (and gzip) files if they are on disk with a .br extension. This went out with 0.9.4. I still don't know of a brotli writer in pure Go and I'm not sure if we'd want that anyway since, AFAIK, [brotli compresses](https://www.opencpu.org/posts/brotli-benchmarks/) way [slower than gzip](https://hacks.

[2017-01-01 16:04] #525 closed

[2017-01-01 16:07] mholt commented on #735
It seems this doesn't affect everyone -- if this is affecting you right now, a decent workaround would be to pre-compress your static files and put them in your site with .gz extensions; Caddy will serve them automatically (no gzip directive required; placing the files there is enough).

[2017-01-01 16:24] magikstm commented on #1318
I didn't understand at first that caddyfile commands replaces .htaccess behavior.

I've read more from the docs and understand it being as it is with any files except .htpasswd files.

I read this: https://caddyserver.com/docs/basicauth

There is no mention that .htpasswd files are viewable by default in this doc.

What is the recommended way to protect these file?

Is it using rewrite? (https://c

[2017-01-01 17:07] mholt commented on #1318
Right, Caddy isn't Apache.

I want to rip out that functionality; I hate .htpasswd...

Why should it? Don't put .htpasswd in your site folder if you don't want it served.

You could use rewrite, too, I guess. Whatever floats your boat. :)

[2017-01-01 17:16] magikstm commented on #1318
Thanks a lot for the answers. I really like Caddy.

I have a few sites I'm considering transferring and some of them unfortunately use .htpasswd as well as cgi.

.htpasswd, cgi and fail2ban have proven reasonably stable and secure for my budget over the years.

The fact that I can compile, understand the code a bit (I'm not a golang developer, but want to learn it this year) and that the docs are

[2017-01-01 17:18] mholt commented on #1318
Thanks. I'm trying to come up with an easier replacement for .htpasswd that can integrate directly with Caddy's basic auth functionality. If you have ideas/suggestions I'd be happy to hear them. :+1:

[2017-01-01 17:59] magikstm commented on #1318
Strengths of basicauth's are:
- Ease of use
- Browser support
- Server support

Cons:
- Questionable security (vulnerable to bruteforce attacks and the .htpasswd file is a risk too)
- Lack of templating
- Speed issue with bigger files (non-issue for most sites)
- No group feature
- No real expiration feature (beside closing the browser)
- Logout feature is hard to implement on all browsers
- Passw

[2017-01-01 19:46] jcgruenhage commented on #1310
`go get github.com/lhecker/caddy/caddy` should be enough, right? Because with that, I still get my 14GB RAM usage..

[2017-01-01 19:50] mholt commented on #1310
You might need -u to update it if you already had it downloaded. Make sure
to check out the branch with the PR.

On Sun, Jan 1, 2017, 12:46 PM Jan Christian Grünhage <
notifications@github.com> wrote:

[2017-01-01 20:52] mholt commented on #1318
OAuth would be a separate middleware entirely, and indeed there has been some work to integrate OAuth into Caddy as a plugin (/cc @captncraig I think was doing it).

Could you elaborate on these points? I'm not clear on them:

- Templating
- Speed issue with bigger files
- Group feature
- Why password change is hard to implement
- Potential use of multiple files

Basicauth could probably be improv

[2017-01-01 21:51] magikstm commented on #1318
- Built-in rate limiting, e.g. a number of failed logins and we block the IP for some time.
  - That would be good. It would eliminate the need for an extra layer (and dependency) such as fail2ban that isn't that easy to configure.
- Configurable "session" expiration
  - Would be good too. Allowing a "logout" possibility that works accross all browser may be implemented alongside that feature. It'

[2017-01-01 22:52] jcgruenhage commented on #1310
after checking out the branch, `go get` does not work anymore (with a completely empty gopath except for that one repo):
[code]

As soon as I switch back to master, it works (go get, not getting the binary from the source code of the PR) again. Am I doing something wrong? Could you just send me a linux x64 binary?

[2017-01-01 22:54] mholt commented on #1310
After you check out the branch, you should not need to run go get - once you've run `go get -u` on master, check out the `unbuffered_proxy` branch with git. Then `go run main.go` to run Caddy. If that's still having trouble, I can send you a binary.

[2017-01-01 23:06] jcgruenhage commented on #1310
ahhh my bad I was on dynamic-proxy and not unbuffered_proxy. No wonder it did not work :D

[2017-01-01 23:11] mholt commented on #1310
I don't know about Docker but maybe setting the env var CGO_ENABLED=0 and re-compiling will help? 🤷‍♂️ Anyway, it sounds like it has helped though?

[2017-01-01 23:16] jcgruenhage commented on #1310
Yes, it helped :)
The docker container told me it could not find the binary after putting it in /usr/bin/caddy (thats where the old binary was too). I could just switch to another docker image, that builds caddy from source, that would fix that problem completely for me ^^

[2017-01-02 10:52] itskenny0 opened #1319 "MIPS build"
Hi there,

I'd like to use Caddy on my D-Link DIR-860L router running OpenWRT. The CPU in this model is a ralink/MediaTek MIPS. Any chance a MIPS build could be offered?

Best,
Kenny

[2017-01-02 10:58] oliverpool opened #1320 "Customize the working directory of the startup command"
It could be nice if the `startup` (resp. `shutdown`) commands could provide a way to customize the working directory for the command.

Example:
[code]
Should output the content of `/` (and not the content of the working directory of the caddy executable - which is the current behavior)

[2017-01-02 12:05] jcgruenhage commented on #1310
When I add `ENV CGO_ENABLED 0` to my Dockerfile, caddy doesn't seem to compile.. It does not print out any errors, but there is no `$GOPATH/bin` folder after running `go get`.. without the environment variable, I get errors about cgo not being there.. any idea?

[2017-01-02 16:21] mholt commented on #1310
Not sure -- but you'd want that env variable set when you _compile_ Caddy, not when you run it.

[2017-01-02 16:23] mholt commented on #1319
Hey Kenny! Yes, the new site's download page will definitely offer MIPS builds. :+1: It's already working for me locally, just give me a few weeks to get the design and content finalized on all the docs pages.

Since this is effectively already done, I'll close the issue now. STay tuned!

[2017-01-02 16:23] #1319 closed

[2017-01-02 22:22] tobya commented on #1320
What would this be used for?  I'm not sure why you would want to output a list of files on startup?  Could you achieve it with a script?

[2017-01-02 22:34] oliverpool commented on #1320
My example is a customized [tus](https://tus.io/) server which stores the files to a relative location.

I get around the missing working directory by using a location relative to the executable.
Such behavior could probably also be implemented via a script.

So after thinking a bit, I do not see this feature as essential (I got around without it), but more as a "nice-to-have".
Maybe it could be a

[2017-01-03 00:53] mholt commented on #1320
Well, the workaround is simple enough. You could probably also give an absolute path maybe? For now, I'd rather avoid adding this complexity unless it's really needed. Thanks for the request though!

[2017-01-03 00:53] #1320 closed

[2017-01-03 06:26] mastercactapus commented on #852
I may be able to take a shot at this in the coming week or two.

@mholt do you know that it would cause an issue for the wrapped listener to return a wrapped Conn struct? If not, the RemoteAddr method could just return the source address instead of the underlying address.

Something like this:

[code]

Thus keeping it separate from any middleware/header stuff if possible -- I think this could actu

[2017-01-03 06:41] mholt commented on #852
@mastercactapus I haven't looked into that possibility much, and I haven't looked at the base server code very much in a while, either. You can definitely try that approach, I like cleanness. :grin: I'll recommend that you take care to implement any interfaces that the type you're wrapping implements, so that we don't break anything...

[2017-01-03 07:19] mholt commented on #1157
I might have a report of this happening as well with another user. Maybe this possible race condition merits more observation/investigation.

[2017-01-03 09:31] jcgruenhage opened #1321 "Get certificates from certbot folder, if available."
I use certbot to get my certificates for other services (ejabberd, cockpit, mailserver and some more), where I use domains that I also use in caddy. I could manually specify path of key and cert, but for those 10 or so subdomains, that would be a lot of work (and it would make my caddy file rather bloated), and I can't imagine being the only one with a setup like that.
If automatic TLS could just

[2017-01-03 10:33] jcgruenhage commented on #1310
installing `build-base` was enough for caddy to successfully build in the container, if go needs that, I wonder why it is not a dependency..

[2017-01-03 11:00] jcgruenhage commented on #1310
Just switched to the new container, I can now confirm, that caddy uses just about 9.4 MB of RAM during the transfer. Thanks for the PR @lhecker !

[2017-01-03 13:34] txthinking opened #1322 "Proxy / only, exclude /ANY"
The nginx config is
[code]
@abiosoft

Thanks

[2017-01-03 14:51] mholt commented on #1321
If you use certbot, you'll have to reload Caddy when the certificates are renewed, so you might as well just specify the certs in your Caddyfile manually too. (Bloat? It's one line per site. Compare that to your apache or nginx configs.)

It's not as easy as just "looking" in a folder. It needs to know when the files change, and the files need to have the same format and naming conventions.

Sorry

[2017-01-03 14:51] #1321 closed

[2017-01-03 15:24] miekg commented on #1157
Private conversations with other Gophers hinted towards Go 1.7 http/tls doing the wrong thing. If you follow the code at some point `*tls.Config` turns `nil` leading to the observed behavior. Doing the key updates like we discussed, might trigger this.

Note: I've not been able to reproduce this in a test. Also the binary that runs `miek.nl` (among other things) is rock stable (but I've disabled t

[2017-01-03 15:49] oliverpool opened #1324 "Basicauth and proxy not working"
### 1. What version of Caddy are you running (`caddy -version`)?
Caddy 0.9.4 (on windows 10)

### 2. What are you trying to do?
Protect a reverse proxy via basicauth

### 3. What is your entire Caddyfile?
[code]

### 4. How did you run Caddy (give the full command and describe the execution environment)?
`caddy.exe` in the command prompt

### 5. What did you expect to see?
[code]
The first command

[2017-01-03 15:51] mholt commented on #1324
Caddy doesn't write a JSON response when basic auth fails... it looks like Caddy's basic auth is succeeding but your backend is seeing it as failed and writing some sort of JSON response.

[2017-01-03 15:53] oliverpool commented on #1324
Thanks for your very quick reply!
Can I prevent caddy from forwarding the basic auth info to the backend?

[2017-01-03 15:55] mholt commented on #1324
Try this in your proxy directive:

[code]

We changed proxy recently so that it _will_ forward the Authorization header, but in the cases where Caddy's basicauth successfully completes the authorization, perhaps that header should be removed.

In any case, what I showed you should work.

[2017-01-03 15:59] elcore commented on #1322
Hello @txthinking,

this is not a bug nor a feature request! Please use our forum at https://forum.caddyserver.com/

[2017-01-03 16:02] mholt commented on #1157
@miekg I'd quite like to learn more about this -- what part of the std lib are you referring to exactly? I can't find a reference to any line of code that, after starting, would set the *tls.Config to nil. Could you clue me in? I want to get to the bottom of this without disabling key rotation -- find a proper fix. :) Glad to hear that, at least by disabling it, your production setup is rock solid

[2017-01-03 16:08] elcore commented on #1322
Hello @txthinking,

this is not a bug, nor a feature request. Please use our forum at https://forum.caddyserver.com/ 😄

[2017-01-03 16:53] oliverpool commented on #1324
Great, it works!

Thank you very much for this quick and efficient support :1st_place_medal:

[2017-01-03 16:53] #1324 closed

[2017-01-03 22:11] miekg commented on #1157
[ Quoting <notifications@github.com> in "Re: [mholt/caddy] ssl certs failure..." ]

No there is no root cause yet, but the only way this can trigger (as I can see)
is if `*tls.Config` is `nil` (I'll retrace that code when I have time). *How* that
thing can be `nil` is a mystery to me as of yet.

Yes. What would be *extremely* helpful is a test/command to trigger this, but
again I haven't found the

[2017-01-03 23:48] mholt commented on #1322
Yeah, I'm not really sure what this is about. Can you please clarify?

[2017-01-04 00:49] mholt commented on #1324
@oliverpool No problem, see #1325. This _should_ mean you won't need to manually unset that header. I don't think my change will break anyone but we'll see. (If it does break someone, I think they're doing something strange...)

[2017-01-04 01:24] pepa65 opened #1326 "Markdown plugin to generate meta elements from prelude items description and keywords"
Right now the markdown plugin uses the front matter 'title' item for use in the html title element. It would be great if it could also generate html meta elements from the markdown front matter items description and keywords:

`description: ...` becomes `<meta name="description" content="..." />`

`keywords: ...` becomes `<meta name="keywords" content="..." />`

[2017-01-04 01:53] txthinking commented on #1322
OK, Thank you.

[2017-01-04 01:53] #1322 closed

[2017-01-04 16:27] lhecker commented on #1310
Glad to hear it's working for you as well, @jcgruenhage!

[2017-01-04 21:58] Mxbonn opened #1327 "Caddy rewrites example.com/foo/bar to example.com/bar/"
I am trying to host a site on a specific path on my domain, so my caddy file looks like this:
[code]
My directory structure looks like this
[code]
So when I want to see the content of index.html on my site I would go to:
`example.com/foo/bar/index.html` or `example.com/foo/bar/`.
This works all like expected, but if I don't include that final '/' and type `example.com/foo/bar` it gets redirected t

[2017-01-04 22:57] mholt commented on #1327
Does the same thing happen if using curl? Use curl -v and post the exact, unmodified output.

[2017-01-05 02:14] ericdreeves commented on #675
Hi, @miekg. There are some methods that have been added to caddy.Controller since you opened this issue: https://godoc.org/github.com/mholt/caddy#Controller

Are OnStartup, OnRestart, or OnShutdown sufficient? I see that you're using OnStartup in your setup function since Caddy 0.9.

[2017-01-05 02:59] kokizzu commented on #1295
no, haven't down since then

[2017-01-05 04:09] mholt commented on #1295
Excellent. It was probably a systemd issue then... closing. ;)

[2017-01-05 04:09] #1295 closed

[2017-01-05 07:28] miekg commented on #675
[ Quoting <notifications@github.com> in "Re: [mholt/caddy] Re-enabling prome..." ]

Yes, I think this *should* be fixed, but I never bothered to double check, hence
this issue is still open.

[2017-01-05 09:59] enko opened #1328 "Add a cli parameter to validate a Caddyfile"
At our company we are deploying caddy via Gitlab CI if someone pushes a new Caddyfile to a repository. It would help us big times if caddy had a parameter like `caddy -validate /etc/Caddyfile` that returns a non-zero code if something obvious (f.e. there is a syntax error) is wrong with the caddyfile. In that case the Caddyfile would not be deployed and the caddy instance would not crash.

You may

[2017-01-05 17:57] tobya commented on #1327
Can you post your caddyfile?

[2017-01-05 19:28] Mxbonn commented on #1327
@tobya I posted it in the first part of the issue (although abstract) but concretely its just:
[code]

[2017-01-05 19:43] mholt commented on #1327
Oh, I think I might know what's going on. Somebody have a chance to look at it? https://github.com/mholt/caddy/blob/3f770603bc8d55dfd6d90131f62bbf61e70c7ebd/caddyhttp/httpserver/https.go#L151 -- I'm willing to bet that URI has `/best` stripped from the URI because the site definition includes `/best` -- see https://github.com/mholt/caddy/blob/3f770603bc8d55dfd6d90131f62bbf61e70c7ebd/caddyhttp/http

[2017-01-06 00:25] mwpastore opened #1329 "Setting a header based on the value of another header is non-deterministic"
### 1. What version of Caddy are you running (`caddy -version`)?

Caddy 0.9.4

### 2. What are you trying to do?

Set a header and proxy a request to another backend. This example is conveniently self-contained, but I am having the same and similar issues when proxying requests to Varnish, and when using FastCGI to delegate requests to PHP-FPM.

### 3. What is your entire Caddyfile?

[code]

### 4

[2017-01-06 04:27] tw4452852 commented on #1329
This is a interesting issue. I just do some investigation and find out the reason is the order of headers:
Because we use [`http.Header`](https://github.com/mholt/caddy/blob/master/caddyhttp/proxy/proxy.go#L52) (a map actually) to store the upstream header rules, so when setup up upstream headers, the order of the rules is non-deterministic.

But your rules in your caddyfile are relevant:

[code]

[2017-01-06 07:55] tw4452852 commented on #1281
Just try to reproduce it with the latest version(3f77060), but I can't reproduce it locally.
![screenshot-20170106 155218](https://cloud.githubusercontent.com/assets/587972/21711191/72cdb2a0-d428-11e6-90f4-2853976339d5.png)

[2017-01-06 17:23] onodera-punpun commented on #1315
I wrote a Caddy rc script for my distro of choice (CRUX), any criticism?

Also is this something I should PR, or just keep shipping it with the CRUX port?

[2017-01-06 18:43] azjkjensen commented on #10
Any progress on this lately? What is the latest status?

[2017-01-06 18:54] mholt commented on #10
If that middleware above, by @nicolasazrak, is useful, I'd love to see it finished and published to the Caddy download page. (New site coming in a while.)

[2017-01-06 19:24] gyulavoros commented on #1281
The status code is 200 for me as well, but there isn't any communication going on between the server and the browser.
<img width="1918" alt="screen shot 2017-01-06 at 20 18 48" src="https://cloud.githubusercontent.com/assets/932504/21729997/f7d20f62-d44d-11e6-9656-84757ddbe69e.png">

[2017-01-06 19:34] mholt commented on #1315
@onodera-punpun One reason why these are community-contributed is because I have no experience here, I'm not qualified to vet it. Does your script meet the criteria above? If so, it's probably fine.

Might as well PR it if you're willing to maintain it.

[2017-01-07 00:02] nicolasazrak commented on #10
@mholt when I started the project the idea was to send a pr and be published in the download page but I found that doing caching was harder than I thought. I will continue with this project now that I have some free time and try to have something more polished

[2017-01-07 01:35] ericdreeves commented on #1327
@mholt Indeed, pathPrefix is trimmed from the path.

As a quick test, I used RequestURI from http.Request (+"/") [here](https://github.com/mholt/caddy/blob/3f770603bc8d55dfd6d90131f62bbf61e70c7ebd/caddyhttp/staticfiles/fileserver.go#L87).

Here's the result when allowing curl to follow redirects (some curl output omitted).

	# curl -v -L https://example.com/foo/bar

	< HTTP/1.1 301 Moved Permanent

[2017-01-07 03:06] azjkjensen commented on #10
@nicolasazrak 🙌🏻🙌🏻🙌🏻

[2017-01-07 06:25] technopagan commented on #1092
After digging through the docs & lots of small Caddyfile example snippets, I've now found this thread that discusses this problem.

@mholt I'd love to see Caddy implement an easy way to cleanly block access to all dotfiles while still following other defined rules inside a Caddyfile. Dotfiles creation inside a site's root is sometimes out of our control, e.g. ".gitignore" in subdirectories or ".et

[2017-01-07 07:17] mholt commented on #10
@nicolasazrak Sounds great. :) Yes, caching is hard. I would have attempted it myself... ;)

[2017-01-07 20:36] joelnb opened #1332 "Unable to setup reverse-proxy for weechat websocket"
Following up on a [forum post](https://forum.caddyserver.com/t/proxy-weechat-relay-with-caddy/801/4) about something which seems like a possible issue with caddy.

On that thread I suggested it was related to headers sent by Caddy which could not be removed but I am now not convinced that is the issue after further testing. Should I create a separate issue for the fact that those headers cannot be

[2017-01-08 05:25] jawnsy opened #1333 "RFC: Collect "testimonials" for web site & README"
It's no surprise that lots of people _love_ Caddy. It's got a great community (over 100 contributors!) and rich plugin ecosystem.  It'd be great to showcase testimonials or have a list of "powered by caddy" sites somewhere.

I mean, check out this endorsement: https://twitter.com/mikewest/status/817962064845172736

I understand that it's not possible or practical to link to everybody that says nic

[2017-01-08 06:33] mholt commented on #1157
This might make sense, since I don't remember having this issue with Go 1.6, but I wouldn't have suspected an issue with Go itself.

I just built Caddy on Go 1.6 and deployed it into production on one particular server that I saw suspicious behavior that reminds me of this (more than once!), I will see if it happens again. If not, maybe it _is_ a bug in the standard library.

[2017-01-08 06:35] mholt commented on #1333
I'm glad you brought this up. I have been wanting to collect testimonials for the new website I'm working on. People can submit testimonials here: https://goo.gl/forms/0OMOuenYjxPuZNqU2

Thank you for your positive support, by the way. :+1: You and everyone else out there who share your good experience. It's encouraging, and I think people like reading about something _good_ that the modern Web is

[2017-01-08 07:03] mholt commented on #1329
Hm, that is a weird one. Indeed, the ordering of the header changes is not guaranteed since the map is not ordered. There might be a clever way to keep it ordered in the code without getting too complicated... I am curious though, what's the use case for this? It's like your treating headers as variables or are just trying to reduce copy+pasting a header value on two lines? I ask because I've neve

[2017-01-08 07:05] mholt commented on #1326
I haven't seen the meta keywords tag be relevant for years... description, I could see that being useful. (Keywords though? Search engines don't use that anymore AFAIK.)

Just trying to stay as simple as possible. :) At what point does it become better to fill out a custom template?

[2017-01-08 07:07] mholt commented on #1328
So if we implemented `-validate` to only parse the Caddyfile (thus reporting syntax errors), would that be sufficient?

[2017-01-08 07:17] mholt commented on #1279
Hmm. The `Error 400 - urn:acme:error:connection - DNS problem: networking error looking up CAA for com` error sounds like a DNS problem, or some network issue between LE and your DNS. The challenges it succeeded on used the HTTP challenge, not the TLS-SNI challenge, which makes me wonder if something is up with that. (Does your Caddyfile have any wildcard characters in the site addresses that are

[2017-01-08 07:17] #1279 closed

[2017-01-08 07:18] mholt commented on #1246
@wendigo Thank you for implementing it! I've started reviewing it, as you can see. As soon as we finish up the changes after reviews, I'll be happy to merge it.

[2017-01-08 07:43] pepa65 commented on #1326
It just seemed logical for a module that translates into html. I think it would make a lot of sense to do it, and it's really easy and quick win. Maybe only "description", "author" and perhaps "copyright"? Or you could just put any legal meta name in the front matter into a meta tag. Setting the front matter is a user choice, and there is an obvious way of translating/using it.

[2017-01-08 13:04] pbeckmann commented on #1326
I think it's a good idea, and i would do it, but i see a small problem.

Not all meta tags are applicable via
`<meta name="key" content="value" />`

For example with HTML5 we got
`<meta charset="...">`
`<meta http-equiv="..." content="..."/>`

And i think, if we do this, next month we get an request,
Adding generics headers with key value pairs ;)

[2017-01-08 14:01] pepa65 commented on #1326
I think the meta http-equiv elements aren't in wide use anymore now that we have meta charset="utf-8" (which markdown already uses).

[2017-01-08 15:01] pbeckmann commented on #1326
Okay,

so i would implement a list with allowed meta tag names, like _description_, _author_ and so on.
Then check every front matter if it's in this list or not.

If we found the front matter, adding that to another list and iterate in the template over the list like we do it with the styles.

But i think we should not remove it from the existing Variables Map, so we don't kill existing templates

[2017-01-08 15:23] pepa65 commented on #1326
I think there is no actual clash between template use of front matter items and using them as a meta tag when it is a valid meta tag. But to avoid unhappiness it's probably best to just have a limited and useful list of supported meta tags.

[2017-01-08 18:38] mholt commented on #1157
@miekg If the issue I'm seeing is the same one as here, then it's not Go 1.7 causing it. Seeing the issue built on Go 1.6 too. Gonna try 1.8 beta 2 next.

[2017-01-08 18:43] mwpastore commented on #1329
To be quiet honest, since filing this report I realized I didn't need to do what I was trying to do, so I don't have a great use case for it at the moment.

[2017-01-08 19:04] mholt commented on #1329
Okay. Thanks for the update. Thank you for your quick effort, too, @tw4452852 ! :+1:

[2017-01-08 19:04] #1329 closed

[2017-01-08 20:37] miekg commented on #1157
Can you tell me how you reproduce the error?

[2017-01-09 01:40] tw4452852 commented on #1281
@gyulavoros Everything works fine here(ping every 30s). So I just suspect the docker environment...

![screenshot-20170109 093627](https://cloud.githubusercontent.com/assets/587972/21755488/9f3079ee-d64f-11e6-80f1-afb6ae827005.png)

[2017-01-09 03:18] mastercactapus commented on #852
Just an update: I threw something together today. I want to test it a bit more before making a PR, though.

There are 2 new flags: `-proxy-protocol-subnets` and `-proxy-protocol-timeout`

I would have added directives, but alas, 1 vhost != 1 net.Listener. So I followed what QUIC and HTTP2 were doing and added flags (since those two also happen before we know what virtual server is being requested)

[2017-01-09 05:28] mwpastore commented on #852
This looks great! Thanks @mastercactapus. The more difficult part is likely to be implementing PROXY protocol upstream, as it doesn't appear as though there is any existing prior art. Not in Go at least.

[2017-01-09 06:10] mwpastore opened #1336 "Override root directory used by FastCGI"
The FastCGI module uses the vhost root directory [here](https://github.com/mholt/caddy/blob/9f16ac84a0e80fcfe3ade8f3a9b2b06ffccaea50/caddyhttp/fastcgi/fastcgi.go#L187), [here](https://github.com/mholt/caddy/blob/9f16ac84a0e80fcfe3ade8f3a9b2b06ffccaea50/caddyhttp/fastcgi/fastcgi.go#L247), and [here](https://github.com/mholt/caddy/blob/9f16ac84a0e80fcfe3ade8f3a9b2b06ffccaea50/caddyhttp/fastcgi/fastc

[2017-01-09 08:25] enko commented on #1328
@mholt Yes, that would be excellent.

[2017-01-09 08:52] tw4452852 commented on #1332
The culprit is `Sec-Websocket-*` vs `Sec-WebSocket-*`. I have just worked out a possible fix for it.

[2017-01-09 14:02] miekg commented on #1157
Ok, just got the error with my don't-touch-the-session-keys-binary:

(lines capped due to cut and paste), but same issue.
[code]

[2017-01-09 15:18] mholt commented on #1157
@miekg Unfortunately I'm not sure how to reproduce it :( It just happens on this one server after some time.

Are you sure that TLS handshake error isn't legitimate?

[2017-01-09 15:29] miekg commented on #1157
[ Quoting <notifications@github.com> in "Re: [mholt/caddy] ssl certs failure..." ]

Yep. This is me with Chrome reaching to the website; restart Caddy -> works.

There seems to be a race (deep in the Go code) whereby, once, you fiddle with
*tls.Config it turns to `nil` at that point your websites are dead in the water.

I itching to compile from Golang-HEAD to get the latest fixes, esp. that
super

[2017-01-10 01:42] tehscorpion commented on #1332
Did you also look into the host header sent by caddy?

[2017-01-10 02:29] tehscorpion commented on #1336
I'll guess you can overwrite it ?
[code]
[code]

[2017-01-10 02:34] mwpastore commented on #1336
I banged my head against that wall for a while without any luck. `PATH_TRANSLATED` is tricky because you don't have access to the post-split-processed filename. Perhaps I was doing something wrong, I'll give it another try...

[2017-01-10 02:40] tehscorpion commented on #1336
Reading the link inside the source
[code]

so PATH_TRANSLATED is root+path after file?
{path} - The path portion of the URL (does not include query string or fragment) ?

[2017-01-10 02:44] mwpastore commented on #1336
You're asking me? 😆 The problem is that:

1. You can't (easily) set `PATH_TRANSLATED` because you don't have access to the post-split-processed `pathInfo`.
1. You might think, "Oh, I'll just set `DOCUMENT_ROOT` and `PATH_INFO` and let the FastCGI server figure it out," but if `PATH_INFO` is set, Caddy will use the "wrong" root directory, and send a bad `PATH_TRANSLATED` to the FastCGI server anywa

[2017-01-10 02:45] tehscorpion commented on #1336
Sure, then lets implement a correct fix for that. :+1:

[2017-01-10 02:45] mwpastore commented on #1336
Sounds good. 😄 Would you please take a look at my PR (#1337) and let me know your thoughts?

[2017-01-10 02:50] tw4452852 commented on #1332
@tehscorpion The host header comes from [here](https://github.com/mholt/caddy/blob/master/caddyhttp/proxy/proxy.go#L143).

[2017-01-10 03:09] tehscorpion commented on #1332
@tw4452852 that just caught my eye because he is also using 2 different upstream hosts in his configs.

[2017-01-10 03:58] FTwOoO opened #1339 "Wrong arguments for function acme.Client.ObtainCertificate() and acme.Client.RenewCertificate()"
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)

### 1. What version of Caddy are you running (`caddy -version`)?
Latest clone

### 2

[2017-01-10 04:40] mholt commented on #1339
Hi,

This isn't a Caddy issue so I'm closing this (Caddy does compile) -- your deps are out of date. Run `go get -u github.com/xenolf/lego`.

Thanks!

[2017-01-10 04:40] #1339 closed

[2017-01-10 05:36] mholt commented on #1092
@technopagan What version of Caddy are you using? And why are those the expected headers, your Caddyfile doesn't have anything in there to set those or remove the Server header?

[2017-01-10 11:05] tehscorpion commented on #1333
This! @mholt thanks for pointing out. Keep rollin'

[2017-01-10 16:37] mholt commented on #1332
@joelnb This turns out to be a bug in weechat, and it looks like they're fixing it (yay) -- see the linked issue above. Thanks for the report!

[2017-01-10 16:37] #1332 closed

[2017-01-10 17:34] obrienmd opened #1341 "Update ipfilter module"
I have a couple of use-cases (::1 in the ipfilter "ip" line, multiple ipfilter items in a config) that don't work in current Caddy (0.94 fresh off website), but seem to work if I build Caddy from source with the latest ipfilter.

I suppose I'm not sure how the module system works on the downloader - is there a manual process outside of source the Caddy team has to complete, or would a pull-request

[2017-01-10 19:28] mholt commented on #1341
The download page is manually updated by me for every plugin. :-1: I usually bundle these together when I do a Caddy deploy but that takes half a day currently. So I'm focusing my efforts on finishing the new website which is entirely automated, everything from builds to Caddy deploys to plugin updates directly from their developers.

Unfortunately there's no other way to do it right now. You can

[2017-01-10 19:28] #1341 closed

[2017-01-10 20:56] tobya commented on #1328
I'll take a look at this

[2017-01-10 22:48] mholt commented on #1157
@miekg Thanks for the clarification. Hmm... I'm running with Go 1.8 beta 2 in production now and for a few days it has been working okay. Will give it another few weeks and see if anything goes haywire. (Which super weird fix from Rob Pike are you referring to?)

[2017-01-11 00:51] obrienmd commented on #1341
Cool, appreciate the fast response! No expectation of course, but do you have any rough ETA for the new web launch, or need any help a mediocre dev (reasonably good sysad) could pull request in?

[2017-01-11 01:14] mholt commented on #1341
I'm doing design work right now. :) I'll put out a call for help, probably testers in the next few weeks.

[2017-01-11 01:21] obrienmd commented on #1341
Cool, thanks again :)

--
Mike OBrien
253.217.7129

On Tue, Jan 10, 2017 at 5:14 PM, Matt Holt <notifications@github.com> wrote:

[2017-01-11 02:30] Tester98 opened #1345 "Critical 502 Bad Gateway"
(Are you asking for help with using Caddy? Please use our forum instead: https://forum.caddyserver.com. If you are filing a bug report, please answer the following questions. If your issue is not a bug report, you do not need to use this template. Either way, please consider donating if we've helped you. Thanks!)

### 1. What version of Caddy are you running (`caddy -version`)?
Caddy 0.9.4

### 2.

[2017-01-11 03:10] tw4452852 commented on #1345
Then this issue only happens when enable http2?

[2017-01-11 03:27] Tester98 commented on #1345
We are waiting more time to confirm  whether the temporary fix gives errors or not ( -http2=false ).However,  few hours have passed and we are yet to see an error. confirmation will need 12 hrs, so we can confirm it.  we are studying the logs, sometimes we also get below lines in the errors logs.
10/Jan/2017:20:46:48 +0700 [ERROR 502 /favicon.ico] net/http: request canceled

[2017-01-11 04:00] Tester98 commented on #1345
Can this be related to the https://github.com/golang/go/issues/16788, is there a way to tune so that the caddy proxy requests only http 1.1 or 1.0 requests to backends ( Disable caddy http2.0 requests to backend). However, still serving 2.0 request to end users. These bugs seem to affect almost everyone flynn, traefik and others.

[2017-01-11 04:30] mholt commented on #1345
"No hosts available upstream" means that according to your health check rules, all your backends were marked as down.  In other words, it is apparently failing health checks some of the time, or requests to it are failing. Remember, with your configuration, it only takes one failed request to mark it as down.

[2017-01-11 05:07] Tester98 commented on #1345
However, After enabling the "--http2=false" , not a single 502 error has occurred, so there might be some edge case for http2 clients or backends. We are still parsing logs on both caddy and backend . backend has never reported an failed request. So our assumption is under some conditions, request never reaches the backends and still caddy returns a 502 to the client.

[2017-01-11 05:42] winny- opened #1346 "caddy download tarballs are tarbombs?"
caddy download tarballs are tarbombs? There is probably a well thought out reason behind a root-less tarball, but I figured it wouldn't hurt to ask on the issue tracker.

https://en.wikipedia.org/wiki/Tar_(computing)#Tarbomb

[2017-01-11 08:12] miekg commented on #1157
[ Quoting <notifications@github.com> in "Re: [mholt/caddy] ssl certs failure..." ]

https://github.com/golang/go/commit/b902a63ade47cf69218c9b38c9a783fc8cfc3041

/Miek

--
Miek Gieben

[2017-01-11 10:16] joelnb commented on #1332
Thanks @mholt looks like they have sorted it now as well so I can start using only Caddy when the next version of weechat lands.

[2017-01-11 11:55] miekg commented on #1157
running mine under go1.8rc1 now

[2017-01-11 13:40] Tester98 commented on #1345
I can confirm the bug to be http2 related, as not a single 502 has occurred, since the last 10 hrs.The only difference is that caddy is started with "--http2=false". We will be disabling http2 till the bugs gets solved. However, we will still want to be http2 enabled.  Hope , this can lead to  identify the root cause , as caddy is extremely performative in regards to certain types of workloads.