[2015-04-27 21:42] mholt opened #3 "Refactor New() out of all middleware"
The New() functions that are in each middleware package are remnants of the early prototype days. Since the middleware packages are general and New() would never be invoked by any program other than Caddy, the New() functions should be moved into a separate package.

[2015-04-27 21:46] mholt opened #4 "config: Refactor lexer, parser, controller, dispenser types"
In preparation to move the New() (generator) functions out of middlewares (#3), the config needs to be refactored. Right now, the config package uses different parsing facilities than the generators do, but the ones provided to the generators are more convenient and powerful. It would be nice if all the parsing could be done by the same types.

The generator functions will need access to the entir

[2015-04-28 05:59] mholt opened #5 "Site search middleware"
How awesome would it be if your web server kept a static page search index (periodically updated) for your site and rendered search results onto a custom HTML template? No need for external services and no hassle setting it up - just another directive in the Caddyfile. I can think of many times in the past I would have used something like this if it was built right into my web server.

Thoughts on

[2015-04-28 06:09] mholt opened #6 "GitHub webhooks middleware"
Imagine: middleware that pulls the latest version of your site when you push it to GitHub... built right into your web server.

I have bigger plans for automating deployment, but would this be useful to anyone in the interim? Would anyone like to start working on it sooner than I can get around to it?

[2015-04-28 07:29] influx6 commented on #6
this would be a rad feature

[2015-04-28 14:58] abiosoft commented on #6
I can help with this.

[2015-04-28 15:53] mholt opened #7 "tls: no cipher suite supported by both client and server"
I saw this constantly on campus but was unable to reproduce the error at home. But seeing traffic from this morning is causing this error more. This is a hard one to debug since we'd have to drop to the transport layer.

[2015-04-28 16:08] kelseyhightower opened #8 "Does caddy support online configuration via a remote API?"
I would like the ability to add and remove backends from a site hosted by Caddy. Is this possible today, if not any plans for the future?

[2015-04-28 16:22] jaredfolkins commented on #7
The http2 library is very specific about what cipher suites are allowed.

https://github.com/bradfitz/http2/blob/b6255645465a25b25f804acb9b3a54009e80c2a4/server.go#L228-L302

If you are getting this error on a large network I would wonder about some sort of MITM device. An IDS or IPS that is trying to force its requirements on the connection.

Out of curiosity, if you change the ssl port to a non

[2015-04-28 16:28] mholt commented on #8
It's not possible today, but in the future, definitely yes. Caddy's middleware handlers are designed to be hot-swappable without having to restart the process. A remote management API is one of the primary goals, as well as a nice web UI.

I need to do some refactoring but those are the next major features I hope.

[2015-04-28 16:34] shreeve opened #9 "Add repo for documentation site"
Could you add the repo for the documentation site? This would open it up to contributors as well.

Great job on Caddy, btw! Looks awesome.

[2015-04-28 16:36] mholt opened #10 "Cache middleware"
Caddy needs a cache middleware.

I'll be working on something basic this week. Probably just a basic LRU replacement algorithm and a configurable expiration time. In fact, if the gain is significant in nearly all cases, maybe it should be enabled by default... (a rare exception to the rule that all middleware need to be enabled explicitly using the Caddyfile).

[2015-04-28 16:39] mholt commented on #9
Thank you! That's a good idea. Will get around to that soon.

[2015-04-28 17:08] mgibbs189 opened #11 "Using index files within sub-directories"
Hey Matt - great work so far!

Is there a way for Caddy to use index files (e.g. `index.php`) within sub-directories?

E.g.
http://local.dev/ --> Caddy will correctly use `/index.php`
http://local.dev/myfolder/  --> Caddy does not use `/myfolder/index.php`
http://local.dev/myfolder/index.php --> Works correctly, but not ideal

[code]

Thanks for any guidance

[2015-04-28 17:25] zorrobyte opened #12 "Integrate HHVM support"
HTTP/2 is fast, HHVM instead of FastCGI is even faster. It would be nice to have a config/template to use HHVM.

Here are example configs for Apache/Nginx: https://github.com/facebook/hhvm/wiki/FastCGI

[2015-04-28 17:26] mholt opened #13 "core: Trouble running in Docker containers (or binding to 0.0.0.0)"
It appears that specifying a 0.0.0.0 (wildcard) host is a special case that the virtual host feature doesn't handle yet. For example, 0.0.0.0:8080 should respond to anything that talked to port 8080.

Caddy responds when specifying just a port (":8080") but it's an error response.

[2015-04-28 17:35] joeshaw commented on #13
You might want to go the nginx route of having a `default_server` that acts as a catch-all fallback when the `Host` header doesn't match any of the specified virtual hosts.

[2015-04-28 17:36] joeshaw commented on #13
That'd let you separate the concerns of what IP address/interface the server binds to (ie, 0.0.0.0) versus the virtual hosts that it serves.

[2015-04-28 18:25] abiosoft commented on #13
I have experienced this on my local pc without docker.

[2015-04-28 19:27] thomas4019 commented on #11
Hi Matt,

I just pushed a fix to the fastcgi middleware so that it now serves index files in subdirectories. You won't need to change your Caddyfile.

You could try it out by [running from the source](https://github.com/mholt/caddy#running-from-source). It would be great if you could test it and let me know if it solves your problem. Thanks for your feedback!

[2015-04-28 19:28] #11 closed

[2015-04-28 19:43] mgibbs189 commented on #11
Works great, thank you!

[2015-04-28 22:47] thomas4019 opened #15 "gzip middleware - downloads pages when the server errors"
When fastcgi has a problem and returns and 500 internal server error, it downloads a .gz file which has the file contents "        Internal Server Error". Someone reported that this was happening on caddyserver.com as well so I think the issue is related to gzip. https://news.ycombinator.com/item?id=9455468

[2015-04-28 23:32] j-mcnally opened #16 "Support a way to pass a and address binding from the CLI"
Heroku assigns each app a dynamic port, we need a way to pass $PORT as the port caddy should listen on. The ideal solution may be to allow a user to pass a Caddyfile snippet from the command-line the way nginx does with it's -g flag. http://nginx.org/en/docs/switches.html

[2015-04-28 23:34] mholt opened #17 "Allow default port to be specified via command line flag"
[It may be useful](https://twitter.com/j_mcnally/status/593194980916797440) to allow the default port to be specified from a command line flag.

[2015-04-28 23:34] mholt commented on #17
Whoops, same as #16.

[2015-04-28 23:34] #17 closed

[2015-04-28 23:39] mholt commented on #15
Even though it doesn't appear to be a problem exclusive to fastcgi, I did just notice that it returns the status code even though it wrote the entire response already. In other words, if the fastcgi responder gives back a status >= 400, Caddy returns that up the middleware chain, indicating that it hasn't handled the error, but it has. I think the return should be changed to `return 0, nil`.

As f

[2015-04-29 02:30] #13 closed

[2015-04-29 02:38] mholt commented on #15
Possible suspect, [fileserver.go](https://github.com/mholt/caddy/blob/0f332bd9fbf80fa24fa6532f67cac5ce64a723ae/server/fileserver.go#L113-L115):

[code]

Haven't verified this theory yet, but with this critical call I simply *hope* an error doesn't occur. If it fails, there's no way to know... that I know of.

Again - not sure if this is culprit. I'll do some more probing...

[2015-04-29 03:29] mholt commented on #16
Would a -port flag be sufficient? (for now?) e.g. `-port=1234` (Actually, I like the idea of being able to pipe configuration into Caddy. Maybe for later...)

[2015-04-29 03:30] r3wt commented on #12
:+1:

[2015-04-29 03:33] mholt commented on #7
As soon as I can try, I will let you know, that's a good idea though. I know for a fact that the campus is using an SSL proxy (grrr but oh well). And thanks for the link, I hadn't noticed that before. And I would think immediately that must be it, except that I can load https://http2.golang.org just fine on campus. Wonder if it has something to do with SNI...

[2015-04-29 03:59] mholt commented on #12
So if I understand the docs you linked to, it's essentially the same as proxying to php-fpm? What would need to be done for then Caddy to work with HHVM if it does not already?

[code]

[2015-04-29 04:12] r3wt commented on #12
@mholt i think he is requesting a manner to embed hhvm directly in the caddy process, like `mod_php`. else i have no idea what he meant

[2015-04-29 04:14] r3wt commented on #6
:+1: this is an awesome idea.

[2015-04-29 05:03] j-mcnally commented on #16
Yes that will work for now

On Tuesday, April 28, 2015, Matt Holt <notifications@github.com> wrote:

--

<http://www.kohactive.com>
Justin McNally
Technology Director / Principal
p: 312.273.3074 <+13122733074> | e: justin@kohactive.com | skype:
justinmcnally211 <http://is.gd/UuXAGG>
  <https://github.com/j-mcnally>  <https://twitter.com/j_mcnally>
<https://www.linkedin.com/profile/view?id=14377672

[2015-04-29 05:30] Immortalin commented on #12
Maybe hhvm can be embedded into caddy via gobindata to make deployment easier and expose it via a cgo binding?

[2015-04-29 05:31] Immortalin opened #19 "Feature Suggestion: Plugin System"
Hi, how about a plugin system via pingo or lua?

[2015-04-29 05:39] zorrobyte commented on #12
As I am restricted on time, I have yet to dig through caddy's source code for a proper integration suggestions.

As of now, there are parameters such as gzip that can be placed in the caddyfile to enable support: https://caddyserver.com/docs/caddyfile

It would be interesting if HHVM could be activated on a site with param hhvm, much like param gzip in the caddy file. FastCGI is recommended for co

[2015-04-29 05:42] Immortalin commented on #19
(Pingo)[https://news.ycombinator.com/item?id=9445707]

[2015-04-29 05:45] darron commented on #13
Thanks for fixing this!

I created a Docker image for Caddy - https://github.com/darron/caddy-docker - but in order to do that and make a really small image I needed to statically link the final binary. The final Docker image was 23MB - vs using Ubuntu as a base image which was 148MB.

If possible, using your binaries would be better - people trust the author more than some random person compiling

[2015-04-29 06:49] ianchen06 opened #20 "Real client IP forwarding for reverse proxy"
Hi I'm wondering if it is possible that Caddy can forward the real ip address of the clients, like the X-Forwarded-For and X-Real_Ip? I would like to use the clients IP address in my rails app which Caddy is proxying to.

Thanks and great work!

[2015-04-29 07:32] abiosoft commented on #20
The proxy middleware is implemented using `NewSingleHostReverseProxy` in `net/http/httputil` package which seems to cater for `X-Forwarded-For` if you look [here](https://golang.org/src/net/http/httputil/reverseproxy.go#L138).

What is the current behaviour ?

Thanks.

[2015-04-29 07:49] pix64 opened #21 "Don't allow root folder to be executable path."
It seems unwise to serve files from the same directory Caddy is running from.

* http://localhost:2015/caddy.exe downloads the server it self.
* CHANGES.txt and README.txt which are distributed with Caddy will also automatically be the in server root.
* Any backup or template caddyfiles will be public
* If plugins are added which would reside in a /plugin directory or such. They'll also be served

[2015-04-29 08:16] abiosoft commented on #21
Caddy would ideally be installed as a binary available in `PATH` which makes it suited to be started in the directory to serve.

Regarding template files/plugin directory, I agree there needs to be more flexibility and I see that as something that can be achieved via Caddyfile.

[2015-04-29 09:40] groob opened #22 "Add a CI server"
drone.io is free for open source projects.

[2015-04-29 12:21] devil1591 commented on #21
This is simply default configuration, you can create a Caddyfile with this directive:
`root www` and put your web in the www folder.

[2015-04-29 12:31] devil1591 opened #23 "Default to index.html or index.php"
Can't find this in documentation, there is no default index file like index.html.
The php preset for fastcgi  `index index.php` isn't working, at least on Windows x86.

Thanks for this very nice project :)

[2015-04-29 13:15] abiosoft commented on #23
I got it to work. Ensure php-fpm has started.

My Caddyfile looks like this
[code]

Hope this helps.

[2015-04-29 13:38] devil1591 commented on #23
Thanks Abiosoft, this is not working with Caddy Win x86, it outputs this error:
`http: multiple response.WriteHeader calls`

[2015-04-29 14:23] mholt commented on #21
Caddy was designed to be able to serve a site that has the configuration file (Caddyfile) in it (it serves a 404 instead) and it has support for hiding other files as well. But I didn't intended for the caddy binary itself would literally be in the root of the site. Given that Caddy is (eventually) geared toward a less-technical crowd, that may be something to consider.

I have been spinning the i

[2015-04-29 14:27] mholt commented on #23
That's interesting @devil1591. It means that more than one middleware thinks it has the floor. In other words, either:

- one middleware that actually writes the response isn't telling others properly (via return value, maybe?) that it wrote to the response, or
- a middleware that *was* told that somebody else wrote to the response still wrote to the response when it shouldn't have.

What kind of

[2015-04-29 14:40] devil1591 commented on #23
The error is `No input file specified. 404 Not Found`

[2015-04-29 14:44] gabrielarrais opened #24 "Add ssl offloading middleware"

[2015-04-29 14:49] mholt commented on #24
@gabrielarrais Do you have anything specific about SSL offloading you'd like to recommend/suggest? Like, are you suggesting that Caddy become an SSL offloader for other backend systems? That could perhaps be built into the proxy middleware...

[2015-04-29 15:00] mholt commented on #23
Do you have Go installed? Could you change line 119 of fastcgi.go to:

[code]

Because I suspect that php-fpm is giving 404 and writing "No input file specified" but the fastcgi handler is incorrectly returning the 404, signaling to Caddy that it needs to handle the error by writing "404 Not Found" - in this case, Caddy should not add anything to the response...

[2015-04-29 15:13] abiosoft commented on #23
@devil1591 what is your middleware stack ? It could probably be a bug not limited to windows.

[2015-04-29 15:27] mholt commented on #15
It seems that after extended durations of heavy use, this bug appears. I saw it again this morning after the site got a lot of traffic from the other half of the world... restarting the server fixes it. I'll keep probing but others are welcome to look into this too.

[2015-04-29 15:27] #16 closed

[2015-04-29 15:57] devil1591 commented on #23
@mholt sorry, I don't have Go installed.
@abiosoft, I'm using php-cgi.exe (v5.4.40)

[2015-04-29 16:31] Immortalin opened #25 "Email Server"
It would be really great if Caddy can be used to handle emails. It would remove the need for a separate email server as setting up a [email](https://www.digitalocean.com/community/tutorials/how-to-configure-a-mail-server-using-postfix-dovecot-mysql-and-spamassasin) server is a royal PITA.

[2015-04-29 16:48] guilhermebr commented on #24
I think he want Caddy to work like nginx ssl directive...

(Example from: http://nginx.com/blog/nginx-ssl/)
And now you want to add HTTPS support, with NGINX decrypting the traffic using the certificate and private key and communicating with the backend servers over HTTP:

upstream backends {
   server 192.168.100.100:80;
   server 192.168.100.101:80;
}
server {
   listen              80;
   liste

[2015-04-29 16:57] thomas4019 commented on #10
I have a pull request with the beginnings of a solution here, https://github.com/mholt/caddy/pull/26

[2015-04-29 18:53] mholt commented on #23
@devil1591 No problem. [Here's a modified binary](http://s000.tinyupload.com/?file_id=01778081656740942496). I wouldn't expect it to fix the index file issue, but it should no longer say "multiple response.WriteHeader calls" - can you confirm that?

[2015-04-29 19:17] mholt commented on #24
I see. If that's the case, that could definitely be a good enhancement for the existing proxy middleware. I think. Someone is welcome to look into this since I may not get around to it for a while.

[2015-04-29 19:43] guilhermebr commented on #24
Ok I can look at this =]

[2015-04-29 19:46] ciarand opened #27 "index.html template rendered as text when requesting "/""
This is probably just an ordering issue somewhere, but it had me scratching my head for a couple of minutes.

Steps to reproduce:

1. Create the following files in a new directory:

    index.html:
[code]
    Caddyfile:
[code]

2. Run `caddy`
3. Visit [http://localhost:2020/](http://localhost:2020/) and [http://localhost:2020/index.html](http://localhost:2020/index.html) and compare the results

E

[2015-04-29 20:29] mholt commented on #27
I bet the bug is [here](https://github.com/mholt/caddy/blob/60beddf6c8186ef06e5a50d03cf0fdb9d811be59/middleware/templates/templates.go#L38-L41):

[code]

"/" doesn't have a ".html" extension, so the comparison fails and the template doesn't get executed. Should be a simple matter of checking if the path is a directory first, and if so, if an index file exists.

Although, more middlewares are going

[2015-04-29 21:10] mholt commented on #25
I don't think email is in Caddy's future, but that sounds like an excellent experiment for a separate project. [smtpd](https://bitbucket.org/chrj/smtpd) might be a decent starting point.

And yeah, I hate setting up email servers too.

[2015-04-29 21:10] #25 closed

[2015-04-29 21:30] ciarand commented on #27
Yeah, that sounds reasonable. Though this was enough to hold me over for now:

[code]

[2015-04-29 21:40] mholt commented on #15
If it is because we're out of file descriptors, I know a way to reproduce the problem (on Unix systems):

1. Set `ulimit -n 1024` to lower the limit for open file descriptors
2. Run caddy from the same shell
3. In a different shell, run `wrk -t256 -c512 -d10s http://localhost:2015` - this should use, on average, 2 connections per thread, which is just enough to overtake the file descriptors, appar

[2015-04-30 03:54] j-mcnally opened #28 "Set 0.0.0.0 as default host rather than localhost"
It would be nice and simplify setup for users on heroku / docker, to just listen on 0.0.0.0 by default.

As pointed out by @mholt this won't break anything for users expecting localhost, and they can choose to explicitly bind to localhost

It would also be nice to accept default host via cli, `-host`

[2015-04-30 03:57] mholt commented on #13
I could definitely look into it - I imagine that means more than just setting CGO_ENABLED=0 when building?

[2015-04-30 04:02] mholt commented on #19
Thanks for the suggestion! I've seen that another Go web server, [Algernon](https://github.com/xyproto/algernon), allows for Lua scripting. I also saw Pingo and thought it was pretty cool (even though I'm personally a fan of stdin/stdout communications between processes). Did you have any ideas for plugins in particular?

[2015-04-30 04:06] gsquire commented on #22
https://travis-ci.org/ is also a popular site for open source.

[2015-04-30 04:27] mholt commented on #28
I'm pushing these two changes now:

- Default host is now 0.0.0.0
- `-host` flag to override it

Will be included in next patch release.

[2015-04-30 04:37] #28 closed

[2015-04-30 04:38] mholt commented on #22
:+1: Will do, especially once I get more tests in place. There's some refactoring that has to happen first (unless I want to rewrite the tests later...) which will happen as soon as I get my feet back under me.

[2015-04-30 04:42] darron commented on #13
A little - this is how I built it.

[code]

[2015-04-30 05:29] j-mcnally commented on #28
You the man @mholt

[2015-04-30 06:58] devil1591 commented on #23
That's right, the error is now `No input file specified.` and there is no error on the console anymore. The index issue is still there.

[2015-04-30 07:54] Immortalin commented on #19
It's mainly good for separation of concerns e.g. you can offload the
markdown feature into a plugin and add plugins for emails etc.

<div>-------- Original message --------</div><div>From: Matt Holt <notifications@github.com> </div><div>Date:30/04/2015  12:02  (GMT+08:00) </div><div>To: mholt/caddy <caddy@noreply.github.com> </div><div>Cc: Immortalin <immortalin@icloud.com> </div><div>Subject: Re:

[2015-04-30 10:07] gabsoftware opened #29 "Add support for simple CGI"
I know there is support for FastCGI, but could simple CGI be supported as well ?
I am enthusiastic about the performance of Caddy (wow!), but the lack of CGI support makes it not suitable for my needs (my company is using Progress Webspeed Messenger to communicate with our data server).

As for the directive, it could be like that for example:

    cgi /cgi-bin/ {
        ext   .sh
        split .

[2015-04-30 11:49] gabsoftware opened #30 "Add regex redirects and rewrite"
To make redirects and rewrites more powerful, like mod_rewrite.

[2015-04-30 13:21] mholt commented on #29
I thought about CGI, but given that it's an older technology and (hopefully) on its way out, I didn't want to implement it... however, I'm open to the possibility of adding it. Go has a cgi package in the std lib: http://golang.org/pkg/net/http/cgi/

If you or somebody would like to hack together a CGI middleware and see how that would work, I imagine it wouldn't be terribly difficult - probably e

[2015-04-30 13:29] mholt commented on #30
I thought about this from day one, and it's been gnawing at my conscience ever since. Indeed, it would be a powerful way to match paths... but it comes at a cost - both in complexity and in performance. The complexity issue is that even if somebody doesn't need/want to use a regex, they would still get unintended results when the path has a dot in it, for example, causing them to scratch their hea

[2015-04-30 13:45] mholt opened #31 "Static builds (CGO_ENABLED=0) for Docker images"
*Continuation from discussion at end of issue #13. /cc @darron*

-installsuffix doesn't appear to have any effect on `go build` (without -i, anyway)?

I'm using gox to do the builds so I'll have to experiment. But this doesn't fail, at least: `CGO_ENABLED=0 gox github.com/mholt/caddy` - if I sent you a build from this would you try it to see if it works? And if so I'll make it part of the automate

[2015-04-30 13:53] mholt commented on #23
Awesome - 1 down, 1 to go.

@devil1591 Now I need some more details. Could you paste the contents of your Caddyfile? And also the URL exactly as it appears in your browser when that message appears? I need to make sure it ends with a forward slash `/` character.

[2015-04-30 13:59] darron commented on #31
Absolutely - I'd love to try - running `ldd` on the binary shows if it's linked to any shared libraries - if it shows nothing linked to it, it should be good to go.

[2015-04-30 14:15] mholt commented on #31
Hmm, ldd is reporting "not a dynamic executable" both with and without the CGO_ENABLED variable explicitly set to 0. Is that right?

[2015-04-30 15:23] mholt commented on #15
Okay! Getting close.

When running the experiment above on the server which opens the file and serves it, the output is something like this:

[code]

When repeating the experiment on the server which serves from memory only, and always writes a 200 status, the output is this:

[code]

In both cases, the server runs out of file descriptors, outputting errors like this:

[code]

But notice that in t

[2015-04-30 16:09] mholt commented on #15
Figured it out. I was able to reproduce all reported symptoms.

Although `http.ServeContent()` is a potential problem because it does its own error handling, it was not the source of the errors this time - the Internal Server Error actually came from a defer-recover thing going on in the main handler to save the server in case of panic. I've fixed the error handling middleware so it doesn't panic

[2015-04-30 16:17] #15 closed

[2015-04-30 17:36] darron commented on #31
You're right - I just realized that your standard executable is totally static.

When I compiled it from src to get the Docker specific patches in - I must have made it so that it was shared.

So - in essence - you're doing it right already - and I'll just patiently wait for the next release.

Sorry about that - totally my fault.

[2015-04-30 17:39] mholt commented on #31
No problem, glad you were able to figure it out! It'll be great to have a Docker image for it. Stay tuned for point release today.

[2015-04-30 17:39] #31 closed

[2015-04-30 17:46] darron commented on #31
Perfect - I'll update the Docker image with the point release as soon as I
can.

On Thu, Apr 30, 2015 at 1:40 PM Matt Holt <notifications@github.com> wrote:

[2015-04-30 21:38] gabsoftware commented on #29
Thanks for considering it!
I guess I should learn the Go language first if I decide to do it :-)
By the way I could get around my problem using the proxy directive.

[2015-04-30 21:50] gabsoftware commented on #30
Ideally the performance should not change when not using regex in paths. I understand that using regexes for matching paths will reduce the number of request per seconds, but I'm sure you'll still come to implement it one day. Better doing it from the start :-)

About the dot in paths, it should not be an issue as long as it is escaped in the directives.

I also think all directives taking paths a

[2015-05-01 04:50] darron commented on #31
Looks great - I updated the docker container - https://registry.hub.docker.com/u/darron/caddy/

Repo is here: https://github.com/darron/caddy-docker

[2015-05-01 05:54] pedronasser commented on #5
Could you give some more information you have in mind for this idea? An example?
How would this search work? How would the result be printed?

[2015-05-01 12:47] mholt commented on #5
Here's what I was thinking:

- At startup, the middleware launches a service goroutine that runs for the lifetime of the server. Initially it creates an index of the site... presumably in memory, although there are good packages for lightweight persistent data stores available too.
- Periodically the service function re-indexes.
- An endpoint is "exposed" (meaning that a request to a certain URL w

[2015-05-01 14:41] mholt commented on #31
Nice. I'll add this to the readme or wiki. Or both. :+1:

[2015-05-01 16:39] mholt commented on #6
Oooookay - this is as awesome as I hoped it would be. I'll add some docs.

[2015-05-01 18:29] #6 closed

[2015-05-01 18:37] mholt commented on #12
I find HHVM's speed compelling. Thanks for the resources @zorrobyte - they'll surely be helpful!

As for me personally, I do not have time to devote to this right now either, but HHVM seems like a technology that Caddy would do well to support in the long run, assuming PHP keeps being popular. Anyone is welcome to tackle this - just comment here.

[2015-05-01 22:02] pedronasser commented on #5
Ok, got everything.
I'll try work something out.

[2015-05-01 22:47] mholt commented on #5
Awesome! You got it. This is something that would make a great addition to any site.

There is a pretty popular indexing library called [bleve](http://www.blevesearch.com) that might be worth looking into.

[2015-05-01 23:13] mholt opened #35 "markdown: Custom templates and front matter"
Right now, the markdown directive only lets you specify CSS and JS files. It would be really useful to be able to specify a full page template like you can with the browse middleware.

Markdown should also be expanded to support front matter that contains metadata, etc... it could be used to fill template values and render the page.

[2015-05-02 00:38] pedronasser opened #36 "Middleware Management and Organization"
I know @mholt is already working on a new way to create and import caddy's middlewares. But I'm here to open a discussion about something related to that.

I would like to leave here some statements (my opinion) for each topic.

## Core middleware

- Each core middleware should have it's own repository on github.

- The core should, for default, import only **essential and very common middlewares*

[2015-05-02 10:57] mschoebel opened #38 "gzip middleware does not adapt Content-Length header"
Hi,

I have a simple server listening on port `9000`:

[code]

Caddy forwards requests and gzips responses:

[code]

For the URL `http://localhost:8000/test` Chrome says `ERR_CONTENT_LENGTH_MISMATCH`.

[code]

It looks like the `Content-Length` header value from the backend response (`proxy` middleware) is not adapted by the `gzip` middleware. In this case (string `test\n`) the `Content-Length` sh

[2015-05-02 13:25] mholt commented on #38
Was able to reproduce this. The gzip's ResponseWriter calls an underlying Write method, which returns:

`0, "Conn.Write wrote more than the declared Content-Length"`

Still not 100% sure why this is happening. (I hope that we don't have to buffer the proxy's output, then write it out ourselves...)

[2015-05-02 13:39] mholt commented on #38
Okay, so the httputil.ReverseProxy type has a [ServeHTTP](http://golang.org/src/net/http/httputil/reverseproxy.go?s=2744:2819#L93) method that copies the entire header, including Content-Length. Then it immediately writes the response. Of course, by the time the response would be written and gzipped, Content-Length is already set.

Currently looking into a way of fixing this without copying the en

[2015-05-02 13:46] mholt commented on #38
I love Go. What a simple way to fix this.

[code]

@mschoebel Can you add these lines at [line 66](https://github.com/mholt/caddy/blob/9df9ad975d53db20f665787bd7c41a4ae4b094e1/middleware/gzip/gzip.go#L66) of gzip.go and confirm that it's working? Both your proxied pages and non-proxied pages, just to make sure I didn't break anything. But it all seems to be working here.

[2015-05-02 14:31] abiosoft commented on #38
@mholt That works for me too

[2015-05-02 17:16] mschoebel commented on #38
Works great. :+1:

[2015-05-02 17:19] #38 closed

[2015-05-02 17:38] mholt commented on #38
Thank you for the clear report, and for trying the fix! Will be included with next release.

[2015-05-03 05:33] mholt commented on #4
This is nearly complete on my private branch. Still have to bring everything full circle and add tests (much easier now!) but preliminary results look great. If all goes well, here would be the report. You don't have to read this; it's mostly for historical purposes:

The middleware that Caddy uses are designed to be completely independent. As such, the New() functions - only ever used by Caddy -

[2015-05-03 05:43] lihuimail opened #39 "Add proxy_set_header"
To make proxy  more powerful,like ngnix:
proxy_set_header  Custom-Header       "my custom"

[2015-05-03 06:03] mholt commented on #39
This is a good idea. Maybe it could look like this:

[code]

Would anyone like to work on this? Should be pretty easy.

[2015-05-03 06:06] mholt commented on #39
Actually, hold up. I barely saw #40 which does this.

[2015-05-03 11:54] guilhermebr commented on #24
@gabrielarrais You can try this caddyfile?
[code]
Using proxy + tls works for me, please try this and see if works for you =]

[2015-05-03 14:03] mholt opened #42 "log, errors: Log file management"
Both the log and errors packages create log files. When the logs get really big, then what?

A middleware that creates log files should watch the size of the file (either by file size or number of entries - preferably file size) and gzip it when it gets large, and then start a new file. It could then keep only the last ~5 or so files to conserve disk space, purging the oldest ones when a new one i

[2015-05-03 18:20] redaready opened #44 "example for golang web framework"
could be good if there are some examples in tutorial for integrating the existing golang web framework like echo or martini

[2015-05-03 18:21] mholt commented on #44
Do you mean an example of using Caddy middleware in your own web application, or using Caddy as a web server in front of your Go web application?

[2015-05-03 19:28] redaready commented on #44
maybe the both, if Caddy has echo's router, it will become a very good application server too

[2015-05-03 20:56] mholt commented on #44
There is a brief [tutorial in the wiki](https://github.com/mholt/caddy/wiki/Using-Caddy-Middleware-in-Your-Own-Programs) that describes how to use Caddy middleware in your own applications. As for using Caddy to front another Go application, that's possible, but I haven't seen that happening yet. Anyone is welcome to write an example/tutorial for the wiki if you'd like.

And echo is a very good ro

[2015-05-03 20:56] #44 closed

[2015-05-03 21:01] avelino commented on #22
+1

[2015-05-03 21:18] avelino opened #45 "Add caddy on awesome-go"

[2015-05-03 22:01] nemothekid commented on #36
Not sure I agree on the core defaults. If the core only imports essential middlewares like gzip, browse, proxy, redirect, extension - why would anyone use caddy over nginx (which is better supported, has higher performance and more widely used)?

Consider someone who might use the `markdown` middleware. Assuming they are unwilling or unable to learn how to recompile caddy for this middleware the d

[2015-05-03 23:26] #45 closed

[2015-05-03 23:52] abiosoft commented on #35
These are my thoughts so far.

Support for front matters, both sitewide and each page. Example below.
[code]
* Front matter sample above specified in [TOML](https://github.com/toml-lang/toml) syntax. (debatable)
* Front matter can be embedded in a page by preceding and proceeding with `---` or in a separate file (see Caddyfile below).
* Title, multiple js and multiple css can be specified as shown

[2015-05-04 04:13] qq08420 commented on #42
As a user.Here is some problem.
1.How to use the route?Just like the keyword location in nginx...
location /xxx {
    root /xxx
}
2.When I use root and proxy as same time , the root will be failed
root /
proxy / http://xxxx

[2015-05-04 06:17] mholt commented on #35
Sure does. A few comments:

- I like that idea of templates. I'm wondering if we can extend it to allow a full HTML template page (like the `browse` directive does). That will allow the user to build in any JS, CSS, keywords, meta tags, etc, that they want to. But if they don't want to use a template, it'll still useful to have the css and js properties so they can at least specify a stylesheet or

[2015-05-04 06:44] abiosoft commented on #35
* It will support multiple types exactly like Hugo did, that was my first thought.
* I agree that specifying templates will be a better option.

I can start working on these now but I need three more clarifications.
* Should it still be possible to add css and js files from the Caddyfile since templates are now allowed and will include that already?
* I think it is more convenient for the user to

[2015-05-04 10:10] devil1591 commented on #23
I confirm that Caddy 0.5.1 fixes the index file issue.
My URL was entered with a trailing slash.
Here is my caddy.conf:
`192.168.10.66:80, 0.0.0.0:80
gzip
log logs/access.log
root apache2/htdocs
fastcgi / 127.0.0.1:9123 php {
    ext .php
    index index.php index.html
}`

I used both 0.0.0.0 and 192.168.10.66 because 0.0.0.0 wasn't working.

[2015-05-04 10:27] abiosoft commented on #23
@devil1591 glad to hear that. The are few new improvements to FastCGI middleware coming in the next release. Stay tuned.

[2015-05-04 12:21] #23 closed

[2015-05-04 12:29] mholt commented on #10
For anyone who is reading this thread who would like to contribute and is interested in cache middleware, feel free to pick it up - see the PR issue for details.

[2015-05-04 12:45] mholt commented on #35
- That is a good question. I am not sure actually... it sure is convenient to just specify css/js files this way if you want to use the default template, but if you want to specify your own template, the css/js properties take no effect because Caddy isn't going to modify your template. Maybe css/js and template should be mutually exclusive (neither or one, but not both)?
- Sounds great. To keep t

[2015-05-04 18:06] mholt commented on #3
Done via e4fdf171c773657f08ed79ab7dd17a3e9a8dcdb3

[2015-05-04 18:06] #3 closed

[2015-05-04 18:06] mholt commented on #4
Done via e4fdf171c773657f08ed79ab7dd17a3e9a8dcdb3

[2015-05-04 18:06] #4 closed

[2015-05-04 18:11] mholt commented on #20
@ianchen06 Are you still having trouble? If so, feel free to re-open this issue with more details. Thanks for your comments!

[2015-05-04 18:11] #20 closed

[2015-05-04 18:12] mholt commented on #19
Similar enough to #36 - so I will close this one to avoid confusion. Thanks again!

[2015-05-04 18:12] #19 closed

[2015-05-04 18:17] mholt commented on #21
@pix64 Anything else on this? If so, feel free to comment or re-open with more details.

(I can move my own question about hiding files to a different issue.)

[2015-05-04 18:17] #21 closed

[2015-05-04 18:19] mholt commented on #22
Also looking into integrating https://coveralls.io

[2015-05-04 20:25] guilhermebr commented on #7
Maybe this solve the problem? https://wiki.mozilla.org/Security/Server_Side_TLS#Go

[2015-05-04 20:32] j-mcnally opened #46 "Can the downloads page have a latest url?"
Would be nice if there was a url for latest build.

Right now I see like

/0.5.0/download.tar.gz

would be nice to have

/latest/download.tar.gz

This would ensure the heroku buildpack and docker container can always get the latest code without having to constantly update the buildpacks etc....

Thoughts?

[2015-05-04 20:52] mholt commented on #46
It's a good idea. How concerned are you about breaking changes? (i.e. major version bumps)

[2015-05-04 20:55] j-mcnally commented on #46
I dont know.... The main concern would be caddy being updated via the buildpack on a deploy right?

I think this is a valid concern but not sure how to address via heroku since build packs can't target branches / refs / or tags

[2015-05-04 20:56] j-mcnally commented on #46
perhaps supporting a  `.caddyversion` file in the repo to pin to a version would fix this.

[2015-05-04 21:04] joeblew99 opened #47 "Quic"
It would be amazing if quic protocol was envisaged. I am currently playing around with this and its astounding for RTC style interaction.

The current c code in google chrome could be codegened to go perhaps.

[2015-05-04 21:55] mholt commented on #47
Yes, definitely. I've been following the development of the QUIC protocol closely. Unfortunately no public libraries exist for it in Go yet that would be suitable for Caddy. I was looking at the C code and thought about porting it to Go, but I don't have enough time/experience right now to do it.

How able and interested would you be in looking into this?

[2015-05-04 21:57] mholt commented on #46
Hm, I don't see that GitHub supports anything like this so I might have to roll my own anyway.

How about a major version in the URL? Something like: /download/1/latest or /download/2/latest

[2015-05-04 22:03] joeblew99 commented on #47
I could probably work it out. A bit of code gen too because its a huge code base. Its a buggy job to port even then. So right now I have to say no. I am working on the media streaming aspects and octree encoders that will run on top of quic currently, so also can't drop it - otherwise people get pissy :)

Idea though !!
You can also just use the google quic code today in caddy by just running quic

[2015-05-04 22:34] j-mcnally commented on #46
Works for me, i'm still going to support some sort of setting for the user to specify a pinned version i think, but would be super helpful to be able to get the latest somehow. Even if its just a text file with a url in it.

[2015-05-05 09:21] Alber70g opened #52 "Windows: factcgi /php php Bad Gateway 502"
I've tried to get a php Hello World running but all I get is a 502 Bad Gateway. Markdown does actually work.

Caddyfile
[code]

Inside /php I have `index.php` with html and php.

Access log is filling nice when navigating to `/md`.
Error log is empty when the 502 occurs.

[edit]
Or am I understanding it wrong and Caddy is only the proxy to the fastcgi server?
[/edit]

[2015-05-05 11:14] abiosoft commented on #52
According to your Caddyfile.

navigating to `/md` will be handled by markdown
navigating to `/php` will be handled by fastcgi with php.

On which path are you getting 502 ?

[2015-05-05 11:28] Alber70g commented on #52
@abiosoft I'm getting the error on `/php`.

[2015-05-05 11:33] abiosoft commented on #52
@Alber70g What port is fastcgi running on ? You need to have php-cgi.exe running.
Then modify you Caddyfile to include the port.
[code]

[2015-05-05 12:03] Alber70g commented on #52
@abiosoft Thank you! I've got it running now. I din't have a port specified when starting `php-cgi`: `php-cgi -b 127.0.0.1:9000`.

[2015-05-05 12:09] abiosoft commented on #52
Glad its working now.

[2015-05-05 12:32] guilhermebr opened #53 "crypto/tls ciphers and protocol version supported"
By default crypto/tls use TLS1.0 as min_version protocol supported, and if not specified, all ciphers implemented in https://github.com/golang/go/blob/master/src/crypto/tls/cipher_suites.go#L75-L93

For compatibility maybe we can set min_version to SSL3, but accept both SSLv3 and TLS1.0 has security issues, like the POODLE attack (https://www.openssl.org/~bodo/ssl-poodle.pdf)

Accept all ciphers a

[2015-05-05 14:01] #24 closed

[2015-05-05 14:21] mholt commented on #52
Pro tip:

[code]

In your Caddyfile will launch php-cgi when Caddy starts. You can also turn it off in a similar way with the `shutdown` directive.

[2015-05-05 15:17] Alber70g commented on #52
@mholt Yes, thats what I thought aswell, but that isn't working. It totally doesn't do what it should. It seems like it stops sending requests anywhere, or it stops starting.

Current config:

[code]

What I see is the following:

- php-cgi starts (is visible in the task manager: `php-cgi -b 127.0.0.1:9000`

So php-cgi starts seemingly correct. But after that nothing works. I get `ERR_CONNECTION_R

[2015-05-05 15:39] mholt commented on #52
What does your error log say?

(Also, you don't need `ext .php` in the fastcgi block - that's already set when you specified the `php` preset)

[2015-05-05 16:04] Alber70g commented on #52
The error log is empty. And I've downloaded it from the website.

[2015-05-05 16:15] mholt commented on #52
Okay. Are you loading "localhost:2020" or "127.0.0.1:2020"  in the browser? Try both and let me know.

[2015-05-05 16:39] Alber70g commented on #52
I'm trying both. They don't show anythign and give no errors in the error log

[2015-05-05 16:41] mholt commented on #52
Phooey. Can you strip everything out of your Caddyfile (except the first line) and try it? Then add in one line at a time, retrying each time. And report back which line causes it to stop working? This will help us track down where I need to add some trace statements for a verbose/debug mode.

[2015-05-05 16:45] Alber70g commented on #52
Only
[code]
*Gives:* `No such host at 127.0.0.1:2020`

[code]
*Gives:* `ERR_CONNECTION_REFUSED`.

I'd say this should be enough. Everything I add after will result in `ERR_CONNECTION_REFUSED`.

When I start it separately it runs. Maybe because the `startup` is blocking, it just stops after running that command. Is there a way to start `php-cgi` silently/non-blocking?

[2015-05-05 16:53] guilhermebr commented on #53
My opnion:

By default: Secure
i.e: min_version tls1.1
weak ciphers disabled

tls options:
[code]

[2015-05-05 16:57] Alber70g commented on #52
I was thinking that would be the problem. So I found a small tool to start php-cgi non-blocking. http://wiki.nginx.org/PHPFastCGIOnWindows here is a tool mentioned called `RunHiddenConsole.exe` which can be used. Config looks like this now

[code]

[2015-05-05 16:59] mholt commented on #52
That would do it, indeed. There isn't currently a way to run a command in the background, but there needs to be. I'm working on that right now, so you don't have to use an external tool.

When this is done today, you can suffix the command with `&` (like in Linux) to run it in the background, for example:

[code]

(I'm also eliminating the need for the quotes)

[2015-05-05 17:02] Alber70g commented on #52
Ah that would be awesome indeed. If you want I can do further testing when it's finished :+1:

[2015-05-05 17:03] mholt commented on #52
Excellent. Would you like me to send you an updated binary or do you have Go installed?

Thanks for your help, by the way.

[2015-05-05 17:04] Alber70g commented on #52
I can install Go and create my own binary for Windows. It shouldn't be too much hassle. If you can easily provide a birnary that is also nice.

[2015-05-05 17:12] mholt commented on #52
I've just pushed the fix. Here's a modified binary for you (I will delete it after today): https://drive.google.com/file/d/0B-OxZ0LoeTvGR2NpWDNNVk1pN0U/view?usp=sharing

[2015-05-05 17:16] Alber70g commented on #52
[code]
2015/05/05 19:15:04 GetFileInformationByHandle /dev/stdin: The handle is invalid.

[2015-05-05 17:23] mholt commented on #52
Okay, I've added stdin: https://drive.google.com/file/d/0B-OxZ0LoeTvGUndfTTNfNG93ckE/view?usp=sharing

[2015-05-05 17:27] Alber70g commented on #52
I'm getting the same error now.

[2015-05-05 17:33] Alber70g commented on #52
I got it running from source now so you can just push changes. I assume I need to do `go get github.com/mholt/caddy` to get the latest version? Is that correct?

And then `go install` and run the `caddy.exe`.

[2015-05-05 17:47] mholt commented on #52
@Alber70g Can you replace [this line](https://github.com/mholt/caddy/blob/33786408f0b1490ed20b867f123b6415312fae30/config/setup/startupshutdown.go#L43) with:

[code]

Then you can just do `go run main.go` from the project directory to build and run it right away. Does that fix it?

[2015-05-05 17:52] Alber70g commented on #52
Nope, doesn't fix it. Get the same error.

[2015-05-05 17:54] mholt commented on #52
Geez. What if you put a string in there like "Hello world" or something? I'm trying to determine why Windows thinks it's being given an invalid Stdin...

[2015-05-05 17:57] joeblew99 opened #54 "Suggestion: RPC library"
https://github.com/grpc/grpc-go

It will provide language agnostics and a solid performance RPC base that looks like it will last a good while.

The IDL aspects will possibly supply transport agnostics too, but I have not dug deep enough on that yet

[2015-05-05 17:58] Alber70g commented on #52
Could it have to be something like this (it's Python but has to do Windows handles Stdin: https://bugs.python.org/issue3905)

[2015-05-05 18:20] Alber70g commented on #52
String in there doesn't gives an error. If you ment to do just `cmd.Stdin = "sdf"`:
[code]

[2015-05-05 18:24] mholt commented on #52
Sorry, I meant inside `strings.NewReader("")`

Like this: `strings.NewReader("Hello world")` - and that works, you say?

[2015-05-05 18:28] Alber70g commented on #52
In the `strings.NewReader("Hello world")` gives the same `The handle is invalid`.

Maybe this will give some sort of a solution: http://stackoverflow.com/questions/23166468/how-can-i-get-stdin-to-exec-cmd-in-golang

[2015-05-05 21:51] mholt commented on #27
@ciarand This fix will go out at the next release.

[2015-05-05 22:07] mholt opened #55 "Should 127.0.0.1 = localhost?"
When specifying a server address in the Caddyfile, should 127.0.0.1 be interchangeable with localhost? Right now, you'd have to specify both in the Caddyfile for the clients to be able to use both when making requests. Sometimes that's annoying.

`localhost` isn't always the only hostname to map to 127.0.0.1. I do believe that `localhost` is always 127.0.0.1 but I'm pretty sure the other way aroun

[2015-05-05 22:38] abiosoft commented on #55
I would not totally agree to that and the reason is you can edit your hosts file and replace localhost.

What I would suggest instead is to add a condition that if a resolve of `localhost` gives `127.0.0.1` then allow it.

[2015-05-06 00:23] j-mcnally commented on #55
I say no, while its a convetion its very much os / system specific, the only reason, 127.0.0.1 == localhost is because DNS / Posix host file says so. If someone remapped localhost for what ever reason it would return an unexpected behaviour.

I agree with @abiosoft

[2015-05-06 00:25] j-mcnally commented on #55
In ipv6 only systems, it also is not true.... because it equals `::1`

[2015-05-06 01:20] mholt commented on #55
Okay, sounds good to me. Both your points make sense, and I like the simplicity of not having to deal with the special case.

[2015-05-06 01:20] #55 closed

[2015-05-06 01:22] ciarand commented on #27
Sounds great, thanks @mholt!

[2015-05-06 03:45] mholt commented on #52
Okay, so the bug is not coming from the startup directive. I was able to reproduce this with help from a friend who has Windows and even without a Caddyfile, the same error was printed at startup. The error is actually coming from [here in main.go](https://github.com/mholt/caddy/blob/70d6caf95bc501fe8579097365eba23f557c9a12/main.go#L108-L111).

On Windows, when there is no data piped to Caddy, it

[2015-05-06 04:59] mholt commented on #22
Okay, using Travis CI. Thanks for the suggestion @groob!

[2015-05-06 04:59] #22 closed

[2015-05-06 05:56] mholt commented on #53
This is on the right track. The syntax you've proposed seems pretty good although the ciphers might be space-separated instead of colon-separated?

The default behavior of Caddy must strike a good balance between compatibility and security. As such, I think we should first agree on some solid defaults. Here's what I've come up with so far.

- Session caching: Yes - this is already done thanks to y

[2015-05-06 06:45] Alber70g commented on #52
Nice that you found that out. I'll just wait until you have a new version ;). I'm not good enough in Go to try things out myself. I really appreciate that you are so fast responding. Thanks a lot.

[2015-05-06 15:00] curiouseag opened #57 "hosting subdirectories"
I have a question.

Is it possible to host multiple sites in subdirectories?

www.XYZ.com
www.XYZ.com/blog
www.XYZ.com/owncloud
www.XYZ.com/.....

[2015-05-06 15:08] abiosoft commented on #57
@curiouseag Sure you can. Are you having any issues ?

[2015-05-06 15:27] curiouseag commented on #57
no I just did not found an example in the documentation.
I am newbie to hosting. I played with nginx and apache.
I like nginx more but I did like to use a simple web server.
Caddy looks really good. I just need examples to be able to
understand how it works.

I am going to use nginx for now. More resources.
But I keep an eye on this one ;)

[2015-05-06 15:28] mholt commented on #52
@Alber70g No problem - I got a Windows VM running and was able to, I think, find a cross-platform solution to the problem. Would you please pull the latest (`go get -u github.com/mholt/caddy` should do it) and see if it works?

If not, ensure that lines 106-108 of main.go look exactly like this:

[code]

[2015-05-06 15:35] mholt commented on #57
@curiouseag Thanks for your question - it's good to know what we can improve on. I agree that more examples are needed.

I'd like to know what you're trying to do exactly. Do you mean that all your sites have the same domain name? Can you clarify what you mean by "multiple sites in subdirectories"?

[2015-05-06 16:07] curiouseag commented on #57
Sure. I am no native speaker. I mean multiple services.
I did like to keep my main domain free, let's say www.example.com
I want to host owncloud at www.example.com/owncloud and
wordpress at www.example.com/blog
and so on.
I have a few services in mind. Email hosting and music streaming too.

That all sad. I am newbie to hosting. SECURE hosting.
With nginx you can configure everything wrong....
I

[2015-05-06 16:15] mholt commented on #57
:+1: Totally agree. Thanks for the explanation.

I've never used owncloud, but here's an example Caddyfile that might be close to what you want:

[code]

[2015-05-06 16:30] curiouseag commented on #57
thx for the example.
I am going to try https://yunohost.org
Hope it works for me.
I will follow caddy's development. Its an awesome project.
I think you should email the developers of https://yunohost.org one day.
Would be awesome to have a simple webserver and a gui for deployment.

[2015-05-06 17:19] mholt commented on #57
Cool, good luck - feel free to reopen this issue if you still have questions about this. (And I'll check out that web host.)

[2015-05-06 17:19] #57 closed

[2015-05-06 19:00] guilhermebr commented on #53
Nice @mholt !

I agree about not support SSLv3, but my concern is with freedom of choice, if for some reason I need use SSLv3, maybe for a legacy device or a test case... I think user can have this choice... maybe we change the option name to something like unsecure_SSLv3, then user need to explicitly select the choice and are advised that this option is not secure...

some statistics:

from: http

[2015-05-06 19:08] guilhermebr commented on #53
[code]

[2015-05-06 19:14] mholt commented on #53
:100: That's super-useful, thank you.

Okay, perhaps we can allow the user to force SSLv3 by specifying it in the protocol list, for compatibility. But with a notice in the documentation that the cipher will be removed from Caddy in a future version. (In fact, any of the ciphers or protocols are subject to removal from Caddy at any time.)

You want to draft a PR?

[2015-05-06 19:33] guilhermebr commented on #53
Perfect @mholt!

Sure! I'll send a PR soon as possible =]

[2015-05-06 23:15] mholt commented on #8
@kelseyhightower Okay, I'm starting on this. When you say "add and remove backends" are you referring to the proxy directive? What's on your API dream list?

[2015-05-07 05:46] hunter commented on #42
It would also be useful to have logging to stdout/stderr for the use in Docker containers.

[2015-05-07 05:49] mholt commented on #42
@hunter I just realized I forgot to document this, but you can actually specify `stdout` or `stderr` as the log filename.

[2015-05-07 07:38] Alber70g commented on #52
I'm currently not on my own machine where I have go installed. So could you send me the binary?

[2015-05-07 08:45] hunter commented on #42
Excellent! Good to know :)

[2015-05-07 09:32] Alber70g commented on #52
Awesome! It's working fluently now :) Thanks a lot. I really appreciate your fast response!! Awesome!

[2015-05-07 12:45] #52 closed

[2015-05-07 12:46] mholt commented on #52
Cool - thank you so much for your help and patience!

[2015-05-07 13:40] abiosoft commented on #35
Almost done with this, remaining some more code documentation/refactor and tests. Anyone not willing to wait can build from my fork.

TOML, YAML and JSON metadata are supported in each Markdown page.
Variables can be added to metadata and are accessible in a template using Go's template syntax `{{ .variable }}`.

TOML
[code]
YAML
[code]
JSON
[code]
templates can be added to Caddyfile via **templat

[2015-05-07 13:44] el3ctro- commented on #12
Hi,

I have some questions regarding adding HHVM.  It looks like it is largely written in C++, so how would we include it with Caddy and still have Caddy be cross platform for all the currently supported operating systems?  Are you suggesting to to gather binaries of HHVM and include it with each version of Caddy?  The other option is to have the user compile it them self.  How were you imagining

[2015-05-07 13:50] mholt commented on #12
We would need to use a pure Go library to build HHVM into Caddy for exactly that reason; I was under the impression there was some other way to bind to an external HHVM process - but it does appear that FastCGI can do that already.

[2015-05-07 13:50] idawes opened #59 "Allow Sourcegraph browsing"
Would be nice to be able to browse Caddy source using sourcegraph...

https://sourcegraph.com/github.com/mholt/caddy. (It should only take 30 seconds.)

[2015-05-07 13:52] zorrobyte commented on #12
My two cents,

HHVM is a “nice to have” as in it works very well for most things but fails at certain other things, see http://hhvm.com/frameworks/ <http://hhvm.com/frameworks/> . You are right, it isn’t cross platform and adds complexity however, I did mention it for Caddy as it can go far as to help popularize your platform as many others do not currently offer HHVM/Hack integration. I suppose i

[2015-05-07 14:14] mholt commented on #59
Oops, I think I borked it: https://sourcegraph.com/github.com/mholt/caddy/.builds/2266962

[2015-05-07 14:18] mholt commented on #59
Ah, there we go. https://sourcegraph.com/github.com/mholt/caddy/.builds/2267028

Thanks for the suggestion!

[2015-05-07 14:18] #59 closed

[2015-05-07 14:19] idawes commented on #59
Awesome!

[2015-05-07 14:51] lunny opened #60 "How about the performance vs nginx?"
It's a new great product about Golang. But I want to know how about the proformance with nginx?

[2015-05-07 15:38] mholt commented on #60
That's ultimately for you to decide. Web servers are complex enough that benchmarks measure configuration and the host system itself more than code performance. That is, for benchmarks which measure req/sec.

There are unit-level benchmarks which are much more telling, but these can be less useful when you want the big picture.

However, because this is a common question, I've published some [very

[2015-05-07 17:59] #60 closed

[2015-05-07 20:07] mholt commented on #46
I'm working on this - also, does it have to be .tar.gz? I'd rather just do .zip :smile:

[2015-05-07 20:18] j-mcnally commented on #46
Zip is fine :)

[2015-05-07 20:28] j-mcnally opened #61 "Improve Test Coverage"
Looking at https://travis-ci.org/mholt/caddy it seems a lot of middleware is currently untested?

Is this true?

I am currently learning go, and this could be a good way to cut my teeth.

[2015-05-07 20:37] mholt commented on #61
Yes indeed. You are _more_ than welcome to write tests. I'm actually writing an example test file for the rewrite middleware right now (because it's simple, a good starting point).

[2015-05-07 20:56] mholt commented on #61
@j-mcnally See b2ee6638e46973e6d0cf00ece0dbbc08947557fd

[2015-05-08 05:36] mholt commented on #29
Well, I've got good news for you @gabsoftware. I was talking to someone over dinner tonight who mentioned that CGI isn't always bad - it's fine if you're just making requests once in a while; for him, a valid use case is to only have to make CGI requests a few times per day. (Obviously, CGI isn't so great when every user spawns a process.)

So do you need it to work just like the FastCGI one, with

[2015-05-08 08:27] jordic opened #63 "middleware.Path /test matches /test2."
At least at basicauth the behaviour for Path.Matches should be different.

/test matches /test2 .. But I think is not the desired behaviour.

https://github.com/jordic/caddy/blob/path_matcher_bug/middleware/basicauth/basicauth_test.go#L13-L59

For the basicauth middleware, /test should not match /test2 because they can be distinct folders.  I don't know if this must be fixed, inside the auth modul

[2015-05-08 12:25] mholt commented on #63
This is expected. Use /test/ to match just the /test/ folder and /test2/ to match the /test2/ folder.

[2015-05-08 12:53] stanislavromanov opened #64 "Make it possible to remove headers"
Right now you can only add and overwrite headers using `header / Key Value`.

What if I want to remove a header? Can we add something that will remove header e.g. `-header / Server` so I can remove headers that are being sent by server or application?

Line in question would probably be: https://github.com/mholt/caddy/blob/master/middleware/headers/headers.go#L25

Function in question would probab

[2015-05-08 13:54] mholt commented on #64
I agree we need this feature. We can't change the directive name (well, we could allow "-header" but I'm not fond of changing the parser for that) - so what about something like `header -Server` or `header Server -`? (The first won't allow us to set header fields starting with `-` and the second won't allow us to set header fields with a value of `-`.) - do you have a preference either way?

[2015-05-08 13:57] abiosoft commented on #64
I'll go with `header -Server`

[2015-05-08 14:07] jpoehls opened #65 "Backslashes in startup directive on Windows"
I tried using backslashes in my startup directive but it appears they might need escaped?
`startup "C:\php\php-cgi.exe -b 127.0.0.1:9123 -c C:\php\php.ini" &`

Error:
`exec: "C:phpphp-cgi.exe": file does not exist`

Seems like unexpected behavior to me but if it must remain it should definitely be documented.

[2015-05-08 14:14] stanislavromanov commented on #64
`header -{key}` sounds perfect to me.

[2015-05-08 15:11] cbess commented on #64
As another option, what about using `~Server`? The ~ seems to be used to negate (bitwise operations).

[2015-05-08 15:35] stanislavromanov commented on #64
Okey, I will implement this feature this evening. I already tested on local and it works for me. Just need to do some more tests and make a pull requests.

[2015-05-08 15:52] stanislavromanov commented on #65
Did you try `C://php//php-cgi.exe`?

[2015-05-08 16:01] jpoehls commented on #65
Sorry, I had a typo in my original. Using single backslashes (`\`) causes the error. If I double them `\\` it makes no difference. If I use forward slashes it works fine (`/`).

[2015-05-08 16:09] mholt commented on #65
It's a bug in the lexer when the string is quoted. I'll fix that today.

[2015-05-08 16:11] mholt commented on #64
@stanislavromanov Thanks! That's looking good.

@cbess You're right, to us programmers, the ~ is a natural 'negation' operator. However, Caddy's audience is also for non-programmers. I'm still not sure this syntax is perfect, but it is concise, and I think a minus is a little more intuitive than a tilde.

[2015-05-08 16:22] cbess commented on #64
@mholt Understood. I guess I see it as for dev it will have a double meaning and thereby (hopefully) easier to remember. For non-programmers, its still a single char, they won't know the difference. Either way great job with the server.

[2015-05-08 16:32] #65 closed

[2015-05-08 16:55] stanislavromanov commented on #64
We can change `-` to `~` very easily. Just need to make up our minds, merge and then we can update documentation on the next release.

[2015-05-08 23:26] #64 closed

[2015-05-09 01:06] alixaxel commented on #64
Awesome. :)

[2015-05-09 01:12] alixaxel commented on #8
@alfonsodev Just because I know you'd :+1: this.

[2015-05-09 06:22] jordic commented on #63
Substring the non overlapping part:
/test, /test/1 -> /1 (Contains a "/", is a subfolder)   MATCH
/test, /test/ -> / MATCH
/test, /test2 -> ( Dosen't contains a "/" is a distinc file) DON'T MATCH
/test, /test.txt -> ( Dosen't contains a "/" is a distinc file) DON'T MATCH

This is a first aproach, but i will need to try it and write tests for it.. just to ensure that it works, and I'm not missing s

[2015-05-09 06:23] mholt commented on #63
I see, so basically, if the user didn't end the "from" argument with a `/` then do it for them and *then* do the matching. (Did I get it right?)

[2015-05-09 06:26] jordic commented on #63
No, because if you do it for them, and the user wants to match a file not ended with /, it will fail.
Better to substring and check if substring begins with "/"

[2015-05-09 14:56] mholt commented on #46
Alrighty - these should always give you the latest: https://caddyserver.com/...

- /download/win64
- /download/win32
- /download/mac64
- /download/mac32
- /download/linux64
- /download/linux32
- /download/linuxarm
- /download/freebsd64
- /download/freebsd32
- /download/freebsdarm
- /download/openbsd64
- /download/openbsd32

If you'd prefer something else, let me know. And if these ever will change

[2015-05-09 14:56] #46 closed

[2015-05-09 15:17] mholt commented on #35
Closed with #68

[2015-05-09 15:17] #35 closed

[2015-05-09 15:33] mholt commented on #63
As per our discussion in Slack, we decided to leave it the same for now because of the flexibility in matching multiple files/directories at the same level that may be related (e.g. "/foo" matches "/foo", "/foobar", and "/foobaz") - but the user can exclude those and specify a particular directory by suffixing the path with `/` - in other words, `/foo/` will only match things inside the "/foo" dir

[2015-05-09 19:10] #63 closed

[2015-05-11 13:47] gabsoftware commented on #29
Yes, that would be great :)

CGI is obviously outdated and we should avoid to use it, but still, supporting it would help a lot of website to migrate to your web server ;-) Although, as I said, I could fix my issue using the Proxy directive.

By the way, I had a look at the code of the FastCGI module and I have to admit that I had no idea about how to use it as a base for simple CGI.

Thanks for h

[2015-05-12 18:15] mschoebel opened #72 "Markdown: 500 for YAML metadata"
I played around with the markdown middleware:

Template (`default.html`):

[code]

Caddyfile:

[code]

Test markdown file `test_yaml.md`:

[code]

Result when accessing `http://localhost:8000/test_yaml.md` is `500 Internal Server Error`. There is an entry in `error.log` saying: `[PANIC /test_yaml.md] src/github.com/mholt/caddy/middleware/markdown/process.go:66 - assignment to entry in nil map`.

T

[2015-05-12 18:33] mholt commented on #72
(Known issue - the line number in the panic message is +2 the actual, so line 64 is actual source of panic.)

I thought I fixed this with commit 8ea98f8cced70bffa8a9c7b6e13cfde81b950498 - have you pulled the latest recently?

[2015-05-12 20:42] mschoebel commented on #72
Unfortunately, I get the described effect with the latest HEAD ...

I added debug statements to the `load` method (`metadata.go`) ...

[code]

... and get the following output:

(YAML)
[code]

(TOML)
[code]

` yaml.Unmarshal` (in `Parse` of `YAMLMetadataParser`) seems to return something unexpected.

I might have some more time tomorrow for more debugging.

[2015-05-12 21:54] abiosoft commented on #72
Thanks for testing this out.

I have seen the issue, the fix should be out soon.

Firstly, the YAML syntax used for variables `-` is  for an array and not an object. Only indentation is the requirement for a nested objected.

Should be
[code]

Secondly, the yaml package decodes into a `map[interface{}]interface{}` and I was assuming a `map[string]interface{}`.

Thanks.

[2015-05-13 00:06] abiosoft commented on #72
@mschoebel The fix has been merged. Let us know if it works now.

Thanks.

[2015-05-13 10:13] Immortalin opened #74 "Remove gzip from default config in quick start guide"
Hi, it would be prudent to remove gzip from the default quick start guide as it is vulnerable to [this](breachattack.com/), more information and discussion [here](https://news.ycombinator.com/item?id=9532978).

[2015-05-13 14:07] mholt commented on #74
I appreciate the abundance of caution, so thanks for the suggestion. CRIME exploits TLS compression which Caddy does not use, and neither do most major browsers. [It is not likely that Caddy servers are vulnerable to CRIME](https://community.qualys.com/blogs/securitylabs/2012/09/14/crime-information-leakage-attack-against-ssltls) At least, I have yet to discover otherwise.

[2015-05-13 18:46] mschoebel commented on #72
Works. :+1:

YAML is weird.

[2015-05-13 18:46] #72 closed

[2015-05-14 09:21] abiosoft commented on #30
I now have the need this and I think `path.Match` should be sufficient. I will try to look into this.

[2015-05-15 01:15] #74 closed

[2015-05-15 03:02] abiosoft commented on #30
This is what is in the works.

Regexp support for *rewrite* middleware. Not as robust as Apache and Nginx but a leap from current functionality.

Two types are now supported.
* Simple rewrite
* Regexp rewrite

#### Simple Rewrite
This is the current functionality. Same syntax
[code]

#### Regexp Rewrite
Syntax:
[code]
**basePath** - e.g. /home/blog will only rewrite for subpaths of /home/blog. Can

[2015-05-15 14:11] mholt commented on #30
Yeah, almost! I have a few suggestions.

1. Can we drop the "regexp" keyword? Maybe we could replace the "pattern" keyword with "regexp" in the block, but I don't see why it would be necessary to have both. If a block opens and they specify a pattern then it is a regexp.

2. What is the purpose of both ignoring extensions and matching them? Like !.html .txt, why not just say .txt?

3. Can we adopt

[2015-05-15 14:51] abiosoft commented on #30
@mholt I'm okay with 1 and 3. Regarding 2, a possible scenario is if you want to rewrite for all other extensions except the specified one.

[2015-05-15 17:21] abiosoft commented on #30
##### Update

Syntax:
[code]
Variables are now `{path}` and `{query}`.

[2015-05-16 05:28] cbess commented on #30
I personally think that having braces for the log is good, because its a string format. But, for the rewrite, because we are in a *code block* the dollar symbol makes a little more sense. Having curly braces inside of curly seems odd to me. However nginx, Apache, and lighttpd use the `$` prefix for vars in the configs.

[2015-05-16 14:43] brk0v commented on #30
Will it work with proxy middleware?

For example I want to proxy urls something like following:
[code]

With Caddyfile:
[code]

[2015-05-16 14:48] abiosoft commented on #30
@brk0v yes it will.

[2015-05-16 15:03] brk0v commented on #30
Awesome. I've made some hacks inside proxy middleware for this, but your realization looks better than mine =)

Thank you.

[2015-05-16 15:18] mholt commented on #30
@cbess I think the consistency is important. With the dollar sign, it's confusing to know sometimes where the variable name ends - it gets worse when variable names are substrings of others or followed immediately by a letter or number. Remember, too, that we're trying to do things differently than other web servers in an effort to break the mold a bit and keep things as easy as possible.

I'll lo

[2015-05-16 15:40] abiosoft commented on #30
@brk0v your Caddyfile however will be the following (after the PR is merged). Use `{file}` to append the filename.
[code]

[2015-05-16 19:08] cbess commented on #30
@mholt Noted. I concur that it may be confused with not knowing there the variable ends. We could make it more identifiable by using `${var}` or `#{var}` from other langs. But either way, I understand.

[2015-05-17 13:31] dngad commented on #47
+1 to this suggestion. Also glad @mholt is considering it.
If I'm not wrong the https://github.com/bradfitz wanted to implement it.

Then I also found this https://github.com/devsisters/gospdyquic

[2015-05-17 15:42] joeblew99 commented on #47
woooh. wow thats awesome

[2015-05-17 15:59] mholt commented on #47
Yeah,Brad is just waiting for the QUIC spec to become more stable. The devsisters library is neat but it uses cgo at this point which makes it unsuitable for this project.

[2015-05-17 16:37] joeblew99 commented on #47
the ball is rolling though... will be easier to do a conversion from this point

[2015-05-18 19:50] amerine commented on #8
@mholt I can't speak for @kelseyhightower but personally the top priority for me would be to remotely manage `proxy`, `tls` and `websocket`

[2015-05-18 20:46] gabsoftware commented on #30
Wow now this look interesting :-) Can't wait to try it!

[2015-05-18 20:48] abiosoft commented on #30
@gabsoftware if you are not willing to wait for the next release, you can build from source and try it right away.

[2015-05-18 21:10] gabsoftware commented on #30
@abiosoft Sure :) Will try during the week !

[2015-05-19 04:58] #53 closed

[2015-05-19 05:12] mholt commented on #8
Cool, I'll try to do those first. I'm cooking up some other neat things too thstnill be excited for you to try.

[2015-05-19 15:56] rande opened #79 "Timeout, max body size, etc ..."
Hello,

I cannot find any information about how to configure timeout, or max body size for an http request. These settings are quite important to avoid a DOS attack.

[2015-05-19 16:27] abiosoft commented on #79
Good point raised. I will have a look a see how best to implement them.

Thanks.

[2015-05-21 02:04] mholt opened #80 "Caddyfile doesn't accept IPv6 address without port"
A hostname like `[::1]` without a port (which is like `[::1]:1234`) should parse properly.

[2015-05-21 02:16] #80 closed

[2015-05-21 07:49] download13 opened #81 "proxy: Add websockets support to reverse proxy middleware"
Hey, I was trying to use Caddy as a reverse proxy for a few sites but some of them use websockets.

I'm not completely sure it can't do this, but I can't figure out how to make it. Adding ws:// in front of the upstream endpoint just made it throw a 502 error.

It seems like the code to do this should go somewhere in the [reverseproxy.go](https://github.com/mholt/caddy/blob/master/middleware/proxy/

[2015-05-21 16:53] mholt commented on #81
You're right, Caddy can reverse proxy HTTP, but not WebSockets yet (not in the way you want to do it, but it can do WebSockets kind of like CGI).

@nemothekid What do you think would be needed to support proxying the ws protocol?

[2015-05-22 14:34] joeblew99 opened #82 "question about auto conf"
in my path i have the caddy executable.
/users/me/go/bin
on OSX

For general web site stuff i always want to have directory list on.
is there a way to have the caddy always look to the caddyfile configuration in the same folder that the caddy exe exists ?

this would then mean that whenever i type caddy in the terminal, it would always take on the conf file in the /users/me/go/bin

[2015-05-22 14:36] joeblew99 commented on #82
then if there is a caddfile config in the actual path i am on in terminal that would override the default.

is a good way to have a type of override i think.

so if not config path OR no caddy config file is at the actual path it uses the one where caddy exe is.

[2015-05-22 17:20] nemothekid commented on #81
I looked into and from what I can understand you could probably get websockets to "work" if you forwarded the `Connection` and `Upgrade` headers (just going off a quick skin of nginx's implementation). I don't have a WS enabled server to test it with right now, but a config like this:

[code]

*might* work. If that works (as in it handshakes and you can send data back and forth for 10 seconds), th

[2015-05-22 17:57] mholt commented on #82
The big problem here is determining from within the program, in a cross-platform way, where that specific instance of the executable lives.

There are 3 ways of giving Caddy a configuration; they are tried in this order:

1. -conf flag
2. Pipe to stdin
3. Caddyfile in the current working directory

Would -conf or piping it in work for you instead?

[2015-05-22 18:01] mholt commented on #79
[This discussion on HN](https://news.ycombinator.com/item?id=9588178) has some great comments and resources related to rate limiting. It's not an easy problem, but it's obvious that people are still looking for a great solution. I think Caddy would do well to have both rate limiting and body size limiting sooner rather than later.

[2015-05-22 19:31] download13 commented on #81
I just tried using those settings but for some reason the `Connection` and `Upgrade` headers still aren't making it to the backend.

Also, after reading through the [go transport](https://golang.org/src/net/http/transport.go) code it seems like RoundTrips aren't meant to handle back and forth connections (or at least the default one isn't). They just make a request and then return the response. I'

[2015-05-22 19:53] nemothekid commented on #81
The Connection and Upgrade headers get stripped out [here](https://github.com/mholt/caddy/blob/master/middleware/proxy/reverseproxy.go#L117), but should get reset again [here], which should mean the headers get passed to the backend. I erroneously put `proxy_set_header` in my previous comment, those should be `proxy_header`. I would make sure first that the headers are actually being sent (even if

[2015-05-22 20:11] download13 commented on #81
You're right, I tried it again with the right directives and it worked. The websocket connection goes through now, but it looks like it closes almost immediately after connecting.

[2015-05-22 20:41] jaredfolkins commented on #81
The proxy middleware appears to force HTTP 1.1, am I misreading something?

@download13 As a test, could you configure the server and force it to use HTTP 1.1 with the caddy file? That may keep the ws open.

[2015-05-22 20:55] download13 commented on #81
It does look like it forces HTTP 1.1.

Do you mean I should make the backend server use HTTP 1.1? It's a Node app using the standard http library so it should be using 1.1 already.

Or do you mean I should force caddy to use 1.1? It already appears to be doing that too, and I don't know of a directive that would change it.

[2015-05-22 21:01] jaredfolkins commented on #81
@download13 I was just suggesting forcing your entire stack to HTTP 1.1 for this test.

I don't know the directive but [here](https://github.com/mholt/caddy/blob/5f72b7438a7ebf6999f6f8c155a77becf0259bce/app/app.go#L37
) is the boolean for this.

In order for this middleware to play nice long term, there needs to be translations between the protocols.

https://nghttp2.org/documentation/nghttpx-howt

[2015-05-22 21:02] jaredfolkins commented on #81
Hah. Never mind that boolean :-) I didn't see the TODO.

[2015-05-22 21:07] jaredfolkins commented on #81
@download13 Caddy is in front of your nodejs app yes? I've fairly confident that Chrome or Firefox will initialize the connection using HTTP2.

So browser(http2)->proxy(http1.1)->nodejs(http1.1)->proxy(http1.1)->browser(http2)? Does that make sense? Nothing ever notifies the browser of the protocol change, hence the ws closes. Again, this is just a guess.

[2015-05-22 21:28] download13 commented on #81
I looked at the current HTTP2 sessions while using Chrome and my session with caddy doesn't seem to show up on it, so I think it's already using 1.1.

[2015-05-22 23:05] mholt commented on #81
HTTP/2 will only be used over HTTPS. And you can force HTTP/1 using the flag `-http2=false` - it's not something you can configure from the Caddyfile.

So anyway, at this point, it looks like we need a way to keep the connection open.

[2015-05-23 04:24] download13 commented on #81
I managed to get it working but I'm pretty sure it has bugs related to error, timeout, and close handling.

https://github.com/download13/caddy/commit/42e4782c4ae74f228335a1f1ce9af0c427d7a8f4

[2015-05-23 05:59] joeblew99 commented on #82
Neither work really.

But its no biggy.

[2015-05-23 06:00] joeblew99 commented on #82
Close this

[2015-05-23 15:19] #82 closed

[2015-05-23 15:20] mholt commented on #82
Sorry about that! I just don't know a clean way to do it. I still don't understand why you would put Caddyfile in your bin folder? If there is a legitimate use case that would be common, perhaps there is a way to make it work.

[2015-05-23 16:03] download13 commented on #81
@nemothekid I forgot to mention. If you need a websocket server to test on and have npm you can use `npm install -g wscat` to install wscat as a command line utility.

`wscat -l 8001` starts a listening websocket server
and
`wscat -c http://localhost:8000` connects to the reverse proxy (use your own ports obviously).

Though now that I think about it you could also just make a Caddyfile that does

[2015-05-23 18:02] joeblew99 commented on #82
Yeah its not obvious why.
Basically when developing on my laptop I always want the config properties
to be super open. When working on any front end stuff I can then just fire
up caddy from the command line and it would take on those default
properties.

Then when working where I need caddy to have more specific properties, I
would make a caddy conf file at the same folder i start caddy from.

Doe

[2015-05-23 18:21] mholt commented on #82
I see. That's closer to how nginx works. Caddy was designed to be more portable, separate from individual site configurations. You can still run Caddy like `caddy -conf=/users/me/go/bin/Caddyfile` to get what you want, right? Perhaps `alias autocaddy="caddy -conf=/users/me/go/bin/Caddyfile` to make it more convenient?

[2015-05-23 18:47] joeblew99 commented on #82
Ah I get it.
Did not know the alias trick :)

Thanks !!
On 23 May 2015 20:21, "Matt Holt" <notifications@github.com> wrote:

[2015-05-23 22:39] mholt commented on #81
@download13 This is a good start. I'll mark this as "in progress" so that we can work out the rest of the issues you mentioned and make sure that tests are added.

[2015-05-24 12:13] tatsuhiro-t commented on #81
Some clarification about WebSocket and HTTP/2.
Currently, there is no standard way to carry out WebSocket in HTTP/2.
HTTP/2 disallows connection upgrade, so you cannot upgrade HTTP stream to WebSocket inside HTTP/2 connection.  The discussion to enable WebSocket over HTTP/2 has been done quite sometime, but there is still no consensus and no implementation exists.
So I'm sure that web browser conn

[2015-05-24 17:11] joeblew99 opened #87 "setting up TLS and HTTPS"
Cant find how to set up the config file for this.

Sorry if this is somewhere but no luck so far.

[2015-05-24 17:14] joeblew99 commented on #87
ok found it...
On CaddfyConfig docs page

[2015-05-24 17:15] mholt commented on #87
https://caddyserver.com/docs/tls - just one line should enable https. Does that help?

[2015-05-24 17:21] mholt commented on #87
Ah, glad you found it!

[2015-05-24 17:21] #87 closed

[2015-05-24 17:22] joeblew99 commented on #87
wow thats quick Matt.

OK, from the folder that i have the caddyfile i ran: openssl req -newkey rsa:2048 -new -nodes -keyout key.pem -out cert.pem
--> Press enter for everything except CN, which is "localhost"

then I update the caddyfile with:
"
localhost
gzip
browse
ext .html
websocket /echo cat
log ../access.log
header /api Access-Control-Allow-Origin *
tls cert.pem key.pem
"

then from termina

[2015-05-24 17:27] joeblew99 commented on #87
Ok got it working.

No need to add the CN as localhost. Just hit enter on everything when the certs are being created.
too easy :)

[2015-05-24 17:28] mholt commented on #87
Using `openssl req` like that generates a CSR, not a certificate. Er, I think. Try this page for more info: https://www.openssl.org/docs/HOWTO/certificates.txt

[2015-05-24 17:29] mholt commented on #87
Okay, I guess that works then.

[2015-05-24 17:30] joeblew99 commented on #87
it works but i get these "strange" outputs form Caddy.
All i have to do is refresh a page

2015/05/24 19:29:23 error reading preface from client 127.0.0.1:59929: read tcp 127.0.0.1:59929: connection reset by peer

[2015-05-24 17:54] mholt commented on #87
That's normal with HTTP/2, for now. They should go away as the HTTP/2 library matures.

[2015-05-25 05:56] mholt commented on #81
Ah, that's right - I forgot about that. Fortunately, the HTTP version is a client choice, so we can probably assume HTTP/1 for now without having to worry about it.

[2015-05-25 21:57] fatih commented on #81
I wrote a websocket proxy based on gorilla, check it out for more info: https://github.com/koding/websocketproxy it's a http handler. Thought it's not HTTP2 compatible :)

[2015-05-26 05:22] mdwhatcott opened #91 "markdown: Listings for pages generated from markdown files"
For bloggers, generating a listing of the latest blog posts (either for the index.html page or the rss feed) is a must-have feature.

Hugo addresses this with [list templates](http://gohugo.io/templates/list/).

I imagine the markdown directive in the caddyfile would need another argument for specifying a template to use, which would contain a for loop for recent (or all?) posts. Pagination would

[2015-05-26 13:31] guilhermebr commented on #81
Nice, I can get this =]

[2015-05-28 20:17] acmacalister opened #93 "proxy: Custom Proxy Policy"
I have project I'm working on that would benefit from being able to write a custom policy for load balancing clients. Instead of reimplementing most of the proxy middleware, I thought it might be cool to allow implementing custom policies. It seems like it would be a pretty straight forward addition as it would just take a few tweaks to the current proxy package to allow someone to implement the `

[2015-05-28 20:22] acmacalister commented on #81
@download13. I'm working on a project that needs reverse proxying for WebSocket connections and I would like to use Caddy. I've done some work with WebSockets before and would be happy to help you get this added if that would be helpful.

[2015-05-28 21:34] nemothekid commented on #93
You should be able to do write custom policies today - what did you think was missing?

You can define your own [policy](https://github.com/mholt/caddy/blob/master/middleware/proxy/policy.go) by using the default implementation

your_file.go
[code]

[2015-05-28 21:40] acmacalister commented on #93
Agreed that was what I did. I also had to add another case in the switch statement it in the `NewStaticUpstreams` method in `upstream.go` to support defining my policy from a caddyfile. Maybe I'm missing something, but I was just thinking of a small tweak to avoid having to edit the proxy middleware source for each custom policy

[2015-05-28 21:42] acmacalister commented on #93
Exactly. That was what I was thinking. :smile:

[2015-05-28 21:46] nemothekid commented on #93
I agree.

It looks like we need to

1. Edit the `Policy` interface to have a `Name() string` function so policies can describe themselves.
2. Edit upstream.go to select from a list of Policies (`var supportedPolicies map[string]func() Policy`) that is populated by a `registerPolicy(string, func() Policy)` function

If you have already done it, you can submit a PR and wait for @mholt to approve.

[2015-05-28 21:47] acmacalister commented on #93
Agreed. That is what I working on currently. I will get the PR sent over shortly.

[2015-05-29 01:05] mholt commented on #81
I actually found myself needing this feature today. :smile:

[2015-05-29 04:30] download13 commented on #81
@acmacalister I don't really know go well enough to implement it safely, so if you want to take a crack at it I wouldn't mind.

[2015-05-29 04:34] acmacalister commented on #81
@download13 sounds good. I got a environment setup this evening. I will give it a go in the morning.

[2015-05-29 09:00] crossbreeze opened #95 "proxy: Strip path prefix when proxying requests"
Is it possible to strip the path when proxying requests?

for example, with this config

localhost:8080
gzip
proxy /api localhost:9999

and a request to http://localhost:8080/api/messages

the API server(on port 9999) receives the requests to /api/messages
I am not sure  if it's feasible to strip /api part from the path so that the api server would receive the request to /messages

[2015-05-29 12:45] coocood commented on #10
I just came across this thread and wondering maybe https://github.com/coocood/freecache can be used as cache middleware.

[2015-05-29 13:29] ApfelUser commented on #25
It would be nice if Caddy could proxy a mail server backend though.

[2015-05-29 13:54] mholt commented on #25
@ApfelUser Thanks for the feedback. Caddy is a web server, so I don't intend to support mail (SMTP) anytime soon. What did you have in mind, specifically (just curious)?

[2015-05-29 14:29] ApfelUser commented on #25
NGINX for example has an option to "proxy" an e-mail server. So it opens the standard ports for an e-mail server (25, 143, 995 ...) and is then proxying the requests to an backend of email servers. Kind of like proxying a NodeJS app.

[2015-05-29 14:57] mholt commented on #25
Noted; thanks for the expansion. We will see if Caddy's scope evolves over time.

[2015-05-29 15:28] mholt commented on #95
Nope. But I will take a look at implementing this (maybe after the other work on proxy is completed, to avoid merge conflicts - we'll see).

How about something like this to do what you want:

[code]

All this would do is a `strings.StripPrefix(r.URL.Path, without)` How's that look?

[2015-05-29 18:33] #93 closed

[2015-05-31 05:12] crossbreeze commented on #95
yeah that looks good.

[2015-05-31 11:28] okket opened #97 "TLS: Add client certificate authentication"
Please add client certificate authentication for TLS, because I'd really like to switch from Apache with mod_ssl (SSLVerifyClient / SSLRequire).

[2015-05-31 14:40] mholt commented on #97
On my list actually, as I needed this last week myself. :) Will look into this soon!

[2015-05-31 14:44] okket commented on #97
Great news. Thank you.

[2015-06-02 04:52] #81 closed

[2015-06-02 05:25] mholt commented on #97
#98 adds this feature

[2015-06-02 11:04] krists commented on #95
I would like to see this feature as well.

[2015-06-02 12:28] brk0v commented on #95
It looks like we should change code in ```NewSingleHostReverseProxy``` while creating Director function: https://github.com/mholt/caddy/blob/master/middleware/proxy/reverseproxy.go#L65

[2015-06-02 18:14] mholt commented on #97
That PR is now merged, and with 0.7.1, Caddy supports client authentication. As noted from the conversation in #98, some users would like the ability to specify individual client certs rather than just root CAs.

I'm not sure how to do this without dropping down to the transport layer, and I'm not sure if I'm ready to take the plunge yet. Anyone else is welcome to look into this if they want to.

[2015-06-03 01:26] nodesocket commented on #8
:+1: on a web-ui to configure and change common directives.

[2015-06-03 02:44] mholt commented on #8
I have refactored a good portion of the server code to allow another package (the API) to change it. So far, new servers can be started and I have a few endpoints wired up that both get and post middleware configuration.

There is still lots to do, but I hope we'll have something to show within a few weeks.

[2015-06-03 06:21] bigwhite opened #100 "Suggestion: Give caddy a default welcome page like "Caddy works!""
hi,
  when I first download caddy install package, unzip it, and execute "./caddy", it works. but when opening "localhost:2015", it display "404 not found " in my browser . This is not a good experience for caddy beginner. I suggest to give a default welcome page like "caddy works!" , just like apache2。

[2015-06-03 06:37] abiosoft commented on #100
Thanks, I thought of this as well. It is not a difficult task and we will work on it.

However, if you think you want to help us with this, feel free.

[2015-06-03 09:43] abiosoft commented on #100
After having a second thought on this, I do not think this PR (https://github.com/mholt/caddy/pull/101) is needed. Apologies.

As Caddy grows, we will eventually have setup scripts that will create default configurations and do other things like putting caddy in path and installing it as a service.

[2015-06-03 14:18] mholt commented on #100
Tony, thanks for your comments (and your pull request). I can see why a 404 message isn't the friendliest thing for beginners, so thanks for pointing that out.

I've given it some careful consideration and I think we should leave this as-is.

The fact that a 404 message appears already indicates that the server is responding to requests at that host and port, so it is working. I also don't think w

[2015-06-03 18:12] brk0v commented on #95
See pull request https://github.com/mholt/caddy/pull/102/

[2015-06-03 18:52] brk0v opened #103 "Radix tree or trie for matching urls"
Right now there is a very naive checks for matching request url. For example in proxy module:
https://github.com/mholt/caddy/blob/master/middleware/proxy/proxy.go#L62

This makes difficult to use such syntax:

[code]

What do you think about using here for matching radix or trie tree?

[2015-06-03 18:58] mholt commented on #103
Not opposed to it - that's why the Matches() function exists: so middlewares can match paths without worrying about how they are being matched. Right now it's juts a prefix match.

The bigger question is: What kind of path matching would you like to have? Sure, we *could* use a radix tree, but what are we trying to accomplish with it?

[2015-06-03 22:23] nemothekid commented on #103
I think what hes proposing the syntax would be the same - its just that, as it stands, prefix matching is too "dumb" to realize that it should route `/api/messages` to `http://127.0.0.1:1234`, not `http://127.0.0.1:8888` as what is done currently given OP's Caddyfile.

[2015-06-04 00:34] mholt commented on #103
I see what you mean now, you're right. Sorry @brk0v - ignore my previous comments, they are irrelevant. Since `/api/messages` is more specific than `/`, it should route to `http://127.0.0.1:1234`, not `http://127.0.0.1:8888`.

If I understand correctly, that specificity is what we are talking about, then yes, we can look at this. It says in the docs that the order of directives in the Caddyfile do

[2015-06-04 00:46] bigwhite commented on #100
Thanks for all comments for my issue and pr. caddy is a really easy to use. I will go on to focus the dev of caddy. Explanation in "getting started" page is a not bad idea, but I am still looking forward to a better solution for this in the future.  we all hope caddy become better and better.

[2015-06-04 01:24] mholt commented on #100
:+1: Definitely looking forward to your help!

I just made the change to the Getting Started page - it will go out with the next site deploy. I will close this issue, but have it noted for future consideration. Thanks!

[2015-06-04 01:24] #100 closed

[2015-06-04 05:05] Karthic-Hackintosh commented on #61
I'm keen on writing tests ..What would the best place to start writing tests ?

[2015-06-04 05:33] mholt commented on #61
@Karthic-Hackintosh Welcome! Any of the middlewares here: https://github.com/mholt/caddy/tree/master/middleware

Each middleware has an associated "setup" file that also needs testing: https://github.com/mholt/caddy/tree/master/config/setup - all these do is parse the configuration and set up the middleware so it's ready to use.

Those would be great places to start.

[2015-06-04 06:23] j-mcnally opened #104 "native Etcd support"
ive been working with Etcd a lot lately and it would be nice if caddy could be configured directly from it. The current solution is the same as nginx and Apache. Confd templates a new caddyfile and restarts / hups caddy. Would be nice to see our modern web server support this natively.

Zookeeper and consul would also be nice additions.

All the best.

[2015-06-04 07:17] GeertJohan commented on #104
Would like this too :+1:
Maybe a flag `--etcd-caddyfile-key` and `--etcd-address` and flags for ssl options etc.?
I would then just watch the given key, and the value is the caddyfile.
A change would have the same effect as editing the caddyfile on disk and restart/sighup caddy.

[2015-06-04 14:33] mholt commented on #7
I'm going to close this for now. I think it's out of our control which ciphers the clients/MITM support. And I haven't heard anyone else have the same problem.

[2015-06-04 14:33] #7 closed

[2015-06-04 14:35] mholt commented on #95
Merged that in - so this feature will be available with the next release (or now if you build from source).

[2015-06-04 14:35] #95 closed

[2015-06-04 17:47] krists commented on #95
@mholt Thanks!

[2015-06-05 01:10] crossbreeze commented on #95
Cool. @mholt @brk0v Thank you.

[2015-06-05 11:54] ApfelUser opened #106 "Feature Request: QUIC Protocol Support"
I'd love Caddy to support the [QUIC](https://en.wikipedia.org/wiki/QUIC) Protocol.

It seems that currently [QUIC](https://en.wikipedia.org/wiki/QUIC) doesn't have a lot of changes over [HTTP/2](https://en.wikipedia.org/wiki/HTTP/2), as they share the same [HPACK](http://http2.github.io/http2-spec/compression.html) and the same semantics layer. Instead [QUIC's](https://en.wikipedia.org/wiki/QUIC)

[2015-06-05 14:52] mholt commented on #106
Great suggestion! I've been keeping a close eye on the progress of QUIC - see issue #47 which also asks about this, and where I first answered about it. We may want to wait until the QUIC protocol is finalized (or nearly so). But don't worry, it's definitely a priority to add support for it as soon as possible.

Thanks for the link to that new QUIC library by the way - it definitely has a long way

[2015-06-05 14:54] mholt commented on #106
I'm gonna close this issue so we can keep the conversation in one place - feel free to continue discussing if needed in the other issue. Thanks!

[2015-06-05 14:54] #106 closed

[2015-06-05 14:56] mholt commented on #47
Will be watching the progress of this package (thanks @ApfelUser for the link) - https://github.com/romain-jacotin/quic - if the standard library gets one, we can just use that instead.

[2015-06-05 15:01] pastjean opened #107 "Feature: Reload Config on signal"
I'd love caddy to reload the config file when receiving a signal,

I would use caddy paired with [consul](consul.io) and hashicorp/consul-template to generate the config file and when something changes in consul the config file is regenerated, i would like to be able to tell caddy that it's config file changed and to reload it when this happens.

__Use case:__

- Consul in a docker container
- Con

[2015-06-05 15:04] pastjean commented on #107
Other service discovery tools have similar processes to configure services automatically, i think reloading the config file from a signal is a nice portable way to do it

[2015-06-05 15:11] mholt commented on #107
Glad you brought this up. Planning has already begun for this feature, including an automatic failsafe: Caddy will roll back to the last working configuration if the new one fails to start for some reason.

I like the signal idea - but which signal would be used that would work cross-platform? SIGINT and SIGKILL are the only two that are guaranteed to be present on any OS, and those terminate the

[2015-06-05 15:23] pastjean commented on #107
I don't know how they handle it with other web servers, would need to poke in code, or they communicate through an api (listening on another port with an external tool) or they send a signal.

Apache: https://httpd.apache.org/docs/2.2/programs/apachectl.html (graceful option)
Nginx: http://nginx.org/en/docs/beginners_guide.html

[From wikipedia](https://en.wikipedia.org/wiki/Unix_signal#SIGHUP)

*

[2015-06-05 15:58] pastjean commented on #107
In apache from `./include/mpm_common.h`
[code]

From mod_so.c
[code]

So I guess those 2 signals (HUP and USR1) are used. I've seen occurences where in windows they use something else

But i also like the idea of the rest api to control the server

[2015-06-05 16:22] mholt commented on #107
Would an API be compatible with the etcd/consul workflow? Or possibly a port where a file could be piped in? (I'm not a consul/etcd user so I have no idea.)

[2015-06-05 17:42] pastjean commented on #107
An API would indeed be compatible, consul, etcd have a lot of programs (consul-template , kelseyhightower/confd) permit to run a command after a config file has been generated, so would be easy to run something like `curl` to reload or send the config.

API would also permit new types of interractions, so i kinda like this way.

But signal is always more standard way to reload config. So having bo

[2015-06-05 18:24] mholt commented on #107
I'm making really good progress on the API - almost ready to "mass-produce" the endpoints for all the middleware.

As for reloading config, what do you mean by "more standard way"? Is there a way to get the signal to work on Windows?

[2015-06-05 18:35] pastjean commented on #107
i was meaning : `SIGHUP` is standard on unix systems to reload config.

For windows systems, I really don't know since normally there is a windows service involved.I don't know how reload is handled. I've just started digging go programs on windows.

[2015-06-05 19:16] mholt commented on #107
Okay. Well, I'm not opposed to a quick-and-easy way to reload config, but it does have to be cross-platform. That's why I'm leaning more toward opening a port on loopback and letting a new Caddyfile be piped in through there. But at that point, it's a network request, which is like what the API does anyway, so... it just depends if we want to be required to use HTTP to reload config. The port coul

[2015-06-05 19:18] mholt commented on #104
@j-mcnally @GeertJohan How about a REST API? From #107 I'm told that there is a way to make an HTTP request with etcd, which will soon be a possibility since the API is coming along quite well. Would that suffice?

[2015-06-05 19:20] pastjean commented on #107
I'm seeing that even apache doesn't support windows *graceful* reloading without restarting the server completely :confused: So, that is up to you if you want to do the same (unix only graceful reloading) or using the api, which i find a good idea (the api).

[2015-06-05 19:43] brk0v opened #108 "gzip module gzips images"
gzip module gzips images.

Example:
[code]

[2015-06-05 19:52] brk0v commented on #103
Yes.
I don't know how DefaultServeMux works so suggest a radix tree. I'll try to figure out how it works and make proof using same logic.

[2015-06-05 20:54] mholt commented on #108
That's right. Is it not what you are expecting?

[2015-06-05 21:15] ApfelUser commented on #108
@mholt Images should not be gzipped as they can get bigger and already are compressed.

From **Google Page Speed:**

[2015-06-05 21:16] GeertJohan commented on #104
Well then I guess a SIGHUP would be a more common way to reload the config? As said in #107; [kelseyhightower/confd](/kelseyhightower/confd) can watch etcd and rewrite the config file on disk, then SIGHUP the caddy instance to signal it should reload the config file.
This way caddy doesn't have to care about all the config databases out there..
What could be useful to build in caddy, apart form SI

[2015-06-05 21:19] j-mcnally commented on #104
honestly im fine with just using confd. just thinking about positioning caddy as a first class alternative to nginx / apache in this new CoreOS / Docker / Cluster Cloud Data-Center world.

[2015-06-05 21:24] j-mcnally commented on #107
so if we rely on a socket rather than signal trapping we should probably have a caddyctl binary or something that speaks api to the socket. then we could accomplish hot reloads from the cli via `caddyctl -s reload` or something

[2015-06-05 21:27] j-mcnally commented on #8
Can the api support client TLS auth? I started using this pretty heavy with apis "docker/etcd" and it would be nice to standardize this as an auth option for the caddy api as well. I think you posted some material related to this recently on twitter.

[2015-06-05 21:30] mholt commented on #107
That's basically what the API will do. If we speak HTTP, then any HTTP client (like curl) can interact with Caddy, no special binaries needed (without precluding others from writing Caddy-specific API clients.)

[2015-06-05 21:43] mholt commented on #8
At this point, I don't see why not. (As of the latest version, 0.7.1, [Caddy supports TLS client auth](https://caddyserver.com/docs/tls).) I haven't decided on API authentication, but TLS client auth would not be the only way to authenticate.

An API service will not be allowed without TLS (unless it's only accessible to localhost).

[2015-06-05 21:48] mholt commented on #108
Caddy's website compresses the images, but Page Speed doesn't report any errors there - says it passed the compression test, in fact. What's the link to the page where you got that info? I'd like to look into it some more.

Incidentally, Page Speed reminds me that we need to look into cache-related headers like Cache-Control and E-Tag.

[2015-06-05 21:54] j-mcnally commented on #107
personally i feel like we should ship a cli for the api with caddy, that does basic things like reload. The are must haves to use caddy as a server process in any sort of production environment.

[2015-06-05 22:54] ApfelUser commented on #108
Yes, PageSpeed Insights doesn't complain. It seems like it is not looking for gzipped images. But images should still not be compressed as this [StackExchange](http://webmasters.stackexchange.com/questions/8382/gzipped-images-is-it-worth) thread shows. You could also implement something similar to the **NGINX** `gzip_types` directive, so that everyone can decide himself on what he wants to be comp

[2015-06-05 22:58] ApfelUser commented on #108
The Google PageSpeed reference doesn't exist anymore by the way. I think that is due to their [developer.google.com](https://developer.google.com) material design overhaul. A lot of good references just don't exist now anymore -.-

But you can see on the StackExchange thread that also e.g. Yahoo! has recommended **not** to compress images.

[2015-06-05 23:35] mholt commented on #108
Thanks for the links and suggestions! You both are right. Gzip needs some more controls, and with them, a set of sensible defaults (like, for example, not compressing images) so the user can get optimal behavior without having to think about it.

How does your nginx config look for gzip_types and with zopfli? Just curious.

If we expand the gzip middleware, perhaps it'll be time to rename it from

[2015-06-06 00:33] hackintoshrao opened #109 "Authentication ,authorization(session management ), Caddy configuration for restricted routes"
Here are set of features which could make authentication and authorization pieces easier for developers

## Social Login
Enabling social login for easy authentication
Caddy configuration could be something like this

[code]
After login sessions management has to be made easy , the login middle should force implementation of a User struct which will be  directly injected as session data , the sessi

[2015-06-06 01:13] mholt opened #110 "Let's Encrypt"
@xenolf is working on this. See https://letsencrypt.org. When completed, Caddy will be able to serve your site over HTTPS automatically and for free, with no setup required.

[2015-06-06 10:07] ApfelUser commented on #108
My gzip config looks like this:

[code]

If I e.g. look up `domain.tld/main.css`, **NGINX** is looking for `<root>/main.css.gz`. And the CSS is just pre-compressed with zopfli. If there is no `.gz`-file **NGINX** is just going to compress it on its own if it matches one of the **MIME-Types** in `gzip_types`. It is of course not using zopfli for that because that isn't built in.

I thought, "maybe

[2015-06-06 10:17] abiosoft commented on #108
Unlike @mholt, I'm also on UTC+1 :).

What is pretty straight forward to implement now is `gzip_types` and  `gzip_disable` which I assume are content type and user agent respectively.

gzip Caddyfile syntax will now look like this
[code]

Is this okay for a start ?

[2015-06-06 10:21] ApfelUser commented on #108
Yeah, that looks great! Thanks for the fast response :smiley:

[2015-06-06 10:25] abiosoft commented on #108
Cool. Should be ready later today or tomorrow.

[2015-06-06 10:51] abiosoft commented on #108
I think I'll prefer to use more descriptive words. `mimes` or `mime_types` to `types` and `disable_ua` to `disable`. That makes it clearer that the former refers to MIME and the latter refers to user agents.

I guess the default behaviour when MIME types are not set is to accept all. That makes it compatible with the current behaviour.

[2015-06-06 11:08] ApfelUser commented on #108
The default behavior of **NGINX** is to just compress `text/html` when nothing is set in the `gzip_types` option. But they allow __*__ in `gzip_types`for compressing everything.

[Source](http://nginx.org/en/docs/http/ngx_http_gzip_module.html#gzip_types)

[2015-06-06 11:10] abiosoft commented on #108
That makes sense. I will go ahead with this unless @mholt has different opinion.

Thanks.

[2015-06-06 13:27] abiosoft commented on #108
I'm basically done with the code.

I noticed `gzip_disable` on **nginx** currently uses regexp matching and `msie6` is a preset for `MSIE [4-6]\.`. I tried searching for other presets but could not find any other one apart from `msie6`.

The options for Caddy are either I allow the `msie6` preset, enable regexp or use only string matching.
@mholt is not a fan of regexp right now so I will wait for

[2015-06-06 14:16] mholt commented on #108
Wow, lots can happen while you snooze. :smile: @abiosoft Thanks for taking the initiative here!

@ApfelUser Thanks for sharing your config. I have a few thoughts before we finalize going forward.

How do you feel about specifying file extensions instead of MIME types? I'm much more a fan of file extensions because they're short - meaning less opportunity for typos and makes for a cleaner config fi

[2015-06-06 14:53] ApfelUser commented on #108
I actually agree on all your points :+1:

Don't know why NGINX chose to use MIME types. Maybe because they are more accurate? But I think there should be no problems.

[2015-06-06 20:32] mholt opened #111 "Please try the API"
The [api branch](https://github.com/mholt/caddy/tree/api) contains the current progress on Caddy's REST API. I'm at a point now where it would be useful to get your feedback before going further and "mass-producing" endpoints with the help of others. Each middleware will eventually have their own set of API endpoints to do things specific to that middleware - for example, add and remove proxy back

[2015-06-06 20:33] mholt commented on #8
Anyone interested in this may now try out an early prototype of the API - the details are in issue #111. It doesn't do much yet, but next on the list are endpoints for TLS and proxy configuration. Feel free to check it out and comment in that issue.

[2015-06-07 04:01] mholt commented on #111
For changing the site root, should it remain a query string parameter like that or should it be moved to the POST body, where the body is simply the new root path (no JSON)? (I prefer to use JSON only where necessary/convenient.)

[2015-06-07 04:22] mholt commented on #107
@j-mcnally Sure, anyone is welcome to write clients for the Caddy API when it is ready.

Question for you. I'm starting the API endpoint that will do a reload of the config without killing the process. The big question is *Where does it get the config from?* Sure, it's easy if Caddy's input happens to be from a Caddyfile - just reload the Caddyfile and use it as input. But what about input that ge

[2015-06-07 09:12] mschoebel commented on #108
Regarding the use of file extensions instead of mime types: a backend server (configured via `proxy` in the Caddyfile) might return a large `application/json` response for `https://example.com/api/v1/users` (REST API endpoint, no file extension). I think there should be a possibilty to `gzip` this response. For other API endpoints the backend might return images.

Maybe provide both options?

[2015-06-07 10:51] webfd opened #113 "caddy not run mysy2"
Administrator@WZ349BJPQHC5EQ1 MINGW64 /e/xx/xx.github.io
$ caddy

[2015-06-07 11:14] ApfelUser commented on #113
@webfd Could you be more specific on what your problem is?

[2015-06-07 15:28] mholt commented on #107
After giving it some more thought, I think I've cleared some things up in my head. Here is what will probably happen, feel free to comment if I missed something:

If you use the API to invoke a reload, it only succeeds if Caddy was started with a Caddyfile. When you reload, it just reloads the same Caddyfile, and if it fails, it rolls back. Any changes made to Caddy by the API since it was started

[2015-06-07 17:11] brk0v commented on #103
Pull request https://github.com/mholt/caddy/pull/114

[2015-06-07 17:44] lenovouser opened #115 "Add upstream directive"
My caddyfile gets very unorganized when I try proxy to a lot of different backend servers.

It looks kinda like this:

[code]

It would be nice to have something similar to the NGINX **[upstream](http://nginx.org/en/docs/http/ngx_http_upstream_module.html)** directive. Maybe even with a few advancements to it. E.g. the ability to use port-ranges. Ideally I would like it to look something like this

[2015-06-08 05:00] mholt commented on #115
That's a long line, indeed. I like the port ranges idea, although I don't know how commonly that is needed. I would be interested to know if others have similar needs.

Without saying yes or no to these features either way, mind if I suggest an alternative syntax, just for the sake of discussion?

[code]

I realize that doesn't allow the 4 options you mentioned, but I do like this better than defi

[2015-06-08 11:38] ApfelUser commented on #115
You could do both, allow `api.backend.mydomain.tld:6001-6020` and `upstream:api` maybe.

Our **backup** servers are in "sleep" mode (Debian, Suspend) and are booted over something similar to "Wake-On-LAN" when our master server registers request (Firewall, DDoS Protection, Wake-On-LAN) . The **weight** option is also pretty important to me, due to the fact that we have servers with different capac

[2015-06-08 12:00] ApfelUser commented on #111
Some questions and thoughts:

Some options I would see useful for authentication are:

  * TLS authentication
  * IP address authentication
  * Standard Username/Token authentication

Personally I would prefer __IP address__ combined with __TLS__ authentication. But also would have no problem using __Username/Token__ authentication if you decide that you only want to implement the standard one.

A

[2015-06-08 12:06] GeertJohan commented on #104
@j-mcnally right thats what I'm saying. But confd requires caddy to reload on SIGHUP to be able to do a smooth restart, right? Otherwise it would need to hard restart caddy..

[2015-06-08 12:09] GeertJohan commented on #104
Nevermind. I confd can write the caddyfile from etcd to disk and then `curl` to the upcomming API with the caddyfile as post body to reload the server config. That will solve this issue and make caddy compatible with etcd (through confd).

[2015-06-08 12:16] ApfelUser commented on #108
Yeah, both options would be useful. Especially in the case @mschoebel mentioned.

[2015-06-08 13:28] pastjean commented on #107
:+1:

[2015-06-08 15:20] mholt commented on #111
Although I can see the utility for IP address + TLS auth, if we implement those, they'll have to wait, since most people would probably like to access their machine from anywhere, and may not always have their cert handy. I think user/pass authentication (over TLS, of course) will be more widely used, so I will probably implement that first.

I like your idea to be able to specify a hostname rathe

[2015-06-08 16:17] mholt commented on #115
Thanks for the explanation. Makes sense; I was thinking resolve had to do with DNS caching but wasn't sure.

At this moment I'm not quite interested in changing the Caddyfile syntax, but if I may mark this as deferred, I would like to keep track of this suggestion for later. Admittedly the API is taking up most of my time right now. I'm glad you'll find it useful - I want to make sure we get that

[2015-06-08 23:33] j-mcnally commented on #104
Anyone mind if I close this in favor of the api and Confd? At least for now we get a lot for free by just using Confd.

[2015-06-09 02:20] j-mcnally opened #119 "ARM builds don't support ARMv6"
We should either do seperate builds for armv6 and armv7 or only do armv6. I tried to runny caddy on my Model B rasp-pi and it didn't work :(

[code]

[2015-06-09 02:40] j-mcnally opened #120 "Missing yaml sources?"
Not super sure what this means or why I am getting it.

Am I missing some sort of dependency?

[code]

[2015-06-09 04:09] Xe commented on #120
What version of go are you using?

[2015-06-09 04:13] mholt commented on #119
Hm, I hadn't thought about that. Try this, I compiled it with GOARM=6. https://drive.google.com/file/d/0B-OxZ0LoeTvGUFdHSDFVOC00Znc/view?usp=sharing

[2015-06-09 04:24] j-mcnally commented on #120
I'm going to check in the Am I put my raspberry away. It's the latest raspbian.

[2015-06-09 04:25] j-mcnally commented on #119
Will check tomorrow

[2015-06-09 04:38] mholt commented on #120
It might be that Go is outdated or somehow the .go files in pkg/encoding disappeared. Either way, I'm willing to bet that (re)installing the latest Go will fix the problem.

[2015-06-09 07:12] GeertJohan commented on #104
:+1:

[2015-06-09 15:32] #120 closed

[2015-06-09 15:58] mholt commented on #113
I'm not sure what this is. Closing for now - feel free to provide more information if you feel there is a bug.

[2015-06-09 15:58] #113 closed

[2015-06-09 16:01] mholt commented on #104
That'll make life easier on me :smile: I just implemented the 'reload' functionality in the API. It's not wired up yet, but when it is, this command will reload the server with the latest config file from the disk:

[code]

And it rolls back the configuration if the reload fails, so no downtime. Great idea!

[2015-06-09 16:01] #104 closed

[2015-06-09 20:45] j-mcnally opened #122 "JSONP middleware"
Could be used to wrap JSON api's in a callback function to allow them to be used via script tag proxies.

Upstream returns

[code]

we could wrap that in

[code]

We would also likely accept a get param for the callback method name.

[2015-06-09 20:45] mholt commented on #109
Cool idea. Let me hold off on deciding on it until we figure out whether to grow Caddy's middleware collection - and if so, how best to do it. In the meantime, I'll leave this open for discussion.

[2015-06-09 20:51] mholt commented on #122
Is it not possible to get the backend to support JSONP? Or CORS? Is JSONP still prevalent in the modern web, in your experience? (I haven't used it lately so I thought I'd ask.)

[2015-06-09 21:03] j-mcnally commented on #122
just an idea, i figure we'll throw it all against the wall and see what sticks.

[2015-06-09 21:04] j-mcnally commented on #122
this is more if you are using something like twitter as an upstream.... or a service you dont control that you want to create a read-only api for, you could of course expose cors headers.

[2015-06-09 21:09] mholt commented on #122
Makes sense. I do like the idea, if JSONP isn't on its way out. If we were to do this, it seems fitting as a directive for the proxy middleware. Something like this:

[code]

Even if it was its own middleware, the functionality could be the same.

I wouldn't mind going forward with this as long as there are long-lasting use cases for JSONP, where CORS won't suffice.

[2015-06-10 00:42] coolaj86 commented on #119
+1

[2015-06-10 04:44] Karthic-Hackintosh commented on #109
Sure .....

[2015-06-10 04:45] coolaj86 opened #123 "healthcheck status code and retry options"
Status Code

I have several APIs that I want to proxy, but none of them have a well-defined /status or /health yet.

The easiest way to see if the server is up is if it returns a 404 within a *very* short amount of time - say 300ms. It would be nice to have an option to say that a 404 is actually ok.

Retry

If the process goes down it will likely come back up within 3 seconds and then the first r

[2015-06-10 04:56] coolaj86 opened #124 "docs for vars"
I see a few vars referenced here and there like {query} {path} {host} throughout the doc page, but I don't see any list of them.

Also, I'm not sure what {host} represents (I may be about to find out), but the de facto standard is that it should be `{host} == {hostname}:{port}`.

[2015-06-10 05:01] coolaj86 opened #125 "vars can't be used with tls or root option"
This probably won't become possible until the API work is done anyway, but I was hoping it would:

[code]

[2015-06-10 05:06] coolaj86 opened #126 "let the browser decide whether or not to gzip"
Browsers that support gzip send a header such as "Accept-Encoding: gzip, deflate, sdch", so it's not necessary to specify that it should or shouldn't be used.

The exception to that is that you wouldn't want files such as .zip, .mp3, or extremely small files to be gzipped.

[2015-06-10 05:11] coolaj86 commented on #119
Also, it's really not difficult or time consuming to build for arm on arm:

[code]

[2015-06-10 06:06] slav123 opened #127 "runtime error: index out of range"
I'm getting this PANIC

[code]

 error with super simple redirect:

[code]

[2015-06-10 08:21] abiosoft commented on #124
Variables are not global. They are middleware dependent and the two middleware that supports it so far are [rewrite](https://caddyserver.com/docs/markdown) and [log](https://caddyserver.com/docs/log).

Are you suggesting we provide support for global variables ?

[2015-06-10 08:23] abiosoft commented on #125
See my response to the other similar issue. https://github.com/mholt/caddy/issues/124#issuecomment-110648127

[2015-06-10 08:33] abiosoft commented on #126
Caddy already reads that header to decide whether to gzip or not. However, people raised https://github.com/mholt/caddy/issues/108 and this led to https://github.com/mholt/caddy/pull/112 where you can specify accepted file extensions.

Work is currently ongoing to specify accepted MIME types.

I want to assume we have got you covered. Have we ?

[2015-06-10 08:43] abiosoft commented on #127
Just taken a look at that and realised it happens when the fastcgi sever responds without `Status` header. From your experience with it, is there a specific situation that this happens ?

[2015-06-10 09:09] slav123 commented on #127
I have two codeigniter projects, and it happens when I'm pasing couple
parameters after authorisation. My guess - sessions, cookies or long URL?

On Wed, Jun 10, 2015 at 6:44 pm, mholt/caddy
<reply@reply.github.com>
wrote:
Just taken a look at that and realised it happens when the fastcgi sever
responds without Status header. From your experience with it, is there a specific situation that this
ha

[2015-06-10 09:58] abiosoft commented on #127
Modify the `to` line to read `to    /index.php?/{path}&{query}`. Does that change anything ?

[2015-06-10 10:06] slav123 commented on #127
I tried that and it isn't working. Got same set up with phalcon project and it's
ok. It's something specifying with CI.
I think one way or another your middleware code should check range before call
to slice portion. Panic is never good ;)

On Wed, Jun 10, 2015 at 7:58 pm, Abiola Ibrahim <notifications@github.com>
wrote:
Modify the to line to read to /index.php?/{path}&{query} . Does that change a

[2015-06-10 10:10] abiosoft commented on #127
Yeah. I have seen the issue. I have the fix for that already that would display a proper message instead of panic. I am just trying to see if we can get it to work for you.

Thanks.

[2015-06-10 10:31] slav123 commented on #127
Probably will try to compile it tomorrow from source, with your fix or my patch
;)
So far caddy works for me very well. I'm trying to replace nginx

On Wed, Jun 10, 2015 at 8:11 pm, Abiola Ibrahim <notifications@github.com>
wrote:
Yeah. I have seen the issue. I have the fix for that already that would display
a proper message instead of panic. I am just trying to see if we can get it to
work for y

[2015-06-10 12:56] mholt commented on #125
As cool as that would be, using request-dependent variables in the tls and root directives is nearly impossible, I think. Both of those directives are compiled before the server even starts. Even if it did work, if two requests come in at the same time (it could happen), there would be lock contention over making the change to the server for handling that one request.

I can see the value of what

[2015-06-10 14:14] mholt commented on #124
The {host} variable is just the hostname; use {host}:{port} if you want both. It is slightly different from nginx, but way more clear.

I agree that the variables should be documented more clearly. Middleware ought to be using the `middleware.Replacer` type, which replaces values in a standardized way, so maybe it'd be worth splicing them out of the log documentation and into their own page. I can

[2015-06-10 14:19] abiosoft commented on #124
Oops. I'm not aware of this. Obviously docs are lacking.

[2015-06-10 23:54] slav123 commented on #127
I just compiled check what kind of headers i'm getting from my php-fpm (PHP 5.5) - and value coming from
[code]
returns only status code - 200

[2015-06-11 00:24] coolaj86 commented on #126
Yep.

[2015-06-11 00:24] #126 closed

[2015-06-11 00:27] coolaj86 commented on #125
I'll have to become more familiar with the code to understand what you mean.

If you're able to handle the HUP case and add API stuff, this will probably fit in with those changes.

[2015-06-11 01:02] coolaj86 opened #132 "Compete with python -m SimpleHTTPServer"
Often times I want a self-contained ad-hoc server that I could get within an instant and setup in the current directory within an instant.

Some ideas:

* have a curl / wget install script grab the right bin and shove it into /usr/local/bin/caddy ([I've done this before](https://github.com/coolaj86/iojs-install-script))
* serve http from the current folder with indexes when no config exists
* also

[2015-06-11 01:44] mholt commented on #132
That's been the purpose of Caddy from day one. When you run `caddy` in any directory, it defaults to serving static sites from that directory, complete with support for index files. And unlike Python's SimpleHTTPServer, it actually honors the Range header.

[2015-06-11 01:48] coolaj86 commented on #132
It doesn't serve directory indexes is what I meant.

[2015-06-11 01:58] coolaj86 commented on #132
I'll work on an installer script and give you arm-compiler arm bins.

We could put a

`cur -fsSL  caddyserver.com/install | bash`

On the homepage?

[2015-06-11 02:12] mholt commented on #132
Oh, directory indexes. Just place a Caddyfile with `browse` somewhere in it - or if you prefer to stay purely on the command line, you can pipe it in: `echo "localhost\nbrowse" | caddy` - something like that.

As for the installer script, I *love* piping scripts from the Internet into bash :smile: That aside, is this just for the ARM binaries? If so, I can just make the cross-compile work. There's

[2015-06-11 03:24] tw4452852 commented on #125
Maybe we could make the CaddyFile a template, so we could auto fill something, like host name or port if any, like this:

[code]

will be rendered into:

[code]

Anyway this is just my thought, :smile:

[2015-06-11 19:12] mholt commented on #36
We're now looking at a way to make this possible using a hosted solution (so users don't have to worry about building it themselves).

[2015-06-11 20:04] lmas opened #133 "*middleware.responseRecorder is not http.Hijacker: missing method Hijack"
Hello, I'm getting this error when trying the websocket stuff with caddy and using `Go 1.4.2`.
Running caddy with:

    localhost
    log stdout
    errors stdout
    websocket /echo cat

And when I try to test that websocket, using [`ws`](https://github.com/yhat/ws) (for simplicity's sake):

    ws ws://localhost:2015/echo

I get this error in the caddy log (and the `ws` script fails with a "bad

[2015-06-11 21:17] mholt commented on #133
Ah, nuts. I know why that's happening. If you take out the `log` directive it should work.

I won't have a chance to fix this today, but maybe somebody else will?

[2015-06-12 01:32] mholt commented on #133
Basically, log is replacing the net/http ResponseWriter with its own responseRecorder, which is not a hijacker. Log shouldn't be logging ws requests, I think - they're not regular HTTP requests in that regard.

[2015-06-12 03:15] tw4452852 commented on #133
Why not we just implement `http.Hijacker` if any ?

[2015-06-12 09:16] lmas commented on #133
I haven't looked at the source yet, but will ws errors still be logged in
some other way if we remove that log? Or is it the only logger for ws?
On Jun 12, 2015 5:16 AM, "Tw" <notifications@github.com> wrote:

[2015-06-12 13:24] mholt commented on #133
@lmas `log` only logs accesses; `errors` logs errors, but does not replace the ResponseWriter. I need to double-check how `log` should be handling websocket connections.

[2015-06-12 13:32] lmas commented on #133
Oh you meant THAT log.
On Jun 12, 2015 3:24 PM, "Matt Holt" <notifications@github.com> wrote:

[2015-06-12 14:27] #133 closed

[2015-06-12 14:27] mholt commented on #133
Closed with #134 - honestly, I'm surprised that worked. :100:

[2015-06-12 14:30] lmas commented on #133
Hell yeah! Thanks guys!

[2015-06-12 16:41] mholt commented on #123
Status code: Are there no paths that the backends could serve which would return a status code in the 200s or 300s?

Retry: I think you can do that by setting your fail_timeout to 1s. I might be wrong, but original PR is #40.

[2015-06-12 17:14] #108 closed

[2015-06-12 19:15] wmark opened #136 "bind, and: unknown port tcp/https"
Please excuse the preliminary title.

A configuration file like this:
[code]

… results in this error:
```2015/06/12 19:11:52 Could not serve 5.1.1.1:https - unknown port tcp/https```

I didn't expect any error.

[2015-06-12 19:17] wmark commented on #136
[code]

… will yield:
```2015/06/12 19:16:13 Could not serve [5.1.1.1:443]:https - unknown port tcp/https```

(Correct ISO notation would be 2015-06-12, by the way.)

[2015-06-12 20:55] mholt commented on #136
The bind directive takes a hostname only, so that explains the second error. I cannot reproduce the first, though. (I replaced 5.1.1.1 with 0.0.0.0 since I can't bind to 5.1.1.1.) What is 5.1.1.1 assigned to?

[2015-06-12 21:57] wmark commented on #136
Thank you for looking into this!

0.0.0.0 triggers a special case. Please use one »usual« IPv4 address that is available to your machine (e.g. 192.168.1.1) in order to reproduce the first error.

----

http://caddyserver.com/docs/bind says:

    bind <host>
    <host> is the hostname (or IP address) to bind to

The example on that page does use an IPv4 address (0.0.0.0) and not the wildcard-host (

[2015-06-13 01:26] mholt commented on #136
Unfortunately, I still do not have the same problem. Caddy runs with this Caddyfile:

https://site.local {
    bind 192.168.1.100
    tls cert.pem key.pem
}

(The wildcard host in Go is 0.0.0.0.)

[2015-06-15 00:05] coolaj86 commented on #119
There need to be several links to arm builds and you can't cross compile. Cross-compiling is for noobs.

Raspberry Pi armv6l hard floating point
https://dropsha.re/files/funny-bat-22/caddy-armv6l-hf

[2015-06-15 00:10] coolaj86 commented on #119
Thought for the file structure:

https://caddyserver.com/dist/v0.7.1/armv6l-hf/caddy

For the easy-install script we don't want to have to unzip or gunzip or whatever. Just want it to work like magic.

[2015-06-15 00:21] coolaj86 opened #139 "detectable latest version"
There needs to be a way for scripts to determine which caddy is the latest by architecture.

maybe something like https://caddyserver.com/dist/armv6l-hf/latest which would be a file that has no newlines or anything, just `v0.7.1` or `0.7.1`.

It's important that this can be done by architecture because there will be bugs in golang that affect one arch but not another or it will be difficult to bui

[2015-06-15 00:33] coolaj86 commented on #139
Here's how node (meaning io.js) does it:

https://iojs.org/dist/

https://iojs.org/dist/latest/

https://iojs.org/dist/index.tab

https://iojs.org/dist/index.json

[2015-06-15 01:48] coolaj86 opened #140 "tar.gz versions for *nix / *bsd"
`zip` and `unzip` aren't always included on *nix and *bsd systems, but `tar` and `guzip` almost always are (except maybe on busybox systems).

For automating the install process it's important to have `.tar.gz` packages.

We could just ship the bin without packaging it in .tar.gz or .zip at all, but I think in the future we may want to have custom files / templates for things like the directory li

[2015-06-15 08:13] aliefarlingga opened #141 "index not found, 502 Bad Gateway"
I'm sorry if my problem has been issued before.
But I have this kind of problem...

I want my web server redirect automatically to index php, so here's my "Caddyfile"

==================================================
localhost:80
log log/access.log
errors log/error.log
#tls certs/self.crt certs/self.key

fastcgi / 127.0.0.1:9000 php {
        ext .php
        index index.php
}
==================

[2015-06-15 09:39] aliefarlingga commented on #141
I'm sorry I just found my mistake.

It's just the configruation.

=====================================
localhost:80
log log/access.log
errors log/error.log
tls certs/self.crt certs/self.key
#fastcgi / 127.0.0.1:9000
fastcgi / 127.0.0.1:9000 {
        ext .php
        split.php
        index index.php
}
====================================

well i just erase the [preset] and it's working, thanks :

[2015-06-15 10:48] abiosoft commented on #141
Glad to hear that. If you are sure it now works as expected, you can close this issue.

Thanks.

[2015-06-15 13:29] mholt commented on #140
Good point, .tar.gz for the Linux and BSD distributions makes more sense. I'll keep this open until I make the changes in dist/automate.sh.

[2015-06-15 16:22] coolaj86 opened #142 "your installer script, sir"
https://github.com/coolaj86/caddy-install-script

On OS X and most *nixes:

[code]

On Ubuntu and minimal *nix installations:

[code]

I think it'll work on all existing supported OSes and platforms except arm

We still need:
* `caddy_linux_armv6l-hf.zip`
* `caddy_linux_armv6l.zip`
* `caddy_freebsd_armv6l-hf.zip`
* `caddy_freebsd_armv6l.zip`

[2015-06-15 16:29] coolaj86 opened #143 "default HTTPS / TLS for localhost development and local sharing"
I'd like to suggest bundling HTTPS certs to use for local development.

Here are some free ones, but you could take the $12 plunge and make a similar setup just for caddy.

https://github.com/Daplie/localhost.daplie.com-certificates

Also, once the letsencrypt stuff is testable I'd be happy to let you use the dyndns service I run for daplie, or create a copy of it for caddyserver.com so that a per

[2015-06-15 16:39] mholt commented on #143
What's wrong with signing your own cert for local dev? (Will address the dyndns stuff a bit later.)

[2015-06-15 16:46] coolaj86 commented on #143
1) The [big scary "your connection isn't private" page](https://github.com/coolaj86/nodejs-ssl-example#ssl-warnings) that blocks you from doing anything else until you click the "advanced" button

2) None of the tutorials (except [mine](https://coolaj86.com/articles/how-to-create-a-csr-for-https-tls-ssl-rsa-pems/)) are correct. They all have you serving a Root CA instead of a Server CRT, which lea

[2015-06-15 22:01] coolaj86 opened #144 "needs better explanation of http2 support"
To me http2 means these things:
* mandatory TLS
* mandatory gzip (or is it snappy?)
* script, link, and img tags are preparsed such that the content is sent via push along with the initial request.

What does caddy mean by http2 support?

[2015-06-15 22:05] jaredfolkins commented on #144
Http2 is the new binary HTTP protocol. It is thoroughly defined.

https://http2.github.io/http2-spec/

Does this help?
Jared

[2015-06-15 22:07] coolaj86 commented on #144
No.

I know what http2 is (more or less).

I want to know what subset of http2 caddy supports.

There are a million things that http2 does that caddy may or may not be taking advantage of. I want to know what parts of the http2 spec caddy is implementing.

[2015-06-15 22:18] coolaj86 opened #145 "Where to update docs?"
In https://github.com/mholt/caddy/pull/128 I mentioned that I forgot to add docs.

I went back to update the docs, but I can't find caddyserver.com in https://github.com/search?q=user%3Amholt+caddy, nor do I see a docs directory.

[2015-06-15 22:22] mholt commented on #145
Great idea! Already brought up in #9 even. I'm actively working on it (one reason I haven't made a lot of progress on other things lately). Hopefully will have this taken care of within the next week or two.

[2015-06-15 22:22] #145 closed

[2015-06-15 22:29] mholt commented on #144
Caddy uses [bradfitz/http2](https://github.com/bradfitz/http2) as its HTTP/2 implementation. You may refer to that package for the latest progress. Eventually, it will probably be merged into the standard library.

- **Mandatory TLS**: HTTP/2 does not require TLS. But most major implementations won't support plaintext, so it's HTTPS-only *in practice*. Caddy reverts to HTTP 1.1 for plaintext HTTP.

[2015-06-15 22:31] mholt commented on #142
Cool! I've been working on lots of deployment/ops stuff lately, so I'll come back to this when I'm ready to use it.

[2015-06-15 22:37] coolaj86 commented on #144
That answers my question. I would like to further suggest this be included in the docs, especially noting that server push is in-the-works.

[2015-06-15 22:48] mholt commented on #144
It's worth noting that Caddy isn't 1.0 yet, meaning there's still lots of development happening. Not sure if it's worth the effort to keep an updated list of http2 details, though, separate from the http2 package. Sounds like a lot of work. :)

[2015-06-15 22:57] coolaj86 commented on #132
Install script for `caddy` + `caddy-browse` (with indexes): https://github.com/mholt/caddy/issues/142

[2015-06-15 22:57] #132 closed

[2015-06-15 23:25] nemothekid commented on #144
Compression isn't mandatory with http2, and might not even be encouraged due to [BREACH](http://breachattack.com/) attacks.

[2015-06-16 00:03] coolaj86 commented on #144
Tangent - BREACH attack
======

Here's a better explanation of BREACH <http://security.stackexchange.com/a/39953>.

It sounds like BREACH has no effect on static files or APIs - only on ruby-style sites where the same CSRF (or other) token is **both** sent by the client along with user data.

I can't think of any modern pattern that would be susceptible to that kind of attack.

[2015-06-16 00:52] nemothekid commented on #144
CSRF tokens are still used by default on Rails, Django, and some PHP frameworks. This likely won't affect the future of Caddy but for the sake of clarity there will likely be many people using Caddy as a frontend for applications like Rails. A better solution is to not compress secrets at all, but it should be clear that the pattern is still fairly modern.

[2015-06-16 01:42] mholt commented on #143
What if Caddy generated a self-signed cert (and key) when it started and kept it just in memory (no need to write it out to a file, since it's just for local dev). It doesn't solve the first issue of the browser security warnings, but it's still an excellent step forward. And it could even generate the cert properly to avoid that curl error you mentioned.

Thanks for the offer with Daplie; I'll ta

[2015-06-16 01:44] coolaj86 commented on #144
But rails generates a new CSRF for each request, does it not? So it's still not susceptible.

[2015-06-16 01:47] coolaj86 commented on #144
Wait a minute... even if it did use the same CSRF it wouldn't matter because a CSRF doesn't gain privileged access to any resource.

In order to be able to use the CRSF you would have had to compromised the user's browser... at which point you can already send privileged requests on their behalf and it becomes a moot point.

[2015-06-16 01:49] nemothekid commented on #144
I'm not 100% sure on the details of BREACH, nor what Rails is doing, but only wanted to point out that mandatory compression isn't part of http2.

[2015-06-16 01:52] #144 closed

[2015-06-16 03:20] deckarep opened #146 "Websocket feature potentially broken with "out-of-box" example"
Hi @mholt,

Spoke to you briefly last night on #slack:

I downloaded Caddy for OSX and when trying to get the websocket sample working with the `cat` command am seeing the following error (after turning on `errors` directive):

Caddyfile:
    localhost
    log caddy.log
    errors error.log
    root .
    websocket /echo cat

Panic in logs:
`
[PANIC /echo] /Users/matt/Dev/src/golang.org/x/net/webs

[2015-06-16 03:57] mholt commented on #146
Ah! I should have known. See #133, fixed in #134. Should go out in the next release. You are welcome to pull from source and confirm it is fixed, but I won't require it of you. Sorry again for the trouble.

[2015-06-16 04:36] deckarep commented on #146
@mholt - bingo, i'll try this tomorrow to confirm.

[2015-06-16 12:51] artpar opened #147 "undefined: toml.Unmarshal"
I just did the "go get" for caddy and got this error

[code]

Unable to build. While go get for toml works fine
[code]

[2015-06-16 13:32] abiosoft commented on #147
What version of Go are you running ? Ensure it is 1.4 and above.

[2015-06-16 15:56] mholt commented on #147
Weird.

Try deleting the caddy repo (the whole folder) and also the toml repo, then do `go get  github.com/mholt/caddy` again, just to be sure...

[2015-06-17 04:35] deckarep commented on #146
@mholt - I have confirmed that the issue I experienced is exactly the same as above..going to close.

[2015-06-17 04:35] #146 closed

[2015-06-17 04:43] deckarep opened #148 "Specify `SingleInstance` feature for Caddy Websocket directive"
Hi @mholt,

I'm exploring some use cases around the websocket feature for Caddy which I'm really liking.  Particularly, I noticed that if I open up multiple .html pages that connect to a Caddy websocket that multiple processes are spun up for each websocket connection.  I'm wondering if this is intended and if it is...how do you feel about having some type of `SingleInstance` option that basically

[2015-06-17 05:05] nemothekid commented on #148
I'm pretty sure thats a mistake - I don't think caddy `forks()` at all so it should all be single process. It is go, so goroutines/threads are preferred over multiple processes.

[2015-06-17 13:05] mholt commented on #148
Caddy's `websocket` directive acts a bit like CGI for WebSockets, in that it spawns a new process process for each WS connection. The idea is that it works with programs, written in any language, that aren't designed to be used with web sockets, necessarily.

Maybe you're looking for something more like a websocket proxy? Something like this:

[code]

That doesn't spawn processes - each request sh

[2015-06-17 14:11] mholt commented on #147
Closing this unless there is still a problem (I don't think it is directly related to Caddy, especially not without more information. Feel free to reopen if it is.)

[2015-06-17 14:11] #147 closed

[2015-06-17 17:05] deckarep commented on #148
Interesting,

Using this method would I still be able to associate the Websocket to a process that reads/writes to stdin/stdout as well?

Thanks!

-Ralph

[2015-06-17 17:36] mholt commented on #148
No, I think in that case the websocket process has to support the websocket protocol.

The tricky thing about a single shared process with the `websocket` directive is, as you said, distinguishing one client from another. Just curious, how would you do that?

(But I guess if all you needed was a cheap way to do server push via stdout to all clients, the idea of a single process could work quite we

[2015-06-17 17:51] deckarep commented on #148
Yeah exactly,

Some of this is bordering on novel ideas but I'm just experimenting.

You can keep track of the websockets at the client side by invoking all requests with some sort of session id.

There could be more interesting use cases.

[2015-06-17 18:05] mholt commented on #148
How about something like this:

[code]

Every client "shares" the same process. (I'm open to discussing the exact keyword that would be used.)

The tricky part about implementing this is keeping track of active requests and multiplexing the stdin and stdout from/to all current clients. I'd accept a PR :smile:

[2015-06-17 19:07] deckarep commented on #148
That's sounds good...I'll see if I can put together a P.o.C on this.

Thanks @mholt!

[2015-06-17 23:26] #127 closed

[2015-06-17 23:29] mholt commented on #9
Here it is for now: https://github.com/mholt/caddyserver.com (/cc @coolaj86)

The repo will probably move soon, but at least it's up.

[2015-06-17 23:29] #9 closed

[2015-06-18 03:22] mholt opened #150 "Use cloudflare/go for crypto speedups"
This year, [CloudFlare drastically improved the speed](https://blog.cloudflare.com/go-crypto-bridging-the-performance-gap/) of P256 elliptic curves and AES-GCM and doubled the speed of RSA crypto in [their special fork of Go](https://github.com/cloudflare/go) with some tweaks to math/big.

The RSA speedups were [merged into the standard library](https://go-review.googlesource.com/#/c/9253/) and sh

[2015-06-18 17:17] jpoehls opened #151 ""executable file not found in PATH" when using startup with &"
I'm getting the error `exec: "&": executable file not found in $PATH` when I use:

[code]

Caddy version: 0.7.1

If I just remove the `&` portion then it works fine, but of course blocks caddy from starting up.

Am I doing something wrong here?

Full Caddyfile:

[code]

[2015-06-18 17:18] mholt commented on #151
The command goes first; put the ampersand at the end, after the command and its arguments.

[2015-06-18 17:21] jpoehls commented on #151
Gah. That worked. Thanks!

Related: I think it would be a more obvious if we had both `startup` and `startupd` perhaps. Sorry to bikeshed if that's already been hammered out. :)

[2015-06-18 17:21] #151 closed

[2015-06-18 17:27] mholt commented on #151
No problem, I thought about that but ultimately decided to go with the bash-style syntax since Caddy doesn't really daemonize the process. Glad it's working for you!

[2015-06-18 20:46] mholt commented on #136
Is this still an issue? If not, we can close it.

[2015-06-19 12:07] wmark commented on #136
Reproducing it using v0.7.1:

[code]

… will result in this output:

    Caddy 0.7.1
    2015/06/19 12:05:33 Could not serve 10.10.10.10:https - unknown port tcp/https

… having used this file:

[code]

[2015-06-19 16:42] mholt commented on #136
On a linux box, I was still unable to reproduce the error. Caddy runs with that Caddyfile and output is:

[code]

Using same version.

[2015-06-19 16:59] wmark commented on #136
I really hope you still believe me, because I doubt myself now. In order to get to the cause I've written a test:

[code]

… and ran it:

 * CoreOS 709.0.0 — :-1: error
 * Gentoo — :+1: works

Both have Linux 4.0.5.

[2015-06-19 17:28] wmark commented on #136
That's the cause: *Golang* needs a file ```/etc/services```:
https://github.com/golang/go/blob/release-branch.go1.4/src/net/port_unix.go#L24

[2015-06-19 17:34] wmark commented on #136
https://github.com/mholt/caddy/blob/41e1f1ffa5c3c7a427357a0e7fd61d4f8b49e377/config/config.go#L101-L104
http://golang.org/pkg/net/#TCPAddr

In case of ```https``` the port is well-known, and directive ```bind``` already narrows down the IP address. That could be used for a workaround.

[2015-06-19 17:41] mholt commented on #136
Of course I still believe you. The OS info helps a lot - I was running Ubuntu, and unaware that it was (so far) only broken in CoreOS. Thanks for looking into it some more! I wouldn't have discovered that on my own.

That seems like a decent workaround for now. In the meantime, I wonder if a patch/issue should be submitted to CoreOS.

(I also wonder why https isn't in [this list](https://github.co

[2015-06-19 17:42] webgini opened #154 "Support for raw TCP servers."
Hello , it would be great if we can load balance and do all other stuff with TCp that we are doing with http. hoping for this feature in near future.

[2015-06-19 18:04] wmark commented on #136
I've checked some major distributions, and most of them have that file. ›Most‹ means: some don't have it. Our in-house distros don't have it.

I didn't find anything on the with regards to LSB other than the inclusion is controversial.
https://lists.linux-foundation.org/pipermail/lsb-discuss/2006-August/002841.html

As *caddy* will most probably not need more than ```http``` and ```https``` I gues

[2015-06-19 18:11] mholt commented on #136
@wmark Does it only happen when you use the `bind` directive and with an IP address?

[2015-06-19 18:13] mholt commented on #154
Hey Vijay, thanks for the suggestion. Raw TCP operations are outside the scope of this project, as Caddy is a web server. I recommend nginx for TCP proxying.

[2015-06-19 18:13] #154 closed

[2015-06-19 18:19] wmark commented on #136
```https://``` being the start of the key triggers that.

[2015-06-19 18:34] wmark commented on #150
I'd like to add some background. That's the trove most is from:
http://rt.openssl.org/Search/Results.html?Order=DESC&OrderBy=Priority&Query=Requestor.id%20%3D%2013977%20AND%20(Status%20%3D%20%27new%27%20OR%20Status%20%3D%20%27open%27%20OR%20Status%20%3D%20%27stalled%27)&user=guest&pass=guest

OpenSSL is under a BSD license. Anyway, please keep in mind that you cannot monkey-patch *Golang*. Which w

[2015-06-20 22:14] jpoehls opened #158 "Asset pipeline like feature"
I had a thought the other day that something an asset pipeline feature could be useful:

## Less CSS Example

1. Handles requests for `/styles.css`
2. If first request for it, generates the asset by calling `lessc styles.less` and returning stdout to the client.
3. The output of the `generate` command is cached to `disk` for future requests.
4. When the monitored file, `styles.less` changes - `mod

[2015-06-21 14:52] mholt commented on #158
It's not a bad idea. In fact, the `markdown` directive does a very similar thing, specifically for markdown.

Perhaps this pipeline could be used for minifying JS, compressing images, compiling CSS, anything else? Although this gets a bit clunky if you have more than one file you want to dynamically generate.

Let's look at keeping the directive lowercase, and one word if possible.

[2015-06-22 02:04] avelino opened #159 "proxy return "Completed 400 Bad Request""
**Caddy 0.7.1 (master)**

Caddyfile:
[code]
Simple application `hello`
[code]

[2015-06-22 02:25] mholt commented on #159
Huh, so your negroni app is responding with 400. What is that endpoint expecting in the GET request? (Or what does the handler look like?)

[2015-06-22 03:12] avelino commented on #159
ops,, sorry!

[2015-06-22 03:12] #159 closed

[2015-06-23 18:25] geewrites opened #162 "Markdown: Enable use of CommonMark tools for generating HTML"
CommonMark's syntax is [unambiguous](http://spec.commonmark.org/0.20/#why-is-a-spec-needed-), [implemented in C](https://github.com/jgm/cmark), and a Go wrapper is [available](https://github.com/rhinoman/go-commonmark). This would require a Caddyfile directive to tell the server to use the option instead of the default.

[2015-06-23 18:36] mholt commented on #162
Unfortunately, Caddy may not use cgo. Is there a pure Go implementation available?

[2015-06-23 18:41] lozandier opened #163 "Ability to provide HTTP 1.1 clients a different version of a file they've requested"
A feature that would be of value until HTTP/2 is more prevalent is the ability in Caddy files to declare a alternate version of specific files (inc. providing a glob pattern)  when requested by HTTP 1.x clients

The likely most common type of files would be html files; a version that utilizes former HTTP best practices such as minification, concatenation, & spriting instead of a version catering t

[2015-06-23 18:50] geewrites commented on #162
Not yet. Efforts to create native implementations are waiting for CommonMark v1.0. I'll keep an eye on it and let y'all know.

I hope you'll consider the plugin option! There are lots of Markdown flavors, and someone else is sure to want theirs. :-)

[2015-06-23 23:24] mholt commented on #163
I'm trying to think how this would work. Have any ideas how to express this in the Caddyfile?

[2015-06-24 01:24] coolaj86 opened #164 "Should still run when DNS fails to resolve"
for whatever reason my server can't resolve itself `foo.example.com` and so caddy bails instead of listening on `0.0.0.0` to handle vhost for `foo.example.com`.

[2015-06-24 02:15] mholt commented on #164
I think this is valid. To see how this is handled in nginx, for example, I added this to nginx.conf:

    server {
        listen 8081;
        server_name foobar.fizz;
        root /Users/matt/Sites/matt.life;
    }

I ran nginx *then* added foobar.fizz to my /etc/hosts file. When I loaded foobar.fizz:8081 in my browser, the server responded with the site. I then tried using 127.0.0.1:8081 and lo

[2015-06-24 02:33] mholt commented on #164
(I bet we can knock out this and #136 at the same time)

[2015-06-25 04:31] mholt commented on #136
@wmark When you have a chance, let me know if that PR fixes it for you.

[2015-06-25 09:35] wmark commented on #136
caddy/graceful-resolve@47d1f5eecf60eb10de8a942dbee10a51c474737d works

You rock, Matthew!

[2015-06-25 14:18] #136 closed

[2015-06-25 14:19] #164 closed

[2015-06-25 14:19] mholt commented on #136
Glad to hear it - thanks again for the report.

[2015-06-25 18:26] mholt commented on #119
@coolaj86 I don't remember, did we try GOARM=5 when I was there? Could you see if `GOOS=linux GOARCH=arm GOARM=5 go build` works on the RPi?

[2015-06-26 01:47] mholt commented on #36
We're still fine-tuning things but I think today we got something working to allow anyone to extend Caddy easily. Developers can also apply to have their own middleware offered right from the Caddy website. @pedronasser your feedback is welcome: https://github.com/caddyserver/caddydev - here or on Slack is fine.

Note that this capability is not quite ready for everyone to use. Anyway, since all w

[2015-06-26 01:47] #36 closed

[2015-06-26 13:45] guilhermebr opened #167 "Extend root to work like Nginx location"
I want to use root like Nginx location:
[code]

So in caddy we can extend root to do this, something like:
[code]
root {path}
root {url_path} {path}

Or someone has a better solution?

[2015-06-29 19:35] coolaj86 commented on #119
We did that, it didn't work.

Another reason to to try to cross compile:
https://www.raspberrypi.org/forums/viewtopic.php?t=98079&p=687477

I'm telling you, cross-compiling is a red herring. Always native compile. Always.

[2015-06-30 01:53] mholt commented on #119
Well, cross-compilation in Go is fine as long as the processor instructions are correct. Those issues are related to shared libraries, whereas Caddy is completely self-contained. But it does seem there is an issue with the floating point instructions from cross-compilation right now. Still looking into this.

[2015-06-30 10:52] abiosoft commented on #141
There is a typo in your config. `split.php` should be `split .php`. This issue still exists but a fix is on the way.

[2015-06-30 16:23] #141 closed

[2015-07-01 01:03] mholt opened #173 "ext: Only append extension if request path is not a directory"
Given a file structure like this in the site root:

[code]

and this ext directive:

[code]

A request to /foo should serve /foo.html, but a request to /foo/ (notice the trailing slash) should serve the directory. This is especially noticeable when the `browse` middleware is also enabled, which should turn on file listings for directories.

Changing a line in ext.go to add a second condition would

[2015-07-01 13:10] abiosoft commented on #173
I agree with this. If a directory exists then `/foo/` should serve the directory.

[2015-07-01 13:15] guilhermebr commented on #173
I agree.

[2015-07-01 16:26] pedronasser commented on #173
I agree.

[2015-07-01 16:53] pedronasser commented on #167
Wouldn't be better to do almost like Nginx?
[code]
@mholt is it possible?

[2015-07-01 17:41] #173 closed

[2015-07-01 19:29] mholt commented on #150
Official Caddy builds starting July 1, 2015 are compiled with their fork of Go. (This is subject to change for future versions, but that doesn't seem likely.)

[2015-07-01 19:29] #150 closed

[2015-07-01 19:32] wmark commented on #150
Vanilla *Go* doesn't have DHE key exchange (short: Kx). Ping me if that's the case with Cloudflare's and I will implement it.

Please note that vanilla *Go* doesn't have a side-channel resistant implementation of RSA. If that's the case with Cloudflare's a warning should be displayed if someone uses RSA certificates as well here.

[2015-07-01 21:24] mholt commented on #167
I wondered when this would come up. In the early days of designing the Caddyfile, I had considered something called location contexts (or path scopes, whatever), which are exactly what you've proposed @pedronasser - they even had the same syntax. Basically, anything in a path scope only applied to those paths.

This turned out to be difficult to implement properly, and gets complicated quickly. De

[2015-07-02 02:19] joshix opened #175 "Build server produces dynamic linked executable"
This URI:
https://caddyserver.com/download/build?os=linux&arch=amd64&features=
That is, caddy core, no git, linux x64 -- delivers a dynamically linked executable file.

linux x86 - static
linux x64 - dynamic
freebsd x64 - static
linux arm - 50x err

and those are the archs I can speak with any knowledge about and/or inspect.

@mholt indicates in conversation this departure from the usual & delicio

[2015-07-02 02:24] joshix commented on #175
A go1.4.2 toolchain on debian 8 x64 also produces a dynamically linked executable. This change in output is recent.

j@bca297cfcf52:~/go/src/github.com/mholt/caddy# git status
On branch master
Your branch is up-to-date with 'origin/master'.
nothing to commit, working directory clean
j@bca297cfcf52:~/go/src/github.com/mholt/caddy# go build
j@bca297cfcf52:~/go/src/github.com/mholt/caddy# file caddy

[2015-07-02 02:46] mholt commented on #175
It's a bug in the build process.

Been doing some digging since our conversation on Twitter. Apparently this has been kind of a mess between Go 1.3 and Go 1.5 (not yet released). See https://github.com/golang/go/issues/9369 and https://github.com/golang/go/issues/9344 especially.

Turns out this command, with Go 1.4, builds static binaries:

[code]

Looks like this will be changing again in Go 1.5

[2015-07-02 03:24] joshix commented on #175
Ah, yes. I remember this now -- 1.4 broke what you'd do with net importers under 1.3 (and static linking has been kind of a mess on linux for always. It was the source of many wasted hours of kvetching on 9fans back in another lifetime.) Anyway I could have saved us some indirection if my memory were better -- I formerly had env vars setup for the netgo external build tagging and I forgot all abou

[2015-07-02 05:23] pedronasser commented on #167
How about using a different configurations (contexts) for different location requests.
Let me try to explain what I mean with an example:

Considering the following configuration file:
[code]
Would result in the following process:
- Load all directives
- Load each virtual host's configuration.
- Load each location's configuration and merge with the parent virtual host configuration
- Create a fake

[2015-07-02 05:55] abiosoft commented on #175
one of the reasons I based my docker image on `alpine` is to bypass the dynamic linking issue. I once had that issue with a scratch image.

[2015-07-02 06:47] joshix commented on #175
@abiosoft I understand your choice. However, in or outside of a container, due to both my product and my prejudices, I do not want any go program to be dynamically linked. Truly I don't want dynamic linking of any program whatsoever, but this broader indictment isn't intended to be flame bait -- dynamic linking is such a deeply held assumption that I don't think developers are often exposed to the

[2015-07-02 14:49] jpoehls opened #176 "Add WSGI directive for serving Python apps"
I don't have time (or expertise) to contribute this but I'd definitely be interested in using it so I figured I'd create the feature request and try to gather interest.

I :heart: Caddy and want to use it for all the things. That includes serving up my Django app via WSGI.

I imagine this working similar to the `proxy` directive where you tell it to serve some directory via WSGI. (Forgive my perha

[2015-07-02 15:24] mholt commented on #175
I just noticed that you reported a 500 error when downloading for ARM Linux. I've found the cause:

Will fix that today.

[2015-07-02 15:31] joshix commented on #175
Yeah that was a second bug to this but I had already used so much bandwidth with my commentary on dynamic linking. I hope that didn't come off as a scold, but there is a lot of history leading to golang that, in short, relates very directly to why that compiler is called '5g'.

-J

[2015-07-02 16:20] mholt commented on #175
I fixed the 5g issue - builds should be working again. Next I'll look into compiling without cgo, see if anything breaks. If not, we're good to go and I can update the build server. Anyone else who wants to put it through the wringer is more than welcome...

[2015-07-02 16:21] mholt commented on #19
@Immortalin Did you see that this is finished now?

[2015-07-02 16:29] mholt commented on #176
I've looked into this a little bit. There's also [this library](https://github.com/mattn/go-uwsgi) but I don't know if it does what we need. There was [this discussion](https://www.reddit.com/r/Python/comments/35bhcr/caddy_a_new_web_server/) on reddit that was... not super helpful. But I would be interested in adding wsgi support to Caddy.

I'm also a "Python noob" since I haven't written web apps

[2015-07-02 16:54] joshix commented on #175
I have not yet produced any problems that happen only in a static exe, fwiw.

Catch me up -- where did with or without cgo come in?

[2015-07-02 17:18] mholt commented on #175
Sorry, to explain better: The reason some builds are not static is because there is some use of cgo in the standard library, which I wasn't aware of. So the net package, x509 package, and os/user package (although Caddy doesn't use that one, at least directly) cause a dynamic exe.

Good to hear you haven't seen any problems yet. I haven't either.

[2015-07-02 17:44] joshix commented on #175
Ok right, roger, I get it. I.e., that thing we've been talking about this whole time.

Thanks for all your time and discussion on this overnight and this morning, man. Beyond caddy, I learned/remembered things about the build chain I half-knew but hadn't fully percolated up out of my lizard brain until we arrived here.

I actually think this set of unexpectednesses  is going to get simpler for go

[2015-07-02 18:27] mholt commented on #175
[This package README](https://github.com/inconshreveable/gonative) says:

However, I haven't yet seen any issues with DNS resolution or certificate access problems. Have you been able to get those to come out of hiding? (For example, I'm binding to a hostname "matt.dev" which is in my hosts file, so it should have to do a DNS lookup, right?)

[2015-07-02 22:56] joshix commented on #175
It wouldn't do a DNS lookup, actually, because the resolver hits `/etc/hosts` in precedence first. I haven't seen a problem from resolution, tho, and I've tested against labsnnn.joshix.com which (was) a DNS hostname and not in a hosts file. So I think that's ok. System roots -- I have to think about that.

(If I were a better developer (person? ;) ), I'd be pushing some kind of tests at you instea

[2015-07-03 02:53] Immortalin commented on #19
Thanks for the heads up!

On 3 July 2015 00:21:21 GMT+08:00, Matt Holt <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-07-03 12:23] stephane-martin opened #178 "Log to syslog"
This one should be an easy feature:
1 - provide a way to log to the system syslog (eg using standard C syslog function).
2 - Possible enhancement: log to a remote syslog (TCP or UDP).

Obviously 1 is the most needed and should be very easy to implement.

Thanks,
Stephane

[2015-07-03 16:27] abiosoft commented on #178
Does not look too hard to implement. If no one is picking this up, I should be able to work on this in the next one week as an add-on.

[2015-07-03 18:51] mholt commented on #178
Ideally, this would be part of the existing log directive. We already have preset log file names like `stdout` and `stderr` -- perhaps we could add another one called `syslog`.

[2015-07-03 18:52] mholt commented on #176
@jpoehls Another thing is we need to ensure static binaries, so cgo isn't an option (unless there is a somewhat convenient way to compile static binaries, cross-platform, with cgo.)

[2015-07-03 18:56] abiosoft commented on #178
That makes sense.

[2015-07-04 05:03] joshix commented on #175
On the arm/5g build: Executable now exists. I fetched from caddyserver/downloads. Core only. It's a static executable. Stage one of that secondary distribution bug resolved. Tested (more on how below) and it LGTM.

Testing:
I haven't quite thought my way to formalizing the "method" I've been using to user-test this stuff (which you've correctly labeled a *deployment* issue) into test code we might

[2015-07-05 13:10] abiosoft commented on #175
I just realised my base docker image `alpine:3.1` cannot execute dynamic binaries :(.

So far, I have also had **0** issues with static binary.

[2015-07-05 20:38] joshix commented on #175
@abiosoft Out of curiosity, do you know why the dynamic executable fails there? Is the alpine base missing a library(s) entirely, or does it have the lib(s) but in a version that doesn't resolve all symbols?

-J

[2015-07-05 21:49] abiosoft commented on #175
@joshix I think its missing them. I did some search and I installed `glibc`. No success so far and I don't know what the last line means. Any ideas ?
[code]
Attempting to run it always gives
[code]

[2015-07-05 23:07] joshix commented on #175
@abiosoft That last line means that the system on which you executed `lld caddy` has a libc that is missing the `__vfprintf_chk` symbol that the dynamic linker expects to find when it attempts to resolve it at runtime for the `caddy` executable.

The system that built that `caddy` executable has some version of libc. Call that system the "build environment". At compile time in the build environmen

[2015-07-06 03:29] abiosoft commented on #175
@joshix Thanks for the explanation. Who says your comments are long ? They are much helpful. :100:
@mholt let's configure the server generating the build to produce static binaries. I think that's our best bet now.

[2015-07-06 14:31] mholt commented on #167
As discussed (thoroughly) in Slack, this isn't trivial.

This is about two things:

1. Changing the site root depending on the request path
2. Enabling path scopes in the Caddyfile

Number 1 might be possible, but requires re-architecting the fileServer somehow, like creating the http.Dir for every request rather than at server startup. Another problem is that variable root paths cause problems wi

[2015-07-06 14:32] mholt commented on #175
@joshix Thanks for the education - I've been learning a lot about static compilation/linking lately.

Today I will be trialling locally with a build server that produces only static binaries.

[2015-07-06 18:19] miko-code commented on #61
Hi ,
Are you still need help to test stuff ?
Where i can find the example test you wrote ?

[2015-07-06 18:27] mholt commented on #61
@miko-code We've made lots of progress, but still need help. For example, https://github.com/mholt/caddy/blob/master/config/setup/root.go needs tests. You can see an example of similar tests here (though these are more complicated): https://github.com/mholt/caddy/blob/master/config/setup/tls_test.go

root.go is super-easy to test and only needs one or a few assertions I think.

[2015-07-07 07:47] coolaj86 commented on #110
I've been able to get the python letsencrypt demo to run successfully https://coolaj86.com/articles/lets-encrypt-on-raspberry-pi/

An interim solution would be to run the python tool manually and have a handler in caddy for `*.acme.invalid` that serves `.well-known/acme-challenge/`.

`letsencrypt` puts the issued certificates in well-defined locations in `/etc/letsencrypt` (see the article) so whe

[2015-07-09 04:51] ElvizLai opened #180 "redir can not handle ?q=abc123"
I need to redid all http to https.
Router handles path well. But it can not handle query after "?"
For example:
http://127.0.0.1:8000?id=001
but after it redirects to https. The query after "?" is missing. It become only https://127.0.0.1:8080

[2015-07-09 04:54] abiosoft commented on #180
oops. Sorry.

[2015-07-09 04:57] abiosoft commented on #180
Have you considered using `proxy` https://caddyserver.com/docs/proxy ?

[2015-07-09 05:05] mholt commented on #180
I think we're talking about redirects, but the query string is not preserved. Could be a bug. @ElvizLai What does the redir line in your Caddyfile look like?

Am traveling right now but will check it out later this week unless somebody beats me to it.

[2015-07-09 05:34] abiosoft commented on #180
I have confirmed this.

Is this supposed to be the default behaviour or it can be configurable.

[2015-07-09 08:08] ElvizLai commented on #180
@mholt Here is my Caddyfile
[code]

@abiosoft I think this should be default behavior. Redirects mean redirect all path to other.

[2015-07-09 08:27] pedronasser commented on #180
@abiosoft I think the full path (including query) should be passed. Unless that behavior is "overwritten".

Example:
[code]

What do you think?

[2015-07-09 09:22] abiosoft commented on #180
Yeah. I think both the request path and query should be passed along except overridden.
So, given a request
[code]
The behaviours will be

config | destination
-------- | --------------
`redir http://newsite.com` | `https://newsite.com/somepath?somequery=someval`
`redir http://newsite.com/newpath` | `https://newsite.com/newpath?somequery=someval`
`redir http://newsite.com/newpath?newquery=newval`

[2015-07-09 09:44] ElvizLai opened #181 "browse works only root dir?"
Here is my Caddyfile

#passed
http://127.0.0.1:8000 {
	browse
}

#passed
http://127.0.0.1:8001 {
	browse / template.tpl
}

#failed photos is a dir in same root with caddy server.
http://127.0.0.1:8002 {
	browse photos template.tpl
}

[2015-07-09 09:49] ElvizLai commented on #181
ops....I know that this func for

[2015-07-09 09:49] #181 closed

[2015-07-09 12:38] mholt commented on #180
Then it is a bug, indeed. Looks like you both figured out the correct behavior - is anyone on this? I can be unless somebody has already started.

[2015-07-09 12:52] mholt commented on #181
No problem. If there's any way we can make the documentation clearer, let us know!

[2015-07-09 21:05] joshix commented on #178
@abiosoft I've been fiddling with this syslog suggestion a little bit, and to satisfy the project's cross-platform goals, I think we may want something like https://github.com/hashicorp/go-syslog, which wraps the standard library `log/syslog` in a way that fails nicely on Windows. Or, say, Plan 9.

Side note: The `hashicorp/go-syslog` `README` mentions OS X as one such place, but I'm not sure why;

[2015-07-10 01:18] ElvizLai opened #182 "Not compatable with ngrok"
![qq20150710-1](https://cloud.githubusercontent.com/assets/501861/8610388/04faa28a-26e4-11e5-8d5e-23314f8ae663.png)

![qq20150710-2](https://cloud.githubusercontent.com/assets/501861/8610448/b724627a-26e4-11e5-8c1a-2bb8c834bf8f.png)

I'm not quite sure this is a caddy bug. So I tried to build a server client by myself with go, the client with ngrok works well.

[2015-07-10 02:33] mholt commented on #182
Huh. That's odd. Thanks for the helpful screenshots!

What if your Caddyfile used :8000 instead of 127.0.0.1:8000? (That should allow requests to any host to connect to it.)

Disclaimer: I've never used ngrok more than just experimentally, so I'm going off intuition here.

[2015-07-10 03:14] ElvizLai commented on #182
@mholt Changing to :8000 works, but this config also expose my port 8000 to public.

[2015-07-10 03:19] mholt commented on #182
Yeah, I wouldn't expect you to have to do that, but it's good to know that works. Will look into the problem more once I'm done traveling. Anyone else that has ideas are welcome to chime in.

[2015-07-10 05:09] mholt commented on #182
Oh. Can you find out what the Host field of the header is that is being sent to Caddy from ngrok? Is it 127.0.0.1 or elvizlai....xyz?

[2015-07-10 08:25] ElvizLai commented on #182
@mholt

![qq20150710-4](https://cloud.githubusercontent.com/assets/501861/8614826/335088b6-2720-11e5-8658-02e172b113a5.png)

![qq20150710-5](https://cloud.githubusercontent.com/assets/501861/8614827/3874baf6-2720-11e5-8b89-9ead127a95e3.png)

[2015-07-10 13:08] mholt commented on #182
Ah. Try setting the host to elvizlai....xyz instead of localhost in your Caddyfile. Then you can use `bind 127.0.0.1` to force the virtualhost to only be accessible to localhost. Let me know if that works.

[2015-07-12 09:39] vedam opened #186 "listing-templates supporting <.include>"
hi,
experimenting through the userguide I stumbled upon including code snippets inside of a listing-template:
[code]
Wouldn't it be useful to reuse some static html-parts (i.e. footer) via <.include> in listing-templates?

[2015-07-12 09:56] vedam commented on #186
In addition to that it costs me a while to figure out, that uncommenting an <.include> in the listing-template seems to getting parsed by the html-parser and results in mentioned 500.
[code]
is this intended?
Special thx to Maxime Lasserre for helping me out here @slack
Thought I'll have to give up   ;-)

[2015-07-12 12:53] ElvizLai commented on #182
I'll try it tomorrow, and give you feedback.

[2015-07-12 14:49] mholt commented on #186
Was this resolved in Slack then @vedam?

[2015-07-13 05:02] ElvizLai commented on #182
@mholt This works!
[code]

[2015-07-13 05:21] mholt commented on #182
Excellent!

[2015-07-13 05:21] #182 closed

[2015-07-13 06:13] vedam commented on #186
Yes, but it's the reason for this question. Solution was:
No outcommented actions inside templates.
And I wondered if that's intended?

[2015-07-13 15:35] mholt commented on #186
To comment template actions, you can do this:

[code]

As far as including, that is currently only supported with the `templates` directive - not yet in `browse` or `markdown` templates. I can see why that would be useful though. Did I understand right, that is what you are asking for?

[2015-07-13 15:42] #180 closed

[2015-07-13 16:32] vedam commented on #186
Yes. That was it:
"..that is currently only supported with the templates directive - not yet in browse or markdown templates." I didn't got that.

I wanted to make a browse-template by my own and tried to use <.include> inside
[code]
This throws the 500-error mentioned at the top.
So I went back to the browse-template and put the {{.include...}} inside a html-comment, assuming, it wouldn't get par

[2015-07-13 16:32] #186 closed

[2015-07-13 17:03] mholt commented on #186
No problem, our documentation needs to improve. Thanks for your efforts! Having your feedback is important to make sure caddy works well for everyone of its target users.

We'll work on adding the .Include action to browse and markdown templates too. @evermax and I will be taking a look at that.

[2015-07-13 17:08] mholt commented on #178
@joshix Awesome, that looks like a fine package to use to accomplish this. I think this adds enough value to the project that we should do this.

Would this basic Caddyfile syntax work well enough? `log syslog` and similarly, for error logging, `errors syslog`

[2015-07-13 17:09] mholt commented on #175
I got static binaries building with the build server in a local VM, but I'm also experimenting with gb to make builds more stable, pending a bug fix. Stay tuned... hopefully will do a release this week either way.

[2015-07-13 17:15] mholt commented on #163
Also, it's worth noting that most major browsers already support most of HTTP/2. Any actions here I think will just be a stop-gap until people update their browsers (which isn't an issue for most people). If this turns out very easy to implement, we can consider it, so I'd still be interested in how you'd like the Caddyfile to look for this feature, otherwise I'm inclined forego this.

Plaintext H

[2015-07-13 17:15] #163 closed

[2015-07-13 17:17] mholt commented on #162
@geewrites Just letting you know, plugins are now doable (see https://github.com/mholt/caddy/wiki/Extending-Caddy). However, I wonder if this is something we can implement in the standard markdown middleware without having to fragment this feature. It's worth waiting until there's a pure Go implementation anyway.

[2015-07-13 17:36] mholt commented on #158
@jpoehls This might make a useful [Caddy add-on](https://github.com/mholt/caddy/wiki/Extending-Caddy).

[2015-07-13 17:37] mholt commented on #148
@deckarep Any luck with this?

[2015-07-13 18:06] joshix commented on #178
@mholt Yes I think that simple consistent form should be enough, because the various *syslogs* are configured in a file in /etc or similar. So configuration of endpoint isn't really needed.

@abiosoft I haven't done anything beyond cursory research of this enhancement so I want to make sure you know I'm not hijacking your claim to it. I'm quite sure you'll write useful code before I do.

[2015-07-13 18:07] abiosoft commented on #178
@joshix go ahead actually. I am currently working on other caddy tools. :)

[2015-07-14 03:51] mholt commented on #97
I will close this until there is more demand to specify client certificates and if there is a feasible way to implement this feature.

[2015-07-14 03:51] #97 closed

[2015-07-14 18:02] geewrites commented on #162
@Mholt, good to know. I agree, fragmenting a core feature would not be helpful. Learning Go is on my list...

[2015-07-14 20:57] mholt commented on #162
Looks like the blackfriday library we already use will support CommonMark in its next major version. https://github.com/russross/blackfriday/issues/114

[2015-07-15 02:13] coolaj86 opened #188 "enable registering tls.Config.GetCertificate middleware"
I want to be able to create a secure static web hosting middleware that would work in this way

1. Check `/srv/www/<<hostname>>`
2. Next on fail
3. On success, serve

The issue is this would also require integration with `tls.Config.GetCertificate` (i.e. to use letsencrypt)

* Something like `Startup` and `Shutdown`

I'm working on a demo of the functionality here: https://github.com/coolaj86/gola

[2015-07-15 02:26] coolaj86 commented on #188
A starting point would be to change the `tls.BuildCertificatesForHostname` (or whatever it's called) to use `GetCertificate`

[2015-07-15 15:23] mholt commented on #175
@joshix Would you give it a try now on the Caddy website? I deployed the changes and recompiled the standard library using CGO_ENABLED=0. Using that same env variable during builds produces static binaries (at least, with the current version of Go and from my own testing) - would you confirm and then feel free to close if fixed?

[2015-07-15 16:01] mholt commented on #180
@ElvizLai The fix is deployed now; feel free to update Caddy.

[2015-07-15 20:49] joshix commented on #175
@mholt Linux x64 is still a dynamically linked executable at caddyserver.com/download/.

I grabbed caddy, no git selected, via browser download from caddyserver/download just now.

[code]

The linux arm and x86 binaries are statically linked as expected. I haven't checked the github download for 0.7.3 yet.

[2015-07-15 21:04] mholt commented on #175
Argh, I tried that same thing and it was static.... looking into it.

[2015-07-15 21:11] mholt commented on #175
@joshix Okay, I don't know why, but I had to run `CGO_ENABLED=0 ./make.bash --no-clean` (which I did already, minus the --no-clean, before running make.bash for all the other platforms). I can't explain why but that seemed to fix it.

Or I'm going crazy. Please confirm.

[2015-07-15 21:23] joshix commented on #175
@mholt LGTM now for Linux x64 binary from caddyserver/download:
[code]

[2015-07-15 21:25] mholt commented on #175
:+1: I've updated my setup script. Consider this case closed.

Thanks for the report, patience, and efforts!

[2015-07-16 06:56] Immortalin commented on #79
@mholt relevant [link](https://news.ycombinator.com/item?id=9891311) on hardening caddy.

[2015-07-16 16:19] ApfelUser opened #189 "Disable HTTP2 for subdomain"
I need to disable HTTP2 for my subdomain `ws.domain.tld` as WebSockets don't seem too work with HTTP2 yet. Is there any way to do that? Couldn't find one in the docs.

[2015-07-16 16:30] mholt commented on #189
Hmm, I thought about that at GopherCon because the whole HTTP/2-WebSockets thing was mentioned... right now the only way I can think of is to run that subdomain on a different instance of Caddy and use the `-http2=false` flag.

[2015-07-16 16:38] norwack commented on #189
@mholt perhaps having an option allowed in the domain blocks, e.g:

[code]

or something like that.

[2015-07-16 16:48] ApfelUser commented on #189
Yes. I really like @norwack's suggestion. Two instances would be possible but I could not let both of them run on standard ports, which would be really annoying.

[2015-07-16 16:52] mholt commented on #189
HTTP/2 is configured at the server-level, not the virtualhost level, meaning that it has to be on or off for the whole server.

Can the client just make an HTTP 1.1 request when initiating a WS connection?

[2015-07-16 16:54] mholt commented on #189
@ApfelUser You should be able to use `bind 0.0.0.0` to hack your way around that port restriction.

[2015-07-16 20:04] ApfelUser commented on #189
@mholt I just tried it and get this error when I start the 2nd process:

[code]

[2015-07-16 20:58] ApfelUser commented on #189
Caddy doesn't even start with a **websocket** directive by the way. It just crashes

[2015-07-16 21:16] mholt commented on #189
@ApfelUser Re: websocket causing it to crash, what's the error message? All tests pass and it runs fine here using websocket.

Also can I get your system information? OS/arch? Privileged or regular user? etc.

[2015-07-16 21:22] ApfelUser commented on #189
I am sorry. It doesn't crash. But it doesn't work and gives a 502 Bad Gateway whenever I use the websocket directive. Also on normal HTML documents or CSS files.

I am using:

 * Debian 8 x64
 * Root user
 * Newest build from download page with git included.

Do you need hardware info too? I doubt it, but you never know :smile:

[2015-07-16 21:25] mholt commented on #189
No, that's fine. Anything in your error log? And you get a 502 serving static files? Sounds like you have a proxy directive in there too. Let me see your Caddyfile, that will help.

[2015-07-16 21:30] ApfelUser commented on #189
It is a NodeJS app. It serves static files which get inaccessible once I use the **websocket** directive.

Caddyfile (Static files work, websockets don't):

[code]

Caddyfile (Static files and websockets don't work):

[code]

Starting 2 caddy processes with `bind 0.0.0.0` for using a HTTP1.1 subdomain (ws.domain.tld) fails with:

[code]

[2015-07-16 21:32] ApfelUser commented on #189
The **error.log** is full with:

[code]

[2015-07-16 21:56] mholt commented on #189
Ohhh, you're **proxying** websockets. It will forward all requests to any of those backends with Connection and Upgrade headers. Have you confirmed that your backends are up?

As for the bind issue, only bind one Caddy instance to 0.0.0.0 - let the other resolve the IP. See if that works.

[2015-07-16 22:07] ApfelUser commented on #189
The backend is definitely online, as I already tried the same thing with NGINX and it works.

I got an error earlier today when I didn't use **bind** due to my hostname resolving to a different IP than the actual one. Which is not true, I've checked that.

[2015-07-16 22:44] ApfelUser commented on #189
@mholt sadly I gotta go to bed. The app I am trying to proxy is **[NodeBB](https://github.com/NodeBB/NodeBB)**. It heavily relies on WebSockets and barely functions without them. I found out you can configure it to use a subdomain for WebSocket requests and tried to do that, but that didn't work as you see in this issue :smile: Normally the WebSockets run over the same domain as the forum itself b

[2015-07-16 22:46] mholt commented on #189
Cool, thanks for the info dump! I'll take a look... no guarantees it'll be tonight or anything, but this is something that I think should be fixed.

[2015-07-17 18:29] ApfelUser commented on #189
@mholt Yeah, it doesn't seems like it is possible to choose a HTTP version with javascript as e.g. this [Google Search](https://www.google.com/search?q=force%20http%20version%20javascript) shows.

[2015-07-17 20:55] mholt commented on #142
Ported it to getcaddy.com for some trial runs. Thanks!

[2015-07-17 20:55] #142 closed

[2015-07-17 21:13] mholt commented on #91
I believe @abiosoft is on this. We want to host a simple Markdown blog on the Caddy website and an index page will be necessary.

[2015-07-17 22:08] Nixtren opened #190 "Caddy support for php-fpm"
Hi,

It seems Caddy only works with the old CGI implementation (php-cgi). If I try to use the new one (php-fpm) I only get a 502 Bad Gateway error. I have checked the active sockets, so that's not the problem.

Socket: 127.0.0.1:9000 (I have also tried with the Unix Socket)

I would appreciate if I could get confirmation on this, otherwise I'm doing something wrong. Thanks for the attention.

P.S:

[2015-07-17 22:19] mholt commented on #190
Hmm, I've actually only ever used php-fpm with it. It should work. What does your Caddyfile look like?

[2015-07-17 22:41] abiosoft commented on #91
Yeah. In progress.

[2015-07-17 22:44] mholt commented on #140
Got this working on the build server locally, will update automate.sh next. Right now it assumes .tar.gz for linux, freebsd, and openbsd, and .zip for all the others.

@coolaj86 and @abiosoft - do you think it is necessary to add a query string parameter to the endpoint to allow people to force either format?

[2015-07-17 22:49] abiosoft commented on #190
Same here, I have only used it with php-fpm. However, I've seen someone on Windows that uses php-cgi without issues too.

[2015-07-18 02:58] mholt opened #191 "Implement ETag"
ETags aren't my favorite caching mechanism because all the heavy lifting is done by the server, but it might be worth looking into doing them anyway. Do we do strong ETags or weak ones? Should this be customizable from the Caddyfile? What are the default settings? How do we cache the computed ETags?

The Go standard library supports ETag and If-Modified-Since headers, but we need to do our part to

[2015-07-18 03:06] mholt commented on #10
Perhaps an easier start to this middleware would be to implement some basic caching headers like ETag, Expires, Last-Modified, etc. See #191 for possible related discussion.

[2015-07-18 09:13] bigtan opened #193 "runtime error"
18/Jul/2015:17:10:00 +0800 [PANIC /] /usr/local/go/src/sync/atomic/asm_386.s:118 - runtime error: invalid memory address or nil pointer dereference

My server is Debian 7.5.0 x64, I download the caddy file from github.com and the error above is reported.

Maybe I need to compile it from source.

[2015-07-18 09:15] #193 closed

[2015-07-18 13:02] Nixtren commented on #190
Thanks for the answers. This is my Caddyfile:

0.0.0.0:2015
fastcgi / 127.0.0.1:9000 php

[2015-07-18 13:43] abiosoft commented on #190
Have you tried connecting with nginx ? Just for confirmation if php-fpm is running correctly.

[2015-07-18 14:37] Nixtren commented on #190
It's strange. It works in nginx with the following configuration:
[code]
But if I take the fastcgi_param lines it stops working. An easy solution would be Caddy to pass these FastCGI params to php-fpm.

I have also managed to get Caddy working with php-fpm without passing the FastCGI params, to do that I had to put the Caddy executable in the nginx document root folder and run it under the user ww

[2015-07-18 14:51] mholt commented on #193
You closed this issue. Did you figure out what was wrong?

Did you download the master branch or the api branch? What does your Caddyfile look like?

[2015-07-18 14:54] mholt commented on #190
Yeah, php-fpm is a beast. You might be able to glean more information from a Caddy error log, if you use `errors error.log` in your Caddyfile then try a request.

The php preset does configure a couple things related to what nginx does with fastcgi_params, see [the docs for fastcgi](http://caddyserver.com/docs/fastcgi). Also, try renaming php.php to something else, like test.php... just to experim

[2015-07-18 15:04] Nixtren commented on #190
Caddy error:
[code]
It seems PHP can't find the script, the same happens with nginx if I change the document root folder to match Caddy's folder. So, looks like a permission issue and not Caddy's problem itself. All files have to be from the user www-data. By the way, I can run Caddy as root to serve the document root folder owned by www-data and it works normally.

[2015-07-18 16:09] Nixtren opened #194 "Rate limiting (suggestion)"
Hi,

Are there any plans for rate limiting? This could be useful to deal with DoS attacks. For example, there could be an option to limit an IP address to only allow to make 2 requests per second via FastCGI (static files could have a larger limit).

[2015-07-18 16:49] mholt commented on #79
There are a few different things to consider:

- Timeout (what kind of timeouts?)
- Max body size of requests
- Rate limiting

How should these be implemented? What would the defaults be? How should it be configurable?

[2015-07-18 16:50] mholt commented on #194
Good idea, in fact you're not the first to suggest it. See #79 where we can carry on the discussion on how to best implement this.

[2015-07-18 16:50] #194 closed

[2015-07-18 17:00] Nixtren commented on #79
The following text applies to rate limiting when Caddy is running in "server mode" (as opposed to a reverse proxy):

There could be an option in Caddyfile to specify the maximum amount of requests an IP address could do per second (or even per minute). The default of 2 requests per second via FastCGI seems to be enough for most websites. 50 requests per second for static files (JS, CSS, etc) shoul

[2015-07-18 18:21] bigtan commented on #193
@mholt Yes, I just change the architectures of my server, so it is my mistake.

[2015-07-18 18:33] bigtan opened #195 "Non standard ssl port issue"
I try to make caddy a frontend for my apache2 server which will host a wordpress site.

I configure the apache with ssl on non standard port which is port 444, which means I can view my website through https://mydomain.com:444. It works well.

Then I make caddy listen port 443 and configure it to proxy https://mydomain.com:444 and I set the Host to mydomain.com, as I expected, when I enter the url

[2015-07-18 19:00] bigtan commented on #195
I think the key point is, whether caddy support `proxy / https://mydomain.com:444`, Maybe it is not.

[2015-07-18 22:54] lozandier commented on #163
Yeah, I've been stuck with how it would look like to match the intuitiveness of the current API of the caddy file that's also friendly to designers & bloggers.

Perhaps something like the following snippet demonstrates?
[code]

[2015-07-19 00:01] mholt commented on #163
I think you're on to something. This could be an add-on Caddy package that simply does redirection or rewriting... Probably rewriting, which is internal.

[2015-07-20 18:34] mholt commented on #195
Do you see any output in the console like this?

[code]

Anyway, I was able to duplicate the error, but I'm using a self-signed certificate for testing purposes. In the browser you can bypass the warning, but Caddy is not programmed to bypass certificate errors.

As for the Host in the response, I may need to tweak some proxying headers. Let me know about the console error messages and if your cer

[2015-07-20 18:35] mholt commented on #190
Mention what, where, exactly? I'm still not clear as to whether this is a php-fpm, file permissions, or Caddy issue. You aren't able to run Caddy as www-data? Are the error messages always the same?

[2015-07-20 19:15] Nixtren commented on #190
The issue can be considered resolved as I'm able to run Caddy as www-data and is able to serve the PHP files normally (assuming the files are in a folder owned by www-data too). However, I still have to go deeper in this to see if it's just a permissions problem or the parameters passed by nginx to php-fpm do some difference (the difference between running the PHP script or throwing an error due t

[2015-07-20 20:15] mholt commented on #190
Okay. Thanks for your detective work and answering my questions. :+1: Let me know if there's any other way we can help!

[2015-07-21 16:05] bigtan commented on #195
Not at all. I didn't see such errors. All the errors I say is that the backend unreachable.

BTW: I use COMODO ssl certificate. And the site works well from the Internet when access by https://mydomain.com:444. And when I change the `proxy / https://mydomain.com:444` to `proxy / https://www.google.com` it works well too.

[2015-07-24 01:05] mholt commented on #195
Well, I'm stumped. I can't reproduce this error. If you'd like, I could use your same domain name as you are using and try to see what's going on. You may email your Caddyfile to me or we can set up a time for a chat on my private server.

[2015-07-24 16:27] mholt commented on #195
Also, what version of Caddy are you using?

[2015-07-24 21:42] redbeard0x0a opened #199 "Support to reverse proxy into Docker Containers"
A useful feature that would be good to use Caddy as the frontend server in front of 1+ Docker Hosts (or Docker Swarm).

The caddy configuration file would have one or more docker hosts specified so that specifically tagged/named docker container instances running on those hosts could be looked up based on the Host header requested via HTTP. When a request comes in, take the Host header and do a lo

[2015-07-25 04:11] bigtan commented on #195
The latest release version.

[2015-07-25 17:41] Alienero opened #200 "maybe you could use godep manage third dependency"

[2015-07-25 20:39] mholt commented on #200
Yeah, this is something we're looking into. We'll probably have dependencies pinned down before we reach 1.0.

[2015-07-25 20:47] jpoehls opened #201 "Plugin for generating podcast feeds"
This is a proposal for a new add-on. I don't have time to work on it myself right now but would like to get the spec flushed out and help in any other way I can.

Read, comment, let's get all the details ironed out so it is easy for someone to pick up and implement!

# Use case

Generates RSS and Atom podcast feeds from a directory of audio files.

- Simple podcast serving
- Simple way to create p

[2015-07-26 00:39] mholt commented on #195
@bigtan Okay. Well, this is really bothering me. I'd like to see exactly what you're seeing (since I can't seem to reproduce the same problem). Would you like to show me? Feel free to start a private chat at [matt.chat](http://matt.chat) and if I'm not online, send me an email or something and we can schedule a chat if you'd like.

[2015-07-26 19:42] nudzo commented on #176
uWSGI is quite sufficient for Python web apps. This is what is included in default nginx - bundled plugin. Python web app then runs under separate daemon: https://github.com/unbit/uwsgi Static content best be served by webserver, not via uWSGI.

[2015-07-26 20:06] nudzo commented on #191
Let's get inspired by nginx having its ETags looking like: "554b73dc-6f0d" 1st part is last modification timestamp and 2nd is file size. Both you have just when opening file, no computation needed, so caching this makes no sense.

[2015-07-26 20:12] mholt commented on #191
That's a good idea. I'm down for simple and effective. I need to look into this more, but why is the modified date and file size both used? Are both needed?

[2015-07-26 20:20] nudzo commented on #191
In fact last_mod should change anytime you write something... but that's in seconds... in one second you can write few hundreds megs. Found it here: http://serverfault.com/questions/690341/algorithm-behind-nginx-etag-generation

[2015-07-26 20:24] mholt commented on #191
That makes sense. I need to figure out how to best integrate this with a "cache" or "caching" directive (which one?)

[2015-07-26 20:33] nudzo commented on #191
As far as I remember ETag is not conditionally send on caching headers send by client. It can be send together with *modified* headers. Primary idea in RFCs was to send MD5 of content, but that's heavy to compute especially for bigger files. Btw nginx generate this just for static content and when you look at docs, it is just on/off tag in context of http or server or location.

[2015-07-26 20:50] mholt commented on #191
So maybe it's a good idea to just send ETag from within the file server by default. That way, the client may use it but it doesn't have to. I'll need to investigate more if other caching related headers should be used similarly.

[2015-07-26 21:22] nudzo commented on #191
It's quite tricky. Client (browser) would work OK, but there would be some Squiq (whatever proxy) in between and there can be confusion. It is worth to be able switch on/off in config and may be best by URI. ETag comes usually with something like *expires* in nginx, that add/append_to header `Cache-Control: max-age=86400` (1d for example). If you are doing site deploy once a day, then tell explici

[2015-07-27 15:14] jpoehls commented on #167
@mholt: Here's my simple use case. I have a Django app and want to Caddy to serve it. This means:

1. Proxy anything under `/` to my Django
2. Serve anything under `/static` directly from Caddy as static files

So for that to work I need to have different directives for different paths under the same host. I think it is a pretty necessary use case as well since, at least in the Django case, it isn

[2015-07-27 20:49] mholt commented on #167
@jpoehls So if I understand correctly, you need to proxy everything not in `/static` to Django?

What if your site was structured so that the dynamic part was in `/django` or something, then you could just proxy that?

[2015-07-27 20:55] jpoehls commented on #167
That'd work of course but doesn't seem practical. If the entire app is Django then the default route will be a Django view, `/`, and with that proposal you couldn't have it served by Caddy at all unless you redirected `/` to `/app` or something silly like that.

[2015-07-27 21:01] jpoehls commented on #167
This seems like it may work. Probably needs tweaked to rewrite all paths under `/` properly.

[code]

[2015-07-27 21:41] mholt commented on #167
Hmm, would using `without /server` work (in the [proxy](https://caddyserver.com/docs/proxy) directive)?

[2015-07-27 23:39] mholt commented on #167
Oops, somehow I didn't see your gist above. :see_no_evil: That looks like a good example - I'll take a closer look at that,

[2015-07-28 19:32] mholt commented on #162
I'm going to label this as deferred and close it since I'm not personally interested in implementing CommonMark, but will wait for it to be supported by blackfriday (if you want it sooner, feel free to jump over to that project and help it along). However, I'll keep my eye on blackfriday, and when its 2.0 is ready, we'll look at upgrading. Thanks for the suggestion!